Repository getsentry/sentry: changes, and which pre-commit hooks are due for each by the changed paths.
All: pyupgrade, isort, flake8, mypy, lint-requirements, requirements-overrides, check-mypy-bypass, sort-stronger-mypy-list, check-mypy-stronglist, biome, eslint, stylelint, prettier

Path conditions:
  pyupgrade: any of: \.py$, but not: (?x)(
    LICENSE.md$|
    \.snap$|
    \.map$|
    \.map\.js$|
    ^src/sentry/static/sentry/vendor/|
    ^src/.*/locale/|
    ^src/sentry/data/
)

  isort: any of: \.py$, but not: (?x)(
    LICENSE.md$|
    \.snap$|
    \.map$|
    \.map\.js$|
    ^src/sentry/static/sentry/vendor/|
    ^src/.*/locale/|
    ^src/sentry/data/
)

  flake8: any of: \.py$, but not: (?x)(
    LICENSE.md$|
    \.snap$|
    \.map$|
    \.map\.js$|
    ^src/sentry/static/sentry/vendor/|
    ^src/.*/locale/|
    ^src/sentry/data/
)

  mypy: any of: \.py$, but not: (?x)(
    LICENSE.md$|
    \.snap$|
    \.map$|
    \.map\.js$|
    ^src/sentry/static/sentry/vendor/|
    ^src/.*/locale/|
    ^src/sentry/data/
)

  lint-requirements: any of: requirements-.*\.txt$ and not (^requirements-getsentry-overrides\.txt$) and not ((?x)(
    LICENSE.md$|
    \.snap$|
    \.map$|
    \.map\.js$|
    ^src/sentry/static/sentry/vendor/|
    ^src/.*/locale/|
    ^src/sentry/data/
)
)
  requirements-overrides: any of: ^requirements-getsentry-overrides\.txt$, but not: (?x)(
    LICENSE.md$|
    \.snap$|
    \.map$|
    \.map\.js$|
    ^src/sentry/static/sentry/vendor/|
    ^src/.*/locale/|
    ^src/sentry/data/
)

  check-mypy-bypass: any of: \.py$, but not: (?x)(
    LICENSE.md$|
    \.snap$|
    \.map$|
    \.map\.js$|
    ^src/sentry/static/sentry/vendor/|
    ^src/.*/locale/|
    ^src/sentry/data/
)

  sort-stronger-mypy-list: any of: ^pyproject\.toml$, but not: (?x)(
    LICENSE.md$|
    \.snap$|
    \.map$|
    \.map\.js$|
    ^src/sentry/static/sentry/vendor/|
    ^src/.*/locale/|
    ^src/sentry/data/
)

  check-mypy-stronglist: any of: ^pyproject\.toml$, but not: (?x)(
    LICENSE.md$|
    \.snap$|
    \.map$|
    \.map\.js$|
    ^src/sentry/static/sentry/vendor/|
    ^src/.*/locale/|
    ^src/sentry/data/
)

  biome: any of: \.(jsx?|tsx?|css)$, but not: (?x)(
    LICENSE.md$|
    \.snap$|
    \.map$|
    \.map\.js$|
    ^src/sentry/static/sentry/vendor/|
    ^src/.*/locale/|
    ^src/sentry/data/
)

  eslint: any of: \.[jt]sx?$, but not: (?x)(
    LICENSE.md$|
    \.snap$|
    \.map$|
    \.map\.js$|
    ^src/sentry/static/sentry/vendor/|
    ^src/.*/locale/|
    ^src/sentry/data/
)

  stylelint: any of: \.[jt]sx?$, but not: (?x)(
    LICENSE.md$|
    \.snap$|
    \.map$|
    \.map\.js$|
    ^src/sentry/static/sentry/vendor/|
    ^src/.*/locale/|
    ^src/sentry/data/
)

  prettier: any of: \.(yaml|yml)$, \.(md|markdown|mdown)$, \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.css$ and not ((?x)^($^
  # prettier crashes on some of these, by intent:
  |fixtures/.*
  # these have enormous diffs when formatted:
  |api-docs/paths/events/issue-hashes\.json
  |api-docs/paths/events/latest-event\.json
  |api-docs/paths/events/oldest-event\.json
  |api-docs/paths/events/project-event-details\.json
  |src/sentry/issues/event\.schema\.json
  |static/app/data/world\.json
  |static/app/utils/profiling/profile/formats/android/trace\.json
  |static/app/utils/profiling/profile/formats/ios/trace\.json
  |static/app/utils/profiling/profile/formats/node/trace\.json
  |static/app/utils/profiling/profile/formats/typescript/trace\.json
)$
) and not ((?x)(
    LICENSE.md$|
    \.snap$|
    \.map$|
    \.map\.js$|
    ^src/sentry/static/sentry/vendor/|
    ^src/.*/locale/|
    ^src/sentry/data/
)
)

chore(escalating): Remove feature flag for new issue escalation (#75461)
  src/sentry/api/serializers/models/project.py
  src/sentry/features/temporary.py
  src/sentry/options/defaults.py
  src/sentry/tasks/post_process.py
  tests/sentry/tasks/test_post_process.py
Due: pyupgrade, isort, flake8, mypy, check-mypy-bypass

refactor step 1
  src/sentry/incidents/endpoints/organization_alert_rule_index.py
Due: pyupgrade, isort, flake8, mypy, check-mypy-bypass

ref: use --output=json for make_module_ignores
  tools/mypy_helpers/make_module_ignores.py
Due: pyupgrade, isort, flake8, mypy, check-mypy-bypass

oops
  static/app/views/alerts/rules/issue/ruleNodeList.tsx
Due: biome, eslint, stylelint, prettier

ref(alerts): Refactor isIssueAlert to use type property (#75080)
  static/app/views/alerts/list/rules/alertRulesList.spec.tsx
  static/app/views/alerts/rules/metric/details/header.tsx
  static/app/views/alerts/utils/index.tsx
Due: biome, eslint, stylelint, prettier

ref: fix all [list-item] mypy errors in ignored files
  pyproject.toml
  src/sentry/api/endpoints/organization_events_facets_performance.py
  src/sentry/integrations/slack/views/link_identity.py
  src/sentry/integrations/slack/webhooks/action.py
  src/sentry/middleware/ratelimit.py
  src/sentry/scim/endpoints/utils.py
  src/sentry/search/events/fields.py
  src/sentry/search/events/filter.py
  src/sentry/testutils/cases.py
Due: pyupgrade, isort, flake8, mypy, check-mypy-bypass, sort-stronger-mypy-list, check-mypy-stronglist

ref(alerts): Send historical data to Seer on update
  src/sentry/incidents/logic.py
  tests/sentry/incidents/test_logic.py
Due: pyupgrade, isort, flake8, mypy, check-mypy-bypass

Working start/stop links
  static/app/components/devtoolbar/components/replay/replayPanel.tsx
Due: biome, eslint, stylelint, prettier

Cleanup todos
  static/app/components/devtoolbar/components/replay/replayPanel.tsx
Due: biome, eslint, stylelint, prettier

feat(query-builder): Move filter value suggestion and validation logic into own files
  static/app/components/searchQueryBuilder/index.spec.tsx
  static/app/components/searchQueryBuilder/index.stories.tsx
  static/app/components/searchQueryBuilder/tokens/filter/functionDescription.tsx
  static/app/components/searchQueryBuilder/tokens/freeText.tsx
Due: biome, eslint, stylelint, prettier

Removing separators
  src/sentry/runner/commands/presenters/webhookpresenter.py
Due: pyupgrade, isort, flake8, mypy, check-mypy-bypass

nit: Switch endpoint to early return (#75506)
  src/sentry/incidents/endpoints/organization_alert_rule_index.py
Due: pyupgrade, isort, flake8, mypy, check-mypy-bypass

transferred task logic for general integrations tasks to new locations
  src/sentry/api/bases/group.py
  src/sentry/api/helpers/group_index/update.py
  src/sentry/event_manager.py
  src/sentry/integrations/bitbucket/integration.py
  src/sentry/integrations/bitbucket_server/integration.py
  src/sentry/integrations/github/integration.py
  src/sentry/integrations/mixins/issues.py
  src/sentry/integrations/tasks/__init__.py
  src/sentry/integrations/tasks/create_comment.py
  src/sentry/integrations/tasks/kick_off_status_syncs.py
  src/sentry/integrations/tasks/migrate_repo.py
  src/sentry/integrations/tasks/sync_assignee_outbound.py
  src/sentry/integrations/tasks/sync_status_inbound.py
  src/sentry/integrations/tasks/sync_status_outbound.py
  src/sentry/integrations/tasks/update_comment.py
  src/sentry/integrations/utils/sync.py
  src/sentry/integrations/vsts/integration.py
  src/sentry/integrations/vsts/tasks/subscription_check.py
  src/sentry/issues/status_change.py
  src/sentry/models/release.py
  src/sentry/tasks/auto_resolve_issues.py
  src/sentry/tasks/integrations/__init__.py
  src/sentry/tasks/integrations/create_comment.py
  src/sentry/tasks/integrations/kick_off_status_syncs_impl.py
  src/sentry/tasks/integrations/migrate_repo.py
  src/sentry/tasks/integrations/sync_assignee_outbound_impl.py
  src/sentry/tasks/integrations/sync_status_inbound.py
  src/sentry/tasks/integrations/sync_status_outbound.py
  src/sentry/tasks/integrations/update_comment.py
Due: pyupgrade, isort, flake8, mypy, check-mypy-bypass

fix typing
  src/sentry/integrations/github/client.py
  src/sentry/integrations/github/utils.py
  src/sentry/shared_integrations/client/base.py
Due: pyupgrade, isort, flake8, mypy, check-mypy-bypass

feat(uptime): Add uptime alert row to alert list
  static/app/views/alerts/list/rules/alertRulesList.tsx
  static/app/views/alerts/list/rules/combinedAlertBadge.tsx
  static/app/views/alerts/list/rules/row.tsx
  static/app/views/alerts/list/rules/utils.tsx
  static/app/views/alerts/rules/uptime/types.tsx
  static/app/views/alerts/types.tsx
  static/app/views/alerts/utils/index.tsx
Due: biome, eslint, stylelint, prettier

fix(trace) scroll on load
  static/app/views/performance/newTraceDetails/index.tsx
Due: biome, eslint, stylelint, prettier

feat(uptime): Add uptime alert row to alert list (#75086)
  static/app/views/alerts/list/rules/alertRulesList.tsx
  static/app/views/alerts/list/rules/combinedAlertBadge.tsx
  static/app/views/alerts/list/rules/row.tsx
  static/app/views/alerts/list/rules/utils.tsx
  static/app/views/alerts/rules/uptime/types.tsx
  static/app/views/alerts/types.tsx
  static/app/views/alerts/utils/index.tsx
Due: biome, eslint, stylelint, prettier

chore(uptime): Bump sample rate for metric collection
  src/sentry/uptime/consumers/results_consumer.py
  src/sentry/uptime/detectors/tasks.py
  src/sentry/uptime/subscriptions/tasks.py
Due: pyupgrade, isort, flake8, mypy, check-mypy-bypass

forgot the return again ;-;
  src/sentry/tasks/integrations/sync_status_outbound.py
Due: pyupgrade, isort, flake8, mypy, check-mypy-bypass

docs(api): Update API docs for issue details (#75505)
  api-docs/components/schemas/issue.json
Due: none

fix(trace) scroll on load
  static/app/views/performance/newTraceDetails/index.tsx
  static/app/views/performance/newTraceDetails/trace.tsx
Due: biome, eslint, stylelint, prettier

feat(uptime): Add uptime alert fixture
  tests/js/fixtures/uptimeRule.ts
Due: biome, eslint, stylelint, prettier

feat(uptime): Add uptime alert fixture (#75308)
  tests/js/fixtures/uptimeRule.ts
Due: biome, eslint, stylelint, prettier

Update tests that expect the issue to be ONGOING
  src/sentry/testutils/cases.py
  tests/sentry/integrations/slack/test_message_builder.py
  tests/sentry/integrations/slack/webhooks/actions/test_status.py
  tests/sentry/tasks/test_weekly_reports.py
Due: pyupgrade, isort, flake8, mypy, check-mypy-bypass

fix(trace) check for pageload count instead of child count
  static/app/views/performance/newTraceDetails/traceModels/traceTree.tsx
Due: biome, eslint, stylelint, prettier

fix tests
  tests/sentry/uptime/consumers/test_results_consumers.py
  tests/sentry/uptime/subscriptions/test_tasks.py
Due: pyupgrade, isort, flake8, mypy, check-mypy-bypass

Fix typing
  src/sentry/tasks/post_process.py
Due: pyupgrade, isort, flake8, mypy, check-mypy-bypass

ci: replace setup-volta with setup-node (#75466)
  .github/workflows/acceptance.yml
  .github/workflows/backend.yml
  .github/workflows/frontend.yml
  .github/workflows/jest-balance.yml
  .github/workflows/openapi-diff.yml
  .github/workflows/openapi.yml
  .github/workflows/pre-commit.yml
  .github/workflows/self-hosted.yml
  .github/workflows/sync-labels.yml
Due: prettier

chore(uptime): Bump sample rate for metric collection (#75512)
  src/sentry/uptime/consumers/results_consumer.py
  src/sentry/uptime/detectors/tasks.py
  src/sentry/uptime/subscriptions/tasks.py
  tests/sentry/uptime/consumers/test_results_consumers.py
  tests/sentry/uptime/subscriptions/test_tasks.py
Due: pyupgrade, isort, flake8, mypy, check-mypy-bypass

refactor send_historical_data_to_seer, update tests, move code to functions
  src/sentry/incidents/logic.py
  src/sentry/seer/anomaly_detection/store_data.py
  src/sentry/seer/anomaly_detection/types.py
  tests/sentry/incidents/test_logic.py
  tests/sentry/seer/anomaly_detection/test_store_data.py
Due: pyupgrade, isort, flake8, mypy, check-mypy-bypass

typing
  src/sentry/incidents/logic.py
  src/sentry/seer/anomaly_detection/types.py
Due: pyupgrade, isort, flake8, mypy, check-mypy-bypass

update should update seer
  src/sentry/incidents/logic.py
Due: pyupgrade, isort, flake8, mypy, check-mypy-bypass
