Repository getsentry/sentry: changes, and which pre-commit hooks are due for each by the changed paths.
All: pyupgrade, isort, flake8, mypy, lint-requirements, requirements-overrides, check-mypy-bypass, sort-stronger-mypy-list, check-mypy-stronglist, biome, eslint, stylelint, prettier

Path conditions:
  pyupgrade: any of: \.py$, but not: (?x)(
    LICENSE.md$|
    \.snap$|
    \.map$|
    \.map\.js$|
    ^src/sentry/static/sentry/vendor/|
    ^src/.*/locale/|
    ^src/sentry/data/
)

  isort: any of: \.py$, but not: (?x)(
    LICENSE.md$|
    \.snap$|
    \.map$|
    \.map\.js$|
    ^src/sentry/static/sentry/vendor/|
    ^src/.*/locale/|
    ^src/sentry/data/
)

  flake8: any of: \.py$, but not: (?x)(
    LICENSE.md$|
    \.snap$|
    \.map$|
    \.map\.js$|
    ^src/sentry/static/sentry/vendor/|
    ^src/.*/locale/|
    ^src/sentry/data/
)

  mypy: any of: \.py$, but not: (?x)(
    LICENSE.md$|
    \.snap$|
    \.map$|
    \.map\.js$|
    ^src/sentry/static/sentry/vendor/|
    ^src/.*/locale/|
    ^src/sentry/data/
)

  lint-requirements: any of: requirements-.*\.txt$ and not (^requirements-getsentry-overrides\.txt$) and not ((?x)(
    LICENSE.md$|
    \.snap$|
    \.map$|
    \.map\.js$|
    ^src/sentry/static/sentry/vendor/|
    ^src/.*/locale/|
    ^src/sentry/data/
)
)
  requirements-overrides: any of: ^requirements-getsentry-overrides\.txt$, but not: (?x)(
    LICENSE.md$|
    \.snap$|
    \.map$|
    \.map\.js$|
    ^src/sentry/static/sentry/vendor/|
    ^src/.*/locale/|
    ^src/sentry/data/
)

  check-mypy-bypass: any of: \.py$, but not: (?x)(
    LICENSE.md$|
    \.snap$|
    \.map$|
    \.map\.js$|
    ^src/sentry/static/sentry/vendor/|
    ^src/.*/locale/|
    ^src/sentry/data/
)

  sort-stronger-mypy-list: any of: ^pyproject\.toml$, but not: (?x)(
    LICENSE.md$|
    \.snap$|
    \.map$|
    \.map\.js$|
    ^src/sentry/static/sentry/vendor/|
    ^src/.*/locale/|
    ^src/sentry/data/
)

  check-mypy-stronglist: any of: ^pyproject\.toml$, but not: (?x)(
    LICENSE.md$|
    \.snap$|
    \.map$|
    \.map\.js$|
    ^src/sentry/static/sentry/vendor/|
    ^src/.*/locale/|
    ^src/sentry/data/
)

  biome: any of: \.(jsx?|tsx?|css)$, but not: (?x)(
    LICENSE.md$|
    \.snap$|
    \.map$|
    \.map\.js$|
    ^src/sentry/static/sentry/vendor/|
    ^src/.*/locale/|
    ^src/sentry/data/
)

  eslint: any of: \.(ts|js|tsx|jsx|mjs)$, but not: (?x)(
    LICENSE.md$|
    \.snap$|
    \.map$|
    \.map\.js$|
    ^src/sentry/static/sentry/vendor/|
    ^src/.*/locale/|
    ^src/sentry/data/
)

  stylelint: any of: \.[jt]sx?$, but not: (?x)(
    LICENSE.md$|
    \.snap$|
    \.map$|
    \.map\.js$|
    ^src/sentry/static/sentry/vendor/|
    ^src/.*/locale/|
    ^src/sentry/data/
)

  prettier: any of: \.(yaml|yml)$, \.(md|markdown|mdown)$, \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.css$ and not ((?x)^($^
  # prettier crashes on some of these, by intent:
  |fixtures/.*
  # these have enormous diffs when formatted:
  |api-docs/paths/events/issue-hashes\.json
  |api-docs/paths/events/latest-event\.json
  |api-docs/paths/events/oldest-event\.json
  |api-docs/paths/events/project-event-details\.json
  |src/sentry/issues/event\.schema\.json
  |static/app/data/world\.json
  |static/app/utils/profiling/profile/formats/android/trace\.json
  |static/app/utils/profiling/profile/formats/ios/trace\.json
  |static/app/utils/profiling/profile/formats/node/trace\.json
  |static/app/utils/profiling/profile/formats/typescript/trace\.json
)$
) and not ((?x)(
    LICENSE.md$|
    \.snap$|
    \.map$|
    \.map\.js$|
    ^src/sentry/static/sentry/vendor/|
    ^src/.*/locale/|
    ^src/sentry/data/
)
)

chore(HC): Adds span data for option store cache misses
  src/sentry/options/store.py
Due: pyupgrade, isort, flake8, mypy, check-mypy-bypass

:lipstick: style
  static/app/views/insights/sessions/views/overview.tsx
Due: biome, eslint, stylelint, prettier

ref: remove unused SENTRY_PUBLIC / SENTRY_PUBLIC_ENDPOINT
  src/sentry/conf/server.py
  src/sentry/models/organization.py
  src/sentry/models/projectkey.py
  src/sentry/models/team.py
  src/sentry/organizations/services/organization/impl.py
  src/sentry/testutils/pytest/sentry.py
  tests/sentry/models/test_projectkey.py
Due: pyupgrade, isort, flake8, mypy, check-mypy-bypass

feat(eap-spans): implement `time_spent_percentage` (#88117)
  src/sentry/search/eap/columns.py
  src/sentry/search/eap/resolver.py
  src/sentry/search/eap/spans/formulas.py
  src/sentry/snuba/referrer.py
  tests/snuba/api/endpoints/test_organization_events_span_indexed.py
  tests/snuba/api/endpoints/test_organization_events_stats_span_indexed.py
Due: pyupgrade, isort, flake8, mypy, check-mypy-bypass

fix: typing
  src/sentry/incidents/logic.py
  src/sentry/snuba/uptime_checks.py
Due: pyupgrade, isort, flake8, mypy, check-mypy-bypass

fix typing with enum
  src/sentry/sentry_apps/external_issues/issue_link_creator.py
  tests/sentry/sentry_apps/external_requests/test_issue_link_requester.py
Due: pyupgrade, isort, flake8, mypy, check-mypy-bypass

export symbols
  src/sentry/tasks/auth/__init__.py
Due: pyupgrade, isort, flake8, mypy, check-mypy-bypass

ref: upgrade flake8 to 7.2.0 (#88359)
  requirements-dev-frozen.txt
  requirements-dev.txt
Due: lint-requirements

handle gifted units
  static/gsApp/views/subscriptionPage/usageTotals.spec.tsx
  static/gsApp/views/subscriptionPage/usageTotals.tsx
Due: biome, eslint, stylelint, prettier

feat(pipeline) Add pipeline page - Round 2 (#88324)
  static/app/views/pipeline/index.spec.tsx
  static/app/views/pipeline/index.tsx
Due: biome, eslint, stylelint, prettier

fix: typing post merge
  src/sentry/search/eap/spans/formulas.py
Due: pyupgrade, isort, flake8, mypy, check-mypy-bypass

feature flag
  src/sentry/api/endpoints/organization_member_invite/index.py
  src/sentry/features/temporary.py
  tests/sentry/api/endpoints/test_organization_member_invite_index.py
Due: pyupgrade, isort, flake8, mypy, check-mypy-bypass

typing
  src/sentry/tasks/auth/__init__.py
Due: pyupgrade, isort, flake8, mypy, check-mypy-bypass

chore(billing): Use budgetTerm
  static/app/views/performance/newTraceDetails/traceTypeWarnings/errorsOnlyWarnings.tsx
  static/app/views/performance/newTraceDetails/traceTypeWarnings/usePerformanceSubscriptionDetails.tsx
  static/gsAdmin/components/customers/pendingChanges.tsx
  static/gsApp/__fixtures__/plan.tsx
  static/gsApp/components/addEventsCTA.tsx
  static/gsApp/components/crons/cronsBillingBanner.tsx
  static/gsApp/components/cronsOnDemandStepWarning.tsx
  static/gsApp/components/gsBanner.tsx
  static/gsApp/components/performance/quotaExceededAlert.tsx
  static/gsApp/types/index.tsx
  static/gsApp/views/amCheckout/steps/reviewAndConfirm.tsx
  static/gsApp/views/onDemandBudgets/index.tsx
  static/gsApp/views/onDemandBudgets/onDemandBudgetEdit.tsx
  static/gsApp/views/onDemandBudgets/onDemandBudgetEditModal.tsx
  static/gsApp/views/onDemandBudgets/utils.tsx
  static/gsApp/views/spendAllocations/rootAllocationCard.tsx
  static/gsApp/views/subscriptionPage/headerCards/usageCard.tsx
  static/gsApp/views/subscriptionPage/notifications.tsx
  static/gsApp/views/subscriptionPage/onDemandSettings.tsx
  static/gsApp/views/subscriptionPage/pendingChanges.tsx
  static/gsApp/views/subscriptionPage/reservedUsageChart.tsx
  static/gsApp/views/subscriptionPage/usageHistory.tsx
  static/gsApp/views/subscriptionPage/usageTotals.tsx
  tests/js/getsentry-test/fixtures/am1Plans.ts
  tests/js/getsentry-test/fixtures/am2Plans.ts
  tests/js/getsentry-test/fixtures/am3Plans.ts
  tests/js/getsentry-test/fixtures/mm1Plans.ts
  tests/js/getsentry-test/fixtures/mm2Plans.ts
Due: biome, eslint, stylelint, prettier

fix(top-events): Handle values better in top events (#88249)
  src/sentry/api/event_search.py
  src/sentry/snuba/spans_rpc.py
  tests/snuba/api/endpoints/test_organization_events_stats_span_indexed.py
Due: pyupgrade, isort, flake8, mypy, check-mypy-bypass

theme: disallow theme imports
  eslint.config.mjs
  static/app/chartcuterie/config.tsx
  static/app/components/stories/themeToggle.tsx
  static/app/components/tours/components.tsx
  static/app/utils/theme/useThemeSwitcher.tsx
  static/app/views/issueDetails/issueDetailsTourModal.tsx
  static/app/views/nav/tour/tourModal.tsx
Due: biome, eslint, stylelint, prettier

Handle Retry errors from celery in taskworker
  src/sentry/taskworker/retry.py
  tests/sentry/taskworker/test_task.py
Due: pyupgrade, isort, flake8, mypy, check-mypy-bypass

fix(billing): shorten long running tests (#88168)
  static/gsAdmin/components/provisionSubscriptionAction.spec.tsx
Due: biome, eslint, stylelint, prettier

fix(ui): make panelHeader text work in chonk UI
  static/app/components/panels/panelHeader.tsx
Due: biome, eslint, stylelint, prettier

ref(nav): Render secondary nav components under main route
  static/app/routes.tsx
  static/app/views/nav/constants.tsx
  static/app/views/nav/context.tsx
  static/app/views/nav/index.spec.tsx
  static/app/views/nav/index.tsx
  static/app/views/nav/mobileTopbar.tsx
  static/app/views/nav/secondary/secondary.stories.tsx
  static/app/views/nav/secondary/secondary.tsx
  static/app/views/nav/secondary/secondaryMobile.tsx
  static/app/views/nav/secondary/secondaryNavContent.tsx
  static/app/views/nav/secondary/sections/dashboards/dashboardsSecondaryNav.tsx
  static/app/views/nav/secondary/sections/explore/exploreSecondaryNav.tsx
  static/app/views/nav/secondary/sections/insights/insightsSecondaryNav.tsx
  static/app/views/nav/secondary/sections/issues/issuesSecondaryNav.tsx
  static/app/views/nav/secondary/sections/pipeline/pipelineSecondaryNav.spec.tsx
  static/app/views/nav/secondary/sections/pipeline/pipelineSecondaryNav.tsx
  static/app/views/nav/tour/tour.tsx
  static/app/views/nav/types.tsx
  static/app/views/nav/useActiveNavGroup.spec.tsx
  static/app/views/nav/useActiveNavGroup.tsx
  static/app/views/settings/components/settingsNavigation.tsx
Due: biome, eslint, stylelint, prettier

Move settings secondary nav over as well
  static/app/views/nav/constants.tsx
  static/app/views/nav/secondary/secondaryNavContent.tsx
  static/app/views/nav/secondary/sections/settings/settingsSecondaryNav.tsx
  static/app/views/nav/useActiveNavGroup.tsx
  static/app/views/settings/account/accountSettingsLayout.tsx
  static/app/views/settings/account/accountSettingsNavigation.tsx
  static/app/views/settings/organization/organizationSettingsLayout.tsx
Due: biome, eslint, stylelint, prettier

typing bruh
  src/sentry/sentry_apps/external_issues/issue_link_creator.py
Due: pyupgrade, isort, flake8, mypy, check-mypy-bypass

fix capitalization
  static/gsApp/utils/billing.tsx
  static/gsApp/views/onDemandBudgets/index.tsx
  static/gsApp/views/onDemandBudgets/onDemandBudgetEdit.tsx
  static/gsApp/views/spendAllocations/rootAllocationCard.tsx
  static/gsApp/views/subscriptionPage/headerCards/usageCard.tsx
  static/gsApp/views/subscriptionPage/notifications.tsx
  static/gsApp/views/subscriptionPage/onDemandSettings.tsx
  static/gsApp/views/subscriptionPage/pendingChanges.tsx
  static/gsApp/views/subscriptionPage/reservedUsageChart.tsx
  static/gsApp/views/subscriptionPage/usageTotals.tsx
Due: biome, eslint, stylelint, prettier

Revert "icons: remap color in chonk (#88121)"
  static/app/icons/svgIcon.tsx
Due: biome, eslint, stylelint, prettier

chore(issues): Publish `OrganizationGroupIndexEndpoint` (#88127)
  src/sentry/api/helpers/group_index/types.py
  src/sentry/api/helpers/group_index/update.py
  src/sentry/api/helpers/group_index/validators/group.py
  src/sentry/api/helpers/group_index/validators/in_commit.py
  src/sentry/api/helpers/group_index/validators/status_details.py
  src/sentry/api/serializers/models/group.py
  src/sentry/api/serializers/models/group_stream.py
  src/sentry/apidocs/examples/issue_examples.py
  src/sentry/apidocs/parameters.py
  src/sentry/issues/endpoints/organization_group_index.py
  src/sentry/models/group.py
Due: pyupgrade, isort, flake8, mypy, check-mypy-bypass

fix(ui): make panelHeader text work in chonk UI (#88365)
  static/app/components/panels/panelHeader.tsx
Due: biome, eslint, stylelint, prettier

ok lat typing pr for reals
  src/sentry/sentry_apps/external_issues/issue_link_creator.py
Due: pyupgrade, isort, flake8, mypy, check-mypy-bypass

Revert "feat(ourlogs): Enable the sentry logger integration for sentry (#88334)"
  requirements-base.txt
  requirements-dev-frozen.txt
  requirements-frozen.txt
  src/sentry/options/defaults.py
  src/sentry/utils/sdk.py
Due: pyupgrade, isort, flake8, mypy, lint-requirements, check-mypy-bypass

Reapply "icons: remap color in chonk (#88121)"
  static/app/icons/svgIcon.tsx
Due: biome, eslint, stylelint, prettier

add logic to update query on filter deletion
  static/app/components/performance/spanSearchQueryBuilder.tsx
  static/app/components/searchQueryBuilder/index.tsx
  static/app/components/searchQueryBuilder/tokenizedQueryGrid.tsx
  static/app/components/searchQueryBuilder/tokens/filter/filter.tsx
  static/app/views/explore/spans/spansTab.tsx
Due: biome, eslint, stylelint, prettier
