Repository getsentry/sentry: changes, and which pre-commit hooks are due for each by the changed paths.
All: pyupgrade, black, isort, flake8, lint-requirements, pyright

pyupgrade:
  name: pyupgrade
  entry: pyupgrade
  args:
  - --py38-plus
  - --keep-runtime-typing
  language: system

black:
  name: black
  entry: black
  language: system
  require_serial: true

isort:
  name: isort
  entry: isort
  language: system

flake8:
  name: flake8
  entry: flake8
  language: system
  log_file: .artifacts/flake8.pycodestyle.log

lint-requirements:
  name: lint-requirements
  entry: python -m tools.lint_requirements
  language: system
  pass_filenames: false

pyright:
  name: pyright
  entry: pyright
  language: node
  require_serial: true
  additional_dependencies:
  - pyright@1.1.186
  args:
  - --project
  - pyrightconfig-commithook.json

Fix tests
  src/sentry/integrations/slack/message_builder/issues.py
  src/sentry/models/actor.py
  src/sentry/services/hybrid_cloud/user.py
Due: pyupgrade, black, isort, flake8, pyright

remove spaces
  tests/sentry/snuba/test_profiles.py
Due: pyupgrade, black, isort, flake8

ref(ts): Consolidate types for Field into one place
  static/app/components/forms/field/controlState.tsx
  static/app/components/forms/field/fieldControl.tsx
  static/app/components/forms/field/fieldControlState.tsx
  static/app/components/forms/field/fieldDescription.tsx
  static/app/components/forms/field/fieldHelp.tsx
  static/app/components/forms/field/fieldLabel.tsx
  static/app/components/forms/field/fieldWrapper.tsx
  static/app/components/forms/field/index.tsx
  static/app/components/forms/field/types.tsx
  static/app/components/forms/fieldFromConfig.tsx
  static/app/components/forms/fields/blankField.tsx
  static/app/components/forms/formField/index.tsx
  static/app/components/radioGroupRating.tsx
Due: none

Fix organization tests
  src/sentry/models/organization.py
Due: pyupgrade, black, isort, flake8, pyright

ref(forms): Consistently use getDescriptor in FormModel
  static/app/components/forms/model.tsx
Due: none

ref(forms): Avoid InputField indirection
  static/app/components/forms/fields/booleanField.tsx
  static/app/components/forms/fields/choiceMapperField.tsx
  static/app/components/forms/fields/datePickerField.tsx
  static/app/components/forms/fields/fileField.tsx
  static/app/components/forms/fields/projectMapperField.tsx
  static/app/components/forms/fields/radioField.tsx
  static/app/components/forms/fields/rangeField.tsx
  static/app/components/forms/fields/selectAsyncField.tsx
  static/app/components/forms/fields/selectField.tsx
  static/app/components/forms/fields/sentryProjectSelectorField.tsx
  static/app/components/forms/fields/tableField.tsx
  static/app/components/forms/fields/textareaField.tsx
Due: none

feat(metrics): Add filter support to transform
  src/sentry/snuba/metrics/fields/base.py
  src/sentry/snuba/metrics/query_builder.py
  src/sentry/snuba/metrics/utils.py
  tests/sentry/snuba/metrics/test_metrics_layer/test_metrics_enhanced_performance.py
Due: pyupgrade, black, isort, flake8, pyright

Fix orderby
  src/sentry/snuba/metrics/fields/base.py
  src/sentry/snuba/metrics/utils.py
Due: pyupgrade, black, isort, flake8, pyright

Remove default value
  src/sentry/snuba/metrics/fields/base.py
Due: pyupgrade, black, isort, flake8, pyright

Change resolver function
  src/sentry/snuba/metrics/query_builder.py
Due: pyupgrade, black, isort, flake8, pyright

Fix PR comments
  src/sentry/snuba/metrics/query_builder.py
  src/sentry/snuba/metrics/utils.py
Due: pyupgrade, black, isort, flake8, pyright

ref(sampling): Update links for docs
  static/app/views/settings/project/server-side-sampling/modals/uniformRateModal.tsx
  static/app/views/settings/project/server-side-sampling/serverSideSampling.tsx
  static/app/views/settings/project/server-side-sampling/utils/index.tsx
Due: none

feat(metrics): Add `transform_null_to_unparameterized` filter capability [TET-503] (#40702)
  src/sentry/snuba/metrics/fields/base.py
  src/sentry/snuba/metrics/query_builder.py
  src/sentry/snuba/metrics/utils.py
  tests/sentry/snuba/metrics/test_metrics_layer/test_metrics_enhanced_performance.py
Due: pyupgrade, black, isort, flake8, pyright

fix json format
  static/app/views/monitors/onboarding.tsx
Due: none

feat(monitors): Add onboarding panel when no checkin present
  static/app/views/monitors/details.tsx
  static/app/views/monitors/onboarding.tsx
Due: none

update import
  static/app/views/monitors/onboarding.tsx
Due: none

Update static/app/views/monitors/onboarding.tsx
  static/app/views/monitors/onboarding.tsx
Due: none

ref(forms): Avoid InputField indirection (#40701)
  static/app/components/forms/fields/booleanField.tsx
  static/app/components/forms/fields/choiceMapperField.tsx
  static/app/components/forms/fields/datePickerField.tsx
  static/app/components/forms/fields/fileField.tsx
  static/app/components/forms/fields/projectMapperField.tsx
  static/app/components/forms/fields/radioField.tsx
  static/app/components/forms/fields/rangeField.tsx
  static/app/components/forms/fields/selectAsyncField.tsx
  static/app/components/forms/fields/selectField.tsx
  static/app/components/forms/fields/sentryProjectSelectorField.tsx
  static/app/components/forms/fields/tableField.tsx
  static/app/components/forms/fields/textareaField.tsx
Due: none

ref(forms): Remove rarely used ReturnButton feature (#40698)
  docs-ui/stories/components/form-fields.stories.js
  static/app/components/forms/formField/index.tsx
  static/app/components/forms/model.tsx
  static/app/components/forms/returnButton.spec.tsx
  static/app/components/forms/returnButton.tsx
  static/app/components/forms/types.tsx
  static/app/data/forms/accountEmails.tsx
Due: none

ref(ts): Consolidate types for Field into one place (#40699)
  static/app/components/forms/field/controlState.tsx
  static/app/components/forms/field/fieldControl.tsx
  static/app/components/forms/field/fieldControlState.tsx
  static/app/components/forms/field/fieldDescription.tsx
  static/app/components/forms/field/fieldHelp.tsx
  static/app/components/forms/field/fieldLabel.tsx
  static/app/components/forms/field/fieldWrapper.tsx
  static/app/components/forms/field/index.tsx
  static/app/components/forms/field/types.tsx
  static/app/components/forms/fieldFromConfig.tsx
  static/app/components/forms/fields/blankField.tsx
  static/app/components/forms/formField/index.tsx
  static/app/components/radioGroupRating.tsx
Due: none

feat(monitors): Add onboarding panel when no checkin present (#40386)
  static/app/views/monitors/details.tsx
  static/app/views/monitors/onboarding.tsx
Due: none

ref(mep): Force pure processed view with banners flag (#40662)
  static/app/utils/performance/contexts/metricsCardinality.tsx
Due: none

ref(mep): Re-add histograms to UI (#40666)
  static/app/views/performance/landing/widgets/utils.tsx
Due: none

ref(forms): Remove BC with FieldProps
  static/app/components/forms/field/index.tsx
Due: none

ref(ui): Simplify form spinner
  static/app/components/forms/spinner.tsx
Due: none

ref(froms): Improve naming of opts in field `validate` call
  static/app/components/forms/model.tsx
  static/app/views/settings/project/projectKeys/details/keyRateLimitsForm.tsx
Due: none

ref(forms): Rename Field to FieldGroup
  docs-ui/stories/components/panels.stories.js
  static/app/components/confirmDelete.tsx
  static/app/components/featureFeedback/feedbackModal.tsx
  static/app/components/forms/field/index.tsx
  static/app/components/forms/fields/blankField.tsx
  static/app/components/forms/formField/index.tsx
  static/app/components/modals/debugFileCustomRepository/appStoreConnect/stepOne.tsx
  static/app/components/modals/debugFileCustomRepository/http.tsx
  static/app/components/radioGroupRating.tsx
  static/app/views/alerts/rules/issue/index.tsx
  static/app/views/alerts/rules/metric/triggers/form.tsx
  static/app/views/dashboardsV2/widgetBuilder/buildSteps/columnsStep/columnFields.tsx
  static/app/views/dashboardsV2/widgetBuilder/buildSteps/filterResultsStep/index.tsx
  static/app/views/dashboardsV2/widgetBuilder/buildSteps/groupByStep/groupBySelector.tsx
  static/app/views/dashboardsV2/widgetBuilder/buildSteps/sortByStep/index.tsx
  static/app/views/dashboardsV2/widgetBuilder/buildSteps/visualizationStep.tsx
  static/app/views/dashboardsV2/widgetBuilder/buildSteps/yAxisStep/yAxisSelector/index.tsx
  static/app/views/integrationOrganizationLink.tsx
  static/app/views/monitors/monitorForm.tsx
  static/app/views/performance/transactionSummary/transactionThresholdModal.tsx
  static/app/views/sentryAppExternalInstallation.tsx
  static/app/views/settings/account/accountSecurity/accountSecurityEnroll.tsx
  static/app/views/settings/account/accountSecurity/index.tsx
  static/app/views/settings/components/dataScrubbing/modals/form/eventIdField.tsx
  static/app/views/settings/components/dataScrubbing/modals/form/index.tsx
  static/app/views/settings/organizationGeneralSettings/index.tsx
  static/app/views/settings/organizationMembers/organizationMemberDetail.tsx
  static/app/views/settings/organizationRateLimits/organizationRateLimits.tsx
  static/app/views/settings/organizationRelay/modals/form.tsx
  static/app/views/settings/organizationTeams/teamSettings/index.tsx
  static/app/views/settings/project/dynamicSampling/samplingFeedback.tsx
  static/app/views/settings/project/projectKeys/details/keySettings.tsx
  static/app/views/settings/project/projectKeys/projectKeyCredentials.tsx
  static/app/views/settings/project/projectReleaseTracking.tsx
  static/app/views/settings/project/projectServiceHookDetails.tsx
  static/app/views/settings/project/projectServiceHooks.tsx
  static/app/views/settings/project/server-side-sampling/samplingFeedback.tsx
  static/app/views/settings/projectGeneralSettings.tsx
  static/app/views/settings/projectIssueGrouping/upgradeGrouping.tsx
  static/app/views/settings/projectSecurityHeaders/reportUri.tsx
Due: none

ref(ui): Simplify form spinner (#40709)
  static/app/components/forms/spinner.tsx
Due: none

display tip in alert
  static/app/utils/discover/tipsContext.tsx
  static/app/utils/discover/tipsProvider.tsx
  static/app/views/eventsV2/results.tsx
  static/app/views/eventsV2/table/index.tsx
Due: none

ref(code_mappings): Move tests for code mappings into its own module
  tests/sentry/integrations/github/test_integration.py
  tests/sentry/integrations/utils/fixtures/sentry_tree.json
  tests/sentry/integrations/utils/test_code_mapping.py
Due: pyupgrade, black, isort, flake8

tests
  static/app/views/eventsV2/results.spec.jsx
Due: none

Revert "feat(spans): Add pageload span <meta> tags (#39349)"
  src/sentry/templates/sentry/layout.html
  src/sentry/templatetags/sentry_assets.py
Due: pyupgrade, black, isort, flake8, pyright

Path conditions:
  pyupgrade: any of: \.py$, but not: (?x)(
    LICENSE$|
    \.snap$|
    \.map$|
    \.map\.js$|
    ^src/sentry/static/sentry/vendor/|
    ^tests/sentry/lang/javascript/example-project/|
    ^src/.*/locale/|
    ^src/sentry/data/
)

  black: any of: \.py$, but not: (?x)(
    LICENSE$|
    \.snap$|
    \.map$|
    \.map\.js$|
    ^src/sentry/static/sentry/vendor/|
    ^tests/sentry/lang/javascript/example-project/|
    ^src/.*/locale/|
    ^src/sentry/data/
)

  isort: any of: \.py$, but not: (?x)(
    LICENSE$|
    \.snap$|
    \.map$|
    \.map\.js$|
    ^src/sentry/static/sentry/vendor/|
    ^tests/sentry/lang/javascript/example-project/|
    ^src/.*/locale/|
    ^src/sentry/data/
)

  flake8: any of: \.py$, but not: (?x)(
    LICENSE$|
    \.snap$|
    \.map$|
    \.map\.js$|
    ^src/sentry/static/sentry/vendor/|
    ^tests/sentry/lang/javascript/example-project/|
    ^src/.*/locale/|
    ^src/sentry/data/
)

  lint-requirements: any of: requirements-frozen.txt, but not: (?x)(
    LICENSE$|
    \.snap$|
    \.map$|
    \.map\.js$|
    ^src/sentry/static/sentry/vendor/|
    ^tests/sentry/lang/javascript/example-project/|
    ^src/.*/locale/|
    ^src/sentry/data/
)

  pyright: any of: ^src/ and \.py$ and not ((?x)(
    LICENSE$|
    \.snap$|
    \.map$|
    \.map\.js$|
    ^src/sentry/static/sentry/vendor/|
    ^tests/sentry/lang/javascript/example-project/|
    ^src/.*/locale/|
    ^src/sentry/data/
)
)
