Repository getsentry/sentry: changes, and which pre-commit hooks are due for each by the changed paths.
All: pyupgrade, isort, flake8, mypy, lint-requirements, requirements-overrides, check-mypy-bypass, sort-stronger-mypy-list, check-mypy-stronglist, biome, eslint, stylelint, prettier

Path conditions:
  pyupgrade: any of: \.py$, but not: (?x)(
    LICENSE.md$|
    \.snap$|
    \.map$|
    \.map\.js$|
    ^src/sentry/static/sentry/vendor/|
    ^src/.*/locale/|
    ^src/sentry/data/
)

  isort: any of: \.py$, but not: (?x)(
    LICENSE.md$|
    \.snap$|
    \.map$|
    \.map\.js$|
    ^src/sentry/static/sentry/vendor/|
    ^src/.*/locale/|
    ^src/sentry/data/
)

  flake8: any of: \.py$, but not: (?x)(
    LICENSE.md$|
    \.snap$|
    \.map$|
    \.map\.js$|
    ^src/sentry/static/sentry/vendor/|
    ^src/.*/locale/|
    ^src/sentry/data/
)

  mypy: any of: \.py$, but not: (?x)(
    LICENSE.md$|
    \.snap$|
    \.map$|
    \.map\.js$|
    ^src/sentry/static/sentry/vendor/|
    ^src/.*/locale/|
    ^src/sentry/data/
)

  lint-requirements: any of: requirements-.*\.txt$ and not (^requirements-getsentry-overrides\.txt$) and not ((?x)(
    LICENSE.md$|
    \.snap$|
    \.map$|
    \.map\.js$|
    ^src/sentry/static/sentry/vendor/|
    ^src/.*/locale/|
    ^src/sentry/data/
)
)
  requirements-overrides: any of: ^requirements-getsentry-overrides\.txt$, but not: (?x)(
    LICENSE.md$|
    \.snap$|
    \.map$|
    \.map\.js$|
    ^src/sentry/static/sentry/vendor/|
    ^src/.*/locale/|
    ^src/sentry/data/
)

  check-mypy-bypass: any of: \.py$, but not: (?x)(
    LICENSE.md$|
    \.snap$|
    \.map$|
    \.map\.js$|
    ^src/sentry/static/sentry/vendor/|
    ^src/.*/locale/|
    ^src/sentry/data/
)

  sort-stronger-mypy-list: any of: ^pyproject\.toml$, but not: (?x)(
    LICENSE.md$|
    \.snap$|
    \.map$|
    \.map\.js$|
    ^src/sentry/static/sentry/vendor/|
    ^src/.*/locale/|
    ^src/sentry/data/
)

  check-mypy-stronglist: any of: ^pyproject\.toml$, but not: (?x)(
    LICENSE.md$|
    \.snap$|
    \.map$|
    \.map\.js$|
    ^src/sentry/static/sentry/vendor/|
    ^src/.*/locale/|
    ^src/sentry/data/
)

  biome: any of: \.(jsx?|tsx?|css)$, but not: (?x)(
    LICENSE.md$|
    \.snap$|
    \.map$|
    \.map\.js$|
    ^src/sentry/static/sentry/vendor/|
    ^src/.*/locale/|
    ^src/sentry/data/
)

  eslint: any of: \.(ts|js|tsx|jsx|mjs)$, but not: (?x)(
    LICENSE.md$|
    \.snap$|
    \.map$|
    \.map\.js$|
    ^src/sentry/static/sentry/vendor/|
    ^src/.*/locale/|
    ^src/sentry/data/
)

  stylelint: any of: \.[jt]sx?$, but not: (?x)(
    LICENSE.md$|
    \.snap$|
    \.map$|
    \.map\.js$|
    ^src/sentry/static/sentry/vendor/|
    ^src/.*/locale/|
    ^src/sentry/data/
)

  prettier: any of: \.(yaml|yml)$, \.(md|markdown|mdown)$, \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.css$ and not ((?x)^($^
  # prettier crashes on some of these, by intent:
  |fixtures/.*
  # these have enormous diffs when formatted:
  |api-docs/paths/events/issue-hashes\.json
  |api-docs/paths/events/latest-event\.json
  |api-docs/paths/events/oldest-event\.json
  |api-docs/paths/events/project-event-details\.json
  |src/sentry/issues/event\.schema\.json
  |static/app/data/world\.json
  |static/app/utils/profiling/profile/formats/android/trace\.json
  |static/app/utils/profiling/profile/formats/ios/trace\.json
  |static/app/utils/profiling/profile/formats/node/trace\.json
  |static/app/utils/profiling/profile/formats/typescript/trace\.json
)$
) and not ((?x)(
    LICENSE.md$|
    \.snap$|
    \.map$|
    \.map\.js$|
    ^src/sentry/static/sentry/vendor/|
    ^src/.*/locale/|
    ^src/sentry/data/
)
)

add halts to 403s
  src/sentry/integrations/github/integration.py
  src/sentry/integrations/source_code_management/repository.py
  src/sentry/shared_integrations/exceptions/__init__.py
Due: pyupgrade, isort, flake8, mypy, check-mypy-bypass

install correct aria packages
  package.json
  pnpm-lock.yaml
Due: prettier

Fix queue and other task invocation issues
  src/sentry/preprod/size_analysis/compare.py
  src/sentry/preprod/size_analysis/tasks.py
Due: pyupgrade, isort, flake8, mypy, check-mypy-bypass

Wireup post
  src/sentry/preprod/api/endpoints/size_analysis/project_preprod_size_analysis_compare.py
  src/sentry/preprod/api/models/size_analysis/project_preprod_size_analysis_compare_models.py
Due: pyupgrade, isort, flake8, mypy, check-mypy-bypass

Nits
  src/sentry/preprod/api/endpoints/size_analysis/project_preprod_size_analysis_compare.py
  src/sentry/preprod/api/endpoints/urls.py
Due: pyupgrade, isort, flake8, mypy, check-mypy-bypass

progress
  src/sentry/preprod/api/endpoints/size_analysis/project_preprod_size_analysis_compare.py
  src/sentry/preprod/api/models/size_analysis/project_preprod_size_analysis_compare_models.py
Due: pyupgrade, isort, flake8, mypy, check-mypy-bypass

Progress
  src/sentry/preprod/api/endpoints/size_analysis/project_preprod_size_analysis_compare.py
Due: pyupgrade, isort, flake8, mypy, check-mypy-bypass

Add size comparison API for triggering and getting status of comparisons
  src/sentry/preprod/analytics.py
  src/sentry/preprod/api/endpoints/size_analysis/project_preprod_size_analysis_compare.py
  src/sentry/preprod/api/models/size_analysis/project_preprod_size_analysis_compare_models.py
Due: pyupgrade, isort, flake8, mypy, check-mypy-bypass

Fix endpoints
  src/sentry/preprod/api/endpoints/size_analysis/project_preprod_size_analysis_compare.py
  src/sentry/preprod/api/endpoints/urls.py
Due: pyupgrade, isort, flake8, mypy, check-mypy-bypass

Fixes
  static/app/views/preprod/buildComparison/sizeComparisonView.tsx
Due: biome, eslint, stylelint, prettier

Size comparison frontend
  static/app/views/preprod/buildComparison/buildComparison.tsx
  static/app/views/preprod/buildComparison/sizeComparisonView.tsx
Due: biome, eslint, stylelint, prettier

feat(preprod): add version and code to page title
  static/app/views/preprod/buildDetails/buildDetails.tsx
Due: biome, eslint, stylelint, prettier

fix(github): include already added repos
  static/app/views/settings/organizationIntegrations/integrationReposAddRepository.tsx
Due: biome, eslint, stylelint, prettier

Add tracing to debouce function
  src/sentry/api/endpoints/organization_releases.py
Due: pyupgrade, isort, flake8, mypy, check-mypy-bypass

core: add disclosure component (#98895)
  knip.config.ts
  package.json
  pnpm-lock.yaml
  static/app/components/core/disclosure/disclosure.mdx
  static/app/components/core/disclosure/disclosure.spec.tsx
  static/app/components/core/disclosure/disclosure.tsx
  static/app/components/core/disclosure/index.tsx
  static/app/styles/text.tsx
Due: biome, eslint, stylelint, prettier

fix this
  src/sentry/seer/autofix/webhooks.py
Due: pyupgrade, isort, flake8, mypy, check-mypy-bypass

feat(prevent): Click to copy button on token regen table (#98878)
  static/app/views/prevent/tokens/repoTokenTable/repoTokenTable.spec.tsx
  static/app/views/prevent/tokens/repoTokenTable/repoTokenTable.tsx
  static/app/views/prevent/tokens/repoTokenTable/tableBody.tsx
  static/app/views/prevent/tokens/repoTokenTable/tableHeader.tsx
  static/app/views/prevent/tokens/tokens.spec.tsx
Due: biome, eslint, stylelint, prettier

feat(preprod): add version and code to page title (#98968)
  static/app/views/preprod/buildDetails/buildDetails.tsx
Due: biome, eslint, stylelint, prettier

only do this assert on fire
  src/sentry/incidents/action_handlers.py
Due: pyupgrade, isort, flake8, mypy, check-mypy-bypass

dont use event timestamp on webvital issues
  static/app/components/events/interfaces/performance/eventTraceView.tsx
Due: biome, eslint, stylelint, prettier

Revert "fix(codeowners): parse CODEOWNERs associations case-insensitively (#98668)"
  src/sentry/api/validators/project_codeowners.py
  tests/sentry/issues/endpoints/test_project_codeowners_index.py
Due: pyupgrade, isort, flake8, mypy, check-mypy-bypass

move groupingComponentListItem to groupingComponentFrames.tsx
  static/app/components/events/groupingInfo/groupingComponent.tsx
  static/app/components/events/groupingInfo/groupingComponentChildren.tsx
  static/app/components/events/groupingInfo/groupingComponentFrames.tsx
Due: biome, eslint, stylelint, prettier

allegedly fix typing
  src/sentry/incidents/action_handlers.py
  src/sentry/incidents/typings/metric_detector.py
Due: pyupgrade, isort, flake8, mypy, check-mypy-bypass

Refactor Seer API calls to use signed requests
  src/sentry/seer/similarity/grouping_records.py
  tests/sentry/seer/similarity/test_grouping_records.py
Due: pyupgrade, isort, flake8, mypy, check-mypy-bypass

test
  tests/sentry/issues/endpoints/test_project_codeowners_index.py
Due: pyupgrade, isort, flake8, mypy, check-mypy-bypass

Configure SEER_API_SHARED_SECRET from environment or default
  src/sentry/conf/server.py
Due: pyupgrade, isort, flake8, mypy, check-mypy-bypass

groupingValue
  static/app/components/events/groupingInfo/groupingComponent.tsx
  static/app/components/events/groupingInfo/groupingComponentChildren.tsx
Due: biome, eslint, stylelint, prettier

ref(gsAdmin): Convert dataRequests to FC
  static/gsAdmin/routes.tsx
  static/gsAdmin/views/dataRequests.spec.tsx
  static/gsAdmin/views/dataRequests.tsx
Due: biome, eslint, stylelint, prettier

Remove now-unused function
  static/gsApp/components/addEventsCTA.tsx
Due: biome, eslint, stylelint, prettier

Remove probabilistic shared secret usage for Seer API
  src/sentry/seer/signed_seer_api.py
  tests/sentry/event_manager/test_severity.py
  tests/sentry/seer/test_signed_seer_api.py
Due: pyupgrade, isort, flake8, mypy, check-mypy-bypass

fix
  src/sentry/workflow_engine/models/incident_groupopenperiod.py
Due: pyupgrade, isort, flake8, mypy, check-mypy-bypass

chore(seer): rm SEER_SEVERITY_URL
  src/sentry/conf/server.py
Due: pyupgrade, isort, flake8, mypy, check-mypy-bypass

allow extra fields in request
  src/sentry/seer/autofix/utils.py
Due: pyupgrade, isort, flake8, mypy, check-mypy-bypass

`bulk_create` does not trigger `post_save` signal - manually trigger `process_resource_change` for new `CommitFileChange` objects
  src/sentry/integrations/github/webhook.py
  src/sentry/models/commitfilechange.py
  tests/sentry/tasks/test_code_owners.py
Due: pyupgrade, isort, flake8, mypy, check-mypy-bypass

update tests for updating sh
  src/sentry/sentry_apps/logic.py
  src/sentry/sentry_apps/tasks/sentry_apps.py
  tests/sentry/sentry_apps/tasks/test_sentry_apps.py
  tests/sentry/sentry_apps/test_sentry_app_updater.py
Due: pyupgrade, isort, flake8, mypy, check-mypy-bypass

refactored to remove found redundnancies, all logic now in get_unused_filter
  src/sentry/deletions/defaults/release_cleanup.py
  src/sentry/models/release.py
  tests/sentry/models/test_release.py
Due: pyupgrade, isort, flake8, mypy, check-mypy-bypass
