Repository getsentry/sentry: changes, and which pre-commit hooks are due for each by the changed paths.
All: pyupgrade, isort, flake8, mypy, lint-requirements, requirements-overrides, check-mypy-bypass, sort-stronger-mypy-list, check-mypy-stronglist

pyupgrade:
  name: pyupgrade
  entry: pyupgrade
  args:
  - --py311-plus
  language: system

isort:
  name: isort
  entry: isort
  language: system

flake8:
  name: flake8
  entry: flake8
  language: system
  log_file: .artifacts/flake8.pycodestyle.log

mypy:
  name: mypy
  entry: bash -c 'if [ -n "${SENTRY_MYPY_PRE_PUSH:-}" ]; then exec mypy "$@"; fi' --
  language: system
  stages:
  - pre-push
  require_serial: true

lint-requirements:
  name: lint-requirements
  entry: python -m tools.lint_requirements
  language: python
  additional_dependencies:
  - packaging==21.3

requirements-overrides:
  name: use pinned archives (see comment in file)
  stages:
  - commit
  language: pygrep
  entry: '(?x)
  
    ^
  
    # it''s a comment line
  
    (?!\#.*$)
  
    # it''s a blank line
  
    (?!$)
  
    # it''s a pinned archive
  
    (?![a-z-]+[ ]@[ ]https://github\.com/getsentry/[^/]+/archive/[a-f0-9]{40}\.zip$)
  
    '

check-mypy-bypass:
  name: do not bypass the type checker
  entry: '(^# *mypy: *ignore-errors|^# *type: *ignore|\bno_type_check\b)'
  language: pygrep

sort-stronger-mypy-list:
  name: sort stronger mypy list
  entry: python3 -m tools.mypy_helpers.sort_stronger_modules
  language: python

check-mypy-stronglist:
  name: check mypy stronglist
  entry: python3 -m tools.mypy_helpers.check_stronglist
  language: python

feat(issue-search): implements x-hits and cursor logic for snuba only search (#70089)
  src/sentry/issues/endpoints/organization_group_index.py
  src/sentry/search/snuba/executors.py
  tests/sentry/issues/endpoints/test_organization_group_index.py
Due: pyupgrade, isort, flake8, mypy, check-mypy-bypass

feat(audit-log): Add rate limit edit details to project key audit log
  src/sentry/api/endpoints/project_key_details.py
  src/sentry/audit_log/events.py
  src/sentry/audit_log/register.py
  tests/sentry/api/endpoints/test_project_key_details.py
  tests/sentry/utils/test_audit.py
Due: pyupgrade, isort, flake8, mypy, check-mypy-bypass

fix test
  static/app/views/performance/queues/charts/latencyChart.spec.tsx
Due: none

chore(actor) Add methods to RpcActor to match ActorTuple
  src/sentry/services/hybrid_cloud/actor.py
  src/sentry/utils/actor.py
  tests/sentry/hybridcloud/test_actor.py
Due: pyupgrade, isort, flake8, mypy, check-mypy-bypass

remove weird return flow
  static/app/views/performance/transactionSummary/transactionSpans/spanSummary/spanSummaryTable.tsx
Due: none

feat(traces): Use span search hints and values
  static/app/actionCreators/tags.tsx
  static/app/components/events/searchBar.tsx
  static/app/views/performance/traces/tracesSearchBar.tsx
Due: none

feat(spans): Add span tags endpoint (#70143)
  src/sentry/api/endpoints/organization_spans_fields.py
  src/sentry/api/urls.py
  src/sentry/options/defaults.py
  src/sentry/search/events/builder/discover.py
  src/sentry/search/events/datasets/spans_indexed.py
  src/sentry/snuba/referrer.py
  src/sentry/utils/snuba.py
  tests/sentry/api/endpoints/test_organization_spans_fields.py
Due: pyupgrade, isort, flake8, mypy, check-mypy-bypass

ref(crons): Move test_monitor_consumer to consumers module
  tests/sentry/monitors/consumers/__init__.py
  tests/sentry/monitors/consumers/test_monitor_consumer.py
Due: pyupgrade, isort, flake8, mypy, check-mypy-bypass

Update static/app/views/performance/queues/destinationSummary/transactionsTable.tsx
  static/app/views/performance/queues/destinationSummary/transactionsTable.tsx
Due: none

add id or slug support
  src/sentry/middleware/customer_domain.py
  tests/sentry/middleware/test_customer_domain.py
Due: pyupgrade, isort, flake8, mypy, check-mypy-bypass

fix logic
  src/sentry/middleware/customer_domain.py
Due: pyupgrade, isort, flake8, mypy, check-mypy-bypass

ref: ignore all of google.* third party namespaces (#70165)
  pyproject.toml
  tools/mypy_helpers/make_stub_ignores.py
Due: pyupgrade, isort, flake8, mypy, check-mypy-bypass, sort-stronger-mypy-list, check-mypy-stronglist

chore(actor) Remove Team.actor_id from state (#70090)
  fixtures/backup/model_dependencies/detailed.json
  migrations_lockfile.txt
  src/sentry/backup/comparators.py
  src/sentry/backup/dependencies.py
  src/sentry/backup/imports.py
  src/sentry/migrations/0713_team_remove_actor_state.py
  src/sentry/models/actor.py
  src/sentry/models/team.py
  src/sentry/testutils/helpers/backups.py
  src/sentry/testutils/silo.py
  tests/sentry/api/endpoints/test_project_rule_details.py
  tests/sentry/api/endpoints/test_project_rules.py
  tests/sentry/api/endpoints/test_project_team_details.py
  tests/sentry/api/serializers/test_alert_rule.py
  tests/sentry/backup/snapshots/ReleaseTests/test_at_head.pysnap
  tests/sentry/backup/snapshots/SanitizationExhaustiveTests/test_clean_pks.pysnap
  tests/sentry/backup/snapshots/test_comparators/test_default_comparators.pysnap
  tests/sentry/backup/test_coverage.py
  tests/sentry/deletions/test_team.py
  tests/sentry/incidents/endpoints/test_organization_alert_rule_details.py
  tests/sentry/incidents/endpoints/test_organization_combined_rule_index_endpoint.py
  tests/sentry/incidents/endpoints/test_organization_incident_index.py
  tests/sentry/models/test_actor.py
  tests/sentry/tasks/snapshots/PreprocessingTransferTest/test_success.pysnap
Due: pyupgrade, isort, flake8, mypy, check-mypy-bypass

feat(performance): Updates count_op function argument to allow all ops (#70167)
  src/sentry/search/events/datasets/spans_metrics.py
  tests/snuba/api/endpoints/test_organization_events_span_metrics.py
Due: pyupgrade, isort, flake8, mypy, check-mypy-bypass

feat(trace): evaluate rpn
  static/app/views/performance/newTraceDetails/index.tsx
  static/app/views/performance/newTraceDetails/traceSearch/traceSearchInput.tsx
  static/app/views/performance/newTraceDetails/traceSearch/traceTokenConverter.tsx
  static/app/views/performance/newTraceDetails/traceState/traceSearch.tsx
Due: none

Fix tests
  tests/sentry/issues/test_producer.py
  tests/sentry/issues/test_status_change_consumer.py
Due: pyupgrade, isort, flake8, mypy, check-mypy-bypass

feat(related_issues): Integrate related issues into Similar Issues tab (#70150)
  static/app/routes.tsx
  static/app/views/issueDetails/groupRelatedIssues/index.tsx
  static/app/views/issueDetails/groupSimilarIssues/index.tsx
  static/app/views/issueDetails/groupSimilarIssues/similarStackTrace/index.tsx
  static/app/views/issueDetails/header.tsx
  static/app/views/issueDetails/types.tsx
Due: none

ref(crons): Move test_monitor_consumer to consumers module (#70171)
  tests/sentry/monitors/consumers/__init__.py
  tests/sentry/monitors/consumers/test_monitor_consumer.py
Due: pyupgrade, isort, flake8, mypy, check-mypy-bypass

ref(slack): :white_circle: for actions (#70015)
  src/sentry/integrations/slack/message_builder/__init__.py
  src/sentry/integrations/slack/message_builder/issues.py
  tests/sentry/integrations/slack/test_message_builder.py
  tests/sentry/integrations/slack/webhooks/actions/test_status.py
Due: pyupgrade, isort, flake8, mypy, check-mypy-bypass

feat(backup): Enable sanitization for User and Config scope models
  src/sentry/backup/sanitize.py
  src/sentry/db/models/base.py
  src/sentry/models/apitoken.py
  src/sentry/models/relay.py
  src/sentry/models/useremail.py
  tests/sentry/backup/snapshots/SanitizationExhaustiveTests/test_clean_pks.pysnap
  tests/sentry/backup/snapshots/SanitizationIntegrationTests/test_fresh_install.pysnap
  tests/sentry/backup/test_sanitize.py
Due: pyupgrade, isort, flake8, mypy, check-mypy-bypass

feat(ai-monitoring): Work on implementing the design (#70158)
  static/app/views/aiMonitoring/PipelinesTable.tsx
  static/app/views/aiMonitoring/aiMonitoringCharts.tsx
  static/app/views/aiMonitoring/aiMonitoringDetailsPage.tsx
  static/app/views/aiMonitoring/landing.tsx
  static/app/views/aiMonitoring/pipelineSpansTable.tsx
Due: none

Add right text alignment to numeric header sections
  static/app/views/performance/transactionSummary/transactionSpans/spanSummary/spanSummaryHeader.tsx
Due: none

feat(new-trace-drawer): Adding multi column layout to cards
  static/app/components/events/eventTags/util.tsx
  static/app/views/performance/newTraceDetails/traceDrawer/details/styles.tsx
  static/app/views/performance/newTraceDetails/traceDrawer/details/transaction/index.tsx
  static/app/views/performance/newTraceDetails/traceDrawer/details/transaction/sections/request.tsx
Due: none

Update backfill to match expected kafka schema
  src/sentry/migrations/0701_backfill_group_priority_to_group_attributes.py
Due: pyupgrade, isort, flake8, mypy, check-mypy-bypass

feat(trace): sum ai measurements
  static/app/views/performance/newTraceDetails/traceDrawer/details/span/sections/keys.tsx
  static/app/views/performance/newTraceDetails/traceModels/traceTree.tsx
Due: none

ref(relay): Bump librelay to version 0.8.58
  requirements-base.txt
  requirements-dev-frozen.txt
  requirements-frozen.txt
  src/sentry/relay/config/__init__.py
Due: pyupgrade, isort, flake8, mypy, lint-requirements, check-mypy-bypass

Revert "Revert "feat(code-mappings): Add support for stacktrace frames with backslashes for automatic code mappings (#70164)
  src/sentry/integrations/utils/code_mapping.py
  tests/sentry/integrations/utils/test_code_mapping.py
  tests/sentry/tasks/test_derive_code_mappings.py
Due: pyupgrade, isort, flake8, mypy, check-mypy-bypass

test fix
  src/sentry/api/endpoints/codeowners/external_actor/user_details.py
  tests/sentry/api/endpoints/test_organization_spans_fields.py
Due: pyupgrade, isort, flake8, mypy, check-mypy-bypass

fix(trace-explorer): Correctly handle no user query case
  src/sentry/api/endpoints/organization_traces.py
  src/sentry/sentry_metrics/querying/samples_list.py
Due: pyupgrade, isort, flake8, mypy, check-mypy-bypass

bump schemas to 0.1.76
  requirements-base.txt
  requirements-dev-frozen.txt
  requirements-frozen.txt
Due: lint-requirements

feat(new-trace-drawer): Minor iterations.
  static/app/views/performance/newTraceDetails/traceDrawer/details/span/index.tsx
Due: none

Path conditions:
  pyupgrade: any of: \.py$, but not: (?x)(
    LICENSE.md$|
    \.snap$|
    \.map$|
    \.map\.js$|
    ^src/sentry/static/sentry/vendor/|
    ^src/.*/locale/|
    ^src/sentry/data/
)

  isort: any of: \.py$, but not: (?x)(
    LICENSE.md$|
    \.snap$|
    \.map$|
    \.map\.js$|
    ^src/sentry/static/sentry/vendor/|
    ^src/.*/locale/|
    ^src/sentry/data/
)

  flake8: any of: \.py$, but not: (?x)(
    LICENSE.md$|
    \.snap$|
    \.map$|
    \.map\.js$|
    ^src/sentry/static/sentry/vendor/|
    ^src/.*/locale/|
    ^src/sentry/data/
)

  mypy: any of: \.py$, but not: (?x)(
    LICENSE.md$|
    \.snap$|
    \.map$|
    \.map\.js$|
    ^src/sentry/static/sentry/vendor/|
    ^src/.*/locale/|
    ^src/sentry/data/
)

  lint-requirements: any of: requirements-.*\.txt$ and not (^requirements-getsentry-overrides\.txt$) and not ((?x)(
    LICENSE.md$|
    \.snap$|
    \.map$|
    \.map\.js$|
    ^src/sentry/static/sentry/vendor/|
    ^src/.*/locale/|
    ^src/sentry/data/
)
)
  requirements-overrides: any of: ^requirements-getsentry-overrides\.txt$, but not: (?x)(
    LICENSE.md$|
    \.snap$|
    \.map$|
    \.map\.js$|
    ^src/sentry/static/sentry/vendor/|
    ^src/.*/locale/|
    ^src/sentry/data/
)

  check-mypy-bypass: any of: \.py$, but not: (?x)(
    LICENSE.md$|
    \.snap$|
    \.map$|
    \.map\.js$|
    ^src/sentry/static/sentry/vendor/|
    ^src/.*/locale/|
    ^src/sentry/data/
)

  sort-stronger-mypy-list: any of: ^pyproject\.toml$, but not: (?x)(
    LICENSE.md$|
    \.snap$|
    \.map$|
    \.map\.js$|
    ^src/sentry/static/sentry/vendor/|
    ^src/.*/locale/|
    ^src/sentry/data/
)

  check-mypy-stronglist: any of: ^pyproject\.toml$, but not: (?x)(
    LICENSE.md$|
    \.snap$|
    \.map$|
    \.map\.js$|
    ^src/sentry/static/sentry/vendor/|
    ^src/.*/locale/|
    ^src/sentry/data/
)

