Repository getsentry/sentry: changes, and which pre-commit hooks are due for each by the changed paths.
All: pyupgrade, isort, flake8, mypy, lint-requirements, requirements-overrides, check-mypy-bypass, sort-stronger-mypy-list, check-mypy-stronglist, biome, eslint, stylelint, prettier

Path conditions:
  pyupgrade: any of: \.py$, but not: (?x)(
    LICENSE.md$|
    \.snap$|
    \.map$|
    \.map\.js$|
    ^src/sentry/static/sentry/vendor/|
    ^src/.*/locale/|
    ^src/sentry/data/
)

  isort: any of: \.py$, but not: (?x)(
    LICENSE.md$|
    \.snap$|
    \.map$|
    \.map\.js$|
    ^src/sentry/static/sentry/vendor/|
    ^src/.*/locale/|
    ^src/sentry/data/
)

  flake8: any of: \.py$, but not: (?x)(
    LICENSE.md$|
    \.snap$|
    \.map$|
    \.map\.js$|
    ^src/sentry/static/sentry/vendor/|
    ^src/.*/locale/|
    ^src/sentry/data/
)

  mypy: any of: \.py$, but not: (?x)(
    LICENSE.md$|
    \.snap$|
    \.map$|
    \.map\.js$|
    ^src/sentry/static/sentry/vendor/|
    ^src/.*/locale/|
    ^src/sentry/data/
)

  lint-requirements: any of: requirements-.*\.txt$ and not (^requirements-getsentry-overrides\.txt$) and not ((?x)(
    LICENSE.md$|
    \.snap$|
    \.map$|
    \.map\.js$|
    ^src/sentry/static/sentry/vendor/|
    ^src/.*/locale/|
    ^src/sentry/data/
)
)
  requirements-overrides: any of: ^requirements-getsentry-overrides\.txt$, but not: (?x)(
    LICENSE.md$|
    \.snap$|
    \.map$|
    \.map\.js$|
    ^src/sentry/static/sentry/vendor/|
    ^src/.*/locale/|
    ^src/sentry/data/
)

  check-mypy-bypass: any of: \.py$, but not: (?x)(
    LICENSE.md$|
    \.snap$|
    \.map$|
    \.map\.js$|
    ^src/sentry/static/sentry/vendor/|
    ^src/.*/locale/|
    ^src/sentry/data/
)

  sort-stronger-mypy-list: any of: ^pyproject\.toml$, but not: (?x)(
    LICENSE.md$|
    \.snap$|
    \.map$|
    \.map\.js$|
    ^src/sentry/static/sentry/vendor/|
    ^src/.*/locale/|
    ^src/sentry/data/
)

  check-mypy-stronglist: any of: ^pyproject\.toml$, but not: (?x)(
    LICENSE.md$|
    \.snap$|
    \.map$|
    \.map\.js$|
    ^src/sentry/static/sentry/vendor/|
    ^src/.*/locale/|
    ^src/sentry/data/
)

  biome: any of: \.(jsx?|tsx?|css)$, but not: (?x)(
    LICENSE.md$|
    \.snap$|
    \.map$|
    \.map\.js$|
    ^src/sentry/static/sentry/vendor/|
    ^src/.*/locale/|
    ^src/sentry/data/
)

  eslint: any of: \.(ts|js|tsx|jsx|mjs)$, but not: (?x)(
    LICENSE.md$|
    \.snap$|
    \.map$|
    \.map\.js$|
    ^src/sentry/static/sentry/vendor/|
    ^src/.*/locale/|
    ^src/sentry/data/
)

  stylelint: any of: \.[jt]sx?$, but not: (?x)(
    LICENSE.md$|
    \.snap$|
    \.map$|
    \.map\.js$|
    ^src/sentry/static/sentry/vendor/|
    ^src/.*/locale/|
    ^src/sentry/data/
)

  prettier: any of: \.(yaml|yml)$, \.(md|markdown|mdown)$, \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.css$ and not ((?x)^($^
  # prettier crashes on some of these, by intent:
  |fixtures/.*
  # these have enormous diffs when formatted:
  |api-docs/paths/events/issue-hashes\.json
  |api-docs/paths/events/latest-event\.json
  |api-docs/paths/events/oldest-event\.json
  |api-docs/paths/events/project-event-details\.json
  |src/sentry/issues/event\.schema\.json
  |static/app/data/world\.json
  |static/app/utils/profiling/profile/formats/android/trace\.json
  |static/app/utils/profiling/profile/formats/ios/trace\.json
  |static/app/utils/profiling/profile/formats/node/trace\.json
  |static/app/utils/profiling/profile/formats/typescript/trace\.json
)$
) and not ((?x)(
    LICENSE.md$|
    \.snap$|
    \.map$|
    \.map\.js$|
    ^src/sentry/static/sentry/vendor/|
    ^src/.*/locale/|
    ^src/sentry/data/
)
)

fix(project-details): Use getInterval() in project details for crash free rate (#83843)
  static/app/views/projectDetail/projectScoreCards/projectStabilityScoreCard.spec.tsx
  static/app/views/projectDetail/projectScoreCards/projectStabilityScoreCard.tsx
Due: biome, eslint, stylelint, prettier

lint(eslint): Enable no-commented-out-tests rule and delete some comments (#83801)
  eslint.config.mjs
  static/app/views/issueList/issueViewsHeader.spec.tsx
  static/app/views/performance/newTraceDetails/traceModels/traceTree.spec.tsx
  static/app/views/performance/newTraceDetails/traceSearch/traceSearchEvaluator.spec.tsx
  static/app/views/performance/transactionSummary/transactionOverview/suspectSpans.spec.tsx
  static/app/views/replays/detail/console/useConsoleFilters.spec.tsx
Due: biome, eslint, stylelint, prettier

feat(alerts): Add alert type filter frontend (#83790)
  static/app/views/alerts/filterBar.tsx
  static/app/views/alerts/list/rules/alertRulesList.tsx
  static/app/views/alerts/utils/index.tsx
Due: biome, eslint, stylelint, prettier

ref: remove query-valid-python-version (#83792)
  scripts/do.sh
  scripts/lib.sh
Due: none

lint(eslint): Enable basic rules and remove places that re-throw errors (#83805)
  eslint.config.mjs
  static/app/components/modals/sudoModal.tsx
  static/app/views/dashboards/manage/dashboardGrid.tsx
Due: biome, eslint, stylelint, prettier

chore(group-attachments): Handle query errors in GroupAttachments endpoint (#83780)
  src/sentry/api/endpoints/group_attachments.py
Due: pyupgrade, isort, flake8, mypy, check-mypy-bypass

Revert "ref: upgrade sentry-kafka-schemas to fix monitors type errors (#83827)"
  requirements-base.txt
  requirements-dev-frozen.txt
  requirements-frozen.txt
  src/sentry/monitors/testutils.py
  tests/sentry/monitors/consumers/test_monitor_consumer.py
Due: pyupgrade, isort, flake8, mypy, lint-requirements, check-mypy-bypass

fix(dashboards): Double padding in widgets (#83839)
  static/app/views/dashboards/widgets/bigNumberWidget/bigNumberWidget.tsx
  static/app/views/dashboards/widgets/bigNumberWidget/bigNumberWidgetVisualization.tsx
  static/app/views/dashboards/widgets/timeSeriesWidget/timeSeriesWidget.tsx
  static/app/views/dashboards/widgets/widgetLayout/loadingPanel.tsx
  static/app/views/dashboards/widgets/widgetLayout/widgetLayout.tsx
  static/app/views/projectDetail/projectScoreCards/actionWrapper.tsx
Due: biome, eslint, stylelint, prettier

feat(metrics): Use snuba query cache for metrics query (#83782)
  src/sentry/snuba/metrics_performance.py
Due: pyupgrade, isort, flake8, mypy, check-mypy-bypass

evaluate workflow triggers in delayed processing
  src/sentry/workflow_engine/handlers/condition/event_frequency_handlers.py
  src/sentry/workflow_engine/models/data_condition.py
  src/sentry/workflow_engine/models/workflow.py
  src/sentry/workflow_engine/processors/data_condition_group.py
  src/sentry/workflow_engine/processors/workflow.py
  tests/sentry/workflow_engine/handlers/condition/test_base.py
  tests/sentry/workflow_engine/handlers/condition/test_event_frequency_handlers.py
  tests/sentry/workflow_engine/processors/test_workflow.py
Due: pyupgrade, isort, flake8, mypy, check-mypy-bypass

inline mutation callbacks, and extract render functions
  static/app/views/settings/project/projectOwnership/addCodeOwnerModal.tsx
Due: biome, eslint, stylelint, prettier

c
  src/sentry/api/endpoints/organization_spans_fields.py
  src/sentry/search/eap/columns.py
  src/sentry/search/eap/constants.py
  src/sentry/search/eap/resolver.py
  src/sentry/sentry_metrics/querying/eap/mql_eap_bridge.py
  tests/sentry/search/eap/test_spans.py
Due: pyupgrade, isort, flake8, mypy, check-mypy-bypass

version
  package.json
  yarn.lock
Due: none

comparison json schema for RegressionEventHandler
  src/sentry/workflow_engine/handlers/condition/regression_event_handler.py
  tests/sentry/workflow_engine/handlers/condition/test_regression_event_handler.py
Due: pyupgrade, isort, flake8, mypy, check-mypy-bypass

Fix test
  tests/sentry/tasks/test_auto_source_code_config.py
Due: pyupgrade, isort, flake8, mypy, check-mypy-bypass

feat(widget-builder): Add text field for apdex and user misery
  static/app/views/dashboards/widgetBuilder/components/visualize.tsx
Due: biome, eslint, stylelint, prettier

feat(new-trace): Adding project badge beside trace name in header (#83719)
  static/app/views/performance/newTraceDetails/traceHeader/index.tsx
  static/app/views/performance/newTraceDetails/traceHeader/title.tsx
Due: biome, eslint, stylelint, prettier

comparison json schema for AssignedToHandler
  src/sentry/notifications/types.py
  src/sentry/workflow_engine/handlers/condition/assigned_to_handler.py
  tests/sentry/workflow_engine/handlers/condition/test_assigned_to_handler.py
Due: pyupgrade, isort, flake8, mypy, check-mypy-bypass

feat(taskworker) Update to new protobufs (#83785)
  requirements-base.txt
  requirements-dev-frozen.txt
  requirements-frozen.txt
  src/sentry/taskworker/client.py
  src/sentry/taskworker/registry.py
  src/sentry/taskworker/retry.py
  src/sentry/taskworker/task.py
  src/sentry/taskworker/worker.py
  tests/sentry/taskworker/test_client.py
  tests/sentry/taskworker/test_registry.py
  tests/sentry/taskworker/test_retry.py
  tests/sentry/taskworker/test_task.py
  tests/sentry/taskworker/test_worker.py
Due: pyupgrade, isort, flake8, mypy, lint-requirements, check-mypy-bypass

test extra key
  tests/sentry/workflow_engine/handlers/condition/test_assigned_to_handler.py
Due: pyupgrade, isort, flake8, mypy, check-mypy-bypass

Fixes potential issue with logging context being used before being defined
  src/sentry/integrations/jira_server/integration.py
Due: pyupgrade, isort, flake8, mypy, check-mypy-bypass

feat(new-trace): Minor iteration
  static/app/routes.tsx
Due: biome, eslint, stylelint, prettier

fix(issue-views): Fix rare issue where element in array does not exist
  static/app/components/draggableTabs/draggableTabList.tsx
Due: biome, eslint, stylelint, prettier

Reapply "ref: upgrade sentry-kafka-schemas to fix monitors type errors (#83827)"
  requirements-base.txt
  requirements-dev-frozen.txt
  requirements-frozen.txt
  src/sentry/monitors/testutils.py
  tests/sentry/monitors/consumers/test_monitor_consumer.py
Due: pyupgrade, isort, flake8, mypy, lint-requirements, check-mypy-bypass

chore(aci): comparison json schema for RegressionEventHandler (#83848)
  src/sentry/workflow_engine/handlers/condition/regression_event_handler.py
  tests/sentry/workflow_engine/handlers/condition/test_regression_event_handler.py
Due: pyupgrade, isort, flake8, mypy, check-mypy-bypass

Add new config field to show open periods
  static/app/utils/issueTypeConfig/index.tsx
  static/app/utils/issueTypeConfig/metricIssueConfig.tsx
  static/app/utils/issueTypeConfig/types.tsx
  static/app/views/issueDetails/streamline/sidebar/solutionsSection.spec.tsx
Due: biome, eslint, stylelint, prettier

Add new tab and path for open periods
  static/app/routes.tsx
  static/app/views/issueDetails/streamline/eventNavigation.tsx
  static/app/views/issueDetails/types.tsx
Due: biome, eslint, stylelint, prettier

Show open periods data in a table
  static/app/views/issueDetails/groupOpenPeriods.tsx
Due: biome, eslint, stylelint, prettier

:sparkles: feat: support uptime threading behavior for workflow notifications
  src/sentry/integrations/slack/service.py
  tests/sentry/integrations/slack/service/test_slack_service.py
Due: pyupgrade, isort, flake8, mypy, check-mypy-bypass

feat(new-trace): Sidebar item highlighting from trace view and added dashboard breadcrumbs (#83840)
  static/app/components/modals/widgetViewerModal/widgetViewerTableCell.tsx
  static/app/components/quickTrace/utils.tsx
  static/app/routes.tsx
  static/app/utils/discover/urls.tsx
  static/app/views/dashboards/datasetConfig/base.tsx
  static/app/views/dashboards/datasetConfig/errors.spec.tsx
  static/app/views/dashboards/datasetConfig/errors.tsx
  static/app/views/dashboards/datasetConfig/errorsAndTransactions.spec.tsx
  static/app/views/dashboards/datasetConfig/errorsAndTransactions.tsx
  static/app/views/dashboards/types.tsx
  static/app/views/dashboards/widgetCard/chart.tsx
  static/app/views/dashboards/widgetCard/issueWidgetCard.tsx
  static/app/views/discover/table/tableView.spec.tsx
  static/app/views/explore/tables/fieldRenderer.spec.tsx
  static/app/views/insights/common/components/samplesTable/spanSamplesTable.tsx
  static/app/views/insights/common/components/tableCells/spanIdCell.tsx
  static/app/views/insights/common/views/spanSummaryPage/sampleList/sampleTable/sampleTable.tsx
  static/app/views/performance/newTraceDetails/traceHeader/breadcrumbs.tsx
  static/app/views/performance/traceDetails/utils.tsx
  static/app/views/performance/transactionSummary/transactionProfiles/content.tsx
  static/app/views/traces/fieldRenderers.spec.tsx
Due: biome, eslint, stylelint, prettier

Add test
  static/app/views/dashboards/widgetBuilder/components/visualize.spec.tsx
Due: biome, eslint, stylelint, prettier

💄 Identical 'view' buttons
  static/app/views/issueDetails/streamline/sidebar/activitySection.tsx
  static/app/views/issueDetails/streamline/sidebar/mergedSidebarSection.tsx
  static/app/views/issueDetails/streamline/sidebar/similarIssuesSidebarSection.tsx
  static/app/views/issueDetails/streamline/sidebar/viewButton.tsx
Due: biome, eslint, stylelint, prettier

fix(storybook) special case index files for search
  static/app/views/stories/index.tsx
Due: biome, eslint, stylelint, prettier
