Repository getsentry/sentry: changes, and which pre-commit hooks are due for each by the changed paths.
All: pyupgrade, isort, flake8, mypy, lint-requirements, requirements-overrides, check-mypy-bypass, sort-stronger-mypy-list, check-mypy-stronglist, biome, eslint, stylelint, prettier

Path conditions:
  pyupgrade: any of: \.py$, but not: (?x)(
    LICENSE.md$|
    \.snap$|
    \.map$|
    \.map\.js$|
    ^src/sentry/static/sentry/vendor/|
    ^src/.*/locale/|
    ^src/sentry/data/
)

  isort: any of: \.py$, but not: (?x)(
    LICENSE.md$|
    \.snap$|
    \.map$|
    \.map\.js$|
    ^src/sentry/static/sentry/vendor/|
    ^src/.*/locale/|
    ^src/sentry/data/
)

  flake8: any of: \.py$, but not: (?x)(
    LICENSE.md$|
    \.snap$|
    \.map$|
    \.map\.js$|
    ^src/sentry/static/sentry/vendor/|
    ^src/.*/locale/|
    ^src/sentry/data/
)

  mypy: any of: \.py$, but not: (?x)(
    LICENSE.md$|
    \.snap$|
    \.map$|
    \.map\.js$|
    ^src/sentry/static/sentry/vendor/|
    ^src/.*/locale/|
    ^src/sentry/data/
)

  lint-requirements: any of: requirements-.*\.txt$ and not (^requirements-getsentry-overrides\.txt$) and not ((?x)(
    LICENSE.md$|
    \.snap$|
    \.map$|
    \.map\.js$|
    ^src/sentry/static/sentry/vendor/|
    ^src/.*/locale/|
    ^src/sentry/data/
)
)
  requirements-overrides: any of: ^requirements-getsentry-overrides\.txt$, but not: (?x)(
    LICENSE.md$|
    \.snap$|
    \.map$|
    \.map\.js$|
    ^src/sentry/static/sentry/vendor/|
    ^src/.*/locale/|
    ^src/sentry/data/
)

  check-mypy-bypass: any of: \.py$, but not: (?x)(
    LICENSE.md$|
    \.snap$|
    \.map$|
    \.map\.js$|
    ^src/sentry/static/sentry/vendor/|
    ^src/.*/locale/|
    ^src/sentry/data/
)

  sort-stronger-mypy-list: any of: ^pyproject\.toml$, but not: (?x)(
    LICENSE.md$|
    \.snap$|
    \.map$|
    \.map\.js$|
    ^src/sentry/static/sentry/vendor/|
    ^src/.*/locale/|
    ^src/sentry/data/
)

  check-mypy-stronglist: any of: ^pyproject\.toml$, but not: (?x)(
    LICENSE.md$|
    \.snap$|
    \.map$|
    \.map\.js$|
    ^src/sentry/static/sentry/vendor/|
    ^src/.*/locale/|
    ^src/sentry/data/
)

  biome: any of: \.(jsx?|tsx?|css)$, but not: (?x)(
    LICENSE.md$|
    \.snap$|
    \.map$|
    \.map\.js$|
    ^src/sentry/static/sentry/vendor/|
    ^src/.*/locale/|
    ^src/sentry/data/
)

  eslint: any of: \.(ts|js|tsx|jsx|mjs)$, but not: (?x)(
    LICENSE.md$|
    \.snap$|
    \.map$|
    \.map\.js$|
    ^src/sentry/static/sentry/vendor/|
    ^src/.*/locale/|
    ^src/sentry/data/
)

  stylelint: any of: \.[jt]sx?$, but not: (?x)(
    LICENSE.md$|
    \.snap$|
    \.map$|
    \.map\.js$|
    ^src/sentry/static/sentry/vendor/|
    ^src/.*/locale/|
    ^src/sentry/data/
)

  prettier: any of: \.(yaml|yml)$, \.(md|markdown|mdown)$, \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.css$ and not ((?x)^($^
  # prettier crashes on some of these, by intent:
  |fixtures/.*
  # these have enormous diffs when formatted:
  |api-docs/paths/events/issue-hashes\.json
  |api-docs/paths/events/latest-event\.json
  |api-docs/paths/events/oldest-event\.json
  |api-docs/paths/events/project-event-details\.json
  |src/sentry/issues/event\.schema\.json
  |static/app/data/world\.json
  |static/app/utils/profiling/profile/formats/android/trace\.json
  |static/app/utils/profiling/profile/formats/ios/trace\.json
  |static/app/utils/profiling/profile/formats/node/trace\.json
  |static/app/utils/profiling/profile/formats/typescript/trace\.json
)$
) and not ((?x)(
    LICENSE.md$|
    \.snap$|
    \.map$|
    \.map\.js$|
    ^src/sentry/static/sentry/vendor/|
    ^src/.*/locale/|
    ^src/sentry/data/
)
)

fix(webhooks): Make POST fields optional and clear enabled on DELETE
  src/sentry/sentry_apps/api/endpoints/project_legacy_webhooks.py
  tests/sentry/sentry_apps/api/endpoints/test_project_legacy_webhooks.py
Due: pyupgrade, isort, flake8, mypy, check-mypy-bypass

Use a cursor to fetch environment IDs
  src/sentry/deletions/defaults/organization.py
  tests/sentry/deletions/test_organization.py
Due: pyupgrade, isort, flake8, mypy, check-mypy-bypass

Correct telemetry
  static/app/utils/analytics/exploreAnalyticsEvents.tsx
  static/app/views/explore/logs/exports/logsExportModal.tsx
Due: biome, eslint, stylelint, prettier

ref(api): remove legacy `blue-thunder-edition` URL (#116859)
  src/sentry/api/urls.py
  src/sentry/apidocs/hooks.py
  static/app/utils/api/knownSentryApiUrls.generated.ts
  tests/sentry/api/endpoints/test_source_map_debug.py
Due: pyupgrade, isort, flake8, mypy, check-mypy-bypass, biome, eslint, stylelint, prettier

bugbot
  static/app/components/events/eventStatisticalDetector/eventRegressionSummary.tsx
  static/app/views/issueDetails/eventNavigation/index.tsx
  static/app/views/issueDetails/hooks/useCopyIssueDetails.spec.tsx
  static/app/views/issueDetails/hooks/useCopyIssueDetails.tsx
Due: biome, eslint, stylelint, prettier

rm for now
  static/app/components/commandPalette/ui/commandPaletteGlobalActions.tsx
Due: biome, eslint, stylelint, prettier

fix(tracemetrics): Add empty state for empty equation in metrics
  static/app/views/dashboards/widgetBuilder/components/widgetPreview.spec.tsx
  static/app/views/dashboards/widgetBuilder/components/widgetPreview.tsx
Due: biome, eslint, stylelint, prettier

Updates tests for new logic
  tests/sentry/api/serializers/test_organization_member.py
  tests/sentry/core/endpoints/test_organization_member_index.py
Due: pyupgrade, isort, flake8, mypy, check-mypy-bypass

docs(agents): Trim noise and stale duplication from src/AGENTS.md
  src/AGENTS.md
Due: prettier

ref(options): Allow options to be fetched without an organization or project instance (#116680)
  src/sentry/models/options/organization_option.py
  src/sentry/models/options/project_option.py
  src/sentry/models/organization.py
  src/sentry/models/project.py
  src/sentry/projectoptions/manager.py
Due: pyupgrade, isort, flake8, mypy, check-mypy-bypass

Fix mistake
  src/sentry/conf/types/cell_config.py
Due: pyupgrade, isort, flake8, mypy, check-mypy-bypass

wip use new seer project prefs endpoints
  static/app/components/events/autofix/preferences/hooks/useProjectSeerRepos.ts
  static/app/components/events/autofix/utils/isOverrideValid.ts
  static/app/components/events/autofix/utils/overrideHasAnyValue.ts
  static/app/utils/seer/useMutateAutofixProject.spec.tsx
  static/app/utils/seer/useMutateAutofixProject.ts
  static/gsApp/views/seerAutomation/components/projectDetails/autofixRepositoriesItem.tsx
  static/gsApp/views/seerAutomation/components/projectDetails/autofixRepositoriesItemBranchOverride.tsx
  static/gsApp/views/seerAutomation/components/projectDetails/autofixRepositoriesList.spec.tsx
  static/gsApp/views/seerAutomation/components/projectDetails/autofixRepositoriesList.tsx
  static/gsApp/views/seerAutomation/components/projectDetails/index.tsx
Due: biome, eslint, stylelint, prettier

Updates outdated comment
  src/sentry/api/serializers/models/organization_member/base.py
Due: pyupgrade, isort, flake8, mypy, check-mypy-bypass

clean up slop
  static/app/components/events/eventStatisticalDetector/eventRegressionSummary.tsx
  static/app/views/issueDetails/hooks/useCopyIssueDetails.tsx
Due: biome, eslint, stylelint, prettier

fix: Don't remove the count sort after in postprocessing
  src/sentry/api/endpoints/organization_trace_item_attributes.py
  tests/snuba/api/endpoints/test_organization_trace_item_attributes.py
Due: pyupgrade, isort, flake8, mypy, check-mypy-bypass

emails sent only if user's email exists
  src/sentry/tasks/summaries/weekly_reports.py
Due: pyupgrade, isort, flake8, mypy, check-mypy-bypass

fix(ui): Exclude legacy issue URLs from generated types (#116818)
  static/app/utils/api/knownSentryApiUrls.generated.ts
  tools/api_urls_to_typescript.py
Due: pyupgrade, isort, flake8, mypy, check-mypy-bypass, biome, eslint, stylelint, prettier

docs(agents): Trim noise and stale duplication from src/AGENTS.md (#116868)
  src/AGENTS.md
Due: prettier

feat(cmdk): surface Client Keys (DSN) when searching SENTRY_DSN
  static/app/components/commandPalette/ui/commandPaletteGlobalActions.spec.tsx
  static/app/components/commandPalette/ui/commandPaletteGlobalActions.tsx
  static/app/views/settings/project/navigationConfiguration.tsx
Due: biome, eslint, stylelint, prettier

fix: Update dashboard search test to use matching query
  static/app/components/commandPalette/ui/commandPaletteGlobalActions.spec.tsx
Due: biome, eslint, stylelint, prettier

ref(api): Use to_valid_int_id for group_id validation
  src/sentry/issues/endpoints/project_event_details.py
  tests/snuba/api/endpoints/test_project_event_details.py
Due: pyupgrade, isort, flake8, mypy, check-mypy-bypass

Document and rename cache field
  src/sentry/workflow_engine/types.py
Due: pyupgrade, isort, flake8, mypy, check-mypy-bypass

feat(seer): add autofix high intelligence/reasoning org experiment
  src/sentry/features/temporary.py
  src/sentry/seer/autofix/autofix_agent.py
  src/sentry/seer/endpoints/group_ai_autofix.py
  tests/sentry/seer/endpoints/test_group_ai_autofix.py
Due: pyupgrade, isort, flake8, mypy, check-mypy-bypass

feat(seer): add autofix code review tool org experiment
  src/sentry/features/temporary.py
  src/sentry/seer/agent/client.py
  src/sentry/seer/autofix/autofix_agent.py
  tests/sentry/seer/agent/test_agent_client.py
  tests/sentry/seer/autofix/test_autofix_agent.py
Due: pyupgrade, isort, flake8, mypy, check-mypy-bypass

refactor
  static/app/components/events/eventStatisticalDetector/eventRegressionSummary.tsx
  static/app/views/issueDetails/eventNavigation/index.tsx
  static/app/views/issueDetails/hooks/useCopyIssueDetails.spec.tsx
  static/app/views/issueDetails/hooks/useCopyIssueDetails.tsx
Due: biome, eslint, stylelint, prettier

feat(explore): Match logs export modal to Figma design
  static/app/utils/analytics/exploreAnalyticsEvents.tsx
  static/app/views/explore/logs/exports/logsExportModal.spec.tsx
  static/app/views/explore/logs/exports/logsExportModal.tsx
Due: biome, eslint, stylelint, prettier

fix
  static/app/components/events/eventStatisticalDetector/eventRegressionSummary.tsx
Due: biome, eslint, stylelint, prettier

ref(vercel): Replace legacy configure view with the pipeline redirect (#116857)
  pyproject.toml
  src/sentry/integrations/vercel/integration.py
  src/sentry/integrations/vercel/urls.py
  src/sentry/integrations/vercel/views.py
  src/sentry/integrations/web/vercel_extension_configuration.py
  tests/sentry/integrations/vercel/test_integration.py
  tests/sentry/web/frontend/test_vercel_extension_configuration.py
Due: pyupgrade, isort, flake8, mypy, check-mypy-bypass, sort-stronger-mypy-list, check-mypy-stronglist

ci: Move the DSN for the jest project to github secrets (#116776)
  .github/workflows/frontend.yml
  .github/workflows/jest-balance.yml
  jest.config.ts
Due: biome, eslint, stylelint, prettier

Fix default parameter change
  src/sentry/api/bases/organization.py
Due: pyupgrade, isort, flake8, mypy, check-mypy-bypass

hook only
  static/app/components/events/eventStatisticalDetector/eventRegressionSummary.tsx
  static/app/views/issueDetails/eventNavigation/index.tsx
  static/app/views/issueDetails/hooks/useCopyIssueDetails.spec.tsx
  static/app/views/issueDetails/hooks/useCopyIssueDetails.tsx
Due: biome, eslint, stylelint, prettier

feat(attributes): This adds count to string attribute values (#116811)
  src/sentry/api/endpoints/organization_trace_item_attributes.py
  tests/snuba/api/endpoints/test_organization_trace_item_attributes.py
Due: pyupgrade, isort, flake8, mypy, check-mypy-bypass

bugbot
  static/app/views/issueDetails/hooks/useCopyIssueDetails.spec.tsx
  static/app/views/issueDetails/hooks/useCopyIssueDetails.tsx
Due: biome, eslint, stylelint, prettier

chore(cells) Remove OrganizationSlugReservation replication (#116612)
  pyproject.toml
  src/sentry/hybridcloud/services/control_organization_provisioning/impl.py
  src/sentry/hybridcloud/services/replica/service.py
  src/sentry/models/organizationslugreservation.py
  tests/sentry/models/test_organizationslugreservation.py
Due: pyupgrade, isort, flake8, mypy, check-mypy-bypass, sort-stronger-mypy-list, check-mypy-stronglist

docs(agents): Remove cross-doc duplication in AGENTS.md files
  src/AGENTS.md
  tests/AGENTS.md
Due: prettier

feat: Preserve starred dashboards as nested item in Cmd+K
  static/app/components/commandPalette/ui/commandPaletteGlobalActions.tsx
Due: biome, eslint, stylelint, prettier

feat(explore): Disable Format radios for all-columns export
  static/app/views/explore/logs/exports/logsExportModal.spec.tsx
  static/app/views/explore/logs/exports/logsExportModal.tsx
Due: biome, eslint, stylelint, prettier

docs(agents): Remove cross-doc duplication in AGENTS.md files (#116874)
  src/AGENTS.md
  tests/AGENTS.md
Due: prettier
