Repository getsentry/sentry: changes, and which pre-commit hooks are due for each by the changed paths.
All: pyupgrade, isort, flake8, mypy, lint-requirements, requirements-overrides, check-mypy-bypass, sort-stronger-mypy-list, check-mypy-stronglist, biome, eslint, stylelint, prettier

Path conditions:
  pyupgrade: any of: \.py$, but not: (?x)(
    LICENSE.md$|
    \.snap$|
    \.map$|
    \.map\.js$|
    ^src/sentry/static/sentry/vendor/|
    ^src/.*/locale/|
    ^src/sentry/data/
)

  isort: any of: \.py$, but not: (?x)(
    LICENSE.md$|
    \.snap$|
    \.map$|
    \.map\.js$|
    ^src/sentry/static/sentry/vendor/|
    ^src/.*/locale/|
    ^src/sentry/data/
)

  flake8: any of: \.py$, but not: (?x)(
    LICENSE.md$|
    \.snap$|
    \.map$|
    \.map\.js$|
    ^src/sentry/static/sentry/vendor/|
    ^src/.*/locale/|
    ^src/sentry/data/
)

  mypy: any of: \.py$, but not: (?x)(
    LICENSE.md$|
    \.snap$|
    \.map$|
    \.map\.js$|
    ^src/sentry/static/sentry/vendor/|
    ^src/.*/locale/|
    ^src/sentry/data/
)

  lint-requirements: any of: requirements-.*\.txt$ and not (^requirements-getsentry-overrides\.txt$) and not ((?x)(
    LICENSE.md$|
    \.snap$|
    \.map$|
    \.map\.js$|
    ^src/sentry/static/sentry/vendor/|
    ^src/.*/locale/|
    ^src/sentry/data/
)
)
  requirements-overrides: any of: ^requirements-getsentry-overrides\.txt$, but not: (?x)(
    LICENSE.md$|
    \.snap$|
    \.map$|
    \.map\.js$|
    ^src/sentry/static/sentry/vendor/|
    ^src/.*/locale/|
    ^src/sentry/data/
)

  check-mypy-bypass: any of: \.py$, but not: (?x)(
    LICENSE.md$|
    \.snap$|
    \.map$|
    \.map\.js$|
    ^src/sentry/static/sentry/vendor/|
    ^src/.*/locale/|
    ^src/sentry/data/
)

  sort-stronger-mypy-list: any of: ^pyproject\.toml$, but not: (?x)(
    LICENSE.md$|
    \.snap$|
    \.map$|
    \.map\.js$|
    ^src/sentry/static/sentry/vendor/|
    ^src/.*/locale/|
    ^src/sentry/data/
)

  check-mypy-stronglist: any of: ^pyproject\.toml$, but not: (?x)(
    LICENSE.md$|
    \.snap$|
    \.map$|
    \.map\.js$|
    ^src/sentry/static/sentry/vendor/|
    ^src/.*/locale/|
    ^src/sentry/data/
)

  biome: any of: \.(jsx?|tsx?|css)$, but not: (?x)(
    LICENSE.md$|
    \.snap$|
    \.map$|
    \.map\.js$|
    ^src/sentry/static/sentry/vendor/|
    ^src/.*/locale/|
    ^src/sentry/data/
)

  eslint: any of: \.(ts|js|tsx|jsx|mjs)$, but not: (?x)(
    LICENSE.md$|
    \.snap$|
    \.map$|
    \.map\.js$|
    ^src/sentry/static/sentry/vendor/|
    ^src/.*/locale/|
    ^src/sentry/data/
)

  stylelint: any of: \.[jt]sx?$, but not: (?x)(
    LICENSE.md$|
    \.snap$|
    \.map$|
    \.map\.js$|
    ^src/sentry/static/sentry/vendor/|
    ^src/.*/locale/|
    ^src/sentry/data/
)

  prettier: any of: \.(yaml|yml)$, \.(md|markdown|mdown)$, \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.css$ and not ((?x)^($^
  # prettier crashes on some of these, by intent:
  |fixtures/.*
  # these have enormous diffs when formatted:
  |api-docs/paths/events/issue-hashes\.json
  |api-docs/paths/events/latest-event\.json
  |api-docs/paths/events/oldest-event\.json
  |api-docs/paths/events/project-event-details\.json
  |src/sentry/issues/event\.schema\.json
  |static/app/data/world\.json
  |static/app/utils/profiling/profile/formats/android/trace\.json
  |static/app/utils/profiling/profile/formats/ios/trace\.json
  |static/app/utils/profiling/profile/formats/node/trace\.json
  |static/app/utils/profiling/profile/formats/typescript/trace\.json
)$
) and not ((?x)(
    LICENSE.md$|
    \.snap$|
    \.map$|
    \.map\.js$|
    ^src/sentry/static/sentry/vendor/|
    ^src/.*/locale/|
    ^src/sentry/data/
)
)

feat(codecov): add integrated org picker and selector (#89937)
  static/app/components/codecov/integratedOrgSelector/integratedOrgSelector.spec.tsx
  static/app/components/codecov/integratedOrgSelector/integratedOrgSelector.tsx
  static/app/views/codecov/tests/tests.tsx
Due: biome, eslint, stylelint, prettier

ref: remove unused cast (#93185)
  src/sentry/discover/compare_tables.py
Due: pyupgrade, isort, flake8, mypy, check-mypy-bypass

fix(feedback): fix typo of turbo (#93179)
  tests/sentry/feedback/usecases/test_create_feedback.py
Due: pyupgrade, isort, flake8, mypy, check-mypy-bypass

fix(billing): Show per-category usage in combined usage card (#93174)
  static/gsApp/views/subscriptionPage/usageTotals.spec.tsx
  static/gsApp/views/subscriptionPage/usageTotals.tsx
Due: biome, eslint, stylelint, prettier

chore(cursor): Update tsx_tests.mdc (#93182)
  .cursor/rules/tsx_tests.mdc
Due: none

fix(billing): Fix toggling usage/spend charts for reserved budgets (#92790)
  static/gsApp/views/subscriptionPage/reservedUsageChart.spec.tsx
  static/gsApp/views/subscriptionPage/reservedUsageChart.tsx
Due: biome, eslint, stylelint, prettier

chore: add DemoModeGuardMiddleware logging (#92926)
  src/sentry/middleware/demo_mode_guard.py
  src/sentry/utils/auth.py
Due: pyupgrade, isort, flake8, mypy, check-mypy-bypass

fix(tempest): Onboarding wording update (#93210)
  static/app/views/settings/project/tempest/DevKitSettings.tsx
Due: biome, eslint, stylelint, prettier

fix(onboarding): Show correct minidump url in onbaording (#93208)
  static/app/gettingStartedDocs/minidump/minidump.tsx
Due: biome, eslint, stylelint, prettier

fix(demo-mode): cleanup demo-mode sync options (#92918)
  src/sentry/demo_mode/tasks.py
  src/sentry/options/defaults.py
  tests/sentry/demo_mode/test_tasks.py
Due: pyupgrade, isort, flake8, mypy, check-mypy-bypass

ref(sdk): Migrate to `get_isolation_scope` (#93019)
  src/sentry/data_export/tasks.py
  src/sentry/hybridcloud/rpc/service.py
  src/sentry/ingest/transaction_clusterer/rules.py
  src/sentry/integrations/source_code_management/commit_context.py
  src/sentry/integrations/source_code_management/repository.py
  src/sentry/integrations/utils/scope.py
  src/sentry/middleware/integrations/classifications.py
  src/sentry/replays/consumers/recording.py
  src/sentry/replays/usecases/ingest/__init__.py
  src/sentry/reprocessing2.py
  src/sentry/scim/endpoints/members.py
  src/sentry/sentry_apps/api/endpoints/sentry_app_authorizations.py
  src/sentry/shared_integrations/client/base.py
  src/sentry/utils/concurrent.py
  src/sentry/utils/snuba.py
  src/sentry/utils/snuba_rpc.py
  src/sentry/web/frontend/csrf_failure.py
  tests/relay_integration/test_sdk.py
Due: pyupgrade, isort, flake8, mypy, check-mypy-bypass

Revert "ref(spans): Pin redis sharding to partition index (#93209)"
  src/sentry/scripts/spans/add-buffer.lua
  src/sentry/spans/buffer.py
  src/sentry/spans/consumers/process/factory.py
  tests/sentry/spans/consumers/process/test_flusher.py
  tests/sentry/spans/test_buffer.py
Due: pyupgrade, isort, flake8, mypy, check-mypy-bypass

feat(screenshots): Update render logic (#93211)
  static/app/components/events/attachmentViewers/previewAttachmentTypes.tsx
  static/app/components/events/attachmentViewers/webmViewer.tsx
  static/app/components/events/eventTagsAndScreenshot/index.tsx
  static/app/components/events/eventTagsAndScreenshot/screenshot/index.tsx
  static/app/components/events/eventTagsAndScreenshot/screenshot/modal.tsx
  static/app/components/events/eventTagsAndScreenshot/screenshot/screenshotDataSection.tsx
Due: biome, eslint, stylelint, prettier

feat(attachments): Add webm visualization support (#93207)
  static/app/components/events/attachmentViewers/previewAttachmentTypes.tsx
  static/app/components/events/attachmentViewers/webmViewer.tsx
Due: biome, eslint, stylelint, prettier

fix(insights): laravel and nextJs should have same date restrictions as generic overview (#93149)
  static/app/views/insights/pages/backend/backendOverviewPage.tsx
  static/app/views/insights/pages/domainOverviewPageProviders.tsx
  static/app/views/insights/pages/frontend/frontendOverviewPage.tsx
  static/app/views/insights/pages/platform/shared/layout.tsx
Due: biome, eslint, stylelint, prettier

ref(spans): Pin redis sharding to partition index (#93209)
  src/sentry/scripts/spans/add-buffer.lua
  src/sentry/spans/buffer.py
  src/sentry/spans/consumers/process/factory.py
  tests/sentry/spans/consumers/process/test_flusher.py
  tests/sentry/spans/test_buffer.py
Due: pyupgrade, isort, flake8, mypy, check-mypy-bypass

feat(tempest): Dynamically fetch ip addresses (#93012)
  static/app/views/settings/project/tempest/EmptyState.tsx
Due: biome, eslint, stylelint, prettier

fix(replay): Return valid JSON when segment data is unavailable (#93212)
  src/sentry/replays/usecases/reader.py
  tests/sentry/replays/test_project_replay_recording_segment_index.py
Due: pyupgrade, isort, flake8, mypy, check-mypy-bypass

ref(sdk): Migrate to `sentry_sdk.get_global_scope` (#93020)
  src/sentry/testutils/pytest/sentry.py
Due: pyupgrade, isort, flake8, mypy, check-mypy-bypass

feat(browser-reporting): Add ReportingEndpoint header when staff loads Sentry (#93138)
  .github/CODEOWNERS
  pyproject.toml
  src/sentry/conf/server.py
  src/sentry/middleware/reporting_endpoint.py
  tests/sentry/middleware/test_reporting_endpoint.py
Due: pyupgrade, isort, flake8, mypy, check-mypy-bypass, sort-stronger-mypy-list, check-mypy-stronglist

ref(spans): Pin redis sharding to partition index (#93216)
  src/sentry/scripts/spans/add-buffer.lua
  src/sentry/spans/buffer.py
  src/sentry/spans/consumers/process/factory.py
  tests/sentry/spans/consumers/process/test_flusher.py
  tests/sentry/spans/test_buffer.py
Due: pyupgrade, isort, flake8, mypy, check-mypy-bypass

feat(dashboards): Add manager for updating dashboard favorite positions (#93140)
  migrations_lockfile.txt
  src/sentry/migrations/0926_dashboard_favorite_defer_position_constraint.py
  src/sentry/models/dashboard.py
  tests/sentry/models/test_dashboard.py
Due: pyupgrade, isort, flake8, mypy, check-mypy-bypass

feat(insights): open http response rate summary chart in comparison view (#93132)
  static/app/views/insights/common/components/widgets/httpDomainSummaryResponseCodesChartWidget.tsx
  static/app/views/insights/common/components/widgets/httpResponseCodesChartWidget.tsx
Due: biome, eslint, stylelint, prettier

fix(taskscheduler): Add a flag for which schedules should be on taskscheduler (#93139)
  src/sentry/conf/server.py
  src/sentry/options/defaults.py
  src/sentry/runner/commands/run.py
Due: pyupgrade, isort, flake8, mypy, check-mypy-bypass

feat(insights): add page op selector frontend overview (#93126)
  static/app/views/insights/pages/frontend/frontendOverviewPage.tsx
  static/app/views/insights/pages/frontend/frontendOverviewTable.tsx
  static/app/views/insights/pages/frontend/settings.ts
Due: biome, eslint, stylelint, prettier

feat(eap-spans): add `file_extension` field (#93219)
  src/sentry/search/eap/spans/attributes.py
  tests/snuba/api/endpoints/test_organization_events_span_indexed.py
Due: pyupgrade, isort, flake8, mypy, check-mypy-bypass

Reapply "fix(span-buffer): Do not use fork (#93026)" (#93218)
  src/sentry/spans/consumers/process/flusher.py
  src/sentry/utils/arroyo.py
Due: pyupgrade, isort, flake8, mypy, check-mypy-bypass

ref(spans): Remove deprecated CLI params (#93213)
  src/sentry/consumers/__init__.py
  src/sentry/spans/consumers/process/factory.py
Due: pyupgrade, isort, flake8, mypy, check-mypy-bypass

ref(security): Display Api Application / App Tokens for 5 minutes (#93222)
  src/sentry/api/serializers/models/apiapplication.py
  src/sentry/sentry_apps/api/serializers/sentry_app.py
  tests/sentry/sentry_apps/api/serializers/test_sentry_app.py
Due: pyupgrade, isort, flake8, mypy, check-mypy-bypass

Revert "feat(dashboards): Add manager for updating dashboard favorite positions (#93140)"
  migrations_lockfile.txt
  src/sentry/migrations/0926_dashboard_favorite_defer_position_constraint.py
  src/sentry/models/dashboard.py
  tests/sentry/models/test_dashboard.py
Due: pyupgrade, isort, flake8, mypy, check-mypy-bypass

fix(replay): Fix mobile replays that have multiple pages of segments (#93146)
  static/app/components/replays/replayContext.tsx
Due: biome, eslint, stylelint, prettier

fix(relocation) Treat '' as an empty set (#93177)
  src/sentry/runner/commands/backup.py
  tests/sentry/runner/commands/test_backup.py
Due: pyupgrade, isort, flake8, mypy, check-mypy-bypass

fix(dashboards-comparison): Use helper for widget url and rename sentry message (#93148)
  src/sentry/discover/compare_tables.py
Due: pyupgrade, isort, flake8, mypy, check-mypy-bypass

feat(ourlogs): Add an aggregates table (#93154)
  static/app/views/explore/contexts/logs/logsPageParams.tsx
  static/app/views/explore/logs/logsTab.tsx
  static/app/views/explore/logs/logsToolbar.tsx
  static/app/views/explore/logs/styles.tsx
  static/app/views/explore/logs/tables/logsAggregateTable.tsx
  static/app/views/explore/logs/types.tsx
  static/app/views/explore/logs/useLogsQuery.tsx
Due: biome, eslint, stylelint, prettier

fix(trace-eap-waterfall): Fixing typos and removing breadcrumbs from … (#93231)
  static/app/views/performance/newTraceDetails/traceDrawer/details/span/index.tsx
Due: biome, eslint, stylelint, prettier

fix(agents-insights): Query for tool span.op (#93237)
  static/app/views/insights/agentMonitoring/utils/query.tsx
Due: biome, eslint, stylelint, prettier

chore(issue-details): Fix new issues modal copy (#93227)
  static/app/utils/theme/theme.chonk.tsx
  static/app/views/issueDetails/issueDetailsTourModal.tsx
Due: biome, eslint, stylelint, prettier

fix(alerts): Fix IS_IN condition removing all spaces (#93144)
  src/sentry/rules/match.py
  tests/sentry/rules/conditions/test_event_attribute.py
Due: pyupgrade, isort, flake8, mypy, check-mypy-bypass

fix(crons): Add tooltip to env label when overflow (#93240)
  static/app/views/insights/crons/components/overviewTimeline/monitorEnvironmentLabel.tsx
Due: biome, eslint, stylelint, prettier
