Repository getsentry/sentry: changes, and which pre-commit hooks are due for each by the changed paths.
All: pyupgrade, isort, flake8, mypy, lint-requirements, requirements-overrides, check-mypy-bypass, sort-stronger-mypy-list, check-mypy-stronglist, biome, eslint, stylelint, prettier

Path conditions:
  pyupgrade: any of: \.py$, but not: (?x)(
    LICENSE.md$|
    \.snap$|
    \.map$|
    \.map\.js$|
    ^src/sentry/static/sentry/vendor/|
    ^src/.*/locale/|
    ^src/sentry/data/
)

  isort: any of: \.py$, but not: (?x)(
    LICENSE.md$|
    \.snap$|
    \.map$|
    \.map\.js$|
    ^src/sentry/static/sentry/vendor/|
    ^src/.*/locale/|
    ^src/sentry/data/
)

  flake8: any of: \.py$, but not: (?x)(
    LICENSE.md$|
    \.snap$|
    \.map$|
    \.map\.js$|
    ^src/sentry/static/sentry/vendor/|
    ^src/.*/locale/|
    ^src/sentry/data/
)

  mypy: any of: \.py$, but not: (?x)(
    LICENSE.md$|
    \.snap$|
    \.map$|
    \.map\.js$|
    ^src/sentry/static/sentry/vendor/|
    ^src/.*/locale/|
    ^src/sentry/data/
)

  lint-requirements: any of: requirements-.*\.txt$ and not (^requirements-getsentry-overrides\.txt$) and not ((?x)(
    LICENSE.md$|
    \.snap$|
    \.map$|
    \.map\.js$|
    ^src/sentry/static/sentry/vendor/|
    ^src/.*/locale/|
    ^src/sentry/data/
)
)
  requirements-overrides: any of: ^requirements-getsentry-overrides\.txt$, but not: (?x)(
    LICENSE.md$|
    \.snap$|
    \.map$|
    \.map\.js$|
    ^src/sentry/static/sentry/vendor/|
    ^src/.*/locale/|
    ^src/sentry/data/
)

  check-mypy-bypass: any of: \.py$, but not: (?x)(
    LICENSE.md$|
    \.snap$|
    \.map$|
    \.map\.js$|
    ^src/sentry/static/sentry/vendor/|
    ^src/.*/locale/|
    ^src/sentry/data/
)

  sort-stronger-mypy-list: any of: ^pyproject\.toml$, but not: (?x)(
    LICENSE.md$|
    \.snap$|
    \.map$|
    \.map\.js$|
    ^src/sentry/static/sentry/vendor/|
    ^src/.*/locale/|
    ^src/sentry/data/
)

  check-mypy-stronglist: any of: ^pyproject\.toml$, but not: (?x)(
    LICENSE.md$|
    \.snap$|
    \.map$|
    \.map\.js$|
    ^src/sentry/static/sentry/vendor/|
    ^src/.*/locale/|
    ^src/sentry/data/
)

  biome: any of: \.(jsx?|tsx?|css)$, but not: (?x)(
    LICENSE.md$|
    \.snap$|
    \.map$|
    \.map\.js$|
    ^src/sentry/static/sentry/vendor/|
    ^src/.*/locale/|
    ^src/sentry/data/
)

  eslint: any of: \.(ts|js|tsx|jsx|mjs)$, but not: (?x)(
    LICENSE.md$|
    \.snap$|
    \.map$|
    \.map\.js$|
    ^src/sentry/static/sentry/vendor/|
    ^src/.*/locale/|
    ^src/sentry/data/
)

  stylelint: any of: \.[jt]sx?$, but not: (?x)(
    LICENSE.md$|
    \.snap$|
    \.map$|
    \.map\.js$|
    ^src/sentry/static/sentry/vendor/|
    ^src/.*/locale/|
    ^src/sentry/data/
)

  prettier: any of: \.(yaml|yml)$, \.(md|markdown|mdown)$, \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.css$ and not ((?x)^($^
  # prettier crashes on some of these, by intent:
  |fixtures/.*
  # these have enormous diffs when formatted:
  |api-docs/paths/events/issue-hashes\.json
  |api-docs/paths/events/latest-event\.json
  |api-docs/paths/events/oldest-event\.json
  |api-docs/paths/events/project-event-details\.json
  |src/sentry/issues/event\.schema\.json
  |static/app/data/world\.json
  |static/app/utils/profiling/profile/formats/android/trace\.json
  |static/app/utils/profiling/profile/formats/ios/trace\.json
  |static/app/utils/profiling/profile/formats/node/trace\.json
  |static/app/utils/profiling/profile/formats/typescript/trace\.json
)$
) and not ((?x)(
    LICENSE.md$|
    \.snap$|
    \.map$|
    \.map\.js$|
    ^src/sentry/static/sentry/vendor/|
    ^src/.*/locale/|
    ^src/sentry/data/
)
)

feat(ui): Collapse registers by default when variables are present
  static/app/components/events/interfaces/frame/context.tsx
  static/app/components/events/interfaces/frame/frameRegisters/index.tsx
Due: biome, eslint, stylelint, prettier

fix(tracemetrics): Literals in equations delete incorrect item
  static/app/components/arithmeticBuilder/index.spec.tsx
  static/app/components/arithmeticBuilder/token/literal.tsx
Due: biome, eslint, stylelint, prettier

disable the view config buttons and update copy
  static/app/views/settings/organizationIntegrations/installedPlugin.tsx
  static/app/views/settings/organizationIntegrations/integrationListDirectory.spec.tsx
  static/app/views/settings/organizationIntegrations/pluginDetailedView.tsx
Due: biome, eslint, stylelint, prettier

feat(ui): Split native variables into Parameters and Locals sections
  static/app/components/events/interfaces/frame/frameVariables.tsx
Due: biome, eslint, stylelint, prettier

💚 delay import maybe fix ci
  src/sentry/notifications/platform/templates/workflow_engine/activity/seer_base.py
Due: pyupgrade, isort, flake8, mypy, check-mypy-bypass

✅ safe access for run_id
  src/sentry/notifications/platform/templates/workflow_engine/activity/seer_base.py
Due: pyupgrade, isort, flake8, mypy, check-mypy-bypass

fix(dashboards): Stretch heat map Visualize row full width
  static/app/views/dashboards/widgetBuilder/components/visualize/index.tsx
Due: biome, eslint, stylelint, prettier

more slack_staging
  src/sentry/incidents/endpoints/serializers/alert_rule_trigger_action.py
Due: pyupgrade, isort, flake8, mypy, check-mypy-bypass

💚 actually fix import issue
  src/sentry/notifications/apps.py
  src/sentry/notifications/notification_action/__init__.py
Due: pyupgrade, isort, flake8, mypy, check-mypy-bypass

Minor change
  static/gsApp/views/seerAutomation/components/monitoringProviders.tsx
Due: biome, eslint, stylelint, prettier

ref(dashboards): Address heat map review nits
  static/app/views/dashboards/datasetConfig/base.tsx
  static/app/views/dashboards/widgetBuilder/hooks/useWidgetBuilderState.tsx
  static/app/views/dashboards/widgetCard/chart.spec.tsx
  static/app/views/dashboards/widgetCard/chart.tsx
  static/app/views/dashboards/widgetCard/hooks/useHeatmapExploreUrl.tsx
  static/app/views/dashboards/widgetCard/hooks/useTraceMetricsWidgetQuery.spec.tsx
  static/app/views/dashboards/widgetCard/hooks/useTraceMetricsWidgetQuery.tsx
  static/app/views/dashboards/widgetCard/widgetCardChartContainer.tsx
  static/app/views/dashboards/widgets/heatMapWidget/settings.ts
Due: biome, eslint, stylelint, prettier

ref(apidocs): Skip route-specific deprecation schema
  src/sentry/api/helpers/deprecation.py
  src/sentry/apidocs/hooks.py
  src/sentry/apidocs/schema.py
  tests/sentry/apidocs/test_schema.py
Due: pyupgrade, isort, flake8, mypy, check-mypy-bypass

Do not retry on 400
  static/app/utils/queryClient.tsx
Due: biome, eslint, stylelint, prettier

Update link to docs
  static/app/utils/queryClient.tsx
Due: biome, eslint, stylelint, prettier

Bump to 3 retries
  static/app/utils/queryClient.tsx
Due: biome, eslint, stylelint, prettier

feat(seer): Run night shift every 12 hours
  src/sentry/conf/server.py
Due: pyupgrade, isort, flake8, mypy, check-mypy-bypass

feat(preprod): Add Download CSV button to build distribution view
  static/app/components/preprod/preprodBuildsSearchControls.tsx
  static/app/utils/analytics/preprodBuildAnalyticsEvents.tsx
  static/app/views/explore/releases/list/index.spec.tsx
  static/app/views/explore/releases/list/mobileBuilds.tsx
  static/app/views/preprod/utils/buildsExportHref.spec.ts
  static/app/views/preprod/utils/buildsExportHref.ts
Due: biome, eslint, stylelint, prettier

ref(seer): Type the last five seer RPC methods and lock the registries
  src/sentry/seer/agent/custom_tool_utils.py
  src/sentry/seer/agent/tools.py
  src/sentry/seer/assisted_query/issues_tools.py
  src/sentry/seer/endpoints/organization_seer_rpc.py
  src/sentry/seer/endpoints/registry.py
  src/sentry/seer/endpoints/seer_rpc.py
  src/sentry/seer/endpoints/utils.py
  src/sentry/seer/issue_detection.py
  src/sentry/seer/sentry_data_models.py
  tests/sentry/seer/agent/test_tools.py
  tests/sentry/seer/assisted_query/test_issues_tools.py
  tools/mypy_helpers/plugin.py
Due: pyupgrade, isort, flake8, mypy, check-mypy-bypass

feat(explore): Add table to store attribute and attribute context
  migrations_lockfile.txt
  src/sentry/backup/comparators.py
  src/sentry/explore/migrations/0008_add_trace_item_attribute_context.py
  src/sentry/explore/models.py
  src/sentry/testutils/helpers/backups.py
  tests/sentry/explore/test_models.py
Due: pyupgrade, isort, flake8, mypy, check-mypy-bypass

Restore setting name
  src/sentry/conf/server.py
Due: pyupgrade, isort, flake8, mypy, check-mypy-bypass

patch various st holes
  .github/workflows/scripts/compute-sentry-selected-tests.py
Due: pyupgrade, isort, flake8, mypy, check-mypy-bypass

feat(explore): Add table to store metric context
  migrations_lockfile.txt
  src/sentry/backup/comparators.py
  src/sentry/explore/migrations/0008_add_trace_item_attribute_value_context.py
  src/sentry/explore/models.py
  src/sentry/testutils/helpers/backups.py
  tests/sentry/explore/test_models.py
Due: pyupgrade, isort, flake8, mypy, check-mypy-bypass

feat(issue-progress): Open an issue preview drawer instead of navigating to issues
  static/app/components/groupHeaderRow.tsx
  static/app/components/stream/group.spec.tsx
  static/app/components/stream/group.tsx
  static/app/views/issueList/groupListBody.tsx
  static/app/views/issueList/issueListTable.tsx
  static/app/views/issueList/overview.tsx
  static/app/views/issueList/pages/awaitingInput.spec.tsx
  static/app/views/issueList/pages/awaitingInput.tsx
  static/app/views/issueList/pages/useIssuePreviewDrawer.spec.tsx
  static/app/views/issueList/pages/useIssuePreviewDrawer.tsx
Due: biome, eslint, stylelint, prettier

remove oauth2 from datadog identity provider
  src/sentry/identity/datadog/provider.py
  tests/sentry/identity/datadog/test_provider.py
Due: pyupgrade, isort, flake8, mypy, check-mypy-bypass

updating issue status labels
  src/sentry/tasks/summaries/weekly_reports.py
  src/sentry/templates/sentry/emails/reports/body.html
  src/sentry/web/frontend/debug/debug_weekly_report.py
  tests/sentry/tasks/test_weekly_reports.py
Due: pyupgrade, isort, flake8, mypy, check-mypy-bypass

fix test
  tests/snuba/api/endpoints/test_organization_events_stats.py
Due: pyupgrade, isort, flake8, mypy, check-mypy-bypass

fix(ourlogs): don't specify numeric threshold for data export emails
  static/app/views/explore/logs/exports/logsExportModal.tsx
Due: biome, eslint, stylelint, prettier

fix typing of serialization test
  tests/sentry/buffer/test_redis.py
Due: pyupgrade, isort, flake8, mypy, check-mypy-bypass

fix test title
  tests/sentry/buffer/test_redis.py
Due: pyupgrade, isort, flake8, mypy, check-mypy-bypass

dump and load bools
  src/sentry/buffer/redis.py
Due: pyupgrade, isort, flake8, mypy, check-mypy-bypass

fix case naming in test output
  tests/sentry/buffer/test_redis.py
Due: pyupgrade, isort, flake8, mypy, check-mypy-bypass

add bool testcase
  tests/sentry/buffer/test_redis.py
Due: pyupgrade, isort, flake8, mypy, check-mypy-bypass

fix: test
  tests/snuba/api/endpoints/test_organization_events_stats.py
Due: pyupgrade, isort, flake8, mypy, check-mypy-bypass

use nuqs
  static/app/views/issueList/pages/useIssuePreviewDrawer.spec.tsx
  static/app/views/issueList/pages/useIssuePreviewDrawer.tsx
Due: biome, eslint, stylelint, prettier

feat(autofix): Handle no write permissions in autofix
  static/app/components/events/autofix/types.ts
  static/app/components/events/autofix/useAutofixRepos.tsx
  static/app/components/events/autofix/v3/nextStep.tsx
  static/app/utils/integrations/useIntegrations.tsx
  static/app/views/settings/organizationRepositories/getProviderConfigUrl.ts
Due: biome, eslint, stylelint, prettier

ref: bump sentry-arroyo to 2.40.1
  pyproject.toml
  uv.lock
Due: sort-stronger-mypy-list, check-mypy-stronglist

cleaning up
  src/sentry/identity/datadog/provider.py
  tests/sentry/identity/datadog/test_provider.py
Due: pyupgrade, isort, flake8, mypy, check-mypy-bypass

address pr comments
  static/app/components/events/autofix/types.ts
  static/app/components/events/autofix/v3/nextStep.tsx
Due: biome, eslint, stylelint, prettier

ref(dashboards): Build heat map Explore link inside the widget
  static/app/views/dashboards/widgetCard/chart.tsx
  static/app/views/dashboards/widgetCard/hooks/useHeatmapExploreUrl.tsx
  static/app/views/dashboards/widgetCard/hooks/useHeatmapTraceMetric.tsx
  static/app/views/dashboards/widgets/heatMapWidget/heatMapWidgetVisualization.stories.tsx
  static/app/views/dashboards/widgets/heatMapWidget/heatMapWidgetVisualization.tsx
  static/app/views/explore/metrics/metricsHeatMap.tsx
Due: biome, eslint, stylelint, prettier
