Repository getsentry/sentry: changes, and which pre-commit hooks are due for each by the changed paths.
All: pyupgrade, black, isort, flake8, lint-requirements, pyright

.pre-commit-config.yaml:

exclude: >
    (?x)(
        LICENSE$|
        \.snap$|
        \.map$|
        \.map\.js$|
        ^src/sentry/static/sentry/vendor/|
        ^tests/sentry/lang/javascript/example-project/|
        ^src/.*/locale/|
        ^src/sentry/data/
    )

repos:
# Many of these hooks are local because people use a variety of IDEs
# with autoformatters that need to call out to things like `black` directly.
# pre-commit run is not the same, and something like pre-commit exec does
# not exist yet.
-   repo: local
    hooks:
    - id: pyupgrade
      name: pyupgrade
      entry: pyupgrade
      args: ['--py38-plus', '--keep-runtime-typing']
      language: system
      types: [python]
    # Configuration for black exists in pyproject.toml,
    # but we let pre-commit take care of the file filtering.
    - id: black
      name: black
      entry: black
      language: system
      types: [python]
      require_serial: true
    # Configuration for isort exists in pyproject.toml,
    # but we let pre-commit take care of the file filtering.
    - id: isort
      name: isort
      entry: isort
      language: system
      types: [python]
    # Configuration for flake8 exists in setup.cfg,
    # but we let pre-commit take care of the file filtering.
    - id: flake8
      name: flake8
      entry: flake8
      language: system
      types: [python]
      log_file: '.artifacts/flake8.pycodestyle.log'
    - id: lint-requirements
      name: lint-requirements
      entry: python -m tools.lint_requirements
      language: system
      files: requirements-frozen.txt
      pass_filenames: false
    - id: pyright
      name: pyright
      entry: pyright
      language: node
      files: ^src/
      types: [ python ]
      require_serial: true
      additional_dependencies: [ "pyright@1.1.186" ]
      args: [ '--project', 'pyrightconfig-commithook.json' ]

-   repo: https://github.com/python-jsonschema/check-jsonschema
    rev: 0.16.0
    hooks:
    - id: check-github-actions
    - id: check-github-workflows

-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.3.0
    hooks:
    - id: check-case-conflict
    - id: check-executables-have-shebangs
    - id: check-merge-conflict
    - id: check-symlinks
    - id: end-of-file-fixer
      exclude_types: [svg]
      exclude: ^fixtures/
    - id: trailing-whitespace
      exclude_types: [svg]
      exclude: ^(fixtures/|scripts/patches/)
    - id: debug-statements
    - id: name-tests-test
      args: [--pytest-test-first]

ref: Remove last reference to sentry.app.locks
  src/sentry/tasks/reprocessing.py
Due: pyupgrade, black, isort, flake8, pyright

ref: upgrade actions/cache to v3.0.8 (#38096)
  .github/actions/setup-volta/action.yml
  .github/workflows/acceptance.yml
  .github/workflows/backend.yml
  .github/workflows/development-environment.yml
  .github/workflows/frontend.yml
  .github/workflows/openapi-diff.yml
  .github/workflows/openapi.yml
  .github/workflows/sync-labels.yml
  tests/tools/test_bump_action.py
  tools/bump_action.py
Due: pyupgrade, black, isort, flake8

fix(metrics): Initialize arroyo all the time, so it runs in every process [sns-1622] (#37950)
  src/sentry/runner/commands/run.py
  src/sentry/runner/initializer.py
Due: pyupgrade, black, isort, flake8, pyright

ref: upgrade xmlsec to 1.3.12
  requirements-dev-frozen.txt
  requirements-frozen.txt
Due: lint-requirements

feat(span-details): Add a function to format timestamps with leading zero
  static/app/components/events/interfaces/spans/spanDetail.tsx
  static/app/components/events/interfaces/spans/utils.tsx
  static/app/views/performance/traceDetails/transactionDetail.tsx
Due: none

feat(discover): Allow selecting custom performance metrics in Discover Column Edit Modal (#38071)
  static/app/views/eventsV2/results.tsx
  static/app/views/eventsV2/table/columnEditModal.tsx
  static/app/views/eventsV2/table/index.tsx
  static/app/views/eventsV2/table/tableView.tsx
  tests/js/spec/views/eventsV2/table/columnEditModal.spec.jsx
Due: none

feat(replays): Timeline & Breadcrumb clicks auto-open related focus tab (#37989)
  static/app/components/replays/breadcrumbs/replayTimelineEvents.tsx
  static/app/views/replays/detail/breadcrumbs/breadcrumbItem.tsx
Due: none

stuff
  static/app/components/userMisery/"".wav
  static/app/components/userMisery/intense-misery.wav
  static/app/components/userMisery/misery.wav
Due: none

feat(perf): Allow expanding hidden spans in embedded span tree (#37866)
  static/app/components/events/eventEntry.tsx
  static/app/components/events/interfaces/spans/embeddedSpanTree.tsx
  static/app/components/events/interfaces/spans/index.tsx
  static/app/components/events/interfaces/spans/spanTree.tsx
  static/app/components/events/interfaces/spans/spanTreeModel.tsx
  static/app/components/events/interfaces/spans/traceView.tsx
  static/app/components/events/interfaces/spans/types.tsx
  static/app/components/events/interfaces/spans/utils.tsx
  static/app/components/events/interfaces/spans/waterfallModel.tsx
  static/app/components/performance/waterfall/messageRow.tsx
  static/app/types/event.tsx
  static/app/views/organizationGroupDetails/groupDetails.tsx
Due: none

feat(replays): Updated DOM mutation list design (#37997)
  static/app/views/replays/detail/domMutations/index.tsx
Due: none

use native js padStart
  static/app/components/events/interfaces/spans/spanDetail.tsx
  static/app/components/events/interfaces/spans/utils.tsx
Due: none

remove console.log
  static/app/components/events/interfaces/spans/spanDetail.tsx
Due: none

rename const
  static/app/components/events/interfaces/spans/utils.tsx
Due: none

feat(replays): Disable recording for non-production builds (#38078)
  static/app/components/sentryReplayInit.tsx
Due: none

ref: use ghcr image mirrors rather than docker hub
  src/sentry/conf/server.py
Due: pyupgrade, black, isort, flake8, pyright

Add DRF serializer
  src/sentry/replays/endpoints/organization_replay_index.py
  src/sentry/replays/serializers.py
  src/sentry/replays/utils.py
Due: pyupgrade, black, isort, flake8, pyright

ref: reshard backend
  .github/workflows/backend.yml
Due: none

Update static/app/components/group/seenInfo.tsx
  static/app/components/group/seenInfo.tsx
Due: none

ref(js): Convert EventDetails to a FC (#38164)
  static/app/views/eventsV2/eventDetails/index.tsx
Due: none

fix(replays): check for 0 length
  static/app/views/replays/detail/domMutations/index.tsx
Due: none

ref(js): Convert UserAvatar to a FC (#38167)
  static/app/components/avatar/avatarList.tsx
  static/app/components/avatar/index.tsx
  static/app/components/avatar/userAvatar.tsx
  static/app/components/idBadge/memberBadge.tsx
  static/app/components/idBadge/userBadge.tsx
Due: none

ref(js): Add type in organizationIntegrations (#38114)
  static/app/views/organizationIntegrations/integrationRepos.tsx
Due: none

Remove duplicate replay_config
  src/sentry/replays/query.py
Due: pyupgrade, black, isort, flake8, pyright

fix(replays): roll back origin change
  static/app/utils/replays/getCurrentUrl.tsx
Due: none

fix: typo and memo debounce fn
  static/app/views/replays/detail/network/index.tsx
  static/app/views/replays/detail/network/utils.tsx
Due: none

ref(js): Convert TextCopyInput to a FC (#38158)
  static/app/components/forms/textCopyInput.tsx
Due: none

ref(js): Avoid reconstructing SentryFunctionFormModel every render (#38154)
  static/app/views/settings/organizationDeveloperSettings/sentryFunctionDetails.tsx
Due: none

fix(issues): Apply all pending changes to groups (#38100)
  static/app/stores/groupStore.tsx
  tests/js/spec/stores/groupStore.spec.tsx
Due: none
