Repository getsentry/sentry: changes, and which pre-commit hooks are due for each by the changed paths.
All: pyupgrade, black, isort, flake8, lint-requirements, pyright

.pre-commit-config.yaml:

exclude: >
    (?x)(
        LICENSE$|
        \.snap$|
        \.map$|
        \.map\.js$|
        ^src/sentry/static/sentry/vendor/|
        ^src/.*/locale/|
        ^src/sentry/data/
    )

repos:
# Many of these hooks are local because people use a variety of IDEs
# with autoformatters that need to call out to things like `black` directly.
# pre-commit run is not the same, and something like pre-commit exec does
# not exist yet.
-   repo: local
    hooks:
    - id: pyupgrade
      name: pyupgrade
      entry: pyupgrade
      args: ['--py38-plus', '--keep-runtime-typing']
      language: system
      types: [python]
    # Configuration for black exists in pyproject.toml,
    # but we let pre-commit take care of the file filtering.
    - id: black
      name: black
      entry: black
      language: system
      types: [python]
      require_serial: true
    # Configuration for isort exists in pyproject.toml,
    # but we let pre-commit take care of the file filtering.
    - id: isort
      name: isort
      entry: isort
      language: system
      types: [python]
    # Configuration for flake8 exists in setup.cfg,
    # but we let pre-commit take care of the file filtering.
    - id: flake8
      name: flake8
      entry: flake8
      language: system
      types: [python]
      log_file: '.artifacts/flake8.pycodestyle.log'
    - id: lint-requirements
      name: lint-requirements
      entry: python -m tools.lint_requirements
      language: python
      files: requirements-.*\.txt$
      additional_dependencies: [packaging==21.3]
    - id: pyright
      name: pyright
      entry: pyright
      language: node
      files: ^src/
      types: [ python ]
      require_serial: true
      additional_dependencies: [ "pyright@1.1.186" ]
      args: [ '--project', 'pyrightconfig-commithook.json' ]
    - id: prevent-push
      name: prevent pushing master
      stages: [push]
      entry: bash -c 'test "$PRE_COMMIT_REMOTE_BRANCH" != "refs/heads/master"'
      always_run: true
      pass_filenames: false
      language: system

-   repo: https://github.com/python-jsonschema/check-jsonschema
    rev: 0.21.0
    hooks:
    - id: check-github-actions
    - id: check-github-workflows
      args: [--verbose]

-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.3.0
    hooks:
    - id: check-case-conflict
    - id: check-executables-have-shebangs
    - id: check-merge-conflict
    - id: check-symlinks
    - id: check-yaml
    - id: end-of-file-fixer
      exclude_types: [svg]
      exclude: ^fixtures/
    - id: trailing-whitespace
      exclude_types: [svg]
      exclude: ^(fixtures/|scripts/patches/)
    - id: debug-statements
    - id: name-tests-test
      args: [--pytest-test-first]

feat(hybrid-cloud): Add webhook identifier for getsentry requests (#55418)
  src/sentry/models/outbox.py
Due: pyupgrade, black, isort, flake8, pyright

fix(rules): Handle edge cases for duplicate alerts (#55412)
  src/sentry/api/endpoints/project_rules.py
  tests/sentry/api/endpoints/test_project_rule_details.py
Due: pyupgrade, black, isort, flake8, pyright

fix(replays): use 'safe_path' in post_process replay_id link (#55423)
  src/sentry/tasks/post_process.py
Due: pyupgrade, black, isort, flake8, pyright

ref(starfish): Rename plural enums (#55464)
  static/app/utils/discover/fieldRenderers.tsx
  static/app/views/performance/database/databaseLandingPage.tsx
  static/app/views/performance/database/databaseSpanSummaryPage.tsx
  static/app/views/starfish/components/chart.tsx
  static/app/views/starfish/components/spanDescription.tsx
  static/app/views/starfish/components/tableCells/renderHeadCell.tsx
  static/app/views/starfish/components/tableCells/spanDescriptionCell.tsx
  static/app/views/starfish/queries/useFullSpanFromTrace.tsx
  static/app/views/starfish/queries/useIndexedSpans.tsx
  static/app/views/starfish/queries/useSpanList.tsx
  static/app/views/starfish/queries/useSpanMetrics.tsx
  static/app/views/starfish/queries/useSpanMetricsSeries.tsx
  static/app/views/starfish/queries/useSpanSamples.tsx
  static/app/views/starfish/queries/useSpanTransactionMetrics.tsx
  static/app/views/starfish/types.tsx
  static/app/views/starfish/utils/buildEventViewQuery.tsx
  static/app/views/starfish/views/spanSummaryPage/index.tsx
  static/app/views/starfish/views/spanSummaryPage/sampleList/durationChart/index.tsx
  static/app/views/starfish/views/spanSummaryPage/sampleList/sampleInfo/index.tsx
  static/app/views/starfish/views/spanSummaryPage/sampleList/sampleTable/sampleTable.spec.tsx
  static/app/views/starfish/views/spanSummaryPage/sampleList/sampleTable/sampleTable.tsx
  static/app/views/starfish/views/spanSummaryPage/spanMetricsRibbon.spec.tsx
  static/app/views/starfish/views/spanSummaryPage/spanMetricsRibbon.tsx
  static/app/views/starfish/views/spanSummaryPage/spanSummaryView.tsx
  static/app/views/starfish/views/spanSummaryPage/spanTransactionsTable.tsx
  static/app/views/starfish/views/spans/index.tsx
  static/app/views/starfish/views/spans/selectors/actionSelector.tsx
  static/app/views/starfish/views/spans/selectors/domainSelector.tsx
  static/app/views/starfish/views/spans/selectors/spanOperationSelector.tsx
  static/app/views/starfish/views/spans/spanTimeCharts.tsx
  static/app/views/starfish/views/spans/spansTable.tsx
  static/app/views/starfish/views/spans/spansView.tsx
  static/app/views/starfish/views/spans/useModuleFilters.ts
  static/app/views/starfish/views/spans/useModuleSort.ts
  static/app/views/starfish/views/webServiceView/spanGroupBreakdown.tsx
  static/app/views/starfish/views/webServiceView/spanGroupBreakdownContainer.tsx
Due: none

feat(profiling): add battery usage chart (#55419)
  static/app/components/profiling/flamegraph/flamegraph.tsx
  static/app/components/profiling/flamegraph/flamegraphLayout.tsx
  static/app/utils/profiling/flamegraph/flamegraphStateProvider/flamegraphContext.tsx
  static/app/utils/profiling/flamegraph/flamegraphStateProvider/reducers/flamegraphPreferences.tsx
  static/app/utils/profiling/flamegraph/flamegraphTheme.tsx
Due: none

Revert "Revert "ci(codecov): enable automated test selection (dry-run)" (#55379)"
  .github/workflows/codecov_ats.yml
  codecov.yml
Due: none

chore(integrations): remove sentry app and slack disabling flags (#55402)
  src/sentry/conf/server.py
  src/sentry/features/__init__.py
  src/sentry/shared_integrations/client/base.py
  src/sentry/utils/sentry_apps/webhooks.py
  tests/sentry/integrations/slack/test_disable.py
  tests/sentry/tasks/test_sentry_apps.py
Due: pyupgrade, black, isort, flake8, pyright

fix: flakey test
  tests/snuba/api/endpoints/test_organization_events_stats_span_metrics.py
Due: pyupgrade, black, isort, flake8

ci: fix codecov-ats workflow
  .github/workflows/codecov_ats.yml
Due: none

feat(starfish): add chart panel and fix projects on sample list
  static/app/views/performance/database/databaseSpanSummaryPage.tsx
  static/app/views/starfish/components/chartPanel.tsx
  static/app/views/starfish/views/spanSummaryPage/index.tsx
  static/app/views/starfish/views/spanSummaryPage/sampleList/durationChart/index.tsx
  static/app/views/starfish/views/spanSummaryPage/sampleList/index.tsx
Due: none

chore(stat-detector): Update feature flag for Issue Details
  static/app/views/issueDetails/groupEventDetails/groupEventDetailsContent.tsx
Due: none

remove self-hosted e2e action
  .github/workflows/self-hosted-e2e-tests.yml
Due: none

fix(hc): Change to AuthProvider.get_auth_provider (#55416)
  src/sentry/api/endpoints/organization_auth_provider_details.py
  src/sentry/api/endpoints/organization_details.py
  src/sentry/api/endpoints/organization_member/requests/join.py
  src/sentry/scim/endpoints/members.py
  src/sentry/scim/endpoints/utils.py
  src/sentry/services/hybrid_cloud/auth/impl.py
  src/sentry/services/hybrid_cloud/auth/service.py
  src/sentry/web/frontend/organization_auth_settings.py
Due: pyupgrade, black, isort, flake8, pyright

feat(alerts): Record `alert.sent` analytics on incidents
  src/sentry/analytics/events/__init__.py
  src/sentry/analytics/events/alert_sent.py
  src/sentry/incidents/action_handlers.py
  src/sentry/integrations/msteams/utils.py
  src/sentry/integrations/opsgenie/utils.py
  src/sentry/integrations/pagerduty/utils.py
  src/sentry/integrations/slack/utils/notifications.py
  src/sentry/rules/actions/notify_event_service.py
  src/sentry/services/hybrid_cloud/integration/impl.py
  src/sentry/services/hybrid_cloud/integration/service.py
  tests/sentry/incidents/action_handlers/test_email.py
Due: pyupgrade, black, isort, flake8, pyright

ref(js): Convert PageOverlay to a FC
  static/app/components/pageOverlay.tsx
Due: none

fix: huh i thought pop was like get
  src/sentry/search/events/builder/spans_metrics.py
Due: pyupgrade, black, isort, flake8, pyright

feat(settings): Improve readability of ownership rule audit entries (#55422)
  static/app/views/settings/organizationAuditLog/auditLogList.tsx
Due: none

ref(eslint): Upgrade eslint-config-sentry
  package.json
  yarn.lock
Due: none

feat(replay): Performance table tab (#54518)
  static/app/utils/replays/replayReader.spec.tsx
  static/app/utils/replays/replayReader.tsx
  static/app/utils/replays/types.tsx
  static/app/views/replays/detail/layout/index.tsx
  static/app/views/replays/detail/perfTable/grabber.tsx
  static/app/views/replays/detail/perfTable/index.tsx
  static/app/views/replays/detail/perfTable/perfFilters.tsx
  static/app/views/replays/detail/perfTable/perfRow.tsx
  static/app/views/replays/detail/perfTable/perfTable.tsx
  static/app/views/replays/detail/perfTable/resizeableContainer.tsx
  static/app/views/replays/detail/perfTable/traceGrid.tsx
  static/app/views/replays/detail/perfTable/usePerfFilters.spec.tsx
  static/app/views/replays/detail/perfTable/usePerfFilters.tsx
  static/app/views/replays/detail/perfTable/useReplayPerfData.tsx
  static/app/views/replays/detail/perfTable/useVirtualScrolling.tsx
Due: none

feat(starfish): add chart panel and fix projects on sample list (#55468)
  static/app/views/performance/database/databaseSpanSummaryPage.tsx
  static/app/views/starfish/components/chartPanel.tsx
  static/app/views/starfish/views/spanSummaryPage/index.tsx
  static/app/views/starfish/views/spanSummaryPage/sampleList/durationChart/index.tsx
  static/app/views/starfish/views/spanSummaryPage/sampleList/index.tsx
Due: none

Move mock data into its own file, so the core stuff is easier to read/review
  static/app/utils/replays/hooks/mockA11yData.tsx
  static/app/utils/replays/hooks/useActiveReplayTab.tsx
  static/app/utils/replays/hooks/useReplayData.tsx
Due: none

remove sourcemap alerts
  static/app/components/events/interfaces/crashContent/exception/actionableItems.tsx
  static/app/components/events/interfaces/crashContent/exception/useActionableItems.tsx
  static/app/utils/analytics/issueAnalyticsEvents.tsx
Due: none

chore(stat-detector): Update feature flag for Issue Details (#55470)
  static/app/views/issueDetails/groupEventDetails/groupEventDetailsContent.tsx
Due: none

update mark_ok
  src/sentry/monitors/models.py
  tests/sentry/monitors/test_models.py
Due: pyupgrade, black, isort, flake8, pyright

feat(performance-starfish-db-widget) Cleaned up code
  static/app/views/performance/landing/views/backendView.tsx
  static/app/views/performance/landing/widgets/widgetDefinitions.tsx
  static/app/views/performance/landing/widgets/widgets/lineChartListWidget.tsx
Due: none

feat(first-event-severity): Add alert filter for issue severity (#55095)
  src/sentry/api/endpoints/project_rules_configuration.py
  src/sentry/constants.py
  src/sentry/rules/filters/issue_severity.py
  src/sentry/testutils/cases.py
  tests/sentry/api/endpoints/test_project_rules_configuration.py
  tests/sentry/rules/filters/test_issue_severity.py
Due: pyupgrade, black, isort, flake8, pyright

Fix test
  src/sentry/replays/usecases/replay_counts.py
  tests/sentry/replays/test_organization_replay_count.py
Due: pyupgrade, black, isort, flake8, pyright

fix(apple-crash-report): Fix download link not passing the correct value for minified
  static/app/components/events/interfaces/exception.tsx
  static/app/components/events/interfaces/exceptionV2.tsx
  static/app/components/events/interfaces/stackTrace.tsx
  static/app/components/events/interfaces/threads.tsx
  static/app/components/events/traceEventDataSection.tsx
Due: none

ref(js): Convert PageOverlay to a FC (#55168)
  static/app/components/pageOverlay.tsx
Due: none
