Repository getsentry/sentry: changes, and which pre-commit hooks are due for each by the changed paths.
All: pyupgrade, isort, flake8, mypy, lint-requirements, requirements-overrides, check-mypy-bypass, sort-stronger-mypy-list, check-mypy-stronglist, biome, eslint, stylelint, prettier

pyupgrade:
  name: pyupgrade
  entry: pyupgrade
  args:
  - --py311-plus
  language: system

isort:
  name: isort
  entry: isort
  language: system

flake8:
  name: flake8
  entry: flake8
  language: system
  log_file: .artifacts/flake8.pycodestyle.log

mypy:
  name: mypy
  entry: bash -c 'if [ -n "${SENTRY_MYPY_PRE_PUSH:-}" ]; then exec mypy "$@"; fi' --
  language: system
  stages:
  - pre-push
  require_serial: true

lint-requirements:
  name: lint-requirements
  entry: python -m tools.lint_requirements
  language: python
  additional_dependencies:
  - packaging==21.3

requirements-overrides:
  name: use pinned archives (see comment in file)
  stages:
  - commit
  language: pygrep
  entry: '(?x)
  
    ^
  
    # it''s a comment line
  
    (?!\#.*$)
  
    # it''s a blank line
  
    (?!$)
  
    # it''s a pinned archive
  
    (?![a-z-]+[ ]@[ ]https://github\.com/getsentry/[^/]+/archive/[a-f0-9]{40}\.zip$)
  
    '

check-mypy-bypass:
  name: do not bypass the type checker
  entry: '(^# *mypy: *ignore-errors|^# *type: *ignore|\bno_type_check\b)'
  language: pygrep

sort-stronger-mypy-list:
  name: sort stronger mypy list
  entry: python3 -m tools.mypy_helpers.sort_stronger_modules
  language: python

check-mypy-stronglist:
  name: check mypy stronglist
  entry: python3 -m tools.mypy_helpers.check_stronglist
  language: python

biome:
  name: biome (javascript, typescript, json)
  language: system
  entry: ./node_modules/.bin/biome check --log-level=error --write --files-ignore-unknown=true --no-errors-on-unmatched

eslint:
  name: eslint
  language: system
  entry: ./node_modules/.bin/eslint --quiet --fix

stylelint:
  name: stylelint
  language: system
  entry: ./node_modules/.bin/stylelint --quiet

prettier:
  name: prettier (yaml, markdown, ts, tsx, js, jsx, css)
  language: system
  entry: ./node_modules/.bin/prettier --log-level=error --write

render badge only if has feature flag
  static/app/views/performance/newTraceDetails/traceRow/traceIcons.tsx
Due: biome, eslint, stylelint, prettier

Specify type
  src/sentry/api/endpoints/group_ai_summary.py
Due: pyupgrade, isort, flake8, mypy, check-mypy-bypass

ref: fix typing for api.bases.organizationmember
  pyproject.toml
  src/sentry/api/bases/organizationmember.py
Due: pyupgrade, isort, flake8, mypy, check-mypy-bypass, sort-stronger-mypy-list, check-mypy-stronglist

ref(post_process): remove transactions logic
  src/sentry/tasks/post_process.py
  tests/sentry/tasks/test_post_process.py
Due: pyupgrade, isort, flake8, mypy, check-mypy-bypass

ref: fix typing for endpoints.organization_sessions
  pyproject.toml
  src/sentry/api/endpoints/organization_sessions.py
Due: pyupgrade, isort, flake8, mypy, check-mypy-bypass, sort-stronger-mypy-list, check-mypy-stronglist

ref: fix typing for endpoints.project_servicehook_stats
  pyproject.toml
  src/sentry/api/endpoints/project_servicehook_stats.py
Due: pyupgrade, isort, flake8, mypy, check-mypy-bypass, sort-stronger-mypy-list, check-mypy-stronglist

Fix typing
  src/sentry/api/endpoints/group_ai_summary.py
Due: pyupgrade, isort, flake8, mypy, check-mypy-bypass

ref: fix typing for endpoints.team_release_count
  pyproject.toml
  src/sentry/api/endpoints/team_release_count.py
Due: pyupgrade, isort, flake8, mypy, check-mypy-bypass, sort-stronger-mypy-list, check-mypy-stronglist

fix typing again
  src/sentry/api/endpoints/group_ai_summary.py
Due: pyupgrade, isort, flake8, mypy, check-mypy-bypass

ref: use RequestFactory to make requests in tests (#81813)
  src/sentry/testutils/cases.py
  tests/sentry/auth/test_superuser.py
Due: pyupgrade, isort, flake8, mypy, check-mypy-bypass

:recycle: ref: add slo for discord and msteams send message
  src/sentry/integrations/discord/actions/issue_alert/notification.py
  src/sentry/integrations/discord/actions/metric_alert.py
  src/sentry/integrations/msteams/actions/notification.py
  src/sentry/integrations/services/integration/impl.py
  tests/sentry/incidents/action_handlers/test_msteams.py
  tests/sentry/integrations/discord/test_issue_alert.py
  tests/sentry/integrations/msteams/test_notify_action.py
Due: pyupgrade, isort, flake8, mypy, check-mypy-bypass

fix eap alert detail query filter display attaching incorrect event type filter
  static/app/views/alerts/rules/metric/constants.tsx
  static/app/views/alerts/rules/metric/types.tsx
  static/app/views/alerts/utils/index.tsx
Due: biome, eslint, stylelint, prettier

rename
  static/app/views/dashboards/manage/dashboardTable.spec.tsx
  static/app/views/dashboards/manage/dashboardTable.tsx
Due: biome, eslint, stylelint, prettier

chore(codecov): Do not fail the codecov check
  codecov.yml
Due: prettier

add else condition
  src/sentry/api/endpoints/organization_dashboards.py
Due: pyupgrade, isort, flake8, mypy, check-mypy-bypass

feat(dashbaords): add dashboard favourite to table view (#81776)
  static/app/views/dashboards/manage/dashboardTable.spec.tsx
  static/app/views/dashboards/manage/dashboardTable.tsx
Due: biome, eslint, stylelint, prettier

feat(trace-view): Add faint project badges to span rows (#81819)
  static/app/views/performance/newTraceDetails/traceRow/traceIcons.tsx
  static/app/views/performance/newTraceDetails/traceRow/traceSpanRow.tsx
Due: biome, eslint, stylelint, prettier

feat(hydration error): Improve messaging and links to docs (#81787)
  static/app/components/replays/breadcrumbs/replayComparisonModal.tsx
  static/app/components/replays/diff/diffFeedbackBanner.tsx
  static/app/components/replays/diff/learnMoreButton.tsx
  static/app/components/replays/diff/replayDiffChooser.tsx
  static/app/components/replays/diff/replayMutationTree.tsx
  static/app/components/replays/diff/replaySliderDiff.tsx
  static/app/components/replays/diff/replayTextDiff.tsx
Due: biome, eslint, stylelint, prettier

feat(recommended-event): Update query for recommended (#81220)
  src/sentry/models/group.py
Due: pyupgrade, isort, flake8, mypy, check-mypy-bypass

chore(explore): Do not show average sample rate
  static/app/views/explore/charts/index.tsx
Due: biome, eslint, stylelint, prettier

feat(dashboards): enable 'pinning' favorites in dashboards endpoint (#81811)
  src/sentry/api/endpoints/organization_dashboards.py
  tests/sentry/api/endpoints/test_organization_dashboards.py
Due: pyupgrade, isort, flake8, mypy, check-mypy-bypass

ref: address comments
  src/sentry/search/eap/constants.py
Due: pyupgrade, isort, flake8, mypy, check-mypy-bypass

feat(devservices): Add healthcheck for postgres (#81714)
  devservices/config.yml
Due: prettier

fix(explore): Remove hover effect on sample spans (#81711)
  static/app/views/explore/tables/tracesTable/fieldRenderers.tsx
  static/app/views/explore/tables/tracesTable/index.tsx
  static/app/views/explore/tables/tracesTable/spansTable.tsx
Due: biome, eslint, stylelint, prettier

feat(dashboards): Use multiline x-axis date labels (#81810)
  static/app/components/charts/baseChart.tsx
  static/app/components/charts/components/xAxis.spec.tsx
  static/app/components/charts/components/xAxis.tsx
  static/app/components/charts/utils.tsx
  static/app/views/dashboards/widgetCard/chart.tsx
  static/app/views/dashboards/widgets/lineChartWidget/lineChartWidgetVisualization.tsx
Due: biome, eslint, stylelint, prettier

ref: remove unnecessary call to smart_str in db.models.manager.base
  src/sentry/db/models/manager/base.py
Due: pyupgrade, isort, flake8, mypy, check-mypy-bypass

fix(insights): customers not seeing empty state screen on developer plan (#81808)
  static/app/views/insights/cache/views/cacheLandingPage.spec.tsx
  static/app/views/insights/common/components/modulePageProviders.spec.tsx
  static/app/views/insights/common/components/modulePageProviders.tsx
  static/app/views/insights/common/components/moduleUpsellHookWrapper.spec.tsx
  static/app/views/insights/common/components/moduleUpsellHookWrapper.tsx
  static/app/views/insights/database/views/databaseLandingPage.spec.tsx
  static/app/views/insights/database/views/databaseSpanSummaryPage.spec.tsx
  static/app/views/insights/http/views/httpDomainSummaryPage.spec.tsx
  static/app/views/insights/mobile/screens/views/screensLandingPage.tsx
Due: biome, eslint, stylelint, prettier

feat(hydration error): Show timestamp of before/after diff markers in tooltips
  static/app/components/replays/diff/replayMutationTree.tsx
  static/app/components/replays/diff/replaySideBySideImageDiff.tsx
  static/app/components/replays/diff/replaySliderDiff.tsx
  static/app/components/replays/diff/replayTextDiff.tsx
  static/app/components/replays/diff/utils.tsx
  static/app/components/replays/replayTooltipTime.tsx
  static/app/views/replays/detail/timestampButton.tsx
Due: biome, eslint, stylelint, prettier

feat(rpc): Validate intervals (#81767)
  src/sentry/search/eap/constants.py
  src/sentry/snuba/spans_rpc.py
  tests/snuba/api/endpoints/test_organization_events_stats_span_indexed.py
Due: pyupgrade, isort, flake8, mypy, check-mypy-bypass

Path conditions:
  pyupgrade: any of: \.py$, but not: (?x)(
    LICENSE.md$|
    \.snap$|
    \.map$|
    \.map\.js$|
    ^src/sentry/static/sentry/vendor/|
    ^src/.*/locale/|
    ^src/sentry/data/
)

  isort: any of: \.py$, but not: (?x)(
    LICENSE.md$|
    \.snap$|
    \.map$|
    \.map\.js$|
    ^src/sentry/static/sentry/vendor/|
    ^src/.*/locale/|
    ^src/sentry/data/
)

  flake8: any of: \.py$, but not: (?x)(
    LICENSE.md$|
    \.snap$|
    \.map$|
    \.map\.js$|
    ^src/sentry/static/sentry/vendor/|
    ^src/.*/locale/|
    ^src/sentry/data/
)

  mypy: any of: \.py$, but not: (?x)(
    LICENSE.md$|
    \.snap$|
    \.map$|
    \.map\.js$|
    ^src/sentry/static/sentry/vendor/|
    ^src/.*/locale/|
    ^src/sentry/data/
)

  lint-requirements: any of: requirements-.*\.txt$ and not (^requirements-getsentry-overrides\.txt$) and not ((?x)(
    LICENSE.md$|
    \.snap$|
    \.map$|
    \.map\.js$|
    ^src/sentry/static/sentry/vendor/|
    ^src/.*/locale/|
    ^src/sentry/data/
)
)
  requirements-overrides: any of: ^requirements-getsentry-overrides\.txt$, but not: (?x)(
    LICENSE.md$|
    \.snap$|
    \.map$|
    \.map\.js$|
    ^src/sentry/static/sentry/vendor/|
    ^src/.*/locale/|
    ^src/sentry/data/
)

  check-mypy-bypass: any of: \.py$, but not: (?x)(
    LICENSE.md$|
    \.snap$|
    \.map$|
    \.map\.js$|
    ^src/sentry/static/sentry/vendor/|
    ^src/.*/locale/|
    ^src/sentry/data/
)

  sort-stronger-mypy-list: any of: ^pyproject\.toml$, but not: (?x)(
    LICENSE.md$|
    \.snap$|
    \.map$|
    \.map\.js$|
    ^src/sentry/static/sentry/vendor/|
    ^src/.*/locale/|
    ^src/sentry/data/
)

  check-mypy-stronglist: any of: ^pyproject\.toml$, but not: (?x)(
    LICENSE.md$|
    \.snap$|
    \.map$|
    \.map\.js$|
    ^src/sentry/static/sentry/vendor/|
    ^src/.*/locale/|
    ^src/sentry/data/
)

  biome: any of: \.(jsx?|tsx?|css)$, but not: (?x)(
    LICENSE.md$|
    \.snap$|
    \.map$|
    \.map\.js$|
    ^src/sentry/static/sentry/vendor/|
    ^src/.*/locale/|
    ^src/sentry/data/
)

  eslint: any of: \.[jt]sx?$, but not: (?x)(
    LICENSE.md$|
    \.snap$|
    \.map$|
    \.map\.js$|
    ^src/sentry/static/sentry/vendor/|
    ^src/.*/locale/|
    ^src/sentry/data/
)

  stylelint: any of: \.[jt]sx?$, but not: (?x)(
    LICENSE.md$|
    \.snap$|
    \.map$|
    \.map\.js$|
    ^src/sentry/static/sentry/vendor/|
    ^src/.*/locale/|
    ^src/sentry/data/
)

  prettier: any of: \.(yaml|yml)$, \.(md|markdown|mdown)$, \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.css$ and not ((?x)^($^
  # prettier crashes on some of these, by intent:
  |fixtures/.*
  # these have enormous diffs when formatted:
  |api-docs/paths/events/issue-hashes\.json
  |api-docs/paths/events/latest-event\.json
  |api-docs/paths/events/oldest-event\.json
  |api-docs/paths/events/project-event-details\.json
  |src/sentry/issues/event\.schema\.json
  |static/app/data/world\.json
  |static/app/utils/profiling/profile/formats/android/trace\.json
  |static/app/utils/profiling/profile/formats/ios/trace\.json
  |static/app/utils/profiling/profile/formats/node/trace\.json
  |static/app/utils/profiling/profile/formats/typescript/trace\.json
)$
) and not ((?x)(
    LICENSE.md$|
    \.snap$|
    \.map$|
    \.map\.js$|
    ^src/sentry/static/sentry/vendor/|
    ^src/.*/locale/|
    ^src/sentry/data/
)
)
