Repository getsentry/sentry: changes, and which pre-commit hooks are due for each by the changed paths.
All: pyupgrade, isort, flake8, mypy, lint-requirements, requirements-overrides, check-mypy-bypass, sort-stronger-mypy-list, check-mypy-stronglist, biome, eslint, stylelint, prettier

Path conditions:
  pyupgrade: any of: \.py$, but not: (?x)(
    LICENSE.md$|
    \.snap$|
    \.map$|
    \.map\.js$|
    ^src/sentry/static/sentry/vendor/|
    ^src/.*/locale/|
    ^src/sentry/data/
)

  isort: any of: \.py$, but not: (?x)(
    LICENSE.md$|
    \.snap$|
    \.map$|
    \.map\.js$|
    ^src/sentry/static/sentry/vendor/|
    ^src/.*/locale/|
    ^src/sentry/data/
)

  flake8: any of: \.py$, but not: (?x)(
    LICENSE.md$|
    \.snap$|
    \.map$|
    \.map\.js$|
    ^src/sentry/static/sentry/vendor/|
    ^src/.*/locale/|
    ^src/sentry/data/
)

  mypy: any of: \.py$, but not: (?x)(
    LICENSE.md$|
    \.snap$|
    \.map$|
    \.map\.js$|
    ^src/sentry/static/sentry/vendor/|
    ^src/.*/locale/|
    ^src/sentry/data/
)

  lint-requirements: any of: requirements-.*\.txt$ and not (^requirements-getsentry-overrides\.txt$) and not ((?x)(
    LICENSE.md$|
    \.snap$|
    \.map$|
    \.map\.js$|
    ^src/sentry/static/sentry/vendor/|
    ^src/.*/locale/|
    ^src/sentry/data/
)
)
  requirements-overrides: any of: ^requirements-getsentry-overrides\.txt$, but not: (?x)(
    LICENSE.md$|
    \.snap$|
    \.map$|
    \.map\.js$|
    ^src/sentry/static/sentry/vendor/|
    ^src/.*/locale/|
    ^src/sentry/data/
)

  check-mypy-bypass: any of: \.py$, but not: (?x)(
    LICENSE.md$|
    \.snap$|
    \.map$|
    \.map\.js$|
    ^src/sentry/static/sentry/vendor/|
    ^src/.*/locale/|
    ^src/sentry/data/
)

  sort-stronger-mypy-list: any of: ^pyproject\.toml$, but not: (?x)(
    LICENSE.md$|
    \.snap$|
    \.map$|
    \.map\.js$|
    ^src/sentry/static/sentry/vendor/|
    ^src/.*/locale/|
    ^src/sentry/data/
)

  check-mypy-stronglist: any of: ^pyproject\.toml$, but not: (?x)(
    LICENSE.md$|
    \.snap$|
    \.map$|
    \.map\.js$|
    ^src/sentry/static/sentry/vendor/|
    ^src/.*/locale/|
    ^src/sentry/data/
)

  biome: any of: \.(jsx?|tsx?|css)$, but not: (?x)(
    LICENSE.md$|
    \.snap$|
    \.map$|
    \.map\.js$|
    ^src/sentry/static/sentry/vendor/|
    ^src/.*/locale/|
    ^src/sentry/data/
)

  eslint: any of: \.(ts|js|tsx|jsx|mjs)$, but not: (?x)(
    LICENSE.md$|
    \.snap$|
    \.map$|
    \.map\.js$|
    ^src/sentry/static/sentry/vendor/|
    ^src/.*/locale/|
    ^src/sentry/data/
)

  stylelint: any of: \.[jt]sx?$, but not: (?x)(
    LICENSE.md$|
    \.snap$|
    \.map$|
    \.map\.js$|
    ^src/sentry/static/sentry/vendor/|
    ^src/.*/locale/|
    ^src/sentry/data/
)

  prettier: any of: \.(yaml|yml)$, \.(md|markdown|mdown)$, \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.css$ and not ((?x)^($^
  # prettier crashes on some of these, by intent:
  |fixtures/.*
  # these have enormous diffs when formatted:
  |api-docs/paths/events/issue-hashes\.json
  |api-docs/paths/events/latest-event\.json
  |api-docs/paths/events/oldest-event\.json
  |api-docs/paths/events/project-event-details\.json
  |src/sentry/issues/event\.schema\.json
  |static/app/data/world\.json
  |static/app/utils/profiling/profile/formats/android/trace\.json
  |static/app/utils/profiling/profile/formats/ios/trace\.json
  |static/app/utils/profiling/profile/formats/node/trace\.json
  |static/app/utils/profiling/profile/formats/typescript/trace\.json
)$
) and not ((?x)(
    LICENSE.md$|
    \.snap$|
    \.map$|
    \.map\.js$|
    ^src/sentry/static/sentry/vendor/|
    ^src/.*/locale/|
    ^src/sentry/data/
)
)

style(prevent): Update org defaults style (#102284)
  static/app/views/prevent/preventAI/manageReposPanel.tsx
Due: biome, eslint, stylelint, prettier

fix(eco): Allow superusers to view integration configuration (#102353)
  static/app/views/settings/organizationIntegrations/configureIntegration.tsx
  static/app/views/settings/organizationIntegrations/installedIntegration.tsx
  static/app/views/settings/organizationIntegrations/integrationDetailedView.tsx
Due: biome, eslint, stylelint, prettier

feat(ai-insights): open traces drawer from conversation table (#102386)
  static/app/views/insights/agents/components/conversationsTable.tsx
  static/app/views/insights/agents/components/drawer.tsx
  static/app/views/insights/agents/components/tracesTable.tsx
Due: biome, eslint, stylelint, prettier

ref: bump sentry-arroyo to 2.30.0 (#102390)
  pyproject.toml
  uv.lock
Due: sort-stronger-mypy-list, check-mypy-stronglist

ref(onboarding): Split Minidump onboarding doc into multiple files (#102306)
  static/app/gettingStartedDocs/minidump/minidump/index.tsx
  static/app/gettingStartedDocs/minidump/minidump/onboarding.spec.tsx
  static/app/gettingStartedDocs/minidump/minidump/onboarding.tsx
Due: biome, eslint, stylelint, prettier

ref(onboarding): Split bun onboarding doc into multiple files (#102288)
  static/app/gettingStartedDocs/bun/bun/crashReport.tsx
  static/app/gettingStartedDocs/bun/bun/index.tsx
  static/app/gettingStartedDocs/bun/bun/onboarding.spec.tsx
  static/app/gettingStartedDocs/bun/bun/onboarding.tsx
Due: biome, eslint, stylelint, prettier

ref(onboarding): Split dart onboarding doc into multiple files (#102291)
  static/app/gettingStartedDocs/dart/dart/crashReport.tsx
  static/app/gettingStartedDocs/dart/dart/index.tsx
  static/app/gettingStartedDocs/dart/dart/logs.tsx
  static/app/gettingStartedDocs/dart/dart/onboarding.spec.tsx
  static/app/gettingStartedDocs/dart/dart/onboarding.tsx
  static/app/gettingStartedDocs/flutter/flutter.tsx
Due: biome, eslint, stylelint, prettier

ref(onboarding): Split Exilir onboarding doc into multiple files (#102307)
  static/app/gettingStartedDocs/elixir/elixir/crashReport.tsx
  static/app/gettingStartedDocs/elixir/elixir/index.tsx
  static/app/gettingStartedDocs/elixir/elixir/onboarding.spec.tsx
  static/app/gettingStartedDocs/elixir/elixir/onboarding.tsx
Due: biome, eslint, stylelint, prettier

ref(onboarding): Split console onboarding docs into multiple files (#102293)
  static/app/gettingStartedDocs/console/nintendo-switch/index.tsx
  static/app/gettingStartedDocs/console/nintendo-switch/onboarding.tsx
  static/app/gettingStartedDocs/console/playstation/index.tsx
  static/app/gettingStartedDocs/console/playstation/onboarding.tsx
  static/app/gettingStartedDocs/console/playstation/utils.tsx
  static/app/gettingStartedDocs/console/xbox/index.tsx
  static/app/gettingStartedDocs/console/xbox/onboarding.tsx
Due: biome, eslint, stylelint, prettier

ref(onboarding): Split ionic onboarding doc into multiple files (#102309)
  static/app/gettingStartedDocs/ionic/ionic/index.tsx
Due: biome, eslint, stylelint, prettier

ref(onboarding): Split Deno onboarding doc into multiple files (#102292)
  static/app/gettingStartedDocs/deno/deno/index.tsx
  static/app/gettingStartedDocs/deno/deno/onboarding.spec.tsx
  static/app/gettingStartedDocs/deno/deno/onboarding.tsx
Due: biome, eslint, stylelint, prettier

ref(coding-agents): Extract coding agent triggering logic to dedicated file (#102316)
  src/sentry/integrations/api/endpoints/organization_coding_agents.py
  src/sentry/seer/autofix/coding_agent.py
  tests/sentry/integrations/api/endpoints/test_organization_coding_agents.py
Due: pyupgrade, isort, flake8, mypy, check-mypy-bypass

feat: Update codeowners to new team (#102204)
  .github/CODEOWNERS
  src/sentry/api/api_owners.py
Due: pyupgrade, isort, flake8, mypy, check-mypy-bypass

fix(explorer): Hover state fixes (#102372)
  static/app/views/seerExplorer/explorerPanel.tsx
  static/app/views/seerExplorer/inputSection.tsx
  static/app/views/seerExplorer/slashCommands.tsx
Due: biome, eslint, stylelint, prettier

fix(explore): Runtime error on stringTags.hasOwnProperty (#102355)
  static/app/components/performance/spanSearchQueryBuilder.tsx
  static/app/views/explore/components/traceItemSearchQueryBuilder.tsx
  static/app/views/explore/hooks/useExploreSuggestedAttribute.tsx
  static/app/views/explore/hooks/useGroupByFields.tsx
  static/app/views/explore/tables/columnEditorModal.tsx
  static/app/views/explore/utils.tsx
Due: biome, eslint, stylelint, prettier

feat(deletions): Fetch subset of fields for Group deletions (#102315)
  src/sentry/deletions/defaults/group.py
  src/sentry/options/defaults.py
  tests/sentry/deletions/test_group.py
Due: pyupgrade, isort, flake8, mypy, check-mypy-bypass

fix(aci): handle IntegrityErrors when creating IGOPs (#102189)
  src/sentry/workflow_engine/models/incident_groupopenperiod.py
Due: pyupgrade, isort, flake8, mypy, check-mypy-bypass

ref(insights): Update laravel/nextjs cursor logic (#102303)
  static/app/views/insights/agents/components/headSortCell.tsx
  static/app/views/insights/agents/components/modelsTable.tsx
  static/app/views/insights/agents/components/toolsTable.tsx
  static/app/views/insights/mcp/components/mcpPromptsTable.tsx
  static/app/views/insights/mcp/components/mcpResourcesTable.tsx
  static/app/views/insights/mcp/components/mcpToolsTable.tsx
  static/app/views/insights/pages/platform/laravel/commandsTable.tsx
  static/app/views/insights/pages/platform/laravel/index.tsx
  static/app/views/insights/pages/platform/laravel/jobsTable.tsx
  static/app/views/insights/pages/platform/laravel/pathsTable.tsx
  static/app/views/insights/pages/platform/nextjs/apiTable.tsx
  static/app/views/insights/pages/platform/nextjs/clientTable.tsx
  static/app/views/insights/pages/platform/shared/table/index.tsx
  static/app/views/insights/pages/platform/shared/table/useTableData.tsx
Due: biome, eslint, stylelint, prettier

fix(explorer): Add project ids as optional filtering param on trace query RPCs (#102342)
  src/sentry/seer/explorer/tools.py
Due: pyupgrade, isort, flake8, mypy, check-mypy-bypass

ref(redis): Do not use redis-blaster for auth idpmigration (#102319)
  src/sentry/auth/idpmigration.py
  src/sentry/conf/server.py
  tests/sentry/auth/test_idpmigration.py
Due: pyupgrade, isort, flake8, mypy, check-mypy-bypass

ref(onboarding): Split rack onboarding doc into multiple files (#102202)
  static/app/gettingStartedDocs/ruby/rack/index.tsx
  static/app/gettingStartedDocs/ruby/rack/onboarding.spec.tsx
  static/app/gettingStartedDocs/ruby/rack/onboarding.tsx
Due: biome, eslint, stylelint, prettier

ref(onboarding): Split Cordova onboarding doc into multiple files (#102305)
  static/app/gettingStartedDocs/cordova/cordova/crashReport.tsx
  static/app/gettingStartedDocs/cordova/cordova/index.tsx
  static/app/gettingStartedDocs/cordova/cordova/onboarding.spec.tsx
  static/app/gettingStartedDocs/cordova/cordova/onboarding.tsx
Due: biome, eslint, stylelint, prettier

fix(demo-mode): logout demo user on accept invite (#102317)
  src/sentry/api/endpoints/accept_organization_invite.py
Due: pyupgrade, isort, flake8, mypy, check-mypy-bypass

chore(explore): migrate page params hooks to query params (#102365)
  static/app/components/modals/explore/saveQueryModal.tsx
  static/app/views/explore/contexts/pageParamsContext/aggregateFields.tsx
  static/app/views/explore/contexts/pageParamsContext/aggregateSortBys.tsx
  static/app/views/explore/contexts/pageParamsContext/dataset.tsx
  static/app/views/explore/contexts/pageParamsContext/fields.tsx
  static/app/views/explore/contexts/pageParamsContext/id.tsx
  static/app/views/explore/contexts/pageParamsContext/index.spec.tsx
  static/app/views/explore/contexts/pageParamsContext/index.tsx
  static/app/views/explore/contexts/pageParamsContext/mode.tsx
  static/app/views/explore/contexts/pageParamsContext/query.tsx
  static/app/views/explore/contexts/pageParamsContext/sortBys.tsx
  static/app/views/explore/contexts/pageParamsContext/title.tsx
  static/app/views/explore/hooks/useSaveQuery.tsx
  static/app/views/explore/hooks/useTab.spec.tsx
  static/app/views/explore/hooks/useTab.tsx
  static/app/views/explore/spans/spansExport.spec.tsx
  static/app/views/explore/spans/spansTab.tsx
  static/app/views/explore/utils.tsx
Due: biome, eslint, stylelint, prettier

fix(widget-builder): Expose numeric attributes for grouping (#102360)
  static/app/views/dashboards/datasetConfig/spans.spec.tsx
  static/app/views/dashboards/datasetConfig/spans.tsx
Due: biome, eslint, stylelint, prettier

feat(tracemetrics): Make aggregate table scrollable with sticky column (#102359)
  static/app/views/discover/table/cellAction.tsx
  static/app/views/explore/metrics/metricInfoTabs/aggregatesTab.tsx
Due: biome, eslint, stylelint, prettier

fix(dashboards): Remove filter change logic that ignores filter removal (#102404)
  static/app/views/dashboards/detail.tsx
Due: biome, eslint, stylelint, prettier

feat(span-enrichment): set & propagate `sentry.segment.name` (#102171)
  src/sentry/spans/consumers/process_segments/message.py
  tests/sentry/spans/consumers/process_segments/test_message.py
Due: pyupgrade, isort, flake8, mypy, check-mypy-bypass

fix(ui2): Align trailingItems and expand chevron in Alert (#102401)
  static/app/components/core/alert/alert.chonk.tsx
  static/app/components/core/alert/alert.mdx
Due: biome, eslint, stylelint, prettier

ref: Consolidate AI rules into AGENTS.md files (#102379)
  .cursor/rules/python.mdc
  .cursor/rules/typescript_tests.mdc
  AGENTS.md
  CLAUDE.md
  static/AGENTS.md
  static/CLAUDE.md
Due: prettier

fix(tracemetrics): Overlapped groupbys accidentally get box-shadow (#102402)
  static/app/views/explore/metrics/metricInfoTabs/aggregatesTab.tsx
Due: biome, eslint, stylelint, prettier

chore(preprod): hide pagination when not needed (EME-482) (#102324)
  static/app/views/preprod/buildComparison/main/sizeCompareSelectionContent.tsx
Due: biome, eslint, stylelint, prettier

fix(insights): Gracefully fail if span op is missing (#102143)
  static/app/views/insights/pages/backend/backendTable.tsx
  static/app/views/insights/pages/mobile/mobileOverviewTable.tsx
Due: biome, eslint, stylelint, prettier

chore(aci): Remove AlertRule-related logic from SubscriptionProcessor (#102174)
  src/sentry/incidents/subscription_processor.py
  tests/sentry/incidents/subscription_processor/test_subscription_processor.py
  tests/sentry/incidents/subscription_processor/test_subscription_processor_aci.py
  tests/sentry/incidents/subscription_processor/test_subscription_processor_base.py
  tests/sentry/incidents/subscription_processor/test_subscription_processor_workflow_engine.py
  tests/snuba/incidents/test_tasks.py
Due: pyupgrade, isort, flake8, mypy, check-mypy-bypass

feat(analytics): Add Seer access tracking to Issue Details Viewed event (#102358)
  static/app/views/issueDetails/groupDetails.spec.tsx
  static/app/views/issueDetails/groupDetails.tsx
Due: biome, eslint, stylelint, prettier

feat(logs): Limit auto fetch attempts (#102286)
  static/app/views/explore/logs/tables/logsInfiniteTable.tsx
  static/app/views/explore/logs/useLogsQuery.spec.tsx
  static/app/views/explore/logs/useLogsQuery.tsx
  static/app/views/explore/logs/useLogsTimeseries.spec.tsx
  static/app/views/explore/logs/useStreamingTimeseriesResult.spec.tsx
Due: biome, eslint, stylelint, prettier

feat(settings): Add vercel log drain endpoint to project key settings (#102155)
  static/app/types/project.tsx
  static/app/views/settings/project/loaderScript.spec.tsx
  static/app/views/settings/project/projectKeys/credentials/index.tsx
  static/app/views/settings/project/projectKeys/credentials/otlp.tsx
  static/app/views/settings/project/projectKeys/credentials/vercel.tsx
  static/app/views/settings/project/projectKeys/details/keySettings.tsx
  static/app/views/settings/project/projectKeys/list/index.spec.tsx
  static/app/views/settings/project/projectKeys/list/keyRow.tsx
  tests/js/fixtures/projectKeys.ts
  tests/js/sentry-test/onboarding/renderWithOnboardingLayout.tsx
Due: biome, eslint, stylelint, prettier

chore(explore): Remove unused page params provider (#102393)
  static/app/utils/discover/eventView.tsx
  static/app/views/explore/components/schemaHints/schemaHintsList.spec.tsx
  static/app/views/explore/contexts/pageParamsContext/aggregateFields.tsx
  static/app/views/explore/contexts/pageParamsContext/aggregateSortBys.tsx
  static/app/views/explore/contexts/pageParamsContext/dataset.tsx
  static/app/views/explore/contexts/pageParamsContext/fields.tsx
  static/app/views/explore/contexts/pageParamsContext/groupBys.tsx
  static/app/views/explore/contexts/pageParamsContext/id.tsx
  static/app/views/explore/contexts/pageParamsContext/index.spec.tsx
  static/app/views/explore/contexts/pageParamsContext/index.tsx
  static/app/views/explore/contexts/pageParamsContext/mode.tsx
  static/app/views/explore/contexts/pageParamsContext/query.tsx
  static/app/views/explore/contexts/pageParamsContext/sortBys.tsx
  static/app/views/explore/contexts/pageParamsContext/title.tsx
  static/app/views/explore/contexts/pageParamsContext/visualizes.tsx
  static/app/views/explore/hooks/useAddToDashboard.spec.tsx
  static/app/views/explore/hooks/useExploreAggregatesTable.spec.tsx
  static/app/views/explore/hooks/useExploreSpansTable.spec.tsx
  static/app/views/explore/hooks/useExploreTimeseries.spec.tsx
  static/app/views/explore/hooks/useSortByFields.spec.tsx
  static/app/views/explore/hooks/useVisualizeFields.spec.tsx
  static/app/views/explore/logs/useLogsAggregatesTable.spec.tsx
  static/app/views/explore/logs/useLogsTimeseries.spec.tsx
  static/app/views/explore/multiQueryMode/content.spec.tsx
  static/app/views/explore/spans/charts/index.spec.tsx
  static/app/views/explore/spans/content.tsx
  static/app/views/explore/spans/spansTab.spec.tsx
  static/app/views/explore/tables/fieldRenderer.spec.tsx
  static/app/views/explore/toolbar/index.spec.tsx
Due: biome, eslint, stylelint, prettier

feat(autofix): Add analytics tracking for Find Solution button (#102381)
  static/app/components/events/autofix/autofixRootCause.tsx
Due: biome, eslint, stylelint, prettier
