Repository getsentry/sentry: changes, and which pre-commit hooks are due for each by the changed paths.
All: pyupgrade, isort, flake8, mypy, lint-requirements, requirements-overrides, check-mypy-bypass, sort-stronger-mypy-list, check-mypy-stronglist

Path conditions:
  pyupgrade: any of: \.py$, but not: (?x)(
    LICENSE.md$|
    \.snap$|
    \.map$|
    \.map\.js$|
    ^src/sentry/static/sentry/vendor/|
    ^src/.*/locale/|
    ^src/sentry/data/
)

  isort: any of: \.py$, but not: (?x)(
    LICENSE.md$|
    \.snap$|
    \.map$|
    \.map\.js$|
    ^src/sentry/static/sentry/vendor/|
    ^src/.*/locale/|
    ^src/sentry/data/
)

  flake8: any of: \.py$, but not: (?x)(
    LICENSE.md$|
    \.snap$|
    \.map$|
    \.map\.js$|
    ^src/sentry/static/sentry/vendor/|
    ^src/.*/locale/|
    ^src/sentry/data/
)

  mypy: any of: \.py$, but not: (?x)(
    LICENSE.md$|
    \.snap$|
    \.map$|
    \.map\.js$|
    ^src/sentry/static/sentry/vendor/|
    ^src/.*/locale/|
    ^src/sentry/data/
)

  lint-requirements: any of: requirements-.*\.txt$ and not (^requirements-getsentry-overrides\.txt$) and not ((?x)(
    LICENSE.md$|
    \.snap$|
    \.map$|
    \.map\.js$|
    ^src/sentry/static/sentry/vendor/|
    ^src/.*/locale/|
    ^src/sentry/data/
)
)
  requirements-overrides: any of: ^requirements-getsentry-overrides\.txt$, but not: (?x)(
    LICENSE.md$|
    \.snap$|
    \.map$|
    \.map\.js$|
    ^src/sentry/static/sentry/vendor/|
    ^src/.*/locale/|
    ^src/sentry/data/
)

  check-mypy-bypass: any of: \.py$, but not: (?x)(
    LICENSE.md$|
    \.snap$|
    \.map$|
    \.map\.js$|
    ^src/sentry/static/sentry/vendor/|
    ^src/.*/locale/|
    ^src/sentry/data/
)

  sort-stronger-mypy-list: any of: ^pyproject\.toml$, but not: (?x)(
    LICENSE.md$|
    \.snap$|
    \.map$|
    \.map\.js$|
    ^src/sentry/static/sentry/vendor/|
    ^src/.*/locale/|
    ^src/sentry/data/
)

  check-mypy-stronglist: any of: ^pyproject\.toml$, but not: (?x)(
    LICENSE.md$|
    \.snap$|
    \.map$|
    \.map\.js$|
    ^src/sentry/static/sentry/vendor/|
    ^src/.*/locale/|
    ^src/sentry/data/
)


ref(trace) add analytics for node type click (#73296)
  static/app/utils/analytics/tracingEventMap.tsx
  static/app/views/performance/newTraceDetails/index.tsx
  static/app/views/performance/newTraceDetails/traceModels/traceTree.tsx
Due: none

add beta badge
  static/app/components/replays/header/detailsPageBreadcrumbs.tsx
  static/app/views/replays/detail/page.tsx
  static/app/views/replays/list.tsx
Due: none

remove block kit flag from get actions list in webhook
  src/sentry/integrations/slack/webhooks/action.py
  tests/sentry/integrations/slack/webhooks/actions/test_status.py
Due: pyupgrade, isort, flake8, mypy, check-mypy-bypass

feat(replay): Upgrade SDKs to `8.12.0-beta.0` to test rrweb (#73232)
  package.json
  yarn.lock
Due: none

ref: address comments
  src/sentry/search/events/builder/discover.py
  src/sentry/search/events/builder/metrics.py
Due: pyupgrade, isort, flake8, mypy, check-mypy-bypass

ref: remove extra
  src/sentry/search/events/builder/profile_functions.py
Due: pyupgrade, isort, flake8, mypy, check-mypy-bypass

skip failing tets since feature is disabled
  tests/sentry/integrations/github/test_client.py
  tests/sentry/integrations/gitlab/test_client.py
  tests/sentry/integrations/slack/test_disable.py
Due: pyupgrade, isort, flake8, mypy, check-mypy-bypass

fix examples and schemas
  src/sentry/api/serializers/models/organization.py
  src/sentry/api/serializers/models/project.py
  src/sentry/api/serializers/models/role.py
  src/sentry/apidocs/examples/organization_examples.py
  src/sentry/apidocs/examples/project_examples.py
  src/sentry/apidocs/examples/team_examples.py
Due: pyupgrade, isort, flake8, mypy, check-mypy-bypass

fix(trace-explorer): Multi user condition ordered traces
  src/sentry/api/endpoints/organization_traces.py
  src/sentry/search/events/builder/discover.py
  tests/sentry/api/endpoints/test_organization_traces.py
Due: pyupgrade, isort, flake8, mypy, check-mypy-bypass

ref: remove extra type annotations
  src/sentry/search/events/builder/profile_functions.py
Due: pyupgrade, isort, flake8, mypy, check-mypy-bypass

feat(new-trace): Fixed tests and added trace column to the table
  static/app/views/issueDetails/allEventsTable.tsx
Due: none

wait don't make this private
  src/sentry/api/serializers/models/organization.py
  src/sentry/api/serializers/types.py
  src/sentry/apidocs/examples/organization_examples.py
  src/sentry/apidocs/examples/project_examples.py
  src/sentry/apidocs/examples/team_examples.py
Due: pyupgrade, isort, flake8, mypy, check-mypy-bypass

wrap/ellipsis long metric activity
  static/app/views/alerts/rules/metric/details/metricActivity.tsx
Due: none

fix(new-trace): Fixes traceslug missing when naving from issue detail… (#73285)
  static/app/views/issueDetails/allEventsTable.tsx
Due: none

little more typing
  src/sentry/api/serializers/models/organization.py
Due: pyupgrade, isort, flake8, mypy, check-mypy-bypass

feat(testing): Mark some tests with querybuilder for smoke tests
  pyproject.toml
  tests/sentry/search/events/builder/test_discover.py
  tests/sentry/search/events/builder/test_errors.py
  tests/sentry/search/events/builder/test_metrics.py
  tests/sentry/search/events/builder/test_profile_functions.py
  tests/sentry/search/events/builder/test_profile_functions_metrics.py
  tests/sentry/search/events/builder/test_span_metrics.py
  tests/sentry/search/events/builder/test_spans_indexed.py
  tests/snuba/api/endpoints/test_organization_events_histogram.py
  tests/snuba/api/endpoints/test_organization_events_mep.py
  tests/snuba/api/endpoints/test_organization_events_span_indexed.py
  tests/snuba/api/endpoints/test_organization_events_span_metrics.py
  tests/snuba/api/endpoints/test_organization_events_stats.py
  tests/snuba/api/endpoints/test_organization_events_stats_mep.py
  tests/snuba/api/endpoints/test_organization_events_stats_span_indexed.py
  tests/snuba/api/endpoints/test_organization_events_stats_span_metrics.py
  tests/snuba/api/endpoints/test_organization_events_trace.py
Due: pyupgrade, isort, flake8, mypy, check-mypy-bypass, sort-stronger-mypy-list, check-mypy-stronglist

feat(discover): Make parallel queries for split decision (#73292)
  src/sentry/api/endpoints/organization_events.py
  src/sentry/testutils/cases.py
  tests/snuba/api/endpoints/test_organization_events.py
Due: pyupgrade, isort, flake8, mypy, check-mypy-bypass

Update static/app/components/replays/header/detailsPageBreadcrumbs.tsx
  static/app/components/replays/header/detailsPageBreadcrumbs.tsx
Due: none

Update static/app/views/replays/list.tsx
  static/app/views/replays/list.tsx
Due: none

fix(trace-explorer): Multi user condition ordered traces (#73303)
  src/sentry/api/endpoints/organization_traces.py
  src/sentry/search/events/builder/discover.py
  tests/sentry/api/endpoints/test_organization_traces.py
Due: pyupgrade, isort, flake8, mypy, check-mypy-bypass

dev(similarity): up snuba rate limit
  src/sentry/tasks/embeddings_grouping/backfill_seer_grouping_records_for_project.py
  src/sentry/tasks/embeddings_grouping/utils.py
Due: pyupgrade, isort, flake8, mypy, check-mypy-bypass

Revert "fix?"
  .eslintrc.js
Due: none

Fix archived banner
  static/app/components/archivedBox.tsx
Due: none

✨ Implement global drawer
  static/app/actionCreators/drawer.tsx
  static/app/components/globalDrawer/components.tsx
  static/app/components/globalDrawer/index.tsx
  static/app/stores/drawerStore.tsx
  static/app/utils/theme.tsx
  static/app/views/app/index.tsx
  static/app/views/insights/common/components/slideOverPanel.tsx
Due: none

make features optional
  src/sentry/api/serializers/types.py
  src/sentry/apidocs/examples/organization_examples.py
Due: pyupgrade, isort, flake8, mypy, check-mypy-bypass

feat(performance): UI updates to regression emails (#73264)
  src/sentry/notifications/notifications/rules.py
  src/sentry/templates/sentry/emails/issue_alert_base.html
Due: pyupgrade, isort, flake8, mypy, check-mypy-bypass

nit: wrap/ellipsis long metric activity (#73304)
  static/app/views/alerts/rules/metric/details/metricActivity.tsx
Due: none

ref(slack): refactor get_users to its own function (#73085)
  src/sentry/integrations/slack/utils/users.py
Due: pyupgrade, isort, flake8, mypy, check-mypy-bypass

fix tests, missed a spot
  src/sentry/search/events/builder/spans_metrics.py
Due: pyupgrade, isort, flake8, mypy, check-mypy-bypass

remove test stuff
  tests/sentry/rules/processing/test_delayed_processing.py
Due: pyupgrade, isort, flake8, mypy, check-mypy-bypass
