Repository getsentry/sentry: changes, and which pre-commit hooks are due for each by the changed paths.
All: pyupgrade, black, isort, flake8, lint-requirements, requirements-overrides, check-mypy-bypass

Path conditions:
  pyupgrade: any of: \.py$, but not: (?x)(
    LICENSE.md$|
    \.snap$|
    \.map$|
    \.map\.js$|
    ^src/sentry/static/sentry/vendor/|
    ^src/.*/locale/|
    ^src/sentry/data/
)

  black: any of: \.py$, but not: (?x)(
    LICENSE.md$|
    \.snap$|
    \.map$|
    \.map\.js$|
    ^src/sentry/static/sentry/vendor/|
    ^src/.*/locale/|
    ^src/sentry/data/
)

  isort: any of: \.py$, but not: (?x)(
    LICENSE.md$|
    \.snap$|
    \.map$|
    \.map\.js$|
    ^src/sentry/static/sentry/vendor/|
    ^src/.*/locale/|
    ^src/sentry/data/
)

  flake8: any of: \.py$, but not: (?x)(
    LICENSE.md$|
    \.snap$|
    \.map$|
    \.map\.js$|
    ^src/sentry/static/sentry/vendor/|
    ^src/.*/locale/|
    ^src/sentry/data/
)

  lint-requirements: any of: requirements-.*\.txt$ and not (^requirements-getsentry-overrides\.txt$) and not ((?x)(
    LICENSE.md$|
    \.snap$|
    \.map$|
    \.map\.js$|
    ^src/sentry/static/sentry/vendor/|
    ^src/.*/locale/|
    ^src/sentry/data/
)
)
  requirements-overrides: any of: ^requirements-getsentry-overrides\.txt$, but not: (?x)(
    LICENSE.md$|
    \.snap$|
    \.map$|
    \.map\.js$|
    ^src/sentry/static/sentry/vendor/|
    ^src/.*/locale/|
    ^src/sentry/data/
)

  check-mypy-bypass: any of: \.py$, but not: (?x)(
    LICENSE.md$|
    \.snap$|
    \.map$|
    \.map\.js$|
    ^src/sentry/static/sentry/vendor/|
    ^src/.*/locale/|
    ^src/sentry/data/
)


ref(ui): Avoid gap in invite member modal (#68182)
  static/app/components/modals/inviteMembersModal/inviteStatusMessage.tsx
  static/app/components/modals/inviteMissingMembersModal/index.tsx
Due: none

fix(trace): use old path format and fix autogrouping edge case (#68151)
  static/app/views/performance/newTraceDetails/traceTree.spec.tsx
  static/app/views/performance/newTraceDetails/traceTree.tsx
  static/app/views/performance/newTraceDetails/virtualizedViewManager.spec.tsx
  static/app/views/performance/newTraceDetails/virtualizedViewManager.tsx
  static/app/views/performance/traceDetails/TraceDetailsRouting.tsx
Due: none

ref(crons): Extract useMonitorStats hook (#68134)
  static/app/views/monitors/components/cronDetailsTimeline.tsx
  static/app/views/monitors/components/overviewTimeline/index.tsx
  static/app/views/monitors/components/overviewTimeline/jobTickTooltip.spec.tsx
  static/app/views/monitors/components/overviewTimeline/types.tsx
  static/app/views/monitors/components/overviewTimeline/useMonitorDates.tsx
  static/app/views/monitors/components/overviewTimeline/useMonitorStats.tsx
  static/app/views/monitors/components/overviewTimeline/useTimeWindowConfig.tsx
  static/app/views/monitors/components/overviewTimeline/utils.spec.tsx
  static/app/views/monitors/components/overviewTimeline/utils.tsx
  static/app/views/monitors/utils/useMonitorDates.tsx
Due: none

feat(utils): introduce a dispatching reducer (#68171)
  static/app/utils/profiling/hooks/useVirtualizedTree/useVirtualizedTree.tsx
  static/app/utils/useDispatchingReducer.spec.tsx
  static/app/utils/useDispatchingReducer.tsx
Due: none

ref(daily summary): Remove 'internal only' text (#68138)
  src/sentry/notifications/notifications/daily_summary.py
  tests/sentry/tasks/test_daily_summary.py
Due: pyupgrade, black, isort, flake8, check-mypy-bypass

ref(rules): Collect metrics on rule create/edit notifications (#68143)
  src/sentry/api/endpoints/project_rule_details.py
  src/sentry/api/endpoints/project_rules.py
Due: pyupgrade, black, isort, flake8, check-mypy-bypass

feat(starfish-cache): register cache module ui flag (#68184)
  src/sentry/conf/server.py
  src/sentry/features/temporary.py
Due: pyupgrade, black, isort, flake8, check-mypy-bypass

feat(severity): Add metrics for error cases (#68086)
  src/sentry/event_manager.py
Due: pyupgrade, black, isort, flake8, check-mypy-bypass

fix(relocation): Only use relocation storage (#68186)
  src/sentry/tasks/relocation.py
  tests/sentry/tasks/test_relocation.py
Due: pyupgrade, black, isort, flake8, check-mypy-bypass

fix(issue-priority): Fix determining previous priority for ongoing groups (#67979)
  src/sentry/issues/priority.py
  src/sentry/models/group.py
  tests/sentry/issues/test_ongoing.py
  tests/sentry/issues/test_priority.py
  tests/sentry/issues/test_status_change_consumer.py
Due: pyupgrade, black, isort, flake8, check-mypy-bypass

feat(grouping): Improve uniq_id token identification in parameterization logic (#67672)
  src/sentry/grouping/strategies/message.py
  tests/sentry/grouping/snapshots/test_variants/test_event_hash_variant/mobile@2021_02_12/csp_style_src_elem.pysnap
  tests/sentry/grouping/snapshots/test_variants/test_event_hash_variant/newstyle@2019_04_17/csp_style_src_elem.pysnap
  tests/sentry/grouping/snapshots/test_variants/test_event_hash_variant/newstyle@2019_05_08/csp_style_src_elem.pysnap
  tests/sentry/grouping/snapshots/test_variants/test_event_hash_variant/newstyle@2019_10_29/csp_style_src_elem.pysnap
  tests/sentry/grouping/snapshots/test_variants/test_event_hash_variant/newstyle@2023_01_11/csp_style_src_elem.pysnap
  tests/sentry/grouping/test_normalize_message.py
Due: pyupgrade, black, isort, flake8, check-mypy-bypass

ref: require stronger types for sentry.runner.commands.* (#68130)
  pyproject.toml
  src/sentry/runner/commands/config.py
  src/sentry/runner/commands/configoptions.py
  src/sentry/runner/commands/createuser.py
  src/sentry/runner/commands/devservices.py
  src/sentry/runner/commands/django.py
  src/sentry/runner/commands/exec.py
  src/sentry/runner/commands/execfile.py
  src/sentry/runner/commands/files.py
  src/sentry/runner/commands/help.py
  src/sentry/runner/commands/init.py
  src/sentry/runner/commands/killswitches.py
  src/sentry/runner/commands/migrations.py
  src/sentry/runner/commands/openai.py
  src/sentry/runner/commands/performance.py
  src/sentry/runner/commands/permissions.py
  src/sentry/runner/commands/plugins.py
  src/sentry/runner/commands/presenters/presenterdelegator.py
  src/sentry/runner/commands/presenters/webhookpresenter.py
  src/sentry/runner/commands/queues.py
  src/sentry/runner/commands/repair.py
  src/sentry/runner/commands/run.py
  src/sentry/runner/commands/sendmail.py
  src/sentry/runner/commands/spans.py
  src/sentry/runner/commands/start.py
  src/sentry/runner/commands/tsdb.py
  src/sentry/runner/commands/upgrade.py
Due: pyupgrade, black, isort, flake8, check-mypy-bypass

fix(code-mappings): Wrap root derivation logic in try-except (#68137)
  src/sentry/integrations/utils/code_mapping.py
  tests/sentry/integrations/utils/test_code_mapping.py
Due: pyupgrade, black, isort, flake8, check-mypy-bypass

feat(ai): Add AI analytics sidebar item behind feature flag (#68189)
  static/app/components/sidebar/index.tsx
  static/app/icons/iconRobot.tsx
Due: none

Feature flags in the backend for AI analytics (#68195)
  src/sentry/conf/server.py
  src/sentry/features/temporary.py
Due: pyupgrade, black, isort, flake8, check-mypy-bypass

feat(devenv): repo-local bins (#67533)
  .envrc
  devenv/sync.py
  requirements-dev-frozen.txt
  requirements-dev.txt
  scripts/start-colima.py
  src/sentry/runner/commands/devservices.py
Due: pyupgrade, black, isort, flake8, lint-requirements, check-mypy-bypass

feat(replays): Add support for Range header (#68121)
  src/sentry/replays/endpoints/project_replay_video_details.py
  src/sentry/replays/lib/http.py
  tests/sentry/replays/test_project_replay_video_details.py
  tests/sentry/replays/unit/lib/test_http.py
Due: pyupgrade, black, isort, flake8, check-mypy-bypass

ref: enforce stricter typing for sentry.runner.* (#68199)
  fixtures/stubs-for-mypy/honcho/__init__.pyi
  fixtures/stubs-for-mypy/honcho/manager.pyi
  fixtures/stubs-for-mypy/honcho/printer.pyi
  fixtures/stubs-for-mypy/honcho/process.pyi
  pyproject.toml
  src/sentry/runner/__init__.py
  src/sentry/runner/commands/devserver.py
  src/sentry/runner/decorators.py
  src/sentry/runner/formatting.py
  src/sentry/runner/importer.py
  src/sentry/runner/initializer.py
  src/sentry/runner/settings.py
Due: pyupgrade, black, isort, flake8, check-mypy-bypass

update alert_rule details endpoint to accept activation condition (#68127)
  src/sentry/incidents/endpoints/organization_alert_rule_details.py
  src/sentry/incidents/endpoints/organization_alert_rule_index.py
  src/sentry/incidents/serializers/alert_rule.py
  tests/sentry/incidents/endpoints/test_organization_alert_rule_details.py
  tests/sentry/incidents/endpoints/test_organization_alert_rule_index.py
Due: pyupgrade, black, isort, flake8, check-mypy-bypass

Removed Redis config (#68196)
  src/sentry/conf/server.py
Due: pyupgrade, black, isort, flake8, check-mypy-bypass

fix(severity): Update default rate limits (#68188)
  src/sentry/event_manager.py
  src/sentry/options/defaults.py
Due: pyupgrade, black, isort, flake8, check-mypy-bypass

fix(trends): Should not allow custom fields (#68201)
  src/sentry/api/endpoints/organization_events_trends_v2.py
Due: pyupgrade, black, isort, flake8, check-mypy-bypass

feat(snuba-search): skip snuba on certain filters (#68113)
  src/sentry/issues/endpoints/organization_group_index.py
  tests/sentry/issues/endpoints/test_organization_group_index.py
Due: pyupgrade, black, isort, flake8, check-mypy-bypass

ref(crons): useTime{w->W}indowConfig (#68185)
  static/app/views/monitors/components/cronDetailsTimeline.tsx
  static/app/views/monitors/components/overviewTimeline/index.tsx
  static/app/views/monitors/components/overviewTimeline/useTimeWindowConfig.tsx
Due: none

feat(replay): Adds click to search on component name (#68190)
  static/app/components/replays/breadcrumbs/breadcrumbItem.tsx
  static/app/utils/replays/types.tsx
Due: none

feat(issues): add audit log for deletions (#68198)
  src/sentry/api/helpers/group_index/delete.py
  src/sentry/audit_log/register.py
  tests/sentry/api/endpoints/test_group_details.py
  tests/sentry/audit_log/test_register.py
Due: pyupgrade, black, isort, flake8, check-mypy-bypass

ref(ui): Remove unused default export of ActivityAvatar (#68205)
  static/app/components/activity/item/avatar.tsx
Due: none

feat(trace): Default to all projects for traces (#68119)
  src/sentry/api/endpoints/organization_events_trace.py
  tests/snuba/api/endpoints/test_organization_events_trace.py
Due: pyupgrade, black, isort, flake8, check-mypy-bypass

chore(slack): attachments logger (#68207)
  src/sentry/integrations/slack/actions/notification.py
Due: pyupgrade, black, isort, flake8, check-mypy-bypass

chore(empty-states): Add feature flag (#68194)
  src/sentry/conf/server.py
  src/sentry/features/temporary.py
Due: pyupgrade, black, isort, flake8, check-mypy-bypass

chore(dependencies): Bump platformicons (#68209)
  package.json
  yarn.lock
Due: none

feat(code-mappings): Add support for Go automatic code-mappings (EA) (#68147)
  src/sentry/conf/server.py
  src/sentry/features/temporary.py
  src/sentry/tasks/derive_code_mappings.py
  tests/sentry/tasks/test_derive_code_mappings.py
Due: pyupgrade, black, isort, flake8, check-mypy-bypass

feat(perf): Change UI label of "HTTP" module to "Requests" (#68211)
  static/app/components/sidebar/index.tsx
  static/app/views/performance/http/httpDomainSummaryPage.tsx
  static/app/views/performance/http/httpLandingPage.tsx
  static/app/views/performance/http/settings.ts
  static/app/views/performance/landing/widgets/components/selectableList.tsx
Due: none

feat(perf): Improve rendering of HTTP Status Code columns (#68208)
  static/app/utils/discover/fieldRenderers.tsx
  static/app/views/performance/http/httpSamplesPanel.tsx
  static/app/views/starfish/components/tableCells/renderHeadCell.tsx
  static/app/views/starfish/components/tableCells/responseStatusCodeCell.tsx
Due: none

fix(perf): Add missing key prop in SampleInfo Block component (#68216)
  static/app/views/starfish/views/spanSummaryPage/sampleList/sampleInfo/index.tsx
Due: none

fix(replays): show first frame by default for mobile replays (#67918)
  static/app/components/replays/videoReplayer.tsx
Due: none

fix(severity): Initialize unbounded variable (#68219)
  src/sentry/event_manager.py
  tests/sentry/event_manager/test_priority.py
Due: pyupgrade, black, isort, flake8, check-mypy-bypass

feat(release-health): Sessions should not be default (#67353)
  src/sentry/conf/server.py
  src/sentry/release_health/metrics.py
  src/sentry/testutils/pytest/metrics.py
  tests/acceptance/test_organization_dashboards.py
  tests/acceptance/test_organization_switch.py
  tests/apidocs/endpoints/releases/test_organization_releases.py
  tests/apidocs/endpoints/releases/test_organization_sessions.py
  tests/sentry/api/endpoints/test_organization_release_details.py
  tests/sentry/api/endpoints/test_organization_releases.py
  tests/sentry/api/endpoints/test_project_release_details.py
  tests/sentry/api/endpoints/test_project_release_stats.py
  tests/sentry/integrations/slack/test_unfurl.py
  tests/sentry/release_health/test_metrics_sessions_v2.py
  tests/sentry/rules/filters/test_latest_release.py
  tests/snuba/api/endpoints/test_organization_sessions.py
  tests/snuba/api/serializers/test_group_stream.py
  tests/snuba/rules/conditions/test_event_frequency.py
  tests/snuba/sessions/test_sessions.py
Due: pyupgrade, black, isort, flake8, check-mypy-bypass

chore(login): update the login banners (#68225)
  src/sentry/templates/sentry/partial/alerts.html
Due: none
