Repository getsentry/sentry: changes, and which pre-commit hooks are due for each by the changed paths.
All: pyupgrade, black, isort, flake8, lint-requirements, pyright

.pre-commit-config.yaml:

exclude: >
    (?x)(
        LICENSE$|
        \.snap$|
        \.map$|
        \.map\.js$|
        ^src/sentry/static/sentry/vendor/|
        ^tests/sentry/lang/javascript/example-project/|
        ^src/.*/locale/|
        ^src/sentry/data/
    )

repos:
# Many of these hooks are local because people use a variety of IDEs
# with autoformatters that need to call out to things like `black` directly.
# pre-commit run is not the same, and something like pre-commit exec does
# not exist yet.
-   repo: local
    hooks:
    - id: pyupgrade
      name: pyupgrade
      entry: pyupgrade
      args: ['--py38-plus', '--keep-runtime-typing']
      language: system
      types: [python]
    # Configuration for black exists in pyproject.toml,
    # but we let pre-commit take care of the file filtering.
    - id: black
      name: black
      entry: black
      language: system
      types: [python]
      require_serial: true
    # Configuration for isort exists in pyproject.toml,
    # but we let pre-commit take care of the file filtering.
    - id: isort
      name: isort
      entry: isort
      language: system
      types: [python]
    # Configuration for flake8 exists in setup.cfg,
    # but we let pre-commit take care of the file filtering.
    - id: flake8
      name: flake8
      entry: flake8
      language: system
      types: [python]
      log_file: '.artifacts/flake8.pycodestyle.log'
    - id: lint-requirements
      name: lint-requirements
      entry: python -m tools.lint_requirements
      language: system
      files: requirements-frozen.txt
      pass_filenames: false
    - id: pyright
      name: pyright
      entry: pyright
      language: node
      files: ^src/
      types: [ python ]
      require_serial: true
      additional_dependencies: [ "pyright@1.1.186" ]
      args: [ '--project', 'pyrightconfig-commithook.json' ]

-   repo: https://github.com/python-jsonschema/check-jsonschema
    rev: 0.16.0
    hooks:
    - id: check-github-actions
    - id: check-github-workflows

-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.3.0
    hooks:
    - id: check-case-conflict
    - id: check-executables-have-shebangs
    - id: check-merge-conflict
    - id: check-symlinks
    - id: end-of-file-fixer
      exclude_types: [svg]
      exclude: ^fixtures/
    - id: trailing-whitespace
      exclude_types: [svg]
      exclude: ^(fixtures/|scripts/patches/)
    - id: debug-statements
    - id: name-tests-test
      args: [--pytest-test-first]

use 1
  src/sentry/api/endpoints/project_event_details.py
Due: pyupgrade, black, isort, flake8, pyright

Update ff name again
  src/sentry/api/endpoints/project_event_details.py
  src/sentry/eventstore/snuba/backend.py
  tests/snuba/api/endpoints/test_project_event_details.py
Due: pyupgrade, black, isort, flake8, pyright

lookup perf problems by hash efficiently
  src/sentry/event_manager.py
Due: pyupgrade, black, isort, flake8, pyright

ref(perf-issues): Disable delete and discard & delete options in perf issues (#38488)
  static/app/types/group.tsx
  static/app/views/organizationGroupDetails/actions/actions.spec.tsx
  static/app/views/organizationGroupDetails/actions/index.tsx
  static/app/views/organizationGroupDetails/groupDetails.spec.jsx
Due: none

feat(issue-stream): Disable merging and deleting when performance issues are selected
  fixtures/js-stubs/group.js
  static/app/types/group.tsx
  static/app/views/issueList/actions.spec.jsx
  static/app/views/issueList/actions/actionSet.tsx
  static/app/views/issueList/actions/reviewAction.tsx
  static/app/views/organizationGroupDetails/actions/index.tsx
Due: none

-> str
  src/sentry/ownership/grammar.py
Due: pyupgrade, black, isort, flake8, pyright

fix(issues): Apply tint only when marking reviewed (#38364)
  static/app/components/stream/group.tsx
  static/app/components/stream/streamGroup.spec.jsx
Due: none

ref(orgSettings): Use <TextCopyInput /> to display member invite link (#38327)
  static/app/views/settings/organizationMembers/organizationMemberDetail.tsx
Due: none

feat(perf-issues): Add settings endpoint for detector options (#38527)
  src/sentry/api/endpoints/project_performance_issue_settings.py
  src/sentry/api/urls.py
  src/sentry/projectoptions/defaults.py
  tests/sentry/api/endpoints/test_project_performance_issue_settings.py
Due: pyupgrade, black, isort, flake8, pyright

add test for existing groups
  tests/sentry/performance_issues/test_performance_issues.py
Due: pyupgrade, black, isort, flake8

feat(discover): Event detail page context menu for custom perf metrics (#38486)
  static/app/components/events/eventCustomPerformanceMetrics.spec.tsx
  static/app/components/events/eventCustomPerformanceMetrics.tsx
  static/app/views/performance/transactionDetails/content.tsx
Due: none

ref(stores): Replace SelectedGroupStore
  static/app/components/stream/group.tsx
  static/app/components/stream/selectedGroupContext.spec.tsx
  static/app/components/stream/selectedGroupContext.tsx
  static/app/components/stream/streamGroup.spec.jsx
  static/app/views/issueList/actions/index.tsx
  static/app/views/issueList/overview.tsx
Due: none

make sure we only store unprocessed for error events
  src/sentry/event_manager.py
Due: pyupgrade, black, isort, flake8, pyright

feat(perf issues): Return prev/next for transaction events (#38274)
  src/sentry/api/endpoints/project_event_details.py
  src/sentry/api/serializers/models/event.py
  src/sentry/eventstore/models.py
  src/sentry/eventstore/snuba/backend.py
  tests/sentry/eventstore/snuba/test_backend.py
  tests/snuba/api/endpoints/test_project_event_details.py
Due: pyupgrade, black, isort, flake8, pyright

oops options.get doesn't support a default
  src/sentry/event_manager.py
Due: pyupgrade, black, isort, flake8, pyright

implement using arrayJoin on group_ids
  src/sentry/tagstore/base.py
  src/sentry/tagstore/snuba/backend.py
  tests/snuba/tagstore/test_tagstore_backend.py
Due: pyupgrade, black, isort, flake8, pyright

refactor for readability
  src/sentry/api/serializers/models/group.py
Due: pyupgrade, black, isort, flake8, pyright

collapse condition on _parse_seen_stats_results
  src/sentry/api/serializers/models/group.py
  src/sentry/api/serializers/models/group_stream.py
Due: pyupgrade, black, isort, flake8, pyright

parameterize calls to take in appropriate function to retrieve group-category-specific seen_stats
  src/sentry/api/serializers/models/group.py
  src/sentry/api/serializers/models/group_stream.py
  src/sentry/tagstore/snuba/backend.py
Due: pyupgrade, black, isort, flake8, pyright

parameterize seen_stats call for errors and performance issues
  src/sentry/api/serializers/models/group.py
  src/sentry/api/serializers/models/group_stream.py
  src/sentry/snuba/referrer.py
Due: pyupgrade, black, isort, flake8, pyright

implement and test tagstore.get_perf_group_list_tag_value() for querying seen_stats for a given list of groups
  src/sentry/api/serializers/models/group.py
  src/sentry/tagstore/base.py
  src/sentry/tagstore/snuba/backend.py
  tests/snuba/tagstore/test_tagstore_backend.py
Due: pyupgrade, black, isort, flake8, pyright

refactor
  src/sentry/api/serializers/models/group_stream.py
Due: pyupgrade, black, isort, flake8, pyright

mock out injecting group_ids into eventstream
  tests/snuba/tagstore/test_tagstore_backend.py
Due: pyupgrade, black, isort, flake8

PR feedback
  src/sentry/api/serializers/models/group.py
  src/sentry/api/serializers/models/group_stream.py
  src/sentry/tagstore/snuba/backend.py
Due: pyupgrade, black, isort, flake8, pyright

Add tag filtering behavior for aggregated tags
  src/sentry/replays/query.py
Due: pyupgrade, black, isort, flake8, pyright

Update parameter name
  src/sentry/replays/query.py
Due: pyupgrade, black, isort, flake8, pyright

fixes after code review
  static/app/utils/replays/fetchReplayList.tsx
  static/app/utils/replays/hooks/useReplayList.tsx
  static/app/views/organizationGroupDetails/groupReplays/groupReplays.tsx
  static/app/views/performance/transactionSummary/transactionReplays/content.tsx
  static/app/views/performance/transactionSummary/transactionReplays/index.tsx
  static/app/views/performance/transactionSummary/transactionReplays/useReplaysFromTransaction.tsx
  static/app/views/replays/replays.tsx
Due: none

track number of dropped new groups
  src/sentry/event_manager.py
Due: pyupgrade, black, isort, flake8, pyright

ref(ui): Simplify GroupLevel tooltip
  static/app/components/eventOrGroupHeader.tsx
Due: none

ref(issues): Remove borders between data sections
  static/app/components/clippedBox.tsx
  static/app/components/events/eventDataSection.tsx
  static/app/components/events/eventTagsAndScreenshot/index.tsx
  static/app/components/events/styles.tsx
  static/app/views/organizationGroupDetails/groupEventDetails/groupEventDetails.tsx
  static/less/group-detail.less
Due: none

ref(perf issues): Update search syntax (#38530)
  src/sentry/api/issue_search.py
  src/sentry/api/serializers/models/group.py
  src/sentry/search/snuba/backend.py
  tests/snuba/search/test_backend.py
Due: pyupgrade, black, isort, flake8, pyright

fix(replays): Sorting null and undefined values in the Network Table (#38513)
  static/app/views/replays/detail/network/utils.tsx
Due: none
