Repository getsentry/sentry: changes, and which pre-commit hooks are due for each by the changed paths.
All: pyupgrade, black, isort, flake8, lint-requirements, pyright

pyupgrade:
  name: pyupgrade
  entry: pyupgrade
  args:
  - --py38-plus
  - --keep-runtime-typing
  language: system

black:
  name: black
  entry: black
  language: system
  require_serial: true

isort:
  name: isort
  entry: isort
  language: system

flake8:
  name: flake8
  entry: flake8
  language: system
  log_file: .artifacts/flake8.pycodestyle.log

lint-requirements:
  name: lint-requirements
  entry: python -m tools.lint_requirements
  language: python
  additional_dependencies:
  - packaging==21.3

pyright:
  name: pyright
  entry: pyright
  language: node
  require_serial: true
  additional_dependencies:
  - pyright@1.1.186
  args:
  - --project
  - pyrightconfig-commithook.json

Try clearing the cache since we have so many re-runs
  tests/symbolicator/test_unreal_full.py
Due: pyupgrade, black, isort, flake8

filter out commit authors missing GH username
  src/sentry/api/endpoints/organization_missing_org_members.py
  tests/sentry/api/test_organization_missing_members.py
Due: pyupgrade, black, isort, flake8, pyright

Add dry run code
  src/sentry/grouping/enhancer/__init__.py
  src/sentry/stacktraces/processing.py
Due: pyupgrade, black, isort, flake8, pyright

feat(statistical-detectors): Batch functions query
  src/sentry/tasks/statistical_detectors.py
Due: pyupgrade, black, isort, flake8, pyright

Sets granularity to closely match the interval (#54676)
  src/sentry/search/events/builder/metrics.py
Due: pyupgrade, black, isort, flake8, pyright

feat(escalating-v2): Emit escalating metrics (#54240)
  src/sentry/conf/server.py
  src/sentry/features/__init__.py
  src/sentry/tasks/post_process.py
  tests/relay_integration/lang/javascript/test_plugin.py
  tests/sentry/notifications/test_notifications.py
  tests/sentry/sentry_metrics/test_snuba.py
Due: pyupgrade, black, isort, flake8, pyright

ref(hc): Remove get_orgs() (#54663)
  pyproject.toml
  src/sentry/api/bases/sentryapps.py
  src/sentry/api/bases/user.py
  src/sentry/api/endpoints/integrations/sentry_apps/index.py
  src/sentry/api/endpoints/team_notification_settings_details.py
  src/sentry/api/endpoints/user_notification_fine_tuning.py
  src/sentry/api/endpoints/user_organizations.py
  src/sentry/api/serializers/models/sentry_app.py
  src/sentry/api/validators/notifications.py
  src/sentry/features/helpers.py
  src/sentry/models/user.py
  tests/sentry/api/endpoints/test_user_notification_fine_tuning.py
  tests/sentry/features/test_helpers.py
  tests/sentry/models/test_user.py
  tests/sentry/web/test_client_config.py
Due: pyupgrade, black, isort, flake8, pyright

Disable call to _update_frames_from_cached_values
  src/sentry/grouping/enhancer/__init__.py
Due: pyupgrade, black, isort, flake8, pyright

feat(tracing-without-performance): Cleanup
  static/app/views/performance/traceDetails/index.tsx
  static/app/views/performance/traceDetails/utils.tsx
  static/app/views/replays/detail/trace/replayTransactionContext.tsx
Due: none

feat(tracing-without-performance): Cleanup
  static/app/views/replays/detail/trace/replayTransactionContext.tsx
Due: none

ref(ui): Rename orgId to orgSlug in orgTeams component (#54607)
  static/app/views/settings/organizationTeams/organizationAccessRequests.tsx
  static/app/views/settings/organizationTeams/organizationTeams.tsx
Due: none

cr feedback
  static/app/components/onboarding/gettingStartedDoc/useSourcePackageRegistries.tsx
  static/app/utils/handleXhrErrorResponse.tsx
  static/app/views/onboarding/setupDocs.tsx
Due: none

Fix log line
  src/sentry/event_manager.py
Due: pyupgrade, black, isort, flake8, pyright

ref(github-growth): filter out commit authors missing GH username (#54699)
  src/sentry/api/endpoints/organization_missing_org_members.py
  tests/sentry/api/test_organization_missing_members.py
Due: pyupgrade, black, isort, flake8, pyright

fix(hc): Stabilize tests (#54601)
  tests/sentry/deletions/test_team.py
  tests/sentry/models/test_project.py
  tests/sentry/models/test_projectownership.py
  tests/sentry_plugins/github/endpoints/test_installation_install_event.py
  tests/sentry_plugins/github/endpoints/test_push_event.py
Due: pyupgrade, black, isort, flake8

Re-enable again
  src/sentry/grouping/enhancer/__init__.py
Due: pyupgrade, black, isort, flake8, pyright

fix(alerts): Add tests for rule processor (#54614)
  tests/sentry/rules/test_processor.py
Due: pyupgrade, black, isort, flake8

add open PR comments toggle and org option
  src/sentry/api/endpoints/organization_details.py
  src/sentry/api/serializers/models/organization.py
  src/sentry/constants.py
  static/app/types/organization.tsx
  static/app/views/settings/organizationIntegrations/integrationDetailedView.tsx
Due: pyupgrade, black, isort, flake8, pyright

fix error
  .github/CODEOWNERS
Due: none

One last change
  src/sentry/grouping/enhancer/__init__.py
Due: pyupgrade, black, isort, flake8, pyright

fixing id for gitlab
  src/sentry/integrations/gitlab/client.py
Due: pyupgrade, black, isort, flake8, pyright

Run in dry run mode
  src/sentry/grouping/enhancer/__init__.py
Due: pyupgrade, black, isort, flake8, pyright

add upper bound for top event
  src/sentry/api/endpoints/organization_events_trends_v2.py
Due: pyupgrade, black, isort, flake8, pyright

fix top limit
  src/sentry/api/endpoints/organization_events_trends_v2.py
Due: pyupgrade, black, isort, flake8, pyright

Add feature
  src/sentry/conf/server.py
  src/sentry/features/__init__.py
  src/sentry/replays/query.py
  tests/sentry/replays/test_organization_replay_index.py
Due: pyupgrade, black, isort, flake8, pyright

ref: add flake8 plugin to ban pytz.utc
  tests/tools/test_flake8_plugin.py
  tools/flake8_plugin.py
Due: pyupgrade, black, isort, flake8

Some polishes
  src/sentry/grouping/enhancer/__init__.py
Due: pyupgrade, black, isort, flake8, pyright

Target materialized columns
  src/sentry/replays/usecases/query/configs/aggregate.py
  src/sentry/replays/usecases/query/configs/aggregate_sort.py
Due: pyupgrade, black, isort, flake8, pyright

feat(backup): Add ForeignKeyComparator
  src/sentry/backup/comparators.py
  src/sentry/backup/dependencies.py
  src/sentry/backup/findings.py
  src/sentry/backup/validate.py
  tests/sentry/backup/test_comparators.py
  tests/sentry/backup/test_correctness.py
Due: pyupgrade, black, isort, flake8, pyright

Enable using from cache
  src/sentry/grouping/enhancer/__init__.py
Due: pyupgrade, black, isort, flake8, pyright

adding slack logging
  src/sentry/shared_integrations/client/base.py
Due: pyupgrade, black, isort, flake8, pyright

Catch invalid sort keys and marshal a message to the user
  src/sentry/replays/usecases/query/__init__.py
Due: pyupgrade, black, isort, flake8, pyright

edit copy
  static/app/views/settings/organizationIntegrations/integrationDetailedView.tsx
Due: none

Path conditions:
  pyupgrade: any of: \.py$, but not: (?x)(
    LICENSE$|
    \.snap$|
    \.map$|
    \.map\.js$|
    ^src/sentry/static/sentry/vendor/|
    ^src/.*/locale/|
    ^src/sentry/data/
)

  black: any of: \.py$, but not: (?x)(
    LICENSE$|
    \.snap$|
    \.map$|
    \.map\.js$|
    ^src/sentry/static/sentry/vendor/|
    ^src/.*/locale/|
    ^src/sentry/data/
)

  isort: any of: \.py$, but not: (?x)(
    LICENSE$|
    \.snap$|
    \.map$|
    \.map\.js$|
    ^src/sentry/static/sentry/vendor/|
    ^src/.*/locale/|
    ^src/sentry/data/
)

  flake8: any of: \.py$, but not: (?x)(
    LICENSE$|
    \.snap$|
    \.map$|
    \.map\.js$|
    ^src/sentry/static/sentry/vendor/|
    ^src/.*/locale/|
    ^src/sentry/data/
)

  lint-requirements: any of: requirements-.*\.txt$, but not: (?x)(
    LICENSE$|
    \.snap$|
    \.map$|
    \.map\.js$|
    ^src/sentry/static/sentry/vendor/|
    ^src/.*/locale/|
    ^src/sentry/data/
)

  pyright: any of: ^src/ and \.py$ and not ((?x)(
    LICENSE$|
    \.snap$|
    \.map$|
    \.map\.js$|
    ^src/sentry/static/sentry/vendor/|
    ^src/.*/locale/|
    ^src/sentry/data/
)
)
