Repository getsentry/sentry: changes, and which pre-commit hooks are due for each by the changed paths.
All: pyupgrade, isort, flake8, mypy, lint-requirements, requirements-overrides, check-mypy-bypass, sort-stronger-mypy-list, check-mypy-stronglist, biome, eslint, stylelint, prettier

pyupgrade:
  name: pyupgrade
  entry: pyupgrade
  args:
  - --py312-plus
  language: system

isort:
  name: isort
  entry: isort
  language: system

flake8:
  name: flake8
  entry: flake8
  language: system
  log_file: .artifacts/flake8.pycodestyle.log

mypy:
  name: mypy
  entry: bash -c 'if [ -n "${SENTRY_MYPY_PRE_PUSH:-}" ]; then exec mypy "$@"; fi' --
  language: system
  stages:
  - pre-push
  require_serial: true

lint-requirements:
  name: lint-requirements
  entry: python -m tools.lint_requirements
  language: python
  additional_dependencies:
  - packaging==24.1

requirements-overrides:
  name: use pinned archives (see comment in file)
  stages:
  - pre-commit
  language: pygrep
  entry: '(?x)
  
    ^
  
    # it''s a comment line
  
    (?!\#.*$)
  
    # it''s a blank line
  
    (?!$)
  
    # it''s a pinned archive
  
    (?![a-z-]+[ ]@[ ]https://github\.com/getsentry/[^/]+/archive/[a-f0-9]{40}\.zip$)
  
    '

check-mypy-bypass:
  name: do not bypass the type checker
  entry: '(^# *mypy: *ignore-errors|^# *type: *ignore|\bno_type_check\b)'
  language: pygrep

sort-stronger-mypy-list:
  name: sort stronger mypy list
  entry: python3 -m tools.mypy_helpers.sort_stronger_modules
  language: python

check-mypy-stronglist:
  name: check mypy stronglist
  entry: python3 -m tools.mypy_helpers.check_stronglist
  language: python

biome:
  name: biome (javascript, typescript, json)
  language: system
  entry: ./node_modules/.bin/biome check --log-level=error --write --files-ignore-unknown=true --no-errors-on-unmatched

eslint:
  name: eslint
  language: system
  entry: ./node_modules/.bin/eslint --quiet --fix

stylelint:
  name: stylelint
  language: system
  entry: ./node_modules/.bin/stylelint --quiet

prettier:
  name: prettier (yaml, markdown, ts, tsx, js, jsx, css)
  language: system
  entry: ./node_modules/.bin/prettier --log-level=error --write

ref(agents): compact AGENTS.md files and defer deep guides to skills (#121469)
  .agents/skills/backend-conventions/SKILL.md
  .agents/skills/design-system/SKILL.md
  .agents/skills/frontend-data-fetching/SKILL.md
  .agents/skills/react-testing/SKILL.md
  .agents/skills/setup-dev/SKILL.md
  AGENTS.md
  src/AGENTS.md
  static/AGENTS.md
  tests/AGENTS.md
Due: prettier

fix(onboarding): Clear the messaging stale warning when a refetch resolves it
  static/app/views/onboarding/scmMessaging.spec.tsx
  static/app/views/onboarding/scmMessaging.tsx
Due: biome, eslint, stylelint, prettier

fix(trace): Stringify EAP breadcrumb timestamps
  src/sentry/api/endpoints/project_trace_item_details.py
  tests/sentry/api/endpoints/test_project_trace_item_details.py
Due: pyupgrade, isort, flake8, mypy, check-mypy-bypass

fix(hybridcloud): Skip the backlog estimate gauge instead of emitting zero (#121521)
  src/sentry/hybridcloud/tasks/webhook_backlog_metrics.py
  tests/sentry/hybridcloud/tasks/test_webhook_backlog_metrics.py
Due: pyupgrade, isort, flake8, mypy, check-mypy-bypass

perf(dynamic-sampling): Interleave organization scheduler order (#121446)
  src/sentry/dynamic_sampling/per_org/scheduler.py
  src/sentry/utils/cursored_scheduler.py
  tests/sentry/utils/test_cursored_scheduler.py
Due: pyupgrade, isort, flake8, mypy, check-mypy-bypass

feat(onboarding): Revalidate restored SCM messaging destinations (#121187)
  static/app/views/onboarding/onboarding.tsx
  static/app/views/onboarding/scmMessaging.spec.tsx
  static/app/views/onboarding/scmMessaging.tsx
  static/app/views/projectInstall/scmCreateProject.spec.tsx
  static/app/views/projectInstall/scmCreateProject.tsx
Due: biome, eslint, stylelint, prettier

don't fail whole request on bad timestamp
  src/sentry/api/endpoints/project_trace_item_details.py
  tests/sentry/api/endpoints/test_project_trace_item_details.py
Due: pyupgrade, isort, flake8, mypy, check-mypy-bypass

fix(trace): Stringify EAP breadcrumb timestamps (#121524)
  src/sentry/api/endpoints/project_trace_item_details.py
  tests/sentry/api/endpoints/test_project_trace_item_details.py
Due: pyupgrade, isort, flake8, mypy, check-mypy-bypass

fix(replays): Improve error handling inside bulk Replay deletion (#121397)
  src/sentry/replays/scripts/delete_replays.py
  src/sentry/replays/tasks.py
  src/sentry/replays/usecases/delete.py
  tests/sentry/replays/tasks/test_delete_replays_bulk.py
  tests/sentry/replays/tasks/test_delete_replays_script_async.py
  tests/sentry/replays/unit/usecases/test_delete_seer_replay_data.py
Due: pyupgrade, isort, flake8, mypy, check-mypy-bypass

ref: bump taskbroker-client to 0.20.20
  pyproject.toml
  uv.lock
Due: sort-stronger-mypy-list, check-mypy-stronglist

fix(inbox): Add spacing before autofix summaries
  static/app/views/issueDetails/issuePreview/issuePreviewAutofixSummary.tsx
Due: biome, eslint, stylelint, prettier

fix(inbox): Expand section header hover target
  static/app/views/issueList/pages/inbox.spec.tsx
  static/app/views/issueList/pages/inbox.tsx
Due: biome, eslint, stylelint, prettier

fix(replays): See All Replays button shouldn't replace (#119840)
  static/app/components/events/eventReplay/replayClipSection.tsx
Due: biome, eslint, stylelint, prettier

fix(replays): Bound extraction query cache lifetime
  static/app/utils/replays/hooks/useExtractDiffMutations.tsx
  static/app/utils/replays/hooks/useExtractDomNodes.tsx
  static/app/utils/replays/hooks/useExtractPageHtml.tsx
Due: biome, eslint, stylelint, prettier

Revert "ref(seer): remove issue summary from post process temp (#121426)"
  src/sentry/tasks/post_process.py
  tests/sentry/tasks/test_post_process.py
Due: pyupgrade, isort, flake8, mypy, check-mypy-bypass

fix(auth): Validate org and provider in pipeline state
  src/sentry/pipeline/base.py
  tests/sentry/auth/test_helper.py
  tests/sentry/pipeline/test_pipeline.py
  tests/sentry/web/frontend/test_auth_organization_login.py
Due: pyupgrade, isort, flake8, mypy, check-mypy-bypass

fix(issue-details): Remove linked pull request checks and review status (#121484)
  static/app/components/group/externalIssuesList/linkedPullRequests.tsx
  static/app/views/issueDetails/sidebar/externalIssueSidebarList.tsx
Due: biome, eslint, stylelint, prettier

fix(issues): Remove alerts secondary nav item (#121474)
  static/app/views/navigation/secondary/sections/issues/issuesSecondaryNavigation.tsx
Due: biome, eslint, stylelint, prettier

ref: bump taskbroker-client to 0.20.20 (#121525)
  pyproject.toml
  uv.lock
Due: sort-stronger-mypy-list, check-mypy-stronglist

Add back aria label with a better prop name
  static/app/views/issueDetails/issuePreview/issuePreviewAutofixPlanSection.tsx
  static/app/views/issueDetails/issuePreview/issuePreviewAutofixProposalSection.tsx
  static/app/views/issueDetails/issuePreview/issuePreviewAutofixRootCauseSection.tsx
  static/app/views/issueDetails/issuePreview/issuePreviewSection.tsx
Due: biome, eslint, stylelint, prettier

Address comments
  static/app/views/issueDetails/issuePreview/issuePreviewAutofixPlanSection.tsx
  static/app/views/issueDetails/issuePreview/issuePreviewAutofixProposalSection.tsx
  static/app/views/issueDetails/issuePreview/issuePreviewAutofixRootCauseSection.tsx
  static/app/views/issueDetails/issuePreview/issuePreviewSection.tsx
Due: biome, eslint, stylelint, prettier

Readd the file diff changes
  static/app/views/issueDetails/issuePreview/issuePreviewAutofixProposalSection.tsx
Due: biome, eslint, stylelint, prettier

Update test
  static/app/views/issueDetails/issuePreview/issuePreviewAutofixSummary.spec.tsx
  tests/js/fixtures/autofix.ts
Due: biome, eslint, stylelint, prettier

feat(autofix): Add section retry controls
  static/app/components/events/autofix/v3/autofixResetPrompt.tsx
  static/app/components/events/autofix/v3/useResetAutofixStep.spec.tsx
  static/app/views/issueDetails/issuePreview/issuePreview.tsx
  static/app/views/issueDetails/issuePreview/issuePreviewAutofixPlanSection.tsx
  static/app/views/issueDetails/issuePreview/issuePreviewAutofixProposalSection.tsx
  static/app/views/issueDetails/issuePreview/issuePreviewAutofixRootCauseSection.tsx
  static/app/views/issueDetails/issuePreview/issuePreviewAutofixSummary.spec.tsx
  static/app/views/issueDetails/issuePreview/issuePreviewAutofixSummary.tsx
  static/app/views/issueDetails/issuePreview/issuePreviewSection.tsx
  static/app/views/issueDetails/issuePreview/retryableAutofixSection.tsx
  static/app/views/issueDetails/issuePreview/workingIndicator.tsx
Due: biome, eslint, stylelint, prettier

fix(auth): Validate org and provider in pipeline state (#121528)
  src/sentry/pipeline/base.py
  tests/sentry/auth/test_helper.py
  tests/sentry/pipeline/test_pipeline.py
  tests/sentry/web/frontend/test_auth_organization_login.py
Due: pyupgrade, isort, flake8, mypy, check-mypy-bypass

fix(issues): Standardize vertical alignment of the "Jump to:" label
  static/app/views/issueDetails/eventNavigation/issueDetailsJumpTo.tsx
Due: biome, eslint, stylelint, prettier

ref: re-write boundaries rules to the new structure
  eslint.config.ts
Due: biome, eslint, stylelint, prettier

feat(autofix): add section retry controls (#121267)
  static/app/components/events/autofix/v3/autofixResetPrompt.tsx
  static/app/components/events/autofix/v3/useResetAutofixStep.spec.tsx
  static/app/views/issueDetails/issuePreview/issuePreview.tsx
  static/app/views/issueDetails/issuePreview/issuePreviewAutofixPlanSection.tsx
  static/app/views/issueDetails/issuePreview/issuePreviewAutofixProposalSection.tsx
  static/app/views/issueDetails/issuePreview/issuePreviewAutofixRootCauseSection.tsx
  static/app/views/issueDetails/issuePreview/issuePreviewAutofixSummary.spec.tsx
  static/app/views/issueDetails/issuePreview/issuePreviewAutofixSummary.tsx
  static/app/views/issueDetails/issuePreview/issuePreviewSection.tsx
  static/app/views/issueDetails/issuePreview/retryableAutofixSection.tsx
  static/app/views/issueDetails/issuePreview/workingIndicator.tsx
  tests/js/fixtures/autofix.ts
Due: biome, eslint, stylelint, prettier

feat(issue-preview): Copy completed Autofix sections
  static/app/views/issueDetails/issuePreview/copySectionMarkdown.tsx
  static/app/views/issueDetails/issuePreview/issuePreviewAutofixPlanSection.tsx
  static/app/views/issueDetails/issuePreview/issuePreviewAutofixProposalSection.tsx
  static/app/views/issueDetails/issuePreview/issuePreviewAutofixRootCauseSection.tsx
  static/app/views/issueDetails/issuePreview/issuePreviewAutofixSummary.spec.tsx
Due: biome, eslint, stylelint, prettier

feat(autofix): Add section retry controls
  static/app/views/issueDetails/issuePreview/issuePreviewAutofixSummary.spec.tsx
Due: biome, eslint, stylelint, prettier

feat(inbox): Auto-select first issue (#121166)
  static/app/views/issueList/pages/inbox.spec.tsx
  static/app/views/issueList/pages/inbox.tsx
Due: biome, eslint, stylelint, prettier

fix(inbox): Keep load more below sticky headers (#121370)
  static/app/views/issueList/pages/inbox.tsx
Due: biome, eslint, stylelint, prettier

fix(onboarding): Equalize welcome product copy heights
  static/app/views/onboarding/components/newWelcome.tsx
Due: biome, eslint, stylelint, prettier

fix(inbox): Expose section count to screen readers
  static/app/views/issueList/pages/inbox.spec.tsx
  static/app/views/issueList/pages/inbox.tsx
Due: biome, eslint, stylelint, prettier

feat(issue-inbox): Add interaction analytics
  static/app/utils/analytics/issueAnalyticsEvents.tsx
  static/app/views/issueDetails/issuePreview/issuePreview.tsx
  static/app/views/issueDetails/issuePreview/issuePreviewSeerActions.tsx
  static/app/views/issueList/pages/inbox.spec.tsx
  static/app/views/issueList/pages/inbox.tsx
Due: biome, eslint, stylelint, prettier

feat(issue-inbox): Track assignment filter analytics
  static/app/utils/analytics/issueAnalyticsEvents.tsx
  static/app/views/issueList/pages/inbox.spec.tsx
  static/app/views/issueList/pages/inbox.tsx
Due: biome, eslint, stylelint, prettier

feat(inbox): Add copy markdown button to autofix sections (#121394)
  static/app/views/issueDetails/issuePreview/copySectionMarkdown.tsx
  static/app/views/issueDetails/issuePreview/issuePreviewAutofixPlanSection.tsx
  static/app/views/issueDetails/issuePreview/issuePreviewAutofixProposalSection.tsx
  static/app/views/issueDetails/issuePreview/issuePreviewAutofixRootCauseSection.tsx
  static/app/views/issueDetails/issuePreview/issuePreviewAutofixSummary.spec.tsx
Due: biome, eslint, stylelint, prettier

allow eslint
  eslint.config.ts
Due: biome, eslint, stylelint, prettier

Remove unnecessary tests
  static/app/views/issueList/pages/inbox.spec.tsx
Due: biome, eslint, stylelint, prettier

ref(integrations): Clean up the sentry app request log
  static/app/actionCreators/sentryApps.tsx
  static/app/types/integrations.tsx
  static/app/views/settings/organizationDeveloperSettings/sentryApplicationDashboard/index.spec.tsx
  static/app/views/settings/organizationDeveloperSettings/sentryApplicationDashboard/requestLog.tsx
  tests/js/fixtures/sentryAppWebhookRequest.ts
Due: biome, eslint, stylelint, prettier

Path conditions:
  pyupgrade: any of: \.py$, but not: (?x)(
    LICENSE.md$|
    \.snap$|
    \.map$|
    \.map\.js$|
    ^src/sentry/static/sentry/vendor/|
    ^src/.*/locale/|
    ^src/sentry/data/
)

  isort: any of: \.py$, but not: (?x)(
    LICENSE.md$|
    \.snap$|
    \.map$|
    \.map\.js$|
    ^src/sentry/static/sentry/vendor/|
    ^src/.*/locale/|
    ^src/sentry/data/
)

  flake8: any of: \.py$, but not: (?x)(
    LICENSE.md$|
    \.snap$|
    \.map$|
    \.map\.js$|
    ^src/sentry/static/sentry/vendor/|
    ^src/.*/locale/|
    ^src/sentry/data/
)

  mypy: any of: \.py$, but not: (?x)(
    LICENSE.md$|
    \.snap$|
    \.map$|
    \.map\.js$|
    ^src/sentry/static/sentry/vendor/|
    ^src/.*/locale/|
    ^src/sentry/data/
)

  lint-requirements: any of: requirements-.*\.txt$ and not (^requirements-getsentry-overrides\.txt$) and not ((?x)(
    LICENSE.md$|
    \.snap$|
    \.map$|
    \.map\.js$|
    ^src/sentry/static/sentry/vendor/|
    ^src/.*/locale/|
    ^src/sentry/data/
)
)
  requirements-overrides: any of: ^requirements-getsentry-overrides\.txt$, but not: (?x)(
    LICENSE.md$|
    \.snap$|
    \.map$|
    \.map\.js$|
    ^src/sentry/static/sentry/vendor/|
    ^src/.*/locale/|
    ^src/sentry/data/
)

  check-mypy-bypass: any of: \.py$, but not: (?x)(
    LICENSE.md$|
    \.snap$|
    \.map$|
    \.map\.js$|
    ^src/sentry/static/sentry/vendor/|
    ^src/.*/locale/|
    ^src/sentry/data/
)

  sort-stronger-mypy-list: any of: ^pyproject\.toml$, but not: (?x)(
    LICENSE.md$|
    \.snap$|
    \.map$|
    \.map\.js$|
    ^src/sentry/static/sentry/vendor/|
    ^src/.*/locale/|
    ^src/sentry/data/
)

  check-mypy-stronglist: any of: ^pyproject\.toml$, but not: (?x)(
    LICENSE.md$|
    \.snap$|
    \.map$|
    \.map\.js$|
    ^src/sentry/static/sentry/vendor/|
    ^src/.*/locale/|
    ^src/sentry/data/
)

  biome: any of: \.(jsx?|tsx?|css)$, but not: (?x)(
    LICENSE.md$|
    \.snap$|
    \.map$|
    \.map\.js$|
    ^src/sentry/static/sentry/vendor/|
    ^src/.*/locale/|
    ^src/sentry/data/
)

  eslint: any of: \.(ts|js|tsx|jsx|mjs)$, but not: (?x)(
    LICENSE.md$|
    \.snap$|
    \.map$|
    \.map\.js$|
    ^src/sentry/static/sentry/vendor/|
    ^src/.*/locale/|
    ^src/sentry/data/
)

  stylelint: any of: \.[jt]sx?$, but not: (?x)(
    LICENSE.md$|
    \.snap$|
    \.map$|
    \.map\.js$|
    ^src/sentry/static/sentry/vendor/|
    ^src/.*/locale/|
    ^src/sentry/data/
)

  prettier: any of: \.(yaml|yml)$, \.(md|markdown|mdown)$, \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.css$ and not ((?x)^($^
  # prettier crashes on some of these, by intent:
  |fixtures/.*
  # these have enormous diffs when formatted:
  |api-docs/paths/events/issue-hashes\.json
  |api-docs/paths/events/latest-event\.json
  |api-docs/paths/events/oldest-event\.json
  |api-docs/paths/events/project-event-details\.json
  |src/sentry/issues/event\.schema\.json
  |static/app/data/world\.json
  |static/app/utils/profiling/profile/formats/android/trace\.json
  |static/app/utils/profiling/profile/formats/ios/trace\.json
  |static/app/utils/profiling/profile/formats/node/trace\.json
  |static/app/utils/profiling/profile/formats/typescript/trace\.json
)$
) and not ((?x)(
    LICENSE.md$|
    \.snap$|
    \.map$|
    \.map\.js$|
    ^src/sentry/static/sentry/vendor/|
    ^src/.*/locale/|
    ^src/sentry/data/
)
)
