Repository getsentry/sentry: changes, and which pre-commit hooks are due for each by the changed paths.
All: pyupgrade, black, isort, flake8, lint-requirements, pyright

.pre-commit-config.yaml:

exclude: >
    (?x)(
        LICENSE$|
        \.snap$|
        \.map$|
        \.map\.js$|
        ^src/sentry/static/sentry/vendor/|
        ^src/.*/locale/|
        ^src/sentry/data/
    )

repos:
# Many of these hooks are local because people use a variety of IDEs
# with autoformatters that need to call out to things like `black` directly.
# pre-commit run is not the same, and something like pre-commit exec does
# not exist yet.
-   repo: local
    hooks:
    - id: pyupgrade
      name: pyupgrade
      entry: pyupgrade
      args: ['--py38-plus', '--keep-runtime-typing']
      language: system
      types: [python]
    # Configuration for black exists in pyproject.toml,
    # but we let pre-commit take care of the file filtering.
    - id: black
      name: black
      entry: black
      language: system
      types: [python]
      require_serial: true
    # Configuration for isort exists in pyproject.toml,
    # but we let pre-commit take care of the file filtering.
    - id: isort
      name: isort
      entry: isort
      language: system
      types: [python]
    # Configuration for flake8 exists in setup.cfg,
    # but we let pre-commit take care of the file filtering.
    - id: flake8
      name: flake8
      entry: flake8
      language: system
      types: [python]
      log_file: '.artifacts/flake8.pycodestyle.log'
    - id: lint-requirements
      name: lint-requirements
      entry: python -m tools.lint_requirements
      language: python
      files: requirements-.*\.txt$
      additional_dependencies: [packaging==21.3]
    - id: pyright
      name: pyright
      entry: pyright
      language: node
      files: ^src/
      types: [ python ]
      require_serial: true
      additional_dependencies: [ "pyright@1.1.186" ]
      args: [ '--project', 'pyrightconfig-commithook.json' ]
    - id: prevent-push
      name: prevent pushing master
      stages: [push]
      entry: bash -c 'test "$PRE_COMMIT_REMOTE_BRANCH" != "refs/heads/master"'
      always_run: true
      pass_filenames: false
      language: system

-   repo: https://github.com/python-jsonschema/check-jsonschema
    rev: 0.21.0
    hooks:
    - id: check-github-actions
    - id: check-github-workflows
      args: [--verbose]

-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.3.0
    hooks:
    - id: check-case-conflict
    - id: check-executables-have-shebangs
    - id: check-merge-conflict
    - id: check-symlinks
    - id: check-yaml
    - id: end-of-file-fixer
      exclude_types: [svg]
      exclude: ^fixtures/
    - id: trailing-whitespace
      exclude_types: [svg]
      exclude: ^(fixtures/|scripts/patches/)
    - id: debug-statements
    - id: name-tests-test
      args: [--pytest-test-first]

pass exception to `capture_exception` in `IntegrationEndpoint`
  src/sentry/api/bases/integration.py
Due: pyupgrade, black, isort, flake8, pyright

add print and `capture_exception` checks to tests
  tests/sentry/api/bases/test_integration.py
  tests/sentry/api/test_base.py
Due: pyupgrade, black, isort, flake8

fix(routes): Fix starfish route (#48434)
  static/app/routes.tsx
Due: none

0.1.3
  requirements-base.txt
Due: lint-requirements

fix(hybrid-cloud): Add a self parameter to provider() stub
  src/sentry/middleware/integrations/parsers/base.py
Due: pyupgrade, black, isort, flake8, pyright

fix(consecutive-http): Don't record problem if lcp is None
  src/sentry/utils/performance_issues/detectors/consecutive_http_detector.py
Due: pyupgrade, black, isort, flake8, pyright

feat(roles): Team-roles for Project Settings page (#48182)
  src/sentry/api/endpoints/project_details.py
  static/app/views/settings/projectGeneralSettings/index.tsx
  tests/sentry/api/endpoints/test_project_details.py
Due: pyupgrade, black, isort, flake8, pyright

feat(roles): Team-roles for Team Projects page (#48200)
  fixtures/js-stubs/project.js
  fixtures/js-stubs/team.js
  static/app/views/settings/organizationTeams/teamProjects.spec.jsx
  static/app/views/settings/organizationTeams/teamProjects.tsx
Due: none

feat(roles): Team-roles for Team Settings page (#48197)
  static/app/data/forms/teamSettingsFields.tsx
  static/app/views/settings/organizationTeams/teamSettings/index.spec.jsx
  static/app/views/settings/organizationTeams/teamSettings/index.tsx
Due: none

fix(hybrid-cloud): Fix Slack webhook response parser bug
  src/sentry/middleware/integrations/parsers/slack.py
Due: pyupgrade, black, isort, flake8, pyright

initial working backend
  src/sentry/monitors/endpoints/organization_monitors.py
Due: pyupgrade, black, isort, flake8, pyright

feat(escalating-issues): Emit Archived webhook (#47960)
  src/sentry/receivers/sentry_apps.py
  tests/sentry/receivers/test_sentry_apps.py
Due: pyupgrade, black, isort, flake8, pyright

fix(issue-alerts): Update copy to use archived/escalating (#48393)
  static/app/views/alerts/rules/issue/details/textRule.tsx
Due: none

fix(hybrid-cloud): Add a self parameter to provider() stub (#48442)
  src/sentry/middleware/integrations/parsers/base.py
Due: pyupgrade, black, isort, flake8, pyright

fix(event-waiter): Remove update project logic
  static/app/utils/eventWaiter.tsx
Due: none

fix(replays): Simplify condition for the text colour on the network details panel
  static/app/views/replays/detail/network/networkTableCell.tsx
Due: none

fix(perf): remove slug from check_object_permissions_on_organization … (#48413)
  src/sentry/api/bases/organization.py
Due: pyupgrade, black, isort, flake8, pyright

remove unused import
  static/app/utils/eventWaiter.tsx
Due: none

fix(consecutive-http): Don't record problem if lcp is None (#48443)
  src/sentry/utils/performance_issues/detectors/consecutive_http_detector.py
Due: pyupgrade, black, isort, flake8, pyright

save rule id
  src/sentry/monitors/endpoints/organization_monitors.py
Due: pyupgrade, black, isort, flake8, pyright

fix(frontend): Clean up useless expressions
  static/app/components/sidebar/index.tsx
  static/app/components/timeRangeSelector.spec.tsx
Due: none

feat(hybrid-cloud): Add organization_service.reset_idp_flags
  src/sentry/models/authprovider.py
  src/sentry/services/hybrid_cloud/organization/__init__.py
  src/sentry/services/hybrid_cloud/organization/impl.py
Due: pyupgrade, black, isort, flake8, pyright

chore(hybrid-cloud): RpcOrganizationMappingUpdate.from_orm
  src/sentry/receivers/outbox/region.py
  src/sentry/services/hybrid_cloud/organization_mapping/__init__.py
Due: pyupgrade, black, isort, flake8, pyright

fix
  src/sentry/services/hybrid_cloud/organization_mapping/impl.py
  tests/sentry/hybrid_cloud/test_organizationmapping.py
Due: pyupgrade, black, isort, flake8, pyright

saves + deletes rule
  src/sentry/conf/server.py
  src/sentry/monitors/endpoints/organization_monitor_details.py
  src/sentry/monitors/endpoints/organization_monitors.py
Due: pyupgrade, black, isort, flake8, pyright

simplify
  src/sentry/services/hybrid_cloud/organization_mapping/__init__.py
Due: pyupgrade, black, isort, flake8, pyright

chore(hybrid-cloud): Simplify usage of RpcOrganizationMemberMappingUpdate
  src/sentry/services/hybrid_cloud/organizationmember_mapping/__init__.py
  src/sentry/services/hybrid_cloud/organizationmember_mapping/impl.py
Due: pyupgrade, black, isort, flake8, pyright

Add notes for where user.actor_id is in use.
  src/sentry/api/serializers/models/external_actor.py
  src/sentry/api/serializers/models/group.py
  src/sentry/api/serializers/models/grouptombstone.py
  src/sentry/api/serializers/models/notification_setting.py
  src/sentry/api/serializers/models/organization_member/base.py
  src/sentry/api/serializers/models/rule.py
  src/sentry/mail/notifications.py
  src/sentry/models/actor.py
  src/sentry/notifications/helpers.py
  src/sentry/notifications/manager.py
  src/sentry/notifications/notifications/digest.py
  src/sentry/services/hybrid_cloud/actor.py
  src/sentry/services/hybrid_cloud/notifications/impl.py
  src/sentry/services/hybrid_cloud/user/impl.py
  tests/sentry/api/serializers/test_external_actor.py
  tests/sentry/models/test_actor.py
Due: pyupgrade, black, isort, flake8, pyright

fix(event-waiter): Remove update project logic (#48446)
  static/app/utils/eventWaiter.tsx
Due: none

fix(hybrid-cloud): Fix Slack webhook response parser bug (#48445)
  src/sentry/middleware/integrations/parsers/slack.py
Due: pyupgrade, black, isort, flake8, pyright
