Repository getsentry/sentry: changes, and which pre-commit hooks are due for each by the changed paths.
All: pyupgrade, black, isort, flake8, lint-requirements, pyright

pyupgrade:
  name: pyupgrade
  entry: pyupgrade
  args:
  - --py38-plus
  - --keep-runtime-typing
  language: system

black:
  name: black
  entry: black
  language: system
  require_serial: true

isort:
  name: isort
  entry: isort
  language: system

flake8:
  name: flake8
  entry: flake8
  language: system
  log_file: .artifacts/flake8.pycodestyle.log

lint-requirements:
  name: lint-requirements
  entry: python -m tools.lint_requirements
  language: python
  additional_dependencies:
  - packaging==21.3

pyright:
  name: pyright
  entry: pyright
  language: node
  require_serial: true
  additional_dependencies:
  - pyright@1.1.186
  args:
  - --project
  - pyrightconfig-commithook.json

Dump span baseline table
  static/app/views/starfish/components/formattedCode.tsx
  static/app/views/starfish/views/spanSummaryPage/index.tsx
  static/app/views/starfish/views/spanSummaryPage/spanBaselineTable.tsx
Due: none

redirect to right org for external installation flow
  static/app/views/integrationOrganizationLink/index.tsx
Due: none

cleanup
  static/app/views/integrationOrganizationLink/index.tsx
Due: none

fix(issues): Prevent 414 URI too long in recent searches
  static/app/actionCreators/savedSearches.tsx
Due: none

ref: use macos 12 for testing dev-env
  .github/workflows/development-environment.yml
Due: none

fix(starfish): Missing brackets
  src/sentry/search/events/datasets/spans_metrics.py
Due: pyupgrade, black, isort, flake8, pyright

Add throughput delta column to modules
  static/app/views/starfish/components/samplesTable/common.tsx
  static/app/views/starfish/components/tableCells/throughputCell.tsx
  static/app/views/starfish/queries/useSpanList.tsx
  static/app/views/starfish/views/spans/spansTable.tsx
Due: none

Fix missing referrer
  static/app/views/starfish/queries/useSpanList.tsx
Due: none

Add p95 delta column to module views
  static/app/views/starfish/components/tableCells/durationCell.tsx
  static/app/views/starfish/queries/useSpanList.tsx
  static/app/views/starfish/views/spans/spansTable.tsx
Due: none

normalize url
  static/app/views/integrationOrganizationLink/index.tsx
Due: none

set variants based on experiment choice
  static/app/data/experimentConfig.tsx
  static/app/views/issueList/overview.tsx
Due: none

Print drift
  src/sentry/runner/commands/configoptions.py
Due: pyupgrade, black, isort, flake8, pyright

remove backend featureflag
  src/sentry/conf/server.py
  src/sentry/features/__init__.py
  src/sentry/notifications/notifications/digest.py
  src/sentry/notifications/notifications/rules.py
Due: pyupgrade, black, isort, flake8, pyright

style(ui): Make stats/settings button smaller (ER-1600) (#50636)
  static/app/views/organizationStats/usageTable/index.tsx
Due: none

remove endpoint check
  src/sentry/api/endpoints/rule_snooze.py
Due: pyupgrade, black, isort, flake8, pyright

Update development-environment.yml
  .github/workflows/development-environment.yml
Due: none

fix(issues): Prevent 414 URI too long in recent searches (#50670)
  static/app/actionCreators/savedSearches.tsx
Due: none

ref: upgrade cssselect
  pyproject.toml
  requirements-base.txt
  requirements-dev-frozen.txt
  requirements-frozen.txt
  src/sentry/replays/lib/selector/parse.py
Due: pyupgrade, black, isort, flake8, lint-requirements, pyright

remove feature from fe
  static/app/views/alerts/rules/issue/details/ruleDetails.spec.tsx
  static/app/views/alerts/rules/issue/details/ruleDetails.tsx
Due: none

ref(ui): Fix text for Sentry App uninstallation
  static/app/views/settings/organizationIntegrations/sentryAppDetailedView.tsx
Due: none

Pew Pew Pew
  src/sentry/api/endpoints/organization_users.py
Due: pyupgrade, black, isort, flake8, pyright

remove more
  src/sentry/api/endpoints/rule_snooze.py
Due: pyupgrade, black, isort, flake8, pyright

fix(starfish): Missing brackets (#50672)
  src/sentry/search/events/datasets/spans_metrics.py
Due: pyupgrade, black, isort, flake8, pyright

feat(settings): Group all api source errors
  static/app/components/search/sources/apiSource.tsx
Due: none

fix(alerts): Allow all projects if alerts_member_write is True
  static/app/views/alerts/rules/issue/index.tsx
  static/app/views/alerts/rules/metric/ruleConditionsForm.tsx
  static/app/views/alerts/rules/utils.tsx
Due: none

do not report 401 or 403
  static/app/components/search/sources/apiSource.tsx
Due: none

remove from test
  tests/sentry/api/endpoints/test_rule_snooze.py
  tests/sentry/mail/test_adapter.py
Due: pyupgrade, black, isort, flake8

feat(starfish) Add span summary page charts (#50666)
  static/app/views/starfish/components/chartPanel.tsx
  static/app/views/starfish/components/formattedCode.tsx
  static/app/views/starfish/views/spanSummaryPage/index.tsx
  static/app/views/starfish/views/spanSummaryPage/spanBaselineTable.tsx
Due: none

Config path
  src/sentry/runner/commands/configoptions.py
Due: pyupgrade, black, isort, flake8, pyright

fix(ui): Remove translations from error requests
  static/app/views/onboarding/onboarding.tsx
  static/app/views/projectInstall/platform.tsx
  static/app/views/settings/projectIssueGrouping/upgradeGrouping.tsx
Due: none

ref(ui): Fix text for Sentry App uninstallation (#50681)
  static/app/views/settings/organizationIntegrations/sentryAppDetailedView.tsx
Due: none

Path conditions:
  pyupgrade: any of: \.py$, but not: (?x)(
    LICENSE$|
    \.snap$|
    \.map$|
    \.map\.js$|
    ^src/sentry/static/sentry/vendor/|
    ^src/.*/locale/|
    ^src/sentry/data/
)

  black: any of: \.py$, but not: (?x)(
    LICENSE$|
    \.snap$|
    \.map$|
    \.map\.js$|
    ^src/sentry/static/sentry/vendor/|
    ^src/.*/locale/|
    ^src/sentry/data/
)

  isort: any of: \.py$, but not: (?x)(
    LICENSE$|
    \.snap$|
    \.map$|
    \.map\.js$|
    ^src/sentry/static/sentry/vendor/|
    ^src/.*/locale/|
    ^src/sentry/data/
)

  flake8: any of: \.py$, but not: (?x)(
    LICENSE$|
    \.snap$|
    \.map$|
    \.map\.js$|
    ^src/sentry/static/sentry/vendor/|
    ^src/.*/locale/|
    ^src/sentry/data/
)

  lint-requirements: any of: requirements-.*\.txt$, but not: (?x)(
    LICENSE$|
    \.snap$|
    \.map$|
    \.map\.js$|
    ^src/sentry/static/sentry/vendor/|
    ^src/.*/locale/|
    ^src/sentry/data/
)

  pyright: any of: ^src/ and \.py$ and not ((?x)(
    LICENSE$|
    \.snap$|
    \.map$|
    \.map\.js$|
    ^src/sentry/static/sentry/vendor/|
    ^src/.*/locale/|
    ^src/sentry/data/
)
)
