Repository getsentry/sentry: changes, and which pre-commit hooks are due for each by the changed paths.
All: pyupgrade, isort, flake8, mypy, lint-requirements, requirements-overrides, check-mypy-bypass, sort-stronger-mypy-list, check-mypy-stronglist, biome, eslint, stylelint, prettier

pyupgrade:
  name: pyupgrade
  entry: pyupgrade
  args:
  - --py312-plus
  language: system

isort:
  name: isort
  entry: isort
  language: system

flake8:
  name: flake8
  entry: flake8
  language: system
  log_file: .artifacts/flake8.pycodestyle.log

mypy:
  name: mypy
  entry: bash -c 'if [ -n "${SENTRY_MYPY_PRE_PUSH:-}" ]; then exec mypy "$@"; fi' --
  language: system
  stages:
  - pre-push
  require_serial: true

lint-requirements:
  name: lint-requirements
  entry: python -m tools.lint_requirements
  language: python
  additional_dependencies:
  - packaging==24.1

requirements-overrides:
  name: use pinned archives (see comment in file)
  stages:
  - pre-commit
  language: pygrep
  entry: '(?x)
  
    ^
  
    # it''s a comment line
  
    (?!\#.*$)
  
    # it''s a blank line
  
    (?!$)
  
    # it''s a pinned archive
  
    (?![a-z-]+[ ]@[ ]https://github\.com/getsentry/[^/]+/archive/[a-f0-9]{40}\.zip$)
  
    '

check-mypy-bypass:
  name: do not bypass the type checker
  entry: '(^# *mypy: *ignore-errors|^# *type: *ignore|\bno_type_check\b)'
  language: pygrep

sort-stronger-mypy-list:
  name: sort stronger mypy list
  entry: python3 -m tools.mypy_helpers.sort_stronger_modules
  language: python

check-mypy-stronglist:
  name: check mypy stronglist
  entry: python3 -m tools.mypy_helpers.check_stronglist
  language: python

biome:
  name: biome (javascript, typescript, json)
  language: system
  entry: ./node_modules/.bin/biome check --log-level=error --write --files-ignore-unknown=true --no-errors-on-unmatched

eslint:
  name: eslint
  language: system
  entry: ./node_modules/.bin/eslint --quiet --fix

stylelint:
  name: stylelint
  language: system
  entry: ./node_modules/.bin/stylelint --quiet

prettier:
  name: prettier (yaml, markdown, ts, tsx, js, jsx, css)
  language: system
  entry: ./node_modules/.bin/prettier --log-level=error --write

chore(scm-project-creation-flow): Clearing alert channel on refetch (#119461)
  static/app/views/projectInstall/issueAlertNotificationOptions.spec.tsx
  static/app/views/projectInstall/issueAlertNotificationOptions.tsx
  static/app/views/projectInstall/messagingIntegrationAlertRule.spec.tsx
  static/app/views/projectInstall/messagingIntegrationAlertRule.tsx
Due: biome, eslint, stylelint, prettier

chore(scm-first-onboarding): Secondary components migration to unifie… (#119549)
  static/app/components/onboarding/createSampleEventButton.spec.tsx
  static/app/components/onboarding/createSampleEventButton.tsx
  static/app/components/onboarding/pageCorners.tsx
  static/app/components/onboarding/productSelection.tsx
  static/app/components/onboarding/stepper.tsx
  static/app/components/onboarding/useOnboardingQueryParams.tsx
  static/app/components/onboarding/useOnboardingSidebar.tsx
  static/app/components/waitingForEvents.tsx
  static/app/views/navigation/primary/onboarding.tsx
  static/app/views/onboarding/components/firstEventFooter.tsx
  static/app/views/onboarding/components/onboardingSkipButton.tsx
  static/app/views/onboarding/components/welcomeSkipButton.tsx
  static/app/views/onboarding/onboarding.tsx
  static/app/views/relocation/relocation.tsx
Due: biome, eslint, stylelint, prettier

test(trace-items): Fix metric_type literal typing in store_metric helper
  tests/snuba/api/endpoints/test_organization_trace_item_metric_context.py
Due: pyupgrade, isort, flake8, mypy, check-mypy-bypass

chore(scm-project-creation-flow): Channel fallback and label reconci… (#119476)
  static/app/views/projectInstall/issueAlertNotificationOptions.spec.tsx
  static/app/views/projectInstall/issueAlertNotificationOptions.tsx
  static/app/views/projectInstall/messagingIntegrationAlertRule.spec.tsx
  static/app/views/projectInstall/messagingIntegrationAlertRule.tsx
Due: biome, eslint, stylelint, prettier

chore(scm-project-creation-flow): Cleaning up
  static/app/views/projectInstall/scmCreateProjectSession.spec.tsx
  static/app/views/projectInstall/scmCreateProjectSession.tsx
Due: biome, eslint, stylelint, prettier

♻️ rename fn
  src/sentry/notifications/platform/templates/activity/seer/coding_completed.py
  src/sentry/notifications/platform/templates/activity/seer/coding_started.py
  src/sentry/notifications/platform/templates/activity/seer/iteration_completed.py
  src/sentry/notifications/platform/templates/activity/seer/iteration_started.py
  src/sentry/notifications/platform/templates/activity/seer/pr_created.py
  src/sentry/notifications/platform/templates/activity/seer/rca_completed.py
  src/sentry/notifications/platform/templates/activity/seer/rca_started.py
  src/sentry/notifications/platform/templates/activity/seer/solution_completed.py
  src/sentry/notifications/platform/templates/activity/seer/solution_started.py
  src/sentry/notifications/platform/templates/activity/set_resolved/set_resolved.py
  src/sentry/notifications/platform/templates/activity/set_resolved/set_resolved_by_age.py
  src/sentry/notifications/platform/templates/activity/set_resolved/set_resolved_in_commit.py
  src/sentry/notifications/platform/templates/activity/set_resolved/set_resolved_in_release.py
  tests/sentry/notifications/platform/templates/workflow_engine/test_activity.py
Due: pyupgrade, isort, flake8, mypy, check-mypy-bypass

remove unused exports
  static/app/components/core/breadcrumbList/breadcrumbList.tsx
  static/app/components/core/breadcrumbList/index.tsx
  static/app/components/core/breadcrumbList/items/breadcrumbItemPageTitle.tsx
Due: biome, eslint, stylelint, prettier

test(trace-items): Drop statsPeriod from metric context tests
  src/sentry/api/endpoints/organization_trace_item_metric_context.py
  tests/snuba/api/endpoints/test_organization_trace_item_metric_context.py
Due: pyupgrade, isort, flake8, mypy, check-mypy-bypass

ref(trace-items): Drop redundant window comment
  src/sentry/api/endpoints/organization_trace_item_metric_context.py
Due: pyupgrade, isort, flake8, mypy, check-mypy-bypass

chore(control): Pending deletion for dead TeamReplica table
  migrations_lockfile.txt
  src/sentry/db/router.py
  src/sentry/migrations/1134_remove_teamreplica_pending.py
  src/sentry/models/__init__.py
  src/sentry/models/teamreplica.py
Due: pyupgrade, isort, flake8, mypy, check-mypy-bypass

ref: make sure we pass a page-title or editable-page-title as last item into breadcrumbs
  static/app/components/core/breadcrumbList/breadcrumbList.tsx
  static/app/views/explore/replays/detail/header/replayDetailsPageBreadcrumbs.tsx
  static/app/views/issueDetails/header/header.tsx
  static/app/views/issueDetails/header/issueIdBreadcrumb.tsx
Due: biome, eslint, stylelint, prettier

ref: always render topbar slot as div when breadcrumbs are involved
  static/app/views/dashboards/detail.tsx
  static/app/views/issueDetails/header/header.tsx
Due: biome, eslint, stylelint, prettier

chore: address code review
  static/app/views/explore/logs/logsOnboarding.tsx
Due: biome, eslint, stylelint, prettier

✨ add newly req fields
  src/sentry/notifications/notification_action/activity_registry/base.py
Due: pyupgrade, isort, flake8, mypy, check-mypy-bypass

fix(explore): fix test to check actual interactive elements for disabled state
  static/app/views/explore/tables/columnEditorModal.spec.tsx
Due: biome, eslint, stylelint, prettier

split out index from migration
  src/sentry/migrations/1133_organizationcontributors_provider_hostname_not_null.py
  src/sentry/models/organizationcontributors.py
Due: pyupgrade, isort, flake8, mypy, check-mypy-bypass

feat(pr iteration): cap check-suite-only iterations
  src/sentry/seer/autofix/pr_iteration/feedback_sources/check_suite.py
  tests/sentry/seer/autofix/pr_iteration/test_check_suite.py
Due: pyupgrade, isort, flake8, mypy, check-mypy-bypass

feat(autofix): trigger PR iteration from failed check suites
  src/sentry/seer/autofix/constants.py
  src/sentry/seer/autofix/pr_iteration/feedback.py
  src/sentry/seer/autofix/pr_iteration/feedback_sources/check_suite.py
  src/sentry/seer/autofix/pr_iteration/listeners/__init__.py
  src/sentry/seer/autofix/pr_iteration/listeners/check_suite.py
  tests/sentry/seer/autofix/pr_iteration/test_check_suite.py
  tests/sentry/seer/autofix/pr_iteration/test_feedback_queue.py
  tests/sentry/seer/autofix/pr_iteration/test_types.py
Due: pyupgrade, isort, flake8, mypy, check-mypy-bypass

feat(autofix): delay check_suite feedback trigger 1h when checks still pending
  src/sentry/seer/autofix/pr_iteration/feedback_sources/check_suite.py
  tests/sentry/seer/autofix/pr_iteration/test_types.py
Due: pyupgrade, isort, flake8, mypy, check-mypy-bypass

fix(explore): remove comments and format test properly
  static/app/views/explore/tables/columnEditorModal.spec.tsx
Due: biome, eslint, stylelint, prettier

fix(search): Make Ask Seer footer keyboard accessible
  static/app/components/searchQueryBuilder/askSeer/openAskSeerButton.tsx
  static/app/components/searchQueryBuilder/index.spec.tsx
  static/app/components/searchQueryBuilder/tokens/combobox.tsx
  static/app/components/searchQueryBuilder/tokens/filterKeyListBox/index.tsx
  static/app/components/searchQueryBuilder/tokens/useSearchTokenCombobox.tsx
Due: biome, eslint, stylelint, prettier

fix(explore): use getAllByRole to handle multiple column buttons
  static/app/views/explore/tables/columnEditorModal.spec.tsx
Due: biome, eslint, stylelint, prettier

ref(search): Clarify Ask Seer focus flow
  static/app/components/searchQueryBuilder/askSeer/openAskSeerButton.tsx
  static/app/components/searchQueryBuilder/tokens/combobox.tsx
  static/app/components/searchQueryBuilder/tokens/filterKeyListBox/index.tsx
  static/app/components/searchQueryBuilder/tokens/useSearchTokenCombobox.tsx
Due: biome, eslint, stylelint, prettier

fix(explore): check aria-disabled attribute instead of disabled state for divs with role=button
  static/app/views/explore/tables/columnEditorModal.spec.tsx
Due: biome, eslint, stylelint, prettier

chore(billing-platform): Bump sentry-protos 0.44.2
  pyproject.toml
  uv.lock
Due: sort-stronger-mypy-list, check-mypy-stronglist

add provider+hostname lookup index
  migrations_lockfile.txt
  src/sentry/migrations/1134_add_organizationcontributors_lookup_index.py
  src/sentry/models/organizationcontributors.py
Due: pyupgrade, isort, flake8, mypy, check-mypy-bypass

fix(explore): query buttons by specific name instead of array index
  static/app/views/explore/tables/columnEditorModal.spec.tsx
Due: biome, eslint, stylelint, prettier

fix notif title on error, throw on non-200 responses
  static/app/components/events/autofix/useExplorerAutofix.tsx
  static/app/serviceWorker/worker/client-config.ts
  static/app/serviceWorker/worker/fetch.ts
  static/app/serviceWorker/worker/handleAutofixStartStep.ts
  static/app/serviceWorker/worker/initializeSentry.ts
Due: biome, eslint, stylelint, prettier

feat(events): Improve frame register controls
  static/app/components/events/interfaces/frame/frameRegisters/index.spec.tsx
  static/app/components/events/interfaces/frame/frameRegisters/index.tsx
  static/app/components/events/interfaces/frame/frameRegisters/registers.tsx
  static/app/components/events/interfaces/frame/frameRegisters/utils.spec.tsx
  static/app/components/events/interfaces/frame/frameRegisters/utils.tsx
  static/app/components/events/interfaces/frame/frameRegisters/value.tsx
Due: biome, eslint, stylelint, prettier

fix(merge): Replace at_most_once with idempotency guard on start tasks
  src/sentry/tasks/merge.py
  src/sentry/tasks/unmerge.py
Due: pyupgrade, isort, flake8, mypy, check-mypy-bypass

fix(explore): use getAllByRole and find to handle duplicate button names
  static/app/views/explore/tables/columnEditorModal.spec.tsx
Due: biome, eslint, stylelint, prettier

fix other review notes
  static/app/components/events/autofix/v3/seerEnableNotifications.tsx
  static/app/serviceWorker/worker/showNotification.ts
  static/app/serviceWorker/worker/worker.ts
Due: biome, eslint, stylelint, prettier

chore(scm-project-creation-flow): Fixing flaky acceptance test
  tests/acceptance/test_create_project.py
Due: pyupgrade, isort, flake8, mypy, check-mypy-bypass

fix: avoid selecting hidden / virtualized elements
  static/app/components/core/compactSelect/compactSelect.spec.tsx
  static/app/components/core/compactSelect/compactSelect.tsx
  static/app/components/core/compactSelect/composite.tsx
  static/app/components/core/compactSelect/control.tsx
Due: biome, eslint, stylelint, prettier

fix cache race condition
  static/app/serviceWorker/worker/client-config.ts
Due: biome, eslint, stylelint, prettier

fix(explore): use textContent to find buttons instead of aria-label
  static/app/views/explore/tables/columnEditorModal.spec.tsx
Due: biome, eslint, stylelint, prettier

attempt to initialize sentry once in the service worker, between wakeups
  static/app/serviceWorker/worker/initializeSentry.ts
Due: biome, eslint, stylelint, prettier

ref: better types
  static/app/components/core/compactSelect/compactSelect.tsx
  static/app/components/core/compactSelect/list.tsx
Due: biome, eslint, stylelint, prettier

just keep using styled clipped box
  static/app/components/events/interfaces/frame/frameRegisters/index.tsx
Due: biome, eslint, stylelint, prettier

Path conditions:
  pyupgrade: any of: \.py$, but not: (?x)(
    LICENSE.md$|
    \.snap$|
    \.map$|
    \.map\.js$|
    ^src/sentry/static/sentry/vendor/|
    ^src/.*/locale/|
    ^src/sentry/data/
)

  isort: any of: \.py$, but not: (?x)(
    LICENSE.md$|
    \.snap$|
    \.map$|
    \.map\.js$|
    ^src/sentry/static/sentry/vendor/|
    ^src/.*/locale/|
    ^src/sentry/data/
)

  flake8: any of: \.py$, but not: (?x)(
    LICENSE.md$|
    \.snap$|
    \.map$|
    \.map\.js$|
    ^src/sentry/static/sentry/vendor/|
    ^src/.*/locale/|
    ^src/sentry/data/
)

  mypy: any of: \.py$, but not: (?x)(
    LICENSE.md$|
    \.snap$|
    \.map$|
    \.map\.js$|
    ^src/sentry/static/sentry/vendor/|
    ^src/.*/locale/|
    ^src/sentry/data/
)

  lint-requirements: any of: requirements-.*\.txt$ and not (^requirements-getsentry-overrides\.txt$) and not ((?x)(
    LICENSE.md$|
    \.snap$|
    \.map$|
    \.map\.js$|
    ^src/sentry/static/sentry/vendor/|
    ^src/.*/locale/|
    ^src/sentry/data/
)
)
  requirements-overrides: any of: ^requirements-getsentry-overrides\.txt$, but not: (?x)(
    LICENSE.md$|
    \.snap$|
    \.map$|
    \.map\.js$|
    ^src/sentry/static/sentry/vendor/|
    ^src/.*/locale/|
    ^src/sentry/data/
)

  check-mypy-bypass: any of: \.py$, but not: (?x)(
    LICENSE.md$|
    \.snap$|
    \.map$|
    \.map\.js$|
    ^src/sentry/static/sentry/vendor/|
    ^src/.*/locale/|
    ^src/sentry/data/
)

  sort-stronger-mypy-list: any of: ^pyproject\.toml$, but not: (?x)(
    LICENSE.md$|
    \.snap$|
    \.map$|
    \.map\.js$|
    ^src/sentry/static/sentry/vendor/|
    ^src/.*/locale/|
    ^src/sentry/data/
)

  check-mypy-stronglist: any of: ^pyproject\.toml$, but not: (?x)(
    LICENSE.md$|
    \.snap$|
    \.map$|
    \.map\.js$|
    ^src/sentry/static/sentry/vendor/|
    ^src/.*/locale/|
    ^src/sentry/data/
)

  biome: any of: \.(jsx?|tsx?|css)$, but not: (?x)(
    LICENSE.md$|
    \.snap$|
    \.map$|
    \.map\.js$|
    ^src/sentry/static/sentry/vendor/|
    ^src/.*/locale/|
    ^src/sentry/data/
)

  eslint: any of: \.(ts|js|tsx|jsx|mjs)$, but not: (?x)(
    LICENSE.md$|
    \.snap$|
    \.map$|
    \.map\.js$|
    ^src/sentry/static/sentry/vendor/|
    ^src/.*/locale/|
    ^src/sentry/data/
)

  stylelint: any of: \.[jt]sx?$, but not: (?x)(
    LICENSE.md$|
    \.snap$|
    \.map$|
    \.map\.js$|
    ^src/sentry/static/sentry/vendor/|
    ^src/.*/locale/|
    ^src/sentry/data/
)

  prettier: any of: \.(yaml|yml)$, \.(md|markdown|mdown)$, \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.css$ and not ((?x)^($^
  # prettier crashes on some of these, by intent:
  |fixtures/.*
  # these have enormous diffs when formatted:
  |api-docs/paths/events/issue-hashes\.json
  |api-docs/paths/events/latest-event\.json
  |api-docs/paths/events/oldest-event\.json
  |api-docs/paths/events/project-event-details\.json
  |src/sentry/issues/event\.schema\.json
  |static/app/data/world\.json
  |static/app/utils/profiling/profile/formats/android/trace\.json
  |static/app/utils/profiling/profile/formats/ios/trace\.json
  |static/app/utils/profiling/profile/formats/node/trace\.json
  |static/app/utils/profiling/profile/formats/typescript/trace\.json
)$
) and not ((?x)(
    LICENSE.md$|
    \.snap$|
    \.map$|
    \.map\.js$|
    ^src/sentry/static/sentry/vendor/|
    ^src/.*/locale/|
    ^src/sentry/data/
)
)
