Repository getsentry/sentry: changes, and which pre-commit hooks are due for each by the changed paths.
All: pyupgrade, black, isort, flake8, lint-requirements, check-mypy-bypass

.pre-commit-config.yaml:

default_install_hook_types: ["pre-commit", "pre-push"]

exclude: >
    (?x)(
        LICENSE$|
        \.snap$|
        \.map$|
        \.map\.js$|
        ^src/sentry/static/sentry/vendor/|
        ^src/.*/locale/|
        ^src/sentry/data/
    )

repos:
# Many of these hooks are local because people use a variety of IDEs
# with autoformatters that need to call out to things like `black` directly.
# pre-commit run is not the same, and something like pre-commit exec does
# not exist yet.
-   repo: local
    hooks:
    - id: pyupgrade
      name: pyupgrade
      entry: pyupgrade
      args: ['--py38-plus', '--keep-runtime-typing']
      language: system
      types: [python]
    # Configuration for black exists in pyproject.toml,
    # but we let pre-commit take care of the file filtering.
    - id: black
      name: black
      entry: black
      language: system
      types: [python]
      require_serial: true
    # Configuration for isort exists in pyproject.toml,
    # but we let pre-commit take care of the file filtering.
    - id: isort
      name: isort
      entry: isort
      language: system
      types: [python]
    # Configuration for flake8 exists in setup.cfg,
    # but we let pre-commit take care of the file filtering.
    - id: flake8
      name: flake8
      entry: flake8
      language: system
      types: [python]
      log_file: '.artifacts/flake8.pycodestyle.log'
    - id: lint-requirements
      name: lint-requirements
      entry: python -m tools.lint_requirements
      language: python
      files: requirements-.*\.txt$
      additional_dependencies: [packaging==21.3]
    - id: check-mypy-bypass
      name: do not bypass the type checker
      entry: '(^# *mypy: *ignore-errors|^# *type: *ignore|\bno_type_check\b)'
      language: pygrep
      types: [python]
      exclude: ^src/sentry/metrics/minimetrics.py$
    - id: prevent-push
      name: prevent pushing master
      stages: [pre-push]
      entry: bash -c 'test "$PRE_COMMIT_REMOTE_BRANCH" != "refs/heads/master"'
      always_run: true
      pass_filenames: false
      language: system

-   repo: https://github.com/pre-commit/pygrep-hooks
    rev: v1.10.0
    hooks:
    -   id: python-use-type-annotations

-   repo: https://github.com/python-jsonschema/check-jsonschema
    rev: 0.24.1
    hooks:
    - id: check-github-actions
    - id: check-github-workflows
      args: [--verbose]

-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.3.0
    hooks:
    - id: check-case-conflict
    - id: check-executables-have-shebangs
    - id: check-merge-conflict
    - id: check-symlinks
    - id: check-yaml
    - id: end-of-file-fixer
      exclude_types: [svg]
      exclude: ^fixtures/
    - id: trailing-whitespace
      exclude_types: [svg]
      exclude: ^(fixtures/|scripts/patches/)
    - id: debug-statements
    - id: name-tests-test
      args: [--pytest-test-first]

fix(replays): Reduce max height of timeline overlay (#59662)
  static/app/components/replays/breadcrumbs/replayTimelineEvents.tsx
Due: none

chore(settings): Convert OrganizationRepositoriesContainer to FC and useApiQuery (#59546)
  static/app/views/settings/organizationRepositories/index.spec.tsx
  static/app/views/settings/organizationRepositories/index.tsx
Due: none

feat(eventuser): Delete dead code -> SnubaLookup (#59403)
  src/sentry/api/serializers/snuba.py
Due: pyupgrade, black, isort, flake8, check-mypy-bypass

feat(eventuser): Migrate search util function away from EventUser model
  src/sentry/search/utils.py
  src/sentry/utils/eventuser.py
  tests/sentry/search/test_utils.py
Due: pyupgrade, black, isort, flake8, check-mypy-bypass

feat(sdks): Upgrade to 7.79.0 and rrweb to 2.3.0 (#59661)
  package.json
  yarn.lock
Due: none

perf(breadcrumbs): remove double window
  static/app/components/events/interfaces/breadcrumbs/breadcrumbs.tsx
Due: none

add comments on new methods
  src/sentry/utils/eventuser.py
Due: pyupgrade, black, isort, flake8, check-mypy-bypass

taking code out of service
  tests/sentry/hybrid_cloud/test_app.py
Due: pyupgrade, black, isort, flake8, check-mypy-bypass

ref: bump sentry-arroyo to 2.14.19
  requirements-base.txt
  requirements-dev-frozen.txt
  requirements-frozen.txt
Due: lint-requirements

add sentry_slugify + fix tests + add generated slug test
  src/sentry/api/endpoints/organization_sentry_function.py
  src/sentry/api/serializers/models/sentry_function.py
  tests/sentry/api/endpoints/test_organization_sentry_functions.py
Due: pyupgrade, black, isort, flake8, check-mypy-bypass

change api statuses to private for now, not released
  src/sentry/api/endpoints/organization_sentry_function.py
  src/sentry/api/endpoints/organization_sentry_function_details.py
Due: pyupgrade, black, isort, flake8, check-mypy-bypass

ref(grouping): Add normalized SDK name as a tag on event_manager metrics (#59572)
  src/sentry/event_manager.py
  tests/sentry/event_manager/test_event_manager.py
Due: pyupgrade, black, isort, flake8, check-mypy-bypass

fixed the issue
  migrations_lockfile.txt
  src/sentry/migrations/0590_add_metadata_to_sentry_app.py
  src/sentry/services/hybrid_cloud/app/impl.py
  tests/sentry/hybrid_cloud/test_app.py
Due: pyupgrade, black, isort, flake8, check-mypy-bypass

ref: fix typing for sentry.web.frontend.debug.mail
  pyproject.toml
  src/sentry/web/frontend/debug/mail.py
Due: pyupgrade, black, isort, flake8, check-mypy-bypass

address comments
  static/app/components/feedback/details/feedbackEmptyDetails.tsx
  static/app/components/feedback/feedbackSetupPanel.tsx
  static/app/components/feedback/list/feedbackList.tsx
  static/app/views/feedback/feedbackListPage.tsx
Due: none

migration file
  migrations_lockfile.txt
  src/sentry/migrations/0590_add_metadata_to_sentry_app.py
Due: pyupgrade, black, isort, flake8, check-mypy-bypass

update query
  src/sentry/utils/eventuser.py
Due: pyupgrade, black, isort, flake8, check-mypy-bypass

feat(eventuser): Migrate IssuesByTagProcessor away from EventUser
  src/sentry/data_export/processors/issues_by_tag.py
  src/sentry/utils/eventuser.py
  tests/sentry/data_export/processors/test_issues_by_tag.py
Due: pyupgrade, black, isort, flake8, check-mypy-bypass

fix(capacitor): update wizard (#58847)
  static/app/components/onboarding/productSelection.tsx
  static/app/gettingStartedDocs/capacitor/capacitor.spec.tsx
  static/app/gettingStartedDocs/capacitor/capacitor.tsx
Due: none

feat(ddm): Add support for custom metrics in the query builders (#59527)
  src/sentry/search/events/builder/metrics.py
  src/sentry/search/events/datasets/metrics_layer.py
  src/sentry/search/events/fields.py
  src/sentry/snuba/metrics/fields/base.py
  src/sentry/snuba/metrics/query_builder.py
  src/sentry/testutils/cases.py
  tests/sentry/search/events/builder/test_metrics.py
  tests/sentry/snuba/test_entity_subscriptions.py
  tests/snuba/api/endpoints/test_organization_events_stats_mep.py
  tests/snuba/api/endpoints/test_organization_events_stats_span_metrics.py
Due: pyupgrade, black, isort, flake8, check-mypy-bypass

fix(project-details): Drop crash free rate calculation in score card
  static/app/types/organization.tsx
  static/app/views/projectDetail/projectScoreCards/projectScoreCards.tsx
  static/app/views/projectDetail/projectScoreCards/projectStabilityScoreCard.tsx
Due: none

fix(project-details): Drop crash free rate calculation in chart
  static/app/views/projectDetail/charts/projectSessionsChartRequest.tsx
Due: none

fix(on-demand): Fix tag mappings
  src/sentry/snuba/metrics/extraction.py
Due: pyupgrade, black, isort, flake8, check-mypy-bypass

send investigation rule notification email
  migrations_lockfile.txt
  src/sentry/api/endpoints/custom_rules.py
  src/sentry/conf/server.py
  src/sentry/dynamic_sampling/tasks/common.py
  src/sentry/dynamic_sampling/tasks/custom_rule_notifications.py
  src/sentry/migrations/0590_add_notification_flag_to_dynamic_sampling_custom_rule.py
  src/sentry/models/dynamicsampling.py
  src/sentry/snuba/referrer.py
  src/sentry/templates/sentry/emails/dyn-sampling-custom-rule-fulfilled.html
  src/sentry/templates/sentry/emails/dyn-sampling-custom-rule-fulfilled.txt
  src/sentry/utils/sdk.py
  tests/sentry/dynamic_sampling/tasks/test_custom_rule_notifications.py
Due: pyupgrade, black, isort, flake8, check-mypy-bypass

minor cleanup
  src/sentry/dynamic_sampling/tasks/custom_rule_notifications.py
Due: pyupgrade, black, isort, flake8, check-mypy-bypass

fix typing errors
  src/sentry/dynamic_sampling/tasks/custom_rule_notifications.py
Due: pyupgrade, black, isort, flake8, check-mypy-bypass

Update src/sentry/culprit.py
  src/sentry/culprit.py
Due: pyupgrade, black, isort, flake8, check-mypy-bypass

fix test
  tests/sentry/event_manager/test_generate_culprit.py
Due: pyupgrade, black, isort, flake8, check-mypy-bypass

fix(profiling): add flutter and dart-flutter to profiling onboarding (#59210)
  static/app/components/profiling/ProfilingOnboarding/util.ts
  static/app/utils/profiling/platforms.tsx
Due: none

perf(breadcrumbs): optimize renders (#59649)
  static/app/components/events/interfaces/breadcrumbs/breadcrumb/data/default.tsx
  static/app/components/events/interfaces/breadcrumbs/breadcrumb/index.tsx
  static/app/components/events/interfaces/breadcrumbs/breadcrumb/level.tsx
  static/app/components/events/interfaces/breadcrumbs/breadcrumbs.tsx
  static/app/components/panels/panelTable.tsx
Due: none

feat(metrics-extraction): Add top N timeseries querying
  src/sentry/api/endpoints/organization_events_stats.py
  src/sentry/search/events/builder/metrics.py
  src/sentry/snuba/metrics/query.py
  src/sentry/snuba/metrics/query_builder.py
  src/sentry/snuba/metrics_enhanced_performance.py
  src/sentry/snuba/metrics_performance.py
  src/sentry/snuba/referrer.py
  src/sentry/testutils/cases.py
  tests/sentry/search/events/builder/test_metrics.py
  tests/snuba/api/endpoints/test_organization_events_stats_mep.py
Due: pyupgrade, black, isort, flake8, check-mypy-bypass

Add use_on_demand_metrics to other functions to maintain the interface
  src/sentry/snuba/discover.py
  src/sentry/snuba/spans_metrics.py
Due: pyupgrade, black, isort, flake8, check-mypy-bypass
