Repository getsentry/sentry: changes, and which pre-commit hooks are due for each by the changed paths.
All: pyupgrade, isort, flake8, mypy, lint-requirements, requirements-overrides, check-mypy-bypass, sort-stronger-mypy-list, check-mypy-stronglist, biome, eslint, stylelint, prettier

Path conditions:
  pyupgrade: any of: \.py$, but not: (?x)(
    LICENSE.md$|
    \.snap$|
    \.map$|
    \.map\.js$|
    ^src/sentry/static/sentry/vendor/|
    ^src/.*/locale/|
    ^src/sentry/data/
)

  isort: any of: \.py$, but not: (?x)(
    LICENSE.md$|
    \.snap$|
    \.map$|
    \.map\.js$|
    ^src/sentry/static/sentry/vendor/|
    ^src/.*/locale/|
    ^src/sentry/data/
)

  flake8: any of: \.py$, but not: (?x)(
    LICENSE.md$|
    \.snap$|
    \.map$|
    \.map\.js$|
    ^src/sentry/static/sentry/vendor/|
    ^src/.*/locale/|
    ^src/sentry/data/
)

  mypy: any of: \.py$, but not: (?x)(
    LICENSE.md$|
    \.snap$|
    \.map$|
    \.map\.js$|
    ^src/sentry/static/sentry/vendor/|
    ^src/.*/locale/|
    ^src/sentry/data/
)

  lint-requirements: any of: requirements-.*\.txt$ and not (^requirements-getsentry-overrides\.txt$) and not ((?x)(
    LICENSE.md$|
    \.snap$|
    \.map$|
    \.map\.js$|
    ^src/sentry/static/sentry/vendor/|
    ^src/.*/locale/|
    ^src/sentry/data/
)
)
  requirements-overrides: any of: ^requirements-getsentry-overrides\.txt$, but not: (?x)(
    LICENSE.md$|
    \.snap$|
    \.map$|
    \.map\.js$|
    ^src/sentry/static/sentry/vendor/|
    ^src/.*/locale/|
    ^src/sentry/data/
)

  check-mypy-bypass: any of: \.py$, but not: (?x)(
    LICENSE.md$|
    \.snap$|
    \.map$|
    \.map\.js$|
    ^src/sentry/static/sentry/vendor/|
    ^src/.*/locale/|
    ^src/sentry/data/
)

  sort-stronger-mypy-list: any of: ^pyproject\.toml$, but not: (?x)(
    LICENSE.md$|
    \.snap$|
    \.map$|
    \.map\.js$|
    ^src/sentry/static/sentry/vendor/|
    ^src/.*/locale/|
    ^src/sentry/data/
)

  check-mypy-stronglist: any of: ^pyproject\.toml$, but not: (?x)(
    LICENSE.md$|
    \.snap$|
    \.map$|
    \.map\.js$|
    ^src/sentry/static/sentry/vendor/|
    ^src/.*/locale/|
    ^src/sentry/data/
)

  biome: any of: \.(jsx?|tsx?|css)$, but not: (?x)(
    LICENSE.md$|
    \.snap$|
    \.map$|
    \.map\.js$|
    ^src/sentry/static/sentry/vendor/|
    ^src/.*/locale/|
    ^src/sentry/data/
)

  eslint: any of: \.(ts|js|tsx|jsx|mjs)$, but not: (?x)(
    LICENSE.md$|
    \.snap$|
    \.map$|
    \.map\.js$|
    ^src/sentry/static/sentry/vendor/|
    ^src/.*/locale/|
    ^src/sentry/data/
)

  stylelint: any of: \.[jt]sx?$, but not: (?x)(
    LICENSE.md$|
    \.snap$|
    \.map$|
    \.map\.js$|
    ^src/sentry/static/sentry/vendor/|
    ^src/.*/locale/|
    ^src/sentry/data/
)

  prettier: any of: \.(yaml|yml)$, \.(md|markdown|mdown)$, \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.css$ and not ((?x)^($^
  # prettier crashes on some of these, by intent:
  |fixtures/.*
  # these have enormous diffs when formatted:
  |api-docs/paths/events/issue-hashes\.json
  |api-docs/paths/events/latest-event\.json
  |api-docs/paths/events/oldest-event\.json
  |api-docs/paths/events/project-event-details\.json
  |src/sentry/issues/event\.schema\.json
  |static/app/data/world\.json
  |static/app/utils/profiling/profile/formats/android/trace\.json
  |static/app/utils/profiling/profile/formats/ios/trace\.json
  |static/app/utils/profiling/profile/formats/node/trace\.json
  |static/app/utils/profiling/profile/formats/typescript/trace\.json
)$
) and not ((?x)(
    LICENSE.md$|
    \.snap$|
    \.map$|
    \.map\.js$|
    ^src/sentry/static/sentry/vendor/|
    ^src/.*/locale/|
    ^src/sentry/data/
)
)

adds feature flag
  src/sentry/features/temporary.py
Due: pyupgrade, isort, flake8, mypy, check-mypy-bypass

use more descriptive key
  src/sentry/tasks/on_demand_metrics.py
Due: pyupgrade, isort, flake8, mypy, check-mypy-bypass

chore(uptime): Add stats about which mode the result consumer is starting in (#84547)
  src/sentry/remote_subscriptions/consumers/result_consumer.py
Due: pyupgrade, isort, flake8, mypy, check-mypy-bypass

chore(flags): put feature flags back into proper spot (#84542)
  src/sentry/features/temporary.py
Due: pyupgrade, isort, flake8, mypy, check-mypy-bypass

ref(tsc): convert orgDashboards to FC (#84351)
  static/app/utils/useParams.tsx
  static/app/views/dashboards/detail.spec.tsx
  static/app/views/dashboards/index.tsx
  static/app/views/dashboards/orgDashboards.spec.tsx
  static/app/views/dashboards/orgDashboards.tsx
  static/app/views/dashboards/view.tsx
Due: biome, eslint, stylelint, prettier

fix tests
  src/sentry/workflow_engine/handlers/condition/event_frequency_base_handler.py
  src/sentry/workflow_engine/handlers/condition/event_frequency_handlers.py
  src/sentry/workflow_engine/handlers/condition/event_unique_user_frequency_handlers.py
  src/sentry/workflow_engine/processors/delayed_workflow.py
  tests/sentry/workflow_engine/processors/test_delayed_workflow.py
Due: pyupgrade, isort, flake8, mypy, check-mypy-bypass

chore(flags): add flag for new insights charts
  src/sentry/features/temporary.py
Due: pyupgrade, isort, flake8, mypy, check-mypy-bypass

test coverage
  src/sentry/replays/query.py
  src/sentry/replays/usecases/query/__init__.py
  tests/sentry/replays/test_organization_replay_index.py
  tests/sentry/replays/test_project_replay_viewed_by.py
Due: pyupgrade, isort, flake8, mypy, check-mypy-bypass

Only trigger navigation if using old feature flag
  static/app/views/dashboards/detail.tsx
Due: biome, eslint, stylelint, prettier

bump devservices to 1.0.15
  requirements-dev-frozen.txt
  requirements-dev.txt
Due: lint-requirements

♻️ Hoist detector details to shared context
  static/app/views/issueDetails/queries/useUptimeCheckIns.tsx
  static/app/views/issueDetails/streamline/context.tsx
  static/app/views/issueDetails/streamline/eventDetailsHeader.tsx
  static/app/views/issueDetails/streamline/sidebar/detectorSection.tsx
  static/app/views/issueDetails/streamline/sidebar/sidebar.tsx
Due: biome, eslint, stylelint, prettier

fix(taskworker): Add some logging for debugging
  src/sentry/taskworker/client.py
Due: pyupgrade, isort, flake8, mypy, check-mypy-bypass

use icon link buttons for profiles and replays
  static/app/views/performance/otlp/serviceEntrySpansTable.tsx
Due: biome, eslint, stylelint, prettier

return base handler in the base handler
  src/sentry/workflow_engine/handlers/condition/event_frequency_handlers.py
  src/sentry/workflow_engine/handlers/condition/event_unique_user_frequency_handlers.py
Due: pyupgrade, isort, flake8, mypy, check-mypy-bypass

feat(uptime): Add alert for uptime monitoring data storage acknowledgment
  static/app/views/alerts/rules/uptime/uptimeAlertForm.tsx
Due: biome, eslint, stylelint, prettier

✨ Put together a check-in timeline
  static/app/utils/issueTypeConfig/uptimeConfig.tsx
  static/app/views/issueDetails/streamline/eventDetailsHeader.tsx
  static/app/views/issueDetails/streamline/issueCheckInTimeline.tsx
Due: biome, eslint, stylelint, prettier

chore(issue-views): Create feature flag for page filters (#84496)
  src/sentry/features/temporary.py
Due: pyupgrade, isort, flake8, mypy, check-mypy-bypass

Add secondary nav items to mobile menu
  static/app/components/nav/constants.tsx
  static/app/components/nav/context.tsx
  static/app/components/nav/index.tsx
  static/app/components/nav/mobileTopbar.tsx
  static/app/components/nav/secondary.stories.tsx
  static/app/components/nav/secondary.tsx
  static/app/components/nav/secondaryMobile.tsx
  static/app/components/nav/types.tsx
  static/app/views/explore/navigation.tsx
  static/app/views/insights/navigation.tsx
  static/app/views/issues/navigation.tsx
  static/app/views/settings/components/settingsNavigation.tsx
Due: biome, eslint, stylelint, prettier

fix(widget-builder): Do not await dashboard save on submit (#84540)
  static/app/views/dashboards/detail.tsx
Due: biome, eslint, stylelint, prettier

feat(multi-query): Hook up query constructors to location
  static/app/views/explore/contexts/pageParamsContext/index.tsx
  static/app/views/explore/contexts/pageParamsContext/sortBys.tsx
  static/app/views/explore/multiQueryMode/content.tsx
  static/app/views/explore/multiQueryMode/locationUtils.tsx
  static/app/views/explore/multiQueryMode/queryConstructors/groupBy.tsx
  static/app/views/explore/multiQueryMode/queryConstructors/search.tsx
  static/app/views/explore/multiQueryMode/queryConstructors/sortBy.tsx
  static/app/views/explore/multiQueryMode/queryConstructors/visualize.tsx
  static/app/views/explore/multiQueryMode/queryRow.tsx
Due: biome, eslint, stylelint, prettier

Fix typing in __init__
  src/sentry/replays/usecases/query/__init__.py
Due: pyupgrade, isort, flake8, mypy, check-mypy-bypass

feat(rpc): Snuba returns nulls now so lets handle that
  src/sentry/search/eap/resolver.py
  src/sentry/search/eap/span_columns.py
  src/sentry/snuba/rpc_dataset_common.py
  tests/snuba/api/endpoints/test_organization_events_span_indexed.py
Due: pyupgrade, isort, flake8, mypy, check-mypy-bypass

✅ Fix tests
  static/app/views/issueDetails/streamline/eventDetailsHeader.spec.tsx
Due: biome, eslint, stylelint, prettier

💄 Better styles for large text areas
  static/app/views/issueDetails/streamline/occurrenceSummary.tsx
Due: biome, eslint, stylelint, prettier

ref(taskworker): add a sleep for simple task
  src/sentry/taskworker/tasks/examples.py
Due: pyupgrade, isort, flake8, mypy, check-mypy-bypass

fix: tests
  tests/snuba/api/endpoints/test_organization_events_span_indexed.py
Due: pyupgrade, isort, flake8, mypy, check-mypy-bypass

Remove utc if stats period is present
  static/app/components/organizations/pageFilters/parse.tsx
Due: biome, eslint, stylelint, prettier

add logging
  src/sentry/integrations/gitlab/blame.py
Due: pyupgrade, isort, flake8, mypy, check-mypy-bypass

fix(taskworker): Add some logging for debugging (#84552)
  src/sentry/taskworker/client.py
Due: pyupgrade, isort, flake8, mypy, check-mypy-bypass

update tests to use a dynamic freeze time
  tests/sentry/uptime/endpoints/test_organization_uptime_stats.py
Due: pyupgrade, isort, flake8, mypy, check-mypy-bypass

add todos to remove
  src/sentry/uptime/endpoints/organization_uptime_stats.py
  tests/sentry/uptime/endpoints/test_organization_uptime_stats.py
Due: pyupgrade, isort, flake8, mypy, check-mypy-bypass

♻️ Check-ins -> Uptime Checks
  static/app/routes.tsx
  static/app/views/issueDetails/groupUptimeChecks.tsx
  static/app/views/issueDetails/streamline/eventNavigation.tsx
  static/app/views/issueDetails/streamline/sidebar/sidebar.tsx
  static/app/views/issueDetails/types.tsx
Due: biome, eslint, stylelint, prettier

feat(taskworker) Add more documentation context to schedules
  src/sentry/conf/types/taskworker.py
  src/sentry/taskworker/scheduler/schedules.py
Due: pyupgrade, isort, flake8, mypy, check-mypy-bypass

change referrer
  src/sentry/api/endpoints/organization_spans_frequency_stats.py
  src/sentry/snuba/referrer.py
Due: pyupgrade, isort, flake8, mypy, check-mypy-bypass
