Repository getsentry/sentry: changes, and which pre-commit hooks are due for each by the changed paths.
All: pyupgrade, isort, flake8, mypy, lint-requirements, requirements-overrides, check-mypy-bypass, sort-stronger-mypy-list, check-mypy-stronglist, biome, eslint, stylelint, prettier

Path conditions:
  pyupgrade: any of: \.py$, but not: (?x)(
    LICENSE.md$|
    \.snap$|
    \.map$|
    \.map\.js$|
    ^src/sentry/static/sentry/vendor/|
    ^src/.*/locale/|
    ^src/sentry/data/
)

  isort: any of: \.py$, but not: (?x)(
    LICENSE.md$|
    \.snap$|
    \.map$|
    \.map\.js$|
    ^src/sentry/static/sentry/vendor/|
    ^src/.*/locale/|
    ^src/sentry/data/
)

  flake8: any of: \.py$, but not: (?x)(
    LICENSE.md$|
    \.snap$|
    \.map$|
    \.map\.js$|
    ^src/sentry/static/sentry/vendor/|
    ^src/.*/locale/|
    ^src/sentry/data/
)

  mypy: any of: \.py$, but not: (?x)(
    LICENSE.md$|
    \.snap$|
    \.map$|
    \.map\.js$|
    ^src/sentry/static/sentry/vendor/|
    ^src/.*/locale/|
    ^src/sentry/data/
)

  lint-requirements: any of: requirements-.*\.txt$ and not (^requirements-getsentry-overrides\.txt$) and not ((?x)(
    LICENSE.md$|
    \.snap$|
    \.map$|
    \.map\.js$|
    ^src/sentry/static/sentry/vendor/|
    ^src/.*/locale/|
    ^src/sentry/data/
)
)
  requirements-overrides: any of: ^requirements-getsentry-overrides\.txt$, but not: (?x)(
    LICENSE.md$|
    \.snap$|
    \.map$|
    \.map\.js$|
    ^src/sentry/static/sentry/vendor/|
    ^src/.*/locale/|
    ^src/sentry/data/
)

  check-mypy-bypass: any of: \.py$, but not: (?x)(
    LICENSE.md$|
    \.snap$|
    \.map$|
    \.map\.js$|
    ^src/sentry/static/sentry/vendor/|
    ^src/.*/locale/|
    ^src/sentry/data/
)

  sort-stronger-mypy-list: any of: ^pyproject\.toml$, but not: (?x)(
    LICENSE.md$|
    \.snap$|
    \.map$|
    \.map\.js$|
    ^src/sentry/static/sentry/vendor/|
    ^src/.*/locale/|
    ^src/sentry/data/
)

  check-mypy-stronglist: any of: ^pyproject\.toml$, but not: (?x)(
    LICENSE.md$|
    \.snap$|
    \.map$|
    \.map\.js$|
    ^src/sentry/static/sentry/vendor/|
    ^src/.*/locale/|
    ^src/sentry/data/
)

  biome: any of: \.(jsx?|tsx?|css)$, but not: (?x)(
    LICENSE.md$|
    \.snap$|
    \.map$|
    \.map\.js$|
    ^src/sentry/static/sentry/vendor/|
    ^src/.*/locale/|
    ^src/sentry/data/
)

  eslint: any of: \.(ts|js|tsx|jsx|mjs)$, but not: (?x)(
    LICENSE.md$|
    \.snap$|
    \.map$|
    \.map\.js$|
    ^src/sentry/static/sentry/vendor/|
    ^src/.*/locale/|
    ^src/sentry/data/
)

  stylelint: any of: \.[jt]sx?$, but not: (?x)(
    LICENSE.md$|
    \.snap$|
    \.map$|
    \.map\.js$|
    ^src/sentry/static/sentry/vendor/|
    ^src/.*/locale/|
    ^src/sentry/data/
)

  prettier: any of: \.(yaml|yml)$, \.(md|markdown|mdown)$, \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.css$ and not ((?x)^($^
  # prettier crashes on some of these, by intent:
  |fixtures/.*
  # these have enormous diffs when formatted:
  |api-docs/paths/events/issue-hashes\.json
  |api-docs/paths/events/latest-event\.json
  |api-docs/paths/events/oldest-event\.json
  |api-docs/paths/events/project-event-details\.json
  |src/sentry/issues/event\.schema\.json
  |static/app/data/world\.json
  |static/app/utils/profiling/profile/formats/android/trace\.json
  |static/app/utils/profiling/profile/formats/ios/trace\.json
  |static/app/utils/profiling/profile/formats/node/trace\.json
  |static/app/utils/profiling/profile/formats/typescript/trace\.json
)$
) and not ((?x)(
    LICENSE.md$|
    \.snap$|
    \.map$|
    \.map\.js$|
    ^src/sentry/static/sentry/vendor/|
    ^src/.*/locale/|
    ^src/sentry/data/
)
)

ref(flags): Remove organizations:performance-mep-reintroduce-histograms (#115674)
  src/sentry/features/temporary.py
  static/app/views/performance/landing/widgets/utils.tsx
Due: pyupgrade, isort, flake8, mypy, check-mypy-bypass, biome, eslint, stylelint, prettier

fix mypy issue
  src/sentry/integrations/bitbucket/webhook.py
  src/sentry/integrations/bitbucket_server/webhook.py
  src/sentry/integrations/cursor/webhooks/handler.py
Due: pyupgrade, isort, flake8, mypy, check-mypy-bypass

chore(alerts): Remove legacy issue alert GET endpoint code
  src/sentry/api/bases/rule.py
  src/sentry/api/endpoints/project_rule_details.py
  src/sentry/api/endpoints/project_rules.py
  src/sentry/features/temporary.py
  src/sentry/rules/history/endpoints/project_rule_group_history.py
  src/sentry/rules/history/endpoints/project_rule_stats.py
  src/sentry/workflow_engine/docs/legacy_backport.md
  tests/sentry/api/endpoints/test_project_rule_details.py
  tests/sentry/api/endpoints/test_project_rules.py
  tests/sentry/rules/history/endpoints/test_project_rule_group_history.py
  tests/sentry/rules/history/endpoints/test_project_rule_stats.py
Due: pyupgrade, isort, flake8, mypy, check-mypy-bypass, prettier

ref(api): Resolve suggested_api from Django route names (#115907)
  src/sentry/api/endpoints/project_rule_details.py
  src/sentry/api/endpoints/project_rules.py
  src/sentry/api/helpers/deprecation.py
  src/sentry/core/endpoints/project_index.py
  src/sentry/incidents/endpoints/organization_alert_rule_details.py
  src/sentry/incidents/endpoints/organization_alert_rule_index.py
  src/sentry/incidents/endpoints/project_alert_rule_details.py
  src/sentry/incidents/endpoints/project_alert_rule_index.py
  tests/sentry/api/helpers/test_deprecation.py
Due: pyupgrade, isort, flake8, mypy, check-mypy-bypass

ref: migrate useRouter callsites to native RR6 hooks (#115945)
  static/app/types/overrides.tsx
  static/app/utils/useRouter.spec.tsx
  static/app/utils/useRouter.tsx
  static/app/utils/withDomainRedirect.spec.tsx
  static/app/utils/withDomainRedirect.tsx
  static/app/utils/withSentryRouter.tsx
  static/app/views/alerts/create.tsx
  static/app/views/alerts/edit.tsx
  static/app/views/dashboards/detail.tsx
  static/app/views/explore/logs/useSaveAsItems.spec.tsx
  static/app/views/routeAnalyticsContextProvider.tsx
Due: biome, eslint, stylelint, prettier

feat(seer): Add CRUD helpers for Seer project repos (#115904)
  src/sentry/seer/autofix/utils.py
  tests/sentry/seer/autofix/test_autofix_utils.py
Due: pyupgrade, isort, flake8, mypy, check-mypy-bypass

chore(ui): Upgrade lodash, figma connect
  package.json
  pnpm-lock.yaml
Due: prettier

feat(dashboards): Validate display type against dataset config
  src/sentry/api/serializers/rest_framework/dashboard.py
  tests/sentry/dashboards/endpoints/test_organization_dashboard_widget_details.py
Due: pyupgrade, isort, flake8, mypy, check-mypy-bypass

ensure at least one update field provided
  src/sentry/seer/endpoints/organization_seer_project_repos.py
  tests/sentry/seer/endpoints/test_organization_seer_project_repos.py
Due: pyupgrade, isort, flake8, mypy, check-mypy-bypass

use .project_id
  src/sentry/seer/autofix/on_completion_hook.py
Due: pyupgrade, isort, flake8, mypy, check-mypy-bypass

deps(ui): Upgrade lodash, figma connect (#115950)
  package.json
  pnpm-lock.yaml
Due: prettier

add branch override id to response
  src/sentry/seer/endpoints/organization_seer_project_repos.py
Due: pyupgrade, isort, flake8, mypy, check-mypy-bypass

ref: remove withSentryRouter HOC
  eslint.config.ts
  static/app/components/charts/releaseSeries.spec.tsx
  static/app/components/charts/releaseSeries.tsx
  static/app/components/forms/jsonForm.tsx
  static/app/components/timeRangeSelector/dateRange.tsx
  static/app/types/legacyReactRouter.tsx
  static/app/utils/withSentryRouter.spec.tsx
  static/app/utils/withSentryRouter.tsx
  static/app/views/dashboards/widgetCard/index.tsx
  static/app/views/explore/releases/detail/overview/releaseComparisonChart/releaseSessionsChart.tsx
Due: biome, eslint, stylelint, prettier

ref(settings): Move routes from prop to useRoutes() in BreadcrumbTitle (#115766)
  static/app/views/settings/components/settingsBreadcrumb/breadcrumbTitle.spec.tsx
  static/app/views/settings/components/settingsBreadcrumb/breadcrumbTitle.tsx
  static/app/views/settings/components/settingsBreadcrumb/context.tsx
  static/app/views/settings/components/settingsPageHeader.tsx
  static/app/views/settings/organizationDeveloperSettings/sentryApplicationDetails.tsx
  static/app/views/settings/organizationIntegrations/configureIntegration.tsx
  static/app/views/settings/organizationIntegrations/detailedView/integrationLayout.tsx
Due: biome, eslint, stylelint, prettier

Add search for both tables
  static/app/views/detectors/components/details/common/automations.tsx
Due: biome, eslint, stylelint, prettier

Change wording from 'will' to 'may'
  static/app/views/detectors/components/details/common/automations.tsx
Due: biome, eslint, stylelint, prettier

Apply suggestions from code review
  static/app/views/settings/components/settingsBreadcrumb/breadcrumbTitle.spec.tsx
Due: biome, eslint, stylelint, prettier

add org id to project repo response
  src/sentry/seer/endpoints/organization_seer_project_repos.py
Due: pyupgrade, isort, flake8, mypy, check-mypy-bypass

only save projectrepo if something changed
  src/sentry/seer/endpoints/organization_seer_project_repos.py
Due: pyupgrade, isort, flake8, mypy, check-mypy-bypass

ref: Remove admin flag
  static/gsAdmin/views/customerDetails.tsx
Due: biome, eslint, stylelint, prettier

ref: remove withSentryRouter HOC (#115949)
  eslint.config.ts
  static/app/components/charts/releaseSeries.spec.tsx
  static/app/components/charts/releaseSeries.tsx
  static/app/components/forms/jsonForm.tsx
  static/app/components/timeRangeSelector/dateRange.tsx
  static/app/types/legacyReactRouter.tsx
  static/app/utils/withSentryRouter.spec.tsx
  static/app/utils/withSentryRouter.tsx
  static/app/views/dashboards/widgetCard/index.tsx
  static/app/views/explore/releases/detail/overview/releaseComparisonChart/releaseSessionsChart.tsx
Due: biome, eslint, stylelint, prettier

test(settings): Remove unused variables from breadcrumbTitle spec
  static/app/views/settings/components/settingsBreadcrumb/breadcrumbTitle.spec.tsx
Due: biome, eslint, stylelint, prettier

feat(scraps): RevealOnHover compound component
  static/app/components/core/revealOnHover/index.tsx
  static/app/components/core/revealOnHover/revealOnHover.mdx
  static/app/components/core/revealOnHover/revealOnHover.spec.tsx
  static/app/components/core/revealOnHover/revealOnHover.tsx
Due: biome, eslint, stylelint, prettier

chore(alerts): Remove legacy issue alert GET endpoint code (#115948)
  src/sentry/api/bases/rule.py
  src/sentry/api/endpoints/project_rule_details.py
  src/sentry/api/endpoints/project_rules.py
  src/sentry/features/temporary.py
  src/sentry/rules/history/endpoints/project_rule_group_history.py
  src/sentry/rules/history/endpoints/project_rule_stats.py
  src/sentry/workflow_engine/docs/legacy_backport.md
  tests/sentry/api/endpoints/test_project_rule_details.py
  tests/sentry/api/endpoints/test_project_rules.py
  tests/sentry/rules/history/endpoints/test_project_rule_group_history.py
  tests/sentry/rules/history/endpoints/test_project_rule_stats.py
Due: pyupgrade, isort, flake8, mypy, check-mypy-bypass, prettier

Use different empty state when searching
  static/app/views/detectors/components/details/common/automations.spec.tsx
  static/app/views/detectors/components/details/common/automations.tsx
Due: biome, eslint, stylelint, prettier

fix(gsApp): Iterate backward through matches to find deepest route
  static/gsApp/components/subscriptionSettingsLayout.tsx
Due: biome, eslint, stylelint, prettier

chore(alerts): Remove legacy issue alert delete code
  src/sentry/api/bases/rule.py
  src/sentry/api/endpoints/project_rule_details.py
  src/sentry/features/temporary.py
  tests/sentry/api/endpoints/test_project_rule_details.py
Due: pyupgrade, isort, flake8, mypy, check-mypy-bypass

ref(ui): migrate first batch to RevealOnHover
  static/app/components/replays/releaseDropdownFilter.tsx
  static/app/components/replays/replayTagsTableRow.tsx
  static/app/views/explore/replays/detail/header/replayDetailsPageBreadcrumbs.tsx
  static/app/views/issueDetails/streamline/header/issueIdBreadcrumb.tsx
Due: biome, eslint, stylelint, prettier

feat(scraps): support callback children in RevealOnHover
  static/app/components/core/revealOnHover/revealOnHover.mdx
  static/app/components/core/revealOnHover/revealOnHover.spec.tsx
  static/app/components/core/revealOnHover/revealOnHover.tsx
Due: biome, eslint, stylelint, prettier

fix(scraps): knip entry, use opacity+pointer-events instead of visibility
  knip.config.ts
  static/app/components/core/revealOnHover/revealOnHover.mdx
  static/app/components/core/revealOnHover/revealOnHover.tsx
Due: biome, eslint, stylelint, prettier

fix(workflow): Use Group cache in delayed_workflow
  src/sentry/workflow_engine/processors/delayed_workflow.py
Due: pyupgrade, isort, flake8, mypy, check-mypy-bypass

feat(issues): Gate two-column activity icons
  src/sentry/features/temporary.py
  static/app/components/timeline/index.tsx
  static/app/views/issueDetails/activitySection/index.spec.tsx
  static/app/views/issueDetails/activitySection/index.tsx
Due: pyupgrade, isort, flake8, mypy, check-mypy-bypass, biome, eslint, stylelint, prettier

ref(ui): migrate grid-row hover patterns to RevealOnHover
  static/app/components/events/eventTags/eventTagsTreeRow.tsx
  static/app/views/explore/components/traceItemAttributes/attributesTree.tsx
Due: biome, eslint, stylelint, prettier

chore: remove revealOnHover knip entry (has real consumers now)
  knip.config.ts
Due: biome, eslint, stylelint, prettier

more test coverage
  scripts/test_seer_project_repo_endpoint.sh
  tests/sentry/seer/endpoints/test_organization_seer_project_repos.py
Due: pyupgrade, isort, flake8, mypy, check-mypy-bypass

Accidentally added test script
  scripts/test_seer_project_repo_endpoint.sh
Due: none

ref(ui): migrate flag/tag drawer patterns to RevealOnHover
  static/app/components/events/featureFlags/eventFeatureFlagSection.tsx
  static/app/components/events/featureFlags/flagActionDropdown.tsx
  static/app/views/issueDetails/groupFeatureFlags/details/flagDetailsDrawerContent.tsx
  static/app/views/issueDetails/groupTags/tagDetailsDrawerContent.tsx
Due: biome, eslint, stylelint, prettier
