Repository getsentry/sentry: changes, and which pre-commit hooks are due for each by the changed paths.
All: pyupgrade, black, isort, flake8, lint-requirements, pyright

.pre-commit-config.yaml:

exclude: >
    (?x)(
        LICENSE$|
        \.snap$|
        \.map$|
        \.map\.js$|
        ^src/sentry/static/sentry/vendor/|
        ^src/.*/locale/|
        ^src/sentry/data/
    )

repos:
# Many of these hooks are local because people use a variety of IDEs
# with autoformatters that need to call out to things like `black` directly.
# pre-commit run is not the same, and something like pre-commit exec does
# not exist yet.
-   repo: local
    hooks:
    - id: pyupgrade
      name: pyupgrade
      entry: pyupgrade
      args: ['--py38-plus', '--keep-runtime-typing']
      language: system
      types: [python]
    # Configuration for black exists in pyproject.toml,
    # but we let pre-commit take care of the file filtering.
    - id: black
      name: black
      entry: black
      language: system
      types: [python]
      require_serial: true
    # Configuration for isort exists in pyproject.toml,
    # but we let pre-commit take care of the file filtering.
    - id: isort
      name: isort
      entry: isort
      language: system
      types: [python]
    # Configuration for flake8 exists in setup.cfg,
    # but we let pre-commit take care of the file filtering.
    - id: flake8
      name: flake8
      entry: flake8
      language: system
      types: [python]
      log_file: '.artifacts/flake8.pycodestyle.log'
    - id: lint-requirements
      name: lint-requirements
      entry: python -m tools.lint_requirements
      language: python
      files: requirements-.*\.txt$
      additional_dependencies: [packaging==21.3]
    - id: pyright
      name: pyright
      entry: pyright
      language: node
      files: ^src/
      types: [ python ]
      require_serial: true
      additional_dependencies: [ "pyright@1.1.186" ]
      args: [ '--project', 'pyrightconfig-commithook.json' ]
    - id: prevent-push
      name: prevent pushing master
      stages: [push]
      entry: bash -c 'test "$PRE_COMMIT_REMOTE_BRANCH" != "refs/heads/master"'
      always_run: true
      pass_filenames: false
      language: system

-   repo: https://github.com/python-jsonschema/check-jsonschema
    rev: 0.21.0
    hooks:
    - id: check-github-actions
    - id: check-github-workflows
      args: [--verbose]

-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.3.0
    hooks:
    - id: check-case-conflict
    - id: check-executables-have-shebangs
    - id: check-merge-conflict
    - id: check-symlinks
    - id: check-yaml
    - id: end-of-file-fixer
      exclude_types: [svg]
      exclude: ^fixtures/
    - id: trailing-whitespace
      exclude_types: [svg]
      exclude: ^(fixtures/|scripts/patches/)
    - id: debug-statements
    - id: name-tests-test
      args: [--pytest-test-first]

fix(hc): Fix siloed DB access from link_slack_user_identities (#51456)
  src/sentry/integrations/slack/utils/users.py
  src/sentry/tasks/integrations/slack/link_slack_user_identities.py
  tests/sentry/integrations/slack/test_integration.py
Due: pyupgrade, black, isort, flake8, pyright

refactor test for assigned_to_me_my_teams to use run_test_query
  tests/snuba/search/test_backend.py
Due: pyupgrade, black, isort, flake8

Make percentages view the default
  static/app/views/starfish/views/webServiceView/spanGroupBreakdown.tsx
Due: none

fixes from review
  src/sentry/integrations/github/client.py
  src/sentry/tasks/commit_context.py
  tests/sentry/tasks/test_commit_context.py
Due: pyupgrade, black, isort, flake8, pyright

Remove custom span throughput cell rendering
  static/app/views/starfish/views/spans/spansTable.tsx
Due: none

ref(hc): Validate that we don't have non snowflake hcfks
  src/sentry/services/hybrid_cloud/organizationmember_mapping/impl.py
  src/sentry/testutils/silo.py
  tests/conftest.py
Due: pyupgrade, black, isort, flake8, pyright

ref(replay): Refactor ReplayReader `get*Frame()` getters so sorting is consistent (#51460)
  static/app/components/replays/breadcrumbs/replayTimeline.tsx
  static/app/utils/replays/replayReader.spec.tsx
  static/app/utils/replays/replayReader.tsx
Due: none

fix(hc): Fix AwsLambdaProjectSelectPipelineView silo accesses (#51424)
  src/sentry/integrations/aws_lambda/integration.py
  tests/sentry/integrations/aws_lambda/test_integration.py
Due: pyupgrade, black, isort, flake8, pyright

ref(replay): Refactor Replay Details>Memory chart to use *Frame types
  static/app/views/replays/detail/layout/focusArea.tsx
  static/app/views/replays/detail/memoryChart.tsx
Due: none

ref: use TSDBModel directly instead of tsdb.models (#51461)
  bin/load-mocks
  pyproject.toml
  src/sentry/api/endpoints/group_stats.py
  src/sentry/api/endpoints/integrations/sentry_apps/interaction.py
  src/sentry/api/endpoints/internal/stats.py
  src/sentry/api/endpoints/organization_stats.py
  src/sentry/api/endpoints/project_group_stats.py
  src/sentry/api/endpoints/project_servicehook_stats.py
  src/sentry/api/endpoints/project_stats.py
  src/sentry/api/endpoints/project_user_stats.py
  src/sentry/api/endpoints/team_stats.py
  src/sentry/api/serializers/models/environment.py
  src/sentry/api/serializers/models/group_stream.py
  src/sentry/api/serializers/models/grouprelease.py
  src/sentry/digests/notifications.py
  src/sentry/event_manager.py
  src/sentry/ingest/inbound_filters.py
  src/sentry/issues/constants.py
  src/sentry/plugins/bases/data_forwarding.py
  src/sentry/runner/commands/tsdb.py
  src/sentry/tasks/beacon.py
  src/sentry/tasks/merge.py
  src/sentry/tasks/servicehooks.py
  src/sentry/tasks/unmerge.py
  src/sentry/templatetags/sentry_admin_helpers.py
  src/sentry/utils/metrics.py
  src/sentry/utils/suspect_resolutions/metric_correlation.py
  tests/sentry/api/endpoints/test_project_servicehook_stats.py
  tests/sentry/event_manager/test_event_manager.py
  tests/snuba/tasks/test_unmerge.py
Due: pyupgrade, black, isort, flake8, pyright

Fix column titles, width, and types
  static/app/views/starfish/views/spanSummaryPage/spanTransactionsTable.tsx
Due: none

Use generic field rendering
  static/app/views/starfish/views/spanSummaryPage/spanTransactionsTable.tsx
Due: none

Pass through all response data
  static/app/views/starfish/queries/useSpanTransactionMetrics.tsx
Due: none

Make span mandatory for fetching transaction metrics
  static/app/views/starfish/queries/useSpanTransactionMetrics.tsx
Due: none

fix(scim): Prevent edits on owners through scim
  src/sentry/scim/endpoints/constants.py
  src/sentry/scim/endpoints/members.py
  tests/sentry/api/endpoints/test_scim_user_details.py
Due: pyupgrade, black, isort, flake8, pyright

ref: Type sentry.signals
  pyproject.toml
  src/sentry/signals.py
Due: pyupgrade, black, isort, flake8, pyright

fix: Type sentry.snuba.outcomes
  pyproject.toml
  src/sentry/snuba/outcomes.py
Due: pyupgrade, black, isort, flake8, pyright

Create grid layout for 3 charts
  static/app/views/starfish/views/webServiceView/starfishView.tsx
Due: none

Refactors a number of tests to use flag setting helpers, fixes broken tests
  src/sentry/testutils/cases.py
  tests/sentry/api/endpoints/test_organization_code_mappings.py
  tests/sentry/api/endpoints/test_organization_releases.py
  tests/sentry/api/endpoints/test_shared_group_details.py
  tests/sentry/api/endpoints/test_team_release_count.py
  tests/sentry/hybrid_cloud/test_organizationmapping.py
  tests/sentry/models/test_organization.py
Due: pyupgrade, black, isort, flake8, pyright

Fixes remaining tests, updates default role service method with correct types
  src/sentry/services/hybrid_cloud/organization/impl.py
  src/sentry/services/hybrid_cloud/organization_actions/impl.py
  tests/sentry/api/bases/test_team.py
  tests/sentry/api/endpoints/test_organization_code_mappings.py
  tests/sentry/api/endpoints/test_project_details.py
  tests/sentry/api/endpoints/test_team_release_count.py
  tests/sentry/api/serializers/test_project.py
Due: pyupgrade, black, isort, flake8, pyright

Use bigint or sadness shall ensue.
  src/sentry/migrations/0001_squashed_0484_break_org_member_user_fk.py
Due: pyupgrade, black, isort, flake8, pyright

Updates throughput tooltip text everywhere in starfish to use either queries or requests. Fixes intervals for sidebar charts in wsv and endpoint overview. This also fixes some issues with cursor sync
  static/app/views/starfish/views/spanSummaryPage/index.tsx
  static/app/views/starfish/views/spans/spanTimeCharts.tsx
  static/app/views/starfish/views/webServiceView/endpointOverview/index.tsx
  static/app/views/starfish/views/webServiceView/starfishView.tsx
Due: none

ref: remove unused sentry.tsdb.models attribute
  src/sentry/tsdb/base.py
  src/sentry/tsdb/redissnuba.py
Due: pyupgrade, black, isort, flake8, pyright

apply review feedback
  src/sentry/signals.py
Due: pyupgrade, black, isort, flake8, pyright

Fix incorrect `EventsMetaType` type
  static/app/utils/discover/eventView.tsx
Due: none

Fix and expand tests
  tests/snuba/search/test_backend.py
Due: pyupgrade, black, isort, flake8

styles(functions): Stop slowest functions widget from shifting while loading
  static/app/views/profiling/functionTrendsWidget.tsx
  static/app/views/profiling/landing/slowestFunctionsWidget.tsx
Due: none

update
  static/app/utils/discover/fields.tsx
  static/app/utils/fields/index.ts
  static/app/views/starfish/components/chart.tsx
  static/app/views/starfish/components/tableCells/getAlignment.ts
  static/app/views/starfish/components/tableCells/renderHeadCell.tsx
  static/app/views/starfish/components/tableCells/timeSpentCell.tsx
  static/app/views/starfish/types.tsx
Due: none

merge conflicts
  static/app/views/starfish/components/chart.tsx
Due: none

fix(scim): Prevent edits on owners through scim (#51469)
  src/sentry/scim/endpoints/constants.py
  src/sentry/scim/endpoints/members.py
  tests/sentry/api/endpoints/test_scim_user_details.py
Due: pyupgrade, black, isort, flake8, pyright

feat(starfish): Randomize the span samples
  src/sentry/search/events/datasets/spans_indexed.py
Due: pyupgrade, black, isort, flake8, pyright

feat(github-comments): populate PullRequestCommit table (#51415)
  src/sentry/integrations/github/client.py
  src/sentry/tasks/commit_context.py
  tests/sentry/tasks/test_commit_context.py
Due: pyupgrade, black, isort, flake8, pyright

Supplement tests for assigned to me
  tests/snuba/search/test_backend.py
Due: pyupgrade, black, isort, flake8

fix: Type sentry.snuba.outcomes (#51474)
  pyproject.toml
  src/sentry/snuba/outcomes.py
Due: pyupgrade, black, isort, flake8, pyright
