Repository getsentry/sentry: changes, and which pre-commit hooks are due for each by the changed paths.
All: pyupgrade, isort, flake8, mypy, lint-requirements, requirements-overrides, check-mypy-bypass, sort-stronger-mypy-list, check-mypy-stronglist, biome, eslint, stylelint, prettier

Path conditions:
  pyupgrade: any of: \.py$, but not: (?x)(
    LICENSE.md$|
    \.snap$|
    \.map$|
    \.map\.js$|
    ^src/sentry/static/sentry/vendor/|
    ^src/.*/locale/|
    ^src/sentry/data/
)

  isort: any of: \.py$, but not: (?x)(
    LICENSE.md$|
    \.snap$|
    \.map$|
    \.map\.js$|
    ^src/sentry/static/sentry/vendor/|
    ^src/.*/locale/|
    ^src/sentry/data/
)

  flake8: any of: \.py$, but not: (?x)(
    LICENSE.md$|
    \.snap$|
    \.map$|
    \.map\.js$|
    ^src/sentry/static/sentry/vendor/|
    ^src/.*/locale/|
    ^src/sentry/data/
)

  mypy: any of: \.py$, but not: (?x)(
    LICENSE.md$|
    \.snap$|
    \.map$|
    \.map\.js$|
    ^src/sentry/static/sentry/vendor/|
    ^src/.*/locale/|
    ^src/sentry/data/
)

  lint-requirements: any of: requirements-.*\.txt$ and not (^requirements-getsentry-overrides\.txt$) and not ((?x)(
    LICENSE.md$|
    \.snap$|
    \.map$|
    \.map\.js$|
    ^src/sentry/static/sentry/vendor/|
    ^src/.*/locale/|
    ^src/sentry/data/
)
)
  requirements-overrides: any of: ^requirements-getsentry-overrides\.txt$, but not: (?x)(
    LICENSE.md$|
    \.snap$|
    \.map$|
    \.map\.js$|
    ^src/sentry/static/sentry/vendor/|
    ^src/.*/locale/|
    ^src/sentry/data/
)

  check-mypy-bypass: any of: \.py$, but not: (?x)(
    LICENSE.md$|
    \.snap$|
    \.map$|
    \.map\.js$|
    ^src/sentry/static/sentry/vendor/|
    ^src/.*/locale/|
    ^src/sentry/data/
)

  sort-stronger-mypy-list: any of: ^pyproject\.toml$, but not: (?x)(
    LICENSE.md$|
    \.snap$|
    \.map$|
    \.map\.js$|
    ^src/sentry/static/sentry/vendor/|
    ^src/.*/locale/|
    ^src/sentry/data/
)

  check-mypy-stronglist: any of: ^pyproject\.toml$, but not: (?x)(
    LICENSE.md$|
    \.snap$|
    \.map$|
    \.map\.js$|
    ^src/sentry/static/sentry/vendor/|
    ^src/.*/locale/|
    ^src/sentry/data/
)

  biome: any of: \.(jsx?|tsx?|css)$, but not: (?x)(
    LICENSE.md$|
    \.snap$|
    \.map$|
    \.map\.js$|
    ^src/sentry/static/sentry/vendor/|
    ^src/.*/locale/|
    ^src/sentry/data/
)

  eslint: any of: \.(ts|js|tsx|jsx|mjs)$, but not: (?x)(
    LICENSE.md$|
    \.snap$|
    \.map$|
    \.map\.js$|
    ^src/sentry/static/sentry/vendor/|
    ^src/.*/locale/|
    ^src/sentry/data/
)

  stylelint: any of: \.[jt]sx?$, but not: (?x)(
    LICENSE.md$|
    \.snap$|
    \.map$|
    \.map\.js$|
    ^src/sentry/static/sentry/vendor/|
    ^src/.*/locale/|
    ^src/sentry/data/
)

  prettier: any of: \.(yaml|yml)$, \.(md|markdown|mdown)$, \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.css$ and not ((?x)^($^
  # prettier crashes on some of these, by intent:
  |fixtures/.*
  # these have enormous diffs when formatted:
  |api-docs/paths/events/issue-hashes\.json
  |api-docs/paths/events/latest-event\.json
  |api-docs/paths/events/oldest-event\.json
  |api-docs/paths/events/project-event-details\.json
  |src/sentry/issues/event\.schema\.json
  |static/app/data/world\.json
  |static/app/utils/profiling/profile/formats/android/trace\.json
  |static/app/utils/profiling/profile/formats/ios/trace\.json
  |static/app/utils/profiling/profile/formats/node/trace\.json
  |static/app/utils/profiling/profile/formats/typescript/trace\.json
)$
) and not ((?x)(
    LICENSE.md$|
    \.snap$|
    \.map$|
    \.map\.js$|
    ^src/sentry/static/sentry/vendor/|
    ^src/.*/locale/|
    ^src/sentry/data/
)
)

ref(dx): Remove filestore shims (#97714)
  src/sentry/filestore/__init__.py
  src/sentry/filestore/gcs.py
  src/sentry/filestore/s3.py
Due: pyupgrade, isort, flake8, mypy, check-mypy-bypass

fix(ourlogs): Add some missing aliases (#97632)
  src/sentry/search/eap/ourlogs/attributes.py
  src/sentry/snuba/rpc_dataset_common.py
  tests/sentry/search/eap/test_ourlogs.py
  tests/snuba/api/endpoints/test_organization_events_ourlogs.py
  tests/snuba/api/endpoints/test_project_trace_item_details.py
Due: pyupgrade, isort, flake8, mypy, check-mypy-bypass

ref(uptime): Detector always exists (#94571)
  src/sentry/uptime/consumers/results_consumer.py
  src/sentry/uptime/endpoints/project_uptime_alert_details.py
  src/sentry/uptime/models.py
  src/sentry/uptime/subscriptions/subscriptions.py
  src/sentry/uptime/subscriptions/tasks.py
  tests/sentry/deletions/test_detector.py
  tests/sentry/uptime/consumers/test_results_consumer.py
  tests/sentry/uptime/detectors/test_ranking.py
  tests/sentry/uptime/subscriptions/test_subscriptions.py
  tests/sentry/uptime/subscriptions/test_tasks.py
  tests/sentry/uptime/test_grouptype.py
  tests/sentry/uptime/test_issue_platform.py
  tests/sentry/uptime/test_models.py
Due: pyupgrade, isort, flake8, mypy, check-mypy-bypass

feat: adjust search functionality to prevent jumpiness (#97677)
  static/app/components/prevent/branchSelector/branchSelector.tsx
  static/app/components/prevent/integratedOrgSelector/utils.tsx
  static/app/components/prevent/repoSelector/repoSelector.tsx
  static/app/components/prevent/testSuiteDropdown/testSuiteDropdown.tsx
Due: biome, eslint, stylelint, prettier

fix(aci): Limit error dataset to supported aggregates and fields (#97740)
  static/app/views/detectors/datasetConfig/errors.tsx
Due: biome, eslint, stylelint, prettier

chore(autofix): better state when no consent (#97744)
  static/app/components/events/autofix/autofixChanges.tsx
  static/app/components/events/autofix/autofixInsightCards.tsx
  static/app/components/events/autofix/autofixOutputStream.tsx
  static/app/components/events/autofix/autofixRootCause.tsx
  static/app/components/events/autofix/autofixSolution.tsx
  static/app/views/issueDetails/streamline/sidebar/seerSection.spec.tsx
  static/app/views/issueDetails/streamline/sidebar/seerSection.tsx
  static/app/views/issueDetails/streamline/sidebar/seerSectionCtaButton.tsx
Due: biome, eslint, stylelint, prettier

Add logs table row buttons (filters, copy as json etc.) (#97545)
  static/app/views/explore/contexts/logs/logsPageParams.tsx
  static/app/views/explore/logs/constants.tsx
  static/app/views/explore/logs/styles.tsx
  static/app/views/explore/logs/tables/logsTableRow.spec.tsx
  static/app/views/explore/logs/tables/logsTableRow.tsx
  static/app/views/explore/logs/types.tsx
  static/app/views/explore/logs/utils.tsx
Due: biome, eslint, stylelint, prettier

Add a new `DualWriteMetricsBackend` (#97754)
  src/sentry/metrics/dualwrite.py
  tests/sentry/metrics/test_dualwrite.py
Due: pyupgrade, isort, flake8, mypy, check-mypy-bypass

fix(project-config): Handle cases when new project configs do not have a revision (#97751)
  src/sentry/relay/projectconfig_cache/redis.py
  tests/sentry/relay/test_projectconfig_cache.py
Due: pyupgrade, isort, flake8, mypy, check-mypy-bypass

feat(codecov): Add TA onboarding expandable dropdowns (#96989)
  static/app/views/prevent/tests/onboarding.tsx
  static/app/views/prevent/tests/onboardingSteps/GHAWorkflowExpandable.tsx
  static/app/views/prevent/tests/onboardingSteps/addScriptToYamlStep.tsx
  static/app/views/prevent/tests/onboardingSteps/addUploadTokenStep.tsx
  static/app/views/prevent/tests/onboardingSteps/chooseUploadPermissionStep.tsx
  static/app/views/prevent/tests/onboardingSteps/editGHAWorkflowStep.tsx
  static/app/views/prevent/tests/onboardingSteps/installPreventCLIStep.tsx
  static/app/views/prevent/tests/onboardingSteps/onboardingStep.tsx
  static/app/views/prevent/tests/onboardingSteps/outputCoverageFileStep.tsx
  static/app/views/prevent/tests/onboardingSteps/runTestSuiteStep.tsx
  static/app/views/prevent/tests/onboardingSteps/uploadFileCLIStep.tsx
  static/app/views/prevent/tests/onboardingSteps/viewResultsInsightsStep.tsx
  static/images/features/test-analytics-gha-workflow-ex.png
  static/images/features/test-analytics-pr-comment-dark.png
  static/images/features/test-analytics-pr-comment-light.png
  static/images/features/test-analytics-repo-secret-dark.png
  static/images/features/test-analytics-repo-secret-light.png
Due: biome, eslint, stylelint, prettier

chore(prevent): Integrate prevent-ai flag and move around codecov-ui flag (#97719)
  static/app/views/nav/primary/index.tsx
  static/app/views/nav/secondary/sections/prevent/preventSecondaryNav.tsx
  static/app/views/prevent/index.spec.tsx
  static/app/views/prevent/index.tsx
Due: biome, eslint, stylelint, prettier

test(javascript): Fixup test with correct values (#97156)
  tests/relay_integration/lang/javascript/test_plugin.py
Due: pyupgrade, isort, flake8, mypy, check-mypy-bypass

feat(preprod): Create shell of buildList page and wireup routes (#97733)
  static/app/routes.tsx
  static/app/views/preprod/buildList/buildList.tsx
Due: biome, eslint, stylelint, prettier

Revert "ref(dx): Remove filestore shims (#97714)"
  src/sentry/filestore/__init__.py
  src/sentry/filestore/gcs.py
  src/sentry/filestore/s3.py
Due: pyupgrade, isort, flake8, mypy, check-mypy-bypass

Revert "feat(aci): Write to IncidentGroupOpenPeriod (#97697)"
  src/sentry/incidents/logic.py
  src/sentry/issues/ingest.py
  src/sentry/workflow_engine/models/incident_groupopenperiod.py
  tests/sentry/issues/test_ingest_incident_integration.py
  tests/sentry/workflow_engine/models/test_incident_groupopenperiod.py
Due: pyupgrade, isort, flake8, mypy, check-mypy-bypass

feat(seer): Seer webhooks + generic webhook broadcaster (#96222)
  src/sentry/features/temporary.py
  src/sentry/seer/endpoints/seer_rpc.py
  src/sentry/sentry_apps/metrics.py
  src/sentry/sentry_apps/models/sentry_app.py
  src/sentry/sentry_apps/tasks/__init__.py
  src/sentry/sentry_apps/tasks/sentry_apps.py
  src/sentry/sentry_apps/utils/webhooks.py
  tests/sentry/seer/endpoints/test_seer_rpc.py
  tests/sentry/sentry_apps/test_webhooks.py
Due: pyupgrade, isort, flake8, mypy, check-mypy-bypass

feat(ourlogs): Add link to change timezone in logs tooltip (#97730)
  static/app/utils/analytics/logsAnalyticsEvent.tsx
  static/app/views/explore/logs/logsTimeTooltip.tsx
Due: biome, eslint, stylelint, prettier

Replace the `precise` metrics flag with a dedicated backend (#97749)
  src/sentry/conf/server.py
  src/sentry/metrics/base.py
  src/sentry/metrics/datadog.py
  src/sentry/metrics/dummy.py
  src/sentry/metrics/logging.py
  src/sentry/metrics/middleware.py
  src/sentry/metrics/precise_dogstatsd.py
  src/sentry/metrics/statsd.py
  src/sentry/models/debugfile.py
  src/sentry/objectstore/metrics.py
  src/sentry/tasks/assemble.py
  src/sentry/utils/kvstore/bigtable.py
  src/sentry/utils/metrics.py
  tests/sentry/metrics/test_precise.py
Due: pyupgrade, isort, flake8, mypy, check-mypy-bypass

chore(dynamic-sampling): capture exceptions in boost low volume projects (#97669)
  src/sentry/dynamic_sampling/tasks/boost_low_volume_projects.py
Due: pyupgrade, isort, flake8, mypy, check-mypy-bypass

feat(aci): Add chart zoom to metric detector details (#97653)
  static/app/components/charts/useChartZoom.tsx
  static/app/views/detectors/components/details/index.tsx
  static/app/views/detectors/components/details/metric/chart.tsx
  static/app/views/detectors/components/details/metric/index.tsx
  static/app/views/detectors/components/details/metric/timePeriodSelect.spec.tsx
  static/app/views/detectors/components/details/metric/timePeriodSelect.tsx
  static/app/views/detectors/datasetConfig/base.tsx
  static/app/views/detectors/datasetConfig/utils/discoverSeries.tsx
  static/app/views/detectors/datasetConfig/utils/releasesSeries.tsx
  static/app/views/detectors/detail.tsx
  static/app/views/detectors/hooks/useMetricDetectorSeries.tsx
Due: biome, eslint, stylelint, prettier

chore(dynamic sampling): emit a metric when boost_low_volume_projects_of_org was run successfully (#97671)
  src/sentry/dynamic_sampling/tasks/boost_low_volume_projects.py
Due: pyupgrade, isort, flake8, mypy, check-mypy-bypass

ref(kafka): Bump arroyo, add client.id to every producer (#97382)
  bin/mock-replay-recording
  pyproject.toml
  requirements-base.txt
  requirements-dev-frozen.txt
  requirements-frozen.txt
  src/sentry/consumers/dlq.py
  src/sentry/eventstream/kafka/backend.py
  src/sentry/issues/attributes.py
  src/sentry/issues/producer.py
  src/sentry/monitors/clock_dispatch.py
  src/sentry/monitors/clock_tasks/producer.py
  src/sentry/monitors/logic/incident_occurrence.py
  src/sentry/monitors/tasks/clock_pulse.py
  src/sentry/preprod/producer.py
  src/sentry/profiles/task.py
  src/sentry/replays/lib/kafka.py
  src/sentry/sentry_metrics/client/kafka.py
  src/sentry/sentry_metrics/consumers/indexer/multiprocess.py
  src/sentry/sentry_metrics/consumers/indexer/slicing_router.py
  src/sentry/spans/consumers/process/flusher.py
  src/sentry/spans/consumers/process_segments/factory.py
  src/sentry/uptime/consumers/eap_producer.py
  src/sentry/uptime/consumers/results_consumer.py
  src/sentry/usage_accountant/accountant.py
  uv.lock
Due: pyupgrade, isort, flake8, mypy, lint-requirements, check-mypy-bypass, sort-stronger-mypy-list, check-mypy-stronglist

fix(aci): record WorkflowFireHistory before deduping actions (#97746)
  src/sentry/workflow_engine/processors/action.py
  src/sentry/workflow_engine/processors/delayed_workflow.py
  src/sentry/workflow_engine/processors/workflow.py
  tests/sentry/workflow_engine/processors/test_workflow.py
  tests/sentry/workflow_engine/test_integration.py
Due: pyupgrade, isort, flake8, mypy, check-mypy-bypass

feat(ourlogs): Use new aliases, add byte renderer (#97725)
  static/app/components/events/ourlogs/ourlogsSection.spec.tsx
  static/app/utils/discover/fieldRenderers.tsx
  static/app/views/dashboards/widgets/timeSeriesWidget/formatters/formatTooltipValue.spec.tsx
  static/app/views/explore/logs/fieldRenderers.spec.tsx
  static/app/views/explore/logs/fieldRenderers.tsx
  static/app/views/explore/logs/logsTab.spec.tsx
  static/app/views/explore/logs/styles.tsx
  static/app/views/explore/logs/tables/logsAggregateTable.tsx
  static/app/views/explore/logs/tables/logsTable.spec.tsx
  static/app/views/explore/logs/tables/logsTableRow.tsx
  static/app/views/explore/logs/types.tsx
  static/app/views/explore/logs/useLogsQuery.spec.tsx
  static/app/views/insights/cache/views/cacheLandingPage.spec.tsx
  static/app/views/performance/newTraceDetails/traceOurlogs.spec.tsx
  tests/js/fixtures/log.ts
Due: biome, eslint, stylelint, prettier

feat(flutter): deobfuscate exception value occurrences of `Instance of 'xyz'` (#97668)
  src/sentry/lang/dart/utils.py
  tests/sentry/lang/dart/test_plugin_deobfuscation.py
  tests/sentry/lang/dart/test_utils.py
Due: pyupgrade, isort, flake8, mypy, check-mypy-bypass

:bug: fix(aci): dedupe actions based on workflow_id as well (#97784)
  src/sentry/workflow_engine/models/action.py
  src/sentry/workflow_engine/processors/action.py
  tests/sentry/workflow_engine/processors/test_action_deduplication.py
  tests/sentry/workflow_engine/processors/test_workflow.py
Due: pyupgrade, isort, flake8, mypy, check-mypy-bypass

feat(upsampling) - Error Upsampling on Metric Alerts under ACI (#97734)
  src/sentry/snuba/entity_subscription.py
  src/sentry/snuba/snuba_query_validator.py
  tests/sentry/snuba/test_entity_subscriptions.py
  tests/sentry/workflow_engine/endpoints/test_organization_detector_index.py
Due: pyupgrade, isort, flake8, mypy, check-mypy-bypass

fix(spans): Clarify signatures in segment enrichment (#97759)
  src/sentry/spans/consumers/process_segments/enrichment.py
  src/sentry/spans/consumers/process_segments/message.py
  tests/sentry/spans/consumers/process_segments/test_enrichment.py
Due: pyupgrade, isort, flake8, mypy, check-mypy-bypass

fix(ourlogs): Fix logs breadcrumb wrapper (#97761)
  static/app/views/explore/logs/content.tsx
Due: biome, eslint, stylelint, prettier

feat(preprod): Add preprod list-builds endpoint (#97742)
  src/sentry/preprod/analytics.py
  src/sentry/preprod/api/endpoints/project_preprod_build_details.py
  src/sentry/preprod/api/endpoints/project_preprod_list_builds.py
  src/sentry/preprod/api/endpoints/urls.py
  src/sentry/preprod/api/models/project_preprod_build_details_models.py
  src/sentry/preprod/api/models/project_preprod_list_builds_models.py
  tests/sentry/preprod/api/endpoints/test_project_preprod_list_builds.py
Due: pyupgrade, isort, flake8, mypy, check-mypy-bypass

feat(dashboard-limits): Disable Add to Dashboard flows if at max (#97722)
  static/app/components/modals/widgetBuilder/addToDashboardModal.spec.tsx
  static/app/components/modals/widgetBuilder/addToDashboardModal.tsx
  static/app/views/dashboards/widgetCard/widgetCardContextMenu.tsx
Due: biome, eslint, stylelint, prettier

feat(billing): Update on-demand warning copy (#97522)
  static/gsApp/views/onDemandBudgets/onDemandBudgetEdit.tsx
  static/gsApp/views/onDemandBudgets/onDemandBudgets.spec.tsx
Due: biome, eslint, stylelint, prettier

Revert "fix(replay): Adjust number of columns on Replay List depending on container size (#97791)"
  static/app/components/replays/table/replayTable.tsx
  static/app/components/replays/table/replayTableColumns.tsx
  static/app/components/tables/simpleTable/index.tsx
  static/app/views/replays/list/replayIndexTable.tsx
  static/app/views/replays/list/useReplayIndexTableColumns.tsx
Due: biome, eslint, stylelint, prettier

ref(dx): Move nodestore to services (#97715)
  pyproject.toml
  src/sentry/app.py
  src/sentry/backup/imports.py
  src/sentry/conf/server.py
  src/sentry/nodestore/__init__.py
  src/sentry/nodestore/base.py
  src/sentry/nodestore/bigtable/__init__.py
  src/sentry/nodestore/bigtable/backend.py
  src/sentry/nodestore/django/__init__.py
  src/sentry/nodestore/django/backend.py
  src/sentry/nodestore/django/models.py
  src/sentry/nodestore/filesystem/__init__.py
  src/sentry/nodestore/filesystem/backend.py
  src/sentry/nodestore/models.py
  src/sentry/services/nodestore/README.rst
  src/sentry/services/nodestore/__init__.py
  src/sentry/services/nodestore/base.py
  src/sentry/services/nodestore/bigtable/__init__.py
  src/sentry/services/nodestore/bigtable/backend.py
  src/sentry/services/nodestore/django/__init__.py
  src/sentry/services/nodestore/django/backend.py
  src/sentry/services/nodestore/django/models.py
  src/sentry/services/nodestore/filesystem/__init__.py
  src/sentry/services/nodestore/filesystem/backend.py
  src/sentry/services/nodestore/migrations/0001_squashed_0002_nodestore_no_dictfield.py
  src/sentry/services/nodestore/migrations/__init__.py
  src/sentry/services/nodestore/models.py
  src/sentry/testutils/helpers/backups.py
  tests/sentry/deletions/test_group.py
  tests/sentry/services/eventstore/snuba/test_backend.py
  tests/sentry/services/nodestore/__init__.py
  tests/sentry/services/nodestore/bigtable/__init__.py
  tests/sentry/services/nodestore/bigtable/test_backend.py
  tests/sentry/services/nodestore/django/__init__.py
  tests/sentry/services/nodestore/django/test_backend.py
  tests/sentry/services/nodestore/test_common.py
  tests/sentry/tasks/test_backfill_seer_grouping_records.py
  tools/migrations/squash.py
Due: pyupgrade, isort, flake8, mypy, check-mypy-bypass, sort-stronger-mypy-list, check-mypy-stronglist

fix(replay): fix scroll issue on ai summary tab (#97770)
  static/app/views/replays/detail/ai/chapterList.tsx
Due: biome, eslint, stylelint, prettier

chore(hc): Remove option for routing slack requests (#97758)
  src/sentry/hybridcloud/options.py
  src/sentry/integrations/middleware/hybrid_cloud/parser.py
  src/sentry/integrations/slack/message_builder/help.py
  tests/sentry/integrations/slack/webhooks/commands/test_help.py
  tests/sentry/middleware/integrations/parsers/test_slack.py
Due: pyupgrade, isort, flake8, mypy, check-mypy-bypass

feat(checkout v3): plan select row -> card (#97711)
  static/gsApp/views/amCheckout/moreFeaturesLink.tsx
  static/gsApp/views/amCheckout/steps/contractSelect.tsx
  static/gsApp/views/amCheckout/steps/planSelect.spec.tsx
  static/gsApp/views/amCheckout/steps/planSelect.tsx
  static/gsApp/views/amCheckout/steps/planSelectCard.tsx
  static/gsApp/views/amCheckout/steps/planSelectRow.tsx
Due: biome, eslint, stylelint, prettier
