Repository getsentry/sentry: changes, and which pre-commit hooks are due for each by the changed paths.
All: pyupgrade, isort, flake8, mypy, lint-requirements, requirements-overrides, check-mypy-bypass, sort-stronger-mypy-list, check-mypy-stronglist, biome, eslint, stylelint, prettier

pyupgrade:
  name: pyupgrade
  entry: pyupgrade
  args:
  - --py312-plus
  language: system

isort:
  name: isort
  entry: isort
  language: system

flake8:
  name: flake8
  entry: flake8
  language: system
  log_file: .artifacts/flake8.pycodestyle.log

mypy:
  name: mypy
  entry: bash -c 'if [ -n "${SENTRY_MYPY_PRE_PUSH:-}" ]; then exec mypy "$@"; fi' --
  language: system
  stages:
  - pre-push
  require_serial: true

lint-requirements:
  name: lint-requirements
  entry: python -m tools.lint_requirements
  language: python
  additional_dependencies:
  - packaging==24.1

requirements-overrides:
  name: use pinned archives (see comment in file)
  stages:
  - pre-commit
  language: pygrep
  entry: '(?x)
  
    ^
  
    # it''s a comment line
  
    (?!\#.*$)
  
    # it''s a blank line
  
    (?!$)
  
    # it''s a pinned archive
  
    (?![a-z-]+[ ]@[ ]https://github\.com/getsentry/[^/]+/archive/[a-f0-9]{40}\.zip$)
  
    '

check-mypy-bypass:
  name: do not bypass the type checker
  entry: '(^# *mypy: *ignore-errors|^# *type: *ignore|\bno_type_check\b)'
  language: pygrep

sort-stronger-mypy-list:
  name: sort stronger mypy list
  entry: python3 -m tools.mypy_helpers.sort_stronger_modules
  language: python

check-mypy-stronglist:
  name: check mypy stronglist
  entry: python3 -m tools.mypy_helpers.check_stronglist
  language: python

biome:
  name: biome (javascript, typescript, json)
  language: system
  entry: ./node_modules/.bin/biome check --log-level=error --write --files-ignore-unknown=true --no-errors-on-unmatched

eslint:
  name: eslint
  language: system
  entry: ./node_modules/.bin/eslint --quiet --fix

stylelint:
  name: stylelint
  language: system
  entry: ./node_modules/.bin/stylelint --quiet

prettier:
  name: prettier (yaml, markdown, ts, tsx, js, jsx, css)
  language: system
  entry: ./node_modules/.bin/prettier --log-level=error --write

fix(iswf): Validate that detectors are selected when saving alerts
  static/app/views/automations/components/editConnectedMonitors.tsx
  static/app/views/automations/edit.tsx
  static/app/views/automations/new.spec.tsx
  static/app/views/automations/new.tsx
Due: biome, eslint, stylelint, prettier

ref(seer): Replace MagicMock with FakeExplorerClient in night shift tests
  tests/sentry/tasks/seer/test_night_shift.py
Due: pyupgrade, isort, flake8, mypy, check-mypy-bypass

feat(supergroups): Rename user-facing 'supergroup' labels to 'issue group'
  static/app/components/stream/supergroups/supergroupRow.tsx
  static/app/views/issueDetails/streamline/sidebar/supergroupSection.tsx
  static/app/views/issueList/supergroups/supergroupDrawer.tsx
Due: biome, eslint, stylelint, prettier

add ip test cases
  tests/sentry/grouping/test_parameterization.py
Due: pyupgrade, isort, flake8, mypy, check-mypy-bypass

use `\w` instead of listing options in boundary conditions
  src/sentry/grouping/parameterization.py
Due: pyupgrade, isort, flake8, mypy, check-mypy-bypass

add colon to disallowed characters at pattern boundary
  src/sentry/grouping/parameterization.py
Due: pyupgrade, isort, flake8, mypy, check-mypy-bypass

add conditions to control starting and ending colons
  src/sentry/grouping/parameterization.py
Due: pyupgrade, isort, flake8, mypy, check-mypy-bypass

fix comments
  src/sentry/grouping/parameterization.py
Due: pyupgrade, isort, flake8, mypy, check-mypy-bypass

fix(seer): Move Explorer client constructor inside try block
  src/sentry/tasks/seer/night_shift/agentic_triage.py
Due: pyupgrade, isort, flake8, mypy, check-mypy-bypass

fix(seer): use standard hotkey for minimize behavior, remove `tab` hijacking
  static/app/views/seerExplorer/explorerPanel.tsx
  static/app/views/seerExplorer/hooks/useBlockNavigation.tsx
  static/app/views/seerExplorer/inputSection.tsx
  static/app/views/seerExplorer/panelContainers.tsx
  static/app/views/seerExplorer/useExplorerPanel.tsx
Due: biome, eslint, stylelint, prettier

keep placeholder
  static/app/views/issueList/supergroups/supergroupDrawer.tsx
Due: biome, eslint, stylelint, prettier

revert sort changes
  static/app/views/issueList/supergroups/supergroupDrawer.tsx
Due: biome, eslint, stylelint, prettier

ref(supergroups): Remove explorer-based lightweight RCA
  src/sentry/features/temporary.py
  src/sentry/seer/autofix/issue_summary.py
  src/sentry/seer/supergroups/explorer_lightweight_rca.py
  tests/sentry/seer/autofix/test_issue_summary.py
  tests/sentry/seer/supergroups/test_explorer_lightweight_rca.py
Due: pyupgrade, isort, flake8, mypy, check-mypy-bypass

fix(seer): Handle empty event data and add error logging to backfill
  src/sentry/tasks/seer/backfill_supergroups_lightweight.py
Due: pyupgrade, isort, flake8, mypy, check-mypy-bypass

fix(supergroups): Prevent drawer from closing on modal or hovercard clicks
  static/app/components/stream/supergroups/supergroupRow.tsx
  static/app/views/issueDetails/streamline/sidebar/supergroupSection.tsx
Due: biome, eslint, stylelint, prettier

fix(ACI): Serialize activities correctly
  src/sentry/incidents/endpoints/serializers/workflow_engine_incident.py
  tests/sentry/incidents/endpoints/serializers/test_incident.py
  tests/sentry/incidents/serializers/test_workflow_engine_incident.py
Due: pyupgrade, isort, flake8, mypy, check-mypy-bypass

fix(seer): use shadow token
  static/app/views/seerExplorer/panelContainers.tsx
Due: biome, eslint, stylelint, prettier

remove unused fields
  tests/sentry/incidents/endpoints/serializers/test_incident.py
Due: pyupgrade, isort, flake8, mypy, check-mypy-bypass

fix(seer): update tab tests
  static/app/views/seerExplorer/hooks/useBlockNavigation.spec.tsx
Due: biome, eslint, stylelint, prettier

handle cell resolution error
  src/sentry/api/endpoints/organization_fork.py
Due: pyupgrade, isort, flake8, mypy, check-mypy-bypass

add id
  src/sentry/incidents/endpoints/serializers/workflow_engine_incident.py
Due: pyupgrade, isort, flake8, mypy, check-mypy-bypass

add back unused stuff
  tests/sentry/incidents/endpoints/serializers/test_incident.py
Due: pyupgrade, isort, flake8, mypy, check-mypy-bypass

remove invalid comments, all envs have locality now even if 1:1 with cell
  src/sentry/api/endpoints/organization_fork.py
Due: pyupgrade, isort, flake8, mypy, check-mypy-bypass

ref(cells): Update field definitions on BaseRelocationTransfer
  migrations_lockfile.txt
  src/sentry/migrations/1068_rename_relocationtransfer_region_to_cell.py
  src/sentry/relocation/models/relocationtransfer.py
  src/sentry/relocation/services/relocation_export/impl.py
  src/sentry/relocation/tasks/process.py
  src/sentry/relocation/tasks/transfer.py
  tests/sentry/relocation/tasks/test_transfer.py
Due: pyupgrade, isort, flake8, mypy, check-mypy-bypass

ref(cells): Remove dead SiloMode.CELL check from ReactPageView
  src/sentry/web/frontend/react_page.py
Due: pyupgrade, isort, flake8, mypy, check-mypy-bypass

fix
  src/sentry/migrations/1068_rename_relocationtransfer_region_to_cell.py
  src/sentry/relocation/models/relocationtransfer.py
Due: pyupgrade, isort, flake8, mypy, check-mypy-bypass

updated name to application metrics and fixed tests
  static/app/constants/index.tsx
  static/app/views/settings/account/notifications/notificationSettingsByType.spec.tsx
Due: biome, eslint, stylelint, prettier

ref(cells): Remove deprecated get_region_for_organization alias
  src/sentry/types/cell.py
Due: pyupgrade, isort, flake8, mypy, check-mypy-bypass

Address feedback, allowing isSortable again
  static/app/views/explore/metrics/metricInfoTabs/aggregatesTab.tsx
Due: biome, eslint, stylelint, prettier

feat(cells): Add avatar fields to OrganizationMapping
  migrations_lockfile.txt
  src/sentry/migrations/1068_add_avatar_to_organizationmapping.py
  src/sentry/models/organizationmapping.py
Due: pyupgrade, isort, flake8, mypy, check-mypy-bypass

perf(incidents): Avoid N+1 in WorkflowEngineIncidentSerializer
  src/sentry/incidents/endpoints/serializers/workflow_engine_incident.py
Due: pyupgrade, isort, flake8, mypy, check-mypy-bypass

what if the super groups expanded
  static/app/components/stream/supergroups/supergroupChildList.tsx
  static/app/components/stream/supergroups/supergroupRow.tsx
  static/app/views/issueList/groupListBody.tsx
Due: biome, eslint, stylelint, prettier

fine
  src/sentry/incidents/endpoints/serializers/workflow_engine_incident.py
Due: pyupgrade, isort, flake8, mypy, check-mypy-bypass

prevent popin with matches current filters
  static/app/views/issueList/supergroups/supergroupDrawer.tsx
Due: biome, eslint, stylelint, prettier

tests(incidents): Add serializer parity test for incident activity
  tests/sentry/incidents/endpoints/test_organization_incident_index.py
Due: pyupgrade, isort, flake8, mypy, check-mypy-bypass

feat(detectors): Add connected line graph to mobile build visualization
  static/app/views/detectors/components/detectorTypeForm.tsx
Due: biome, eslint, stylelint, prettier

use simplified polling state
  static/app/views/seerExplorer/explorerPanel.tsx
  static/app/views/seerExplorer/hooks/useSeerExplorer.tsx
  static/app/views/seerExplorer/inputSection.tsx
Due: biome, eslint, stylelint, prettier

ref(explorer): change language to 'agent' for user facing surfaces
  static/app/views/seerExplorer/blockComponents.tsx
  static/app/views/seerExplorer/explorerPanel.tsx
Due: biome, eslint, stylelint, prettier

aria
  static/app/views/seerExplorer/blockComponents.tsx
Due: biome, eslint, stylelint, prettier

chore: Update protos version
  pyproject.toml
  src/sentry/billing/platform/services/category_mapping.py
  uv.lock
Due: pyupgrade, isort, flake8, mypy, check-mypy-bypass, sort-stronger-mypy-list, check-mypy-stronglist

Path conditions:
  pyupgrade: any of: \.py$, but not: (?x)(
    LICENSE.md$|
    \.snap$|
    \.map$|
    \.map\.js$|
    ^src/sentry/static/sentry/vendor/|
    ^src/.*/locale/|
    ^src/sentry/data/
)

  isort: any of: \.py$, but not: (?x)(
    LICENSE.md$|
    \.snap$|
    \.map$|
    \.map\.js$|
    ^src/sentry/static/sentry/vendor/|
    ^src/.*/locale/|
    ^src/sentry/data/
)

  flake8: any of: \.py$, but not: (?x)(
    LICENSE.md$|
    \.snap$|
    \.map$|
    \.map\.js$|
    ^src/sentry/static/sentry/vendor/|
    ^src/.*/locale/|
    ^src/sentry/data/
)

  mypy: any of: \.py$, but not: (?x)(
    LICENSE.md$|
    \.snap$|
    \.map$|
    \.map\.js$|
    ^src/sentry/static/sentry/vendor/|
    ^src/.*/locale/|
    ^src/sentry/data/
)

  lint-requirements: any of: requirements-.*\.txt$ and not (^requirements-getsentry-overrides\.txt$) and not ((?x)(
    LICENSE.md$|
    \.snap$|
    \.map$|
    \.map\.js$|
    ^src/sentry/static/sentry/vendor/|
    ^src/.*/locale/|
    ^src/sentry/data/
)
)
  requirements-overrides: any of: ^requirements-getsentry-overrides\.txt$, but not: (?x)(
    LICENSE.md$|
    \.snap$|
    \.map$|
    \.map\.js$|
    ^src/sentry/static/sentry/vendor/|
    ^src/.*/locale/|
    ^src/sentry/data/
)

  check-mypy-bypass: any of: \.py$, but not: (?x)(
    LICENSE.md$|
    \.snap$|
    \.map$|
    \.map\.js$|
    ^src/sentry/static/sentry/vendor/|
    ^src/.*/locale/|
    ^src/sentry/data/
)

  sort-stronger-mypy-list: any of: ^pyproject\.toml$, but not: (?x)(
    LICENSE.md$|
    \.snap$|
    \.map$|
    \.map\.js$|
    ^src/sentry/static/sentry/vendor/|
    ^src/.*/locale/|
    ^src/sentry/data/
)

  check-mypy-stronglist: any of: ^pyproject\.toml$, but not: (?x)(
    LICENSE.md$|
    \.snap$|
    \.map$|
    \.map\.js$|
    ^src/sentry/static/sentry/vendor/|
    ^src/.*/locale/|
    ^src/sentry/data/
)

  biome: any of: \.(jsx?|tsx?|css)$, but not: (?x)(
    LICENSE.md$|
    \.snap$|
    \.map$|
    \.map\.js$|
    ^src/sentry/static/sentry/vendor/|
    ^src/.*/locale/|
    ^src/sentry/data/
)

  eslint: any of: \.(ts|js|tsx|jsx|mjs)$, but not: (?x)(
    LICENSE.md$|
    \.snap$|
    \.map$|
    \.map\.js$|
    ^src/sentry/static/sentry/vendor/|
    ^src/.*/locale/|
    ^src/sentry/data/
)

  stylelint: any of: \.[jt]sx?$, but not: (?x)(
    LICENSE.md$|
    \.snap$|
    \.map$|
    \.map\.js$|
    ^src/sentry/static/sentry/vendor/|
    ^src/.*/locale/|
    ^src/sentry/data/
)

  prettier: any of: \.(yaml|yml)$, \.(md|markdown|mdown)$, \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.css$ and not ((?x)^($^
  # prettier crashes on some of these, by intent:
  |fixtures/.*
  # these have enormous diffs when formatted:
  |api-docs/paths/events/issue-hashes\.json
  |api-docs/paths/events/latest-event\.json
  |api-docs/paths/events/oldest-event\.json
  |api-docs/paths/events/project-event-details\.json
  |src/sentry/issues/event\.schema\.json
  |static/app/data/world\.json
  |static/app/utils/profiling/profile/formats/android/trace\.json
  |static/app/utils/profiling/profile/formats/ios/trace\.json
  |static/app/utils/profiling/profile/formats/node/trace\.json
  |static/app/utils/profiling/profile/formats/typescript/trace\.json
)$
) and not ((?x)(
    LICENSE.md$|
    \.snap$|
    \.map$|
    \.map\.js$|
    ^src/sentry/static/sentry/vendor/|
    ^src/.*/locale/|
    ^src/sentry/data/
)
)
