Repository getsentry/sentry: changes, and which pre-commit hooks are due for each by the changed paths.
All: pyupgrade, isort, flake8, mypy, lint-requirements, requirements-overrides, check-mypy-bypass, sort-stronger-mypy-list, check-mypy-stronglist, biome, eslint, stylelint, prettier

Path conditions:
  pyupgrade: any of: \.py$, but not: (?x)(
    LICENSE.md$|
    \.snap$|
    \.map$|
    \.map\.js$|
    ^src/sentry/static/sentry/vendor/|
    ^src/.*/locale/|
    ^src/sentry/data/
)

  isort: any of: \.py$, but not: (?x)(
    LICENSE.md$|
    \.snap$|
    \.map$|
    \.map\.js$|
    ^src/sentry/static/sentry/vendor/|
    ^src/.*/locale/|
    ^src/sentry/data/
)

  flake8: any of: \.py$, but not: (?x)(
    LICENSE.md$|
    \.snap$|
    \.map$|
    \.map\.js$|
    ^src/sentry/static/sentry/vendor/|
    ^src/.*/locale/|
    ^src/sentry/data/
)

  mypy: any of: \.py$, but not: (?x)(
    LICENSE.md$|
    \.snap$|
    \.map$|
    \.map\.js$|
    ^src/sentry/static/sentry/vendor/|
    ^src/.*/locale/|
    ^src/sentry/data/
)

  lint-requirements: any of: requirements-.*\.txt$ and not (^requirements-getsentry-overrides\.txt$) and not ((?x)(
    LICENSE.md$|
    \.snap$|
    \.map$|
    \.map\.js$|
    ^src/sentry/static/sentry/vendor/|
    ^src/.*/locale/|
    ^src/sentry/data/
)
)
  requirements-overrides: any of: ^requirements-getsentry-overrides\.txt$, but not: (?x)(
    LICENSE.md$|
    \.snap$|
    \.map$|
    \.map\.js$|
    ^src/sentry/static/sentry/vendor/|
    ^src/.*/locale/|
    ^src/sentry/data/
)

  check-mypy-bypass: any of: \.py$, but not: (?x)(
    LICENSE.md$|
    \.snap$|
    \.map$|
    \.map\.js$|
    ^src/sentry/static/sentry/vendor/|
    ^src/.*/locale/|
    ^src/sentry/data/
)

  sort-stronger-mypy-list: any of: ^pyproject\.toml$, but not: (?x)(
    LICENSE.md$|
    \.snap$|
    \.map$|
    \.map\.js$|
    ^src/sentry/static/sentry/vendor/|
    ^src/.*/locale/|
    ^src/sentry/data/
)

  check-mypy-stronglist: any of: ^pyproject\.toml$, but not: (?x)(
    LICENSE.md$|
    \.snap$|
    \.map$|
    \.map\.js$|
    ^src/sentry/static/sentry/vendor/|
    ^src/.*/locale/|
    ^src/sentry/data/
)

  biome: any of: \.(jsx?|tsx?|css)$, but not: (?x)(
    LICENSE.md$|
    \.snap$|
    \.map$|
    \.map\.js$|
    ^src/sentry/static/sentry/vendor/|
    ^src/.*/locale/|
    ^src/sentry/data/
)

  eslint: any of: \.(ts|js|tsx|jsx|mjs)$, but not: (?x)(
    LICENSE.md$|
    \.snap$|
    \.map$|
    \.map\.js$|
    ^src/sentry/static/sentry/vendor/|
    ^src/.*/locale/|
    ^src/sentry/data/
)

  stylelint: any of: \.[jt]sx?$, but not: (?x)(
    LICENSE.md$|
    \.snap$|
    \.map$|
    \.map\.js$|
    ^src/sentry/static/sentry/vendor/|
    ^src/.*/locale/|
    ^src/sentry/data/
)

  prettier: any of: \.(yaml|yml)$, \.(md|markdown|mdown)$, \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.css$ and not ((?x)^($^
  # prettier crashes on some of these, by intent:
  |fixtures/.*
  # these have enormous diffs when formatted:
  |api-docs/paths/events/issue-hashes\.json
  |api-docs/paths/events/latest-event\.json
  |api-docs/paths/events/oldest-event\.json
  |api-docs/paths/events/project-event-details\.json
  |src/sentry/issues/event\.schema\.json
  |static/app/data/world\.json
  |static/app/utils/profiling/profile/formats/android/trace\.json
  |static/app/utils/profiling/profile/formats/ios/trace\.json
  |static/app/utils/profiling/profile/formats/node/trace\.json
  |static/app/utils/profiling/profile/formats/typescript/trace\.json
)$
) and not ((?x)(
    LICENSE.md$|
    \.snap$|
    \.map$|
    \.map\.js$|
    ^src/sentry/static/sentry/vendor/|
    ^src/.*/locale/|
    ^src/sentry/data/
)
)

fix(aci): Inline connect monitors in new automation page
  static/app/views/automations/components/editConnectedMonitors.tsx
  static/app/views/automations/new.tsx
  static/app/views/detectors/list.tsx
  static/app/views/detectors/pathnames.tsx
Due: biome, eslint, stylelint, prettier

Regenerate migration without fk
  bin/update-migration
  migrations_lockfile.txt
  src/sentry/workflow_engine/migrations/0081_add_unique_constraint_to_detector_group.py
Due: pyupgrade, isort, flake8, mypy, check-mypy-bypass

test(performance): Wait for cls text to appear (#96045)
  static/app/views/performance/vitalDetail/index.spec.tsx
Due: biome, eslint, stylelint, prettier

Regenerate migration
  bin/update-migration
Due: none

feat(seer): Add button to open bulk onboarding wizard (#96047)
  static/app/views/settings/projectSeer/index.tsx
Due: biome, eslint, stylelint, prettier

chore(nav-v2): remove nav v2 sidebar banner flag registration (#96043)
  src/sentry/features/temporary.py
Due: pyupgrade, isort, flake8, mypy, check-mypy-bypass

feat(aci): Add the database foreignkey to Group in DetectorGroup (#95845)
  migrations_lockfile.txt
  src/sentry/workflow_engine/migrations/0081_add_unique_constraint_to_detector_group.py
  src/sentry/workflow_engine/models/detector_group.py
Due: pyupgrade, isort, flake8, mypy, check-mypy-bypass

add useEffect to reset value on dataset change
  static/app/views/detectors/components/forms/metric/metric.tsx
Due: biome, eslint, stylelint, prettier

fix tests
  static/gsAdmin/components/changePlanAction.spec.tsx
  static/gsAdmin/components/customers/customerOverview.spec.tsx
  static/gsAdmin/components/provisionSubscriptionAction.spec.tsx
  static/gsApp/utils/dataCategory.spec.tsx
  tests/js/getsentry-test/fixtures/am3Plans.ts
  tests/js/getsentry-test/fixtures/subscription.ts
Due: biome, eslint, stylelint, prettier

fix sample_epm / sample_eps key name description and units
  src/sentry/api/bases/organization_events.py
  static/app/utils/fields/index.ts
  tests/snuba/api/endpoints/test_organization_events.py
Due: pyupgrade, isort, flake8, mypy, check-mypy-bypass, biome, eslint, stylelint, prettier

add test for switching datasets and getting the new interval value
  static/app/views/detectors/edit.spec.tsx
Due: biome, eslint, stylelint, prettier

fix(feedback) warped image in safari bug
  static/app/components/feedback/feedbackItem/feedbackScreenshot.tsx
Due: biome, eslint, stylelint, prettier

fix(pr): Accidentally deleted test
  tests/sentry/workflow_engine/endpoints/test_organization_detector_index.py
Due: pyupgrade, isort, flake8, mypy, check-mypy-bypass

fix(ecosystem): Always display external modal title (#96052)
  static/app/components/externalIssues/externalIssueForm.tsx
Due: biome, eslint, stylelint, prettier

feat(aci): Add time period selection to metric detectors (#95953)
  static/app/views/alerts/rules/metric/constants.tsx
  static/app/views/alerts/rules/metric/triggers/chart/index.tsx
  static/app/views/alerts/rules/utils.tsx
  static/app/views/alerts/utils/timePeriods.spec.tsx
  static/app/views/alerts/utils/timePeriods.tsx
  static/app/views/detectors/components/details/metric/chart.tsx
  static/app/views/detectors/components/forms/metric/metric.tsx
  static/app/views/detectors/components/forms/metric/metricDetectorChart.tsx
  static/app/views/detectors/components/forms/metric/metricFormData.tsx
  static/app/views/detectors/components/forms/metric/previewChart.tsx
  static/app/views/detectors/datasetConfig/base.tsx
  static/app/views/detectors/datasetConfig/utils/discoverSeries.tsx
  static/app/views/detectors/datasetConfig/utils/releasesSeries.tsx
  static/app/views/detectors/edit.spec.tsx
  static/app/views/detectors/hooks/useMetricDetectorSeries.tsx
  static/app/views/detectors/hooks/useTimePeriodSelection.tsx
Due: biome, eslint, stylelint, prettier

feat(errors) - Discover add sample_* function columns to Errors (#95946)
  src/sentry/api/bases/organization_events.py
  static/app/utils/discover/fields.tsx
  static/app/utils/fields/index.ts
  static/app/views/dashboards/datasetConfig/transactions.tsx
  static/app/views/discover/table/columnEditModal.tsx
  static/app/views/discover/table/tableView.tsx
  tests/snuba/api/endpoints/test_organization_events.py
Due: pyupgrade, isort, flake8, mypy, check-mypy-bypass, biome, eslint, stylelint, prettier

feat(error_upsampling): Enable error upsampling for tag counts on issues (#95961)
  src/sentry/utils/snuba.py
  tests/snuba/tagstore/test_tagstore_backend.py
Due: pyupgrade, isort, flake8, mypy, check-mypy-bypass

:wrench: chore: don't raise on halt exceptions for ticketing integrations
  src/sentry/rules/actions/integrations/create_ticket/utils.py
Due: pyupgrade, isort, flake8, mypy, check-mypy-bypass

:wrench: chore: check for rule_id
  src/sentry/api/endpoints/project_rule_actions.py
  src/sentry/notifications/notification_action/types.py
  src/sentry/notifications/types.py
  src/sentry/rules/actions/integrations/create_ticket/utils.py
  src/sentry/workflow_engine/endpoints/organization_test_fire_action.py
Due: pyupgrade, isort, flake8, mypy, check-mypy-bypass

prevent rate limiting from triggering on duplicate callback invocations
  static/app/views/explore/contexts/logs/logsAutoRefreshContext.tsx
  static/app/views/explore/logs/logsAutoRefresh.spec.tsx
  static/app/views/explore/logs/useLogsQuery.spec.tsx
  static/app/views/explore/logs/useLogsQuery.tsx
Due: biome, eslint, stylelint, prettier

fixing more tests
  static/gsAdmin/components/changePlanAction.spec.tsx
  static/gsApp/views/amCheckout/steps/addDataVolume.spec.tsx
  static/gsApp/views/amCheckout/steps/volumeSliders.tsx
  static/gsApp/views/amCheckout/utils.tsx
  tests/js/getsentry-test/fixtures/am3Plans.ts
  tests/js/getsentry-test/fixtures/billingConfig.ts
Due: biome, eslint, stylelint, prettier

Go back to setInterval, refetchInterval updates cached pages etc. and isn't made to walk stable pages forward in time
  static/app/views/explore/contexts/logs/logsAutoRefreshContext.tsx
  static/app/views/explore/logs/logsAutoRefresh.spec.tsx
  static/app/views/explore/logs/logsAutoRefresh.tsx
  static/app/views/explore/logs/useLogsAutoRefreshInterval.tsx
  static/app/views/explore/logs/useLogsQuery.spec.tsx
  static/app/views/explore/logs/useLogsQuery.tsx
Due: biome, eslint, stylelint, prettier

knip
  static/app/views/explore/contexts/logs/logsAutoRefreshContext.tsx
  static/app/views/explore/contexts/logs/logsPageParams.tsx
Due: biome, eslint, stylelint, prettier

feat: Add admin option to toggle console platforms (#95862)
  static/gsAdmin/components/toggleConsolePlatformsModal.tsx
  static/gsAdmin/views/customerDetails.tsx
Due: biome, eslint, stylelint, prettier

ref(analytics): Transform analytics events for TET-826 (#95206)
  src/sentry/preprod/analytics.py
  src/sentry/preprod/api/endpoints/organization_preprod_artifact_assemble.py
  src/sentry/preprod/api/endpoints/project_preprod_artifact_assemble_generic.py
  src/sentry/preprod/api/endpoints/project_preprod_artifact_size_analysis_download.py
  src/sentry/preprod/api/endpoints/project_preprod_artifact_update.py
  src/sentry/preprod/api/endpoints/project_preprod_build_details.py
  tests/sentry/preprod/api/endpoints/test_project_preprod_artifact_assemble_generic.py
Due: pyupgrade, isort, flake8, mypy, check-mypy-bypass

fix(dynamic-sampling): fix audit logging for biases (#95427)
  src/sentry/api/endpoints/project_details.py
  tests/sentry/api/endpoints/test_project_details.py
Due: pyupgrade, isort, flake8, mypy, check-mypy-bypass

Add minified error 421 to hydration error filters
  src/sentry/ingest/inbound_filters.py
Due: pyupgrade, isort, flake8, mypy, check-mypy-bypass

fix: UX improvements project creation modal (#95856)
  static/app/components/modals/projectCreationModal.tsx
Due: biome, eslint, stylelint, prettier
