Repository getsentry/sentry: changes, and which pre-commit hooks are due for each by the changed paths.
All: pyupgrade, isort, flake8, mypy, lint-requirements, requirements-overrides, check-mypy-bypass, sort-stronger-mypy-list, check-mypy-stronglist, biome, eslint, stylelint, prettier

pyupgrade:
  name: pyupgrade
  entry: pyupgrade
  args:
  - --py312-plus
  language: system

isort:
  name: isort
  entry: isort
  language: system

flake8:
  name: flake8
  entry: flake8
  language: system
  log_file: .artifacts/flake8.pycodestyle.log

mypy:
  name: mypy
  entry: bash -c 'if [ -n "${SENTRY_MYPY_PRE_PUSH:-}" ]; then exec mypy "$@"; fi' --
  language: system
  stages:
  - pre-push
  require_serial: true

lint-requirements:
  name: lint-requirements
  entry: python -m tools.lint_requirements
  language: python
  additional_dependencies:
  - packaging==24.1

requirements-overrides:
  name: use pinned archives (see comment in file)
  stages:
  - pre-commit
  language: pygrep
  entry: '(?x)
  
    ^
  
    # it''s a comment line
  
    (?!\#.*$)
  
    # it''s a blank line
  
    (?!$)
  
    # it''s a pinned archive
  
    (?![a-z-]+[ ]@[ ]https://github\.com/getsentry/[^/]+/archive/[a-f0-9]{40}\.zip$)
  
    '

check-mypy-bypass:
  name: do not bypass the type checker
  entry: '(^# *mypy: *ignore-errors|^# *type: *ignore|\bno_type_check\b)'
  language: pygrep

sort-stronger-mypy-list:
  name: sort stronger mypy list
  entry: python3 -m tools.mypy_helpers.sort_stronger_modules
  language: python

check-mypy-stronglist:
  name: check mypy stronglist
  entry: python3 -m tools.mypy_helpers.check_stronglist
  language: python

biome:
  name: biome (javascript, typescript, json)
  language: system
  entry: ./node_modules/.bin/biome check --log-level=error --write --files-ignore-unknown=true --no-errors-on-unmatched

eslint:
  name: eslint
  language: system
  entry: ./node_modules/.bin/eslint --quiet --fix

stylelint:
  name: stylelint
  language: system
  entry: ./node_modules/.bin/stylelint --quiet

prettier:
  name: prettier (yaml, markdown, ts, tsx, js, jsx, css)
  language: system
  entry: ./node_modules/.bin/prettier --log-level=error --write

feat(process-spans): Add schema validation for process-spans consumer (#101884)
  src/sentry/options/defaults.py
  src/sentry/spans/consumers/process/factory.py
  tests/sentry/spans/consumers/process/test_consumer.py
Due: pyupgrade, isort, flake8, mypy, check-mypy-bypass

fix(checkout v3): Improve dark mode + remove unnecessary scroll bar
  static/gsApp/views/amCheckout/cartDiff.tsx
Due: biome, eslint, stylelint, prettier

feat(projectkey): Add integration endpoint to dsn serializer
  src/sentry/api/serializers/models/project_key.py
  src/sentry/apidocs/examples/project_examples.py
  src/sentry/models/projectkey.py
  tests/sentry/core/endpoints/test_project_keys.py
Due: pyupgrade, isort, flake8, mypy, check-mypy-bypass

fix(sub v3): Correct Overview background (#102132)
  static/gsApp/views/subscriptionPage/subscriptionHeader.tsx
Due: biome, eslint, stylelint, prettier

ref(uptime): move uptime helper functions to utility file (#102105)
  src/sentry/uptime/autodetect/ranking.py
  src/sentry/uptime/autodetect/result_handler.py
  src/sentry/uptime/autodetect/tasks.py
  src/sentry/uptime/consumers/results_consumer.py
  src/sentry/uptime/grouptype.py
  src/sentry/uptime/subscriptions/subscriptions.py
  src/sentry/uptime/utils.py
  tests/sentry/tasks/test_post_process.py
  tests/sentry/uptime/autodetect/test_detector.py
  tests/sentry/uptime/autodetect/test_ranking.py
  tests/sentry/uptime/autodetect/test_tasks.py
  tests/sentry/uptime/consumers/test_results_consumer.py
  tests/sentry/uptime/test_grouptype.py
Due: pyupgrade, isort, flake8, mypy, check-mypy-bypass

feat(preprod): Add Beta badge to preprod (#102129)
  static/app/views/preprod/buildComparison/header/buildCompareHeaderContent.tsx
  static/app/views/preprod/buildDetails/header/buildDetailsHeaderContent.tsx
  static/app/views/releases/detail/header/releaseHeader.tsx
Due: biome, eslint, stylelint, prettier

fix(preprod): Format timezone to user prefs (#102128)
  static/app/views/preprod/buildDetails/sidebar/buildDetailsSidebarAppInfo.tsx
Due: biome, eslint, stylelint, prettier

fix(replay): streamline replay validity checks by removing redundant liveDuration condition
  static/app/components/replays/replayBadge.tsx
  static/app/views/replays/detail/header/replayDetailsUserBadge.tsx
Due: biome, eslint, stylelint, prettier

extra trailing slash thanks cursor
  src/sentry/models/projectkey.py
Due: pyupgrade, isort, flake8, mypy, check-mypy-bypass

feat(replay): Upgrade `rrweb` to 2.40.0
  package.json
  pnpm-lock.yaml
Due: prettier

Add RPCs necessary for issues search
  src/sentry/seer/assisted_query/tools.py
  src/sentry/seer/endpoints/seer_rpc.py
  tests/sentry/seer/assisted_query/test_tools.py
Due: pyupgrade, isort, flake8, mypy, check-mypy-bypass

fix tests
  tests/snuba/api/endpoints/test_organization_events_stats_trace_metrics.py
  tests/snuba/api/endpoints/test_organization_events_trace_metrics.py
Due: pyupgrade, isort, flake8, mypy, check-mypy-bypass

Knip
  static/app/views/explore/logs/fieldRenderers.tsx
Due: biome, eslint, stylelint, prettier

perf(widget-builder): Store pending URL updates in a ref to prevent re-renders (#101878)
  static/app/utils/url/testUtils.tsx
  static/app/utils/url/urlParamBatchContext.spec.tsx
  static/app/utils/url/urlParamBatchContext.tsx
  static/app/views/dashboards/widgetBuilder/components/widgetTemplatesList.spec.tsx
Due: biome, eslint, stylelint, prettier

Revert "chore(preprod): Temporarily remove rate limiting for artifact upload (#98260)"
  src/sentry/preprod/api/endpoints/organization_preprod_artifact_assemble.py
Due: pyupgrade, isort, flake8, mypy, check-mypy-bypass

fix typing
  src/sentry/api/serializers/models/project_key.py
Due: pyupgrade, isort, flake8, mypy, check-mypy-bypass

chore(profiling): remove deprecated `profiling-summary-redesign` flag registration (#102126)
  src/sentry/features/temporary.py
Due: pyupgrade, isort, flake8, mypy, check-mypy-bypass

fix typing
  static/app/views/explore/logs/useLogsTimeseries.spec.tsx
  static/app/views/explore/logs/useStreamingTimeseriesResult.spec.tsx
Due: biome, eslint, stylelint, prettier

feat(bug-prediction): Allow short IDs
  src/sentry/seer/fetch_issues/utils.py
  tests/sentry/seer/fetch_issues/test_utils.py
Due: pyupgrade, isort, flake8, mypy, check-mypy-bypass

fix(checkout v3): Improve dark mode + remove unnecessary scroll bar (#102135)
  static/gsApp/views/amCheckout/cartDiff.tsx
Due: biome, eslint, stylelint, prettier

Fix typing
  src/sentry/seer/assisted_query/tools.py
Due: pyupgrade, isort, flake8, mypy, check-mypy-bypass

feat(ourlogs): Add project badge to log row (#100910)
  static/app/components/idBadge/projectBadge.tsx
  static/app/views/explore/logs/tables/logsInfiniteTable.tsx
  static/app/views/explore/logs/tables/logsTableRow.tsx
Due: biome, eslint, stylelint, prettier

fix(tracemetrics): Change aggregate table
  static/app/views/explore/metrics/metricInfoTabs/aggregatesTab.tsx
Due: biome, eslint, stylelint, prettier

feat(projectkey): Add integration endpoint to dsn serializer (#102134)
  src/sentry/api/serializers/models/project_key.py
  src/sentry/apidocs/examples/project_examples.py
  src/sentry/models/projectkey.py
  tests/sentry/core/endpoints/test_project_keys.py
Due: pyupgrade, isort, flake8, mypy, check-mypy-bypass

feat(tracemetrics): Add rate function for metrics (#102125)
  src/sentry/api/bases/organization_events.py
  src/sentry/search/eap/trace_metrics/definitions.py
  src/sentry/search/eap/trace_metrics/formulas.py
  tests/snuba/api/endpoints/test_organization_events_stats_trace_metrics.py
  tests/snuba/api/endpoints/test_organization_events_trace_metrics.py
Due: pyupgrade, isort, flake8, mypy, check-mypy-bypass

feat(logs): Add better loading state for flex time strategy (#102104)
  static/app/utils/discover/eventView.tsx
  static/app/views/explore/logs/tables/logsInfiniteTable.tsx
  static/app/views/explore/logs/useLogsQuery.tsx
  static/app/views/explore/logs/useLogsTimeseries.spec.tsx
  static/app/views/explore/logs/useStreamingTimeseriesResult.spec.tsx
  static/app/views/explore/tables/tracesTable/styles.tsx
Due: biome, eslint, stylelint, prettier

Rename file
  tests/sentry/seer/assisted_query/test_query_tools.py
Due: pyupgrade, isort, flake8, mypy, check-mypy-bypass

fix(tracemetrics): Change aggregate table (#102139)
  static/app/views/explore/metrics/metricInfoTabs/aggregatesTab.tsx
Due: biome, eslint, stylelint, prettier

Path conditions:
  pyupgrade: any of: \.py$, but not: (?x)(
    LICENSE.md$|
    \.snap$|
    \.map$|
    \.map\.js$|
    ^src/sentry/static/sentry/vendor/|
    ^src/.*/locale/|
    ^src/sentry/data/
)

  isort: any of: \.py$, but not: (?x)(
    LICENSE.md$|
    \.snap$|
    \.map$|
    \.map\.js$|
    ^src/sentry/static/sentry/vendor/|
    ^src/.*/locale/|
    ^src/sentry/data/
)

  flake8: any of: \.py$, but not: (?x)(
    LICENSE.md$|
    \.snap$|
    \.map$|
    \.map\.js$|
    ^src/sentry/static/sentry/vendor/|
    ^src/.*/locale/|
    ^src/sentry/data/
)

  mypy: any of: \.py$, but not: (?x)(
    LICENSE.md$|
    \.snap$|
    \.map$|
    \.map\.js$|
    ^src/sentry/static/sentry/vendor/|
    ^src/.*/locale/|
    ^src/sentry/data/
)

  lint-requirements: any of: requirements-.*\.txt$ and not (^requirements-getsentry-overrides\.txt$) and not ((?x)(
    LICENSE.md$|
    \.snap$|
    \.map$|
    \.map\.js$|
    ^src/sentry/static/sentry/vendor/|
    ^src/.*/locale/|
    ^src/sentry/data/
)
)
  requirements-overrides: any of: ^requirements-getsentry-overrides\.txt$, but not: (?x)(
    LICENSE.md$|
    \.snap$|
    \.map$|
    \.map\.js$|
    ^src/sentry/static/sentry/vendor/|
    ^src/.*/locale/|
    ^src/sentry/data/
)

  check-mypy-bypass: any of: \.py$, but not: (?x)(
    LICENSE.md$|
    \.snap$|
    \.map$|
    \.map\.js$|
    ^src/sentry/static/sentry/vendor/|
    ^src/.*/locale/|
    ^src/sentry/data/
)

  sort-stronger-mypy-list: any of: ^pyproject\.toml$, but not: (?x)(
    LICENSE.md$|
    \.snap$|
    \.map$|
    \.map\.js$|
    ^src/sentry/static/sentry/vendor/|
    ^src/.*/locale/|
    ^src/sentry/data/
)

  check-mypy-stronglist: any of: ^pyproject\.toml$, but not: (?x)(
    LICENSE.md$|
    \.snap$|
    \.map$|
    \.map\.js$|
    ^src/sentry/static/sentry/vendor/|
    ^src/.*/locale/|
    ^src/sentry/data/
)

  biome: any of: \.(jsx?|tsx?|css)$, but not: (?x)(
    LICENSE.md$|
    \.snap$|
    \.map$|
    \.map\.js$|
    ^src/sentry/static/sentry/vendor/|
    ^src/.*/locale/|
    ^src/sentry/data/
)

  eslint: any of: \.(ts|js|tsx|jsx|mjs)$, but not: (?x)(
    LICENSE.md$|
    \.snap$|
    \.map$|
    \.map\.js$|
    ^src/sentry/static/sentry/vendor/|
    ^src/.*/locale/|
    ^src/sentry/data/
)

  stylelint: any of: \.[jt]sx?$, but not: (?x)(
    LICENSE.md$|
    \.snap$|
    \.map$|
    \.map\.js$|
    ^src/sentry/static/sentry/vendor/|
    ^src/.*/locale/|
    ^src/sentry/data/
)

  prettier: any of: \.(yaml|yml)$, \.(md|markdown|mdown)$, \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.css$ and not ((?x)^($^
  # prettier crashes on some of these, by intent:
  |fixtures/.*
  # these have enormous diffs when formatted:
  |api-docs/paths/events/issue-hashes\.json
  |api-docs/paths/events/latest-event\.json
  |api-docs/paths/events/oldest-event\.json
  |api-docs/paths/events/project-event-details\.json
  |src/sentry/issues/event\.schema\.json
  |static/app/data/world\.json
  |static/app/utils/profiling/profile/formats/android/trace\.json
  |static/app/utils/profiling/profile/formats/ios/trace\.json
  |static/app/utils/profiling/profile/formats/node/trace\.json
  |static/app/utils/profiling/profile/formats/typescript/trace\.json
)$
) and not ((?x)(
    LICENSE.md$|
    \.snap$|
    \.map$|
    \.map\.js$|
    ^src/sentry/static/sentry/vendor/|
    ^src/.*/locale/|
    ^src/sentry/data/
)
)
