Repository getsentry/sentry: changes, and which pre-commit hooks are due for each by the changed paths.
All: pyupgrade, isort, flake8, mypy, lint-requirements, requirements-overrides, check-mypy-bypass, sort-stronger-mypy-list, check-mypy-stronglist, biome, eslint, stylelint, prettier

Path conditions:
  pyupgrade: any of: \.py$, but not: (?x)(
    LICENSE.md$|
    \.snap$|
    \.map$|
    \.map\.js$|
    ^src/sentry/static/sentry/vendor/|
    ^src/.*/locale/|
    ^src/sentry/data/
)

  isort: any of: \.py$, but not: (?x)(
    LICENSE.md$|
    \.snap$|
    \.map$|
    \.map\.js$|
    ^src/sentry/static/sentry/vendor/|
    ^src/.*/locale/|
    ^src/sentry/data/
)

  flake8: any of: \.py$, but not: (?x)(
    LICENSE.md$|
    \.snap$|
    \.map$|
    \.map\.js$|
    ^src/sentry/static/sentry/vendor/|
    ^src/.*/locale/|
    ^src/sentry/data/
)

  mypy: any of: \.py$, but not: (?x)(
    LICENSE.md$|
    \.snap$|
    \.map$|
    \.map\.js$|
    ^src/sentry/static/sentry/vendor/|
    ^src/.*/locale/|
    ^src/sentry/data/
)

  lint-requirements: any of: requirements-.*\.txt$ and not (^requirements-getsentry-overrides\.txt$) and not ((?x)(
    LICENSE.md$|
    \.snap$|
    \.map$|
    \.map\.js$|
    ^src/sentry/static/sentry/vendor/|
    ^src/.*/locale/|
    ^src/sentry/data/
)
)
  requirements-overrides: any of: ^requirements-getsentry-overrides\.txt$, but not: (?x)(
    LICENSE.md$|
    \.snap$|
    \.map$|
    \.map\.js$|
    ^src/sentry/static/sentry/vendor/|
    ^src/.*/locale/|
    ^src/sentry/data/
)

  check-mypy-bypass: any of: \.py$, but not: (?x)(
    LICENSE.md$|
    \.snap$|
    \.map$|
    \.map\.js$|
    ^src/sentry/static/sentry/vendor/|
    ^src/.*/locale/|
    ^src/sentry/data/
)

  sort-stronger-mypy-list: any of: ^pyproject\.toml$, but not: (?x)(
    LICENSE.md$|
    \.snap$|
    \.map$|
    \.map\.js$|
    ^src/sentry/static/sentry/vendor/|
    ^src/.*/locale/|
    ^src/sentry/data/
)

  check-mypy-stronglist: any of: ^pyproject\.toml$, but not: (?x)(
    LICENSE.md$|
    \.snap$|
    \.map$|
    \.map\.js$|
    ^src/sentry/static/sentry/vendor/|
    ^src/.*/locale/|
    ^src/sentry/data/
)

  biome: any of: \.(jsx?|tsx?|css)$, but not: (?x)(
    LICENSE.md$|
    \.snap$|
    \.map$|
    \.map\.js$|
    ^src/sentry/static/sentry/vendor/|
    ^src/.*/locale/|
    ^src/sentry/data/
)

  eslint: any of: \.(ts|js|tsx|jsx|mjs)$, but not: (?x)(
    LICENSE.md$|
    \.snap$|
    \.map$|
    \.map\.js$|
    ^src/sentry/static/sentry/vendor/|
    ^src/.*/locale/|
    ^src/sentry/data/
)

  stylelint: any of: \.[jt]sx?$, but not: (?x)(
    LICENSE.md$|
    \.snap$|
    \.map$|
    \.map\.js$|
    ^src/sentry/static/sentry/vendor/|
    ^src/.*/locale/|
    ^src/sentry/data/
)

  prettier: any of: \.(yaml|yml)$, \.(md|markdown|mdown)$, \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.css$ and not ((?x)^($^
  # prettier crashes on some of these, by intent:
  |fixtures/.*
  # these have enormous diffs when formatted:
  |api-docs/paths/events/issue-hashes\.json
  |api-docs/paths/events/latest-event\.json
  |api-docs/paths/events/oldest-event\.json
  |api-docs/paths/events/project-event-details\.json
  |src/sentry/issues/event\.schema\.json
  |static/app/data/world\.json
  |static/app/utils/profiling/profile/formats/android/trace\.json
  |static/app/utils/profiling/profile/formats/ios/trace\.json
  |static/app/utils/profiling/profile/formats/node/trace\.json
  |static/app/utils/profiling/profile/formats/typescript/trace\.json
)$
) and not ((?x)(
    LICENSE.md$|
    \.snap$|
    \.map$|
    \.map\.js$|
    ^src/sentry/static/sentry/vendor/|
    ^src/.*/locale/|
    ^src/sentry/data/
)
)

tests
  static/app/components/arithmeticBuilder/index.spec.tsx
  static/app/views/explore/components/schemaHints/schemaHintsList.spec.tsx
Due: biome, eslint, stylelint, prettier

chore(onboarding): Add Session Replay toggle for Flutter and update onboarding snippets (#94848)
  static/app/components/onboarding/productSelection.tsx
  static/app/gettingStartedDocs/flutter/flutter.spec.tsx
  static/app/gettingStartedDocs/flutter/flutter.tsx
Due: biome, eslint, stylelint, prettier

chore(explore): Render all aggregate fields (#94797)
  static/app/components/profiling/suspectFunctions/suspectFunctionsTable.tsx
  static/app/utils/discover/eventView.tsx
  static/app/views/discover/utils.tsx
  static/app/views/explore/components/table.tsx
  static/app/views/explore/logs/tables/logsInfiniteTable.tsx
  static/app/views/explore/logs/tables/logsTable.tsx
  static/app/views/explore/multiQueryMode/queryVisualizations/table.tsx
  static/app/views/explore/tables/aggregatesTable.tsx
  static/app/views/explore/tables/spansTable.tsx
Due: biome, eslint, stylelint, prettier

fix(taskworker): Use local task registry isolated to test (#94863)
  tests/sentry/tasks/test_taskworker_rollout.py
Due: pyupgrade, isort, flake8, mypy, check-mypy-bypass

fix(taskworker) Add metric to see how long we wait
  src/sentry/taskworker/workerchild.py
Due: pyupgrade, isort, flake8, mypy, check-mypy-bypass

check in progress
  src/sentry/search/eap/spans/formulas.py
Due: pyupgrade, isort, flake8, mypy, check-mypy-bypass

fix(log-alert): Use correct query param in open in logs
  static/app/views/alerts/rules/utils.tsx
Due: biome, eslint, stylelint, prettier

adds empty state onboarding to mobile vitals
  static/app/views/insights/common/components/modulesOnboarding.tsx
  static/app/views/insights/common/queries/useHasFirstSpan.tsx
  static/app/views/insights/mobile/screens/settings.ts
  static/app/views/insights/mobile/screens/views/screensLandingPage.tsx
Due: biome, eslint, stylelint, prettier

fix(log-alert): Use correct query param in open in logs (#94865)
  static/app/views/alerts/rules/utils.tsx
Due: biome, eslint, stylelint, prettier

feat(ourlogs): Increase max allowed results in logs to 9999
  src/sentry/api/endpoints/organization_events.py
  src/sentry/api/endpoints/organization_trace_logs.py
Due: pyupgrade, isort, flake8, mypy, check-mypy-bypass

chore(profiling): bump vroomrs to 0.1.7
  requirements-base.txt
Due: lint-requirements

update
  static/app/views/insights/common/components/modulesOnboarding.tsx
Due: biome, eslint, stylelint, prettier

feat(explore): Allow separate sort bys in samples and aggregates (#94577)
  static/app/views/explore/contexts/pageParamsContext/aggregateSortBys.tsx
  static/app/views/explore/contexts/pageParamsContext/index.spec.tsx
  static/app/views/explore/contexts/pageParamsContext/index.tsx
  static/app/views/explore/contexts/pageParamsContext/sortBys.tsx
  static/app/views/explore/multiQueryMode/locationUtils.tsx
  static/app/views/explore/toolbar/index.spec.tsx
  static/app/views/explore/toolbar/index.tsx
  static/app/views/explore/toolbar/toolbarSortBy.tsx
  static/app/views/explore/utils.tsx
Due: biome, eslint, stylelint, prettier

fix(dashboards): Add debugging for errors in dashboards reordering
  src/sentry/api/endpoints/organization_dashboards_starred.py
  src/sentry/models/dashboard.py
Due: pyupgrade, isort, flake8, mypy, check-mypy-bypass

feat(ourlogs): Increase max allowed results in logs to 9999 (#94867)
  src/sentry/api/endpoints/organization_events.py
  src/sentry/api/endpoints/organization_trace_logs.py
Due: pyupgrade, isort, flake8, mypy, check-mypy-bypass

typing
  static/app/components/arithmeticBuilder/token/freeText.tsx
Due: biome, eslint, stylelint, prettier

feat(explore-suspect-attrs): Fixing knip error
  static/app/views/explore/hooks/useSuspectAttributes.tsx
Due: biome, eslint, stylelint, prettier

fix(dashboards): Add debugging for errors in dashboards reordering (#94871)
  src/sentry/api/endpoints/organization_dashboards_starred.py
  src/sentry/models/dashboard.py
Due: pyupgrade, isort, flake8, mypy, check-mypy-bypass

fix(issues): Prevent copy to clipboard from wrapping (#94839)
  static/app/views/issueDetails/streamline/eventTitle.tsx
Due: biome, eslint, stylelint, prettier

profiling: fix small overlapping on corner (#94616)
  static/app/views/performance/transactionSummary/transactionProfiles/content.tsx
  static/app/views/profiling/profileSummary/index.tsx
Due: biome, eslint, stylelint, prettier

Add some documentation
  static/app/views/explore/components/traceItemAttributes/attributesTree.tsx
Due: biome, eslint, stylelint, prettier

fix stories
  static/app/views/dashboards/widgets/tableWidget/tableWidgetVisualization.stories.tsx
  static/app/views/dashboards/widgets/tableWidget/tableWidgetVisualization.tsx
Due: biome, eslint, stylelint, prettier

feat(explore-suspect-attrs): Querying suspect attrs (#94842)
  static/app/views/explore/charts/index.tsx
  static/app/views/explore/components/suspectTags/drawer.tsx
  static/app/views/explore/components/suspectTags/floatingTrigger.tsx
  static/app/views/explore/hooks/useSuspectAttributes.tsx
Due: biome, eslint, stylelint, prettier

feat(explore): Persist toolbar collapsed state
  static/app/views/explore/spans/spansTab.tsx
Due: biome, eslint, stylelint, prettier

implement glob
  analyze-styled.txt
  scripts/analyze-styled.ts
Due: biome, eslint, stylelint, prettier

fix(explore): Chart always respect group bys
  static/app/views/explore/contexts/pageParamsContext/index.tsx
  static/app/views/explore/hooks/useExploreTimeseries.tsx
  static/app/views/explore/hooks/useTopEvents.tsx
Due: biome, eslint, stylelint, prettier

chore(profiling): bump vroomrs to 0.1.7 (#94868)
  requirements-base.txt
  requirements-dev-frozen.txt
  requirements-frozen.txt
Due: lint-requirements

:necktie: Update search bar to accept enableAISearch prop
  static/app/components/searchQueryBuilder/context.tsx
  static/app/components/searchQueryBuilder/index.tsx
Due: biome, eslint, stylelint, prettier

:necktie: Update to use enableAISearch from search builder context
  static/app/components/searchQueryBuilder/tokens/combobox.tsx
  static/app/components/searchQueryBuilder/tokens/filterKeyListBox/index.tsx
  static/app/components/searchQueryBuilder/tokens/filterKeyListBox/useFilterKeyListBox.tsx
  static/app/components/searchQueryBuilder/tokens/useSortedFilterKeyItems.tsx
Due: biome, eslint, stylelint, prettier
