Repository getsentry/sentry: changes, and which pre-commit hooks are due for each by the changed paths.
All: pyupgrade, black, isort, flake8, lint-requirements, pyright

.pre-commit-config.yaml:

exclude: >
    (?x)(
        LICENSE$|
        \.snap$|
        \.map$|
        \.map\.js$|
        ^src/sentry/static/sentry/vendor/|
        ^tests/sentry/lang/javascript/example-project/|
        ^src/.*/locale/|
        ^src/sentry/data/
    )

repos:
# Many of these hooks are local because people use a variety of IDEs
# with autoformatters that need to call out to things like `black` directly.
# pre-commit run is not the same, and something like pre-commit exec does
# not exist yet.
-   repo: local
    hooks:
    - id: pyupgrade
      name: pyupgrade
      entry: pyupgrade
      args: ['--py38-plus', '--keep-runtime-typing']
      language: system
      types: [python]
    # Configuration for black exists in pyproject.toml,
    # but we let pre-commit take care of the file filtering.
    - id: black
      name: black
      entry: black
      language: system
      types: [python]
      require_serial: true
    # Configuration for isort exists in pyproject.toml,
    # but we let pre-commit take care of the file filtering.
    - id: isort
      name: isort
      entry: isort
      language: system
      types: [python]
    # Configuration for flake8 exists in setup.cfg,
    # but we let pre-commit take care of the file filtering.
    - id: flake8
      name: flake8
      entry: flake8
      language: system
      types: [python]
      log_file: '.artifacts/flake8.pycodestyle.log'
    - id: lint-requirements
      name: lint-requirements
      entry: python -m tools.lint_requirements
      language: system
      files: requirements-frozen.txt
      pass_filenames: false
    - id: pyright
      name: pyright
      entry: pyright
      language: node
      files: ^src/
      types: [ python ]
      require_serial: true
      additional_dependencies: [ "pyright@1.1.186" ]
      args: [ '--project', 'pyrightconfig-commithook.json' ]

-   repo: https://github.com/python-jsonschema/check-jsonschema
    rev: 0.16.0
    hooks:
    - id: check-github-actions
    - id: check-github-workflows

-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.3.0
    hooks:
    - id: check-case-conflict
    - id: check-executables-have-shebangs
    - id: check-merge-conflict
    - id: check-symlinks
    - id: end-of-file-fixer
      exclude_types: [svg]
      exclude: ^fixtures/
    - id: trailing-whitespace
      exclude_types: [svg]
      exclude: ^(fixtures/|scripts/patches/)
    - id: debug-statements
    - id: name-tests-test
      args: [--pytest-test-first]

don't repeat code
  src/sentry/web/frontend/debug/debug_performance_issue.py
  src/sentry/web/frontend/debug/mail.py
Due: pyupgrade, black, isort, flake8, pyright

Unwrap useEffect cleanup
  static/app/components/groupPreviewTooltip/spanEvidencePreview.tsx
Due: none

Add explicit FAIL_ON_UNAVAILABLE_API_CALL=False where expected by test case
  tests/sentry/api/test_base.py
Due: pyupgrade, black, isort, flake8

share a commit example
  src/sentry/web/frontend/debug/mail.py
Due: pyupgrade, black, isort, flake8, pyright

test(js): Convert SelectCreatableField test to RTL (#40219)
  static/app/components/deprecatedforms/selectCreatableField.spec.jsx
  static/app/components/deprecatedforms/selectCreatableField.spec.tsx
Due: none

fix(perf-issues): Rename post_process_performance queue (ISP-12)
  src/sentry/conf/server.py
Due: pyupgrade, black, isort, flake8, pyright

put error issue specific stuff in error template
  src/sentry/templates/sentry/emails/error.html
  src/sentry/templates/sentry/emails/issue_alert_base.html
Due: none

make it easier to differentiate between error and performance issue alerts
  src/sentry/templates/sentry/debug/mail/preview.html
  src/sentry/web/debug_urls.py
Due: pyupgrade, black, isort, flake8, pyright

signal shutdown
  tests/sentry/eventstream/kafka/test_consumer.py
Due: pyupgrade, black, isort, flake8

group states was added here
  src/sentry/eventstream/kafka/consumer_strategy.py
Due: pyupgrade, black, isort, flake8, pyright

ref(ts): Extract FormProps to a type
  static/app/components/externalIssues/abstractExternalIssueForm.tsx
  static/app/components/forms/apiForm.tsx
  static/app/components/forms/form.tsx
  static/app/components/group/externalIssueForm.tsx
  static/app/components/integrationExternalMappingForm.tsx
  static/app/components/repositoryEditForm.tsx
  static/app/components/repositoryProjectPathConfigForm.tsx
  static/app/views/alerts/rules/issue/index.tsx
  static/app/views/alerts/rules/issue/ticketRuleModal.tsx
  static/app/views/alerts/rules/metric/ruleForm.tsx
  static/app/views/integrationPipeline/awsLambdaFunctionSelect.tsx
  static/app/views/monitors/monitorForm.tsx
  static/app/views/settings/account/accountDetails.tsx
  static/app/views/settings/account/accountEmails.tsx
  static/app/views/settings/account/accountSecurity/accountSecurityEnroll.tsx
  static/app/views/settings/account/passwordForm.tsx
  static/app/views/settings/organizationTeams/teamSettings/index.tsx
  static/app/views/settings/project/projectFilters/projectFiltersSettings.tsx
Due: none

feat(hybrid-cloud): Propagate last org's customer domain feature
  src/sentry/web/client_config.py
Due: pyupgrade, black, isort, flake8, pyright

add missing tests for enabled features
  tests/sentry/web/test_api.py
Due: pyupgrade, black, isort, flake8

fix(js): Remove `role="button"` From dropdown actor
  static/app/components/dropdownAutoComplete/index.tsx
Due: none

add customer domain feature test
  tests/sentry/web/test_api.py
Due: pyupgrade, black, isort, flake8

chore(cookies): Add config store test for CSRF and superuser cookie names
  static/app/stores/configStore.spec.tsx
Due: none

test(js): Convert teamProjects to RTL
  static/app/views/settings/organizationTeams/teamProjects.spec.jsx
Due: none

test(js): Convert ProjectReleaseTracking to RTL
  static/app/views/settings/project/projectReleaseTracking.spec.jsx
Due: none

ref(js): Convert OrganizationProjects to RTL
  static/app/views/settings/organizationProjects/index.spec.jsx
Due: none

test(js): Convert ProjectKeyDetails to RTL
  static/app/views/settings/project/projectKeys/details/index.spec.jsx
Due: none

chore(cookies): Add config store test for CSRF and superuser cookie names (#40228)
  static/app/stores/configStore.spec.tsx
Due: none

test(js): Convert ProjectReleaseTracking to RTL (#40231)
  static/app/views/settings/project/projectReleaseTracking.spec.jsx
Due: none

test(js): Convert TeamProjects to RTL (#40229)
  static/app/views/settings/organizationTeams/teamProjects.spec.jsx
Due: none

ref(js): Convert OrganizationProjects to RTL (#40230)
  static/app/views/settings/organizationProjects/index.spec.jsx
Due: none

ref(ts): Extract FormProps to a type (#40223)
  static/app/components/externalIssues/abstractExternalIssueForm.tsx
  static/app/components/forms/apiForm.tsx
  static/app/components/forms/form.tsx
  static/app/components/group/externalIssueForm.tsx
  static/app/components/integrationExternalMappingForm.tsx
  static/app/components/repositoryEditForm.tsx
  static/app/components/repositoryProjectPathConfigForm.tsx
  static/app/views/alerts/rules/issue/index.tsx
  static/app/views/alerts/rules/issue/ticketRuleModal.tsx
  static/app/views/alerts/rules/metric/ruleForm.tsx
  static/app/views/integrationPipeline/awsLambdaFunctionSelect.tsx
  static/app/views/monitors/monitorForm.tsx
  static/app/views/settings/account/accountDetails.tsx
  static/app/views/settings/account/accountEmails.tsx
  static/app/views/settings/account/accountSecurity/accountSecurityEnroll.tsx
  static/app/views/settings/account/passwordForm.tsx
  static/app/views/settings/organizationTeams/teamSettings/index.tsx
  static/app/views/settings/project/projectFilters/projectFiltersSettings.tsx
Due: none

feat(ui): Make BookmarkStar have optimistic visual update
  static/app/components/organizations/projectSelector/index.tsx
  static/app/components/projects/bookmarkStar.spec.tsx
  static/app/components/projects/bookmarkStar.tsx
  static/app/views/settings/components/settingsProjectItem.tsx
Due: none

style(js): Use udnerscores in getRateLimitValues for readability
  static/app/views/settings/organizationRateLimits/organizationRateLimits.tsx
Due: none

test(js): Convert OrganizationRateLimits to RTL
  static/app/views/settings/organizationRateLimits/organizationRateLimits.spec.jsx
Due: none

ref(ui): Use unicode escape for rate limit max label emdash
  static/app/views/settings/organizationRateLimits/organizationRateLimits.tsx
Due: none

ref(js): Convert Form to a FC
  static/app/components/forms/form.tsx
Due: none

test(js): Convert OrganizationApiKeys
  static/app/views/settings/organizationApiKeys/index.spec.jsx
Due: none

test(js): Convert ProjectPerformance settings to RTL
  static/app/views/settings/projectPerformance/projectPerformance.spec.jsx
Due: none

feat(ui): Add beta badge to shared Performance Issues
  static/app/views/sharedGroupDetails/sharedGroupHeader.tsx
Due: none

fix(sessions): Add test for edge case
  tests/sentry/release_health/test_metrics_sessions_v2.py
Due: pyupgrade, black, isort, flake8
