Repository getsentry/sentry: changes, and which pre-commit hooks are due for each by the changed paths.
All: pyupgrade, isort, flake8, mypy, lint-requirements, requirements-overrides, check-mypy-bypass, sort-stronger-mypy-list, check-mypy-stronglist, biome, eslint, stylelint, prettier

pyupgrade:
  name: pyupgrade
  entry: pyupgrade
  args:
  - --py311-plus
  language: system

isort:
  name: isort
  entry: isort
  language: system

flake8:
  name: flake8
  entry: flake8
  language: system
  log_file: .artifacts/flake8.pycodestyle.log

mypy:
  name: mypy
  entry: bash -c 'if [ -n "${SENTRY_MYPY_PRE_PUSH:-}" ]; then exec mypy "$@"; fi' --
  language: system
  stages:
  - pre-push
  require_serial: true

lint-requirements:
  name: lint-requirements
  entry: python -m tools.lint_requirements
  language: python
  additional_dependencies:
  - packaging==21.3

requirements-overrides:
  name: use pinned archives (see comment in file)
  stages:
  - commit
  language: pygrep
  entry: '(?x)
  
    ^
  
    # it''s a comment line
  
    (?!\#.*$)
  
    # it''s a blank line
  
    (?!$)
  
    # it''s a pinned archive
  
    (?![a-z-]+[ ]@[ ]https://github\.com/getsentry/[^/]+/archive/[a-f0-9]{40}\.zip$)
  
    '

check-mypy-bypass:
  name: do not bypass the type checker
  entry: '(^# *mypy: *ignore-errors|^# *type: *ignore|\bno_type_check\b)'
  language: pygrep

sort-stronger-mypy-list:
  name: sort stronger mypy list
  entry: python3 -m tools.mypy_helpers.sort_stronger_modules
  language: python

check-mypy-stronglist:
  name: check mypy stronglist
  entry: python3 -m tools.mypy_helpers.check_stronglist
  language: python

biome:
  name: biome (javascript, typescript, json)
  language: system
  entry: ./node_modules/.bin/biome check --log-level=error --write --files-ignore-unknown=true --no-errors-on-unmatched

eslint:
  name: eslint
  language: system
  entry: ./node_modules/.bin/eslint --quiet --fix

stylelint:
  name: stylelint
  language: system
  entry: ./node_modules/.bin/stylelint --quiet

prettier:
  name: prettier (yaml, markdown, ts, tsx, js, jsx, css)
  language: system
  entry: ./node_modules/.bin/prettier --log-level=error --write

feat(insights): Adds alerts to insights webvitals module charts. (#77268)
  static/app/views/alerts/rules/metric/utils/isInsightsMetricAlert.tsx
  static/app/views/insights/browser/webVitals/alerts.ts
  static/app/views/insights/browser/webVitals/components/charts/performanceScoreBreakdownChart.tsx
  static/app/views/insights/browser/webVitals/views/pageOverview.tsx
Due: biome, eslint, stylelint, prettier

chore(deletions) Move RuleFireHistory to model deletions (#77289)
  src/sentry/deletions/__init__.py
  src/sentry/deletions/defaults/__init__.py
  src/sentry/deletions/defaults/rulefirehistory.py
  src/sentry/runner/commands/cleanup.py
  tests/sentry/deletions/test_rulefirehistory.py
Due: pyupgrade, isort, flake8, mypy, check-mypy-bypass

feat(issue-details): Add graph to streamlined issue details UI (#77035)
  static/app/views/issueDetails/groupEvents.tsx
  static/app/views/issueDetails/streamline/eventDetails.spec.tsx
  static/app/views/issueDetails/streamline/eventDetails.tsx
  static/app/views/issueDetails/streamline/eventGraph.spec.tsx
  static/app/views/issueDetails/streamline/eventGraph.tsx
  static/app/views/issueDetails/streamline/eventNavigation.tsx
  static/app/views/issueDetails/streamline/eventSearch.spec.tsx
  static/app/views/issueDetails/streamline/eventSearch.tsx
  static/app/views/issueDetails/streamline/useFetchEvents.tsx
  tests/js/sentry-test/reactTestingLibrary.tsx
Due: biome, eslint, stylelint, prettier

ref: fix CheckCondition check= warnings
  pyproject.toml
  requirements-dev-frozen.txt
  requirements-dev.txt
  src/sentry/db/models/base.py
  src/sentry/integrations/models/external_actor.py
  src/sentry/migrations/0001_squashed_0484_break_org_member_user_fk.py
  src/sentry/migrations/0530_new_notification_tables.py
  src/sentry/migrations/0543_add_team_id_to_groupsubscription.py
  src/sentry/migrations/0549_re_add_groupsubscription_columns.py
  src/sentry/migrations/0551_drop_xactor_actor.py
  src/sentry/migrations/0612_expand_relocation_model.py
  src/sentry/migrations/0646_create_notification_message_table.py
  src/sentry/migrations/0695_add_monitors_ownership_owner_user_id_team_id.py
  src/sentry/migrations/0703_add_team_user_to_rule.py
  src/sentry/models/groupsubscription.py
  src/sentry/models/notificationmessage.py
  src/sentry/models/notificationsettingoption.py
  src/sentry/models/notificationsettingprovider.py
  src/sentry/models/relocation.py
  src/sentry/models/rule.py
  src/sentry/models/rulesnooze.py
  src/sentry/monitors/models.py
Due: pyupgrade, isort, flake8, mypy, lint-requirements, check-mypy-bypass, sort-stronger-mypy-list, check-mypy-stronglist

chore: don't send parse errors to sentry when splitting
  src/sentry/api/endpoints/organization_events.py
Due: pyupgrade, isort, flake8, mypy, check-mypy-bypass

feat(explore): Go to eap spans for timeseries
  static/app/views/explore/charts/index.tsx
  static/app/views/insights/common/queries/useDiscoverSeries.ts
Due: biome, eslint, stylelint, prettier

test
  .vscode/settings.json
  package.json
  scripts/test.js
  static/app/views/userFeedback/userFeedbackEmpty.tsx
Due: biome, eslint, stylelint, prettier

switch eap spans to be default
  static/app/views/explore/hooks/useDataset.tsx
  static/app/views/explore/toolbar/toolbarDataset.tsx
Due: biome, eslint, stylelint, prettier

fix(replay): Move timeline grid-column to style tag
  static/app/components/replays/breadcrumbs/replayTimelineEvents.tsx
Due: biome, eslint, stylelint, prettier

fix(issues): Hide device context for non-mobile (#77292)
  static/app/components/events/highlights/highlightsIconSummary.spec.tsx
  static/app/components/events/highlights/highlightsIconSummary.tsx
  static/app/utils/platform.tsx
Due: biome, eslint, stylelint, prettier

feat(uptime): Add rdap query utilities (#77221)
  src/sentry/uptime/detectors/rdap.py
  tests/sentry/uptime/detectors/test_rdap.py
Due: pyupgrade, isort, flake8, mypy, check-mypy-bypass

feat(explore): Go to eap spans for timeseries (#77339)
  static/app/views/explore/charts/index.tsx
  static/app/views/explore/hooks/useDataset.tsx
  static/app/views/explore/toolbar/toolbarDataset.tsx
  static/app/views/insights/common/queries/useDiscoverSeries.ts
Due: biome, eslint, stylelint, prettier

ref(uptime): Add missing annotation on resolve_rdap_network_details
  src/sentry/uptime/detectors/rdap.py
Due: pyupgrade, isort, flake8, mypy, check-mypy-bypass

Fixes alerts serializer failing for some insights functions with special arguments
  src/sentry/incidents/logic.py
  tests/sentry/incidents/endpoints/test_serializers.py
Due: pyupgrade, isort, flake8, mypy, check-mypy-bypass

fix(dashboards): Prevent Big Number rendering error if a description is present (#77313)
  static/app/views/dashboards/widgetBuilder/buildSteps/visualizationStep.tsx
Due: biome, eslint, stylelint, prettier

fix(rr6): Allow empty handle object
  static/app/utils/useRoutes.tsx
Due: biome, eslint, stylelint, prettier

type check
  src/sentry/incidents/logic.py
Due: pyupgrade, isort, flake8, mypy, check-mypy-bypass

support adding filters to action and domain selector components
  static/app/views/insights/common/views/spans/selectors/actionSelector.tsx
  static/app/views/insights/common/views/spans/selectors/domainSelector.tsx
  static/app/views/insights/database/components/databaseSystemSelector.tsx
Due: biome, eslint, stylelint, prettier

fix(uptime): Correct comment of url_domain_suffix
  src/sentry/uptime/models.py
Due: pyupgrade, isort, flake8, mypy, check-mypy-bypass

fix(spans): Bugs with the hacky weighted functions
  src/sentry/search/events/datasets/spans_indexed.py
  tests/snuba/api/endpoints/test_organization_events_span_indexed.py
Due: pyupgrade, isort, flake8, mypy, check-mypy-bypass

ref: fix CheckCondition check= warnings (#77312)
  pyproject.toml
  requirements-dev-frozen.txt
  requirements-dev.txt
  src/sentry/db/models/base.py
  src/sentry/integrations/models/external_actor.py
  src/sentry/migrations/0001_squashed_0484_break_org_member_user_fk.py
  src/sentry/migrations/0530_new_notification_tables.py
  src/sentry/migrations/0543_add_team_id_to_groupsubscription.py
  src/sentry/migrations/0549_re_add_groupsubscription_columns.py
  src/sentry/migrations/0551_drop_xactor_actor.py
  src/sentry/migrations/0612_expand_relocation_model.py
  src/sentry/migrations/0646_create_notification_message_table.py
  src/sentry/migrations/0695_add_monitors_ownership_owner_user_id_team_id.py
  src/sentry/migrations/0703_add_team_user_to_rule.py
  src/sentry/models/groupsubscription.py
  src/sentry/models/notificationmessage.py
  src/sentry/models/notificationsettingoption.py
  src/sentry/models/notificationsettingprovider.py
  src/sentry/models/relocation.py
  src/sentry/models/rule.py
  src/sentry/models/rulesnooze.py
  src/sentry/monitors/models.py
Due: pyupgrade, isort, flake8, mypy, lint-requirements, check-mypy-bypass, sort-stronger-mypy-list, check-mypy-stronglist

bring back that file
  static/app/views/insights/database/components/databasePageFilters.tsx
Due: biome, eslint, stylelint, prettier

fix(uptime): KeyError: "Attempt to overwrite 'name' in LogRecord"
  src/sentry/uptime/detectors/rdap.py
Due: pyupgrade, isort, flake8, mypy, check-mypy-bypass

fix(insights): Queries module page filters did not include `span.system`
  static/app/views/insights/common/views/spans/selectors/actionSelector.tsx
  static/app/views/insights/common/views/spans/selectors/domainSelector.tsx
  static/app/views/insights/database/components/databasePageFilters.tsx
  static/app/views/insights/database/components/databaseSystemSelector.tsx
Due: biome, eslint, stylelint, prettier

allow querying for user.geo.subregion
  src/sentry/search/events/constants.py
Due: pyupgrade, isort, flake8, mypy, check-mypy-bypass

fix(rr6): Allow empty handle object (#77345)
  static/app/utils/useRoutes.tsx
Due: biome, eslint, stylelint, prettier

remove metrics from valid anomaly detection types
  static/app/views/alerts/rules/metric/thresholdTypeForm.tsx
Due: biome, eslint, stylelint, prettier

chore: don't send malformed query errors to sentry when splitting (#77337)
  src/sentry/api/endpoints/organization_events.py
Due: pyupgrade, isort, flake8, mypy, check-mypy-bypass

use undefined instead of null so params are removed
  static/app/views/insights/database/components/databaseSystemSelector.tsx
Due: biome, eslint, stylelint, prettier

chore(anomaly detection): remove metrics from valid anomaly detection types (#77351)
  static/app/views/alerts/rules/metric/thresholdTypeForm.tsx
Due: biome, eslint, stylelint, prettier

Path conditions:
  pyupgrade: any of: \.py$, but not: (?x)(
    LICENSE.md$|
    \.snap$|
    \.map$|
    \.map\.js$|
    ^src/sentry/static/sentry/vendor/|
    ^src/.*/locale/|
    ^src/sentry/data/
)

  isort: any of: \.py$, but not: (?x)(
    LICENSE.md$|
    \.snap$|
    \.map$|
    \.map\.js$|
    ^src/sentry/static/sentry/vendor/|
    ^src/.*/locale/|
    ^src/sentry/data/
)

  flake8: any of: \.py$, but not: (?x)(
    LICENSE.md$|
    \.snap$|
    \.map$|
    \.map\.js$|
    ^src/sentry/static/sentry/vendor/|
    ^src/.*/locale/|
    ^src/sentry/data/
)

  mypy: any of: \.py$, but not: (?x)(
    LICENSE.md$|
    \.snap$|
    \.map$|
    \.map\.js$|
    ^src/sentry/static/sentry/vendor/|
    ^src/.*/locale/|
    ^src/sentry/data/
)

  lint-requirements: any of: requirements-.*\.txt$ and not (^requirements-getsentry-overrides\.txt$) and not ((?x)(
    LICENSE.md$|
    \.snap$|
    \.map$|
    \.map\.js$|
    ^src/sentry/static/sentry/vendor/|
    ^src/.*/locale/|
    ^src/sentry/data/
)
)
  requirements-overrides: any of: ^requirements-getsentry-overrides\.txt$, but not: (?x)(
    LICENSE.md$|
    \.snap$|
    \.map$|
    \.map\.js$|
    ^src/sentry/static/sentry/vendor/|
    ^src/.*/locale/|
    ^src/sentry/data/
)

  check-mypy-bypass: any of: \.py$, but not: (?x)(
    LICENSE.md$|
    \.snap$|
    \.map$|
    \.map\.js$|
    ^src/sentry/static/sentry/vendor/|
    ^src/.*/locale/|
    ^src/sentry/data/
)

  sort-stronger-mypy-list: any of: ^pyproject\.toml$, but not: (?x)(
    LICENSE.md$|
    \.snap$|
    \.map$|
    \.map\.js$|
    ^src/sentry/static/sentry/vendor/|
    ^src/.*/locale/|
    ^src/sentry/data/
)

  check-mypy-stronglist: any of: ^pyproject\.toml$, but not: (?x)(
    LICENSE.md$|
    \.snap$|
    \.map$|
    \.map\.js$|
    ^src/sentry/static/sentry/vendor/|
    ^src/.*/locale/|
    ^src/sentry/data/
)

  biome: any of: \.(jsx?|tsx?|css)$, but not: (?x)(
    LICENSE.md$|
    \.snap$|
    \.map$|
    \.map\.js$|
    ^src/sentry/static/sentry/vendor/|
    ^src/.*/locale/|
    ^src/sentry/data/
)

  eslint: any of: \.[jt]sx?$, but not: (?x)(
    LICENSE.md$|
    \.snap$|
    \.map$|
    \.map\.js$|
    ^src/sentry/static/sentry/vendor/|
    ^src/.*/locale/|
    ^src/sentry/data/
)

  stylelint: any of: \.[jt]sx?$, but not: (?x)(
    LICENSE.md$|
    \.snap$|
    \.map$|
    \.map\.js$|
    ^src/sentry/static/sentry/vendor/|
    ^src/.*/locale/|
    ^src/sentry/data/
)

  prettier: any of: \.(yaml|yml)$, \.(md|markdown|mdown)$, \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.css$ and not ((?x)^($^
  # prettier crashes on some of these, by intent:
  |fixtures/.*
  # these have enormous diffs when formatted:
  |api-docs/paths/events/issue-hashes\.json
  |api-docs/paths/events/latest-event\.json
  |api-docs/paths/events/oldest-event\.json
  |api-docs/paths/events/project-event-details\.json
  |src/sentry/issues/event\.schema\.json
  |static/app/data/world\.json
  |static/app/utils/profiling/profile/formats/android/trace\.json
  |static/app/utils/profiling/profile/formats/ios/trace\.json
  |static/app/utils/profiling/profile/formats/node/trace\.json
  |static/app/utils/profiling/profile/formats/typescript/trace\.json
)$
) and not ((?x)(
    LICENSE.md$|
    \.snap$|
    \.map$|
    \.map\.js$|
    ^src/sentry/static/sentry/vendor/|
    ^src/.*/locale/|
    ^src/sentry/data/
)
)
