Repository getsentry/sentry: changes, and which pre-commit hooks are due for each by the changed paths.
All: pyupgrade, isort, flake8, mypy, lint-requirements, requirements-overrides, check-mypy-bypass, sort-stronger-mypy-list, check-mypy-stronglist, biome, eslint, stylelint, prettier

pyupgrade:
  name: pyupgrade
  entry: pyupgrade
  args:
  - --py312-plus
  language: system

isort:
  name: isort
  entry: isort
  language: system

flake8:
  name: flake8
  entry: flake8
  language: system
  log_file: .artifacts/flake8.pycodestyle.log

mypy:
  name: mypy
  entry: bash -c 'if [ -n "${SENTRY_MYPY_PRE_PUSH:-}" ]; then exec mypy "$@"; fi' --
  language: system
  stages:
  - pre-push
  require_serial: true

lint-requirements:
  name: lint-requirements
  entry: python -m tools.lint_requirements
  language: python
  additional_dependencies:
  - packaging==24.1

requirements-overrides:
  name: use pinned archives (see comment in file)
  stages:
  - pre-commit
  language: pygrep
  entry: '(?x)
  
    ^
  
    # it''s a comment line
  
    (?!\#.*$)
  
    # it''s a blank line
  
    (?!$)
  
    # it''s a pinned archive
  
    (?![a-z-]+[ ]@[ ]https://github\.com/getsentry/[^/]+/archive/[a-f0-9]{40}\.zip$)
  
    '

check-mypy-bypass:
  name: do not bypass the type checker
  entry: '(^# *mypy: *ignore-errors|^# *type: *ignore|\bno_type_check\b)'
  language: pygrep

sort-stronger-mypy-list:
  name: sort stronger mypy list
  entry: python3 -m tools.mypy_helpers.sort_stronger_modules
  language: python

check-mypy-stronglist:
  name: check mypy stronglist
  entry: python3 -m tools.mypy_helpers.check_stronglist
  language: python

biome:
  name: biome (javascript, typescript, json)
  language: system
  entry: ./node_modules/.bin/biome check --log-level=error --write --files-ignore-unknown=true --no-errors-on-unmatched

eslint:
  name: eslint
  language: system
  entry: ./node_modules/.bin/eslint --quiet --fix

stylelint:
  name: stylelint
  language: system
  entry: ./node_modules/.bin/stylelint --quiet

prettier:
  name: prettier (yaml, markdown, ts, tsx, js, jsx, css)
  language: system
  entry: ./node_modules/.bin/prettier --log-level=error --write

deps(js): upgrade Sentry JS SDKs to 10.11.0 (#99322)
  package.json
  pnpm-lock.yaml
Due: prettier

adds option to always allow running seer automation on group type
  src/sentry/issues/grouptype.py
  src/sentry/seer/autofix/issue_summary.py
  src/sentry/tasks/post_process.py
Due: pyupgrade, isort, flake8, mypy, check-mypy-bypass

fix(eap): Handle invalid operators (#99320)
  src/sentry/search/eap/resolver.py
Due: pyupgrade, isort, flake8, mypy, check-mypy-bypass

address comments + fix logic
  src/sentry/discover/translation/mep_to_eap.py
  src/sentry/explore/translation/discover_translation.py
  tests/sentry/discover/translation/test_mep_to_eap.py
  tests/sentry/explore/translation/test_discover_translation.py
Due: pyupgrade, isort, flake8, mypy, check-mypy-bypass

add light mode img
  static/app/views/codecov/ai/ai.tsx
  static/app/views/codecov/ai/onboarding.tsx
  static/images/codecov/Prevent-AI-img-light-mode.png
Due: biome, eslint, stylelint, prettier

ref(feedback): update small screen ui V2 (#99229)
  static/app/components/feedback/feedbackItem/feedbackItem.tsx
  static/app/components/feedback/feedbackItem/feedbackItemHeader.tsx
  static/app/components/feedback/feedbackItem/feedbackItemLoader.tsx
  static/app/components/feedback/list/feedbackList.tsx
  static/app/components/feedback/list/feedbackListItem.tsx
  static/app/components/infiniteList/infiniteListItems.tsx
  static/app/views/feedback/feedbackListPage.tsx
Due: biome, eslint, stylelint, prettier

fix(ourlogs): Replay id needs an alias (#99321)
  src/sentry/search/eap/ourlogs/attributes.py
Due: pyupgrade, isort, flake8, mypy, check-mypy-bypass

fix(replays): Adjust grid layout to use full width like issueList (#99230)
  static/app/views/replays/list.tsx
Due: biome, eslint, stylelint, prettier

Update changes
  src/sentry/deletions/defaults/project.py
  src/sentry/utils/sql_debug.py
  tests/sentry/utils/test_snuba.py
Due: pyupgrade, isort, flake8, mypy, check-mypy-bypass

Remove file
  tests/sentry/deletions/tasks/test_nodestore.py
Due: pyupgrade, isort, flake8, mypy, check-mypy-bypass

fix(top-events): Handle arrays with ints
  src/sentry/snuba/discover.py
  tests/snuba/api/endpoints/test_organization_events_stats.py
Due: pyupgrade, isort, flake8, mypy, check-mypy-bypass

fix(ourlogs): Trace logs should accept sort
  src/sentry/api/endpoints/organization_trace_logs.py
  tests/snuba/api/endpoints/test_organization_trace_logs.py
Due: pyupgrade, isort, flake8, mypy, check-mypy-bypass

fix(replays): Adjust grid layout to use full width like issueList (#99327)
  static/app/views/replays/list.tsx
Due: biome, eslint, stylelint, prettier

remove wildcard ops if flag is false
  static/app/components/searchQueryBuilder/tokens/filter/utils.tsx
Due: biome, eslint, stylelint, prettier

Change tables
  tests/sentry/deletions/test_project.py
Due: pyupgrade, isort, flake8, mypy, check-mypy-bypass

try splitting out
  src/sentry/api/serializers/models/release.py
Due: pyupgrade, isort, flake8, mypy, check-mypy-bypass

handle equation translation in discover
  src/sentry/discover/translation/mep_to_eap.py
  src/sentry/explore/translation/discover_translation.py
  tests/sentry/discover/translation/test_mep_to_eap.py
Due: pyupgrade, isort, flake8, mypy, check-mypy-bypass

test
  tests/sentry/seer/autofix/test_issue_summary.py
Due: pyupgrade, isort, flake8, mypy, check-mypy-bypass

fix(tasks) Replace usage_accountant with metrics
  src/sentry/taskworker/workerchild.py
  tests/sentry/taskworker/test_worker.py
Due: pyupgrade, isort, flake8, mypy, check-mypy-bypass

fix(search-bar): Wildcard op flag not working (#99329)
  static/app/components/searchQueryBuilder/tokens/filter/utils.tsx
Due: biome, eslint, stylelint, prettier

feat(checkout v3): Introduce SubscriptionSettingsLayout
  static/app/routes.tsx
  static/app/types/hooks.tsx
  static/gsApp/components/subscriptionSettingsLayout.tsx
  static/gsApp/hooks/subscriptionSettingsRoutes.tsx
  static/gsApp/registerHooks.tsx
  static/gsApp/utils/billing.tsx
  static/gsApp/views/amCheckout/index.tsx
  static/gsApp/views/amCheckout/utils.tsx
  static/gsApp/views/decideCheckout.tsx
  static/gsApp/views/subscriptionPage/headerCards/subscriptionCard.tsx
  static/gsApp/views/subscriptionPage/headerCards/usageCard.tsx
Due: biome, eslint, stylelint, prettier

fix(stories): add acronym
  static/app/stories/view/landing/acronym.tsx
  static/app/stories/view/landing/index.tsx
Due: biome, eslint, stylelint, prettier

fix(replay): allow replay deletion if org only has 1 project
  static/app/components/replays/table/deleteReplays.tsx
Due: biome, eslint, stylelint, prettier

feat(coding-agents): Cursor Background Agents integration (#99077)
  src/sentry/conf/server.py
  src/sentry/features/temporary.py
  src/sentry/integrations/coding_agent/client.py
  src/sentry/integrations/coding_agent/models.py
  src/sentry/integrations/cursor/__init__.py
  src/sentry/integrations/cursor/client.py
  src/sentry/integrations/cursor/integration.py
  src/sentry/integrations/cursor/models.py
  src/sentry/templates/sentry/integrations/cursor-config.html
  tests/sentry/integrations/api/endpoints/test_organization_coding_agents.py
  tests/sentry/integrations/coding_agent/test_base.py
  tests/sentry/integrations/cursor/__init__.py
  tests/sentry/integrations/cursor/test_client.py
  tests/sentry/integrations/cursor/test_integration.py
Due: pyupgrade, isort, flake8, mypy, check-mypy-bypass

:recycle: update proj
  static/app/components/replays/table/deleteReplays.tsx
Due: biome, eslint, stylelint, prettier

feat: add functionality to sync hook and to the button
  static/app/components/prevent/repoSelector/repoSelector.tsx
  static/app/components/prevent/repoSelector/useSyncRepos.tsx
  static/app/views/prevent/tests/config.tsx
Due: biome, eslint, stylelint, prettier

fix(prevent-ai): Add onboarding page light mode image (#99270)
  static/app/views/prevent/preventAI/onboarding.spec.tsx
  static/app/views/prevent/preventAI/onboarding.tsx
  static/images/features/prevent-pr-comments-dark.png
  static/images/features/prevent-pr-comments-light.png
Due: biome, eslint, stylelint, prettier

summary tests
  static/app/components/feedback/feedbackItem/feedbackItemUsername.spec.tsx
Due: biome, eslint, stylelint, prettier

move padding to children
  static/gsApp/components/subscriptionSettingsLayout.tsx
  static/gsApp/views/subscriptionPage/billingDetails.tsx
  static/gsApp/views/subscriptionPage/notifications.tsx
  static/gsApp/views/subscriptionPage/overview.tsx
  static/gsApp/views/subscriptionPage/paymentHistory.tsx
  static/gsApp/views/subscriptionPage/usageHistory.tsx
  static/gsApp/views/subscriptionPage/usageLog.tsx
Due: biome, eslint, stylelint, prettier

cursor agent webhook
  src/sentry/integrations/coding_agent/integration.py
  src/sentry/integrations/cursor/urls.py
  src/sentry/integrations/cursor/webhooks/__init__.py
  src/sentry/integrations/cursor/webhooks/handler.py
  src/sentry/web/urls.py
Due: pyupgrade, isort, flake8, mypy, check-mypy-bypass

cursor webhook doesn't need a parser
  tests/sentry/middleware/integrations/test_parsers_defined.py
Due: pyupgrade, isort, flake8, mypy, check-mypy-bypass

bot review feedback, branch name
  src/sentry/integrations/cursor/webhooks/handler.py
  tests/sentry/integrations/cursor/test_webhook.py
Due: pyupgrade, isort, flake8, mypy, check-mypy-bypass

Path conditions:
  pyupgrade: any of: \.py$, but not: (?x)(
    LICENSE.md$|
    \.snap$|
    \.map$|
    \.map\.js$|
    ^src/sentry/static/sentry/vendor/|
    ^src/.*/locale/|
    ^src/sentry/data/
)

  isort: any of: \.py$, but not: (?x)(
    LICENSE.md$|
    \.snap$|
    \.map$|
    \.map\.js$|
    ^src/sentry/static/sentry/vendor/|
    ^src/.*/locale/|
    ^src/sentry/data/
)

  flake8: any of: \.py$, but not: (?x)(
    LICENSE.md$|
    \.snap$|
    \.map$|
    \.map\.js$|
    ^src/sentry/static/sentry/vendor/|
    ^src/.*/locale/|
    ^src/sentry/data/
)

  mypy: any of: \.py$, but not: (?x)(
    LICENSE.md$|
    \.snap$|
    \.map$|
    \.map\.js$|
    ^src/sentry/static/sentry/vendor/|
    ^src/.*/locale/|
    ^src/sentry/data/
)

  lint-requirements: any of: requirements-.*\.txt$ and not (^requirements-getsentry-overrides\.txt$) and not ((?x)(
    LICENSE.md$|
    \.snap$|
    \.map$|
    \.map\.js$|
    ^src/sentry/static/sentry/vendor/|
    ^src/.*/locale/|
    ^src/sentry/data/
)
)
  requirements-overrides: any of: ^requirements-getsentry-overrides\.txt$, but not: (?x)(
    LICENSE.md$|
    \.snap$|
    \.map$|
    \.map\.js$|
    ^src/sentry/static/sentry/vendor/|
    ^src/.*/locale/|
    ^src/sentry/data/
)

  check-mypy-bypass: any of: \.py$, but not: (?x)(
    LICENSE.md$|
    \.snap$|
    \.map$|
    \.map\.js$|
    ^src/sentry/static/sentry/vendor/|
    ^src/.*/locale/|
    ^src/sentry/data/
)

  sort-stronger-mypy-list: any of: ^pyproject\.toml$, but not: (?x)(
    LICENSE.md$|
    \.snap$|
    \.map$|
    \.map\.js$|
    ^src/sentry/static/sentry/vendor/|
    ^src/.*/locale/|
    ^src/sentry/data/
)

  check-mypy-stronglist: any of: ^pyproject\.toml$, but not: (?x)(
    LICENSE.md$|
    \.snap$|
    \.map$|
    \.map\.js$|
    ^src/sentry/static/sentry/vendor/|
    ^src/.*/locale/|
    ^src/sentry/data/
)

  biome: any of: \.(jsx?|tsx?|css)$, but not: (?x)(
    LICENSE.md$|
    \.snap$|
    \.map$|
    \.map\.js$|
    ^src/sentry/static/sentry/vendor/|
    ^src/.*/locale/|
    ^src/sentry/data/
)

  eslint: any of: \.(ts|js|tsx|jsx|mjs)$, but not: (?x)(
    LICENSE.md$|
    \.snap$|
    \.map$|
    \.map\.js$|
    ^src/sentry/static/sentry/vendor/|
    ^src/.*/locale/|
    ^src/sentry/data/
)

  stylelint: any of: \.[jt]sx?$, but not: (?x)(
    LICENSE.md$|
    \.snap$|
    \.map$|
    \.map\.js$|
    ^src/sentry/static/sentry/vendor/|
    ^src/.*/locale/|
    ^src/sentry/data/
)

  prettier: any of: \.(yaml|yml)$, \.(md|markdown|mdown)$, \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.css$ and not ((?x)^($^
  # prettier crashes on some of these, by intent:
  |fixtures/.*
  # these have enormous diffs when formatted:
  |api-docs/paths/events/issue-hashes\.json
  |api-docs/paths/events/latest-event\.json
  |api-docs/paths/events/oldest-event\.json
  |api-docs/paths/events/project-event-details\.json
  |src/sentry/issues/event\.schema\.json
  |static/app/data/world\.json
  |static/app/utils/profiling/profile/formats/android/trace\.json
  |static/app/utils/profiling/profile/formats/ios/trace\.json
  |static/app/utils/profiling/profile/formats/node/trace\.json
  |static/app/utils/profiling/profile/formats/typescript/trace\.json
)$
) and not ((?x)(
    LICENSE.md$|
    \.snap$|
    \.map$|
    \.map\.js$|
    ^src/sentry/static/sentry/vendor/|
    ^src/.*/locale/|
    ^src/sentry/data/
)
)
