Repository getsentry/sentry: changes, and which pre-commit hooks are due for each by the changed paths.
All: pyupgrade, black, isort, flake8, lint-requirements, pyright

pyupgrade:
  name: pyupgrade
  entry: pyupgrade
  args:
  - --py38-plus
  - --keep-runtime-typing
  language: system

black:
  name: black
  entry: black
  language: system
  require_serial: true

isort:
  name: isort
  entry: isort
  language: system

flake8:
  name: flake8
  entry: flake8
  language: system
  log_file: .artifacts/flake8.pycodestyle.log

lint-requirements:
  name: lint-requirements
  entry: python -m tools.lint_requirements
  language: system
  pass_filenames: false

pyright:
  name: pyright
  entry: pyright
  language: node
  require_serial: true
  additional_dependencies:
  - pyright@1.1.186
  args:
  - --project
  - pyrightconfig-commithook.json

fix(replays): updated border color
  static/app/views/replays/detail/domMutations/index.tsx
Due: none

Remove a skipped test
  tests/sentry/incidents/endpoints/test_project_alert_rule_details.py
Due: pyupgrade, black, isort, flake8

feat(auditlog): Remove versioning from endpoint (#37301)
  src/sentry/api/endpoints/organization_auditlogs.py
  tests/sentry/api/endpoints/test_organization_auditlogs.py
Due: pyupgrade, black, isort, flake8, pyright

fix(discover): user_misery denominator
  src/sentry/search/events/datasets/discover.py
  tests/snuba/api/endpoints/test_organization_events.py
Due: pyupgrade, black, isort, flake8, pyright

feat(active-release): separate out active release notification away from issue alerts (#37323)
  src/sentry/analytics/events/active_release_notification_sent.py
  src/sentry/api/endpoints/project_agnostic_rule_conditions.py
  src/sentry/api/endpoints/project_rules_configuration.py
  src/sentry/conf/server.py
  src/sentry/features/__init__.py
  src/sentry/integrations/slack/message_builder/issues.py
  src/sentry/mail/actions.py
  src/sentry/mail/adapter.py
  src/sentry/mail/notifications.py
  src/sentry/notifications/notifications/active_release.py
  src/sentry/notifications/notifications/rules.py
  src/sentry/notifications/utils/participants.py
  src/sentry/plugins/bases/notify.py
  src/sentry/rules/processor.py
  tests/sentry/integrations/slack/notifications/test_active_release.py
  tests/sentry/integrations/slack/test_message_builder.py
  tests/sentry/mail/test_adapter.py
  tests/sentry/rules/test_processor.py
Due: pyupgrade, black, isort, flake8, pyright

fix(dashboard-filters): Fix manage page params not triggering redirect (#37371)
  static/app/views/dashboardsV2/orgDashboards.tsx
  tests/js/spec/views/dashboardsV2/orgDashboards.spec.tsx
Due: none

Fixup the frontend to talk to the new backend
  static/app/utils/replays/hooks/useReplayData.tsx
  static/app/utils/replays/replayDataUtils.tsx
  static/app/utils/replays/replayReader.tsx
  static/app/views/replays/types.tsx
Due: none

RFC: Split up errors/transactions eventstream
  src/sentry/conf/server.py
  src/sentry/event_manager.py
  src/sentry/eventstream/__init__.py
  src/sentry/eventstream/abstract.py
  src/sentry/eventstream/backends/__init__.py
  src/sentry/eventstream/backends/kafka.py
  src/sentry/eventstream/backends/snuba.py
  src/sentry/eventstream/errors/__init__.py
  src/sentry/eventstream/errors/backend.py
  src/sentry/eventstream/transactions/__init__.py
  src/sentry/eventstream/transactions/backend.py
  src/sentry/eventstream/utils.py
  src/sentry/runner/commands/devserver.py
  src/sentry/runner/commands/run.py
  tests/snuba/eventstream/test_eventstream_api.py
Due: pyupgrade, black, isort, flake8, pyright

fix(mep): Treate unknown functions as incompatible
  src/sentry/search/events/builder.py
  src/sentry/search/events/datasets/base.py
  src/sentry/search/events/datasets/metrics.py
  tests/sentry/search/events/test_builder.py
Due: pyupgrade, black, isort, flake8, pyright

fix(releases): block the creation of Releases with empty version (#37235)
  src/sentry/event_manager.py
  src/sentry/models/release.py
  src/sentry/receivers/releases.py
  src/sentry/release_health/tasks.py
  tests/sentry/api/endpoints/test_organization_releases.py
  tests/sentry/event_manager/test_event_manager.py
  tests/sentry/models/test_release.py
Due: pyupgrade, black, isort, flake8, pyright

first pass at blocking creation of releases with empty version
  tests/sentry/models/test_release.py
Due: pyupgrade, black, isort, flake8

fix(replays): Adjust Replay list table columns in Issue Summary and Transaction Summary (#37373)
  static/app/views/organizationGroupDetails/groupReplays/groupReplays.tsx
  static/app/views/performance/transactionSummary/transactionReplays/content.tsx
Due: none

use Release.is_valid_version to validate version field before saving to DB. add checks for empty whitespace version values
  tests/sentry/models/test_release.py
Due: pyupgrade, black, isort, flake8

first pass at wiping out releases with empty version and any fk relationships to those releases
  src/sentry/migrations/0310_delete_release_with_empty_version.py
Due: pyupgrade, black, isort, flake8, pyright

fix(mep): Fallback on missing tag values
  src/sentry/search/events/builder.py
  tests/sentry/search/events/test_builder.py
Due: pyupgrade, black, isort, flake8, pyright

update migration conflict
  migrations_lockfile.txt
  src/sentry/migrations/0311_delete_release_with_empty_version.py
Due: pyupgrade, black, isort, flake8, pyright

fix bug when changing vital
  static/app/components/performance/vitalsAlert/constants.tsx
  static/app/views/performance/vitalDetail/vitalsComparison.tsx
Due: none

feat(mep): Rename sampled to indexed
  static/app/views/dashboardsV2/widgetCard/widgetCardContextMenu.tsx
  tests/js/spec/views/dashboardsV2/widgetCard.spec.tsx
Due: none

revert change
  static/app/components/performance/vitalsAlert/constants.tsx
Due: none

fix(dashboard-filters): Allow saving with All Projects
  src/sentry/api/serializers/models/dashboard.py
  src/sentry/api/serializers/rest_framework/dashboard.py
  tests/sentry/api/endpoints/test_organization_dashboard_details.py
Due: pyupgrade, black, isort, flake8, pyright

fix(mep): Remove threshold from mep config (#37275)
  src/sentry/search/events/datasets/metrics.py
  tests/snuba/api/endpoints/test_organization_events_mep.py
Due: pyupgrade, black, isort, flake8, pyright

fix(discover-mep): Update sort on multiple env filters
  src/sentry/search/events/builder.py
  tests/snuba/api/endpoints/test_organization_events_stats_mep.py
Due: pyupgrade, black, isort, flake8, pyright

fix(mep): User misery renderer (#37065)
  static/app/components/userMisery.tsx
Due: none

add comment
  static/app/views/settings/account/notifications/fields2.tsx
Due: none

chore(codeowners): Add files to CODEOWNERS for discover-n-dashboards
  .github/CODEOWNERS
Due: none

meta(codeowners): Add files to CODEOWNERS for discover-n-dashboards
  .github/CODEOWNERS
Due: none

fix(integrations): use array -> booleans -> array for hooks
  static/app/views/settings/organizationDeveloperSettings/sentryFunctionDetails.tsx
  static/app/views/settings/organizationDeveloperSettings/sentryFunctionSubscriptions.tsx
Due: none

adds indexed badge to preview mode
  static/app/views/dashboardsV2/widgetCard/widgetCardContextMenu.tsx
  tests/js/spec/views/dashboardsV2/widgetCard.spec.tsx
Due: none

feat(mep): Rename sampled to indexed (#37381)
  static/app/views/dashboardsV2/widgetCard/widgetCardContextMenu.tsx
  tests/js/spec/views/dashboardsV2/widgetCard.spec.tsx
Due: none

fix(integrations): typo fix
  src/sentry/api/endpoints/organization_sentry_function_details.py
Due: pyupgrade, black, isort, flake8, pyright

fix overflow, screenshot loading size
  static/app/components/events/eventTagsAndScreenshot/index.tsx
  static/app/components/events/eventTagsAndScreenshot/screenshot/index.tsx
Due: none

meta(codeowners): Add files to CODEOWNERS for discover-n-dashboards (#37384)
  .github/CODEOWNERS
Due: none

Path conditions:
  pyupgrade: any of: \.py$, but not: (?x)(
    LICENSE$|
    \.snap$|
    \.map$|
    \.map\.js$|
    ^src/sentry/static/sentry/vendor/|
    ^tests/sentry/lang/javascript/example-project/|
    ^src/.*/locale/|
    ^src/sentry/data/
)

  black: any of: \.py$, but not: (?x)(
    LICENSE$|
    \.snap$|
    \.map$|
    \.map\.js$|
    ^src/sentry/static/sentry/vendor/|
    ^tests/sentry/lang/javascript/example-project/|
    ^src/.*/locale/|
    ^src/sentry/data/
)

  isort: any of: \.py$, but not: (?x)(
    LICENSE$|
    \.snap$|
    \.map$|
    \.map\.js$|
    ^src/sentry/static/sentry/vendor/|
    ^tests/sentry/lang/javascript/example-project/|
    ^src/.*/locale/|
    ^src/sentry/data/
)

  flake8: any of: \.py$, but not: (?x)(
    LICENSE$|
    \.snap$|
    \.map$|
    \.map\.js$|
    ^src/sentry/static/sentry/vendor/|
    ^tests/sentry/lang/javascript/example-project/|
    ^src/.*/locale/|
    ^src/sentry/data/
)

  lint-requirements: any of: requirements-frozen.txt, but not: (?x)(
    LICENSE$|
    \.snap$|
    \.map$|
    \.map\.js$|
    ^src/sentry/static/sentry/vendor/|
    ^tests/sentry/lang/javascript/example-project/|
    ^src/.*/locale/|
    ^src/sentry/data/
)

  pyright: any of: ^src/ and \.py$ and not ((?x)(
    LICENSE$|
    \.snap$|
    \.map$|
    \.map\.js$|
    ^src/sentry/static/sentry/vendor/|
    ^tests/sentry/lang/javascript/example-project/|
    ^src/.*/locale/|
    ^src/sentry/data/
)
)
