Repository getsentry/sentry: changes, and which pre-commit hooks are due for each by the changed paths.
All: pyupgrade, isort, flake8, mypy, lint-requirements, requirements-overrides, check-mypy-bypass, sort-stronger-mypy-list, check-mypy-stronglist, biome, eslint, stylelint, prettier

pyupgrade:
  name: pyupgrade
  entry: pyupgrade
  args:
  - --py312-plus
  language: system

isort:
  name: isort
  entry: isort
  language: system

flake8:
  name: flake8
  entry: flake8
  language: system
  log_file: .artifacts/flake8.pycodestyle.log

mypy:
  name: mypy
  entry: bash -c 'if [ -n "${SENTRY_MYPY_PRE_PUSH:-}" ]; then exec mypy "$@"; fi' --
  language: system
  stages:
  - pre-push
  require_serial: true

lint-requirements:
  name: lint-requirements
  entry: python -m tools.lint_requirements
  language: python
  additional_dependencies:
  - packaging==24.1

requirements-overrides:
  name: use pinned archives (see comment in file)
  stages:
  - pre-commit
  language: pygrep
  entry: '(?x)
  
    ^
  
    # it''s a comment line
  
    (?!\#.*$)
  
    # it''s a blank line
  
    (?!$)
  
    # it''s a pinned archive
  
    (?![a-z-]+[ ]@[ ]https://github\.com/getsentry/[^/]+/archive/[a-f0-9]{40}\.zip$)
  
    '

check-mypy-bypass:
  name: do not bypass the type checker
  entry: '(^# *mypy: *ignore-errors|^# *type: *ignore|\bno_type_check\b)'
  language: pygrep

sort-stronger-mypy-list:
  name: sort stronger mypy list
  entry: python3 -m tools.mypy_helpers.sort_stronger_modules
  language: python

check-mypy-stronglist:
  name: check mypy stronglist
  entry: python3 -m tools.mypy_helpers.check_stronglist
  language: python

biome:
  name: biome (javascript, typescript, json)
  language: system
  entry: ./node_modules/.bin/biome check --log-level=error --write --files-ignore-unknown=true --no-errors-on-unmatched

eslint:
  name: eslint
  language: system
  entry: ./node_modules/.bin/eslint --quiet --fix

stylelint:
  name: stylelint
  language: system
  entry: ./node_modules/.bin/stylelint --quiet

prettier:
  name: prettier (yaml, markdown, ts, tsx, js, jsx, css)
  language: system
  entry: ./node_modules/.bin/prettier --log-level=error --write

ref(trace-items): Always store metric context at org level (#119757)
  src/sentry/api/endpoints/organization_trace_item_metric_context.py
  tests/snuba/api/endpoints/test_organization_trace_item_metric_context.py
Due: pyupgrade, isort, flake8, mypy, check-mypy-bypass

fix(ui): show gen AI reasoning level attribute (#119720)
  static/app/views/insights/types.tsx
  static/app/views/performance/newTraceDetails/traceDrawer/details/highlightedAttributes.spec.tsx
  static/app/views/performance/newTraceDetails/traceDrawer/details/highlightedAttributes.tsx
Due: biome, eslint, stylelint, prettier

feat(search): Refine Ask Seer empty-state heading (#119818)
  static/app/components/searchQueryBuilder/askSeerCombobox/askSeerPollingComboBox.tsx
  static/app/components/searchQueryBuilder/askSeerCombobox/askSeerSearchHeader.tsx
Due: biome, eslint, stylelint, prettier

fix(inbound-filters): Rename custom filters tab URL segment (#119812)
  static/app/views/settings/project/projectFilters/index.spec.tsx
  static/app/views/settings/project/projectFilters/index.tsx
Due: biome, eslint, stylelint, prettier

fix(data-browsing): Speed up heat map drag-to-select (#119776)
  static/app/components/charts/useChartBoxZoom.tsx
  static/app/views/dashboards/widgets/heatMapWidget/heatMapWidgetVisualization.tsx
Due: biome, eslint, stylelint, prettier

feat(conversations): Collapse tool calls in the transcript (#119807)
  static/app/utils/analytics/conversationsAnalyticsEvents.tsx
  static/app/views/explore/conversations/components/messageToolCallsNew.tsx
  static/app/views/explore/conversations/components/messagesPanelNew.spec.tsx
Due: biome, eslint, stylelint, prettier

fix(dashboards): AI agents dashboard tag click updates global filters (#119521)
  static/app/views/dashboards/filtersBar.spec.tsx
  static/app/views/dashboards/filtersBar.tsx
  static/app/views/dashboards/globalFilter/utils.tsx
  static/app/views/insights/pages/agents/components/tracesTable.tsx
Due: biome, eslint, stylelint, prettier

chore(scm-project-creation-flow): Fixing flaky test (#119745)
  tests/acceptance/test_create_project.py
Due: pyupgrade, isort, flake8, mypy, check-mypy-bypass

build(ui): Remove unused Node polyfill `buffer` (#119835)
  knip.config.ts
  package.json
  pnpm-lock.yaml
  rspack.config.ts
Due: biome, eslint, stylelint, prettier

refactor(preprod): extract shared size evaluation core (#119428)
  src/sentry/preprod/vcs/pr_comments/snapshot_tasks.py
  src/sentry/preprod/vcs/pr_comments/tasks.py
  src/sentry/preprod/vcs/status_checks/size/rules.py
  src/sentry/preprod/vcs/status_checks/size/tasks.py
Due: pyupgrade, isort, flake8, mypy, check-mypy-bypass

fix(issues): Balance stack trace frame headers (#119792)
  static/app/components/stackTrace/frame/frameHeader.tsx
  static/app/components/stackTrace/issueStackTrace/issueSourceLinkAction.tsx
  static/app/components/stackTrace/stackTrace.stories.tsx
Due: biome, eslint, stylelint, prettier

deps(ui): Upgrade jest-fetch-mock to 4.2.0 (#119799)
  package.json
  pnpm-lock.yaml
  static/app/api.spec.tsx
  static/app/views/detectors/list/cron.spec.tsx
  tests/js/setup.ts
Due: biome, eslint, stylelint, prettier

ref(spans): Log full problem objects on span-first detector mismatch (#119137)
  src/sentry/issue_detection/detectors/span_first/run_detectors.py
  src/sentry/issue_detection/detectors/span_first/span_first_utils.py
  src/sentry/spans/consumers/process_segments/message.py
  tests/sentry/issue_detection/span_first/test_run_detectors.py
Due: pyupgrade, isort, flake8, mypy, check-mypy-bypass

fix(derived data): Log when the project-level task has nothing to do (#119785)
  src/sentry/issues/derived/tasks.py
Due: pyupgrade, isort, flake8, mypy, check-mypy-bypass

chore(control): actually drop the dead TeamReplica table (#119654)
  migrations_lockfile.txt
  src/sentry/migrations/1136_delete_teamreplica.py
Due: pyupgrade, isort, flake8, mypy, check-mypy-bypass

fix(seer): Fix chvron direction in seer settings (#119833)
  static/app/components/seer/projectDetails/autofixRepositoriesItem.tsx
Due: biome, eslint, stylelint, prettier

feat(stories): Add custom favicon for stories pages (#119683)
  src/sentry/static/sentry/images/favicon-stories.png
  static/app/stories/view/index.tsx
Due: biome, eslint, stylelint, prettier

fix(db): Removes unpickling logic from GZippedDictField (#119770)
  src/sentry/db/models/fields/gzippeddict.py
Due: pyupgrade, isort, flake8, mypy, check-mypy-bypass

Revert "ref(feedback): emit metric instead of outcome for ingest denylist (#97970)" (#119793)
  src/sentry/feedback/tasks/update_user_reports.py
  src/sentry/feedback/usecases/ingest/shim_to_feedback.py
  src/sentry/feedback/usecases/ingest/userreport.py
  src/sentry/ingest/consumer/processors.py
Due: pyupgrade, isort, flake8, mypy, check-mypy-bypass

ref(dashboards): graduate visibility-dashboards-async-queue flag (#119673)
  static/app/views/dashboards/utils/widgetQueryQueue.tsx
  static/app/views/dashboards/widgetCard/hooks/useErrorsAndTransactionsWidgetQuery.tsx
  static/app/views/dashboards/widgetCard/hooks/useErrorsWidgetQuery.tsx
  static/app/views/dashboards/widgetCard/hooks/useIssuesWidgetQuery.tsx
  static/app/views/dashboards/widgetCard/hooks/useLogsWidgetQuery.tsx
  static/app/views/dashboards/widgetCard/hooks/useMobileAppSizeWidgetQuery.tsx
  static/app/views/dashboards/widgetCard/hooks/useReleasesWidgetQuery.tsx
  static/app/views/dashboards/widgetCard/hooks/useSpansWidgetQuery.tsx
  static/app/views/dashboards/widgetCard/hooks/useTraceMetricsWidgetQuery.tsx
  static/app/views/dashboards/widgetCard/hooks/useTransactionsWidgetQuery.tsx
Due: biome, eslint, stylelint, prettier

fix(search): Preserve negation on quoted colon-value filters (#119789)
  static/app/components/searchSyntax/mutableSearch.spec.tsx
  static/app/components/searchSyntax/mutableSearch.tsx
Due: biome, eslint, stylelint, prettier

feat(dashboards): Teach agentic dashboard generation about heat maps (#119788)
  src/sentry/dashboards/endpoints/organization_dashboard_generate.py
Due: pyupgrade, isort, flake8, mypy, check-mypy-bypass

fix(project-creation): Stop the SCM alert section bouncing on option switch (#119749)
  static/app/views/onboarding/components/scmAlertFrequencySection.tsx
  static/app/views/projectInstall/scmCreateProject.tsx
Due: biome, eslint, stylelint, prettier

feat(GAL): Trigger derived data rebuild after project backfill completes (#119783)
  src/sentry/tasks/backfill_group_action_log.py
  tests/sentry/tasks/test_backfill_group_action_log.py
Due: pyupgrade, isort, flake8, mypy, check-mypy-bypass

fix(preprod): Escape untrusted artifact metadata in VCS Markdown (#119742)
  src/sentry/preprod/vcs/markdown_utils.py
  src/sentry/preprod/vcs/pr_comments/snapshot_templates.py
  src/sentry/preprod/vcs/pr_comments/templates.py
  src/sentry/preprod/vcs/status_checks/size/templates.py
  tests/sentry/preprod/vcs/pr_comments/test_snapshot_templates.py
  tests/sentry/preprod/vcs/pr_comments/test_templates.py
  tests/sentry/preprod/vcs/status_checks/size/test_templates.py
  tests/sentry/preprod/vcs/test_markdown_utils.py
Due: pyupgrade, isort, flake8, mypy, check-mypy-bypass

feat(explore): highlight every matching search term in logs and spans (#119310)
  static/app/components/events/ourlogs/ourlogsSection.tsx
  static/app/components/highlight.spec.tsx
  static/app/components/highlight.tsx
  static/app/views/explore/bodySearchTerms.spec.tsx
  static/app/views/explore/bodySearchTerms.tsx
  static/app/views/explore/logs/fieldRenderers.tsx
  static/app/views/explore/logs/styles.tsx
  static/app/views/explore/logs/utils.tsx
  static/app/views/explore/tables/tracesTable/fieldRenderers.tsx
  static/app/views/explore/tables/tracesTable/spansTable.tsx
Due: biome, eslint, stylelint, prettier

build(ui): Remove process browser polyfill (#119828)
  config/build-chartcuterie.ts
  knip.config.ts
  package.json
  pnpm-lock.yaml
  rspack.config.ts
  static/app/bootstrap/commonInitialization.tsx
  static/app/constants/index.tsx
Due: biome, eslint, stylelint, prettier

feat(derived data): Add Pipeline.pipeline_hash (#119856)
  src/sentry/issues/derived/framework.py
  src/sentry/issues/derived/processing.py
  tests/sentry/issues/derived/test_aggregators.py
  tests/sentry/issues/derived/test_processing.py
Due: pyupgrade, isort, flake8, mypy, check-mypy-bypass

fix(relocation) Avoid integrity errors on self-hosted import pt2 (#119859)
  src/sentry/users/models/user.py
  tests/sentry/backup/test_imports.py
Due: pyupgrade, isort, flake8, mypy, check-mypy-bypass

feat(seer): smart-assignment dispatch and workflow wiring (#119693)
  src/sentry/features/temporary.py
  src/sentry/options/defaults.py
  src/sentry/seer/smart_assignment/__init__.py
  src/sentry/seer/smart_assignment/models.py
  src/sentry/seer/smart_assignment/trigger.py
  src/sentry/workflow_engine/handlers/workflow/__init__.py
  src/sentry/workflow_engine/handlers/workflow/workflow_activity_handlers.py
  tests/sentry/seer/smart_assignment/__init__.py
  tests/sentry/seer/smart_assignment/test_trigger.py
  tests/sentry/workflow_engine/handlers/workflow/test_workflow_activity_handlers.py
Due: pyupgrade, isort, flake8, mypy, check-mypy-bypass

feat(auth): add option (#119857)
  src/sentry/options/defaults.py
Due: pyupgrade, isort, flake8, mypy, check-mypy-bypass

feat(taskbroker): Add Application Argument to Task Sender (#119860)
  src/sentry/runner/commands/run.py
Due: pyupgrade, isort, flake8, mypy, check-mypy-bypass

feat(ui): Add org feature flag controls in cmd+k (#119798)
  static/app/components/commandPalette/ui/commandPaletteGlobalActions.tsx
  static/app/components/commandPalette/ui/featureFlagCommandPaletteActions.spec.tsx
  static/app/components/commandPalette/ui/featureFlagCommandPaletteActions.tsx
Due: biome, eslint, stylelint, prettier

fix(issues): Make Recommended sort selectable in command palette (#119850)
  static/app/views/issueList/issueListCommandPaletteActions.tsx
Due: biome, eslint, stylelint, prettier

fix(data-browsing): Turn off Safari user selection on ECharts charts (#119845)
  static/app/components/charts/baseChart.tsx
Due: biome, eslint, stylelint, prettier

ref(txn-summary): Move event view creation to point of use (#119676)
  static/app/utils/discover/genericDiscoverQuery.tsx
  static/app/utils/performance/contexts/performanceEventViewContext.tsx
  static/app/views/performance/transactionSummary/layout.tsx
  static/app/views/performance/transactionSummary/pageLayout.tsx
  static/app/views/performance/transactionSummary/transactionEvents/eapSampledEventsTab.spec.tsx
  static/app/views/performance/transactionSummary/transactionEvents/eapSampledEventsTab.tsx
  static/app/views/performance/transactionSummary/transactionOverview/index.tsx
  static/app/views/performance/transactionSummary/transactionReplays/transactionReplays.tsx
  static/app/views/performance/transactionSummary/transactionSummaryContext.tsx
Due: biome, eslint, stylelint, prettier

feat(trace-items): Add endpoint to list metric names and context (#119740)
  src/sentry/api/endpoints/organization_trace_item_metric_context.py
  src/sentry/api/endpoints/organization_trace_item_metrics.py
  src/sentry/api/urls.py
  src/sentry/search/eap/constants.py
  src/sentry/search/eap/trace_metrics/attributes.py
  src/sentry/snuba/referrer.py
  static/app/utils/api/knownSentryApiUrls.generated.ts
  tests/snuba/api/endpoints/test_organization_trace_item_metrics.py
Due: pyupgrade, isort, flake8, mypy, check-mypy-bypass, biome, eslint, stylelint, prettier

fix(dashboards): legend toggle discards unsaved filters (#119760)
  static/app/views/dashboards/detail.tsx
  static/app/views/dashboards/widgetCard/visualizationWidget.tsx
  static/app/views/dashboards/widgetLegendSelectionState.tsx
  static/app/views/dashboards/widgets/timeSeriesWidget/timeSeriesWidgetVisualization.tsx
Due: biome, eslint, stylelint, prettier

ci: Exclude API URL codegen from frontend/backend warning (#118795)
  .github/file-filters.yml
  .github/workflows/label-pullrequest.yml
Due: prettier

Path conditions:
  pyupgrade: any of: \.py$, but not: (?x)(
    LICENSE.md$|
    \.snap$|
    \.map$|
    \.map\.js$|
    ^src/sentry/static/sentry/vendor/|
    ^src/.*/locale/|
    ^src/sentry/data/
)

  isort: any of: \.py$, but not: (?x)(
    LICENSE.md$|
    \.snap$|
    \.map$|
    \.map\.js$|
    ^src/sentry/static/sentry/vendor/|
    ^src/.*/locale/|
    ^src/sentry/data/
)

  flake8: any of: \.py$, but not: (?x)(
    LICENSE.md$|
    \.snap$|
    \.map$|
    \.map\.js$|
    ^src/sentry/static/sentry/vendor/|
    ^src/.*/locale/|
    ^src/sentry/data/
)

  mypy: any of: \.py$, but not: (?x)(
    LICENSE.md$|
    \.snap$|
    \.map$|
    \.map\.js$|
    ^src/sentry/static/sentry/vendor/|
    ^src/.*/locale/|
    ^src/sentry/data/
)

  lint-requirements: any of: requirements-.*\.txt$ and not (^requirements-getsentry-overrides\.txt$) and not ((?x)(
    LICENSE.md$|
    \.snap$|
    \.map$|
    \.map\.js$|
    ^src/sentry/static/sentry/vendor/|
    ^src/.*/locale/|
    ^src/sentry/data/
)
)
  requirements-overrides: any of: ^requirements-getsentry-overrides\.txt$, but not: (?x)(
    LICENSE.md$|
    \.snap$|
    \.map$|
    \.map\.js$|
    ^src/sentry/static/sentry/vendor/|
    ^src/.*/locale/|
    ^src/sentry/data/
)

  check-mypy-bypass: any of: \.py$, but not: (?x)(
    LICENSE.md$|
    \.snap$|
    \.map$|
    \.map\.js$|
    ^src/sentry/static/sentry/vendor/|
    ^src/.*/locale/|
    ^src/sentry/data/
)

  sort-stronger-mypy-list: any of: ^pyproject\.toml$, but not: (?x)(
    LICENSE.md$|
    \.snap$|
    \.map$|
    \.map\.js$|
    ^src/sentry/static/sentry/vendor/|
    ^src/.*/locale/|
    ^src/sentry/data/
)

  check-mypy-stronglist: any of: ^pyproject\.toml$, but not: (?x)(
    LICENSE.md$|
    \.snap$|
    \.map$|
    \.map\.js$|
    ^src/sentry/static/sentry/vendor/|
    ^src/.*/locale/|
    ^src/sentry/data/
)

  biome: any of: \.(jsx?|tsx?|css)$, but not: (?x)(
    LICENSE.md$|
    \.snap$|
    \.map$|
    \.map\.js$|
    ^src/sentry/static/sentry/vendor/|
    ^src/.*/locale/|
    ^src/sentry/data/
)

  eslint: any of: \.(ts|js|tsx|jsx|mjs)$, but not: (?x)(
    LICENSE.md$|
    \.snap$|
    \.map$|
    \.map\.js$|
    ^src/sentry/static/sentry/vendor/|
    ^src/.*/locale/|
    ^src/sentry/data/
)

  stylelint: any of: \.[jt]sx?$, but not: (?x)(
    LICENSE.md$|
    \.snap$|
    \.map$|
    \.map\.js$|
    ^src/sentry/static/sentry/vendor/|
    ^src/.*/locale/|
    ^src/sentry/data/
)

  prettier: any of: \.(yaml|yml)$, \.(md|markdown|mdown)$, \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.css$ and not ((?x)^($^
  # prettier crashes on some of these, by intent:
  |fixtures/.*
  # these have enormous diffs when formatted:
  |api-docs/paths/events/issue-hashes\.json
  |api-docs/paths/events/latest-event\.json
  |api-docs/paths/events/oldest-event\.json
  |api-docs/paths/events/project-event-details\.json
  |src/sentry/issues/event\.schema\.json
  |static/app/data/world\.json
  |static/app/utils/profiling/profile/formats/android/trace\.json
  |static/app/utils/profiling/profile/formats/ios/trace\.json
  |static/app/utils/profiling/profile/formats/node/trace\.json
  |static/app/utils/profiling/profile/formats/typescript/trace\.json
)$
) and not ((?x)(
    LICENSE.md$|
    \.snap$|
    \.map$|
    \.map\.js$|
    ^src/sentry/static/sentry/vendor/|
    ^src/.*/locale/|
    ^src/sentry/data/
)
)
