Repository getsentry/sentry: changes, and which pre-commit hooks are due for each by the changed paths.
All: pyupgrade, isort, flake8, mypy, lint-requirements, requirements-overrides, check-mypy-bypass, sort-stronger-mypy-list, check-mypy-stronglist, biome, eslint, stylelint, prettier

pyupgrade:
  name: pyupgrade
  entry: pyupgrade
  args:
  - --py312-plus
  language: system

isort:
  name: isort
  entry: isort
  language: system

flake8:
  name: flake8
  entry: flake8
  language: system
  log_file: .artifacts/flake8.pycodestyle.log

mypy:
  name: mypy
  entry: bash -c 'if [ -n "${SENTRY_MYPY_PRE_PUSH:-}" ]; then exec mypy "$@"; fi' --
  language: system
  stages:
  - pre-push
  require_serial: true

lint-requirements:
  name: lint-requirements
  entry: python -m tools.lint_requirements
  language: python
  additional_dependencies:
  - packaging==24.1

requirements-overrides:
  name: use pinned archives (see comment in file)
  stages:
  - pre-commit
  language: pygrep
  entry: '(?x)
  
    ^
  
    # it''s a comment line
  
    (?!\#.*$)
  
    # it''s a blank line
  
    (?!$)
  
    # it''s a pinned archive
  
    (?![a-z-]+[ ]@[ ]https://github\.com/getsentry/[^/]+/archive/[a-f0-9]{40}\.zip$)
  
    '

check-mypy-bypass:
  name: do not bypass the type checker
  entry: '(^# *mypy: *ignore-errors|^# *type: *ignore|\bno_type_check\b)'
  language: pygrep

sort-stronger-mypy-list:
  name: sort stronger mypy list
  entry: python3 -m tools.mypy_helpers.sort_stronger_modules
  language: python

check-mypy-stronglist:
  name: check mypy stronglist
  entry: python3 -m tools.mypy_helpers.check_stronglist
  language: python

biome:
  name: biome (javascript, typescript, json)
  language: system
  entry: ./node_modules/.bin/biome check --log-level=error --write --files-ignore-unknown=true --no-errors-on-unmatched

eslint:
  name: eslint
  language: system
  entry: ./node_modules/.bin/eslint --quiet --fix

stylelint:
  name: stylelint
  language: system
  entry: ./node_modules/.bin/stylelint --quiet

prettier:
  name: prettier (yaml, markdown, ts, tsx, js, jsx, css)
  language: system
  entry: ./node_modules/.bin/prettier --log-level=error --write

chore(taskworker): Remove unused compression param in process_profile (#95980)
  src/sentry/profiles/consumers/process/factory.py
  tests/sentry/profiles/consumers/test_process.py
Due: pyupgrade, isort, flake8, mypy, check-mypy-bypass

fix(deletions): Prevent DB call from deleting issue (#95915)
  src/sentry/api/helpers/group_index/delete.py
  src/sentry/issues/endpoints/organization_group_index.py
  src/sentry/issues/endpoints/project_group_index.py
  tests/sentry/issues/endpoints/test_organization_group_index.py
  tests/snuba/api/endpoints/test_project_group_index.py
Due: pyupgrade, isort, flake8, mypy, check-mypy-bypass

Revert "feat(replays): Emit breadcrumbs to EAP (#94648)"
  src/sentry/options/defaults.py
  src/sentry/replays/endpoints/project_replay_summarize_breadcrumbs.py
  src/sentry/replays/lib/kafka.py
  src/sentry/replays/usecases/ingest/__init__.py
  src/sentry/replays/usecases/ingest/event_logger.py
  src/sentry/replays/usecases/ingest/event_parser.py
  tests/sentry/replays/unit/consumers/test_recording.py
  tests/sentry/replays/unit/test_event_logger.py
  tests/sentry/replays/unit/test_event_parser.py
  tests/sentry/replays/unit/test_ingest.py
Due: pyupgrade, isort, flake8, mypy, check-mypy-bypass

ref(rules): Use issue type instead of category to find error groups (#95695)
  src/sentry/rules/conditions/event_frequency.py
Due: pyupgrade, isort, flake8, mypy, check-mypy-bypass

ref(grouping): Move default grouping config values to base (#95944)
  src/sentry/grouping/strategies/configurations.py
Due: pyupgrade, isort, flake8, mypy, check-mypy-bypass

chore(taskworker): Remove taskworker compression rollout option (#95983)
  src/sentry/options/defaults.py
  src/sentry/taskworker/task.py
  tests/sentry/processing/backpressure/test_checking.py
Due: pyupgrade, isort, flake8, mypy, check-mypy-bypass

Reapply "ref(core): convert AlertLink to mdx (#95194)" (#95255)
  static/app/components/core/alert/alertLink.mdx
  static/app/components/core/alert/alertLink.stories.tsx
  static/app/components/core/alert/alertLink.tsx
Due: biome, eslint, stylelint, prettier

feat(member merge): merge account endpoint POST (#93395)
  src/sentry/api/endpoints/auth_merge_user_accounts.py
  src/sentry/api/urls.py
  src/sentry/auth_v2/endpoints/auth_merge_user_accounts.py
  src/sentry/auth_v2/urls.py
  static/app/data/controlsiloUrlPatterns.ts
  tests/sentry/api/endpoints/test_auth_merge_user_accounts.py
  tests/sentry/auth_v2/endpoints/test_auth_merge_user_accounts.py
Due: pyupgrade, isort, flake8, mypy, check-mypy-bypass, biome, eslint, stylelint, prettier

ref(nav-v2): removes navigation v2 banner flag (#95951)
  static/app/components/sidebar/index.spec.tsx
  static/app/views/nav/useNavPrompts.tsx
Due: biome, eslint, stylelint, prettier

feat(replays): Add audit-log entry for deletion jobs resource (#95978)
  src/sentry/audit_log/register.py
  src/sentry/replays/endpoints/project_replay_jobs_delete.py
  tests/sentry/replays/endpoints/test_project_replay_jobs_delete.py
Due: pyupgrade, isort, flake8, mypy, check-mypy-bypass

feat(profiling): Add feature flags for function trends widgets (#95987)
  src/sentry/features/temporary.py
Due: pyupgrade, isort, flake8, mypy, check-mypy-bypass

Reapply "ref(core): convert tooltip to mdx (#95196)" (#95254)
  static/app/components/core/tooltip/index.mdx
  static/app/components/core/tooltip/index.stories.tsx
Due: biome, eslint, stylelint, prettier

feat(error_upsampling - adding "error-upsampling" project feature flag (#95965)
  src/sentry/features/temporary.py
Due: pyupgrade, isort, flake8, mypy, check-mypy-bypass

ref(explore): Move explore toolbar styles (#95994)
  static/app/views/explore/components/toolbar/styles.tsx
  static/app/views/explore/toolbar/toolbarGroupBy.tsx
  static/app/views/explore/toolbar/toolbarSaveAs.tsx
  static/app/views/explore/toolbar/toolbarSortBy.tsx
  static/app/views/explore/toolbar/toolbarVisualize.tsx
Due: biome, eslint, stylelint, prettier

fix(issues): use darkmode illustration (#96001)
  static/images/spot/onboarding-preview.svg
  static/images/spot/performance-empty-state.svg
Due: none

fix(crons): Respect configured rate-limit in consumer (#95743)
  src/sentry/monitors/consumers/monitor_consumer.py
  tests/sentry/monitors/consumers/test_monitor_consumer.py
Due: pyupgrade, isort, flake8, mypy, check-mypy-bypass

fix(dropdown): Apply href to aria links for dropdown children (#96004)
  static/app/components/dropdownMenu/index.tsx
Due: biome, eslint, stylelint, prettier

fix(buffered_segments): Skip producing outcomes if --skip-produce is set (#95922)
  src/sentry/spans/consumers/process_segments/factory.py
  src/sentry/spans/consumers/process_segments/message.py
  tests/sentry/spans/consumers/process_segments/test_factory.py
  tests/sentry/spans/consumers/process_segments/test_message.py
Due: pyupgrade, isort, flake8, mypy, check-mypy-bypass

feat(dashboards): Add release filters as tokens to list view (#95989)
  static/app/components/modals/widgetBuilder/addToDashboardModal.spec.tsx
  static/app/views/dashboards/manage/tableView/table.spec.tsx
  static/app/views/dashboards/manage/tableView/table.tsx
  static/app/views/dashboards/types.tsx
  tests/js/fixtures/dashboard.ts
Due: biome, eslint, stylelint, prettier

ref(issues): remove resolve upcoming release frontend (#95949)
  static/app/components/actions/resolve.spec.tsx
  static/app/components/actions/resolve.tsx
  static/app/components/resolutionBox.spec.tsx
  static/app/components/resolutionBox.tsx
  static/app/types/group.tsx
Due: biome, eslint, stylelint, prettier

feat: add integration orgs hook (#95819)
  static/app/components/codecov/container/codecovParamsProvider.tsx
  static/app/components/codecov/context/codecovContext.tsx
  static/app/components/codecov/dateSelector/dateSelector.spec.tsx
  static/app/components/codecov/integratedOrgSelector/integratedOrgSelector.spec.tsx
  static/app/components/codecov/integratedOrgSelector/integratedOrgSelector.tsx
  static/app/components/codecov/integratedOrgSelector/utils.tsx
  static/app/components/codecov/repoSelector/repoSelector.tsx
  static/app/components/codecov/repoSelector/useInfiniteRepositories.tsx
  static/app/views/codecov/tests/queries/useGetTestResults.ts
  static/app/views/codecov/tests/queries/useTestResultsAggregates.ts
  static/app/views/codecov/tests/summaries/summaries.spec.tsx
  static/app/views/codecov/tests/tests.spec.tsx
  static/app/views/codecov/tests/tests.tsx
  static/app/views/codecov/tokens/tokens.spec.tsx
  static/app/views/codecov/tokens/tokens.tsx
Due: biome, eslint, stylelint, prettier

chore(trace ai queries): Register flag (#96002)
  src/sentry/features/temporary.py
Due: pyupgrade, isort, flake8, mypy, check-mypy-bypass

ref(replay): Consistently call `useReplayReader()` to get the ReplayReader instance (#95958)
  static/app/components/events/eventReplay/replayPreviewPlayer.tsx
  static/app/components/performance/waterfall/row.tsx
  static/app/components/replays/breadcrumbs/breadcrumbItem.tsx
  static/app/components/replays/breadcrumbs/replayTimeline.tsx
  static/app/components/replays/canvasSupportNotice.tsx
  static/app/components/replays/player/replayCurrentTime.tsx
  static/app/components/replays/player/replayPlayer.tsx
  static/app/components/replays/player/scrubber.tsx
  static/app/components/replays/player/useScrubberMouseTracking.tsx
  static/app/components/replays/preferences/replayPreferenceDropdown.tsx
  static/app/components/replays/replayContext.tsx
  static/app/components/replays/replayController.tsx
  static/app/components/replays/replayCurrentScreen.tsx
  static/app/components/replays/replayCurrentUrl.tsx
  static/app/components/replays/replayPlayer.tsx
  static/app/components/replays/replayProcessingError.tsx
  static/app/components/replays/replayView.tsx
  static/app/components/replays/timeAndScrubberGrid.tsx
  static/app/utils/replays/hooks/useCrumbHandlers.tsx
  static/app/utils/replays/playback/providers/replayReaderProvider.tsx
  static/app/views/replays/detail/ai/ai.tsx
  static/app/views/replays/detail/ai/chapterList.tsx
  static/app/views/replays/detail/ai/useFetchReplaySummary.tsx
  static/app/views/replays/detail/breadcrumbs/index.tsx
  static/app/views/replays/detail/browserOSIcons.tsx
  static/app/views/replays/detail/console/index.tsx
  static/app/views/replays/detail/errorList/index.tsx
  static/app/views/replays/detail/memoryPanel/index.tsx
  static/app/views/replays/detail/network/details/onboarding.tsx
  static/app/views/replays/detail/network/index.tsx
  static/app/views/replays/detail/tagPanel/index.spec.tsx
  static/app/views/replays/detail/tagPanel/index.tsx
  static/app/views/replays/detail/trace/index.tsx
Due: biome, eslint, stylelint, prettier

feat(replay): Make deleted replay rows have same spacing as normal rows (#96008)
  static/app/components/replays/table/replayTableColumns.tsx
Due: biome, eslint, stylelint, prettier

feat(replay): Show CTA when org is not opted into gen ai features (#95780)
  static/app/views/replays/detail/ai/ai.tsx
  static/app/views/replays/detail/layout/focusTabs.tsx
Due: biome, eslint, stylelint, prettier

chore(ui): Add comment for new theme spaces (#96003)
  static/app/utils/theme/theme.tsx
Due: biome, eslint, stylelint, prettier

fix(replay): redirect feedback replay to breadcrumbs tab (#96010)
  static/app/components/events/eventReplay/replayPreviewPlayer.tsx
Due: biome, eslint, stylelint, prettier

Check budget before checking rate limit
  src/sentry/integrations/utils/issue_summary_for_alerts.py
Due: pyupgrade, isort, flake8, mypy, check-mypy-bypass

Cleanup dead code
  tests/sentry/taskworker/test_config.py
Due: pyupgrade, isort, flake8, mypy, check-mypy-bypass

more cleanup
  static/app/views/insights/types.tsx
  static/app/views/performance/otlp/types.tsx
Due: biome, eslint, stylelint, prettier

move uf summary generation into Seer
  src/sentry/feedback/endpoints/organization_feedback_summary.py
  src/sentry/feedback/usecases/feedback_summaries.py
  tests/sentry/feedback/endpoints/test_organization_feedback_summary.py
Due: pyupgrade, isort, flake8, mypy, check-mypy-bypass

test cleanup
  static/gsAdmin/components/provisionSubscriptionAction.spec.tsx
Due: biome, eslint, stylelint, prettier

bump migration number
  src/sentry/workflow_engine/migrations/0080_update_metric_detector_config_fields.py
  tests/sentry/workflow_engine/migrations/test_0078_update_metric_detector_config_fields.py
Due: pyupgrade, isort, flake8, mypy, check-mypy-bypass

Path conditions:
  pyupgrade: any of: \.py$, but not: (?x)(
    LICENSE.md$|
    \.snap$|
    \.map$|
    \.map\.js$|
    ^src/sentry/static/sentry/vendor/|
    ^src/.*/locale/|
    ^src/sentry/data/
)

  isort: any of: \.py$, but not: (?x)(
    LICENSE.md$|
    \.snap$|
    \.map$|
    \.map\.js$|
    ^src/sentry/static/sentry/vendor/|
    ^src/.*/locale/|
    ^src/sentry/data/
)

  flake8: any of: \.py$, but not: (?x)(
    LICENSE.md$|
    \.snap$|
    \.map$|
    \.map\.js$|
    ^src/sentry/static/sentry/vendor/|
    ^src/.*/locale/|
    ^src/sentry/data/
)

  mypy: any of: \.py$, but not: (?x)(
    LICENSE.md$|
    \.snap$|
    \.map$|
    \.map\.js$|
    ^src/sentry/static/sentry/vendor/|
    ^src/.*/locale/|
    ^src/sentry/data/
)

  lint-requirements: any of: requirements-.*\.txt$ and not (^requirements-getsentry-overrides\.txt$) and not ((?x)(
    LICENSE.md$|
    \.snap$|
    \.map$|
    \.map\.js$|
    ^src/sentry/static/sentry/vendor/|
    ^src/.*/locale/|
    ^src/sentry/data/
)
)
  requirements-overrides: any of: ^requirements-getsentry-overrides\.txt$, but not: (?x)(
    LICENSE.md$|
    \.snap$|
    \.map$|
    \.map\.js$|
    ^src/sentry/static/sentry/vendor/|
    ^src/.*/locale/|
    ^src/sentry/data/
)

  check-mypy-bypass: any of: \.py$, but not: (?x)(
    LICENSE.md$|
    \.snap$|
    \.map$|
    \.map\.js$|
    ^src/sentry/static/sentry/vendor/|
    ^src/.*/locale/|
    ^src/sentry/data/
)

  sort-stronger-mypy-list: any of: ^pyproject\.toml$, but not: (?x)(
    LICENSE.md$|
    \.snap$|
    \.map$|
    \.map\.js$|
    ^src/sentry/static/sentry/vendor/|
    ^src/.*/locale/|
    ^src/sentry/data/
)

  check-mypy-stronglist: any of: ^pyproject\.toml$, but not: (?x)(
    LICENSE.md$|
    \.snap$|
    \.map$|
    \.map\.js$|
    ^src/sentry/static/sentry/vendor/|
    ^src/.*/locale/|
    ^src/sentry/data/
)

  biome: any of: \.(jsx?|tsx?|css)$, but not: (?x)(
    LICENSE.md$|
    \.snap$|
    \.map$|
    \.map\.js$|
    ^src/sentry/static/sentry/vendor/|
    ^src/.*/locale/|
    ^src/sentry/data/
)

  eslint: any of: \.(ts|js|tsx|jsx|mjs)$, but not: (?x)(
    LICENSE.md$|
    \.snap$|
    \.map$|
    \.map\.js$|
    ^src/sentry/static/sentry/vendor/|
    ^src/.*/locale/|
    ^src/sentry/data/
)

  stylelint: any of: \.[jt]sx?$, but not: (?x)(
    LICENSE.md$|
    \.snap$|
    \.map$|
    \.map\.js$|
    ^src/sentry/static/sentry/vendor/|
    ^src/.*/locale/|
    ^src/sentry/data/
)

  prettier: any of: \.(yaml|yml)$, \.(md|markdown|mdown)$, \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.css$ and not ((?x)^($^
  # prettier crashes on some of these, by intent:
  |fixtures/.*
  # these have enormous diffs when formatted:
  |api-docs/paths/events/issue-hashes\.json
  |api-docs/paths/events/latest-event\.json
  |api-docs/paths/events/oldest-event\.json
  |api-docs/paths/events/project-event-details\.json
  |src/sentry/issues/event\.schema\.json
  |static/app/data/world\.json
  |static/app/utils/profiling/profile/formats/android/trace\.json
  |static/app/utils/profiling/profile/formats/ios/trace\.json
  |static/app/utils/profiling/profile/formats/node/trace\.json
  |static/app/utils/profiling/profile/formats/typescript/trace\.json
)$
) and not ((?x)(
    LICENSE.md$|
    \.snap$|
    \.map$|
    \.map\.js$|
    ^src/sentry/static/sentry/vendor/|
    ^src/.*/locale/|
    ^src/sentry/data/
)
)
