Repository getsentry/sentry: changes, and which pre-commit hooks are due for each by the changed paths.
All: pyupgrade, isort, flake8, mypy, lint-requirements, requirements-overrides, check-mypy-bypass, sort-stronger-mypy-list, check-mypy-stronglist, biome, eslint, stylelint, prettier

Path conditions:
  pyupgrade: any of: \.py$, but not: (?x)(
    LICENSE.md$|
    \.snap$|
    \.map$|
    \.map\.js$|
    ^src/sentry/static/sentry/vendor/|
    ^src/.*/locale/|
    ^src/sentry/data/
)

  isort: any of: \.py$, but not: (?x)(
    LICENSE.md$|
    \.snap$|
    \.map$|
    \.map\.js$|
    ^src/sentry/static/sentry/vendor/|
    ^src/.*/locale/|
    ^src/sentry/data/
)

  flake8: any of: \.py$, but not: (?x)(
    LICENSE.md$|
    \.snap$|
    \.map$|
    \.map\.js$|
    ^src/sentry/static/sentry/vendor/|
    ^src/.*/locale/|
    ^src/sentry/data/
)

  mypy: any of: \.py$, but not: (?x)(
    LICENSE.md$|
    \.snap$|
    \.map$|
    \.map\.js$|
    ^src/sentry/static/sentry/vendor/|
    ^src/.*/locale/|
    ^src/sentry/data/
)

  lint-requirements: any of: requirements-.*\.txt$ and not (^requirements-getsentry-overrides\.txt$) and not ((?x)(
    LICENSE.md$|
    \.snap$|
    \.map$|
    \.map\.js$|
    ^src/sentry/static/sentry/vendor/|
    ^src/.*/locale/|
    ^src/sentry/data/
)
)
  requirements-overrides: any of: ^requirements-getsentry-overrides\.txt$, but not: (?x)(
    LICENSE.md$|
    \.snap$|
    \.map$|
    \.map\.js$|
    ^src/sentry/static/sentry/vendor/|
    ^src/.*/locale/|
    ^src/sentry/data/
)

  check-mypy-bypass: any of: \.py$, but not: (?x)(
    LICENSE.md$|
    \.snap$|
    \.map$|
    \.map\.js$|
    ^src/sentry/static/sentry/vendor/|
    ^src/.*/locale/|
    ^src/sentry/data/
)

  sort-stronger-mypy-list: any of: ^pyproject\.toml$, but not: (?x)(
    LICENSE.md$|
    \.snap$|
    \.map$|
    \.map\.js$|
    ^src/sentry/static/sentry/vendor/|
    ^src/.*/locale/|
    ^src/sentry/data/
)

  check-mypy-stronglist: any of: ^pyproject\.toml$, but not: (?x)(
    LICENSE.md$|
    \.snap$|
    \.map$|
    \.map\.js$|
    ^src/sentry/static/sentry/vendor/|
    ^src/.*/locale/|
    ^src/sentry/data/
)

  biome: any of: \.(jsx?|tsx?|css)$, but not: (?x)(
    LICENSE.md$|
    \.snap$|
    \.map$|
    \.map\.js$|
    ^src/sentry/static/sentry/vendor/|
    ^src/.*/locale/|
    ^src/sentry/data/
)

  eslint: any of: \.(ts|js|tsx|jsx|mjs)$, but not: (?x)(
    LICENSE.md$|
    \.snap$|
    \.map$|
    \.map\.js$|
    ^src/sentry/static/sentry/vendor/|
    ^src/.*/locale/|
    ^src/sentry/data/
)

  stylelint: any of: \.[jt]sx?$, but not: (?x)(
    LICENSE.md$|
    \.snap$|
    \.map$|
    \.map\.js$|
    ^src/sentry/static/sentry/vendor/|
    ^src/.*/locale/|
    ^src/sentry/data/
)

  prettier: any of: \.(yaml|yml)$, \.(md|markdown|mdown)$, \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.css$ and not ((?x)^($^
  # prettier crashes on some of these, by intent:
  |fixtures/.*
  # these have enormous diffs when formatted:
  |api-docs/paths/events/issue-hashes\.json
  |api-docs/paths/events/latest-event\.json
  |api-docs/paths/events/oldest-event\.json
  |api-docs/paths/events/project-event-details\.json
  |src/sentry/issues/event\.schema\.json
  |static/app/data/world\.json
  |static/app/utils/profiling/profile/formats/android/trace\.json
  |static/app/utils/profiling/profile/formats/ios/trace\.json
  |static/app/utils/profiling/profile/formats/node/trace\.json
  |static/app/utils/profiling/profile/formats/typescript/trace\.json
)$
) and not ((?x)(
    LICENSE.md$|
    \.snap$|
    \.map$|
    \.map\.js$|
    ^src/sentry/static/sentry/vendor/|
    ^src/.*/locale/|
    ^src/sentry/data/
)
)

ref: compute styles on the fly rather than using chonk.100 colors for buttons
  static/app/components/core/button/styles.chonk.tsx
  static/app/utils/theme/theme.chonk.tsx
  static/app/utils/theme/theme.tsx
Due: biome, eslint, stylelint, prettier

ref: only create chonkButtonTheme once
  static/app/components/core/button/styles.chonk.tsx
Due: biome, eslint, stylelint, prettier

chore(flaky-tests): skip test_distribution_values
  tests/sentry/api/endpoints/test_organization_trace_item_attributes_ranked.py
Due: pyupgrade, isort, flake8, mypy, check-mypy-bypass

update ref
  tests/sentry/api/endpoints/test_organization_trace_item_attributes_ranked.py
Due: pyupgrade, isort, flake8, mypy, check-mypy-bypass

fix(explore): Strip equation prefix when validating equation (#95080)
  static/app/views/explore/contexts/pageParamsContext/visualizes.tsx
Due: biome, eslint, stylelint, prettier

ref: Project.flags and User.flags are not null (#95063)
  migrations_lockfile.txt
  src/sentry/migrations/0944_flags_not_null.py
  src/sentry/models/project.py
  src/sentry/users/models/user.py
Due: pyupgrade, isort, flake8, mypy, check-mypy-bypass

re(replays): Remove dead consumer code (#95062)
  src/sentry/replays/usecases/ingest/__init__.py
Due: pyupgrade, isort, flake8, mypy, check-mypy-bypass

ref(replays): Speed up replay issue test coverage (#95061)
  tests/sentry/replays/unit/test_issue_creation.py
Due: pyupgrade, isort, flake8, mypy, check-mypy-bypass

chore(flaky-tests): skip test_distribution_values (#95110)
  tests/sentry/api/endpoints/test_organization_trace_item_attributes_ranked.py
Due: pyupgrade, isort, flake8, mypy, check-mypy-bypass

Improve test robustness with enhanced wait mechanisms and error handling
  test_robustness_analysis.md
  tests/acceptance/test_performance_landing_robust.py
Due: pyupgrade, isort, flake8, mypy, check-mypy-bypass, prettier

chore(dynamic-sampling): remove unused function get_sampling_value
  src/sentry/dynamic_sampling/rules/utils.py
Due: pyupgrade, isort, flake8, mypy, check-mypy-bypass

chore(dynamic-sampling): remove unused function get_rule_type
  src/sentry/dynamic_sampling/rules/utils.py
Due: pyupgrade, isort, flake8, mypy, check-mypy-bypass

Rename to DropEvent
  src/sentry/replays/consumers/recording.py
  src/sentry/replays/usecases/ingest/__init__.py
Due: pyupgrade, isort, flake8, mypy, check-mypy-bypass

ref: implement bulk_delete_objects using the orm
  src/sentry/deletions/base.py
  src/sentry/testutils/silo.py
  src/sentry/utils/query.py
  tests/sentry/utils/test_query.py
Due: pyupgrade, isort, flake8, mypy, check-mypy-bypass

ref(insights): Improve `TimeSeriesWidgetVisualization` series name rendering (#95078)
  static/app/views/dashboards/widgets/timeSeriesWidget/formatters/formatTimeSeriesName.spec.tsx
  static/app/views/dashboards/widgets/timeSeriesWidget/formatters/formatTimeSeriesName.tsx
  static/app/views/dashboards/widgets/timeSeriesWidget/plottables/continuousTimeSeries.tsx
  static/app/views/insights/common/components/widgets/crashFreeSessionsChartWidget.tsx
  static/app/views/insights/common/components/widgets/releaseSessionCountChartWidget.tsx
  static/app/views/insights/common/components/widgets/releaseSessionPercentageChartWidget.tsx
Due: biome, eslint, stylelint, prettier

fix: un-affect default button, as it wasn't using chonk styles
  static/app/components/core/button/styles.chonk.tsx
Due: biome, eslint, stylelint, prettier

test adding keys to components
  static/app/views/dashboards/widgetCard/chart.tsx
  static/app/views/dashboards/widgets/tableWidget/tableWidgetVisualization.tsx
Due: biome, eslint, stylelint, prettier

ref: bump sentry-protos to 0.3.1
  requirements-base.txt
  requirements-dev-frozen.txt
  requirements-frozen.txt
Due: lint-requirements

remove superfluous test
  tests/sentry/dynamic_sampling/rules/biases/test_minimum_sample_rate_bias.py
Due: pyupgrade, isort, flake8, mypy, check-mypy-bypass

add minimumSampleRate as a rule type
  src/sentry/dynamic_sampling/rules/utils.py
Due: pyupgrade, isort, flake8, mypy, check-mypy-bypass

move activation tests to test_generate_rules, leave unit tests, use existing dynamic sampling options for activation / deactivation
  src/sentry/dynamic_sampling/rules/base.py
  src/sentry/dynamic_sampling/rules/biases/minimum_sample_rate_bias.py
  src/sentry/dynamic_sampling/rules/utils.py
  tests/sentry/dynamic_sampling/rules/biases/test_minimum_sample_rate_bias.py
  tests/sentry/dynamic_sampling/test_generate_rules.py
Due: pyupgrade, isort, flake8, mypy, check-mypy-bypass

fix tests in test_project_details
  tests/sentry/api/endpoints/test_project_details.py
Due: pyupgrade, isort, flake8, mypy, check-mypy-bypass

add minimum sample rate rule to always allowed & add correct type
  src/sentry/dynamic_sampling/rules/base.py
  src/sentry/dynamic_sampling/rules/biases/minimum_sample_rate_bias.py
Due: pyupgrade, isort, flake8, mypy, check-mypy-bypass

feat(dynamic-sampling): add minimum project sample rate to project config
  src/sentry/dynamic_sampling/rules/biases/minimum_sample_rate_bias.py
  src/sentry/dynamic_sampling/rules/combine.py
  src/sentry/dynamic_sampling/rules/utils.py
Due: pyupgrade, isort, flake8, mypy, check-mypy-bypass

add invalid valid condition so relay does not reject the project config
  src/sentry/dynamic_sampling/rules/biases/minimum_sample_rate_bias.py
  tests/sentry/dynamic_sampling/rules/biases/test_minimum_sample_rate_bias.py
  tests/sentry/dynamic_sampling/test_generate_rules.py
Due: pyupgrade, isort, flake8, mypy, check-mypy-bypass

add tests for minimumsamplerate rule
  src/sentry/dynamic_sampling/rules/biases/minimum_sample_rate_bias.py
  tests/sentry/dynamic_sampling/rules/biases/test_minimum_sample_rate_bias.py
Due: pyupgrade, isort, flake8, mypy, check-mypy-bypass

move generate_rules logic into try/catch block again
  src/sentry/dynamic_sampling/rules/base.py
Due: pyupgrade, isort, flake8, mypy, check-mypy-bypass

chore(seer): Lower batch size for Seer deletions
  src/sentry/tasks/delete_seer_grouping_records.py
Due: pyupgrade, isort, flake8, mypy, check-mypy-bypass

chore(dynamic-sampling): remove dynamic sampling minimum samplerate project option
  src/sentry/api/endpoints/project_details.py
  src/sentry/api/serializers/models/project.py
  src/sentry/apidocs/examples/project_examples.py
  tests/sentry/api/endpoints/test_project_details.py
Due: pyupgrade, isort, flake8, mypy, check-mypy-bypass

additional occurences
  src/sentry/apidocs/examples/project_examples.py
  src/sentry/dynamic_sampling/utils.py
  src/sentry/models/options/project_option.py
  src/sentry/projectoptions/defaults.py
Due: pyupgrade, isort, flake8, mypy, check-mypy-bypass

Increase rate limits for project keys endpoint from 5 to 40 requests per window
  src/sentry/api/endpoints/project_keys.py
Due: pyupgrade, isort, flake8, mypy, check-mypy-bypass

chore(dynamic-sampling): remove unused function get_rule_type (#95108)
  src/sentry/dynamic_sampling/rules/utils.py
Due: pyupgrade, isort, flake8, mypy, check-mypy-bypass

chore(dynamic-sampling): remove unused function get_sampling_value (#95107)
  src/sentry/dynamic_sampling/rules/utils.py
Due: pyupgrade, isort, flake8, mypy, check-mypy-bypass
