Repository getsentry/sentry: changes, and which pre-commit hooks are due for each by the changed paths.
All: pyupgrade, isort, flake8, mypy, lint-requirements, requirements-overrides, check-mypy-bypass, sort-stronger-mypy-list, check-mypy-stronglist, biome, eslint, stylelint, prettier

Path conditions:
  pyupgrade: any of: \.py$, but not: (?x)(
    LICENSE.md$|
    \.snap$|
    \.map$|
    \.map\.js$|
    ^src/sentry/static/sentry/vendor/|
    ^src/.*/locale/|
    ^src/sentry/data/
)

  isort: any of: \.py$, but not: (?x)(
    LICENSE.md$|
    \.snap$|
    \.map$|
    \.map\.js$|
    ^src/sentry/static/sentry/vendor/|
    ^src/.*/locale/|
    ^src/sentry/data/
)

  flake8: any of: \.py$, but not: (?x)(
    LICENSE.md$|
    \.snap$|
    \.map$|
    \.map\.js$|
    ^src/sentry/static/sentry/vendor/|
    ^src/.*/locale/|
    ^src/sentry/data/
)

  mypy: any of: \.py$, but not: (?x)(
    LICENSE.md$|
    \.snap$|
    \.map$|
    \.map\.js$|
    ^src/sentry/static/sentry/vendor/|
    ^src/.*/locale/|
    ^src/sentry/data/
)

  lint-requirements: any of: requirements-.*\.txt$ and not (^requirements-getsentry-overrides\.txt$) and not ((?x)(
    LICENSE.md$|
    \.snap$|
    \.map$|
    \.map\.js$|
    ^src/sentry/static/sentry/vendor/|
    ^src/.*/locale/|
    ^src/sentry/data/
)
)
  requirements-overrides: any of: ^requirements-getsentry-overrides\.txt$, but not: (?x)(
    LICENSE.md$|
    \.snap$|
    \.map$|
    \.map\.js$|
    ^src/sentry/static/sentry/vendor/|
    ^src/.*/locale/|
    ^src/sentry/data/
)

  check-mypy-bypass: any of: \.py$, but not: (?x)(
    LICENSE.md$|
    \.snap$|
    \.map$|
    \.map\.js$|
    ^src/sentry/static/sentry/vendor/|
    ^src/.*/locale/|
    ^src/sentry/data/
)

  sort-stronger-mypy-list: any of: ^pyproject\.toml$, but not: (?x)(
    LICENSE.md$|
    \.snap$|
    \.map$|
    \.map\.js$|
    ^src/sentry/static/sentry/vendor/|
    ^src/.*/locale/|
    ^src/sentry/data/
)

  check-mypy-stronglist: any of: ^pyproject\.toml$, but not: (?x)(
    LICENSE.md$|
    \.snap$|
    \.map$|
    \.map\.js$|
    ^src/sentry/static/sentry/vendor/|
    ^src/.*/locale/|
    ^src/sentry/data/
)

  biome: any of: \.(jsx?|tsx?|css)$, but not: (?x)(
    LICENSE.md$|
    \.snap$|
    \.map$|
    \.map\.js$|
    ^src/sentry/static/sentry/vendor/|
    ^src/.*/locale/|
    ^src/sentry/data/
)

  eslint: any of: \.(ts|js|tsx|jsx|mjs)$, but not: (?x)(
    LICENSE.md$|
    \.snap$|
    \.map$|
    \.map\.js$|
    ^src/sentry/static/sentry/vendor/|
    ^src/.*/locale/|
    ^src/sentry/data/
)

  stylelint: any of: \.[jt]sx?$, but not: (?x)(
    LICENSE.md$|
    \.snap$|
    \.map$|
    \.map\.js$|
    ^src/sentry/static/sentry/vendor/|
    ^src/.*/locale/|
    ^src/sentry/data/
)

  prettier: any of: \.(yaml|yml)$, \.(md|markdown|mdown)$, \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.css$ and not ((?x)^($^
  # prettier crashes on some of these, by intent:
  |fixtures/.*
  # these have enormous diffs when formatted:
  |api-docs/paths/events/issue-hashes\.json
  |api-docs/paths/events/latest-event\.json
  |api-docs/paths/events/oldest-event\.json
  |api-docs/paths/events/project-event-details\.json
  |src/sentry/issues/event\.schema\.json
  |static/app/data/world\.json
  |static/app/utils/profiling/profile/formats/android/trace\.json
  |static/app/utils/profiling/profile/formats/ios/trace\.json
  |static/app/utils/profiling/profile/formats/node/trace\.json
  |static/app/utils/profiling/profile/formats/typescript/trace\.json
)$
) and not ((?x)(
    LICENSE.md$|
    \.snap$|
    \.map$|
    \.map\.js$|
    ^src/sentry/static/sentry/vendor/|
    ^src/.*/locale/|
    ^src/sentry/data/
)
)

Update code owners
  .github/CODEOWNERS
Due: none

feat(trace-eap-waterfall): Loading attributes tree in eap span details
  static/app/views/performance/newTraceDetails/traceDrawer/details/span/index.tsx
Due: biome, eslint, stylelint, prettier

ref(aci): add optional connect/disconnect column to connected monitors list
  static/app/components/workflowEngine/gridCell/issueCell.tsx
  static/app/views/automations/components/connectedMonitorsList.tsx
Due: biome, eslint, stylelint, prettier

feat(issue-views): Add overflow actions to issue views list table
  static/app/components/savedEntityTable.tsx
  static/app/views/issueList/issueViews/issueViewsList/issueViewsList.spec.tsx
  static/app/views/issueList/issueViews/issueViewsList/issueViewsList.tsx
  static/app/views/issueList/issueViews/issueViewsList/issueViewsTable.tsx
  static/app/views/issueList/issueViews/utils.tsx
  static/app/views/issueList/leftNavViewsHeader.tsx
Due: biome, eslint, stylelint, prettier

Add type definition
  src/sentry/issues/endpoints/organization_group_suspect_flags.py
Due: pyupgrade, isort, flake8, mypy, check-mypy-bypass

Added typing to helper method
  src/sentry/ownership/grammar.py
Due: pyupgrade, isort, flake8, mypy, check-mypy-bypass

:wrench: chore: break endpoint down
  src/sentry/workflow_engine/endpoints/organization_test_fire_action.py
Due: pyupgrade, isort, flake8, mypy, check-mypy-bypass

feat(router): Prevent scroll reset on browserHistory.replace (#89939)
  static/app/utils/browserHistory.tsx
Due: biome, eslint, stylelint, prettier

ref(feedback): remove dead euser code from save_userreport
  src/sentry/ingest/userreport.py
Due: pyupgrade, isort, flake8, mypy, check-mypy-bypass

Fix console error
  static/app/views/nav/secondary/sections/issues/issueViews/issueViewNavItemContent.tsx
Due: biome, eslint, stylelint, prettier

chore(gen-ai-consent): Show for all regions (#89994)
  static/gsApp/hooks/genAiAccess.spec.tsx
  static/gsApp/hooks/genAiAccess.tsx
  static/gsApp/views/legalAndCompliance/dataConsent.tsx
  static/gsApp/views/legalAndCompliance/dataConsentForm.tsx
Due: biome, eslint, stylelint, prettier

fix mypy
  tests/sentry/ingest/test_userreport.py
Due: pyupgrade, isort, flake8, mypy, check-mypy-bypass

:bug: fix: typing
  src/sentry/workflow_engine/endpoints/organization_test_fire_action.py
Due: pyupgrade, isort, flake8, mypy, check-mypy-bypass

feat(aci milestone 3): `IssuePriorityGreaterOrEqualConditionHandler` (#89990)
  src/sentry/incidents/endpoints/serializers/workflow_engine_action.py
  src/sentry/workflow_engine/handlers/condition/__init__.py
  src/sentry/workflow_engine/handlers/condition/issue_priority_greater_or_equal_handler.py
  src/sentry/workflow_engine/migration_helpers/alert_rule.py
  src/sentry/workflow_engine/models/data_condition.py
  static/app/types/workflowEngine/dataConditions.tsx
  static/app/views/automations/components/actionFilters/constants.tsx
  tests/sentry/workflow_engine/handlers/condition/test_issue_priority_greater_or_equal.py
  tests/sentry/workflow_engine/migration_helpers/test_migrate_alert_rule.py
Due: pyupgrade, isort, flake8, mypy, check-mypy-bypass, biome, eslint, stylelint, prettier

:wrench: chore: add logging context for number of rules in digest notification
  src/sentry/notifications/notifications/digest.py
Due: pyupgrade, isort, flake8, mypy, check-mypy-bypass

fix snooze check
  static/app/actionCreators/prompts.tsx
  static/gsApp/components/navBillingStatus.spec.tsx
  static/gsApp/components/navBillingStatus.tsx
Due: biome, eslint, stylelint, prettier

:wrench: chore: add group count
  src/sentry/notifications/notifications/digest.py
Due: pyupgrade, isort, flake8, mypy, check-mypy-bypass

Create container and establish initial tags
  static/app/views/performance/newTraceDetails/traceContextPanel.tsx
  static/app/views/performance/newTraceDetails/traceHeader/scrollToSectionLinks.tsx
  static/app/views/performance/newTraceDetails/traceSummary.tsx
Due: biome, eslint, stylelint, prettier

fix(feedback): fix environment id for shim to userreport (#89985)
  src/sentry/feedback/usecases/save_feedback_event.py
  tests/sentry/feedback/usecases/test_save_feedback_event.py
Due: pyupgrade, isort, flake8, mypy, check-mypy-bypass

setup new seer prompt
  static/app/components/events/autofix/autofixChanges.analytics.spec.tsx
  static/app/components/events/autofix/autofixSetupWriteAccessModal.spec.tsx
  static/app/components/events/autofix/useAutofixSetup.tsx
  static/app/components/group/groupSummary.spec.tsx
  static/app/views/issueDetails/groupEventDetails/groupEventDetails.spec.tsx
  static/app/views/issueDetails/groupSidebar.spec.tsx
  static/app/views/issueDetails/streamline/groupDetailsLayout.spec.tsx
  static/app/views/issueDetails/streamline/hooks/useAiConfig.tsx
  static/app/views/issueDetails/streamline/sidebar/seerDrawer.spec.tsx
  static/app/views/issueDetails/streamline/sidebar/seerSection.spec.tsx
  static/app/views/issueDetails/streamline/sidebar/sidebar.spec.tsx
  static/app/views/issueDetails/streamline/sidebar/sidebar.tsx
  static/gsApp/components/ai/AiSetupDataConsent.tsx
  static/gsApp/components/ai/aiSetupDataConsent.spec.tsx
Due: biome, eslint, stylelint, prettier

deps(ui): Remove @types/eslint-config-prettier
  package.json
  yarn.lock
Due: none

clean up based on pr feedback
  static/app/actionCreators/prompts.tsx
  static/gsApp/components/navBillingStatus.tsx
Due: biome, eslint, stylelint, prettier

update icon
  static/app/views/issueDetails/actions/index.tsx
Due: biome, eslint, stylelint, prettier

group.project.organization
  src/sentry/integrations/jira/integration.py
Due: pyupgrade, isort, flake8, mypy, check-mypy-bypass

Tweak anim
  static/app/components/events/autofix/autofixInsightCards.tsx
Due: biome, eslint, stylelint, prettier

Restore filter ordering
  src/sentry/ingest/userreport.py
Due: pyupgrade, isort, flake8, mypy, check-mypy-bypass

fix(autofix): Tweak animation for insight card appearance (#90014)
  static/app/components/events/autofix/autofixInsightCards.tsx
Due: biome, eslint, stylelint, prettier

deps(ui): Remove @types/eslint-config-prettier (#90010)
  package.json
  yarn.lock
Due: none

fix(issue-views): Allow org owners/managers and superusers to edit/delete issue views in their org
  src/sentry/issues/endpoints/bases.py
  src/sentry/issues/endpoints/organization_group_search_view_details.py
  tests/sentry/issues/endpoints/test_organization_group_search_view_details.py
Due: pyupgrade, isort, flake8, mypy, check-mypy-bypass

fix(jira): Use paginated projects endpoint rd 2 (#90013)
  src/sentry/integrations/jira/client.py
  src/sentry/integrations/jira/endpoints/search.py
  src/sentry/integrations/jira/integration.py
  tests/sentry/integrations/jira/test_integration.py
  tests/sentry/integrations/jira/test_search_endpoint.py
Due: pyupgrade, isort, flake8, mypy, check-mypy-bypass

:bug: fix: test
  tests/sentry/notifications/notifications/test_digests.py
Due: pyupgrade, isort, flake8, mypy, check-mypy-bypass

fix(issue-views): Fix endpoint sorting by last_visited to query for specific user (#89960)
  src/sentry/issues/endpoints/organization_group_search_views.py
  tests/sentry/issues/endpoints/test_organization_group_search_views.py
Due: pyupgrade, isort, flake8, mypy, check-mypy-bypass
