Repository getsentry/sentry: changes, and which pre-commit hooks are due for each by the changed paths.
All: pyupgrade, isort, flake8, mypy, lint-requirements, requirements-overrides, check-mypy-bypass, sort-stronger-mypy-list, check-mypy-stronglist

pyupgrade:
  name: pyupgrade
  entry: pyupgrade
  args:
  - --py311-plus
  language: system

isort:
  name: isort
  entry: isort
  language: system

flake8:
  name: flake8
  entry: flake8
  language: system
  log_file: .artifacts/flake8.pycodestyle.log

mypy:
  name: mypy
  entry: bash -c 'if [ -n "${SENTRY_MYPY_PRE_PUSH:-}" ]; then exec mypy "$@"; fi' --
  language: system
  stages:
  - pre-push
  require_serial: true

lint-requirements:
  name: lint-requirements
  entry: python -m tools.lint_requirements
  language: python
  additional_dependencies:
  - packaging==21.3

requirements-overrides:
  name: use pinned archives (see comment in file)
  stages:
  - commit
  language: pygrep
  entry: '(?x)
  
    ^
  
    # it''s a comment line
  
    (?!\#.*$)
  
    # it''s a blank line
  
    (?!$)
  
    # it''s a pinned archive
  
    (?![a-z-]+[ ]@[ ]https://github\.com/getsentry/[^/]+/archive/[a-f0-9]{40}\.zip$)
  
    '

check-mypy-bypass:
  name: do not bypass the type checker
  entry: '(^# *mypy: *ignore-errors|^# *type: *ignore|\bno_type_check\b)'
  language: pygrep

sort-stronger-mypy-list:
  name: sort stronger mypy list
  entry: python3 -m tools.mypy_helpers.sort_stronger_modules
  language: python

check-mypy-stronglist:
  name: check mypy stronglist
  entry: python3 -m tools.mypy_helpers.check_stronglist
  language: python

chore(replay): bump sentry to rrweb version 2.19.0
  package.json
  yarn.lock
Due: none

chore(replay): bump sentry to rrweb version 2.19.0
  package.json
Due: none

fix(perf): Use separate query param for span search in spans tab
  static/app/views/performance/transactionSummary/transactionSpans/content.tsx
  static/app/views/performance/transactionSummary/transactionSpans/spanMetricsTable.tsx
Due: none

add test
  static/app/views/performance/transactionSummary/transactionSpans/index.spec.tsx
Due: none

ref(slack): use sdk client to notify recipients (#72512)
  src/sentry/features/temporary.py
  src/sentry/integrations/slack/notifications.py
  src/sentry/integrations/slack/service.py
  src/sentry/tasks/integrations/slack/post_message.py
  tests/sentry/integrations/slack/test_notifications.py
  tests/sentry/integrations/slack/test_tasks.py
Due: pyupgrade, isort, flake8, mypy, check-mypy-bypass

forgot to update props in test renderers
  static/app/views/performance/transactionSummary/transactionSpans/spanMetricsTable.spec.tsx
Due: none

ref(rules): Use different referrer for batch queries (#72564)
  src/sentry/rules/conditions/event_frequency.py
Due: pyupgrade, isort, flake8, mypy, check-mypy-bypass

ref(reports): Clean up code style in weekly_reports.py
  src/sentry/tasks/summaries/weekly_reports.py
Due: pyupgrade, isort, flake8, mypy, check-mypy-bypass

feat(trace-viewer): analytics
  static/app/components/events/interfaces/spans/spanSummaryButton.tsx
  static/app/utils/analytics/tracingEventMap.tsx
  static/app/views/performance/newTraceDetails/index.tsx
  static/app/views/performance/newTraceDetails/trace.tsx
  static/app/views/performance/newTraceDetails/traceSearch/traceSearchInput.tsx
Due: none

fix(perf): Use separate query param for span search in spans tab (#72610)
  static/app/views/performance/transactionSummary/transactionSpans/content.tsx
  static/app/views/performance/transactionSummary/transactionSpans/index.spec.tsx
  static/app/views/performance/transactionSummary/transactionSpans/spanMetricsTable.spec.tsx
  static/app/views/performance/transactionSummary/transactionSpans/spanMetricsTable.tsx
Due: none

fix(reports): Avoid calling prepare_template_context more than once
  src/sentry/tasks/summaries/weekly_reports.py
Due: pyupgrade, isort, flake8, mypy, check-mypy-bypass

send metric alerts via sdk client as attachments
  src/sentry/integrations/slack/utils/notifications.py
Due: pyupgrade, isort, flake8, mypy, check-mypy-bypass

call them attachments
  src/sentry/integrations/slack/utils/notifications.py
Due: pyupgrade, isort, flake8, mypy, check-mypy-bypass

Update src/sentry/integrations/slack/webhooks/base.py
  src/sentry/integrations/slack/webhooks/base.py
Due: pyupgrade, isort, flake8, mypy, check-mypy-bypass

resolve in upcoming
  static/app/components/actions/resolve.tsx
  static/app/components/resolutionBox.tsx
  static/app/types/group.tsx
Due: none

fix(ui): Switch page filters to useLayoutEffect
  static/app/components/organizations/pageFilters/container.tsx
Due: none

chore(pagerduty): Improve sentry client pagerduty event API payload (#71548)
  src/sentry/integrations/pagerduty/client.py
  tests/sentry/integrations/pagerduty/test_client.py
Due: pyupgrade, isort, flake8, mypy, check-mypy-bypass

fix(slack): send metric alerts via sdk client as attachments (#72616)
  src/sentry/integrations/slack/utils/notifications.py
Due: pyupgrade, isort, flake8, mypy, check-mypy-bypass

feat(trace-explorer): Link to docs (#72606)
  static/app/views/traces/index.tsx
Due: none

ref: fix typing for sentry.grouping.fingerprinting (#72602)
  pyproject.toml
  src/sentry/grouping/fingerprinting/__init__.py
  src/sentry/stacktraces/platform.py
Due: pyupgrade, isort, flake8, mypy, check-mypy-bypass, sort-stronger-mypy-list, check-mypy-stronglist

feat(query-builder): Add select all functionality
  static/app/components/searchQueryBuilder/combobox.tsx
  static/app/components/searchQueryBuilder/filter.tsx
  static/app/components/searchQueryBuilder/index.spec.tsx
  static/app/components/searchQueryBuilder/input.tsx
  static/app/components/searchQueryBuilder/tokenizedQueryGrid.tsx
  static/app/components/searchQueryBuilder/useQueryBuilderGrid.tsx
  static/app/components/searchQueryBuilder/useQueryBuilderGridItem.tsx
  static/app/utils/isCtrlKeyPressed.tsx
Due: none

ref: remove unused CanonicalKeyView
  src/sentry/utils/canonical.py
  tests/sentry/utils/test_canonical.py
Due: pyupgrade, isort, flake8, mypy, check-mypy-bypass

fix typo
  src/sentry/api/helpers/group_index/update.py
Due: pyupgrade, isort, flake8, mypy, check-mypy-bypass

ref(replay/issues): don't persist sort param when clicking from issue list to replay tab
  static/app/views/issueDetails/header.tsx
Due: none

fix projects test
  static/app/components/contextPickerModal.spec.tsx
  static/app/utils/projects.spec.tsx
Due: none

add test w/o flag
  tests/sentry/integrations/slack/test_message_builder.py
Due: pyupgrade, isort, flake8, mypy, check-mypy-bypass

ref: remove CanonicalKeyDict usage in event_manager
  src/sentry/event_manager.py
  tests/sentry/event_manager/test_normalization.py
Due: pyupgrade, isort, flake8, mypy, check-mypy-bypass

Add extra test case
  src/sentry/grouping/strategies/newstyle.py
  tests/sentry/event_manager/test_event_manager.py
Due: pyupgrade, isort, flake8, mypy, check-mypy-bypass

chore(replay): bump sentry to rrweb version 2.19.0 (#72608)
  package.json
  yarn.lock
Due: none

fix(ui): Switch page filters to useLayoutEffect (#72618)
  static/app/components/organizations/pageFilters/container.tsx
Due: none

remove old check signing secret code
  src/sentry/features/temporary.py
  src/sentry/integrations/slack/requests/base.py
  src/sentry/integrations/slack/utils/__init__.py
  src/sentry/integrations/slack/utils/auth.py
  tests/sentry/integrations/slack/test_requests.py
Due: pyupgrade, isort, flake8, mypy, check-mypy-bypass

Path conditions:
  pyupgrade: any of: \.py$, but not: (?x)(
    LICENSE.md$|
    \.snap$|
    \.map$|
    \.map\.js$|
    ^src/sentry/static/sentry/vendor/|
    ^src/.*/locale/|
    ^src/sentry/data/
)

  isort: any of: \.py$, but not: (?x)(
    LICENSE.md$|
    \.snap$|
    \.map$|
    \.map\.js$|
    ^src/sentry/static/sentry/vendor/|
    ^src/.*/locale/|
    ^src/sentry/data/
)

  flake8: any of: \.py$, but not: (?x)(
    LICENSE.md$|
    \.snap$|
    \.map$|
    \.map\.js$|
    ^src/sentry/static/sentry/vendor/|
    ^src/.*/locale/|
    ^src/sentry/data/
)

  mypy: any of: \.py$, but not: (?x)(
    LICENSE.md$|
    \.snap$|
    \.map$|
    \.map\.js$|
    ^src/sentry/static/sentry/vendor/|
    ^src/.*/locale/|
    ^src/sentry/data/
)

  lint-requirements: any of: requirements-.*\.txt$ and not (^requirements-getsentry-overrides\.txt$) and not ((?x)(
    LICENSE.md$|
    \.snap$|
    \.map$|
    \.map\.js$|
    ^src/sentry/static/sentry/vendor/|
    ^src/.*/locale/|
    ^src/sentry/data/
)
)
  requirements-overrides: any of: ^requirements-getsentry-overrides\.txt$, but not: (?x)(
    LICENSE.md$|
    \.snap$|
    \.map$|
    \.map\.js$|
    ^src/sentry/static/sentry/vendor/|
    ^src/.*/locale/|
    ^src/sentry/data/
)

  check-mypy-bypass: any of: \.py$, but not: (?x)(
    LICENSE.md$|
    \.snap$|
    \.map$|
    \.map\.js$|
    ^src/sentry/static/sentry/vendor/|
    ^src/.*/locale/|
    ^src/sentry/data/
)

  sort-stronger-mypy-list: any of: ^pyproject\.toml$, but not: (?x)(
    LICENSE.md$|
    \.snap$|
    \.map$|
    \.map\.js$|
    ^src/sentry/static/sentry/vendor/|
    ^src/.*/locale/|
    ^src/sentry/data/
)

  check-mypy-stronglist: any of: ^pyproject\.toml$, but not: (?x)(
    LICENSE.md$|
    \.snap$|
    \.map$|
    \.map\.js$|
    ^src/sentry/static/sentry/vendor/|
    ^src/.*/locale/|
    ^src/sentry/data/
)

