Repository getsentry/sentry: changes, and which pre-commit hooks are due for each by the changed paths.
All: pyupgrade, isort, flake8, mypy, lint-requirements, requirements-overrides, check-mypy-bypass, sort-stronger-mypy-list, check-mypy-stronglist, biome, eslint, stylelint, prettier

Path conditions:
  pyupgrade: any of: \.py$, but not: (?x)(
    LICENSE.md$|
    \.snap$|
    \.map$|
    \.map\.js$|
    ^src/sentry/static/sentry/vendor/|
    ^src/.*/locale/|
    ^src/sentry/data/
)

  isort: any of: \.py$, but not: (?x)(
    LICENSE.md$|
    \.snap$|
    \.map$|
    \.map\.js$|
    ^src/sentry/static/sentry/vendor/|
    ^src/.*/locale/|
    ^src/sentry/data/
)

  flake8: any of: \.py$, but not: (?x)(
    LICENSE.md$|
    \.snap$|
    \.map$|
    \.map\.js$|
    ^src/sentry/static/sentry/vendor/|
    ^src/.*/locale/|
    ^src/sentry/data/
)

  mypy: any of: \.py$, but not: (?x)(
    LICENSE.md$|
    \.snap$|
    \.map$|
    \.map\.js$|
    ^src/sentry/static/sentry/vendor/|
    ^src/.*/locale/|
    ^src/sentry/data/
)

  lint-requirements: any of: requirements-.*\.txt$ and not (^requirements-getsentry-overrides\.txt$) and not ((?x)(
    LICENSE.md$|
    \.snap$|
    \.map$|
    \.map\.js$|
    ^src/sentry/static/sentry/vendor/|
    ^src/.*/locale/|
    ^src/sentry/data/
)
)
  requirements-overrides: any of: ^requirements-getsentry-overrides\.txt$, but not: (?x)(
    LICENSE.md$|
    \.snap$|
    \.map$|
    \.map\.js$|
    ^src/sentry/static/sentry/vendor/|
    ^src/.*/locale/|
    ^src/sentry/data/
)

  check-mypy-bypass: any of: \.py$, but not: (?x)(
    LICENSE.md$|
    \.snap$|
    \.map$|
    \.map\.js$|
    ^src/sentry/static/sentry/vendor/|
    ^src/.*/locale/|
    ^src/sentry/data/
)

  sort-stronger-mypy-list: any of: ^pyproject\.toml$, but not: (?x)(
    LICENSE.md$|
    \.snap$|
    \.map$|
    \.map\.js$|
    ^src/sentry/static/sentry/vendor/|
    ^src/.*/locale/|
    ^src/sentry/data/
)

  check-mypy-stronglist: any of: ^pyproject\.toml$, but not: (?x)(
    LICENSE.md$|
    \.snap$|
    \.map$|
    \.map\.js$|
    ^src/sentry/static/sentry/vendor/|
    ^src/.*/locale/|
    ^src/sentry/data/
)

  biome: any of: \.(jsx?|tsx?|css)$, but not: (?x)(
    LICENSE.md$|
    \.snap$|
    \.map$|
    \.map\.js$|
    ^src/sentry/static/sentry/vendor/|
    ^src/.*/locale/|
    ^src/sentry/data/
)

  eslint: any of: \.(ts|js|tsx|jsx|mjs)$, but not: (?x)(
    LICENSE.md$|
    \.snap$|
    \.map$|
    \.map\.js$|
    ^src/sentry/static/sentry/vendor/|
    ^src/.*/locale/|
    ^src/sentry/data/
)

  stylelint: any of: \.[jt]sx?$, but not: (?x)(
    LICENSE.md$|
    \.snap$|
    \.map$|
    \.map\.js$|
    ^src/sentry/static/sentry/vendor/|
    ^src/.*/locale/|
    ^src/sentry/data/
)

  prettier: any of: \.(yaml|yml)$, \.(md|markdown|mdown)$, \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.css$ and not ((?x)^($^
  # prettier crashes on some of these, by intent:
  |fixtures/.*
  # these have enormous diffs when formatted:
  |api-docs/paths/events/issue-hashes\.json
  |api-docs/paths/events/latest-event\.json
  |api-docs/paths/events/oldest-event\.json
  |api-docs/paths/events/project-event-details\.json
  |src/sentry/issues/event\.schema\.json
  |static/app/data/world\.json
  |static/app/utils/profiling/profile/formats/android/trace\.json
  |static/app/utils/profiling/profile/formats/ios/trace\.json
  |static/app/utils/profiling/profile/formats/node/trace\.json
  |static/app/utils/profiling/profile/formats/typescript/trace\.json
)$
) and not ((?x)(
    LICENSE.md$|
    \.snap$|
    \.map$|
    \.map\.js$|
    ^src/sentry/static/sentry/vendor/|
    ^src/.*/locale/|
    ^src/sentry/data/
)
)

fix(ui): Fix grid lines left border in crons / uptime (#87007)
  static/app/components/checkInTimeline/gridLines.tsx
  static/app/views/insights/uptime/components/overviewTimeline/index.tsx
  static/app/views/monitors/components/detailsTimeline.tsx
  static/app/views/monitors/components/overviewTimeline/index.tsx
Due: biome, eslint, stylelint, prettier

add comment
  src/sentry/search/eap/spans/aggregates.py
Due: pyupgrade, isort, flake8, mypy, check-mypy-bypass

Add comment to revisit usequery cache
  static/app/components/nav/issueViews/issueViewNavItems.tsx
Due: biome, eslint, stylelint, prettier

fix(autofix): Handle none trace (#87085)
  src/sentry/api/endpoints/group_ai_autofix.py
Due: pyupgrade, isort, flake8, mypy, check-mypy-bypass

Switch icon
  static/app/components/events/autofix/autofixSolution.tsx
Due: biome, eslint, stylelint, prettier

deps(react19): Pin react-is to specific version (#87026)
  package.json
  yarn.lock
Due: none

:recycle: ref: clean up tests
  tests/sentry/workflow_engine/handlers/action/notification/test_metric_alert.py
Due: pyupgrade, isort, flake8, mypy, check-mypy-bypass

chore(provisioning): Process outboxes with malformed data
  src/sentry/services/organization/provisioning.py
Due: pyupgrade, isort, flake8, mypy, check-mypy-bypass

:recycle: ref: missed a place
  tests/sentry/workflow_engine/handlers/action/notification/test_metric_alert.py
Due: pyupgrade, isort, flake8, mypy, check-mypy-bypass

Add coverage for interval parsing
  src/sentry/issues/endpoints/organization_issue_metrics.py
  tests/sentry/issues/endpoints/test_organization_issue_metrics.py
Due: pyupgrade, isort, flake8, mypy, check-mypy-bypass

:wrench: chore: cleanup tests further
  tests/sentry/workflow_engine/handlers/action/notification/test_metric_alert.py
Due: pyupgrade, isort, flake8, mypy, check-mypy-bypass

add codecov ui merge feature flag
  src/sentry/features/temporary.py
Due: pyupgrade, isort, flake8, mypy, check-mypy-bypass

feat(autofix): New testing flow (#87056)
  static/app/components/events/autofix/autofixSolution.spec.tsx
  static/app/components/events/autofix/autofixSolution.tsx
Due: biome, eslint, stylelint, prettier

feat(nav): Add org dropdown in mobile nav
  static/app/components/nav/mobileTopbar.tsx
  static/app/components/nav/orgDropdown.tsx
  static/app/components/nav/sidebar.tsx
  static/app/components/sidebar/index.tsx
  static/gsApp/components/superuser/superuserWarning.tsx
Due: biome, eslint, stylelint, prettier

Fix names
  tests/sentry/issues/endpoints/test_organization_issue_metrics.py
Due: pyupgrade, isort, flake8, mypy, check-mypy-bypass

feat(issue-views): Add "+ Add View" button to left nav issue views (#87052)
  static/app/components/nav/issueViews/issueViewAddViewButton.tsx
  static/app/components/nav/issueViews/issueViewNavItemContent.tsx
  static/app/components/nav/issueViews/issueViewNavItems.tsx
  static/app/components/nav/issueViews/useDefaultProject.tsx
Due: biome, eslint, stylelint, prettier

fix ci
  src/sentry/seer/autofix.py
  tests/sentry/api/endpoints/test_group_ai_autofix.py
Due: pyupgrade, isort, flake8, mypy, check-mypy-bypass

tmp
  src/sentry/api/endpoints/group_ai_autofix.py
  src/sentry/api/endpoints/group_ai_summary.py
  src/sentry/features/temporary.py
  src/sentry/seer/autofix.py
  src/sentry/seer/models.py
  tests/sentry/api/endpoints/test_group_ai_autofix.py
  tests/sentry/api/endpoints/test_group_ai_summary.py
  tests/sentry/seer/test_autofix.py
Due: pyupgrade, isort, flake8, mypy, check-mypy-bypass

feat(ui): Make release bubble padding configurable (#86841)
  static/app/views/dashboards/widgets/timeSeriesWidget/releaseBubbles/constants.tsx
  static/app/views/dashboards/widgets/timeSeriesWidget/releaseBubbles/useReleaseBubbles.tsx
Due: biome, eslint, stylelint, prettier

ref(flags): create a hook for querying org flags (#87016)
  static/app/actionCreators/tags.tsx
  static/app/views/discover/resultsSearchQueryBuilder.tsx
  static/app/views/issueList/utils/useFetchIssueTags.tsx
  static/app/views/issueList/utils/useFetchOrganizationFeatureFlags.tsx
Due: biome, eslint, stylelint, prettier

add to releasesAnalyticsEvents
  static/app/utils/analytics/releasesAnalyticsEvents.tsx
  static/app/views/dashboards/widgets/timeSeriesWidget/releaseBubbles/createReleaseBubbleHighlighter.tsx
Due: biome, eslint, stylelint, prettier

fix: Sentry Stats page does not respect 24 hour clock format (#86947)
  static/app/views/organizationStats/usageChart/utils.spec.tsx
  static/app/views/organizationStats/usageChart/utils.tsx
  static/app/views/organizationStats/usageStatsOrg.tsx
Due: biome, eslint, stylelint, prettier

feat(trace-mobile-vitals): Adding stall time measurements as type duration
  src/sentry/utils/snuba.py
Due: pyupgrade, isort, flake8, mypy, check-mypy-bypass

chore(similarity): add more retries to snuba exception logic
  src/sentry/tasks/embeddings_grouping/utils.py
Due: pyupgrade, isort, flake8, mypy, check-mypy-bypass

feat(ui): Add "Releases" to chart legend for release bubbles (#87004)
  static/app/utils/analytics/releasesAnalyticsEvents.tsx
  static/app/views/dashboards/widgets/timeSeriesWidget/releaseBubbles/createReleaseBubbleHighlighter.tsx
  static/app/views/dashboards/widgets/timeSeriesWidget/releaseBubbles/useReleaseBubbles.tsx
Due: biome, eslint, stylelint, prettier

Fix test
  static/app/components/nav/index.spec.tsx
Due: biome, eslint, stylelint, prettier

feat(trace-mobile-vitals): Defining stall time measurements as type duration
  static/app/utils/fields/index.ts
Due: biome, eslint, stylelint, prettier

ref: implement missing to_query_string for AggregateFilter
  src/sentry/api/event_search.py
  src/sentry/api/issue_search.py
  src/sentry/replays/endpoints/organization_replay_selector_index.py
  src/sentry/replays/endpoints/project_replay_clicks_index.py
  src/sentry/replays/usecases/query/__init__.py
  src/sentry/replays/usecases/query/configs/scalar.py
  src/sentry/replays/usecases/replay_counts.py
  tests/sentry/api/test_event_search.py
Due: pyupgrade, isort, flake8, mypy, check-mypy-bypass

feat(eap-spans): implement count_scores function (#87093)
  src/sentry/search/eap/spans/aggregates.py
  tests/snuba/api/endpoints/test_organization_events_span_indexed.py
Due: pyupgrade, isort, flake8, mypy, check-mypy-bypass

ref(ui): Change `useReleaseMarkLineSeries` to use `useReleaseStats` hook
  static/app/components/charts/baseChart.tsx
  static/app/views/dashboards/widgets/timeSeriesWidget/releaseBubbles/useReleaseBubbles.tsx
  static/app/views/dashboards/widgets/timeSeriesWidget/timeSeriesWidgetVisualization.tsx
  static/app/views/issueDetails/streamline/eventGraph.tsx
  static/app/views/issueDetails/streamline/hooks/useReleaseMarkLineSeries.tsx
Due: biome, eslint, stylelint, prettier

wip
  src/sentry/search/eap/columns.py
  src/sentry/search/eap/resolver.py
Due: pyupgrade, isort, flake8, mypy, check-mypy-bypass
