Repository getsentry/sentry: changes, and which pre-commit hooks are due for each by the changed paths.
All: pyupgrade, isort, flake8, mypy, lint-requirements, requirements-overrides, check-mypy-bypass, sort-stronger-mypy-list, check-mypy-stronglist, biome, eslint, stylelint, prettier

Path conditions:
  pyupgrade: any of: \.py$, but not: (?x)(
    LICENSE.md$|
    \.snap$|
    \.map$|
    \.map\.js$|
    ^src/sentry/static/sentry/vendor/|
    ^src/.*/locale/|
    ^src/sentry/data/
)

  isort: any of: \.py$, but not: (?x)(
    LICENSE.md$|
    \.snap$|
    \.map$|
    \.map\.js$|
    ^src/sentry/static/sentry/vendor/|
    ^src/.*/locale/|
    ^src/sentry/data/
)

  flake8: any of: \.py$, but not: (?x)(
    LICENSE.md$|
    \.snap$|
    \.map$|
    \.map\.js$|
    ^src/sentry/static/sentry/vendor/|
    ^src/.*/locale/|
    ^src/sentry/data/
)

  mypy: any of: \.py$, but not: (?x)(
    LICENSE.md$|
    \.snap$|
    \.map$|
    \.map\.js$|
    ^src/sentry/static/sentry/vendor/|
    ^src/.*/locale/|
    ^src/sentry/data/
)

  lint-requirements: any of: requirements-.*\.txt$ and not (^requirements-getsentry-overrides\.txt$) and not ((?x)(
    LICENSE.md$|
    \.snap$|
    \.map$|
    \.map\.js$|
    ^src/sentry/static/sentry/vendor/|
    ^src/.*/locale/|
    ^src/sentry/data/
)
)
  requirements-overrides: any of: ^requirements-getsentry-overrides\.txt$, but not: (?x)(
    LICENSE.md$|
    \.snap$|
    \.map$|
    \.map\.js$|
    ^src/sentry/static/sentry/vendor/|
    ^src/.*/locale/|
    ^src/sentry/data/
)

  check-mypy-bypass: any of: \.py$, but not: (?x)(
    LICENSE.md$|
    \.snap$|
    \.map$|
    \.map\.js$|
    ^src/sentry/static/sentry/vendor/|
    ^src/.*/locale/|
    ^src/sentry/data/
)

  sort-stronger-mypy-list: any of: ^pyproject\.toml$, but not: (?x)(
    LICENSE.md$|
    \.snap$|
    \.map$|
    \.map\.js$|
    ^src/sentry/static/sentry/vendor/|
    ^src/.*/locale/|
    ^src/sentry/data/
)

  check-mypy-stronglist: any of: ^pyproject\.toml$, but not: (?x)(
    LICENSE.md$|
    \.snap$|
    \.map$|
    \.map\.js$|
    ^src/sentry/static/sentry/vendor/|
    ^src/.*/locale/|
    ^src/sentry/data/
)

  biome: any of: \.(jsx?|tsx?|css)$, but not: (?x)(
    LICENSE.md$|
    \.snap$|
    \.map$|
    \.map\.js$|
    ^src/sentry/static/sentry/vendor/|
    ^src/.*/locale/|
    ^src/sentry/data/
)

  eslint: any of: \.[jt]sx?$, but not: (?x)(
    LICENSE.md$|
    \.snap$|
    \.map$|
    \.map\.js$|
    ^src/sentry/static/sentry/vendor/|
    ^src/.*/locale/|
    ^src/sentry/data/
)

  stylelint: any of: \.[jt]sx?$, but not: (?x)(
    LICENSE.md$|
    \.snap$|
    \.map$|
    \.map\.js$|
    ^src/sentry/static/sentry/vendor/|
    ^src/.*/locale/|
    ^src/sentry/data/
)

  prettier: any of: \.(yaml|yml)$, \.(md|markdown|mdown)$, \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.css$ and not ((?x)^($^
  # prettier crashes on some of these, by intent:
  |fixtures/.*
  # these have enormous diffs when formatted:
  |api-docs/paths/events/issue-hashes\.json
  |api-docs/paths/events/latest-event\.json
  |api-docs/paths/events/oldest-event\.json
  |api-docs/paths/events/project-event-details\.json
  |src/sentry/issues/event\.schema\.json
  |static/app/data/world\.json
  |static/app/utils/profiling/profile/formats/android/trace\.json
  |static/app/utils/profiling/profile/formats/ios/trace\.json
  |static/app/utils/profiling/profile/formats/node/trace\.json
  |static/app/utils/profiling/profile/formats/typescript/trace\.json
)$
) and not ((?x)(
    LICENSE.md$|
    \.snap$|
    \.map$|
    \.map\.js$|
    ^src/sentry/static/sentry/vendor/|
    ^src/.*/locale/|
    ^src/sentry/data/
)
)

feat(explore): Create skeleton for new explore page
  static/app/components/noAccess.tsx
  static/app/components/sidebar/index.tsx
  static/app/routes.tsx
  static/app/views/explore/charts/index.tsx
  static/app/views/explore/content.tsx
  static/app/views/explore/index.tsx
  static/app/views/explore/tables/index.tsx
  static/app/views/explore/toolbar/index.tsx
  static/app/views/explore/toolbar/styles.tsx
Due: biome, eslint, stylelint, prettier

fix(am1): Add span count metric (unrevert) (#75827)
  src/sentry/ingest/consumer/processors.py
  tests/sentry/ingest/ingest_consumer/test_ingest_consumer_processing.py
Due: pyupgrade, isort, flake8, mypy, check-mypy-bypass

cleaning up init files
  src/sentry/integrations/slack/requests/event.py
  src/sentry/integrations/slack/unfurl/__init__.py
  src/sentry/integrations/slack/unfurl/types.py
  src/sentry/integrations/slack/webhooks/__init__.py
  src/sentry/integrations/slack/webhooks/event.py
  tests/sentry/integrations/slack/test_unfurl.py
  tests/sentry/integrations/slack/webhooks/events/test_discover_link_shared.py
  tests/sentry/integrations/slack/webhooks/events/test_link_shared.py
Due: pyupgrade, isort, flake8, mypy, check-mypy-bypass

remove future annotation
  src/sentry/integrations/slack/unfurl/types.py
Due: pyupgrade, isort, flake8, mypy, check-mypy-bypass

add to code owners
  .github/CODEOWNERS
Due: none

ref(feedback): migrate to SearchQueryBuilder (#75709)
  static/app/components/feedback/feedbackSearch.tsx
Due: biome, eslint, stylelint, prettier

clean more imports
  src/sentry/integrations/slack/unfurl/discover.py
  src/sentry/integrations/slack/unfurl/issues.py
  src/sentry/integrations/slack/unfurl/metric_alerts.py
Due: pyupgrade, isort, flake8, mypy, check-mypy-bypass

Few more
  codecov.yml
Due: prettier

add test
  static/app/views/alerts/rules/issue/setupMessagingIntegrationButton.spec.tsx
Due: biome, eslint, stylelint, prettier

fix header
  static/app/views/issueDetails/streamlinedHeader.tsx
Due: biome, eslint, stylelint, prettier

feat(explore): Add explore route as react page (#75833)
  src/sentry/web/urls.py
Due: pyupgrade, isort, flake8, mypy, check-mypy-bypass

Add flag to tests
  tests/sentry/event_manager/test_priority.py
  tests/sentry/event_manager/test_severity.py
Due: pyupgrade, isort, flake8, mypy, check-mypy-bypass

update feature flag name
  static/app/components/sidebar/index.tsx
  static/app/views/explore/index.tsx
Due: biome, eslint, stylelint, prettier

add futures annotation
  src/sentry/integrations/slack/unfurl/types.py
Due: pyupgrade, isort, flake8, mypy, check-mypy-bypass

implement abstract methods
  src/sentry/integrations/example/integration.py
  src/sentry/integrations/github/integration.py
  src/sentry/integrations/github_enterprise/integration.py
  src/sentry/integrations/gitlab/integration.py
Due: pyupgrade, isort, flake8, mypy, check-mypy-bypass

ref(alerts): Remove extranious SentryDocumentTitle
  static/app/views/alerts/rules/metric/edit.tsx
Due: biome, eslint, stylelint, prettier

fix(ui): Center integration install footer
  static/app/components/modals/sentryAppDetailsModal.tsx
Due: biome, eslint, stylelint, prettier

♻️ Fix imports and add a test
  static/app/components/events/contexts/contextIcon.tsx
  static/app/components/events/contexts/utils.tsx
  static/app/components/events/highlights/highlightsDataSection.tsx
  static/app/components/events/highlights/highlightsIconSummary.spec.tsx
  static/app/components/events/highlights/highlightsIconSummary.tsx
Due: biome, eslint, stylelint, prettier

feat(uptime): Add badge next to auto uptime alert rules
  static/app/views/alerts/list/rules/row.tsx
Due: biome, eslint, stylelint, prettier

Update static/app/components/events/breadcrumbs/breadcrumbItemContent.tsx
  static/app/components/events/breadcrumbs/breadcrumbItemContent.tsx
Due: biome, eslint, stylelint, prettier

only delete if the alertrule is gone
  src/sentry/snuba/tasks.py
Due: pyupgrade, isort, flake8, mypy, check-mypy-bypass

Try again
  codecov.yml
Due: prettier

feat(onboarding): disable button for below team plan (#75783)
  static/app/views/alerts/rules/issue/messagingIntegrationModal.spec.tsx
  static/app/views/alerts/rules/issue/messagingIntegrationModal.tsx
  static/app/views/alerts/rules/issue/setupMessagingIntegrationButton.spec.tsx
  static/app/views/alerts/rules/issue/setupMessagingIntegrationButton.tsx
Due: biome, eslint, stylelint, prettier

fix(ui): Center integration install footer (#75847)
  static/app/components/modals/sentryAppDetailsModal.tsx
Due: biome, eslint, stylelint, prettier

feat(new-trace): Updating canFetch property of transactions based on spans count.
  static/app/utils/performance/quickTrace/types.tsx
  static/app/views/performance/newTraceDetails/index.tsx
  static/app/views/performance/newTraceDetails/trace.tsx
  static/app/views/performance/newTraceDetails/traceApi/useReplayTraceMeta.tsx
  static/app/views/performance/newTraceDetails/traceApi/useTraceMeta.tsx
  static/app/views/performance/newTraceDetails/traceModels/traceTree.spec.tsx
  static/app/views/performance/newTraceDetails/traceModels/traceTree.tsx
  static/app/views/replays/detail/trace/trace.tsx
Due: biome, eslint, stylelint, prettier

fix(ST): Fix comparison direction for old trace (#75815)
  static/app/views/performance/traceDetails/utils.tsx
Due: biome, eslint, stylelint, prettier

alphabetize some flags
  src/sentry/features/temporary.py
Due: pyupgrade, isort, flake8, mypy, check-mypy-bypass

move authenticator model and tests
  src/sentry/api/endpoints/auth_index.py
  src/sentry/api/endpoints/authenticator_index.py
  src/sentry/api/endpoints/user_authenticator_details.py
  src/sentry/api/endpoints/user_authenticator_enroll.py
  src/sentry/api/endpoints/user_authenticator_index.py
  src/sentry/api/serializers/models/user.py
  src/sentry/auth/authenticators/base.py
  src/sentry/migrations/0001_squashed_0484_break_org_member_user_fk.py
  src/sentry/models/__init__.py
  src/sentry/models/authenticator.py
  src/sentry/models/user.py
  src/sentry/testutils/helpers/backups.py
  src/sentry/users/models/authenticator.py
  src/sentry/web/frontend/debug/debug_mfa_added_email.py
  src/sentry/web/frontend/debug/debug_mfa_removed_email.py
  src/sentry/web/frontend/debug/debug_recovery_codes_regenerated_email.py
  src/sentry/web/frontend/sudo.py
  src/sentry/web/frontend/twofactor.py
  tests/sentry/api/endpoints/test_auth_index.py
  tests/sentry/api/endpoints/test_organization_details.py
  tests/sentry/api/endpoints/test_organization_index.py
  tests/sentry/api/endpoints/test_organization_member_details.py
  tests/sentry/api/endpoints/test_organization_member_index.py
  tests/sentry/api/endpoints/test_user_authenticator_details.py
  tests/sentry/api/endpoints/test_user_authenticator_enroll.py
  tests/sentry/api/endpoints/test_user_authenticators_index.py
  tests/sentry/api/serializers/test_user.py
  tests/sentry/backup/test_imports.py
  tests/sentry/hybridcloud/rpc/test_rpc_model.py
  tests/sentry/models/test_user.py
  tests/sentry/users/models/test_authenticator.py
  tests/tools/test.txt
Due: pyupgrade, isort, flake8, mypy, check-mypy-bypass

add unknown label
  static/app/components/commitRow.tsx
Due: biome, eslint, stylelint, prettier

ref(querybuilder): Change the span trace endpoint to use snuba params (#75268)
  src/sentry/api/endpoints/organization_spans_trace.py
  src/sentry/api/utils.py
Due: pyupgrade, isort, flake8, mypy, check-mypy-bypass

fix tests
  src/sentry/integrations/example/integration.py
  src/sentry/integrations/github_enterprise/integration.py
  src/sentry/integrations/gitlab/integration.py
  src/sentry/integrations/tasks/migrate_repo.py
Due: pyupgrade, isort, flake8, mypy, check-mypy-bypass

chore(alerts): Update migrate metric alert comment (#75838)
  static/app/views/alerts/edit.tsx
  static/app/views/alerts/rules/metric/ruleForm.tsx
Due: biome, eslint, stylelint, prettier
