Repository getsentry/sentry: changes, and which Codecov flags are due for each by the changed paths.
All: frontend, backend, Profiling Views, Profiling Components, Profiling Utils

codecov.yml:

# Setting coverage targets per flag
coverage:
  status:
    project: false
    patch:
      frontend:
        # codecov will not fail status checks for master
        only_pulls: true
        informational: false # Fail the check
        target: 60%
        flags:
          - frontend
      backend:
        # codecov will not fail status checks for master
        only_pulls: true
        informational: false # Fail the check
        target: 90%
        flags:
          - backend
  ignore:
    - src/*/migrations/
    - src/bitfield/
    - src/sentry/debug/
    - src/sentry/lint/
    - src/sentry/runner/
    - src/social_auth/
    - static/app/routes.tsx
    - tests/

component_management:
  individual_components:
    # Profiling team components
    - component_id: 'profiling_views'
      name: 'Profiling Views'
      paths:
        - 'static/app/views/profiling/**'
    - component_id: 'profiling_components'
      name: 'Profiling Components'
      paths:
        - 'src/sentry/static/sentry/app/components/profiling/**'
    - component_id: 'profiling_utils'
      name: 'Profiling Utils'
      paths:
        - 'src/sentry/static/sentry/app/utils/profiling/**'

flags:
  frontend:
    paths:
      - 'static/app/'
    carryforward: true
    # FE uploads 4 coverage reports. This property ensures codecov waits
    # for all reports to be uploaded before creating a GitHub status check.
    # NOTE: If you change this, make sure to change `comment.after_n_builds` below as well.
    after_n_builds: 4
  backend:
    paths:
      - 'src/sentry/**/*.py'
    carryforward: true
    # Do not send any status checks until n coverage reports are uploaded.
    # NOTE: If you change this, make sure to change `comment.after_n_builds` below as well.
    after_n_builds: 18

# https://docs.codecov.com/docs/flags#two-approaches-to-flag-management
flag_management:
  individual_flags:
    - name: smart-tests
      # Prevents the upload with this flag from being copied accross commits
      carryforward: false
      # https://docs.codecov.com/docs/getting-started-with-ats#step-2-configure-the-codecovyml-for-automated-test-selection
      # carryforward_mode: "labels"
      statuses:
        # https://github.com/codecov/shared/blob/main/shared/validation/user_schema.py#L310
        - type: 'patch'
          only_pulls: true

# Read more here: https://docs.codecov.com/docs/pull-request-comments
comment:
  # This is the addition of carry forward builds and fresh builds, thus, it's the addition
  # of the FE and BE builds
  after_n_builds: 22
  layout: 'diff, files'
  # Update, if comment exists. Otherwise post new.
  behavior: default
  # Comments will only post when coverage changes. Furthermore, if a comment
  # already exists, and a newer commit results in no coverage change for the
  # entire pull, the comment will be deleted.
  require_changes: true
  require_base: true # must have a base report to post
  require_head: true # must have a head report to post

cli:
  # This would be used when uploading the ats results
  # But we will not be doing that yet
  plugins:
    pycoverage:
      report_type: 'json'
    compress-pycoverage:
      file_to_compress: '.artifacts/python.coverage.json'
      # We don't want to upload the original coverage report by accident
      # Because it's too big
      delete_uncompressed: true
  runners:
    pytest:
      # Same args used for the backend tests
      # See Makefile:135
      collect_tests_options:
        - 'tests'
        - '--ignore=tests/acceptance'
        - '--ignore=tests/apidocs'
        - '--ignore=tests/js'
        - '--ignore=tests/tools'

chore(slack): Removed Expire Url Error Check (#76352)
  src/sentry/integrations/slack/notifications.py
  src/sentry/integrations/slack/utils/errors.py
  src/sentry/integrations/slack/utils/notifications.py
  tests/sentry/integrations/slack/test_link_identity.py
Due: backend

feat(explore): Adding chart. (#76673)
  static/app/views/explore/charts/index.tsx
  static/app/views/explore/content.tsx
  static/app/views/explore/hooks/useChartInterval.spec.tsx
  static/app/views/explore/hooks/useChartInterval.tsx
  static/app/views/explore/hooks/useChartType.spec.tsx
  static/app/views/explore/hooks/useChartType.tsx
Due: frontend

fix(insights): Broken span sample search in HTTP Panel
  static/app/views/insights/http/components/httpSamplesPanel.tsx
Due: frontend

fix(PR): Apply feedback; Add test with html tags
  static/app/locale.spec.tsx
Due: frontend

chore(insights): Upgrade requests span samples panel searchbar
  static/app/views/insights/http/components/httpSamplesPanel.tsx
Due: frontend

fix(insights): Broken span sample search in HTTP Panel (#76853)
  static/app/views/insights/http/components/httpSamplesPanel.tsx
Due: frontend

fix(translations): Fix wrong ids for nested groups
  static/app/locale.spec.tsx
  static/app/locale.tsx
Due: frontend

remove old code
  static/app/views/settings/organizationSecurityAndPrivacy/index.tsx
Due: frontend

fix(issues): Avoid animating tags on initial load (#76762)
  static/app/components/group/tagFacets/tagFacetsDistributionMeter.tsx
  static/app/views/performance/transactionSummary/transactionOverview/index.spec.tsx
Due: frontend

fix tests
  tests/sentry/ownership/test_section_line.py
Due: none

feat(data-secrecy): Data Secrecy Settings UI (#75791)
  static/app/types/organization.tsx
  static/app/views/settings/components/dataSecrecy/index.spec.tsx
  static/app/views/settings/components/dataSecrecy/index.tsx
  static/app/views/settings/organizationSecurityAndPrivacy/index.spec.tsx
  static/app/views/settings/organizationSecurityAndPrivacy/index.tsx
  tests/js/fixtures/organization.ts
Due: frontend

test(ui): Use built-in test providers (#76764)
  static/app/views/discover/table/quickContext/issueContext.spec.tsx
  static/app/views/performance/landing/metricsDataSwitcher.spec.tsx
  static/app/views/performance/transactionSummary/transactionOverview/index.spec.tsx
Due: frontend

api: Mark ProguardArtifactReleasesEndpoint private (#76778)
  src/sentry/api/endpoints/debug_files.py
Due: backend

ref: Remove duration shims after files were renamed (#76824)
  static/app/utils/formatters.tsx
Due: frontend

fix(integrations): Add support for CODEOWNERS sections
  src/sentry/ownership/grammar.py
  src/sentry/ownership/section_line.py
  tests/sentry/ownership/test_grammar.py
  tests/sentry/ownership/test_section_line.py
Due: backend

feat(feedback): add a trace data section to details, with metrics and a FF
  static/app/components/feedback/feedbackItem/feedbackItem.tsx
Due: frontend

Replace hard coded pathname with useLocation
  static/app/views/issueList/customViewsHeader.tsx
  static/app/views/issueList/groupSearchViewTabs/draggableTabBar.tsx
Due: frontend

Update tags for more comprehensive CapMan payload (#76768)
  src/sentry/utils/snuba.py
Due: backend

Use useEffect
  static/app/components/feedback/feedbackItem/feedbackItem.tsx
Due: frontend

Revert "feat(releases): allow resolving in an upcoming release ui (#76377)"
  static/app/components/actions/resolve.spec.tsx
  static/app/components/actions/resolve.tsx
Due: frontend

Simplify and fix issue with unsaved changes/query equality check
  static/app/views/issueList/customViewsHeader.tsx
Due: frontend

type fixes
  src/sentry/ownership/section_line.py
Due: backend

add back feature flag check
  src/sentry/api/helpers/group_index/validators/status_details.py
  tests/snuba/api/endpoints/test_project_group_index.py
Due: backend

Use analytics instead of metrics
  static/app/components/feedback/feedbackItem/feedbackItem.tsx
  static/app/utils/analytics/feedbackAnalyticsEvents.tsx
Due: frontend

add new check to conditional
  src/sentry/models/groupresolution.py
Due: backend

feat: Create a replacement <Duration> component
  static/app/components/duration/duration.stories.tsx
  static/app/components/duration/duration.tsx
Due: frontend

fix paths and typing (minor)
  src/sentry/api/endpoints/auth_index.py
  src/sentry/users/api/serializers/user_identity_config.py
Due: backend

rm test
  tests/snuba/api/endpoints/test_project_group_index.py
Due: none

rm check
  src/sentry/api/helpers/group_index/validators/status_details.py
Due: backend
