Repository getsentry/sentry: changes, and which Codecov flags are due for each by the changed paths.
All: frontend, backend

fix: check the bucketed_time is in the index before accessing (#40931)
  src/sentry/snuba/metrics/query_builder.py
Due: backend

wip
  static/app/views/dashboardsV2/dashboard.tsx
  static/app/views/dashboardsV2/manage/dashboardList.tsx
  static/app/views/dashboardsV2/orgDashboards.tsx
  static/app/views/dashboardsV2/sortableWidget.tsx
  static/app/views/dashboardsV2/widgetCard/chart.tsx
Due: frontend

Add to projectconfigsv2 test
  tests/sentry/api/endpoints/test_relay_projectconfigs_v2.py
Due: none

chore(dashboards): Remove release widget flags frontend (#40960)
  static/app/views/dashboardsV2/controls.tsx
  static/app/views/dashboardsV2/dashboard.tsx
  static/app/views/dashboardsV2/widgetBuilder/buildSteps/dataSetStep.tsx
  static/app/views/dashboardsV2/widgetBuilder/widgetBuilder.tsx
  static/app/views/dashboardsV2/widgetBuilder/widgetBuilderDataset.spec.tsx
  static/app/views/dashboardsV2/widgetBuilder/widgetLibrary/index.tsx
Due: frontend

feat(growth): add abstract onboarding model (#40923)
  src/sentry/models/organizationonboardingtask.py
Due: backend

ref(perf): Remove suspect spans feature flag FE (#40903)
  static/app/components/events/interfaces/spans/spanDetail.tsx
  static/app/views/performance/transactionSummary/header.spec.tsx
  static/app/views/performance/transactionSummary/header.tsx
  static/app/views/performance/transactionSummary/transactionOverview/content.spec.tsx
  static/app/views/performance/transactionSummary/transactionOverview/content.tsx
  static/app/views/performance/transactionSummary/transactionOverview/index.spec.tsx
  static/app/views/performance/transactionSummary/transactionSpans/index.spec.tsx
  static/app/views/performance/transactionSummary/transactionSpans/opsFilter.spec.tsx
  static/app/views/performance/transactionSummary/transactionSpans/spanDetails/index.spec.tsx
  static/app/views/performance/transactionSummary/transactionSpans/spanDetails/index.tsx
  static/app/views/performance/transactionSummary/transactionSpans/suspectSpansTable.spec.tsx
Due: frontend

feat(growth): sandbox walkthrough start guide (#40689)
  static/app/components/assistant/getGuidesContent.tsx
  static/app/components/demo/demoHeader.tsx
  static/app/components/onboardingWizard/progressHeader.tsx
  static/app/components/onboardingWizard/sidebar.tsx
  static/app/components/onboardingWizard/task.tsx
  static/app/components/onboardingWizard/taskConfig.tsx
  static/app/components/sidebar/index.tsx
  static/app/components/sidebar/onboardingStatus.tsx
  static/app/components/stream/group.tsx
  static/app/stores/demoWalkthroughStore.tsx
  static/app/types/onboarding.tsx
  static/app/utils/demoMode.tsx
Due: frontend

getTask to useGetTasks
  static/app/components/onboardingWizard/sidebar.tsx
Due: frontend

fix(scripts): Fix 405 for wrong url for insert test snuba outcomes (#40958)
  bin/mock-outcomes
Due: none

ref(perf): Remove suspect spans feature flag BE (#40907)
  src/sentry/api/endpoints/organization_events_span_ops.py
  src/sentry/api/endpoints/organization_events_spans_performance.py
  src/sentry/conf/server.py
  src/sentry/features/__init__.py
  tests/acceptance/test_performance_span_summary.py
  tests/snuba/api/endpoints/test_organization_events_span_ops.py
  tests/snuba/api/endpoints/test_organization_events_spans_performance.py
Due: backend

fix(discover-quick-context): Minor cleanups
  static/app/views/eventsV2/table/quickContext.spec.tsx
  static/app/views/eventsV2/table/quickContext.tsx
Due: frontend

feat(metrics): Add caching to project transaction thresholds
  src/sentry/models/transaction_threshold.py
  src/sentry/search/events/datasets/function_aliases.py
Due: backend

Remove flag from tests
  static/app/views/dashboardsV2/create.spec.tsx
  static/app/views/dashboardsV2/dashboard.spec.tsx
  static/app/views/dashboardsV2/detail.spec.jsx
Due: frontend

Clean up sortableWidget
  static/app/views/dashboardsV2/dashboard.tsx
  static/app/views/dashboardsV2/sortableWidget.tsx
  static/app/views/dashboardsV2/widgetCard/chart.tsx
  static/app/views/dashboardsV2/widgetCard/index.tsx
Due: frontend

added function
  static/app/actionCreators/guides.tsx
  static/app/utils/demoMode.tsx
Due: frontend

fix(mobile-exp): Updates the mobile issue tag selector to always use the first available tag as the default selection (#40900)
  static/app/components/group/tagFacets/index.tsx
Due: frontend

Address review comments
  src/sentry/spans/grouping/strategy/base.py
  tests/sentry/spans/grouping/test_strategy.py
Due: backend

feat(monitors): Add landing panel for empty state (#40944)
  static/app/views/monitors/monitors.tsx
Due: frontend

ref: Change toast message for assigning issue to non-team member (#40854)
  static/app/components/assigneeSelector.spec.jsx
  static/app/stores/groupStore.tsx
Due: frontend

fix(hybrid-cloud): Propagate organizations:customer-domains feature if a customer domain is used (#40950)
  src/sentry/web/client_config.py
  tests/sentry/web/test_api.py
Due: backend

feat(profiling): support highlightAll querystring
  static/app/components/profiling/flamegraphZoomView.tsx
  static/app/utils/profiling/strings.ts
  static/app/views/profiling/profileDetails/utils.ts
Due: frontend

Fix types
  static/app/components/modals/widgetBuilder/addToDashboardModal.tsx
  static/app/views/dashboardsV2/widgetBuilder/buildSteps/visualizationStep.tsx
Due: frontend

WIP
  src/sentry/integrations/msteams/notifications.py
  src/sentry/integrations/notifications.py
  src/sentry/notifications/notifications/activity/base.py
  src/sentry/notifications/notifications/activity/release.py
  src/sentry/notifications/notifications/activity/release_summary.py
  src/sentry/notifications/notifications/codeowners_auto_sync.py
  src/sentry/notifications/notifications/organization_request/abstract_invite_request.py
  src/sentry/notifications/notifications/organization_request/base.py
  src/sentry/notifications/notifications/user_report.py
  src/sentry/notifications/utils/participants.py
  tests/sentry/mail/activity/test_release.py
  tests/sentry/mail/activity/test_release_summary.py
  tests/sentry/mail/test_adapter.py
Due: backend

update new function
  static/app/actionCreators/guides.tsx
  static/app/utils/demoMode.tsx
Due: frontend

feat(saved-searches): Add create saved search button to sidebar (#40939)
  static/app/views/issueList/filters.tsx
  static/app/views/issueList/overview.tsx
  static/app/views/issueList/savedIssueSearches.spec.tsx
  static/app/views/issueList/savedIssueSearches.tsx
Due: frontend

ref(feature-flag): Remove feature flag BE code for ops breakdown (#40605)
  src/sentry/conf/server.py
  src/sentry/features/__init__.py
  src/sentry/relay/config/__init__.py
  tests/relay_integration/test_integration.py
  tests/relay_integration/test_metrics_extraction.py
  tests/sentry/api/endpoints/test_relay_projectconfigs.py
  tests/sentry/api/endpoints/test_relay_projectconfigs_v2.py
  tests/sentry/relay/snapshots/test_config/test_get_project_config/full_config.pysnap
  tests/sentry/relay/test_config.py
Due: backend

chore(migrations): Remove `atomic` from migration template (#40933)
  src/sentry/new_migrations/migrations.py
  src/sentry/new_migrations/monkey/__init__.py
Due: backend

Path conditions:
  frontend: any of: static/app/
  backend: any of: src/sentry/**/*.py
