Repository getsentry/sentry: changes, and which Codecov flags are due for each by the changed paths.
All: frontend, backend, Profiling Views, Profiling Components, Profiling Utils

fix typing issues
  src/sentry/utils/sdk_crashes/sdk_crash_detection.py
  tests/sentry/utils/sdk_crashes/test_sdk_crash_detection.py
Due: backend

feat(getting-started): Add Astro onboarding (#58435)
  static/app/components/onboarding/productSelection.tsx
  static/app/data/platformPickerCategories.tsx
  static/app/data/platforms.tsx
  static/app/gettingStartedDocs/javascript/astro.spec.tsx
  static/app/gettingStartedDocs/javascript/astro.tsx
Due: frontend

feat(metrics_extraction): Feature flag to control widgets on demand extraction (#58515)
  src/sentry/conf/server.py
  src/sentry/features/__init__.py
  src/sentry/relay/config/metric_extraction.py
  tests/sentry/relay/config/test_metric_extraction.py
Due: backend

feat(ddm): 10s granularity support
  static/app/utils/metrics.tsx
  static/app/views/ddm/chart.tsx
Due: frontend

feat(metrics_extraction): Add few more device supported fields
  src/sentry/snuba/metrics/extraction.py
Due: backend

Revert "fix(alerts): use generic metrics dataset for on demand (#58510)"
  static/app/views/alerts/rules/metric/utils/getMetricDatasetQueryExtras.tsx
Due: frontend

fix(alerts): UI flow on small width devices
  static/app/views/alerts/filterBar.tsx
Due: frontend

chore(dependencies): Bump platformicons (#58566)
  package.json
  yarn.lock
Due: none

feat(ddm): 10s granularity support (#58581)
  static/app/utils/metrics.tsx
  static/app/views/ddm/chart.tsx
Due: frontend

add old config back for compatibility
  src/sentry/conf/server.py
Due: backend

chore(hybridcloud) Make on_delete statements use consistent casing (#58556)
  src/sentry/hybridcloud/models/apikeyreplica.py
  src/sentry/hybridcloud/models/apitokenreplica.py
  src/sentry/models/apikey.py
  src/sentry/models/authidentityreplica.py
  src/sentry/models/integrations/organization_integration.py
  src/sentry/models/organizationmemberteamreplica.py
  src/sentry/models/organizationslugreservation.py
  src/sentry/models/savedsearch.py
  src/sentry/models/teamreplica.py
Due: backend

More
  src/sentry/snuba/metrics/extraction.py
Due: backend

feat(hybridcloud) Add relay endpoints to region pinned list (#58558)
  src/sentry/api_gateway/api_gateway.py
  src/sentry/testutils/helpers/api_gateway.py
  tests/sentry/api_gateway/test_api_gateway.py
Due: backend

chore(statistical-detectors): Add metric to track ema relative change
  src/sentry/statistical_detectors/algorithm.py
  src/sentry/tasks/statistical_detectors.py
Due: backend

Minor automatic fixes
  src/sentry/relay/config/metric_extraction.py
  src/sentry/snuba/metrics/extraction.py
Due: backend

fix(profiling): mark extension frames as non application (#58357)
  static/app/utils/profiling/frame.spec.tsx
  static/app/utils/profiling/frame.tsx
  static/app/utils/profiling/profile/utils.spec.tsx
Due: frontend

make it optional
  src/sentry/statistical_detectors/algorithm.py
Due: backend

undo adding config to pyproject.toml
  pyproject.toml
Due: none

feat(events-stats): Add support for comparison in metrics timeseries queries
  src/sentry/snuba/metrics_performance.py
  tests/sentry/snuba/test_metrics_performance.py
Due: backend

fix(discover): failing test (#58461)
  src/sentry/search/events/datasets/spans_metrics.py
  src/sentry/snuba/metrics/naming_layer/mri.py
  src/sentry/snuba/metrics/naming_layer/public.py
  tests/sentry/snuba/metrics/fields/test_base.py
  tests/snuba/api/endpoints/test_organization_events_stats_span_metrics.py
Due: backend

ref: reorder mypy specific-message blocklist
  .github/workflows/backend.yml
Due: none

Improve
  tests/sentry/snuba/test_metrics_performance.py
Due: none

feat(metrics_extraction): Add few more device supported fields (#58582)
  src/sentry/snuba/metrics/extraction.py
Due: backend

fix(profiling): add loading and error state to flamegraph
  static/app/views/profiling/profileSummary/index.tsx
Due: frontend, Profiling Views

again fix mypy
  pyproject.toml
  src/sentry/tasks/post_process.py
Due: backend

Makes gaps between components in web vitals landing page more consistent. Also adds a hover effect to webvital meters in landing page.
  static/app/views/performance/browser/webVitals/components/webVitalMeters.tsx
  static/app/views/performance/browser/webVitals/performanceScoreChart.tsx
Due: frontend

fix(statistical-detectors): Add min change to functions regression
  src/sentry/tasks/statistical_detectors.py
Due: backend

chore(statistical-detectors): Add metric to track ema relative change (#58586)
  src/sentry/statistical_detectors/algorithm.py
  src/sentry/tasks/statistical_detectors.py
Due: backend

fix(alerts): UI flow on small width devices (#58583)
  static/app/views/alerts/filterBar.tsx
Due: frontend

Path conditions:
  frontend: any of: static/app/
  backend: any of: src/sentry/**/*.py
  Profiling Views: any of: static/app/views/profiling/**
  Profiling Components: any of: src/sentry/static/sentry/app/components/profiling/**
  Profiling Utils: any of: src/sentry/static/sentry/app/utils/profiling/**
