Repository getsentry/sentry: changes, and which Codecov flags are due for each by the changed paths.
All: frontend, backend, Profiling Views, Profiling Components, Profiling Utils

feat(processing): Report event count distribution in process_in_batches (#91678)
  src/sentry/rules/processing/buffer_processing.py
Due: backend

ref(feedback): update associated event section if no event exists (#91677)
  static/app/components/feedback/feedbackItem/crashReportSection.tsx
  static/app/utils/analytics/feedbackAnalyticsEvents.tsx
Due: frontend

ref(workflow_engine): Refactor the StatefulGroupingDetector Handler (#91246)
  src/sentry/grouping/grouptype.py
  src/sentry/incidents/grouptype.py
  src/sentry/workflow_engine/handlers/detector/__init__.py
  src/sentry/workflow_engine/handlers/detector/base.py
  src/sentry/workflow_engine/handlers/detector/stateful.py
  src/sentry/workflow_engine/models/data_condition.py
  src/sentry/workflow_engine/processors/data_packet.py
  src/sentry/workflow_engine/processors/detector.py
  src/sentry/workflow_engine/types.py
  tests/sentry/workflow_engine/endpoints/test_organization_detector_types.py
  tests/sentry/workflow_engine/handlers/detector/test_base.py
  tests/sentry/workflow_engine/processors/test_detector.py
Due: backend

ref(crons): Rename dateCreated -> dateAdded in serializer (#91665)
  src/sentry/monitors/serializers.py
Due: backend

WIP
  src/sentry/workflow_engine/handlers/detector/base.py
  src/sentry/workflow_engine/handlers/detector/stateful.py
Due: backend

Switch to `--moduleResolution bundler` and `--module preserve`, remove `@ts-ignore` comments.
  config/build-chartcuterie.ts
  config/tsconfig.base.json
  eslint.config.mjs
Due: none

link: cleanup link
  static/app/components/core/button/linkButton.tsx
  static/app/components/events/eventDataSection.tsx
  static/app/components/links/anchor.tsx
  static/app/components/links/externalLink.tsx
  static/app/components/links/link.tsx
  static/app/components/links/linkWithConfirmation.tsx
  static/app/components/links/styles.tsx
  static/app/components/quickTrace/styles.tsx
  static/app/types/group.tsx
  static/app/views/admin/adminRelays.tsx
  static/app/views/nav/primary/components.tsx
  static/app/views/settings/organizationApiKeys/organizationApiKeysList.tsx
Due: frontend

fix some merge conflicts, spelling issues, and make the code a little more readable
  src/sentry/workflow_engine/handlers/detector/stateful.py
  src/sentry/workflow_engine/types.py
Due: backend

link: add back title
  static/app/views/admin/adminRelays.tsx
Due: frontend

Update tests/sentry/api/endpoints/test_group_attachments.py
  tests/sentry/api/endpoints/test_group_attachments.py
Due: none

fix(reserved budgets): Better formatting for pending changes
  static/gsApp/utils/dataCategory.tsx
  static/gsApp/views/subscriptionPage/pendingChanges.spec.tsx
  static/gsApp/views/subscriptionPage/pendingChanges.tsx
  tests/js/getsentry-test/fixtures/am3Plans.ts
Due: none

Update static/app/views/explore/logs/index.tsx
  static/app/views/explore/logs/index.tsx
Due: frontend

chore(plugins): removing info logging
  src/sentry/sentry_apps/tasks/service_hooks.py
  src/sentry/tasks/post_process.py
Due: backend

fixing the test
  static/app/views/settings/organizationIntegrations/pluginDetailedView.spec.tsx
  static/app/views/settings/organizationIntegrations/pluginDetailedView.tsx
Due: frontend

chore(plugins): No new plugin installation - FE
  static/app/components/inactivePlugins.spec.tsx
  static/app/components/inactivePlugins.tsx
  static/app/components/pluginList.tsx
  static/app/views/settings/organizationIntegrations/pluginDetailedView.tsx
  static/app/views/settings/projectAlerts/settings.tsx
  static/app/views/settings/projectDataForwarding/index.tsx
Due: frontend

removed test
  static/app/views/settings/projectAlerts/settings.spec.tsx
Due: frontend

fixing tests
  static/app/views/settings/projectAlerts/settings.spec.tsx
  tests/acceptance/test_organization_plugin_detail_view.py
Due: frontend

link: fix aria label
  static/app/views/settings/organizationApiKeys/organizationApiKeysList.tsx
Due: frontend

fix malformed test
  static/gsApp/views/subscriptionPage/overview.spec.tsx
Due: none

WIP
  src/sentry/workflow_engine/handlers/detector/stateful.py
Due: backend

linkbutton: make either href or to required (#91649)
  static/app/components/core/button/linkButton.tsx
  static/app/components/createAlertButton.tsx
  static/gsApp/components/profiling/alerts.tsx
  static/gsApp/components/startTrialButton.tsx
  static/gsApp/components/upgradeOrTrialButton.tsx
Due: frontend

ci(jest): regenerate jest-balance.json
  tests/js/test-balancer/jest-balance.json
Due: none

feat(seer): _admin product trial management
  static/gsAdmin/components/customers/customerOverview.spec.tsx
  static/gsAdmin/components/customers/customerOverview.tsx
Due: none

add `assemble_stacktrace_component_legacy` to enhancements class
  src/sentry/grouping/enhancer/__init__.py
Due: backend

use `assemble_stacktrace_component_legacy` in legacy grouping config
  src/sentry/grouping/strategies/legacy.py
Due: backend

remove legacy special casing in `assemble_stacktrace_component`
  src/sentry/grouping/enhancer/__init__.py
Due: backend

ref: fix nullability of requires_org_level_access
  migrations_lockfile.txt
  src/sentry/migrations/0896_org_level_access_not_null.py
Due: backend

replace context with simple useLocalStorage and fix test
  static/app/views/projectInstall/createProject.tsx
  static/app/views/projects/gettingStartedWithProjectContext.tsx
  static/app/views/projects/index.tsx
Due: frontend

remove version 1 snapshot
  tests/sentry/grouping/snapshots/test_enhancer/test_basic_parsing/1.pysnap
Due: none

add comment about the key
  static/app/views/projectInstall/createProject.tsx
Due: frontend

starting to like going down this path, it means the counter updates can stay generic and stateful handlers are explicit
  src/sentry/workflow_engine/handlers/detector/stateful.py
Due: backend

fix(nextjs-insights): Prevent table from collapsing (#91671)
  static/app/views/insights/common/queries/useDiscover.ts
  static/app/views/insights/common/queries/useSpansQuery.tsx
  static/app/views/insights/pages/platform/shared/pagesTable.tsx
Due: frontend

feat(nextjs-insights): Move dropdown options into segmented control
  static/app/utils/analytics/nextJsInsightsAnalyticsEvents.tsx
  static/app/views/insights/pages/platform/nextjs/index.tsx
  static/app/views/insights/pages/platform/shared/pathsTable.tsx
Due: frontend

ref(source-maps): Remove experimental code
  static/app/bootstrap/initializeSdk.tsx
  static/app/utils/getErrorDebugIds.ts
Due: frontend

feat(source-maps): Hide loaded source maps on issue details if js platform
  static/app/components/events/eventEntry.tsx
  static/app/components/events/interfaces/debugMeta/index.tsx
  static/app/utils/platform.tsx
  static/app/views/issueDetails/groupEventDetails/groupEventDetailsContent.tsx
Due: frontend

Path conditions:
  frontend: any of: static/app/
  backend: any of: src/sentry/**/*.py
  Profiling Views: any of: static/app/views/profiling/**
  Profiling Components: any of: src/sentry/static/sentry/app/components/profiling/**
  Profiling Utils: any of: src/sentry/static/sentry/app/utils/profiling/**
