Repository getsentry/sentry: changes, and which Codecov flags are due for each by the changed paths.
All: frontend, backend, Profiling Views, Profiling Components, Profiling Utils

fix(ui2): check `organization is not None` (#103372)
  src/sentry/web/frontend/react_page.py
  tests/sentry/web/frontend/test_react_page.py
Due: backend

perf(dashboards): Fix slow re-render of ECharts objects (#103375)
  static/app/components/charts/barChart.tsx
  static/app/components/charts/baseChart.tsx
  static/app/views/dashboards/widgetCard/chart.tsx
Due: frontend

feat(ACI): Send updated data to Seer on all snuba query changes (#103332)
  src/sentry/incidents/metric_issue_detector.py
  src/sentry/seer/anomaly_detection/store_data_workflow_engine.py
  tests/sentry/incidents/endpoints/validators/test_validators.py
Due: backend

fix(aci): update hits count for workflow fire history
  src/sentry/api/paginator.py
  src/sentry/workflow_engine/endpoints/serializers/workflow_group_history_serializer.py
  tests/sentry/workflow_engine/endpoints/test_organization_workflow_group_history.py
Due: backend

fix(aci): Fix QuerySubscription deletion (#103398)
  src/sentry/deletions/defaults/querysubscription.py
Due: backend

feat(performance): Updates Web Vitals issue detection to consolidate lcp, fcp, and ttfb into a single issue (#103272)
  src/sentry/tasks/web_vitals_issue_detection.py
  src/sentry/web_vitals/issue_platform_adapter.py
  src/sentry/web_vitals/types.py
  tests/sentry/tasks/test_web_vitals_issue_detection.py
Due: backend

change request body parsing logic
  src/sentry/integrations/api/endpoints/data_forwarding_details.py
Due: backend

chore(tracemetrics): Remove unneeded trace metric from queries (#103391)
  static/app/views/explore/hooks/useProgressiveQuery.tsx
  static/app/views/explore/metrics/hooks/useMetricAggregatesTable.tsx
  static/app/views/explore/metrics/hooks/useMetricSamplesTable.spec.tsx
  static/app/views/explore/metrics/hooks/useMetricSamplesTable.tsx
  static/app/views/explore/metrics/hooks/useMetricTimeseries.tsx
  static/app/views/insights/common/queries/useSortedTimeSeries.tsx
  static/app/views/insights/common/queries/useSpansQuery.tsx
Due: frontend

fix(insights): Fix issues link
  static/app/views/insights/pages/agents/components/issuesWidget.tsx
Due: frontend

static labels
  static/app/views/preprod/buildDetails/main/buildDetailsMainContent.tsx
  static/app/views/preprod/utils/labelUtils.tsx
Due: frontend

use max_hits
  src/sentry/api/paginator.py
Due: backend

update error message
  src/sentry/integrations/api/endpoints/data_forwarding_details.py
Due: backend

fix msg again
  src/sentry/integrations/api/endpoints/data_forwarding_details.py
Due: backend

remove export
  static/app/views/detectors/components/forms/common/getDetectorAnalyticsPayload.ts
Due: frontend

test: Enable gen-ai-features flag in Prevent AI consent tests
  tests/sentry/overwatch/endpoints/test_overwatch_rpc.py
Due: none

fixes and skip failing test
  src/sentry/discover/compare_timeseries.py
  tests/sentry/discover/test_compare_timeseries.py
Due: backend

chore(preprod): Use nonblocked project_id tag for e2e metric (#103390)
  src/sentry/preprod/size_analysis/tasks.py
Due: backend

fix(insights): Fix issues table link (#103401)
  static/app/views/insights/pages/agents/components/issuesWidget.tsx
Due: frontend

feat: Force AI settings to show as off when feature flag is disabled
  static/app/views/settings/organizationGeneralSettings/aiFeatureSettings.tsx
  static/app/views/settings/organizationGeneralSettings/organizationSettingsForm.spec.tsx
  static/app/views/settings/organizationGeneralSettings/preventAiSettings.tsx
Due: frontend

another fix
  src/sentry/discover/compare_timeseries.py
  src/sentry/seer/anomaly_detection/utils.py
Due: backend

feat(ai): Check gen-ai feature flag before org-level flags in Prevent AI (#103386)
  src/sentry/overwatch/endpoints/overwatch_rpc.py
  src/sentry/seer/endpoints/seer_rpc.py
  tests/sentry/overwatch/endpoints/test_overwatch_rpc.py
  tests/sentry/seer/endpoints/test_seer_rpc.py
Due: backend

fix(ui2): overlap dropdown button
  static/app/components/dropdownMenu/index.tsx
Due: frontend

reverse activity order + scroll to bottom on new comments
  static/app/components/feedback/feedbackItem/feedbackActivitySection.tsx
  static/app/views/issueDetails/activitySection.tsx
Due: frontend

feat: Add feature flag for downsampled date page filter
  src/sentry/features/temporary.py
Due: backend

fix(replay): Add fallback ordering to replay index page (#103328)
  src/sentry/replays/usecases/query/__init__.py
  tests/sentry/replays/endpoints/test_organization_replay_index.py
Due: backend

fix(typing): add types to tagstore
  src/sentry/models/release.py
  src/sentry/models/releases/util.py
  src/sentry/tagstore/base.py
  src/sentry/tagstore/snuba/backend.py
  src/sentry/tagstore/types.py
  src/sentry/utils/snuba.py
Due: backend

chore(aci): set DetectorGroup detector to null when it's deleted (#103348)
  migrations_lockfile.txt
  src/sentry/workflow_engine/migrations/0098_detectorgroup_detector_set_null.py
  src/sentry/workflow_engine/models/detector_group.py
Due: backend

feat(autofix): Add email-based user mapping for PR review requests
  src/sentry/seer/autofix/autofix.py
  src/sentry/utils/committers.py
  tests/sentry/seer/autofix/test_autofix.py
Due: backend

first pass
  src/sentry/api/helpers/group_index/update.py
  src/sentry/models/group.py
  src/sentry/tasks/auto_resolve_issues.py
  src/sentry/workflow_engine/models/incident_groupopenperiod.py
Due: backend

Path conditions:
  frontend: any of: static/app/
  backend: any of: src/sentry/**/*.py
  Profiling Views: any of: static/app/views/profiling/**
  Profiling Components: any of: src/sentry/static/sentry/app/components/profiling/**
  Profiling Utils: any of: src/sentry/static/sentry/app/utils/profiling/**
