Repository getsentry/sentry: changes, and which Codecov flags are due for each by the changed paths.
All: frontend, backend, Profiling Views, Profiling Components, Profiling Utils

Fix index bounds check in open periods migration to handle edge cases
  src/sentry/migrations/0925_backfill_open_periods.py
  tests/sentry/migrations/test_0925_backfill_open_periods.py
Due: backend

feat(agents-insights): Add open in AI focus button
  static/app/views/performance/newTraceDetails/traceDrawer/details/span/eapSections/description.tsx
  static/app/views/performance/newTraceDetails/traceDrawer/details/span/index.tsx
  static/app/views/performance/newTraceDetails/traceDrawer/details/span/sections/description.tsx
  static/app/views/performance/newTraceDetails/traceDrawer/details/styles.tsx
  static/app/views/performance/newTraceDetails/traceDrawer/details/transaction/index.tsx
  static/app/views/performance/newTraceDetails/traceDrawer/details/transaction/sections/highlights.tsx
Due: frontend

Handle DataError in group open periods migration backfill
  src/sentry/migrations/0925_backfill_open_periods.py
  tests/sentry/migrations/test_0925_backfill_open_periods.py
Due: backend

fix icons
  package.json
  pnpm-lock.yaml
  static/app/icons/index.tsx
Due: frontend

changes AI Focus to AI View
  static/app/views/performance/newTraceDetails/traceDrawer/details/styles.tsx
Due: frontend

add sourcemaps step
  static/app/gettingStartedDocs/javascript/react-router.tsx
Due: frontend

..
  static/app/gettingStartedDocs/javascript/react-router.tsx
Due: frontend

update verify message
  static/app/gettingStartedDocs/javascript/react-router.tsx
Due: frontend

ref: Expose date added column in serializer
  src/sentry/api/serializers/models/grouptombstone.py
Due: backend

feat: Add last_seen and date_added condition comparison
  static/app/types/group.tsx
  static/app/views/settings/project/projectFilters/groupTombstones.tsx
Due: frontend

feat(agents-insights): use model icons from platformicons (#94176)
  package.json
  pnpm-lock.yaml
  static/app/icons/iconClaude.tsx
  static/app/icons/iconGemini.tsx
  static/app/icons/iconOpenAI.tsx
  static/app/icons/index.tsx
  static/app/views/insights/agentMonitoring/components/modelName.spec.tsx
  static/app/views/insights/agentMonitoring/components/modelName.tsx
  static/app/views/insights/agentMonitoring/components/modelsTable.tsx
Due: frontend

fix: porject name and badge not wrapping smaller devices
  static/app/components/updatedEmptyState.tsx
Due: frontend

fix test and fixture
  static/app/components/eventOrGroupTitle.spec.tsx
  tests/js/fixtures/tombstones.ts
Due: frontend

fix: project name and badge not wrapping smaller devices (#94267)
  static/app/components/updatedEmptyState.tsx
Due: frontend

chore(demo-mode): remove option `lookback_days`
  src/sentry/demo_mode/tasks.py
  src/sentry/options/defaults.py
Due: backend

ref: Expose date added column in serializer (#94265)
  src/sentry/api/serializers/models/grouptombstone.py
Due: backend

fix(process-spans): Skip metrics for killswitch
  src/sentry/spans/consumers/process/factory.py
Due: backend

:white_check_mark: Add tests in for changes
  static/app/components/searchQueryBuilder/index.spec.tsx
Due: frontend

:necktie: Update usage of formateFilterValue and determine if allContains
  static/app/components/searchQueryBuilder/tokens/filter/filter.tsx
Due: frontend

:necktie: Update formatFilterValue function to remove asterisk when wildcard operator is active
  static/app/components/searchQueryBuilder/tokens/filter/utils.tsx
Due: frontend

:necktie: Update formatFilterValue to take object as arg
  static/app/components/searchQueryBuilder/tokens/filter/filter.tsx
  static/app/components/searchQueryBuilder/tokens/filter/utils.tsx
  static/app/components/searchQueryBuilder/tokens/filter/valueCombobox.tsx
Due: frontend

:necktie: Fix up regex to only remove * from start and end and leave middle
  static/app/components/searchQueryBuilder/index.spec.tsx
  static/app/components/searchQueryBuilder/tokens/filter/utils.tsx
Due: frontend

:necktie: Rename arg to stripWildcards
  static/app/components/searchQueryBuilder/tokens/filter/filter.tsx
  static/app/components/searchQueryBuilder/tokens/filter/utils.tsx
Due: frontend

fix test
  static/app/components/eventOrGroupHeader.spec.tsx
Due: frontend

feat: Add last_seen and date_added condition comparison (#94266)
  static/app/components/eventOrGroupHeader.spec.tsx
  static/app/components/eventOrGroupTitle.spec.tsx
  static/app/types/group.tsx
  static/app/views/settings/project/projectFilters/groupTombstones.tsx
  tests/js/fixtures/tombstones.ts
Due: frontend

ref(process-spans): Fetch killswitch config only once
  src/sentry/killswitches.py
  src/sentry/spans/consumers/process/factory.py
  tests/sentry/test_killswitches.py
Due: backend

feat(ai-span-list): Fix attribute loading
  static/app/views/insights/agentMonitoring/components/aiSpanList.tsx
Due: frontend

feat:(search-bar): Hide asterisk character for contains ops (#93848)
  static/app/components/searchQueryBuilder/index.spec.tsx
  static/app/components/searchQueryBuilder/tokens/filter/filter.tsx
  static/app/components/searchQueryBuilder/tokens/filter/utils.tsx
  static/app/components/searchQueryBuilder/tokens/filter/valueCombobox.tsx
Due: frontend

fix: dateAdded can be null
  static/app/types/group.tsx
Due: frontend

feat(agents-insights): Add open in AI focus button (#94263)
  static/app/views/insights/agentMonitoring/components/aiSpanList.tsx
  static/app/views/performance/newTraceDetails/traceDrawer/details/span/eapSections/description.tsx
  static/app/views/performance/newTraceDetails/traceDrawer/details/span/index.tsx
  static/app/views/performance/newTraceDetails/traceDrawer/details/span/sections/description.tsx
  static/app/views/performance/newTraceDetails/traceDrawer/details/styles.tsx
  static/app/views/performance/newTraceDetails/traceDrawer/details/transaction/index.tsx
  static/app/views/performance/newTraceDetails/traceDrawer/details/transaction/sections/highlights.tsx
Due: frontend

feat(admin): Expose global relay config on project config API
  src/sentry/api/endpoints/admin_project_configs.py
  tests/sentry/api/endpoints/test_admin_project_configs.py
Due: backend

Remove unused variable in migration test
  tests/sentry/migrations/test_0925_backfill_open_periods.py
Due: none

fix(ai): Add silo mode to tasks
  src/sentry/conf/server.py
  src/sentry/tasks/ai_agent_monitoring.py
Due: backend

fix: Replace date comparison with number of events
  static/app/views/settings/project/projectFilters/groupTombstones.tsx
Due: frontend

Path conditions:
  frontend: any of: static/app/
  backend: any of: src/sentry/**/*.py
  Profiling Views: any of: static/app/views/profiling/**
  Profiling Components: any of: src/sentry/static/sentry/app/components/profiling/**
  Profiling Utils: any of: src/sentry/static/sentry/app/utils/profiling/**
