Repository getsentry/sentry: changes, and which Codecov flags are due for each by the changed paths.
All: frontend, backend, Profiling Views, Profiling Components, Profiling Utils

Path conditions:
  frontend: any of: static/app/
  backend: any of: src/sentry/**/*.py
  Profiling Views: any of: static/app/views/profiling/**
  Profiling Components: any of: src/sentry/static/sentry/app/components/profiling/**
  Profiling Utils: any of: src/sentry/static/sentry/app/utils/profiling/**

Fix test
  static/app/views/issueList/pages/awaitingInput.spec.tsx
Due: frontend

fix(search): edit chips in place and keep the input usable
  static/app/components/searchQueryBuilder/index.spec.tsx
  static/app/components/searchQueryBuilder/tokens/combobox.tsx
  static/app/components/searchQueryBuilder/tokens/filter/valueCombobox.tsx
Due: frontend

ref(redis): Upgrade redis-py 3.4.1 -> 4.x and drop redis-py-cluster
  pyproject.toml
  src/sentry/auth/idpmigration.py
  src/sentry/buffer/redis.py
  src/sentry/conf/server.py
  src/sentry/deletions/tasks/hybrid_cloud.py
  src/sentry/dynamic_sampling/rules/utils.py
  src/sentry/hybridcloud/tasks/backfill_outboxes.py
  src/sentry/monitors/processing_errors/manager.py
  src/sentry/processing/backpressure/memory.py
  src/sentry/ratelimits/concurrent.py
  src/sentry/ratelimits/leaky_bucket.py
  src/sentry/ratelimits/redis.py
  src/sentry/ratelimits/sliding_windows.py
  src/sentry/seer/code_review/webhooks/handlers.py
  src/sentry/spans/buffer.py
  src/sentry/spans/buffer_logger.py
  src/sentry/spans/buffer_store.py
  src/sentry/spans/consumers/process_segments/factory.py
  src/sentry/spans/debug_trace_logger.py
  src/sentry/tasks/seer/night_shift/skip_cache.py
  src/sentry/tasks/summaries/weekly_report_cache.py
  src/sentry/tasks/summaries/weekly_reports.py
  src/sentry/tsdb/redis.py
  src/sentry/utils/exceptions.py
  src/sentry/utils/kvstore/redis.py
  src/sentry/utils/locking/backends/redis.py
  src/sentry/utils/redis.py
  src/sentry/utils/sentry_apps/request_buffer.py
  src/sentry/utils/snowflake.py
  src/sentry/workflow_engine/buffer/redis_hash_sorted_set_buffer.py
  tests/sentry/utils/test_exceptions.py
  uv.lock
Due: backend

fix(web): scope agent discovery views to control silo
  src/sentry/web/api.py
  static/app/data/controlsiloUrlPatterns.ts
  tests/apigw/test_routing.py
  tests/sentry/web/test_api.py
Due: frontend, backend

feat(dashboards): Place round ticks on heat map Y-axis
  static/app/views/dashboards/widgets/heatMapWidget/heatMapWidgetVisualization.tsx
Due: frontend

Fix one last test
  static/app/views/issueDetails/issuePreview/issuePreviewDrawer.spec.tsx
Due: frontend

ref: remove organizations:heat-map-unfurl feature flag
  src/sentry/features/temporary.py
Due: backend

feat(dashboards): Place round ticks on heat map Y-axis in Chartcuterie
  static/app/chartcuterie/heatmaps.tsx
Due: frontend

feat(validate): use the filter mode
  src/sentry/api/endpoints/organization_events_validate.py
Due: backend

Wrap monitoring provider disconnect logic with transaction
  src/sentry/api/endpoints/organization_monitoring_provider_details.py
Due: backend

fix(plugins): Remove setup.cfg entry points and remaining sentry_plugins references
  .github/codeowners-coverage-baseline.txt
  setup.cfg
  src/sentry/conf/server.py
  tests/sentry/test_devimports.py
Due: backend

Avoid redundant `Identity` re-query in `MonitoringIdentityPipeline`
  src/sentry/identity/pipeline.py
Due: backend

refactor(claude-code): Consolidate client construction through integration
  src/sentry/seer/autofix/coding_agent.py
  tests/sentry/seer/autofix/test_coding_agent.py
Due: backend

feat(dashboards): Place ticks on natural time boundaries on heat map X-axis
  static/app/chartcuterie/heatmaps.tsx
  static/app/views/dashboards/widgets/heatMapWidget/heatMapWidgetVisualization.tsx
Due: frontend

fix(plugins): Clean up stale codeowners entries for deleted plugin files
  .github/codeowners-coverage-baseline.txt
  pyproject.toml
Due: none

add recommended sort-esque design for weekly report
  src/sentry/features/temporary.py
  src/sentry/options/defaults.py
  src/sentry/snuba/referrer.py
  src/sentry/tasks/summaries/utils.py
  src/sentry/tasks/summaries/weekly_reports.py
  tests/sentry/tasks/test_weekly_reports.py
Due: backend

simplify actionability using postgres-only. also weaklist fix
  src/sentry/options/defaults.py
  src/sentry/snuba/referrer.py
  src/sentry/tasks/summaries/utils.py
  src/sentry/tasks/summaries/weekly_reports.py
  tests/sentry/tasks/test_weekly_reports.py
Due: backend

perf(issues): Use stored PR status for linked PRs
  src/sentry/issues/endpoints/group_pull_requests.py
  tests/sentry/issues/endpoints/test_group_pull_requests.py
Due: backend

fix: s/Filter/Match/
  src/sentry/api/endpoints/organization_events_validate.py
Due: backend

fix(issues): Keep PR status fallback for old linked PRs
  src/sentry/issues/endpoints/group_pull_requests.py
  tests/sentry/issues/endpoints/test_group_pull_requests.py
Due: backend

Increase commit limit, put limit and date bounds in-query, paginate query
  src/sentry/utils/committers.py
  tests/sentry/utils/test_committers.py
Due: backend

ref(integrations): drive auto-open install modal from the install button
  static/app/utils/integrations/useAutoOpenInstallModal.tsx
  static/app/views/settings/organizationIntegrations/addIntegrationButton.tsx
  static/app/views/settings/organizationIntegrations/autoOpenInstallModal.tsx
  static/app/views/settings/organizationIntegrations/integrationDetailedView.tsx
Due: frontend

fix(alerts): Return fallthrough type
  src/sentry/api/serializers/models/rule.py
Due: backend

select related org
  src/sentry/tasks/merge.py
Due: backend

✨ support iteration activity
  src/sentry/notifications/notification_action/activity_registry/sentry_app.py
  src/sentry/notifications/platform/templates/workflow_engine/activity/__init__.py
  src/sentry/notifications/platform/templates/workflow_engine/activity/seer_base.py
  src/sentry/notifications/platform/templates/workflow_engine/activity/seer_iteration_completed.py
  src/sentry/notifications/platform/templates/workflow_engine/activity/seer_iteration_started.py
  src/sentry/notifications/platform/types.py
  src/sentry/types/activity.py
  src/sentry/workflow_engine/handlers/condition/seer_activity_trigger_handler.py
  static/app/views/automations/components/actionFilters/seerActivityTrigger.tsx
  tests/sentry/workflow_engine/handlers/condition/test_seer_activity_trigger_handler.py
Due: frontend, backend

test(issues): Simplify linked PR status coverage
  src/sentry/issues/endpoints/group_pull_requests.py
  tests/sentry/issues/endpoints/test_group_pull_requests.py
Due: backend

add comments for clarity
  src/sentry/tasks/summaries/utils.py
Due: backend

fix(autofix): dedup github PR-iteration feedback at consume time
  src/sentry/tasks/seer/autofix.py
  tests/sentry/tasks/seer/test_autofix.py
Due: backend

✏️ small updates
  src/sentry/notifications/notification_action/activity_registry/sentry_app.py
  src/sentry/notifications/platform/templates/workflow_engine/activity/seer_iteration_completed.py
  tests/sentry/notifications/notification_action/activity_registry/test_base.py
  tests/sentry/notifications/notification_action/activity_registry/test_sentry_app.py
Due: backend

just do it once
  src/sentry/tasks/merge.py
Due: backend

group has select related org on it and will be the same org
  src/sentry/tasks/merge.py
Due: backend

✏️ copy update
  static/app/views/automations/components/actionFilters/seerActivityTrigger.tsx
Due: frontend

Avoid N+1 queries
  src/sentry/seer/agent/tools.py
Due: backend

feat(seer): Send connected repos to night-shift triage
  src/sentry/seer/night_shift/models.py
  src/sentry/tasks/seer/night_shift/cron.py
  tests/sentry/tasks/seer/test_night_shift.py
Due: backend

fix select related to be on the new group
  src/sentry/tasks/merge.py
Due: backend

chore(autofix): add rendering for PR Iteration activities
  static/app/types/group.tsx
  static/app/views/issueDetails/activitySection/activityColorConfig.tsx
  static/app/views/issueDetails/activitySection/groupActivityIcons.tsx
  static/app/views/issueDetails/activitySection/groupActivityItem.tsx
  static/app/views/issueDetails/activitySection/index.spec.tsx
Due: frontend

feat(outbox) Enable selective outbox backfills from control
  src/sentry/hybridcloud/options.py
  src/sentry/hybridcloud/tasks/backfill_outboxes.py
  tests/sentry/hybridcloud/tasks/test_backfill_outboxes.py
Due: backend

feat(seer): Restrict night shift to an org's allowed project slugs
  src/sentry/tasks/seer/night_shift/cron.py
  src/sentry/tasks/seer/night_shift/tweaks.py
  tests/sentry/tasks/seer/test_night_shift.py
Due: backend

convert to class
  src/sentry/seer/agent/tools.py
Due: backend
