Repository getsentry/sentry: changes, and which Codecov flags are due for each by the changed paths.
All: frontend, backend, Profiling Views, Profiling Components, Profiling Utils

Path conditions:
  frontend: any of: static/app/
  backend: any of: src/sentry/**/*.py
  Profiling Views: any of: static/app/views/profiling/**
  Profiling Components: any of: src/sentry/static/sentry/app/components/profiling/**
  Profiling Utils: any of: src/sentry/static/sentry/app/utils/profiling/**

Refactor useCopyIssueDetails to accept a props obj, instead of N args
  static/app/views/issueDetails/groupEventDetails/groupEventDetailsContent.tsx
  static/app/views/issueDetails/streamline/hooks/useCopyIssueDetails.spec.tsx
  static/app/views/issueDetails/streamline/hooks/useCopyIssueDetails.tsx
Due: frontend

Refactor useReplaySummary to accept a props obj, instead of N args
  static/app/views/replays/detail/ai/replaySummaryContext.tsx
  static/app/views/replays/detail/ai/useReplaySummary.spec.tsx
  static/app/views/replays/detail/ai/useReplaySummary.tsx
Due: frontend

Refactor useEventColumns to accept a props obj, instead of N args
  static/app/views/issueDetails/allEventsTable.tsx
  static/app/views/issueDetails/streamline/eventList.spec.tsx
  static/app/views/issueDetails/streamline/eventList.tsx
Due: frontend

Refactor useStreamingTimeseriesResult to accept a props obj, instead of N args
  static/app/views/explore/logs/useLogsTimeseries.tsx
  static/app/views/explore/logs/useStreamingTimeseriesResult.spec.tsx
  static/app/views/explore/logs/useStreamingTimeseriesResult.tsx
Due: frontend

Refactor make a testable version of useFetchEventsTimeSeries to play better with renderHook
  static/app/utils/timeSeries/useFetchEventsTimeSeries.spec.tsx
Due: frontend

fine-grained subscription for RHF and formisch
  static/app/components/core/form/form.stories.tsx
Due: frontend

pass refs for rhf
  static/app/components/core/form/form.stories.tsx
  static/app/components/core/form/index.rhf.tsx
Due: frontend

rename tanstack
  static/app/components/core/form/form.stories.tsx
  static/app/components/core/form/index.tanstack.tsx
Due: frontend

fix: make sure aria-invalid is forwarded to react-select's input
  static/app/components/core/form/index.tanstack.tsx
Due: frontend

modeAfterSubmission: 'change'
  static/app/components/core/form/form.stories.tsx
Due: frontend

share revalidateLogic
  static/app/components/core/form/form.stories.tsx
  static/app/components/core/form/index.tanstack.tsx
Due: frontend

fix: select
  static/app/components/core/form/index.formisch.tsx
Due: frontend

feat(search): Add team: filter for issues by project ownership
  src/sentry/issues/issue_search.py
  src/sentry/search/snuba/backend.py
  tests/snuba/search/test_backend.py
Due: backend

fix(cursor): Validate API key when setting up Cursor integration
  src/sentry/integrations/cursor/integration.py
  tests/sentry/integrations/cursor/test_integration.py
Due: backend

fix types
  static/app/components/forms/fields/choiceMapperField.tsx
  static/app/components/forms/fields/tableField.tsx
Due: frontend

ref(settings): Refactor getsentry specific settings wrapepr to have simpler props
  static/gsApp/views/cancelSubscription.tsx
  static/gsApp/views/subscriptionPage/components/subscriptionPageContainer.tsx
  static/gsApp/views/subscriptionPage/overview.tsx
Due: none

ref(api): Require the use of getApiUrl() with ApiQueryKey
  static/app/utils/queryClient.tsx
Due: frontend

Add some docs
  src/sentry/scripts/spans/add-buffer.lua
  src/sentry/spans/README.md
Due: none

ref(flagpole): remove legacy owner schema
  src/flagpole/__init__.py
  src/flagpole/flagpole-schema.json
  tests/flagpole/test_flagpole_eval.py
Due: none

add some missing getsentry api urls to the list
  static/app/utils/api/apiOptions.ts
  static/app/utils/api/knownGetsentryApiUrls.ts
Due: frontend

fix tests
  src/sentry/testutils/helpers/github.py
  tests/sentry/seer/code_review/webhooks/test_pull_request.py
Due: backend

fix test
  tests/sentry/seer/code_review/test_preflight.py
Due: none

cleanup
  static/app/views/insights/pages/agents/components/aiSpanList.tsx
  static/app/views/insights/pages/conversations/components/conversationDrawer.tsx
  static/app/views/insights/pages/conversations/hooks/useConversation.tsx
Due: frontend

deslop
  static/app/views/insights/pages/agents/components/aiSpanList.tsx
Due: frontend

fixes
  static/app/views/insights/pages/agents/components/aiSpanList.tsx
  static/app/views/insights/pages/conversations/hooks/useConversation.tsx
Due: frontend

remove unused
  static/app/views/insights/pages/agents/hooks/useAITrace.tsx
Due: frontend

feat: Show details when there are any for sending test notifications (#106362)
  static/app/views/automations/hooks/index.tsx
Due: frontend

feat(usageStats): Add new `ignored` client discard reason (#106251)
  static/app/views/organizationStats/getReasonGroupName.spec.ts
  static/app/views/organizationStats/getReasonGroupName.ts
Due: frontend

fixes
  static/app/views/insights/pages/conversations/components/conversationDrawer.tsx
  static/app/views/insights/pages/conversations/components/messagesPanel.tsx
Due: frontend

feat(objectstore): Try Django request.body when proxying
  src/sentry/hybridcloud/apigateway/proxy.py
  src/sentry/objectstore/endpoints/organization.py
Due: backend

improve
  src/sentry/objectstore/endpoints/organization.py
Due: backend

chore(feedback): re-assign sessions feedback to replay team
  static/app/views/insights/pages/domainViewHeader.tsx
Due: frontend

Add Metrics to Java onboarding
  static/app/components/onboarding/productSelection.tsx
  static/app/gettingStartedDocs/java-log4j2/index.tsx
  static/app/gettingStartedDocs/java-log4j2/onboarding.tsx
  static/app/gettingStartedDocs/java-logback/index.tsx
  static/app/gettingStartedDocs/java-logback/onboarding.tsx
  static/app/gettingStartedDocs/java-spring-boot/index.tsx
  static/app/gettingStartedDocs/java-spring-boot/onboarding.tsx
  static/app/gettingStartedDocs/java-spring/index.tsx
  static/app/gettingStartedDocs/java-spring/onboarding.tsx
  static/app/gettingStartedDocs/java/index.tsx
  static/app/gettingStartedDocs/java/metrics.tsx
  static/app/gettingStartedDocs/java/onboarding.tsx
Due: frontend

feat(ai-insights): support tool.call attribute
  static/app/views/performance/newTraceDetails/traceDrawer/details/span/eapSections/aiInput.tsx
  static/app/views/performance/newTraceDetails/traceDrawer/details/span/eapSections/aiOutput.tsx
Due: frontend

feat(ai-insights): support tool.call attribute (#106509)
  static/app/views/performance/newTraceDetails/traceDrawer/details/span/eapSections/aiInput.tsx
  static/app/views/performance/newTraceDetails/traceDrawer/details/span/eapSections/aiOutput.tsx
Due: frontend

feat(preprod): Check quota available in preprod assemble (#106455)
  src/sentry/preprod/api/endpoints/organization_preprod_artifact_assemble.py
  src/sentry/preprod/exceptions.py
  src/sentry/preprod/tasks.py
  tests/sentry/preprod/api/endpoints/test_organization_preprod_artifact_assemble.py
  tests/sentry/preprod/test_tasks.py
Due: backend
