Repository getsentry/sentry: changes, and which Codecov flags are due for each by the changed paths.
All: frontend, backend, Profiling Views, Profiling Components, Profiling Utils

codecov.yml:

# Setting coverage targets per flag
coverage:
  status:
    project: false
    patch:
      frontend:
        # codecov will not fail status checks for master
        only_pulls: true
        informational: false # Fail the check
        target: 60%
        flags:
          - frontend
      backend:
        # codecov will not fail status checks for master
        only_pulls: true
        informational: false # Fail the check
        target: 90%
        flags:
          - backend
  ignore:
    - src/*/migrations/
    - src/bitfield/
    - src/sentry/debug/
    - src/sentry/lint/
    - src/sentry/runner/
    - src/social_auth/
    - static/app/routes.tsx
    - tests/

component_management:
  individual_components:
    # Profiling team components
    - component_id: 'profiling_views'
      name: 'Profiling Views'
      paths:
        - 'static/app/views/profiling/**'
    - component_id: 'profiling_components'
      name: 'Profiling Components'
      paths:
        - 'src/sentry/static/sentry/app/components/profiling/**'
    - component_id: 'profiling_utils'
      name: 'Profiling Utils'
      paths:
        - 'src/sentry/static/sentry/app/utils/profiling/**'

flags:
  frontend:
    paths:
      - 'static/app/'
    carryforward: true
    # FE uploads 4 coverage reports. This property ensures codecov waits
    # for all reports to be uploaded before creating a GitHub status check.
    # NOTE: If you change this, make sure to change `comment.after_n_builds` below as well.
    after_n_builds: 4
  backend:
    paths:
      - 'src/sentry/**/*.py'
    carryforward: true
    # Do not send any status checks until n coverage reports are uploaded.
    # NOTE: If you change this, make sure to change `comment.after_n_builds` below as well.
    after_n_builds: 18

# https://docs.codecov.com/docs/flags#two-approaches-to-flag-management
flag_management:
  individual_flags:
    - name: smart-tests
      # Prevents the upload with this flag from being copied accross commits
      carryforward: false
      # https://docs.codecov.com/docs/getting-started-with-ats#step-2-configure-the-codecovyml-for-automated-test-selection
      # carryforward_mode: "labels"
      statuses:
        # https://github.com/codecov/shared/blob/main/shared/validation/user_schema.py#L310
        - type: 'patch'
          only_pulls: true

# Read more here: https://docs.codecov.com/docs/pull-request-comments
comment:
  # This is the addition of carry forward builds and fresh builds, thus, it's the addition
  # of the FE and BE builds
  after_n_builds: 22
  layout: 'diff, files'
  # Update, if comment exists. Otherwise post new.
  behavior: default
  # Comments will only post when coverage changes. Furthermore, if a comment
  # already exists, and a newer commit results in no coverage change for the
  # entire pull, the comment will be deleted.
  require_changes: true
  require_base: true # must have a base report to post
  require_head: true # must have a head report to post

cli:
  # This would be used when uploading the ats results
  # But we will not be doing that yet
  plugins:
    pycoverage:
      report_type: 'json'
    compress-pycoverage:
      file_to_compress: '.artifacts/python.coverage.json'
      # We don't want to upload the original coverage report by accident
      # Because it's too big
      delete_uncompressed: true
  runners:
    pytest:
      # Same args used for the backend tests
      # See Makefile:135
      collect_tests_options:
        - 'tests'
        - '--ignore=tests/acceptance'
        - '--ignore=tests/apidocs'
        - '--ignore=tests/js'
        - '--ignore=tests/tools'

fix(consumers): Handle passed in cluster overrides
  src/sentry/consumers/__init__.py
Due: backend

rename to durationMS
  static/app/components/replays/replayContext.tsx
  static/app/components/replays/videoReplayer.spec.tsx
  static/app/components/replays/videoReplayer.tsx
Due: frontend

Remove extra slash in path
  static/app/views/performance/landing/widgets/widgets/mobileReleaseComparisonListWidget.tsx
Due: frontend

feat(integrations): allow to rotate client secret from frontend
  static/app/views/settings/organizationDeveloperSettings/sentryApplicationDetails.spec.tsx
  static/app/views/settings/organizationDeveloperSettings/sentryApplicationDetails.tsx
Due: frontend

build(ui): Remove crypto-browserify (#69107)
  package.json
  webpack.config.ts
  yarn.lock
Due: none

ref(crons): Notify user that monitor will be disabled after broken
  src/sentry/templates/sentry/emails/crons/broken-monitors.html
  src/sentry/templates/sentry/emails/crons/broken-monitors.txt
Due: none

rm ignore
  src/sentry/rules/conditions/event_frequency.py
Due: backend

fix(ui): Use link hover color on focus
  static/app/styles/global.tsx
Due: frontend

fix(ui): Fix missing focus-visible selectors (#69108)
  static/app/components/feedback/feedbackItem/feedbackShortId.tsx
  static/app/components/forms/fields/datePickerField.tsx
  static/app/components/interactionStateLayer.tsx
  static/app/components/organizations/pageFilterBar.tsx
  static/app/components/segmentedControl.tsx
  static/app/components/tabs/tab.tsx
  static/app/views/issueDetails/shortIdBreadcrumb.tsx
Due: frontend

fix typing
  src/sentry/integrations/slack/service.py
Due: backend

ref(crons): Remove footer on crons broken monitor email
  src/sentry/templates/sentry/emails/crons/broken-monitors.html
Due: none

fix(ui): Use link hover color on focus (#69117)
  static/app/styles/global.tsx
Due: frontend

ref(crons): Remove inline grid column values for styled component (#69070)
  static/app/views/monitors/components/monitorCreateForm.tsx
Due: frontend

ref(replays): add error boundaries around breadcrumb rows (#69110)
  static/app/components/replays/breadcrumbs/breadcrumbItem.tsx
Due: frontend

💄 Better placeholder
  static/app/data/forms/projectGeneralSettings.tsx
Due: frontend

fix(feedback): update_user_reports to shim feedback (#68317)
  src/sentry/ingest/userreport.py
  src/sentry/tasks/update_user_reports.py
  src/sentry/web/frontend/error_page_embed.py
  tests/sentry/api/endpoints/test_project_user_reports.py
  tests/sentry/tasks/test_update_user_reports.py
  tests/sentry/web/frontend/test_error_page_embed.py
Due: backend

feat(ui): Remove crypto-js from gravatar
  package.json
  static/app/components/avatar/gravatar.spec.tsx
  static/app/components/avatar/gravatar.tsx
  tests/js/setup.ts
  yarn.lock
Due: frontend

created ff for options
  src/sentry/conf/server.py
  src/sentry/features/temporary.py
Due: backend

ref(crons): Notify user that monitor will be disabled after broken (#69114)
  src/sentry/templates/sentry/emails/crons/broken-monitors.html
  src/sentry/templates/sentry/emails/crons/broken-monitors.txt
Due: none

add api owner
  src/sentry/api/endpoints/organization_transaction_details.py
Due: backend

feat(backup): Add auto-sanitization
  src/sentry/db/models/base.py
  tests/sentry/backup/test_sanitize.py
Due: backend

set default to true
  src/sentry/conf/server.py
Due: backend

ref(crons): Remove footer on crons broken monitor email (#69119)
  src/sentry/templates/sentry/emails/crons/broken-monitors.html
Due: none

deps(ui): Remove ua-parser-js dependency
  package.json
  yarn.lock
Due: none

fix test typing
  tests/snuba/api/endpoints/test_organization_transaction_details.py
Due: none

fix(cleanup) Fix silo mode handling of cleanup
  src/sentry/runner/commands/cleanup.py
Due: backend

ref(rules): Update typing in rule files (#69068)
  src/sentry/api/endpoints/project_rules_configuration.py
  src/sentry/buffer/redis.py
  src/sentry/rules/base.py
  src/sentry/rules/conditions/event_frequency.py
  src/sentry/rules/processing/processor.py
  tests/sentry/rules/processing/test_processor.py
Due: backend

ref(perf): Accept `MutableQuery` in `useIndexedSpans` (#69043)
  static/app/utils/tokenizeSearch.spec.tsx
  static/app/utils/tokenizeSearch.tsx
  static/app/views/performance/browser/webVitals/utils/queries/useInpSpanSamplesWebVitalsQuery.tsx
  static/app/views/performance/http/httpSamplesPanel.tsx
  static/app/views/starfish/components/spanDescription.tsx
  static/app/views/starfish/queries/useFullSpanFromTrace.tsx
  static/app/views/starfish/queries/useIndexedSpans.spec.tsx
  static/app/views/starfish/queries/useIndexedSpans.tsx
  static/app/views/starfish/types.tsx
Due: frontend

Fetch data for the span header from span metrics dataset
  static/app/views/performance/transactionSummary/transactionSpans/spanSummary/spanSummaryHeader.tsx
Due: frontend

scope down the error type
  src/sentry/integrations/slack/service.py
Due: backend
