Repository getsentry/sentry: changes, and which Codecov flags are due for each by the changed paths.
All: frontend, backend, Profiling Views, Profiling Components, Profiling Utils

codecov.yml:

codecov:
  notify:
    # The minimum amount of codecov reporting checks that need to complete
    # For FE we have 5 checks and for BE we have 11
    # TODO: Remove this when we have support of after_n_builds per flag
    after_n_builds: 5

# Setting coverage targets per flag
coverage:
  status:
    project:
      default: false
    patch:
      default: false
      frontend:
        # codecov will not fail status checks for master
        only_pulls: true
        # This will be needed until codecov supports after_n_builds for flags
        informational: true # Do not fail the check
        target: 60%
        flags:
        - frontend
      backend:
        # codecov will not fail status checks for master
        only_pulls: true
        # This will be needed until codecov supports after_n_builds for flags
        informational: true # Do not fail the check
        target: 90%
        flags:
          - backend
  ignore:
  - src/*/migrations/
  - src/bitfield/
  - src/sentry/debug/
  - src/sentry/lint/
  - src/sentry/runner/
  - src/social_auth/
  - static/app/routes.tsx
  - tests/

component_management:
    individual_components:
      # Profiling team components
      - component_id: "profiling_views"
        name: "Profiling Views"
        paths:
          - "static/app/views/profiling/**"
      - component_id: "profiling_components"
        name: "Profiling Components"
        paths:
          - "src/sentry/static/sentry/app/components/profiling/**"
      - component_id: "profiling_utils"
        name: "Profiling Utils"
        paths:
          - "src/sentry/static/sentry/app/utils/profiling/**"

flags:
  frontend:
    paths:
    - "static/app/"
    carryforward: true
  backend:
    paths:
    - "src/sentry/**/*.py"
    carryforward: true

# Read more here: https://docs.codecov.com/docs/pull-request-comments
comment:
  # after_n_builds declared in flags cannot control when to make comments
  # A value of 11 will mean that only BE PRs will get a comment (only if the score changes)
  # XXX: Once commenting pays attention to the value in flags we can add comments to FE PRs
  after_n_builds: 11
  layout: "diff, files"
  # Update, if comment exists. Otherwise post new.
  behavior: default
  # Comments will only post when coverage changes. Furthermore, if a comment
  # already exists, and a newer commit results in no coverage change for the
  # entire pull, the comment will be deleted.
  require_changes: true
  require_base: yes # must have a base report to post
  require_head: yes # must have a head report to post

fix(starfish): Fix missing feature flag crashing the app (#51881)
  static/app/views/starfish/views/webServiceView/spanGroupBreakdown.tsx
Due: frontend

fix: Typing
  src/sentry/tasks/merge.py
  tests/sentry/issues/test_merge.py
Due: backend

fix(issue-search): Fix searching on message for all issue platform types (#51848)
  src/sentry/search/snuba/backend.py
  tests/snuba/search/test_backend.py
Due: backend

add comment
  src/sentry/notifications/notifications/rules.py
Due: backend

one more
  src/sentry/tasks/post_process.py
Due: backend

chore(issue-platform): Clean up more perf issue specific code
  src/sentry/api/serializers/models/event.py
  src/sentry/integrations/message_builder.py
  src/sentry/integrations/mixins/issues.py
  src/sentry/notifications/utils/__init__.py
Due: backend

fix tests
  src/sentry/api/serializers/models/event.py
Due: backend

more unused branches
  src/sentry/eventstore/models.py
  src/sentry/integrations/github/issues.py
  src/sentry/integrations/jira/integration.py
  src/sentry/integrations/message_builder.py
  src/sentry/integrations/mixins/issues.py
  src/sentry/integrations/slack/message_builder/base/base.py
  src/sentry/notifications/notifications/rules.py
  src/sentry/notifications/utils/__init__.py
Due: backend

lint
  src/sentry/notifications/utils/__init__.py
Due: backend

Revert "ref: Make eventstore.processing use LazyServiceWrapper (#51870)"
  src/sentry/eventstore/processing/__init__.py
  src/sentry/eventstore/processing/base.py
  src/sentry/eventstore/processing/bigtable.py
  src/sentry/eventstore/processing/default.py
  src/sentry/eventstore/processing/redis.py
Due: backend

Update the selected project in route and pagefilter
  static/app/views/starfish/components/starfishProjectSelector.tsx
Due: frontend

fix(muting-metric-alerts): Prevent re-fetch of data when muting (#51829)
  static/app/views/alerts/rules/metric/details/index.tsx
Due: frontend

Dont truncate project names
  static/app/views/starfish/components/starfishProjectSelector.tsx
  static/app/views/starfish/views/webServiceView/starfishLanding.tsx
Due: frontend

fix(search-suggestions): Send analytics on recommendation
  static/app/components/smartSearchBar/index.tsx
  static/app/utils/analytics/searchAnalyticsEvents.tsx
  static/app/views/issueList/searchBar.tsx
Due: frontend

fix tests
  src/sentry/search/events/builder/metrics.py
  src/sentry/sentry_metrics/utils.py
  src/sentry/snuba/metrics/fields/base.py
  src/sentry/snuba/metrics/query_builder.py
  src/sentry/testutils/cases.py
  tests/sentry/snuba/metrics/test_metrics_layer/test_metrics_enhanced_performance.py
  tests/sentry/snuba/metrics/test_metrics_layer/test_release_health.py
  tests/sentry/snuba/metrics/test_query_builder.py
  tests/sentry/snuba/test_entity_subscriptions.py
Due: backend

ref(hc): Call determine_member_recipients directly
  src/sentry/notifications/notifications/organization_request/base.py
Due: backend

change query param for rule id
  src/sentry/integrations/message_builder.py
Due: backend

Fix oopsie
  src/sentry/integrations/discord/integration.py
Due: backend

feat(github-comments): comment bot org option toggle frontend (#50746)
  static/app/types/organization.tsx
  static/app/views/settings/organizationGeneralSettings/index.spec.tsx
  static/app/views/settings/organizationGeneralSettings/organizationSettingsForm.spec.jsx
  static/app/views/settings/organizationGeneralSettings/organizationSettingsForm.tsx
Due: frontend

Gray italics for non-native stacktrace
  static/app/components/events/interfaces/frame/deprecatedLine.tsx
Due: frontend

Remove System tag
  static/app/components/events/interfaces/frame/deprecatedLine.tsx
Due: frontend

ref: rename some modules to avoid no-redef mypy warning
  pyproject.toml
  src/sentry/plugins/base/__init__.py
  src/sentry/plugins/base/binding_manager.py
  src/sentry/tasks/integrations/__init__.py
  src/sentry/tasks/integrations/sync_assignee_outbound_impl.py
Due: backend

chore(issue-platform): Clean up more perf issue specific code (#49732)
  pyproject.toml
  src/sentry/api/serializers/models/event.py
  src/sentry/eventstore/models.py
  src/sentry/integrations/github/issues.py
  src/sentry/integrations/jira/integration.py
  src/sentry/integrations/message_builder.py
  src/sentry/integrations/mixins/issues.py
  src/sentry/integrations/slack/message_builder/base/base.py
  src/sentry/notifications/notifications/rules.py
  src/sentry/notifications/utils/__init__.py
  src/sentry/tasks/post_process.py
Due: backend

Add get_guild_id using regular proxy auth
  src/sentry/integrations/discord/client.py
  tests/sentry/integrations/discord/test_client.py
Due: backend

update cases.py
  src/sentry/testutils/cases.py
Due: backend

update test
  tests/sentry/api/endpoints/test_organization_metric_details.py
Due: none

need this
  Brewfile
Due: none

ref: rename some modules to avoid no-redef mypy warning (#51855)
  pyproject.toml
  src/sentry/plugins/base/__init__.py
  src/sentry/plugins/base/binding_manager.py
  src/sentry/tasks/integrations/__init__.py
  src/sentry/tasks/integrations/sync_assignee_outbound_impl.py
Due: backend

fix(hybridcloud) Fix an N+1 that is adjacent to hybrid cloud code
  src/sentry/api/serializers/models/sentry_app_installation.py
Due: backend

fix get_series callsites
  src/sentry/release_health/metrics.py
  src/sentry/release_health/metrics_sessions_v2.py
  src/sentry/search/events/builder/metrics.py
Due: backend

feat(escalating): Switch escalating transition to 7 days (#51766)
  src/sentry/tasks/auto_ongoing_issues.py
  tests/sentry/api/helpers/test_group_index.py
  tests/sentry/tasks/test_auto_ongoing_issues.py
Due: backend

🏷️ Fix typing issues
  src/sentry/integrations/base.py
  src/sentry/integrations/bitbucket/search.py
  tests/sentry/integrations/bitbucket/test_client.py
Due: backend
