Repository getsentry/sentry: changes, and which Codecov flags are due for each by the changed paths.
All: frontend, backend, Profiling Views, Profiling Components, Profiling Utils

feat(seer): Move the Connected Repos section in Seer Prject Settings up
  static/gsApp/views/seerAutomation/projectDetails.tsx
Due: none

feat(auth): Extend OAuth SSO session duration to 14 days
  src/sentry/utils/auth.py
  tests/sentry/utils/test_auth.py
Due: backend

feat(auth): Support SessionNotOnOrAfter in SAML protocol responses
  src/sentry/auth/helper.py
  src/sentry/auth/providers/saml2/provider.py
  src/sentry/utils/auth.py
  tests/sentry/utils/test_auth.py
  tests/sentry/web/frontend/test_auth_saml2.py
Due: backend

fix(tests): Update SSO expiry tests to use OAuth-specific expiry
  tests/sentry/users/api/endpoints/test_auth_index.py
Due: none

fix(auth): Use auth_service RPC for cross-silo AuthProvider query
  src/sentry/utils/auth.py
Due: backend

add comment
  static/app/views/performance/newTraceDetails/traceDrawer/details/span/eapSections/aiInput.tsx
Due: frontend

fix(agents): Parse input's message from OpenRouter (#107487)
  static/app/views/performance/newTraceDetails/traceDrawer/details/span/eapSections/aiInput.tsx
Due: frontend

add rest of the functions
  src/sentry/scm/actions.py
  src/sentry/scm/private/providers/github.py
  src/sentry/scm/types.py
  tests/sentry/scm/fixtures.py
  tests/sentry/scm/test_fixtures.py
  tests/sentry/scm/unit/test_actions.py
Due: backend

Rename test_actions.py to fix pytest collection conflict
  tests/sentry/scm/unit/test_scm_actions.py
Due: none

feat(symbolication): Show malformed errors as malformed
  static/app/components/events/interfaces/debugMeta/debugImageDetails/candidate/status/index.tsx
  static/app/components/events/interfaces/debugMeta/debugImageDetails/index.spec.tsx
Due: frontend

better tests
  static/app/components/events/interfaces/debugMeta/debugImageDetails/index.spec.tsx
  tests/js/fixtures/image.ts
Due: frontend

feat(symbolication): Show malformed errors as malformed (#107574)
  static/app/components/events/interfaces/debugMeta/debugImageDetails/candidate/status/index.tsx
  static/app/components/events/interfaces/debugMeta/debugImageDetails/index.spec.tsx
  tests/js/fixtures/image.ts
Due: frontend

feat(agents): Update onboarding to display sdk update alert
  static/app/gettingStartedDocs/javascript/agentMonitoring.tsx
  static/app/gettingStartedDocs/node/agentMonitoring.tsx
  static/app/gettingStartedDocs/python/agentMonitoring.tsx
  static/app/utils/useProjectSdkNeedsUpdate.tsx
  static/app/views/insights/pages/agents/components/sdkUpdateAlert.spec.tsx
  static/app/views/insights/pages/agents/components/sdkUpdateAlert.tsx
  static/app/views/replays/detail/network/details/content.spec.tsx
  static/app/views/replays/detail/network/details/onboarding.spec.tsx
  static/app/views/replays/list.spec.tsx
Due: frontend

update one more min version occurence
  static/app/gettingStartedDocs/node/agentMonitoring.tsx
Due: frontend

ref(insights): Remove AI Generations module (#107480)
  static/app/router/routes.tsx
  static/app/views/explore/components/schemaHints/schemaHintsList.tsx
  static/app/views/explore/components/schemaHints/schemaHintsUtils.tsx
  static/app/views/insights/aiGenerations/settings.ts
  static/app/views/insights/aiGenerations/views/components/generationsChart.tsx
  static/app/views/insights/aiGenerations/views/components/generationsTable.tsx
  static/app/views/insights/aiGenerations/views/components/generationsToolbar.tsx
  static/app/views/insights/aiGenerations/views/overview.tsx
  static/app/views/insights/aiGenerations/views/utils/constants.tsx
  static/app/views/insights/aiGenerations/views/utils/referrer.tsx
  static/app/views/insights/aiGenerations/views/utils/useFieldsQueryParam.tsx
  static/app/views/insights/common/components/modulesOnboarding.tsx
  static/app/views/insights/common/queries/useHasFirstSpan.tsx
  static/app/views/insights/common/utils/useModuleURL.tsx
  static/app/views/insights/common/views/spans/selectors/actionSelector.tsx
  static/app/views/insights/pages/agents/settings.ts
  static/app/views/insights/settings.ts
  static/app/views/insights/types.tsx
Due: frontend

fix(ai-conversations): default to statsPeriod of 29d as a temp hack
  src/sentry/api/endpoints/organization_ai_conversation_details.py
Due: backend

remove one blank line
  src/sentry/features/temporary.py
Due: backend

chore(search): support integer params for sum_if (#107495)
  src/sentry/search/eap/spans/aggregates.py
Due: backend

chore(ai): add negative cost alert on frontend (#107486)
  static/app/views/performance/newTraceDetails/traceDrawer/details/highlightedAttributes.spec.tsx
  static/app/views/performance/newTraceDetails/traceDrawer/details/highlightedAttributes.tsx
Due: frontend

chore(agents): Remove ai-insights-generations-page feature flag (#107481)
  src/sentry/features/temporary.py
Due: backend

chore(conversations): support endTimestamp in conversation response
  static/app/views/insights/pages/conversations/hooks/useConversations.tsx
Due: frontend

update copies
  static/app/gettingStartedDocs/python/agentMonitoring.tsx
  static/app/views/insights/pages/agents/components/sdkUpdateAlert.spec.tsx
  static/app/views/insights/pages/agents/components/sdkUpdateAlert.tsx
Due: frontend

chore(conversations): support endTimestamp in conversation response (#107577)
  static/app/views/insights/pages/conversations/hooks/useConversations.tsx
Due: frontend

feat(ai-conversations): add start and end timestamp to the endpoint (#107500)
  src/sentry/api/endpoints/organization_ai_conversations.py
  tests/sentry/api/endpoints/test_organization_ai_conversations.py
Due: backend

ref(agents): Update SDK alert copy to follow brand guidelines
  static/app/views/insights/pages/agents/components/sdkUpdateAlert.spec.tsx
  static/app/views/insights/pages/agents/components/sdkUpdateAlert.tsx
Due: frontend

Fix: Apply query filters (including release filter) to next/previous event navigation
  src/sentry/issues/endpoints/project_event_details.py
  tests/snuba/api/endpoints/test_project_event_details.py
Due: backend

Add environment filter to event navigation conditions
  src/sentry/issues/endpoints/project_event_details.py
Due: backend

fix(agents): pass minVersion to JS install step
  static/app/gettingStartedDocs/javascript/agentMonitoring.tsx
Due: frontend

fix(ai-conversations): sum tokens only from ai_client spans (#107485)
  src/sentry/api/endpoints/organization_ai_conversations.py
  tests/sentry/api/endpoints/test_organization_ai_conversation_details.py
  tests/sentry/api/endpoints/test_organization_ai_conversations.py
Due: backend

feat(filters): Add 'Date Discarded' column to discarded issues view
  static/app/views/settings/project/projectFilters/groupTombstones.tsx
Due: frontend

Fix linting issues: remove unused import and add __future__ annotations
  src/sentry/issues/endpoints/project_event_details.py
Due: backend

Path conditions:
  frontend: any of: static/app/
  backend: any of: src/sentry/**/*.py
  Profiling Views: any of: static/app/views/profiling/**
  Profiling Components: any of: src/sentry/static/sentry/app/components/profiling/**
  Profiling Utils: any of: src/sentry/static/sentry/app/utils/profiling/**
