Repository getsentry/sentry: changes, and which Codecov flags are due for each by the changed paths.
All: frontend, backend, Profiling Views, Profiling Components, Profiling Utils

Test refactor
  tests/sentry/integrations/discord/test_client.py
Due: none

Add utils module with logger definition
  src/sentry/integrations/discord/utils/__init__.py
Due: backend

fix query.py
  src/sentry/snuba/metrics/query.py
Due: backend

remove redundant `run.source` default
  setup.cfg
Due: none

override `fail_under` default set by `covdefaults`
  setup.cfg
Due: none

enable `covdefaults` plugin
  setup.cfg
Due: none

add `covdefaults` to dev dependencies
  requirements-dev-frozen.txt
  requirements-dev.txt
Due: none

fix(js-sdk): Move tracePropagationTargets to top level config (#51900)
  static/app/bootstrap/initializeSdk.tsx
Due: frontend

Add VCD measurements to `SpansTable`
  static/app/views/starfish/views/spans/spansTable.tsx
Due: frontend

test(js-sdk): Make sure distributed tracing is always configured
  static/app/bootstrap/initializeSdk.spec.tsx
  tests/js/setup.ts
Due: frontend

fix tests post merge
  tests/snuba/api/endpoints/test_organization_events_span_metrics.py
Due: none

ref: bump sentry-kafka-schemas to 0.1.16 (#51842)
  requirements-base.txt
  requirements-dev-frozen.txt
  requirements-frozen.txt
  tests/sentry/eventstream/test_eventstream.py
Due: none

feat(profiling): New layout for profiling landing widgets
  static/app/views/profiling/content.tsx
  static/app/views/profiling/landing/functionTrendsWidget.tsx
  static/app/views/profiling/landing/landingWidgetSelector.tsx
  static/app/views/profiling/landing/profilesChartWidget.tsx
  static/app/views/profiling/landing/slowestFunctionsWidget.spec.tsx
  static/app/views/profiling/landing/slowestFunctionsWidget.tsx
  static/app/views/profiling/landing/styles.tsx
Due: frontend, Profiling Views

ref(sdk): Improvements to `check_tag` SDK utility function (#51744)
  src/sentry/utils/sdk.py
  tests/sentry/utils/test_sdk.py
Due: backend

fix(config): Use boolean in `codecov.yml` (#51699)
  codecov.yml
Due: none

ref: fix remaining 'valid-type' typing errors
  pyproject.toml
  src/sentry/scim/endpoints/members.py
  src/sentry/scim/endpoints/teams.py
  src/sentry/scim/endpoints/utils.py
  tests/sentry/utils/kvstore/test_common.py
Due: backend

feat(starfish): Add VCD measurement to Starfish spans table component (#51905)
  static/app/views/starfish/views/spans/spansTable.tsx
Due: frontend

left in commented out thing
  src/sentry/api/paginator.py
Due: backend

test(js-sdk): Make sure distributed tracing is always configured (#51906)
  static/app/bootstrap/initializeSdk.spec.tsx
  tests/js/setup.ts
Due: frontend

feat(starfish): Use span light when txn not included (#51898)
  src/sentry/search/events/builder/spans_metrics.py
  src/sentry/search/events/constants.py
  tests/snuba/api/endpoints/test_organization_events_span_metrics.py
Due: backend

Update RpcServiceEndpointTest assertions
  tests/sentry/api/endpoints/test_rpc.py
Due: none

fix(issue-occurrence): Use lz4 compression in the producer
  src/sentry/issues/producer.py
Due: backend

check for scope bleed in `bind_org_context_from_integration`
  src/sentry/integrations/utils/scope.py
  tests/sentry/integrations/utils/test_scope.py
Due: backend

ref: remove deprecated informational-only providing_args from Signals
  src/sentry/models/outbox.py
  src/sentry/signals.py
Due: backend

feat(functions): Add dynamic threshold for function trends
  src/sentry/api/endpoints/organization_profiling_functions.py
  tests/sentry/api/endpoints/test_organization_profiling_functions.py
Due: backend

feat(profiling): New layout for profiling landing widgets (#51907)
  static/app/views/profiling/content.tsx
  static/app/views/profiling/landing/functionTrendsWidget.tsx
  static/app/views/profiling/landing/landingWidgetSelector.tsx
  static/app/views/profiling/landing/profilesChartWidget.tsx
  static/app/views/profiling/landing/slowestFunctionsWidget.spec.tsx
  static/app/views/profiling/landing/slowestFunctionsWidget.tsx
  static/app/views/profiling/landing/styles.tsx
Due: frontend, Profiling Views

ref: Don't create topics in consumers
  src/sentry/issues/run.py
  src/sentry/monitors/consumers/__init__.py
  src/sentry/profiles/consumers/__init__.py
Due: backend

fix(HC): Adds DB routing to user save, and the underlying email model save as well
  src/sentry/models/outbox.py
  src/sentry/models/user.py
  src/sentry/receivers/email.py
  tests/sentry/deletions/test_sentry_app_installations.py
Due: backend

feat(functions): Add dynamic threshold for function trends (#51913)
  src/sentry/api/endpoints/organization_profiling_functions.py
  tests/sentry/api/endpoints/test_organization_profiling_functions.py
Due: backend

fix tests and drop some @ts-expect-error
  fixtures/js-stubs/replay/error.ts
  fixtures/js-stubs/replayError.ts
  static/app/views/replays/detail/errorList/useErrorFilters.spec.tsx
  static/app/views/replays/detail/errorList/useErrorFilters.tsx
  static/app/views/replays/detail/errorList/useSortErrors.spec.tsx
Due: frontend

Path conditions:
  frontend: any of: static/app/
  backend: any of: src/sentry/**/*.py
  Profiling Views: any of: static/app/views/profiling/**
  Profiling Components: any of: src/sentry/static/sentry/app/components/profiling/**
  Profiling Utils: any of: src/sentry/static/sentry/app/utils/profiling/**
