Repository getsentry/sentry: changes, and which Codecov flags are due for each by the changed paths.
All: frontend, backend, Profiling Views, Profiling Components, Profiling Utils

✨ Allow button to toggle drawer
  static/app/components/events/breadcrumbs/breadcrumbsDataSection.tsx
  static/app/components/globalDrawer/index.tsx
  static/app/utils/useOnClickOutsideMany.tsx
Due: frontend

✅ add test
  static/app/components/events/breadcrumbs/breadcrumbsDataSection.spec.tsx
Due: frontend

♻️ bit simpler
  static/app/components/events/breadcrumbs/breadcrumbsDataSection.spec.tsx
  static/app/utils/useOnClickOutsideMany.tsx
Due: frontend

fix(anomaly detection): add validation for dynamic alert time window and threshold (#74915)
  src/sentry/incidents/logic.py
  tests/sentry/incidents/endpoints/test_organization_alert_rule_details.py
  tests/sentry/incidents/endpoints/test_organization_alert_rule_index.py
  tests/sentry/incidents/test_logic.py
Due: backend

chore(vscode): Set Prettier config path for VSCode (#75251)
  .vscode/settings.json
Due: none

Fixes single typed dict import for pydantic upgrade
  src/sentry/autofix/utils.py
Due: backend

fix: Change region check
  src/sentry/api/endpoints/team_projects.py
  tests/sentry/api/endpoints/test_team_projects.py
Due: backend

use apiQueryKeys
  static/app/views/alerts/rules/issue/messagingIntegrationModal.spec.tsx
  static/app/views/alerts/rules/issue/messagingIntegrationModal.tsx
Due: frontend

fix: tests
  src/sentry/api/bases/organization_events.py
Due: backend

feat(discover): Get samples works with dataset selector
  static/app/components/dynamicSampling/investigationRule.tsx
  static/app/views/discover/table/tableActions.tsx
  static/app/views/discover/table/tableView.tsx
Due: frontend

remove comment
  static/app/components/dynamicSampling/investigationRule.tsx
Due: frontend

ref: allow format_actor_options to take a QuerySet (#75241)
  src/sentry/integrations/message_builder.py
Due: backend

name changes
  src/sentry/auth/partnership_configs.py
  src/sentry/auth/providers/fly/apps.py
  src/sentry/auth/providers/fly/provider.py
Due: backend

fix(profiling): Chunk the query to avoid max query size error
  src/sentry/options/defaults.py
  src/sentry/profiles/flamegraph.py
  tests/sentry/api/endpoints/test_organization_profiling_profiles.py
Due: backend

ref(querybuilder): Change span ops to snuba params
  src/sentry/api/endpoints/organization_events_span_ops.py
Due: backend

ref: incident is nullable (#75238)
  src/sentry/monitors/logic/mark_failed.py
Due: backend

stop storing seer results on the group
  src/sentry/event_manager.py
Due: backend

stop checking `should_group` before getting parent group
  src/sentry/grouping/ingest/seer.py
Due: backend

remove tests
  tests/sentry/event_manager/grouping/test_seer_grouping.py
  tests/sentry/grouping/ingest/test_seer.py
Due: none

remove request hash from `SeerSimilarIssuesMetadata` type
  src/sentry/grouping/ingest/seer.py
  src/sentry/seer/similarity/types.py
Due: backend

remove hash from tests
  tests/sentry/event_manager/grouping/test_seer_grouping.py
  tests/sentry/grouping/ingest/test_seer.py
Due: none

ref: fix types in tests once mypy understands foreign keys (#75234)
  src/sentry/testutils/factories.py
  tests/sentry/incidents/endpoints/test_organization_alert_rule_details.py
Due: backend

ref: fix types for monitors.logic.mark_ok (#75236)
  src/sentry/monitors/logic/mark_ok.py
Due: backend

ref: remove dead get_window function (#75246)
  src/sentry/incidents/models/alert_rule_activations.py
Due: backend

ref: match types of dict[str, str] (#75244)
  src/sentry/models/group.py
Due: backend

ref: remove unreachable check (#75243)
  src/sentry/utils/performance_issues/performance_detection.py
Due: backend

ref: match type in TypeDict (#75242)
  src/sentry/incidents/endpoints/serializers/alert_rule.py
Due: backend

ref: use bitfield value directly (#75240)
  src/sentry/issues/endpoints/project_stacktrace_link.py
Due: backend

ref: fix dict annotation (monitor id is int) (#75239)
  src/sentry/monitors/tasks/detect_broken_monitor_envs.py
Due: backend

Path conditions:
  frontend: any of: static/app/
  backend: any of: src/sentry/**/*.py
  Profiling Views: any of: static/app/views/profiling/**
  Profiling Components: any of: src/sentry/static/sentry/app/components/profiling/**
  Profiling Utils: any of: src/sentry/static/sentry/app/utils/profiling/**
