Repository getsentry/sentry: changes, and which Codecov flags are due for each by the changed paths.
All: frontend, backend, Profiling Views, Profiling Components, Profiling Utils

Path conditions:
  frontend: any of: static/app/
  backend: any of: src/sentry/**/*.py
  Profiling Views: any of: static/app/views/profiling/**
  Profiling Components: any of: src/sentry/static/sentry/app/components/profiling/**
  Profiling Utils: any of: src/sentry/static/sentry/app/utils/profiling/**

fix(github): handle IntegrationResourceNotFoundError when fetching organization types
  src/sentry/integrations/github/issues.py
Due: backend

fix(github): remove unnecessary parameter from natural_sort_pair method
  src/sentry/integrations/github/issues.py
Due: backend

refactor(github): Simplify issue type fetching by removing unnecessary try-except block
  src/sentry/integrations/github/issues.py
Due: backend

feat(github): update issue type fetching and improve sorting logic
  src/sentry/integrations/github/issues.py
Due: backend

style(github): Format sorting code for labels and types for better readability
  src/sentry/integrations/github/issues.py
Due: backend

feat(tests): Add mock for organization issue types endpoint in GitHubIssueBasicTest
  tests/sentry/integrations/github/test_issues.py
Due: none

feat(github): Add support for fetching issue types from GitHub organization
  src/sentry/integrations/github/client.py
  src/sentry/integrations/github/issues.py
Due: backend

refactor(tests): Comment out organization issue types endpoint mock in GitHubIssueBasicTest
  tests/sentry/integrations/github/test_issues.py
Due: none

Revert "fix(github): handle multiple exceptions in get_org_types method"
  src/sentry/integrations/github/issues.py
Due: backend

fix(github): correct indentation in natural_sort_pair method
  src/sentry/integrations/github/issues.py
Due: backend

feat(github): Add issue type field to create issue configuration
  tests/sentry/integrations/github/test_issues.py
Due: none

feat(tests): Add mock for GitHub issue types endpoint in GitHubIssueBasicAllSiloTest
  tests/sentry/integrations/github/test_issues.py
Due: none

feat(tests): Mock organization issue types endpoint in GitHubIssueBasicTest
  tests/sentry/integrations/github/test_issues.py
Due: none

perf(conversations): Read tool output size from conversation spans
  static/app/views/explore/conversations/components/conversationViewNew.tsx
  static/app/views/explore/conversations/components/messageToolCallsNew.tsx
  static/app/views/explore/conversations/components/messagesPanelNew.spec.tsx
  static/app/views/explore/conversations/components/messagesPanelNew.tsx
  static/app/views/explore/conversations/hooks/useConversation.tsx
  static/app/views/insights/pages/agents/components/aiSpanTimeline.tsx
  static/app/views/insights/pages/agents/utils/getToolOutputBytes.ts
  static/app/views/insights/pages/agents/utils/useToolOutputBytes.ts
  static/app/views/performance/newTraceDetails/traceDrawer/tabs/traceAiConversations.tsx
  static/app/views/performance/newTraceDetails/traceDrawer/tabs/traceAiSpans.tsx
Due: frontend

ref(explore): Deduplicate aggregate field serialization
  static/app/views/explore/logs/logsTab.tsx
  static/app/views/explore/queryParams/aggregateField.ts
  static/app/views/explore/tables/index.tsx
Due: frontend

feat(metrics): add metrics.set for unique-value set metrics
  src/sentry/metrics/base.py
  src/sentry/metrics/datadog.py
  src/sentry/metrics/dogstatsd.py
  src/sentry/metrics/dualwrite.py
  src/sentry/metrics/dummy.py
  src/sentry/metrics/logging.py
  src/sentry/metrics/middleware.py
  src/sentry/metrics/precise_dogstatsd.py
  src/sentry/metrics/sentry_sdk.py
  src/sentry/metrics/statsd.py
  src/sentry/utils/metrics.py
  tests/sentry/metrics/test_datadog.py
  tests/sentry/metrics/test_dualwrite.py
  tests/sentry/metrics/test_middleware.py
  tests/sentry/metrics/test_precise.py
  tests/sentry/metrics/test_sentry_sdk.py
  tests/sentry/metrics/test_statsd.py
Due: backend

fix(msteams): treat ApiUnauthorized as configuration error not failure
  src/sentry/integrations/msteams/metrics.py
Due: backend

fix(agents): Request tool result attributes in AI trace
  static/app/views/insights/pages/agents/hooks/useAITrace.tsx
Due: frontend

test(autofix): Update assertions to expect user param in trigger_autofix_agent
  tests/sentry/seer/endpoints/test_group_ai_autofix.py
Due: none

fix: it wasn't complicated enough before (handle existing state in edits)
  static/app/components/searchQueryBuilder/index.spec.tsx
  static/app/components/searchQueryBuilder/tokens/filter/valueCombobox.tsx
Due: frontend

test(metrics): Assert dualwrite set routing per backend
  tests/sentry/metrics/test_dualwrite.py
Due: none

fix(objectstore): Forward proxy query string verbatim
  src/sentry/objectstore/endpoints/organization.py
  tests/sentry/objectstore/endpoints/test_organization.py
Due: backend

fix(backpressure): Structure memory details in health logs
  src/sentry/processing/backpressure/health.py
  tests/sentry/processing/backpressure/test_monitoring.py
Due: backend

bot identified bug
  src/sentry/data_export/endpoints/data_export.py
Due: backend

fix(pr_metrics): Disambiguate skip reason for indeterminate no-attribution PRs
  src/sentry/pr_metrics/webhooks.py
Due: backend

unskip the test, EAP fixed it
  tests/sentry/data_export/test_tasks.py
Due: none

ref(breadcrumbs): Flatten the BreadcrumbList items API
  static/app/components/breadcrumbList/breadcrumbList.mdx
  static/app/components/breadcrumbList/breadcrumbList.spec.tsx
  static/app/components/breadcrumbList/breadcrumbList.tsx
  static/app/views/dashboards/detail.tsx
  static/app/views/detectors/components/details/common/header.tsx
  static/app/views/explore/replays/detail/header/replayDetailsPageBreadcrumbs.tsx
  static/app/views/issueDetails/header/header.tsx
  static/app/views/issueDetails/header/issueIdBreadcrumb.tsx
Due: frontend

chore(deps): Bump Frontend Sentry SDK packages to 10.65.0
  package.json
  pnpm-lock.yaml
Due: none

feat(ourlogs): show timestamps in detail view
  static/app/views/explore/logs/tables/logsTableRow.tsx
Due: frontend

chore(deps): Update `@sentry/conventions` to `0.16.0`
  package.json
  pnpm-lock.yaml
Due: none

Apply suggestions from code review
  static/app/components/breadcrumbList/breadcrumbDividerCombo.tsx
  static/app/components/breadcrumbList/items/breadcrumbItemLink.tsx
  static/app/components/breadcrumbList/items/breadcrumbItemPageTitle.tsx
  static/app/components/breadcrumbList/items/breadcrumbItemPageTitleEditable.tsx
Due: frontend

ref(pr_metrics): Reuse MERGED_WITH_ITERATION for the fallback verdict
  src/sentry/models/pullrequest.py
  src/sentry/pr_metrics/emit.py
  tests/sentry/pr_metrics/test_emit.py
  tests/sentry/pr_metrics/test_webhooks.py
Due: backend

Update static/app/components/breadcrumbList/breadcrumbList.tsx
  static/app/components/breadcrumbList/breadcrumbList.tsx
Due: frontend

Linter errors suppressed
  tests/sentry/data_export/test_tasks.py
Due: none

fix(logs): add auto_fields=True to OurLogs SearchResolverConfig
  src/sentry/api/endpoints/organization_events.py
  tests/snuba/api/endpoints/test_organization_events_ourlogs.py
Due: backend

fix(breadcrumbs): Complete visibleWhenWide/Narrow rename
  static/app/components/breadcrumbList/breadcrumbList.tsx
Due: frontend

Use a toSplicedSorted since attributes aren't natively sorted
  static/app/utils/array/toSplicedSorted.spec.tsx
  static/app/utils/array/toSplicedSorted.ts
  static/app/views/explore/logs/tables/logsTableRow.tsx
Due: frontend

collapsed mid-row insertion points
  static/app/components/searchQueryBuilder/tokens/filter/valueCombobox.tsx
Due: frontend

fix(breadcrumbs): Prevent overflow-menu key collisions
  static/app/components/breadcrumbList/items/breadcrumbItemMenuBreadcrumbs.tsx
Due: frontend

ref(autofix): split feedback source types out of types.py
  src/sentry/seer/autofix/autofix_agent.py
  src/sentry/seer/autofix/pr_iteration/feedback.py
  src/sentry/seer/autofix/pr_iteration/feedback_sources/__init__.py
  src/sentry/seer/autofix/pr_iteration/feedback_sources/base.py
  src/sentry/seer/autofix/pr_iteration/feedback_sources/github_comment.py
  src/sentry/seer/autofix/pr_iteration/feedback_sources/user_ui.py
  src/sentry/seer/autofix/pr_iteration/mention.py
  src/sentry/seer/autofix/pr_iteration/queue.py
  src/sentry/seer/autofix/pr_iteration/types.py
  src/sentry/seer/endpoints/group_ai_autofix.py
  src/sentry/tasks/seer/pr_iteration.py
  tests/sentry/seer/autofix/pr_iteration/test_feedback_queue.py
  tests/sentry/seer/autofix/pr_iteration/test_mention.py
  tests/sentry/seer/autofix/pr_iteration/test_types.py
  tests/sentry/seer/autofix/test_pr_iteration_webhook.py
  tests/sentry/tasks/seer/test_pr_iteration.py
Due: backend
