Repository getsentry/sentry: changes, and which Codecov flags are due for each by the changed paths.
All: frontend, backend, Profiling Views, Profiling Components, Profiling Utils

codecov.yml:

# Setting coverage targets per flag
coverage:
  status:
    project: false
    patch:
      frontend:
        # codecov will not fail status checks for master
        only_pulls: true
        informational: false # Fail the check
        target: 60%
        flags:
          - frontend
      backend:
        # codecov will not fail status checks for master
        only_pulls: true
        informational: false # Fail the check
        target: 90%
        flags:
          - backend
  ignore:
    - src/*/migrations/
    - src/bitfield/
    - src/sentry/debug/
    - src/sentry/lint/
    - src/sentry/runner/
    - src/social_auth/
    - static/app/routes.tsx
    - tests/

component_management:
  individual_components:
    # Profiling team components
    - component_id: 'profiling_views'
      name: 'Profiling Views'
      paths:
        - 'static/app/views/profiling/**'
    - component_id: 'profiling_components'
      name: 'Profiling Components'
      paths:
        - 'src/sentry/static/sentry/app/components/profiling/**'
    - component_id: 'profiling_utils'
      name: 'Profiling Utils'
      paths:
        - 'src/sentry/static/sentry/app/utils/profiling/**'

flags:
  frontend:
    paths:
      - 'static/app/'
    carryforward: true
    # FE uploads 4 coverage reports. This property ensures codecov waits
    # for all reports to be uploaded before creating a GitHub status check.
    # NOTE: If you change this, make sure to change `comment.after_n_builds` below as well.
    after_n_builds: 4
  backend:
    paths:
      - 'src/sentry/**/*.py'
    carryforward: true
    # Do not send any status checks until n coverage reports are uploaded.
    # NOTE: If you change this, make sure to change `comment.after_n_builds` below as well.
    after_n_builds: 18

# https://docs.codecov.com/docs/flags#two-approaches-to-flag-management
flag_management:
  individual_flags:
    - name: smart-tests
      # Prevents the upload with this flag from being copied accross commits
      carryforward: false
      # https://docs.codecov.com/docs/getting-started-with-ats#step-2-configure-the-codecovyml-for-automated-test-selection
      # carryforward_mode: "labels"
      statuses:
        # https://github.com/codecov/shared/blob/main/shared/validation/user_schema.py#L310
        - type: 'patch'
          only_pulls: true

# Read more here: https://docs.codecov.com/docs/pull-request-comments
comment:
  # This is the addition of carry forward builds and fresh builds, thus, it's the addition
  # of the FE and BE builds
  after_n_builds: 22
  layout: 'diff, files'
  # Update, if comment exists. Otherwise post new.
  behavior: default
  # Comments will only post when coverage changes. Furthermore, if a comment
  # already exists, and a newer commit results in no coverage change for the
  # entire pull, the comment will be deleted.
  require_changes: true
  require_base: true # must have a base report to post
  require_head: true # must have a head report to post

cli:
  # This would be used when uploading the ats results
  # But we will not be doing that yet
  plugins:
    pycoverage:
      report_type: 'json'
    compress-pycoverage:
      file_to_compress: '.artifacts/python.coverage.json'
      # We don't want to upload the original coverage report by accident
      # Because it's too big
      delete_uncompressed: true
  runners:
    pytest:
      # Same args used for the backend tests
      # See Makefile:135
      collect_tests_options:
        - 'tests'
        - '--ignore=tests/acceptance'
        - '--ignore=tests/apidocs'
        - '--ignore=tests/js'
        - '--ignore=tests/tools'

fix(slack): Ensure infer_org_integration only filters ACTIVE (#65974)
  src/sentry/api/endpoints/internal/integration_proxy.py
  src/sentry/shared_integrations/client/proxy.py
  tests/sentry/shared_integrations/client/test_proxy.py
Due: backend

more removals
  src/sentry/grouping/enhancer/__init__.py
Due: backend

move util files
  src/sentry/api/endpoints/debug_files.py
  src/sentry/api/helpers/group_index/update.py
  src/sentry/event_manager.py
  src/sentry/models/groupresolution.py
  src/sentry/models/release.py
  src/sentry/models/releases/util.py
  src/sentry/rules/filters/latest_adopted_release_filter.py
  src/sentry/search/utils.py
  tests/sentry/models/test_release.py
Due: backend

move more imports
  src/sentry/api/endpoints/organization_release_details.py
  src/sentry/api/endpoints/project_release_details.py
  src/sentry/models/groupresolution.py
  src/sentry/tasks/commits.py
  tests/sentry/utils/suspect_resolutions_releases/test_get_suspect_resolutions_releases.py
Due: backend

fix tests
  tests/sentry/models/test_release.py
Due: none

move ReleaseProject model and manager to their own file
  src/sentry/api/bases/organization.py
  src/sentry/api/endpoints/group_current_release.py
  src/sentry/api/endpoints/organization_release_meta.py
  src/sentry/api/endpoints/organization_releases.py
  src/sentry/api/endpoints/project_release_setup.py
  src/sentry/api/endpoints/project_release_stats.py
  src/sentry/api/serializers/models/release.py
  src/sentry/deletions/defaults/release.py
  src/sentry/event_manager.py
  src/sentry/models/__init__.py
  src/sentry/models/project.py
  src/sentry/models/release.py
  src/sentry/models/releases/constants.py
  src/sentry/models/releases/exceptions.py
  src/sentry/models/releases/release_project.py
  src/sentry/receivers/releases.py
  src/sentry/rules/filters/latest_release.py
  src/sentry/tagstore/snuba/backend.py
  src/sentry/utils/snuba.py
  src/sentry/utils/suspect_resolutions_releases/get_suspect_resolutions_releases.py
  tests/sentry/api/endpoints/test_organization_release_details.py
  tests/sentry/api/endpoints/test_organization_releases.py
  tests/sentry/api/endpoints/test_project_commits.py
  tests/sentry/api/endpoints/test_project_release_details.py
  tests/sentry/api/endpoints/test_project_releases.py
  tests/sentry/api/serializers/test_release.py
  tests/sentry/buffer/test_base.py
  tests/sentry/issues/test_ingest.py
  tests/sentry/models/test_project.py
  tests/sentry/models/test_release.py
  tests/sentry/plugins/interfaces/test_releasehook.py
  tests/sentry/receivers/test_releases.py
  tests/sentry/search/test_utils.py
Due: backend

remove circular import
  src/sentry/api/endpoints/debug_files.py
  src/sentry/models/release.py
  src/sentry/models/releases/util.py
Due: backend

update ReleaseProject import
  src/sentry/models/release.py
Due: backend

codeowners
  .github/CODEOWNERS
Due: none

feat(trace): implement roving tabIndex
  static/app/utils/useCombinedReducer.tsx
  static/app/views/performance/newTraceDetails/guards.tsx
  static/app/views/performance/newTraceDetails/trace.tsx
  static/app/views/performance/newTraceDetails/traceTree.tsx
  static/app/views/performance/newTraceDetails/virtualizedViewManager.spec.tsx
  static/app/views/performance/newTraceDetails/virtualizedViewManager.tsx
Due: frontend

1 more
  src/sentry/tasks/summaries/daily_summary.py
Due: backend

split test files to appropriate folder
  tests/sentry/models/releases/test_release_project.py
  tests/sentry/models/test_release.py
Due: none

fix pointer?
  tests/sentry/models/test_release.py
Due: none

remove test decorators
  tests/sentry/grouping/test_categorization.py
  tests/sentry/grouping/test_enhancer.py
Due: none

meta(codeowners): Update codeowners for ingest and issues
  .github/CODEOWNERS
Due: none

feat(sdk-crash): Add Java V2 (#65968)
  fixtures/sdk_crash_detection/crash_event_android.py
  src/sentry/options/defaults.py
  src/sentry/utils/sdk_crashes/sdk_crash_detection_config.py
  tests/sentry/utils/sdk_crashes/test_build_sdk_crash_detection_configs.py
  tests/sentry/utils/sdk_crashes/test_event_stripper.py
  tests/sentry/utils/sdk_crashes/test_sdk_crash_detection_java.py
Due: backend

revert fix
  src/sentry/tasks/summaries/daily_summary.py
Due: backend

Move metrics to SimpleStorageBlob class
  src/sentry/replays/lib/storage.py
Due: backend

move get_artifact_counts back to bottom
  src/sentry/models/release.py
Due: backend

Re-add storage blob metrics
  src/sentry/replays/lib/storage.py
Due: backend

Update CODEOWNERS
  .github/CODEOWNERS
Due: none

move semver filter to constants
  src/sentry/api/endpoints/organization_releases.py
  src/sentry/models/release.py
  src/sentry/models/releases/constants.py
  src/sentry/search/events/datasets/filter_aliases.py
  src/sentry/search/events/filter.py
  tests/sentry/search/events/test_filter.py
Due: backend

ref(codeowners) - Processing team got renamed (#65979)
  .github/CODEOWNERS
Due: none

wip
  src/sentry/api/bases/organization_events.py
  src/sentry/api/endpoints/organization_events.py
  src/sentry/api/endpoints/organization_events_stats.py
Due: backend

fix(hybridcloud) Don't use integration proxy for bitbucket (#65929)
  src/sentry/integrations/bitbucket/client.py
  src/sentry/integrations/bitbucket/integration.py
  tests/sentry/integrations/bitbucket/test_client.py
Due: backend

move follows_semver_versioning_scheme back to release model file
  src/sentry/api/helpers/group_index/update.py
  src/sentry/event_manager.py
  src/sentry/models/groupresolution.py
  src/sentry/models/release.py
  src/sentry/models/releases/util.py
  src/sentry/rules/filters/latest_adopted_release_filter.py
  src/sentry/search/utils.py
  tests/sentry/models/test_release.py
Due: backend

metrics(replays): Add metrics to SimpleStorageBlob class (#65978)
  src/sentry/replays/lib/storage.py
Due: backend

move dataclass and queryset into util instead
  src/sentry/api/endpoints/organization_releases.py
  src/sentry/models/release.py
  src/sentry/models/releases/constants.py
  src/sentry/models/releases/util.py
  src/sentry/search/events/datasets/filter_aliases.py
  src/sentry/search/events/filter.py
  tests/sentry/search/events/test_filter.py
Due: backend

validate UUIDs for get_replay_counts and OrganizationReplayCountEndpoint
  src/sentry/replays/usecases/replay_counts.py
Due: backend

validate UUIDs only when select_column=replay_id.
  src/sentry/replays/usecases/replay_counts.py
  tests/sentry/replays/test_organization_replay_count.py
Due: backend

ref(replay): import fix and function doc for replay count endpoint
  src/sentry/replays/endpoints/organization_replay_count.py
  src/sentry/replays/usecases/replay_counts.py
Due: backend

use := operator to remove redundant dict lookups
  src/sentry/replays/usecases/ingest/dom_index.py
Due: backend

test comments
  tests/sentry/replays/unit/test_ingest_dom_index.py
Due: none

fix(replay): handle non-dict typed request and response in _handle_resource_metric_event
  src/sentry/replays/usecases/ingest/dom_index.py
Due: backend

add test
  tests/sentry/replays/unit/test_ingest_dom_index.py
Due: none
