Repository getsentry/sentry: changes, and which Codecov flags are due for each by the changed paths.
All: frontend, backend, Profiling Views, Profiling Components, Profiling Utils

fix(metrics): remove superfluous deserialization in metrics extraction rules endpoint (#72996)
  src/sentry/api/endpoints/project_metrics_extraction_rules.py
  tests/sentry/api/endpoints/test_project_metrics_extraction_rules.py
Due: backend

feat(metrics): add validation to type field of metrics extraction rule
  src/sentry/sentry_metrics/extraction_rules.py
Due: backend

Fix
  tests/sentry/api/endpoints/test_relay_projectconfigs.py
  tests/sentry/api/endpoints/test_relay_projectconfigs_v2.py
  tests/sentry/api/endpoints/test_relay_projectconfigs_v3.py
Due: none

fix extraction rule creation
  src/sentry/sentry_metrics/extraction_rules.py
  tests/sentry/sentry_metrics/test_extraction_rules.py
Due: backend

Fix
  tests/sentry/api/endpoints/test_relay_projectconfigs.py
  tests/sentry/api/endpoints/test_relay_projectconfigs_v2.py
Due: none

feat(metrics): emit metric extraction rules
  src/sentry/relay/config/metric_extraction.py
  src/sentry/snuba/metrics/extraction.py
  src/sentry/snuba/metrics/span_attribute_extraction.py
  tests/sentry/relay/config/test_metric_extraction.py
  tests/sentry/snuba/metrics/test_span_attribute_extraction.py
Due: backend

typing fix
  src/sentry/relay/config/metric_extraction.py
  src/sentry/snuba/metrics/extraction.py
  src/sentry/snuba/metrics/span_attribute_extraction.py
  tests/sentry/relay/config/test_metric_extraction.py
Due: backend

import fix
  src/sentry/relay/config/metric_extraction.py
Due: backend

fix counter
  src/sentry/snuba/metrics/span_attribute_extraction.py
  tests/sentry/snuba/metrics/test_span_attribute_extraction.py
Due: backend

Fix
  src/sentry/api/endpoints/relay/project_configs.py
Due: backend

type
  src/sentry/snuba/metrics/extraction.py
Due: backend

Add validation to metric type in extraction rules endpoint (#72990)
  src/sentry/sentry_metrics/extraction_rules.py
  tests/sentry/sentry_metrics/test_extraction_rules.py
Due: backend

remove comment
  src/sentry/snuba/metrics/extraction.py
Due: backend

remove unused method
  src/sentry/snuba/metrics/span_attribute_extraction.py
Due: backend

wrap conversion in try/catch
  src/sentry/relay/config/metric_extraction.py
Due: backend

test ref
  tests/sentry/snuba/metrics/test_span_attribute_extraction.py
Due: none

Revert "Do not modify self.organization"
  tests/sentry/api/test_organization_events.py
Due: none

Fix any usage
  src/sentry/api/bases/organization_events.py
Due: backend

Update src/sentry/api/bases/organization_events.py
  src/sentry/api/bases/organization_events.py
Due: backend

chore(insighs): Move database module into insights folder (#72976)
  static/app/components/events/interfaces/spans/newTraceDetailsSpanDetails.tsx
  static/app/routes.tsx
  static/app/views/insights/common/components/noAccess.tsx
  static/app/views/insights/common/components/spanDescription.tsx
  static/app/views/insights/common/components/tableCells/timeSpentCell.tsx
  static/app/views/insights/common/queries/getSeriesEventView.tsx
  static/app/views/insights/database/components/charts/durationChart.tsx
  static/app/views/insights/database/components/charts/throughputChart.tsx
  static/app/views/insights/database/components/noDataMessage.spec.tsx
  static/app/views/insights/database/components/noDataMessage.tsx
  static/app/views/insights/database/components/stackTraceMiniFrame.tsx
  static/app/views/insights/database/components/tables/queriesTable.tsx
  static/app/views/insights/database/components/tables/queryTransactionsTable.tsx
  static/app/views/insights/database/queries/useDenylistedProjects.tsx
  static/app/views/insights/database/queries/useOutdatedSDKProjects.tsx
  static/app/views/insights/database/settings.ts
  static/app/views/insights/database/utils/getIntervalForMetricFunction.tsx
  static/app/views/insights/database/views/databaseLandingPage.spec.tsx
  static/app/views/insights/database/views/databaseLandingPage.tsx
  static/app/views/insights/database/views/databaseSpanSummaryPage.spec.tsx
  static/app/views/insights/database/views/databaseSpanSummaryPage.tsx
  static/app/views/insights/settings.ts
  static/app/views/performance/landing/widgets/components/selectableList.tsx
  static/app/views/performance/modulePageProviders.tsx
  static/app/views/performance/newTraceDetails/traceDrawer/details/span/sections/description.tsx
  static/app/views/performance/queues/charts/latencyChart.tsx
  static/app/views/performance/queues/charts/throughputChart.tsx
  static/app/views/performance/queues/settings.ts
  static/app/views/performance/utils/useModuleTitle.tsx
  static/app/views/performance/utils/useModuleURL.tsx
  static/app/views/traces/tracesChart.tsx
Due: frontend

chore(insights): Add CODEOWNERS entry (#72977)
  .github/CODEOWNERS
Due: none

fix syntax error
  static/app/components/modals/metricWidgetViewerModal.tsx
Due: frontend

Move HTTP module into Insights
  static/app/routes.tsx
  static/app/views/insights/common/components/tableCells/responseStatusCodeCell.tsx
  static/app/views/insights/common/components/tableCells/spanIdCell.tsx
  static/app/views/insights/common/views/spanSummaryPage/sampleList/durationChart/useSampleScatterPlotSeries.tsx
  static/app/views/insights/http/charts/durationChart.tsx
  static/app/views/insights/http/charts/responseCodeCountChart.tsx
  static/app/views/insights/http/charts/responseRateChart.spec.tsx
  static/app/views/insights/http/charts/responseRateChart.tsx
  static/app/views/insights/http/charts/throughputChart.tsx
  static/app/views/insights/http/components/domainStatusLink.tsx
  static/app/views/insights/http/data/definitions.tsx
  static/app/views/insights/http/data/useSpanSamples.spec.tsx
  static/app/views/insights/http/data/useSpanSamples.tsx
  static/app/views/insights/http/data/useStatusPageList.tsx
  static/app/views/insights/http/httpDomainSummaryPage.spec.tsx
  static/app/views/insights/http/httpDomainSummaryPage.tsx
  static/app/views/insights/http/httpLandingPage.spec.tsx
  static/app/views/insights/http/httpLandingPage.tsx
  static/app/views/insights/http/httpSamplesPanel.spec.tsx
  static/app/views/insights/http/httpSamplesPanel.tsx
  static/app/views/insights/http/queryParameterDecoders/panel.tsx
  static/app/views/insights/http/queryParameterDecoders/responseCodeClass.tsx
  static/app/views/insights/http/referrers.tsx
  static/app/views/insights/http/settings.ts
  static/app/views/insights/http/tables/domainCell.tsx
  static/app/views/insights/http/tables/domainTransactionsTable.tsx
  static/app/views/insights/http/tables/domainsTable.tsx
  static/app/views/insights/http/tables/spanSamplesTable.tsx
  static/app/views/insights/http/tables/transactionCell.tsx
  static/app/views/insights/http/useDebouncedState.tsx
  static/app/views/performance/cache/samplePanel/samplePanel.tsx
  static/app/views/performance/landing/widgets/components/selectableList.tsx
  static/app/views/performance/landing/widgets/widgets/lineChartListWidget.tsx
  static/app/views/performance/queues/destinationSummary/messageSpanSamplesPanel.tsx
  static/app/views/performance/utils/useModuleTitle.tsx
  static/app/views/performance/utils/useModuleURL.tsx
Due: frontend

feat(metrics-extraction): frontend CRUD
  static/app/utils/metrics/formatters.tsx
  static/app/views/settings/projectMetrics/extractMetric.tsx
  static/app/views/settings/projectMetrics/metricsExtractionRuleEditModal.tsx
  static/app/views/settings/projectMetrics/metricsExtractionRuleForm.tsx
  static/app/views/settings/projectMetrics/projectMetrics.tsx
  static/app/views/settings/projectMetrics/utils/api.tsx
Due: frontend

New folder structure
  static/app/routes.tsx
  static/app/views/insights/http/components/charts/durationChart.tsx
  static/app/views/insights/http/components/charts/responseCodeCountChart.tsx
  static/app/views/insights/http/components/charts/responseRateChart.spec.tsx
  static/app/views/insights/http/components/charts/responseRateChart.tsx
  static/app/views/insights/http/components/charts/throughputChart.tsx
  static/app/views/insights/http/components/domainStatusLink.tsx
  static/app/views/insights/http/components/httpSamplesPanel.spec.tsx
  static/app/views/insights/http/components/httpSamplesPanel.tsx
  static/app/views/insights/http/components/tables/domainCell.tsx
  static/app/views/insights/http/components/tables/domainTransactionsTable.tsx
  static/app/views/insights/http/components/tables/domainsTable.tsx
  static/app/views/insights/http/components/tables/spanSamplesTable.tsx
  static/app/views/insights/http/components/tables/transactionCell.tsx
  static/app/views/insights/http/queries/useSpanSamples.spec.tsx
  static/app/views/insights/http/queries/useSpanSamples.tsx
  static/app/views/insights/http/queries/useStatusPageList.tsx
  static/app/views/insights/http/utils/queryParameterDecoders/panel.tsx
  static/app/views/insights/http/utils/queryParameterDecoders/responseCodeClass.tsx
  static/app/views/insights/http/utils/useDebouncedState.tsx
  static/app/views/insights/http/views/httpDomainSummaryPage.spec.tsx
  static/app/views/insights/http/views/httpDomainSummaryPage.tsx
  static/app/views/insights/http/views/httpLandingPage.spec.tsx
  static/app/views/insights/http/views/httpLandingPage.tsx
  static/app/views/performance/cache/samplePanel/samplePanel.tsx
  static/app/views/performance/landing/widgets/widgets/lineChartListWidget.tsx
  static/app/views/performance/queues/destinationSummary/messageSpanSamplesPanel.tsx
Due: frontend

feat(metrics): add validation of span_attribute to metrics extraction rule endpoint
  src/sentry/sentry_metrics/extraction_rules.py
  tests/sentry/api/endpoints/test_project_metrics_extraction_rules.py
Due: backend

add null validation for type parameter
  src/sentry/sentry_metrics/extraction_rules.py
  tests/sentry/api/endpoints/test_project_metrics_extraction_rules.py
Due: backend

Move caches module to insights
  static/app/components/sidebar/index.tsx
  static/app/routes.tsx
  static/app/views/insights/cache/components/charts/hitMissChart.tsx
  static/app/views/insights/cache/components/charts/throughputChart.tsx
  static/app/views/insights/cache/components/charts/transactionDurationChart.tsx
  static/app/views/insights/cache/components/samplePanel.tsx
  static/app/views/insights/cache/components/tables/cacheHitMissCell.tsx
  static/app/views/insights/cache/components/tables/spanSamplesTable.tsx
  static/app/views/insights/cache/components/tables/transactionCell.tsx
  static/app/views/insights/cache/components/tables/transactionsTable.tsx
  static/app/views/insights/cache/referrers.ts
  static/app/views/insights/cache/settings.ts
  static/app/views/insights/cache/views/cacheLandingPage.spec.tsx
  static/app/views/insights/cache/views/cacheLandingPage.tsx
  static/app/views/performance/landing/widgets/components/selectableList.tsx
  static/app/views/performance/landing/widgets/widgets/lineChartListWidget.tsx
  static/app/views/performance/utils/useModuleTitle.tsx
  static/app/views/performance/utils/useModuleURL.tsx
Due: frontend

type hints
  src/sentry/sentry_metrics/extraction_rules.py
Due: backend

Move queues module into insights
  static/app/components/sidebar/index.tsx
  static/app/routes.tsx
  static/app/views/insights/queues/charts/latencyChart.spec.tsx
  static/app/views/insights/queues/charts/latencyChart.tsx
  static/app/views/insights/queues/charts/throughputChart.spec.tsx
  static/app/views/insights/queues/charts/throughputChart.tsx
  static/app/views/insights/queues/destinationSummary/destinationSummaryPage.spec.tsx
  static/app/views/insights/queues/destinationSummary/destinationSummaryPage.tsx
  static/app/views/insights/queues/destinationSummary/messageSpanSamplesPanel.spec.tsx
  static/app/views/insights/queues/destinationSummary/messageSpanSamplesPanel.tsx
  static/app/views/insights/queues/destinationSummary/messageSpanSamplesTable.spec.tsx
  static/app/views/insights/queues/destinationSummary/messageSpanSamplesTable.tsx
  static/app/views/insights/queues/destinationSummary/transactionsTable.spec.tsx
  static/app/views/insights/queues/destinationSummary/transactionsTable.tsx
  static/app/views/insights/queues/queries/useProcessQueuesTimeSeriesQuery.tsx
  static/app/views/insights/queues/queries/usePublishQueuesTimeSeriesQuery.tsx
  static/app/views/insights/queues/queries/useQueuesByDestinationQuery.tsx
  static/app/views/insights/queues/queries/useQueuesByTransactionQuery.tsx
  static/app/views/insights/queues/queries/useQueuesMetricsQuery.tsx
  static/app/views/insights/queues/queryParameterDecoders/retryCount.tsx
  static/app/views/insights/queues/queryParameterDecoders/traceStatus.tsx
  static/app/views/insights/queues/queuesLandingPage.spec.tsx
  static/app/views/insights/queues/queuesLandingPage.tsx
  static/app/views/insights/queues/queuesTable.spec.tsx
  static/app/views/insights/queues/queuesTable.tsx
  static/app/views/insights/queues/referrers.ts
  static/app/views/insights/queues/settings.ts
  static/app/views/performance/utils/useModuleTitle.tsx
  static/app/views/performance/utils/useModuleURL.tsx
Due: frontend

New folder structure
  static/app/routes.tsx
  static/app/views/insights/queues/components/messageSpanSamplesPanel.spec.tsx
  static/app/views/insights/queues/components/messageSpanSamplesPanel.tsx
  static/app/views/insights/queues/components/tables/messageSpanSamplesTable.spec.tsx
  static/app/views/insights/queues/components/tables/messageSpanSamplesTable.tsx
  static/app/views/insights/queues/components/tables/queuesTable.spec.tsx
  static/app/views/insights/queues/components/tables/queuesTable.tsx
  static/app/views/insights/queues/components/tables/transactionsTable.spec.tsx
  static/app/views/insights/queues/components/tables/transactionsTable.tsx
  static/app/views/insights/queues/utils/queryParameterDecoders/retryCount.tsx
  static/app/views/insights/queues/utils/queryParameterDecoders/traceStatus.tsx
  static/app/views/insights/queues/views/destinationSummaryPage.spec.tsx
  static/app/views/insights/queues/views/destinationSummaryPage.tsx
  static/app/views/insights/queues/views/queuesLandingPage.spec.tsx
  static/app/views/insights/queues/views/queuesLandingPage.tsx
Due: frontend

feat(metrics): return 400 status if attempting to recreate resource in metrics extraction rules
  src/sentry/sentry_metrics/extraction_rules.py
  tests/sentry/api/endpoints/test_project_metrics_extraction_rules.py
Due: backend

This test does not apply anymore
  tests/snuba/api/endpoints/test_organization_events.py
Due: none

feat(metrics-extraction): Add success messages
  static/app/views/settings/projectMetrics/extractMetric.tsx
  static/app/views/settings/projectMetrics/metricsExtractionRuleEditModal.tsx
  static/app/views/settings/projectMetrics/projectMetrics.tsx
Due: frontend

fix(metrics-extraction): Missing translations
  static/app/views/settings/projectMetrics/metricsExtractionRuleForm.tsx
Due: frontend

Path conditions:
  frontend: any of: static/app/
  backend: any of: src/sentry/**/*.py
  Profiling Views: any of: static/app/views/profiling/**
  Profiling Components: any of: src/sentry/static/sentry/app/components/profiling/**
  Profiling Utils: any of: src/sentry/static/sentry/app/utils/profiling/**
