Repository getsentry/sentry: changes, and which Codecov flags are due for each by the changed paths.
All: frontend, backend, Profiling Views, Profiling Components, Profiling Utils

Path conditions:
  frontend: any of: static/app/
  backend: any of: src/sentry/**/*.py
  Profiling Views: any of: static/app/views/profiling/**
  Profiling Components: any of: src/sentry/static/sentry/app/components/profiling/**
  Profiling Utils: any of: src/sentry/static/sentry/app/utils/profiling/**

ref(✂️): remove unused widgetBuilder utils (#99815)
  static/app/views/dashboards/utils.tsx
  static/app/views/dashboards/widgetBuilder/utils.spec.tsx
  static/app/views/dashboards/widgetBuilder/utils.tsx
Due: frontend

ref(✂️): remove unused widgetCardContextMenu (#99814)
  static/app/views/dashboards/widgetCard/widgetCardContextMenu.spec.tsx
  static/app/views/dashboards/widgetCard/widgetCardContextMenu.tsx
Due: frontend

ref(types): decouple TransactionSearchQueryBuilder from DeprecatedSmartSearchBar (#99800)
  static/app/views/performance/transactionSummary/transactionProfiles/index.tsx
Due: frontend

Refactor SideBySide component to use rest props
  static/app/stories/layout.tsx
Due: frontend

documentation: add layering and elevation principle (#99560)
  static/app/components/core/principles/layering-and-elevation/background-elevation-colors.png
  static/app/components/core/principles/layering-and-elevation/chonky-borders-perspective.png
  static/app/components/core/principles/layering-and-elevation/floating-elements-shadows.png
  static/app/components/core/principles/layering-and-elevation/grouped-interactive-elements.png
  static/app/components/core/principles/layering-and-elevation/issue-details-page-example.png
  static/app/components/core/principles/layering-and-elevation/layering-and-elevation.mdx
  static/app/components/core/principles/layering-and-elevation/monitor-config-page-example.png
  static/app/components/core/principles/layering-and-elevation/object-model-diagram.png
  static/app/stories/view/storyMdxComponent.tsx
  static/app/stories/view/storySidebar.tsx
  static/app/stories/view/storyTree.tsx
Due: frontend

Convert checkbox story to mdx with indeterminate example (#99638)
  static/app/components/core/checkbox/checkbox.mdx
  static/app/components/core/checkbox/index.stories.tsx
Due: frontend

fix(ourlogs): Don't send replayId undefined if not set
  static/app/views/explore/logs/useLogsQuery.tsx
Due: frontend

ref(✂️): remove unused searchBar.tsx (#99791)
  static/app/components/events/searchBar.spec.tsx
  static/app/components/events/searchBar.tsx
  static/app/components/events/searchBarFieldConstants.ts
  static/app/components/performance/transactionSearchQueryBuilder.tsx
  static/app/components/searchQueryBuilder/index.spec.tsx
  static/app/constants/index.tsx
  static/app/utils/tag.ts
  static/app/views/alerts/rules/metric/ruleConditionsForm.tsx
  static/app/views/alerts/wizard/options.tsx
  static/app/views/dashboards/datasetConfig/base.tsx
  static/app/views/dashboards/widgetBuilder/buildSteps/filterResultsStep/eventsSearchBar.tsx
  static/app/views/dashboards/widgetBuilder/buildSteps/filterResultsStep/issuesSearchBar.tsx
  static/app/views/dashboards/widgetBuilder/buildSteps/filterResultsStep/releaseSearchBar.tsx
  static/app/views/explore/components/traceItemSearchQueryBuilder.tsx
Due: frontend

add template literal
  static/app/stories/layout.tsx
Due: frontend

Remove unused SmartSearchBarProps export
  static/app/components/deprecatedSmartSearchBar/index.tsx
Due: frontend

Fix command runner init
  src/sentry/relocation/models/relocation.py
  src/sentry/relocation/utils.py
  src/sentry/runner/main.py
Due: backend

Refactor: Increase gap in PlatformSelect and PlatformLabel
  static/app/components/replaysOnboarding/sidebar.tsx
Due: frontend

add template literal
  static/app/utils/discover/styles.tsx
Due: frontend

Fix unused exported type in SmartSearchBar (#99822)
  static/app/components/deprecatedSmartSearchBar/index.tsx
Due: frontend

scripts: update analyze-styled
  scripts/analyze-styled.ts
Due: none

fix(ourlogs): Hide advanced replayid before flag
  static/app/views/explore/logs/fieldRenderers.tsx
Due: frontend

fix(uptime): Add missing migration dependency
  src/sentry/uptime/migrations/0045_backfill_detector_thresholds.py
Due: backend

test by modifying tsx file
  static/app/stories/view/storySidebar.tsx
Due: frontend

sentry app action validator
  src/sentry/notifications/notification_action/action_validation.py
  src/sentry/notifications/notification_action/registry.py
  src/sentry/notifications/notification_action/types.py
  src/sentry/rules/actions/sentry_apps/utils.py
  tests/sentry/workflow_engine/endpoints/validators/actions/test_sentry_app.py
Due: backend

fix precommit
  src/sentry/notifications/notification_action/action_validation.py
Due: backend

feat(dashboards): Convert releaseWidgetQueries to function component
  static/app/views/dashboards/widgetCard/releaseWidgetQueries.tsx
Due: frontend

flex: use core component (#99790)
  static/app/components/badge/groupPriority.tsx
  static/app/components/timeRangeSelector/index.tsx
  static/app/data/forms/projectGeneralSettings.tsx
  static/app/plugins/components/settings.tsx
  static/app/stories/apiReference.tsx
  static/app/stories/layout.tsx
  static/app/utils/discover/styles.tsx
  static/app/views/integrationPipeline/githubInstallationSelect.tsx
Due: frontend

update interval
  static/app/views/insights/common/components/chartActionDropdown.tsx
  static/app/views/insights/common/components/insightsTimeSeriesWidget.tsx
  static/app/views/insights/common/components/widgets/overviewSlowAssetsWidget.tsx
  static/app/views/insights/common/components/widgets/overviewTimeConsumingRequestsWidget.tsx
  static/app/views/insights/database/settings.ts
  static/app/views/insights/queues/charts/throughputChart.tsx
Due: frontend

fix(ourlogs): Hide advanced replayid before flag (#99824)
  static/app/views/explore/logs/fieldRenderers.tsx
Due: frontend

ref(✂️): remove unused WebVitalMeters (#99811)
  static/app/views/insights/browser/webVitals/components/charts/webVitalWeightList.tsx
  static/app/views/insights/browser/webVitals/components/webVitalMeters.spec.tsx
  static/app/views/insights/browser/webVitals/components/webVitalMeters.tsx
Due: frontend

fix(ourlogs): Don't send replayId undefined if not set (#99821)
  static/app/views/explore/logs/useLogsQuery.tsx
Due: frontend

Remove unused loading state
  static/app/views/dashboards/widgetCard/releaseWidgetQueries.tsx
Due: frontend

add validation for returning segment spans dataset
  src/sentry/explore/endpoints/explore_saved_queries.py
  tests/sentry/explore/endpoints/test_explore_saved_queries.py
Due: backend

Increase timeout from 5 to 7 for migrations
  .github/workflows/development-environment.yml
Due: none

fix(uptime): Add missing migration dependency (#99825)
  src/sentry/uptime/migrations/0045_backfill_detector_thresholds.py
Due: backend
