Repository getsentry/sentry: changes, and which Codecov flags are due for each by the changed paths.
All: frontend, backend, Profiling Views, Profiling Components, Profiling Utils

Path conditions:
  frontend: any of: static/app/
  backend: any of: src/sentry/**/*.py
  Profiling Views: any of: static/app/views/profiling/**
  Profiling Components: any of: src/sentry/static/sentry/app/components/profiling/**
  Profiling Utils: any of: src/sentry/static/sentry/app/utils/profiling/**

ref(logs): Move Set Up Logs button from top bar to page filters
  static/app/views/explore/logs/content.tsx
  static/app/views/explore/logs/logsOnboarding.tsx
  static/app/views/explore/logs/setupLogsButton.tsx
Due: frontend

tweak style
  static/app/views/seerExplorer/components/blockComponents.tsx
  static/app/views/seerExplorer/components/drawer/explorerDrawerContent.tsx
  static/app/views/seerExplorer/utils.tsx
Due: frontend

ruff pls
  tests/sentry/api/serializers/test_rule.py
Due: none

fix(seer): Guard admin trigger against accidental full fan-out
  src/sentry/seer/endpoints/admin_night_shift_trigger.py
  static/gsAdmin/views/seerAdminPage.tsx
  tests/sentry/seer/endpoints/test_admin_night_shift_trigger.py
Due: backend

only do for user
  static/app/views/seerExplorer/components/drawer/explorerDrawerContent.tsx
Due: frontend

chore(issues): Remove performance issues search flag
  src/sentry/features/temporary.py
  src/sentry/search/snuba/executors.py
  tests/snuba/search/test_backend.py
Due: backend

fix(ACI): fix tests broken by GitHub action repo requirement
  tests/sentry/workflow_engine/migration_helpers/test_migrate_rule_action.py
Due: none

fix(issues): Load member store on issue details page
  static/app/views/issueDetails/groupDetails.tsx
  static/app/views/issueDetails/streamline/sidebar/activitySection.spec.tsx
Due: frontend

test(integrations): add conftest to fix selective testing for handler changes
  tests/sentry/integrations/conftest.py
Due: none

fix failures
  static/app/views/preprod/snapshots/main/snapshotCards.snapshots.tsx
  static/app/views/preprod/snapshots/main/snapshotFrames.tsx
Due: frontend

remove generic stuff
  src/sentry/integrations/source_code_management/sync_repos.py
Due: backend

fix
  src/sentry/deletions/defaults/repository.py
Due: backend

fix mypy and stuff
  src/sentry/integrations/source_code_management/repository.py
  tests/sentry/integrations/source_code_management/test_sync_repos.py
Due: backend

feedback
  src/sentry/integrations/source_code_management/repository.py
  tests/sentry/integrations/source_code_management/test_sync_repos.py
Due: backend

chore(selective-tests): exempt integrations conftest from full-suite trigger
  .github/workflows/scripts/compute-sentry-selected-tests.py
Due: none

ref(cmdk): Remove projects array from identifier lookup query key
  static/app/components/commandPalette/ui/commandPaletteGlobalActions.tsx
Due: frontend

add tests for repository_cascade_delete_on_hide
  tests/sentry/tasks/test_repository.py
Due: none

remove unused params
  src/sentry/search/snuba/executors.py
Due: backend

if we're in control we don't want to make a circuit breaker
  src/sentry/utils/sentry_apps/webhooks.py
Due: backend

feat(sentry-apps): Skip webhook dispatch for disabled sentry apps
  src/sentry/sentry_apps/metrics.py
  src/sentry/sentry_apps/tasks/sentry_apps.py
  tests/sentry/sentry_apps/tasks/test_sentry_apps.py
Due: backend

renaming
  tests/sentry/tasks/test_repository.py
Due: none

feat(seer): Expose DSN lookup through public RPC
  src/sentry/seer/endpoints/organization_seer_rpc.py
  tests/sentry/seer/endpoints/test_organization_seer_rpc.py
Due: backend

fix interrupt button ordering
  static/app/views/seerExplorer/components/inputSection.tsx
Due: frontend

[skip ci] fix(selective-tests): conftest expansion and specific module imports
  .github/workflows/scripts/compute-sentry-selected-tests.py
  tests/sentry/api/serializers/test_rule.py
  tests/sentry/integrations/conftest.py
Due: none

3.5.2
  package.json
  pnpm-lock.yaml
Due: none

add id for active thread
  static/app/components/events/interfaces/threads.spec.tsx
Due: frontend

ref(ui): add Layer primitive with portal outlets and stacking context isolation
  static/app/components/core/layer/index.tsx
  static/app/components/core/layer/layer.spec.tsx
  static/app/components/core/layer/layer.tsx
Due: frontend

docs(ui): add Layer component MDX documentation
  static/app/components/core/layer/layer.mdx
Due: frontend

fix(search): Don't assume non-empty projects in get_teams_for_users
  src/sentry/search/utils.py
  tests/sentry/issues/test_issue_search.py
Due: backend

refactor
  static/app/views/seerExplorer/hooks/useSeerExplorer.tsx
  static/app/views/seerExplorer/hooks/useSeerExplorerPolling.tsx
Due: frontend

fix(onboarding): add upgrade suffix to SCM metrics tooltip
  static/app/views/onboarding/components/useScmFeatureMeta.tsx
  static/gsApp/hooks/useScmFeatureMeta.tsx
Due: frontend

Fix snapshots to force usage of merge-base
  .github/workflows/frontend-snapshots.yml
Due: none

fix(types): Remove sentry.api.paginator from mypy ignore list
  pyproject.toml
  src/sentry/api/paginator.py
Due: backend

codemod(button-variant): apply changes for @getsentry/hybrid-cloud
  static/gsAdmin/views/relocationCreate.tsx
  static/gsAdmin/views/relocations.tsx
Due: none

codemod(button-variant): apply changes for @getsentry/crons
  static/app/views/alerts/rules/uptime/assertions/opCommon.tsx
  static/app/views/alerts/rules/uptime/assertions/opGroup.tsx
  static/app/views/alerts/rules/uptime/uptimeAlertForm.tsx
  static/app/views/alerts/rules/uptime/uptimeHeadersField.tsx
Due: frontend

codemod(button-variant): apply changes for @getsentry/alerts-notifications
  static/app/views/alerts/rules/issue/addIntegrationRow.tsx
  static/app/views/alerts/rules/issue/details/ruleDetails.tsx
  static/app/views/alerts/rules/issue/index.tsx
  static/app/views/alerts/rules/metric/details/body.tsx
  static/app/views/alerts/rules/metric/details/errorMigrationWarning.tsx
  static/app/views/alerts/rules/metric/details/relatedIssuesNotAvailable.tsx
  static/app/views/alerts/rules/metric/incompatibleAlertQuery.tsx
  static/app/views/alerts/rules/metric/ruleForm.tsx
  static/app/views/alerts/rules/userSnoozeDeprecationBanner.tsx
Due: frontend

codemod(button-variant): apply changes for @getsentry/replay-frontend
  static/app/components/events/featureFlags/cta/featureFlagCTAContent.tsx
  static/app/components/events/featureFlags/onboarding/featureFlagOnboardingLayout.tsx
  static/app/components/replays/breadcrumbs/breadcrumbDescription.tsx
  static/app/components/replays/breadcrumbs/breadcrumbWebVital.tsx
  static/app/components/replays/breadcrumbs/replayComparisonModal.tsx
  static/app/components/replays/canvasSupportNotice.tsx
  static/app/components/replays/diff/learnMoreButton.tsx
  static/app/components/replays/jetpackComposePiiNotice.tsx
  static/app/components/replays/jumpButtons.tsx
  static/app/components/replays/player/replayPlayPauseButton.tsx
  static/app/components/replays/replayPlayPauseButton.tsx
  static/app/components/replays/table/deleteReplays.tsx
  static/app/components/replays/table/replayTableColumns.tsx
  static/app/components/replays/timeAndScrubberGrid.tsx
  static/app/components/replays/unmaskAlert.tsx
  static/app/components/replays/virtualizedGrid/detailsSplitDivider.tsx
  static/app/views/explore/replays/detail/ai/ai.tsx
  static/app/views/explore/replays/detail/header/replayDetailsPageBreadcrumbs.tsx
  static/app/views/explore/replays/list/replayOnboardingPanel.tsx
  static/app/views/explore/replays/list/saveReplayQueryButton.tsx
  static/gsApp/components/replayOnboardingCTA.tsx
Due: frontend

codemod(button-variant): apply changes for @getsentry/dashboards
  static/app/views/dashboards/components/genericOnboarding.tsx
  static/app/views/dashboards/controls.tsx
  static/app/views/dashboards/createFromSeerPrompt.tsx
  static/app/views/dashboards/dashboard.tsx
  static/app/views/dashboards/dashboardChatPanel.tsx
  static/app/views/dashboards/dashboardRevisions.tsx
  static/app/views/dashboards/filtersBar.tsx
  static/app/views/dashboards/globalFilter/addFilter.tsx
  static/app/views/dashboards/globalFilter/filterSelector.tsx
  static/app/views/dashboards/globalFilter/numericFilterSelector.tsx
  static/app/views/dashboards/manage/dashboardCard.tsx
  static/app/views/dashboards/manage/dashboardGrid.tsx
  static/app/views/dashboards/manage/dashboardTable.tsx
  static/app/views/dashboards/manage/index.tsx
  static/app/views/dashboards/widgetBuilder/buildSteps/groupByStep/groupBySelector.tsx
  static/app/views/dashboards/widgetBuilder/buildSteps/groupByStep/queryField.tsx
  static/app/views/dashboards/widgetBuilder/components/nameAndDescFields.tsx
  static/app/views/dashboards/widgetBuilder/components/queryFilterBuilder.tsx
  static/app/views/dashboards/widgetBuilder/components/saveButton.tsx
  static/app/views/dashboards/widgetBuilder/components/saveButtonGroup.tsx
  static/app/views/dashboards/widgetBuilder/components/visualize/index.tsx
  static/app/views/dashboards/widgetBuilder/components/visualize/visualizeGhostField.tsx
  static/app/views/dashboards/widgetBuilder/components/widgetBuilderSlideout.tsx
  static/app/views/dashboards/widgetCard/toolbar.tsx
  static/app/views/dashboards/widgetCard/widgetFrame.tsx
  static/app/views/dashboards/widgets/widget/widgetDescription.tsx
  static/app/views/insights/browser/resources/components/sampleImages.tsx
  static/app/views/insights/common/components/chartPanel.tsx
  static/app/views/insights/common/components/insightsTimeSeriesWidget.tsx
  static/app/views/insights/common/components/modulesOnboarding.tsx
  static/app/views/insights/common/components/tableCells/starredSegmentCell.tsx
  static/app/views/insights/crons/components/cronsLandingPanel.tsx
  static/app/views/insights/crons/components/newMonitorButton.tsx
  static/app/views/insights/crons/components/platformPickerPanel.tsx
  static/app/views/insights/crons/components/processingErrors/monitorProcessingErrors.tsx
  static/app/views/insights/uptime/views/overview.tsx
Due: frontend

paginator-like
  src/sentry/api/paginator.py
  src/sentry/utils/pagination_factory.py
Due: backend

codemod(button-variant): apply changes for @getsentry/data-browsing, @getsentry/machine-learning-ai
  static/app/components/searchQueryBuilder/askSeerCombobox/askSeerComboBox.tsx
  static/app/components/searchQueryBuilder/askSeerCombobox/askSeerPollingComboBox.tsx
Due: frontend
