Repository getsentry/sentry: changes, and which Codecov flags are due for each by the changed paths.
All: frontend, backend, Profiling Views, Profiling Components, Profiling Utils

chore(perf): Add specs for `SpanSummaryPage` (#70371)
  static/app/views/performance/database/databaseSpanSummaryPage.spec.tsx
  static/app/views/performance/database/databaseSpanSummaryPage.tsx
  static/app/views/starfish/views/spanSummaryPage/spanTransactionsTable.tsx
Due: frontend

ref(crons): Add logging for check_missed (#70386)
  src/sentry/monitors/tasks/check_missed.py
Due: backend

update tests and revert deletions default
  src/sentry/deletions/defaults/project.py
  tests/sentry/api/serializers/test_alert_rule.py
  tests/sentry/relay/config/test_metric_extraction.py
Due: backend

fix(highlights): Fix crashing on null tag keys (#70364)
  .github/CODEOWNERS
  static/app/components/events/eventTags/eventTagsTree.spec.tsx
  static/app/components/events/eventTags/eventTagsTree.tsx
Due: frontend

Replace usage of ActorTuple with RpcActor.
  src/sentry/api/endpoints/event_owners.py
  src/sentry/api/endpoints/project_rule_details.py
  src/sentry/api/fields/actor.py
  src/sentry/api/helpers/group_index/update.py
  src/sentry/api/helpers/group_index/validators/group.py
  src/sentry/api/serializers/models/alert_rule.py
  src/sentry/api/serializers/models/rule.py
  src/sentry/api/serializers/rest_framework/mentions.py
  src/sentry/incidents/logic.py
  src/sentry/integrations/slack/message_builder/issues.py
  src/sentry/issues/issue_occurrence.py
  src/sentry/issues/occurrence_consumer.py
  src/sentry/models/groupowner.py
  src/sentry/models/projectownership.py
  src/sentry/monitors/consumers/monitor_consumer.py
  src/sentry/monitors/endpoints/organization_monitor_index.py
  src/sentry/monitors/models.py
  src/sentry/monitors/serializers.py
  src/sentry/notifications/utils/participants.py
  src/sentry/ownership/grammar.py
  src/sentry/rules/actions/utils.py
  src/sentry/services/hybrid_cloud/actor.py
  src/sentry/utils/actor.py
  tests/sentry/api/endpoints/test_project_rule_details.py
  tests/sentry/api/endpoints/test_project_team_details.py
  tests/sentry/api/endpoints/test_rule_snooze.py
  tests/sentry/api/endpoints/test_team_alerts_triggered.py
  tests/sentry/api/helpers/test_group_index.py
  tests/sentry/api/serializers/rest_framework/test_mentions.py
  tests/sentry/api/serializers/test_alert_rule.py
  tests/sentry/deletions/test_organization.py
  tests/sentry/deletions/test_team.py
  tests/sentry/incidents/endpoints/test_organization_combined_rule_index_endpoint.py
  tests/sentry/incidents/endpoints/test_organization_incident_index.py
  tests/sentry/incidents/test_logic.py
  tests/sentry/issues/test_issue_occurrence.py
  tests/sentry/migrations/test_701_backfill_alertrule_user_team.py
  tests/sentry/models/test_project.py
  tests/sentry/models/test_projectownership.py
Due: backend

Address PR comments
  src/sentry/issues/status_change_consumer.py
  tests/sentry/issues/test_producer.py
  tests/sentry/issues/test_status_change_consumer.py
Due: backend

allow querying message id
  src/sentry/utils/snuba.py
  tests/snuba/api/endpoints/test_organization_events_span_indexed.py
Due: backend

ref(kafak): Add get_topic_codec (#70387)
  src/sentry/conf/types/kafka_definition.py
  src/sentry/eventstream/snuba.py
  src/sentry/monitors/clock_dispatch.py
  src/sentry/monitors/clock_tasks/producer.py
  src/sentry/monitors/consumers/clock_tasks_consumer.py
  src/sentry/monitors/consumers/clock_tick_consumer.py
  src/sentry/monitors/consumers/monitor_consumer.py
  src/sentry/monitors/tasks/clock_pulse.py
  src/sentry/replays/consumers/recording.py
  src/sentry/replays/consumers/recording_buffered.py
  src/sentry/sentry_metrics/client/kafka.py
  src/sentry/sentry_metrics/consumers/indexer/processing.py
  src/sentry/spans/consumers/detect_performance_issues/factory.py
  src/sentry/spans/consumers/process/factory.py
  src/sentry/testutils/cases.py
Due: backend

Update spec
  static/app/views/performance/database/databaseSpanSummaryPage.spec.tsx
Due: frontend

add alertruleprojects to project delete relations
  src/sentry/deletions/defaults/project.py
Due: backend

strip whitespace from llm response
  src/sentry/feedback/usecases/spam_detection.py
Due: backend

add trace status to test
  tests/snuba/api/endpoints/test_organization_events_span_indexed.py
Due: none

fix(snuba-search): fix issue where you could't search by the message (#70369)
  src/sentry/search/snuba/executors.py
  tests/sentry/issues/endpoints/test_organization_group_index.py
Due: backend

feat(tags): Adds border customizability to <Tag/> (#70269)
  static/app/components/badge/tag.stories.tsx
  static/app/components/badge/tag.tsx
Due: frontend

ref(seer-grouping): More pre-group-id-to-hash-switch fixes (#70237)
  src/sentry/api/endpoints/group_similar_issues_embeddings.py
  src/sentry/seer/utils.py
  tests/sentry/api/endpoints/test_group_similar_issues_embeddings.py
  tests/sentry/seer/test_utils.py
Due: backend

fix(webhooks): no data migrations for webhooks in the same category (#70292)
  src/sentry/receivers/sentry_apps.py
  tests/sentry/receivers/test_sentry_apps.py
Due: backend

feat(crons): Backfill missed clock-tick dispatches
  src/sentry/monitors/clock_dispatch.py
  tests/sentry/monitors/test_clock_dispatch.py
Due: backend

chore(issue-platform): Replace log with metric (#70160)
  src/sentry/issues/status_change_consumer.py
  tests/sentry/issues/test_producer.py
  tests/sentry/issues/test_status_change_consumer.py
Due: backend

Review feedback
  static/app/utils/discover/fields.tsx
  static/app/views/aiMonitoring/aiMonitoringDetailsPage.tsx
  static/app/views/performance/metricReadout.tsx
Due: frontend

strip whitespace from llm response (#70392)
  src/sentry/feedback/usecases/spam_detection.py
Due: backend

feedback: dont run user report linking if event is reprocessed
  src/sentry/tasks/post_process.py
Due: backend

Fill out more samples data and update tables and charts in destination summary
  static/app/views/performance/queues/charts/latencyChart.tsx
  static/app/views/performance/queues/destinationSummary/transactionsTable.spec.tsx
  static/app/views/performance/queues/destinationSummary/transactionsTable.tsx
  static/app/views/performance/queues/messageConsumerSamplesPanel.spec.tsx
  static/app/views/performance/queues/messageConsumerSamplesPanel.tsx
  static/app/views/performance/queues/messageSpanSamplesTable.tsx
  static/app/views/starfish/components/chart.tsx
  static/app/views/starfish/components/tableCells/renderHeadCell.tsx
  static/app/views/starfish/types.tsx
Due: frontend

add `IncompleteSeerDataError` and `SimilarGroupNotFoundError` exceptions
  src/sentry/seer/utils.py
Due: backend

add `SeerSimilarIssueData.from_raw` factory method
  src/sentry/seer/utils.py
Due: backend

add `SeerSimilarIssueData.from_raw` tests
  tests/sentry/seer/test_utils.py
Due: none

fix test
  tests/snuba/api/endpoints/test_organization_events_span_indexed.py
Due: none

feat(crons): Backfill missed clock-tick dispatches (#70338)
  src/sentry/monitors/clock_dispatch.py
  tests/sentry/monitors/test_clock_dispatch.py
Due: backend

cogs(access-logs): dont log internal methods
  src/sentry/conf/server.py
  src/sentry/middleware/access_log.py
  tests/sentry/middleware/test_access_log_middleware.py
Due: backend

fix(ui): Cleanup concurrent mode tag
  static/app/bootstrap/initializeSdk.tsx
Due: frontend

create alertruleproject
  tests/sentry/relay/config/test_metric_extraction.py
Due: none

Path conditions:
  frontend: any of: static/app/
  backend: any of: src/sentry/**/*.py
  Profiling Views: any of: static/app/views/profiling/**
  Profiling Components: any of: src/sentry/static/sentry/app/components/profiling/**
  Profiling Utils: any of: src/sentry/static/sentry/app/utils/profiling/**
