Repository getsentry/sentry: changes, and which Codecov flags are due for each by the changed paths.
All: frontend, backend, Profiling Views, Profiling Components, Profiling Utils

simplify json bundle handling code
  src/sentry/debug_files/artifact_bundle_indexing.py
Due: backend

Revert "Bust Symbolicator `list_files` cache on uploads (#53049)"
  src/sentry/lang/native/sources.py
  src/sentry/models/debugfile.py
  src/sentry/tasks/assemble.py
Due: backend

ref(metrics): Move MQB query transformer
  src/sentry/search/events/builder/metrics.py
  src/sentry/search/events/builder/mqb_query_transformer.py
  tests/sentry/search/events/builder/test_mqb_query_transformer.py
Due: backend

fix tests
  src/sentry/debug_files/artifact_bundle_indexing.py
  src/sentry/debug_files/artifact_bundles.py
  tests/sentry/debug_files/test_artifact_bundle_indexing.py
Due: backend

add experimental feature flag
  src/sentry/snuba/metrics/extraction.py
Due: backend

define a config key for the cluster to use
  src/sentry/conf/server.py
  src/sentry/lang/native/sources.py
Due: backend

wip
  src/sentry/relay/config/metric_extraction.py
Due: backend

Fix tests
  tests/sentry/processing/backpressure/test_monitoring.py
  tests/sentry/processing/backpressure/test_redis.py
Due: none

wip
  src/sentry/api/endpoints/relay/project_configs.py
  tests/sentry/api/endpoints/test_relay_projectconfigs_v4.py
Due: backend

Help mypy
  tests/sentry/processing/backpressure/test_redis.py
Due: none

fix(metrics): on demand metric deduplication
  src/sentry/relay/config/metric_extraction.py
  tests/sentry/relay/config/test_metric_extraction.py
Due: backend

type fix
  src/sentry/relay/config/metric_extraction.py
  tests/sentry/relay/config/test_metric_extraction.py
Due: backend

type fix
  tests/sentry/relay/config/test_metric_extraction.py
Due: none

ref(processing): Enable typing for stacktraces processing
  pyproject.toml
  src/sentry/stacktraces/processing.py
Due: backend

ref(getting-started-docs): Migrate python fra. docs to sentry main repo
  static/app/components/onboarding/gettingStartedDoc/sdkDocumentation.tsx
  static/app/gettingStartedDocs/php/laravel.tsx
  static/app/gettingStartedDocs/python/aiohttp.spec.tsx
  static/app/gettingStartedDocs/python/aiohttp.tsx
  static/app/gettingStartedDocs/python/asgi.spec.tsx
  static/app/gettingStartedDocs/python/asgi.tsx
  static/app/gettingStartedDocs/python/awslambda.spec.tsx
  static/app/gettingStartedDocs/python/awslambda.tsx
  static/app/gettingStartedDocs/python/bottle.spec.tsx
  static/app/gettingStartedDocs/python/bottle.tsx
  static/app/gettingStartedDocs/python/chalice.spec.tsx
  static/app/gettingStartedDocs/python/chalice.tsx
  static/app/gettingStartedDocs/python/falcon.spec.tsx
  static/app/gettingStartedDocs/python/falcon.tsx
  static/app/gettingStartedDocs/python/fastapi.spec.tsx
  static/app/gettingStartedDocs/python/fastapi.tsx
  static/app/gettingStartedDocs/python/gcpfunctions.spec.tsx
  static/app/gettingStartedDocs/python/gcpfunctions.tsx
  static/app/gettingStartedDocs/python/pylons.spec.tsx
  static/app/gettingStartedDocs/python/pylons.tsx
  static/app/gettingStartedDocs/python/pyramid.spec.tsx
Due: frontend

fix(replays): Initialize transaction from within the sub-process (#53010)
  src/sentry/replays/consumers/recording.py
  tests/sentry/replays/consumers/test_recording.py
Due: backend

tsc
  static/app/views/starfish/views/spans/selectors/actionSelector.tsx
  static/app/views/starfish/views/spans/selectors/domainSelector.tsx
Due: frontend

feat(functions): Include examples in functions trends timeseries (#53003)
  src/sentry/api/endpoints/organization_profiling_functions.py
  src/sentry/search/events/datasets/profile_functions.py
  tests/sentry/api/endpoints/test_organization_profiling_functions.py
Due: backend

Bust Symbolicator `list_files` cache on uploads (#53054)
  src/sentry/conf/server.py
  src/sentry/lang/native/sources.py
  src/sentry/models/debugfile.py
  src/sentry/tasks/assemble.py
Due: backend

feat(starfish): Remove span operation selector and column from specific modules (#52902)
  static/app/views/starfish/views/spans/spansTable.tsx
  static/app/views/starfish/views/spans/spansView.tsx
Due: frontend

fix(starfish): Remove `sps()` data unit hack (#53006)
  static/app/views/starfish/utils/useSpansQuery.tsx
Due: frontend

implement recalibrate-orgs
  src/sentry/dynamic_sampling/tasks/common.py
  src/sentry/dynamic_sampling/tasks/recalibrate_orgs.py
  tests/sentry/dynamic_sampling/tasks/test_boost_low_volume_transactions.py
  tests/sentry/dynamic_sampling/tasks/test_common.py
Due: backend

fix(starfish): eps and epm calculated incorrectly (#52988)
  src/sentry/api/bases/organization_events.py
  tests/snuba/api/endpoints/test_organization_events_stats_span_metrics.py
Due: backend

fix(metric-layer): Temporarily disable on starfish (#53008)
  src/sentry/snuba/spans_metrics.py
Due: backend

feat(starfish): Add span module field alias (#52819)
  src/sentry/search/events/constants.py
  src/sentry/search/events/datasets/spans_metrics.py
  tests/snuba/api/endpoints/test_organization_events_span_metrics.py
Due: backend

migrate python
  static/app/components/onboarding/gettingStartedDoc/sdkDocumentation.tsx
  static/app/gettingStartedDocs/python/python.spec.tsx
  static/app/gettingStartedDocs/python/python.tsx
Due: frontend

ref(normalize_stacktraces_for_grouping): Minor refactoring
  src/sentry/stacktraces/processing.py
Due: backend

Update static/app/views/settings/project/projectTeams.spec.tsx
  static/app/views/settings/project/projectTeams.spec.tsx
Due: frontend

ref(ts): Convert test projectCard to typescript (#53039)
  static/app/views/projectsDashboard/projectCard.spec.tsx
Due: frontend

ref(ts): Convert test organization rate limits to typescript (#53041)
  static/app/views/settings/organizationRateLimits/organizationRateLimits.spec.tsx
  static/app/views/settings/organizationRateLimits/organizationRateLimits.tsx
Due: frontend

Path conditions:
  frontend: any of: static/app/
  backend: any of: src/sentry/**/*.py
  Profiling Views: any of: static/app/views/profiling/**
  Profiling Components: any of: src/sentry/static/sentry/app/components/profiling/**
  Profiling Utils: any of: src/sentry/static/sentry/app/utils/profiling/**
