Repository getsentry/sentry: changes, and which Codecov flags are due for each by the changed paths.
All: frontend, backend, Profiling Views, Profiling Components, Profiling Utils

Path conditions:
  frontend: any of: static/app/
  backend: any of: src/sentry/**/*.py
  Profiling Views: any of: static/app/views/profiling/**
  Profiling Components: any of: src/sentry/static/sentry/app/components/profiling/**
  Profiling Utils: any of: src/sentry/static/sentry/app/utils/profiling/**

ref(viewer-context): Strip token from serialize(), bump TTL to 15min
  src/sentry/conf/server.py
  src/sentry/viewer_context.py
  tests/sentry/test_viewer_context_jwt.py
Due: backend

ref(workflows): Don't export metrics_incr from workflow_engine.utils
  src/sentry/workflow_engine/utils/__init__.py
Due: backend

ref(useApiQueries): Refactor the two callers of useApiQueries to remove that abstraction
  static/app/utils/queryClient.tsx
  static/app/utils/replays/hooks/useFeedbackEvents.tsx
  static/app/views/alerts/rules/issue/setupMessagingIntegrationButton.tsx
Due: frontend

Ensure nested settings pages are added to Cmdk
  static/app/components/commandPalette/ADDING_ACTIONS.md
  static/app/components/commandPalette/ui/commandPaletteGlobalActions.tsx
Due: frontend

Remove docs
  static/app/components/commandPalette/ADDING_ACTIONS.md
Due: frontend

Simplify and order by slug
  src/sentry/workflow_engine/endpoints/organization_test_fire_action.py
Due: backend

ref(monitors): Update onboarding modal and banner UI
  static/app/components/featureShowcase.tsx
  static/app/components/workflowEngine/ui/alertsMonitorsOnboardingBanner.tsx
  static/app/components/workflowEngine/ui/alertsMonitorsShowcase.tsx
Due: frontend

small rename
  src/sentry/seer/endpoints/seer_rpc.py
  tests/sentry/seer/endpoints/test_seer_rpc.py
Due: backend

xdist
  .github/workflows/acceptance.yml
Due: none

rm others
  .github/workflows/backend.yml
  .github/workflows/bump-sentry-in-getsentry.yml
  .github/workflows/bump-version.yml
  .github/workflows/codeowners-coverage.yml
  .github/workflows/codeql.yml
  .github/workflows/development-environment.yml
  .github/workflows/enforce-license-compliance.yml
  .github/workflows/fast-revert.yml
  .github/workflows/frontend-optional.yml
  .github/workflows/frontend-snapshots.yml
  .github/workflows/frontend.yml
  .github/workflows/getsentry-dispatch.yml
  .github/workflows/jest-balance.yml
  .github/workflows/label-pullrequest.yml
  .github/workflows/lock.yml
  .github/workflows/meta-deploys-detect-change-type.yml
  .github/workflows/migrations-drift.yml
  .github/workflows/migrations.yml
  .github/workflows/openapi-diff.yml
  .github/workflows/openapi.yml
  .github/workflows/pre-commit.yml
  .github/workflows/react-to-product-owners-yml-changes.yml
  .github/workflows/release.yml
  .github/workflows/self-hosted.yml
  .github/workflows/sentry-pull-request-bot.yml
  .github/workflows/update-baseline.yml
Due: none

Revert "xdist 3"
  .github/workflows/acceptance.yml
Due: none

start snuba bootstrap way sooner
  .github/workflows/acceptance.yml
Due: none

xdist 3
  .github/workflows/acceptance.yml
Due: none

feat(viewer-context): Restore ViewerContext from JWT in middleware
  src/sentry/middleware/viewer_context.py
  tests/sentry/middleware/test_viewer_context.py
Due: backend

ref(viewer-context): Log org mismatch as error, tighten docstrings
  src/sentry/middleware/viewer_context.py
  tests/sentry/middleware/test_viewer_context.py
Due: backend

ref(assign): Remove reassignment-from-own-team exception
  .agents/skills/sentry-security/references/serializer-patterns.md
  src/sentry/api/endpoints/project_rule_details.py
  src/sentry/api/fields/actor.py
  src/sentry/api/helpers/group_index/update.py
  src/sentry/incidents/endpoints/organization_alert_rule_details.py
  tests/sentry/api/endpoints/test_project_rule_details.py
  tests/sentry/api/fields/test_actor.py
  tests/sentry/workflow_engine/endpoints/validators/test_base_workflow.py
  tests/snuba/api/endpoints/test_project_group_index.py
Due: backend

restore
  .github/workflows/acceptance.yml
  .github/workflows/backend.yml
  .github/workflows/bump-sentry-in-getsentry.yml
  .github/workflows/bump-version.yml
  .github/workflows/codeowners-coverage.yml
  .github/workflows/codeql.yml
  .github/workflows/development-environment.yml
  .github/workflows/enforce-license-compliance.yml
  .github/workflows/fast-revert.yml
  .github/workflows/frontend-optional.yml
  .github/workflows/frontend-snapshots.yml
  .github/workflows/frontend.yml
  .github/workflows/getsentry-dispatch.yml
  .github/workflows/jest-balance.yml
  .github/workflows/label-pullrequest.yml
  .github/workflows/lock.yml
  .github/workflows/meta-deploys-detect-change-type.yml
  .github/workflows/migrations-drift.yml
  .github/workflows/migrations.yml
  .github/workflows/openapi-diff.yml
  .github/workflows/openapi.yml
  .github/workflows/pre-commit.yml
  .github/workflows/react-to-product-owners-yml-changes.yml
  .github/workflows/release.yml
  .github/workflows/self-hosted.yml
  .github/workflows/sentry-pull-request-bot.yml
  .github/workflows/update-baseline.yml
Due: none

apply
  .github/workflows/acceptance.yml
Due: none

ref(viewer-context): Move JWT header parsing to viewer_context module, add verification key list
  src/sentry/middleware/viewer_context.py
  src/sentry/viewer_context.py
  tests/sentry/test_viewer_context_jwt.py
Due: backend

more elegant shell
  .github/workflows/acceptance.yml
Due: none

feat(alerts): Add created_by search filter to workflow index endpoint
  src/sentry/workflow_engine/endpoints/organization_workflow_index.py
  tests/sentry/workflow_engine/endpoints/test_organization_workflow_index.py
Due: backend

review
  .github/workflows/acceptance.yml
Due: none

10 shards is nice now for frontend+backend
  .github/workflows/acceptance.yml
Due: none

Revert "10 shards is nice now for frontend+backend"
  .github/workflows/acceptance.yml
Due: none

collapse all frames to match previous behavior
  static/app/components/stackTrace/frame/frameRow.tsx
  static/app/components/stackTrace/issueStackTrace/issueStackTracePreview.tsx
  static/app/components/stackTrace/stackTrace.spec.tsx
  static/app/components/stackTrace/stackTraceContext.tsx
  static/app/components/stackTrace/stackTraceProvider.tsx
  static/app/components/stackTrace/types.tsx
Due: frontend

lint
  static/app/components/stackTrace/stackTrace.spec.tsx
Due: frontend

ref(cells): Safe Python symbol renames in relocation module
  src/sentry/relocation/models/relocationtransfer.py
  src/sentry/relocation/services/relocation_export/impl.py
  src/sentry/relocation/services/relocation_export/service.py
  src/sentry/relocation/tasks/process.py
  src/sentry/relocation/tasks/transfer.py
  tests/sentry/relocation/tasks/test_process.py
  tests/sentry/relocation/tasks/test_transfer.py
Due: backend

feat(cells): Compare locality not cell name in fork locality restriction
  src/sentry/api/endpoints/organization_fork.py
  tests/sentry/api/endpoints/test_organization_fork.py
Due: backend

ref(issues): Hide line numbers on non-in-app stack trace frames
  static/app/components/stackTrace/frame/frameHeader.tsx
  static/app/components/stackTrace/stackTrace.spec.tsx
Due: frontend

feat(integrations): Support initial data binding during pipeline initialization
  src/sentry/api/endpoints/organization_pipeline.py
  src/sentry/integrations/github/integration.py
  src/sentry/pipeline/provider.py
  tests/sentry/api/endpoints/test_organization_pipeline.py
Due: backend

fix(automations): Add Slack Staging action type to builder
  static/app/types/workflowEngine/actions.tsx
  static/app/views/automations/components/actionNodes.tsx
Due: frontend

fix(iswf): Updates the display label for alerts to use Workflow by default, when available
  src/sentry/notifications/notification_action/types.py
  tests/sentry/notifications/notification_action/test_issue_alert_registry_handlers.py
Due: backend

ref(testutils): Make cell_names required in assert_webhook_payloads_for_mailbox
  src/sentry/testutils/outbox.py
Due: backend

reload
  static/app/utils/analytics.tsx
Due: frontend

fix(np): Updates issue notification data factory to select correct handler class
  src/sentry/notifications/notification_action/utils.py
Due: backend

ref(viewer-context): Accept legacy HMAC headers, add verification key list
  src/sentry/middleware/viewer_context.py
  src/sentry/viewer_context.py
  tests/sentry/middleware/test_viewer_context.py
Due: backend

ref(viewer-context): Use kid→key dict for O(1) verification key lookup
  src/sentry/viewer_context.py
  tests/sentry/test_viewer_context_jwt.py
Due: backend

ref(viewer-context): Hoist hmac and orjson imports to module level
  src/sentry/viewer_context.py
Due: backend

ref(viewer-context): Extract kid to const, fix docstring per review
  src/sentry/middleware/viewer_context.py
  src/sentry/viewer_context.py
Due: backend

fix(automations): Add slack_staging to test Record<ActionType, any>
  static/app/views/automations/new.spec.tsx
Due: frontend
