Repository getsentry/sentry: changes, and which Codecov flags are due for each by the changed paths.
All: frontend, backend, Profiling Views, Profiling Components, Profiling Utils

Path conditions:
  frontend: any of: static/app/
  backend: any of: src/sentry/**/*.py
  Profiling Views: any of: static/app/views/profiling/**
  Profiling Components: any of: src/sentry/static/sentry/app/components/profiling/**
  Profiling Utils: any of: src/sentry/static/sentry/app/utils/profiling/**

add po-catalog-loader
  build-utils/po-catalog-loader.ts
  package.json
  webpack.config.ts
  yarn.lock
Due: none

cleanup
  build-utils/po-catalog-loader.ts
Due: none

add some logs for evebt not in sh error
  src/sentry/sentry_apps/tasks/sentry_apps.py
Due: backend

downgrade to non-esm
  build-utils/po-catalog-loader.ts
  package.json
  yarn.lock
Due: none

use package
  build-utils/po-catalog-loader.ts
  package.json
  webpack.config.ts
  yarn.lock
Due: none

add grant exchanger slos
  src/sentry/sentry_apps/metrics.py
  src/sentry/sentry_apps/token_exchange/grant_exchanger.py
Due: backend

🐛 fix
  src/sentry/workflow_engine/migration_helpers/alert_rule.py
  tests/sentry/workflow_engine/migration_helpers/test_migrate_alert_rule.py
Due: backend

test
  tests/sentry/incidents/endpoints/test_organization_alert_rule_details.py
Due: none

fix(api): Changes Issue team name to match new github team
  src/sentry/api/api_owners.py
Due: backend

fix(api): Changes Issue team name to match new github team (#90564)
  src/sentry/api/api_owners.py
Due: backend

button: drop anchor element props
  static/app/components/core/button/index.tsx
  static/app/components/core/button/linkButton.stories.tsx
  static/app/components/modals/recoveryOptionsModal.tsx
Due: frontend

button: fix test
  static/app/components/modals/recoveryOptionsModal.tsx
Due: frontend

feat(nextjs-insights): remove users from API table (#90478)
  static/app/views/insights/pages/platform/laravel/pathsTable.tsx
  static/app/views/insights/pages/platform/nextjs/index.tsx
Due: frontend

feedback
  static/app/views/projectsDashboard/index.tsx
Due: frontend

fix(event-contexts): Rename Expo Updates to OTA Updates (#90475)
  src/sentry/rules/conditions/event_attribute.py
  src/sentry/snuba/events.py
  static/app/utils/fields/index.ts
  tests/sentry/rules/conditions/test_event_attribute.py
  tests/sentry/workflow_engine/handlers/condition/test_event_attribute_handler.py
Due: frontend, backend

fix test
  static/app/views/projectsDashboard/index.spec.tsx
Due: frontend

Incorporated feedback
  static/app/views/organizationStats/getReasonGroupName.ts
Due: frontend

update lookup
  src/sentry/api/serializers/models/organization.py
  src/sentry/models/organizationonboardingtask.py
Due: backend

refactor
  static/app/utils/gettingStartedDocs/python.spec.tsx
  static/app/utils/gettingStartedDocs/python.tsx
Due: frontend

ref: flamegraphRendererDOM is only used in tests, so we re-name it to `testUtils`
  static/app/components/profiling/flamegraph/flamegraph.spec.tsx
  static/app/utils/profiling/renderers/flamegraphRenderer.tsx
  static/app/utils/profiling/renderers/flamegraphRenderer2D.tsx
  static/app/utils/profiling/renderers/testUtils.tsx
  static/app/views/profiling/profileSummary/profileSummaryPage.spec.tsx
Due: frontend, Profiling Views

fix(projects): Fix race condition in project creation
  src/sentry/models/project.py
Due: backend

Update src/sentry/receivers/onboarding.py
  src/sentry/receivers/onboarding.py
Due: backend

add types
  src/sentry/receivers/onboarding.py
Due: backend

fix(project-dashboard): Show projects without teams (#90355)
  static/app/views/projectsDashboard/index.spec.tsx
  static/app/views/projectsDashboard/index.tsx
Due: frontend

update logic
  src/sentry/receivers/onboarding.py
  tests/sentry/receivers/test_onboarding.py
Due: backend

chore(event-context): Add human friendly names for ota_updates and react_native_context
  static/app/components/events/contexts/utils.tsx
Due: frontend

feat(outcomes): Add attachment type to 'too large' outcome (#90484)
  static/app/views/organizationStats/getReasonGroupName.spec.ts
  static/app/views/organizationStats/getReasonGroupName.ts
Due: frontend

uncomment tests
  tests/sentry/receivers/test_onboarding.py
Due: none

feat(laravel-nextjs-insights): Show release bubbles
  static/app/views/insights/pages/platform/laravel/cachesWidget.tsx
  static/app/views/insights/pages/platform/laravel/index.tsx
  static/app/views/insights/pages/platform/laravel/jobsWidget.tsx
  static/app/views/insights/pages/platform/laravel/queriesWidget.tsx
  static/app/views/insights/pages/platform/nextjs/index.tsx
  static/app/views/insights/pages/platform/nextjs/slowSsrWidget.tsx
  static/app/views/insights/pages/platform/shared/durationWidget.tsx
  static/app/views/insights/pages/platform/shared/trafficWidget.tsx
Due: frontend

only show releases if bubbles are enabled
  static/app/views/insights/pages/platform/laravel/cachesWidget.tsx
  static/app/views/insights/pages/platform/laravel/jobsWidget.tsx
  static/app/views/insights/pages/platform/laravel/queriesWidget.tsx
  static/app/views/insights/pages/platform/nextjs/slowSsrWidget.tsx
  static/app/views/insights/pages/platform/shared/durationWidget.tsx
  static/app/views/insights/pages/platform/shared/getReleaseBubbleProps.tsx
  static/app/views/insights/pages/platform/shared/trafficWidget.tsx
Due: frontend

typing(issues): Type ProjectRepoPathParsingEndpoint (#89735)
  pyproject.toml
  src/sentry/api/endpoints/project_repo_path_parsing.py
Due: backend

wip
  src/sentry/spans/buffer.py
  src/sentry/spans/consumers/process/factory.py
  tests/sentry/spans/consumers/process/test_consumer.py
Due: backend

feat(projects): Mention AppHangsV2
  static/app/views/releases/utils/sessionTerm.spec.tsx
  static/app/views/releases/utils/sessionTerm.tsx
Due: frontend

ref(process_segments): Handle project not found
  src/sentry/spans/consumers/process_segments/message.py
Due: backend
