Repository getsentry/sentry: changes, and which Codecov flags are due for each by the changed paths.
All: frontend, backend

Uncomment error-ids coverage
  tests/sentry/replays/test_organization_replay_index.py
Due: none

ref(replays): Use camelCase field names for api responses (#37554)
  static/app/components/replays/breadcrumbs/replayTimeline.tsx
  static/app/components/replays/header/detailsPageBreadcrumbs.tsx
  static/app/components/replays/replayController.tsx
  static/app/components/replays/walker/urlWalker.tsx
  static/app/utils/replays/getCurrentUrl.tsx
  static/app/utils/replays/hooks/useExtractedCrumbHtml.tsx
  static/app/utils/replays/replayReader.tsx
  static/app/views/replays/detail/breadcrumbs/index.tsx
  static/app/views/replays/detail/domMutations/index.tsx
  static/app/views/replays/detail/eventMetaData.tsx
  static/app/views/replays/detail/focusArea.tsx
  static/app/views/replays/detail/network/index.tsx
  static/app/views/replays/detail/page.tsx
  static/app/views/replays/detail/trace.tsx
  static/app/views/replays/types.tsx
  tests/js/spec/utils/replays/getCurrentUrl.spec.tsx
Due: frontend

ref(charts): Use size "sm" for OptionSelector (#37570)
  static/app/components/charts/optionSelector.tsx
Due: frontend

ref(issueList): Use size="sm" for action dropdowns (#37576)
  static/app/components/actions/ignore.tsx
  static/app/components/actions/resolve.tsx
  static/app/views/issueList/actions/actionSet.tsx
  static/app/views/issueList/actions/sortOptions.tsx
Due: frontend

fix(alerts): Fix alignment issue in sidebar (#37586)
  static/app/views/alerts/rules/metric/details/sidebar.tsx
Due: frontend

change default
  static/app/views/settings/account/notifications/notificationSettingsByType.tsx
Due: frontend

time since test
  tests/sentry/sentry_metrics/test_id_generator.py
Due: none

Use browserHistory.push
  static/app/views/dashboardsV2/detail.tsx
  tests/js/spec/views/dashboardsV2/gridLayout/detail.spec.jsx
Due: frontend

getrandbits and fix typo
  src/sentry/sentry_metrics/indexer/id_generator.py
  tests/sentry/sentry_metrics/test_id_generator.py
Due: backend

fix(replays): Adjust highlight timestamp of console row at hovering over them (#37510)
  static/app/types/breadcrumbs.tsx
  static/app/views/replays/detail/console/consoleMessage.tsx
  static/app/views/replays/detail/console/index.tsx
  static/app/views/replays/detail/console/utils.tsx
  static/app/views/replays/detail/focusArea.tsx
  tests/js/spec/views/replays/detail/console/messageFormatter.spec.tsx
Due: frontend

feat(integrations): add env variable fields to sentry functions db (#37578)
  migrations_lockfile.txt
  src/sentry/api/serializers/models/sentry_function.py
  src/sentry/migrations/0313_sentry_functions_env_variables.py
  src/sentry/models/sentryfunction.py
Due: backend

add another comment
  src/sentry/sentry_metrics/indexer/id_generator.py
Due: backend

feat(dashboard-filters): Releases in query params (#37475)
  static/app/views/dashboardsV2/detail.tsx
  static/app/views/dashboardsV2/filtersBar.tsx
  static/app/views/dashboardsV2/orgDashboards.tsx
  static/app/views/dashboardsV2/utils.tsx
  tests/js/spec/views/dashboardsV2/gridLayout/detail.spec.jsx
  tests/js/spec/views/dashboardsV2/utils.spec.tsx
Due: frontend

use --:-- for loading timestamps instead of 00:00
  static/app/components/replays/replayController.tsx
Due: frontend

document hasProfiles in endpoint
  src/sentry/api/endpoints/organization_projects.py
Due: backend

bug(replays): Revert #37394 & #37442 (#37601)
  static/app/components/replays/replayContext.tsx
Due: frontend

feat(search): datepicker in search
  static/app/components/searchSyntax/parser.tsx
  static/app/components/searchSyntax/utils.tsx
  static/app/components/smartSearchBar/index.tsx
  static/app/components/smartSearchBar/searchBarDatePicker.tsx
  static/app/components/smartSearchBar/searchBarFlyout.tsx
  static/app/components/smartSearchBar/searchDropdown.tsx
  static/app/components/smartSearchBar/types.tsx
  static/app/components/smartSearchBar/utils.tsx
  static/app/stores/tagStore.tsx
  tests/js/spec/components/smartSearchBar/index.spec.jsx
  tests/js/spec/views/dashboardsV2/widgetBuilder/widgetBuilder.spec.tsx
Due: frontend

update the conditions for showing Replays vs RRWeb viewer on Event Details
  static/app/components/events/eventEntries.tsx
Due: frontend

ref: upgrade to mypy 0.9xx
  mypy.ini
  requirements-dev-frozen.txt
  requirements-dev-only-frozen.txt
  requirements-dev.txt
  src/sentry/analytics/event.py
  src/sentry/api/endpoints/organization_events_trace.py
  src/sentry/constants.py
  src/sentry/killswitches.py
  src/sentry/ratelimits/utils.py
  src/sentry/sentry_metrics/metrics_wrapper.py
  src/sentry/shared_integrations/response/base.py
  src/sentry/utils/dates.py
  tests/sentry/lang/native/test_appconnect.py
Due: backend

fix(dashboard-filters): Move filters beta badge and add section (#37599)
  static/app/views/dashboardsV2/filtersBar.tsx
  static/app/views/dashboardsV2/releasesSelectControl.tsx
Due: frontend

stop running load mocks by default
  scripts/lib.sh
Due: none

try a new regex
  jest.config.ts
Due: none

ref(replays): Remove some duplicate layout declaration code
  static/app/utils/replays/hooks/useActiveReplayTab.tsx
  static/app/utils/replays/hooks/useReplayLayout.tsx
  static/app/views/replays/detail/layout/chooseLayout.tsx
  static/app/views/replays/detail/layout/index.tsx
  static/app/views/replays/detail/layout/utils.tsx
  static/app/views/replays/details.tsx
Due: frontend

feat(profiling): add frequency color encoding option
  static/app/components/profiling/flamegraphOptionsContextMenu.tsx
  static/app/components/profiling/flamegraphOptionsMenu.tsx
  static/app/utils/profiling/colors/utils.tsx
  static/app/utils/profiling/flamegraph/flamegraphStateProvider/flamegraphPreferences.tsx
  static/app/utils/profiling/flamegraph/flamegraphStateProvider/index.tsx
  static/app/utils/profiling/flamegraph/flamegraphThemeProvider.tsx
Due: frontend

ref(types): use interface (#37594)
  static/app/types/onboarding.tsx
  static/app/types/organization.tsx
  static/app/types/project.tsx
  static/app/types/release.tsx
  static/app/types/user.tsx
  static/app/views/organizationStats/types.tsx
  static/app/views/organizationStats/usageStatsOrg.tsx
  static/app/views/organizationStats/usageStatsProjects.tsx
Due: frontend

track perf problem detection
  src/sentry/tasks/performance_detection.py
Due: backend

less hacky way of getting environment variables
  static/app/types/integrations.tsx
  static/app/views/settings/organizationDeveloperSettings/sentryFunctionDetails.tsx
  static/app/views/settings/organizationDeveloperSettings/sentryFunctionsEnvironmentVariables.tsx
Due: frontend

Revert "Uncomment error-ids coverage"
  tests/sentry/replays/test_organization_replay_index.py
Due: none

fix: Fix `reset-db` to create a user before loading mocks (#37584)
  scripts/lib.sh
Due: none

Path conditions:
  frontend: any of: static/app/
  backend: any of: src/sentry/**/*.py
