Repository getsentry/sentry: changes, and which Codecov flags are due for each by the changed paths.
All: frontend, backend, Profiling Views, Profiling Components, Profiling Utils

codecov.yml:

# Setting coverage targets per flag
coverage:
  status:
    project: false
    patch:
      frontend:
        # codecov will not fail status checks for master
        only_pulls: true
        informational: false # Fail the check
        target: 60%
        flags:
          - frontend
      backend:
        # codecov will not fail status checks for master
        only_pulls: true
        informational: false # Fail the check
        target: 90%
        flags:
          - backend
  ignore:
    - src/*/migrations/
    - src/bitfield/
    - src/sentry/debug/
    - src/sentry/lint/
    - src/sentry/runner/
    - src/social_auth/
    - static/app/routes.tsx
    - tests/

component_management:
  individual_components:
    # Profiling team components
    - component_id: 'profiling_views'
      name: 'Profiling Views'
      paths:
        - 'static/app/views/profiling/**'
    - component_id: 'profiling_components'
      name: 'Profiling Components'
      paths:
        - 'src/sentry/static/sentry/app/components/profiling/**'
    - component_id: 'profiling_utils'
      name: 'Profiling Utils'
      paths:
        - 'src/sentry/static/sentry/app/utils/profiling/**'

flags:
  frontend:
    paths:
      - 'static/app/'
    carryforward: true
    # FE uploads 4 coverage reports. This property ensures codecov waits
    # for all reports to be uploaded before creating a GitHub status check.
    # NOTE: If you change this, make sure to change `comment.after_n_builds` below as well.
    after_n_builds: 4
  backend:
    paths:
      - 'src/sentry/**/*.py'
    carryforward: true
    # Do not send any status checks until n coverage reports are uploaded.
    # NOTE: If you change this, make sure to change `comment.after_n_builds` below as well.
    after_n_builds: 18

# https://docs.codecov.com/docs/flags#two-approaches-to-flag-management
flag_management:
  individual_flags:
    - name: smart-tests
      # Prevents the upload with this flag from being copied accross commits
      carryforward: false
      # https://docs.codecov.com/docs/getting-started-with-ats#step-2-configure-the-codecovyml-for-automated-test-selection
      # carryforward_mode: "labels"
      statuses:
        # https://github.com/codecov/shared/blob/main/shared/validation/user_schema.py#L310
        - type: 'patch'
          only_pulls: true

# Read more here: https://docs.codecov.com/docs/pull-request-comments
comment:
  # This is the addition of carry forward builds and fresh builds, thus, it's the addition
  # of the FE and BE builds
  after_n_builds: 22
  layout: 'diff, files'
  # Update, if comment exists. Otherwise post new.
  behavior: default
  # Comments will only post when coverage changes. Furthermore, if a comment
  # already exists, and a newer commit results in no coverage change for the
  # entire pull, the comment will be deleted.
  require_changes: true
  require_base: true # must have a base report to post
  require_head: true # must have a head report to post

cli:
  # This would be used when uploading the ats results
  # But we will not be doing that yet
  plugins:
    pycoverage:
      report_type: 'json'
    compress-pycoverage:
      file_to_compress: '.artifacts/python.coverage.json'
      # We don't want to upload the original coverage report by accident
      # Because it's too big
      delete_uncompressed: true
  runners:
    pytest:
      # Same args used for the backend tests
      # See Makefile:135
      collect_tests_options:
        - 'tests'
        - '--ignore=tests/acceptance'
        - '--ignore=tests/apidocs'
        - '--ignore=tests/js'
        - '--ignore=tests/tools'

feat(relocation): Add API to list relocation's GCS artifacts (#69430)
  src/sentry/api/endpoints/relocations/artifacts/index.py
  src/sentry/api/endpoints/relocations/details.py
  src/sentry/api/urls.py
  src/sentry/models/files/utils.py
  src/sentry/utils/relocation.py
  tests/sentry/api/endpoints/relocations/artifacts/test_index.py
Due: backend

Uncomment asserts
  tests/sentry/api/endpoints/relocations/artifacts/test_details.py
Due: none

feat(relocation): All relocation artifacts to be downloaded
  src/sentry/api/endpoints/relocations/artifacts/details.py
  src/sentry/api/urls.py
  tests/sentry/api/endpoints/relocations/artifacts/test_details.py
Due: backend

fix(replays): dont let superusers affect viewed by
  src/sentry/replays/endpoints/project_replay_viewed_by.py
  tests/sentry/replays/test_project_replay_viewed_by.py
Due: backend

updated logic for sentry_app_id_or_ slug
  src/sentry/hybridcloud/apigateway/apigateway.py
  src/sentry/hybridcloud/apigateway/proxy.py
  tests/sentry/hybridcloud/apigateway/test_apigateway.py
Due: backend

feat(new-trace): Cleaned up span node detail file structure.
  static/app/views/performance/newTraceDetails/traceDrawer/details/span/index.tsx
  static/app/views/performance/newTraceDetails/traceDrawer/details/span/sections/table/index.tsx
  static/app/views/performance/newTraceDetails/traceDrawer/details/span/sections/table/rows/ancestry.tsx
  static/app/views/performance/newTraceDetails/traceDrawer/details/span/sections/table/rows/description.tsx
  static/app/views/performance/newTraceDetails/traceDrawer/details/span/sections/table/rows/duration.tsx
  static/app/views/performance/newTraceDetails/traceDrawer/details/span/sections/table/rows/http.tsx
  static/app/views/performance/newTraceDetails/traceDrawer/details/span/sections/table/rows/keys.tsx
  static/app/views/performance/newTraceDetails/traceDrawer/details/span/sections/table/rows/tags.tsx
Due: frontend

feat(perf): Remove "Starfish" sidebar section (#69524)
  static/app/components/sidebar/index.tsx
Due: frontend

fix(perf): Move "Give Feedback" button to header (#69527)
  static/app/views/performance/browser/resources/index.tsx
  static/app/views/performance/browser/resources/resourceSummaryPage/index.tsx
  static/app/views/performance/browser/webVitals/pageOverview.tsx
  static/app/views/performance/browser/webVitals/webVitalsLandingPage.tsx
  static/app/views/performance/cache/cacheLandingPage.tsx
  static/app/views/performance/database/databaseLandingPage.tsx
  static/app/views/performance/database/databaseSpanSummaryPage.tsx
  static/app/views/performance/http/httpDomainSummaryPage.tsx
  static/app/views/performance/http/httpLandingPage.tsx
  static/app/views/performance/queues/destinationSummary/destinationSummaryPage.tsx
  static/app/views/performance/queues/queuesLandingPage.tsx
  static/app/views/starfish/modules/mobile/appStartup.tsx
  static/app/views/starfish/modules/mobile/pageload.tsx
  static/app/views/starfish/views/screens/screenLoadSpans/index.tsx
Due: frontend

Re-implement
  src/sentry/api/endpoints/organization_events_trace.py
  src/sentry/issues/related/trace_connected.py
Due: backend

feat(slack): Debug function to generate slack block kit preview URLs (#69471)
  src/sentry/testutils/helpers/slack.py
Due: backend

✅ Add new api mock to tests
  static/app/views/settings/projectTags/index.spec.tsx
Due: frontend

test(ui): Prevent flake in sudo modal
  static/app/components/modals/sudoModal.spec.tsx
Due: frontend

feat(relocation): Allow relocation artifacts to be downloaded (#69444)
  src/sentry/api/endpoints/relocations/artifacts/details.py
  src/sentry/api/urls.py
  tests/sentry/api/endpoints/relocations/artifacts/test_details.py
Due: backend

feat: enable typescript biome rules
  biome.json
  static/app/components/customIgnoreCountModal.tsx
  static/app/components/events/interfaces/spans/dragManager.tsx
  static/app/components/events/interfaces/spans/types.tsx
  static/app/data/platformCategories.tsx
  static/app/gettingStartedDocs/dotnet/dotnet.tsx
  static/app/gettingStartedDocs/dotnet/maui.tsx
  static/app/utils/crashReports.tsx
  static/app/utils/performance/contexts/pageAlert.tsx
  static/app/utils/profiling/fzf/fzf.ts
  static/app/utils/replays/timer.tsx
  static/app/utils/tokenizeSearch.tsx
  static/app/views/alerts/rules/metric/types.tsx
  static/app/views/discover/table/columnEditCollection.tsx
  static/app/views/issueList/utils.tsx
  static/app/views/performance/cache/referrers.ts
  static/app/views/performance/newTraceDetails/traceModels/traceTree.tsx
  static/app/views/projectInstall/issueAlertOptions.tsx
  static/app/views/relocation/relocation.tsx
  static/app/views/settings/projectSourceMaps/projectSourceMaps.tsx
  static/app/views/starfish/components/chart.tsx
  static/app/views/starfish/utils/sqlish/SQLishParser.ts
  static/app/views/starfish/views/screens/index.tsx
  static/app/views/starfish/views/screens/screenLoadSpans/charts.tsx
  tests/js/setup.ts
Due: frontend

cleanup
  src/sentry/consumers/__init__.py
  src/sentry/issues/occurrence_consumer.py
  src/sentry/issues/run.py
Due: backend

feat(trace): bring back dashed backgrounds (#69321)
  static/app/views/performance/newTraceDetails/trace.tsx
  static/app/views/performance/newTraceDetails/traceDrawer/traceDrawer.tsx
  static/app/views/performance/newTraceDetails/traceModels/traceTree.tsx
  static/app/views/performance/newTraceDetails/traceRenderers/virtualizedViewManager.tsx
Due: frontend

feat(trace-explorer): Support additional queries for separate spans
  src/sentry/api/endpoints/organization_traces.py
  tests/sentry/api/endpoints/test_organization_traces.py
Due: backend

test(ui): Prevent flake in sudo modal test (#69533)
  static/app/components/modals/sudoModal.spec.tsx
Due: frontend

fix: disable prettier logging
  package.json
Due: none

fix(ingest): Repair broken title data (#69398)
  src/sentry/event_manager.py
  tests/sentry/event_manager/test_event_manager_grouping.py
  tests/sentry/event_manager/test_severity.py
Due: backend

feat: enable typescript biome rules (#69534)
  biome.json
  static/app/components/customIgnoreCountModal.tsx
  static/app/components/events/interfaces/spans/dragManager.tsx
  static/app/components/events/interfaces/spans/types.tsx
  static/app/data/platformCategories.tsx
  static/app/gettingStartedDocs/dotnet/dotnet.tsx
  static/app/gettingStartedDocs/dotnet/maui.tsx
  static/app/utils/crashReports.tsx
  static/app/utils/performance/contexts/pageAlert.tsx
  static/app/utils/profiling/fzf/fzf.ts
  static/app/utils/replays/timer.tsx
  static/app/utils/tokenizeSearch.tsx
  static/app/views/alerts/rules/metric/types.tsx
  static/app/views/discover/table/columnEditCollection.tsx
  static/app/views/issueList/utils.tsx
  static/app/views/performance/cache/referrers.ts
  static/app/views/performance/newTraceDetails/traceModels/traceTree.tsx
  static/app/views/projectInstall/issueAlertOptions.tsx
  static/app/views/relocation/relocation.tsx
  static/app/views/settings/projectSourceMaps/projectSourceMaps.tsx
  static/app/views/starfish/components/chart.tsx
  static/app/views/starfish/utils/sqlish/SQLishParser.ts
  static/app/views/starfish/views/screens/index.tsx
  static/app/views/starfish/views/screens/screenLoadSpans/charts.tsx
  tests/js/setup.ts
Due: frontend

update tests
  static/app/actionCreators/prompts.tsx
  static/app/components/dropdownMenu/index.spec.tsx
  static/app/components/events/eventReplay/replayInlineOnboardingPanel.spec.tsx
Due: frontend

using doc_integration_id_or_slug
  src/sentry/api/bases/doc_integrations.py
  src/sentry/api/urls.py
  src/sentry/apidocs/api_ownership_allowlist_dont_modify.py
  src/sentry/apidocs/api_publish_status_allowlist_dont_modify.py
Due: backend

fix(replays): dont let superusers affect viewed by (#69529)
  src/sentry/replays/endpoints/project_replay_viewed_by.py
  tests/sentry/replays/test_project_replay_viewed_by.py
Due: backend

fix: disable prettier logging (#69536)
  package.json
Due: none

feat(new-trace): Adding issues link to trace header.
  static/app/views/performance/newTraceDetails/traceDrawer/details/issues/issues.tsx
  static/app/views/performance/newTraceDetails/traceDrawer/details/styles.tsx
  static/app/views/performance/newTraceDetails/traceHeader.tsx
Due: frontend

feat(billing): Allow passing reserved, ondemand to usage chart (#69366)
  static/app/views/organizationStats/usageChart/index.tsx
Due: frontend

fix bug
  src/sentry/consumers/__init__.py
Due: backend

chore(actor) Backfill rule.owner fields (#69510)
  migrations_lockfile.txt
  src/sentry/migrations/0704_backfill_rule_user_team.py
  tests/sentry/migrations/test_704_backfill_rule_user_team.py
Due: backend
