Repository getsentry/sentry: changes, and which Codecov flags are due for each by the changed paths.
All: frontend, backend, Profiling Views, Profiling Components, Profiling Utils

feat(preprod): Log quota check (#107595)
  src/sentry/preprod/quotas.py
Due: backend

some fixes
  static/app/views/dashboards/widgetCard/index.tsx
  static/app/views/dashboards/widgetCard/visualizationWidget.tsx
Due: frontend

fix(dashboards): bring selected option to top of visualize dropdown (#107355)
  static/app/views/dashboards/widgetBuilder/components/visualize/aggregateParameterField.tsx
  static/app/views/dashboards/widgetBuilder/components/visualize/selectRow.tsx
  static/app/views/dashboards/widgetBuilder/components/visualize/traceMetrics/aggregateSelector.tsx
Due: frontend

fix: Use save_new_event() instead of self.store_event()
  tests/sentry/grouping/test_game_thread_grouping.py
Due: none

test(seer): Add tests for Slack renderer and autofix templates
  tests/sentry/notifications/platform/slack/renderers/__init__.py
  tests/sentry/notifications/platform/slack/renderers/test_seer.py
  tests/sentry/notifications/platform/templates/test_seer.py
  tests/sentry/seer/autofix/test_issue_summary.py
  tests/sentry/seer/entrypoints/integrations/test_slack.py
Due: none

fix(dashboards): Ensure system activity avatar respects size prop
  static/app/components/activity/item/avatar.tsx
Due: frontend

:necktie: Clean up constants
  static/app/views/explore/constants.tsx
Due: frontend

fix(tests): Add __init__.py to templates test directory
  tests/sentry/notifications/platform/templates/__init__.py
Due: none

fix(uptime): pass full subscription object to validator (#107557)
  src/sentry/uptime/endpoints/validators.py
Due: backend

fix(dashboards): Fix system avatar dark mode colors
  static/app/components/activity/item/avatar.tsx
Due: frontend

docs: Remove extras from installation instructions (#107492)
  static/app/components/updatedEmptyState.spec.tsx
  static/app/gettingStartedDocs/python-bottle/index.tsx
  static/app/gettingStartedDocs/python-bottle/onboarding.tsx
  static/app/gettingStartedDocs/python-celery/index.tsx
  static/app/gettingStartedDocs/python-celery/onboarding.tsx
  static/app/gettingStartedDocs/python-chalice/index.tsx
  static/app/gettingStartedDocs/python-chalice/onboarding.tsx
  static/app/gettingStartedDocs/python-django/index.tsx
  static/app/gettingStartedDocs/python-django/onboarding.tsx
  static/app/gettingStartedDocs/python-falcon/index.tsx
  static/app/gettingStartedDocs/python-falcon/onboarding.tsx
  static/app/gettingStartedDocs/python-fastapi/index.tsx
  static/app/gettingStartedDocs/python-fastapi/onboarding.tsx
  static/app/gettingStartedDocs/python-flask/index.tsx
  static/app/gettingStartedDocs/python-flask/onboarding.tsx
  static/app/gettingStartedDocs/python-quart/index.tsx
  static/app/gettingStartedDocs/python-quart/onboarding.tsx
  static/app/gettingStartedDocs/python-rq/index.tsx
  static/app/gettingStartedDocs/python-rq/onboarding.tsx
  static/app/gettingStartedDocs/python-sanic/index.tsx
  static/app/gettingStartedDocs/python-sanic/onboarding.tsx
  static/app/gettingStartedDocs/python-starlette/index.tsx
  static/app/gettingStartedDocs/python-starlette/onboarding.tsx
  static/app/gettingStartedDocs/python-tornado/index.tsx
  static/app/gettingStartedDocs/python-tornado/onboarding.tsx
  static/app/gettingStartedDocs/python/agentMonitoring.tsx
  static/app/gettingStartedDocs/python/featureFlag.tsx
  static/app/gettingStartedDocs/python/utils.spec.tsx
  static/app/gettingStartedDocs/python/utils.tsx
Due: frontend

chore: Update outdated GitHub Actions versions
  .github/workflows/backend-selective.yml
Due: none

code review
  static/app/views/dashboards/widgetCard/genericWidgetQueries.tsx
  static/app/views/dashboards/widgetCard/visualizationWidget.tsx
Due: frontend

ref(seer): Simplify Slack entrypoint tests and fix renderer logic
  src/sentry/notifications/platform/slack/renderers/seer.py
  tests/sentry/seer/entrypoints/integrations/test_slack.py
Due: backend

fixes
  static/app/views/dashboards/widgetCard/genericWidgetQueries.tsx
  static/app/views/dashboards/widgetCard/visualizationWidget.tsx
Due: frontend

minor fixes
  static/app/views/dashboards/widgetCard/visualizationWidget.tsx
Due: frontend

clarify comment
  static/app/views/dashboards/widgetCard/visualizationWidget.tsx
Due: frontend

chore(seer): Clean up slop in Slack renderer and templates
  src/sentry/notifications/platform/slack/renderers/seer.py
  src/sentry/notifications/platform/templates/seer.py
  tests/sentry/notifications/platform/slack/renderers/test_seer.py
Due: backend

chore(cross-event): Limit date selection when cross event querying (#107401)
  static/app/utils/duration/statsPeriodToDays.tsx
  static/app/views/explore/constants.tsx
  static/app/views/explore/spans/content.spec.tsx
  static/app/views/explore/spans/content.tsx
Due: frontend

Add PullRequest type and get_pull_request to SCM platform
  src/sentry/integrations/github/client.py
  src/sentry/scm/private/providers/github.py
  src/sentry/scm/types.py
Due: backend

fix(dashboards): fix slideout panels in page summary not filtering based on global filter on transaction (#107560)
  static/app/views/dashboards/sortableWidget.tsx
  static/app/views/dashboards/utils/useWidgetSlideout.tsx
  static/app/views/insights/browser/webVitals/components/pageOverviewWebVitalsDetailPanel.tsx
Due: frontend

feat(dashboards): Update web vitals page summary prebuilt dashboard to use equations (#107552)
  static/app/views/dashboards/utils/prebuiltConfigs/webVitals/pageSummary.ts
Due: frontend

ref(arroyo): use arroyo stuck_detector implementation
  pyproject.toml
  src/sentry/utils/arroyo.py
  tests/sentry/utils/test_arroyo.py
  uv.lock
Due: backend

drop unused color prop
  static/app/components/activity/item/avatar.tsx
Due: frontend

Add get_pull_request to SourceCodeManager with tests
  src/sentry/scm/actions.py
  tests/sentry/scm/test_fixtures.py
  tests/sentry/scm/unit/test_scm_actions.py
Due: backend

fix(dashboards): Fix system activity avatar sizing and dark mode (#107598)
  static/app/components/activity/item/avatar.tsx
Due: frontend

feat(oauth): Add CIMD metadata fetching service
  src/sentry/oauth/__init__.py
  src/sentry/oauth/cimd.py
  tests/sentry/oauth/__init__.py
  tests/sentry/oauth/test_cimd.py
Due: backend

feat(oauth): Add CIMD metadata document validation
  src/sentry/oauth/cimd.py
  tests/sentry/oauth/test_cimd.py
Due: backend

feat(oauth): Add CIMD URL detection in authorization endpoint
  src/sentry/web/frontend/oauth_authorize.py
  tests/sentry/web/frontend/test_oauth_authorize.py
Due: backend

feat(oauth): Add CIMD metadata caching layer
  src/sentry/oauth/cimd.py
  tests/sentry/oauth/test_cimd.py
Due: backend

:necktie: Update PageFiltersContainer to run an effect and re-init if max pickable days changes and is lower than before
  static/app/components/organizations/pageFilters/container.tsx
Due: frontend

:white_check_mark: Add in tests
  static/app/components/organizations/pageFilters/container.spec.tsx
Due: frontend

Path conditions:
  frontend: any of: static/app/
  backend: any of: src/sentry/**/*.py
  Profiling Views: any of: static/app/views/profiling/**
  Profiling Components: any of: src/sentry/static/sentry/app/components/profiling/**
  Profiling Utils: any of: src/sentry/static/sentry/app/utils/profiling/**
