Repository getsentry/sentry: changes, and which Codecov flags are due for each by the changed paths.
All: frontend, backend, Profiling Views, Profiling Components, Profiling Utils

fix typing
  src/sentry/runner/commands/configoptions.py
Due: backend

Empty state
  static/app/components/omniSearch/palette.tsx
  static/images/spot/cmd-k-error-2.png
  static/images/spot/cmd-k-error.png
Due: frontend

Move container height to list
  static/app/components/omniSearch/palette.tsx
Due: frontend

Shadow scroll
  static/app/components/omniSearch/palette.tsx
Due: frontend

Shadow adjustments
  static/app/components/omniSearch/palette.tsx
Due: frontend

recent issues
  static/app/components/omniSearch/palette.tsx
  static/app/utils/seenIssuesStorage.tsx
  static/app/utils/useSeenIssuesFilter.tsx
  static/app/views/issueDetails/groupDetails.tsx
Due: frontend

team
  pyproject.toml
  src/sentry/api/bases/team.py
Due: backend

team
  pyproject.toml
Due: none

replace Pipeline[Any, Any]
  src/sentry/auth/providers/dummy.py
  src/sentry/auth/providers/google/views.py
  src/sentry/auth/providers/oauth2.py
  src/sentry/auth/providers/saml2/generic/views.py
  src/sentry/auth/providers/saml2/rippling/provider.py
Due: backend

Fix rebase conflicts
  static/app/components/omniSearch/palette.tsx
  static/images/spot/cmd-k-error-2.png
  static/images/spot/cmd-k-error.png
  static/images/spot/cmd-k-error.svg
Due: frontend

oops not this
  src/sentry/auth/providers/oauth2.py
Due: backend

swc core-js mode usage
  rspack.config.ts
  static/app/index.tsx
Due: frontend

Empty states and shadows (#98035)
  static/app/components/omniSearch/palette.tsx
  static/images/spot/cmd-k-error.svg
Due: frontend

use nav history in cmdk
  static/app/components/omniSearch/palette.tsx
  static/app/utils/navigationStorage.tsx
  static/app/views/app/index.tsx
Due: frontend

Store actions as a list instead of a map to keep ordering
  static/app/components/omniSearch/provider.tsx
  static/app/components/omniSearch/types.ts
  static/app/components/omniSearch/useOmniSearchState.tsx
Due: frontend

Better fix for selected item
  static/app/components/omniSearch/palette.tsx
Due: frontend

🚧 Get progressive wizard UX sorta done
  static/app/views/incidents/components/componentStep.tsx
  static/app/views/incidents/components/demoStep.tsx
  static/app/views/incidents/components/setupPanel.tsx
  static/app/views/incidents/components/setupWizard.tsx
  static/app/views/incidents/components/smokeyStep.tsx
  static/app/views/incidents/components/templateStep.tsx
  static/app/views/incidents/components/toolStep.tsx
  static/app/views/incidents/hub.tsx
  static/app/views/incidents/styles.ts
Due: frontend

chore: add Sentry instrumentation
  src/sentry/feedback/models.py
  src/sentry/feedback/usecases/create_feedback.py
  src/sentry/feedback/usecases/spam_detection.py
Due: backend

Better ordering of global actiosn
  static/app/components/omniSearch/useOmniSearchState.tsx
Due: frontend

sidebar
  static/app/views/issueDetails/streamline/aiAnalysisCard.tsx
Due: frontend

labels
  ISSUE_LABELS_README.md
  static/app/components/eventOrGroupExtraDetails.tsx
  static/app/components/issueLabels/index.tsx
  static/app/components/issueLabels/issueLabel.tsx
  static/app/components/issueLabels/issueLabelInput.tsx
  static/app/components/issueLabels/issueLabelList.tsx
  static/app/components/issueLabels/labelFilter.tsx
  static/app/components/stream/group.tsx
  static/app/hooks/useIssueLabels.ts
  static/app/views/issueLabels/demo.tsx
  static/app/views/issueList/actions/actionSet.tsx
  static/app/views/issueList/filters.tsx
  static/app/views/issueList/overview.tsx
Due: frontend

fix(pr): Josh's feedback
  src/sentry/incidents/metric_issue_detector.py
  src/sentry/workflow_engine/endpoints/validators/base/__init__.py
  src/sentry/workflow_engine/endpoints/validators/base/detector.py
Due: backend

token
  static/app/views/issueDetails/streamline/aiAnalysisCard.tsx
Due: frontend

chore: add Sentry instrumentation
  src/sentry/feedback/usecases/create_feedback.py
  src/sentry/feedback/usecases/spam_detection.py
Due: backend

Add back navigation
  static/app/components/omniSearch/palette.tsx
Due: frontend

Add ellipsis
  static/app/components/omniSearch/palette.tsx
Due: frontend

Add back navigation (#98038)
  static/app/components/omniSearch/palette.tsx
Due: frontend

💄 some nice touches
  static/app/views/incidents/components/setupWizard.tsx
  static/app/views/incidents/components/toolStep.tsx
  static/app/views/incidents/hooks/useIncidentCase.ts
  static/app/views/incidents/hooks/useIncidentCaseTemplate.ts
  static/app/views/incidents/hooks/useIncidentCaseTemplates.ts
  static/app/views/incidents/hooks/useIncidentCases.ts
  static/app/views/incidents/hooks/useIncidentComponent.ts
  static/app/views/incidents/hooks/useIncidentComponents.ts
  static/app/views/incidents/hub.tsx
  static/app/views/incidents/styles.ts
  static/app/views/incidents/types.ts
Due: frontend

chore(pr): Update to align with https://github.com/getsentry/sentry/pull/97969
  static/app/types/hooks.tsx
  static/gsApp/components/metricAlertQuotaMessage.spec.tsx
  static/gsApp/components/metricAlertQuotaMessage.tsx
  static/gsApp/hooks/useMetricDetectorLimit.tsx
Due: frontend

Searchable children
  static/app/components/omniSearch/palette.tsx
Due: frontend

Hide current issue from recently seen
  static/app/components/omniSearch/palette.tsx
Due: frontend

copy changes
  static/gsApp/components/partnerPlanEndingModal.tsx
  static/gsApp/components/upsellModal/details.tsx
  static/gsApp/views/amCheckout/steps/planSelect.tsx
Due: none

build preview
  static/app/components/omniSearch/useLLMRoutingDynamicActions.tsx
Due: frontend

feat(session replay): sync times absolute and relative
  static/app/components/replays/replayBadge.tsx
  static/app/views/replays/list.tsx
  static/app/views/replays/list/replayListProviders.tsx
Due: frontend

minify theme.chonk
  rspack.config.ts
Due: none

fix cross-project tests
  static/gsApp/views/amCheckout/index.spec.tsx
Due: none

Fix switching orgs
  static/app/components/omniSearch/useOrganizationsDynamicActions.tsx
Due: frontend

LazyNoProjectEmptyState
  static/app/components/noProjectMessage.tsx
Due: frontend

Path conditions:
  frontend: any of: static/app/
  backend: any of: src/sentry/**/*.py
  Profiling Views: any of: static/app/views/profiling/**
  Profiling Components: any of: src/sentry/static/sentry/app/components/profiling/**
  Profiling Utils: any of: src/sentry/static/sentry/app/utils/profiling/**
