Repository getsentry/sentry: changes, and which Codecov flags are due for each by the changed paths.
All: frontend, backend, Profiling Views, Profiling Components, Profiling Utils

Add max_candidates to push Postgres to post-filtering if needed
  src/sentry/search/snuba/executors.py
  tests/sentry/issues/endpoints/test_organization_group_index.py
Due: backend

Revert "chore(slack): remove unused issue assignment logic in SlackActionEndpoint (#74151)"
  src/sentry/integrations/slack/webhooks/action.py
  tests/sentry/integrations/slack/webhooks/actions/test_status.py
Due: backend

refactoring, dropping context manager
  src/sentry/ratelimits/leaky_bucket.py
  tests/sentry/ratelimits/test_leaky_bucket.py
Due: backend

:pencil2: add comment
  static/app/components/replaysOnboarding/utils.tsx
Due: frontend

fix(uptime): Fix detector buckets (#74519)
  src/sentry/uptime/detectors/ranking.py
  tests/sentry/uptime/detectors/test_ranking.py
  tests/sentry/uptime/detectors/test_tasks.py
Due: backend

Update test to verify results when max_candidates is exceeded
  tests/sentry/issues/endpoints/test_organization_group_index.py
Due: none

fix bad revert
  tests/sentry/integrations/slack/webhooks/actions/test_status.py
Due: none

ref(notifications): Remove unused ParentLabel
  static/app/views/settings/account/notifications/parentLabel.tsx
Due: frontend

Add first mouseDown analytic to slider diff
  static/app/components/replays/diff/replaySliderDiff.tsx
Due: frontend

prevent extra re-renders whenever something it toggled open/close
  static/app/components/structuredEventData/collapsibleValue.tsx
  static/app/components/structuredEventData/index.stories.tsx
  static/app/components/structuredEventData/index.tsx
  static/app/components/structuredEventData/useExpandedState.tsx
  static/app/utils/replays/countDomNodes.tsx
Due: frontend

ref(replay/feedback): default frontend framework option is js (#74527)
  static/app/components/feedback/feedbackOnboarding/sidebar.tsx
  static/app/components/replaysOnboarding/sidebar.tsx
  static/app/components/replaysOnboarding/utils.tsx
  static/app/data/platformCategories.tsx
Due: frontend

feat(snuba-search): Add query handlers for priority and first_release (#74388)
  src/sentry/issues/endpoints/organization_group_index.py
  src/sentry/search/snuba/executors.py
  tests/sentry/issues/endpoints/test_organization_group_index.py
Due: backend

ref(multiple-checkbox): Make MultipleCheckbox props types generic
  static/app/components/forms/controls/multipleCheckbox.tsx
Due: frontend

fix(tests): fixing broken test on main
  tests/sentry/integrations/slack/webhooks/actions/test_status.py
Due: none

Renames fields per code review comments, fixes tests
  src/sentry/backup/exports.py
  src/sentry/backup/imports.py
  src/sentry/backup/services/import_export/impl.py
  src/sentry/backup/services/import_export/model.py
  src/sentry/backup/services/import_export/service.py
Due: backend

Use ref for dividerClicked
  static/app/components/replays/diff/replaySliderDiff.tsx
Due: frontend

Fixes rename issue
  src/sentry/backup/services/import_export/model.py
Due: backend

fix(query-builder): Fix focus management with multiple component instances
  static/app/components/searchQueryBuilder/hooks/useQueryBuilderGridItem.tsx
Due: frontend

ref(useRAF): add an enabled option to useRAF so it can be turned off sometimes
  static/app/utils/replays/hooks/useRAF.tsx
Due: frontend

fix bad revert attempt 2
  tests/sentry/integrations/slack/webhooks/actions/test_status.py
Due: none

ref(replay): refactor replayerStepper to be called once
  static/app/components/replays/diff/replayTextDiff.tsx
  static/app/utils/replays/countDomNodes.tsx
  static/app/utils/replays/extractHtml.tsx
  static/app/utils/replays/extractPageHtml.tsx
  static/app/utils/replays/hooks/extractDomNodes.tsx
  static/app/utils/replays/hooks/extractPageHtml.tsx
  static/app/utils/replays/hooks/useExtractedDomNodes.tsx
  static/app/utils/replays/hooks/useExtractedPageHtml.tsx
  static/app/utils/replays/replayReader.tsx
  static/app/utils/replays/replayerStepper.tsx
  static/app/views/replays/detail/breadcrumbs/index.tsx
  static/app/views/replays/detail/memoryPanel/index.tsx
Due: frontend

fix return typing on store_event, that it returns an event -- this exposed issue with create_event
  src/sentry/testutils/cases.py
Due: backend

fix(slack): fix bad revert (#74532)
  tests/sentry/integrations/slack/webhooks/actions/test_status.py
Due: none

ref(multiple-checkbox): Make MultipleCheckbox props types generic (#74534)
  static/app/components/forms/controls/multipleCheckbox.tsx
Due: frontend

Renames model property again, missed a code comment
  src/sentry/backup/services/import_export/impl.py
  src/sentry/backup/services/import_export/model.py
Due: backend

fix(metrics-extraction): Alert details
  static/app/utils/metrics/extractionRules.tsx
  static/app/utils/metrics/useMetricsQuery.tsx
  static/app/views/alerts/rules/metric/details/body.tsx
  static/app/views/metrics/context.tsx
Due: frontend

fix(metrics): dont normalize units when calling sum on counter metric in span metrics (#74491)
  src/sentry/sentry_metrics/querying/visitors/query_expression.py
  tests/sentry/sentry_metrics/querying/data/test_api.py
Due: backend

add stub file
  src/sentry/utils/circuit_breaker2.py
Due: backend

:recycle: ref
  static/app/components/replays/diff/replayTextDiff.tsx
  static/app/utils/replays/hooks/extractPageHtml.tsx
  static/app/utils/replays/hooks/useExtractedDomNodes.tsx
  static/app/utils/replays/hooks/useExtractedPageHtml.tsx
  static/app/utils/replays/replayReader.tsx
  static/app/views/replays/detail/breadcrumbs/index.tsx
  static/app/views/replays/detail/memoryPanel/index.tsx
Due: frontend

:recycle: consolidate & standardize hooks
  static/app/utils/replays/hooks/extractDomNodes.tsx
  static/app/utils/replays/hooks/extractPageHtml.tsx
  static/app/utils/replays/hooks/useCountDomNodes.tsx
  static/app/utils/replays/hooks/useExtractedDomNodes.tsx
  static/app/utils/replays/hooks/useExtractedPageHtml.tsx
  static/app/views/replays/detail/memoryPanel/index.tsx
Due: frontend

add `CircuitBreakerState` enum
  src/sentry/utils/circuit_breaker2.py
Due: backend

add config class and default config
  src/sentry/utils/circuit_breaker2.py
Due: backend

Path conditions:
  frontend: any of: static/app/
  backend: any of: src/sentry/**/*.py
  Profiling Views: any of: static/app/views/profiling/**
  Profiling Components: any of: src/sentry/static/sentry/app/components/profiling/**
  Profiling Utils: any of: src/sentry/static/sentry/app/utils/profiling/**
