Repository getsentry/sentry: changes, and which Codecov flags are due for each by the changed paths.
All: frontend, backend, Profiling Views, Profiling Components, Profiling Utils

Fix test
  static/app/views/issueList/issueViews/issueViewSaveButton.spec.tsx
Due: frontend

code review
  static/app/views/insights/pages/frontend/frontendOverviewPage.tsx
  static/app/views/insights/pages/frontend/frontendOverviewTable.tsx
  static/app/views/insights/pages/frontend/settings.ts
Due: frontend

fix
  static/app/views/insights/pages/frontend/frontendOverviewPage.tsx
Due: frontend

:mag: nit: bruh forgot to add response
  src/sentry/integrations/slack/webhooks/action.py
Due: backend

fix
  static/app/views/insights/pages/backend/backendOverviewPage.tsx
Due: frontend

✨ feat(aci): invoke sentry app metric alert handler from noa (#89782)
  src/sentry/incidents/action_handlers.py
  src/sentry/incidents/typings/metric_detector.py
  src/sentry/notifications/notification_action/metric_alert_registry/__init__.py
  src/sentry/notifications/notification_action/metric_alert_registry/handlers/discord_metric_alert_handler.py
  src/sentry/notifications/notification_action/metric_alert_registry/handlers/sentry_app_metric_alert_handler.py
  src/sentry/notifications/notification_action/metric_alert_registry/handlers/slack_metric_alert_handler.py
  src/sentry/notifications/notification_action/metric_alert_registry/handlers/utils.py
  src/sentry/rules/actions/notify_event_service.py
  tests/sentry/incidents/action_handlers/test_sentry_app.py
  tests/sentry/notifications/notification_action/metric_alert_registry/test_msteams_metric_alert_handler.py
  tests/sentry/notifications/notification_action/metric_alert_registry/test_sentry_app_metric_alert_handler.py
  tests/sentry/notifications/notification_action/metric_alert_registry/test_slack_metric_alert_handler.py
Due: backend

now with negative tests too
  tests/sentry/workflow_engine/endpoints/test_organization_workflow_index.py
Due: none

Add a todo where we can add checks for counts on issue alerts / workflow limits
  src/sentry/workflow_engine/endpoints/validators/base/workflow.py
Due: backend

chore(plugins): Add logging to understand plugin users
  src/sentry/tasks/post_process.py
Due: backend

fix(emails): OrganizationInviteRequest preview (#89250)
  src/sentry/notifications/notifications/organization_request/abstract_invite_request.py
  src/sentry/web/frontend/debug/debug_organization_invite_request.py
Due: backend

:wrench: chore(slack): add log when group update fails from slack (#89826)
  src/sentry/integrations/slack/webhooks/action.py
Due: backend

feat(workflow_engine): POST API for Workflow (#89823)
  src/sentry/workflow_engine/endpoints/organization_workflow_index.py
  tests/sentry/workflow_engine/endpoints/test_organization_workflow_index.py
Due: backend

feat(seer-rpc) Fetch issues given function names
  src/sentry/api/endpoints/seer_rpc.py
  src/sentry/seer/fetch_issues/fetch_issues.py
  tests/sentry/seer/fetch_issues/test_fetch_issues.py
Due: backend

even newer versions
  package.json
  yarn.lock
Due: none

icons: fix star colors
  static/app/icons/iconStar.tsx
Due: frontend

feat(ui2): update chonk styles
  static/app/components/core/alert/index.chonk.tsx
  static/app/components/core/alert/index.tsx
Due: frontend

just increase timeouts
  static/app/views/issueDetails/streamline/eventSearch.spec.tsx
  static/app/views/issueList/issueViews/createIssueViewModal.spec.tsx
Due: frontend

WIP - Have most of the update code in and a scaffold of updating in the validator instead of just spaltting the workflow.
  src/sentry/workflow_engine/endpoints/organization_workflow_details.py
  src/sentry/workflow_engine/endpoints/validators/base/workflow.py
  tests/sentry/workflow_engine/endpoints/test_organization_workflow_details.py
Due: backend

fix(insights): apply `is_transaction:true` filter to backend table (#89828)
  static/app/views/insights/pages/backend/backendOverviewPage.tsx
Due: frontend

first pass
  src/sentry/incidents/grouptype.py
  src/sentry/types/group.py
  src/sentry/workflow_engine/handlers/condition/__init__.py
  src/sentry/workflow_engine/handlers/condition/issue_priority_deescalating_handler.py
  src/sentry/workflow_engine/migration_helpers/alert_rule.py
Due: backend

mypy
  src/sentry/seer/fetch_issues/fetch_issues.py
  tests/sentry/seer/fetch_issues/test_fetch_issues.py
Due: backend

test(ui): Silence textValue aria warnings
  static/app/views/explore/multiQueryMode/content.tsx
  static/app/views/settings/organizationIntegrations/detailedView/integrationLayout.tsx
  static/app/views/settings/organizationIntegrations/integrationReposAddRepository.tsx
Due: frontend

tooltip: cleanup component body
  static/app/components/tooltip.tsx
Due: frontend

fixes
  src/sentry/workflow_engine/handlers/condition/issue_priority_deescalating_handler.py
  src/sentry/workflow_engine/models/data_condition.py
Due: backend

test(ui): Silence textValue aria warnings (#89833)
  static/app/views/explore/multiQueryMode/content.tsx
  static/app/views/settings/organizationIntegrations/detailedView/integrationLayout.tsx
  static/app/views/settings/organizationIntegrations/integrationReposAddRepository.tsx
Due: frontend

add another log for webhooks
  src/sentry/sentry_apps/tasks/service_hooks.py
Due: backend

feat(codemappings): F#, VB, PowerShell to mappings as C# (#89390)
  src/sentry/issues/auto_source_code_config/constants.py
Due: backend

Add predefined values to assigned and is, add has
  static/app/components/feedback/feedbackSearch.tsx
  static/app/utils/fields/index.ts
  static/app/views/issueList/utils/useAssignedValues.tsx
Due: frontend

Refactor issues to use new shared hooks
  static/app/views/issueList/utils/useAssignedValues.tsx
  static/app/views/issueList/utils/useFetchIssueTags.tsx
  static/app/views/issueList/utils/useMemberUsernames.tsx
Due: frontend

Update hasValues to always include suggested
  static/app/components/feedback/feedbackSearch.tsx
Due: frontend

Predefine message
  static/app/components/feedback/feedbackSearch.tsx
Due: frontend

tooltip: add story
  static/app/components/core/tooltip/tooltip.stories.tsx
  static/app/components/userMisery.tsx
Due: frontend

Path conditions:
  frontend: any of: static/app/
  backend: any of: src/sentry/**/*.py
  Profiling Views: any of: static/app/views/profiling/**
  Profiling Components: any of: src/sentry/static/sentry/app/components/profiling/**
  Profiling Utils: any of: src/sentry/static/sentry/app/utils/profiling/**
