Repository getsentry/sentry: changes, and which Codecov flags are due for each by the changed paths.
All: frontend, backend, Profiling Views, Profiling Components, Profiling Utils

feat(hybrid-cloud): Add vercel request parser (#62209)
  src/sentry/middleware/integrations/classifications.py
  src/sentry/middleware/integrations/parsers/__init__.py
  src/sentry/middleware/integrations/parsers/vercel.py
  src/sentry/models/outbox.py
  tests/sentry/middleware/integrations/parsers/test_vercel.py
Due: backend

chore(hybrid-cloud): Add destination_region tag to integration_proxy metrics capture (#62219)
  src/sentry/middleware/integrations/parsers/base.py
  src/sentry/receivers/outbox/control.py
Due: backend

docs(stories): Update usePrismTokens to demonstrate the raw hook output
  static/app/stories/storyBook.tsx
  static/app/utils/usePrismTokens.stories.tsx
Due: frontend

fix(security): deny publish and delete of integrations for manager role
  src/sentry/api/bases/sentryapps.py
  tests/sentry/api/endpoints/test_sentry_app_details.py
  tests/sentry/api/endpoints/test_sentry_app_publish_request.py
Due: backend

fix(relocation): Change task scheduling to always be last action (#62144)
  src/sentry/tasks/relocation.py
  src/sentry/testutils/helpers/task_runner.py
  tests/sentry/tasks/test_relocation.py
Due: backend

feat(stories): add story for Switch (#62213)
  static/app/components/switchButton.stories.tsx
Due: frontend

chore(hybrid-cloud): Clean up logging for ms teams and integration proxy (#62221)
  src/sentry/integrations/msteams/webhook.py
  src/sentry/middleware/integrations/classifications.py
Due: backend

ref: Change alert rule serializers to accept name of 256 chars
  src/sentry/api/endpoints/project_rule_details.py
  src/sentry/api/endpoints/project_rules.py
  src/sentry/api/serializers/rest_framework/rule.py
  src/sentry/incidents/endpoints/organization_alert_rule_details.py
  src/sentry/incidents/endpoints/organization_alert_rule_index.py
  src/sentry/incidents/serializers/alert_rule.py
  tests/sentry/api/endpoints/test_project_rules.py
  tests/sentry/incidents/endpoints/test_organization_alert_rule_index.py
Due: backend

Revert "fix(replay): Don't emit an EventView from useReplaysFromIssue when no replayIds are in the fetched list (#62119)"
  static/app/utils/replays/fetchReplayList.tsx
  static/app/utils/replays/hooks/useReplayList.tsx
  static/app/views/issueDetails/groupReplays/groupReplays.spec.tsx
  static/app/views/issueDetails/groupReplays/groupReplays.tsx
  static/app/views/issueDetails/groupReplays/useReplaysFromIssue.spec.tsx
  static/app/views/issueDetails/groupReplays/useReplaysFromIssue.tsx
  static/app/views/performance/transactionSummary/transactionReplays/transactionReplays.tsx
  static/app/views/replays/deadRageClick/exampleReplaysList.tsx
  static/app/views/replays/list/replaysList.tsx
Due: frontend

add metric comparing old and new hashes
  src/sentry/event_manager.py
Due: backend

add tests
  tests/sentry/event_manager/test_event_manager_grouping.py
Due: none

hooks need strings for storyBook name
  static/app/stories/storyBook.tsx
  static/app/utils/usePrismTokens.stories.tsx
Due: frontend

test(hc): Use better region settings in test environment (#62157)
  src/sentry/silo/client.py
  src/sentry/testutils/pytest/sentry.py
  src/sentry/testutils/region.py
  src/sentry/testutils/silo.py
  src/sentry/types/region.py
  tests/sentry/api/endpoints/test_accept_organization_invite.py
  tests/sentry/types/test_region.py
  tests/sentry/utils/test_snowflake.py
  tests/sentry/web/frontend/test_group_tag_export.py
  tests/sentry/web/test_client_config.py
Due: backend

ref: upgrade openapi to 0.15.0
  fixtures/apidocs_test_case.py
  requirements-dev-frozen.txt
  requirements-dev.txt
Due: none

remove is_handled
  src/sentry/tasks/integrations/github/open_pr_comment.py
  src/sentry/tasks/integrations/github/pr_comment.py
  tests/sentry/tasks/integrations/github/test_open_pr_comment.py
Due: backend

ref(similarity-embeddings): Add feature flag
  src/sentry/conf/server.py
  src/sentry/features/__init__.py
Due: backend

ref: Use Python 3.10 style for multiple `with` blocks
  src/sentry/testutils/silo.py
  tests/sentry/types/test_region.py
Due: backend

Style fixes
  static/app/views/integrationOrganizationLink/index.tsx
Due: frontend

ref: upgrade openapi to 0.15.0 (#62091)
  fixtures/apidocs_test_case.py
  requirements-dev-frozen.txt
  requirements-dev.txt
Due: none

feat(grouping): Add grouping hashes comparison metric (#61949)
  src/sentry/event_manager.py
  tests/sentry/event_manager/test_event_manager_grouping.py
Due: backend

feat(performance-trace-details): Minor cleanup.
  static/app/views/performance/traceDetails/traceViewDetailPanel.tsx
Due: frontend

test(hc): Set SENTRY_REGION to null when swapping into monolith mode
  src/sentry/testutils/silo.py
Due: backend

fix(discord): Add disabled reason (#62039)
  static/app/views/integrationOrganizationLink/index.tsx
  static/app/views/settings/organizationIntegrations/abstractIntegrationDetailedView.tsx
Due: frontend

fix(hybridcloud) Simplify tests and fix jira multi region handling
  src/sentry/middleware/integrations/parsers/jira.py
  tests/sentry/middleware/integrations/parsers/test_jira.py
Due: backend

ref(crons): Disable env selector when no assignee
  static/app/views/monitors/components/monitorForm.tsx
Due: frontend

Remove unused code.
  tests/sentry/middleware/integrations/parsers/test_jira.py
Due: none

ref(hc): Simplify organization check (#62143)
  src/sentry/integrations/github/integration.py
Due: backend

ref(hc): Look up org slug directly in auth channel login (#62142)
  src/sentry/web/frontend/auth_channel_login.py
  tests/sentry/web/frontend/test_auth_channel_login.py
Due: backend

Path conditions:
  frontend: any of: static/app/
  backend: any of: src/sentry/**/*.py
  Profiling Views: any of: static/app/views/profiling/**
  Profiling Components: any of: src/sentry/static/sentry/app/components/profiling/**
  Profiling Utils: any of: src/sentry/static/sentry/app/utils/profiling/**
