Repository getsentry/sentry: changes, and which Codecov flags are due for each by the changed paths.
All: frontend, backend, Profiling Views, Profiling Components, Profiling Utils

feat(insights): create eap mobile overview (#89866)
  static/app/views/insights/pages/mobile/mobileOverviewTable.tsx
  static/app/views/insights/pages/mobile/oldMobileOverviewPage.tsx
  static/app/views/insights/pages/mobile/settings.ts
Due: frontend

chore(issues): Publish `PUT` method of `OrganizationGroupIndexEndpoint` (#88370)
  api-docs/package.json
  api-docs/yarn.lock
  src/sentry/apidocs/hooks.py
  src/sentry/issues/endpoints/organization_group_index.py
Due: backend

feat(uptime): Dual write to Detectors / DataSource (#89411)
  src/sentry/uptime/grouptype.py
  src/sentry/uptime/models.py
  src/sentry/uptime/subscriptions/subscriptions.py
  tests/sentry/uptime/subscriptions/test_subscriptions.py
  tests/sentry/uptime/test_models.py
Due: backend

ref(uptime): Remove test_multiple_project_subs
  tests/sentry/uptime/subscriptions/test_subscriptions.py
Due: none

feat(insights): create duplicate frontend overview page (#89865)
  static/app/views/insights/pages/frontend/oldFrontendOverviewPage.tsx
Due: frontend

Address feedback
  src/sentry/issues/auto_source_code_config/task.py
  tests/sentry/issues/auto_source_code_config/test_process_event.py
Due: backend

fix(explore): Remove preflight skip logic (#89867)
  static/app/views/explore/hooks/useProgressiveQuery.spec.tsx
  static/app/views/explore/hooks/useProgressiveQuery.tsx
Due: frontend

move issue alert dual write lock outside of transaction
  src/sentry/projects/project_rules/creator.py
  src/sentry/workflow_engine/migration_helpers/issue_alert_migration.py
  tests/sentry/projects/project_rules/test_creator.py
  tests/sentry/workflow_engine/migration_helpers/test_issue_alert_migration.py
Due: backend

Ref filterKeySections
  static/app/components/feedback/feedbackSearch.tsx
Due: frontend

Use the event panel header
  static/app/views/insights/cache/components/samplePanel.tsx
  static/app/views/insights/common/views/spanSummaryPage/sampleList/index.tsx
  static/app/views/insights/http/components/httpSamplesPanel.tsx
  static/app/views/insights/queues/components/messageSpanSamplesPanel.tsx
Due: frontend

use commas to combine separate context managers
  src/sentry/projects/project_rules/creator.py
Due: backend

Improve line height
  static/app/views/insights/common/components/sampleDrawerHeaderTransaction.tsx
Due: frontend

chore(dashboards): Remove unused sample series files (#89868)
  static/app/views/insights/common/utils/findDataPoint.ts
  static/app/views/insights/common/views/spanSummaryPage/sampleList/durationChart/useSampleScatterPlotSeries.tsx
Due: frontend

Improve test assertions
  tests/sentry/taskworker/test_worker.py
Due: none

initial impl
  src/sentry/integrations/mixins/issues.py
  src/sentry/integrations/tasks/sync_status_inbound.py
Due: backend

Filter out fake issue views
  static/app/views/issueList/issueViews/useSelectedGroupSeachView.tsx
Due: frontend

project_id
  src/sentry/sentry_apps/tasks/service_hooks.py
Due: backend

kafka messages fixes
  src/sentry/profiles/task.py
Due: backend

feat(profiling): Update sdk config for continuous profiling
  src/sentry/conf/server.py
  src/sentry/conf/types/sdk_config.py
  src/sentry/utils/sdk.py
Due: backend

Remove highlighted span debouncing
  static/app/views/insights/cache/components/samplePanel.tsx
  static/app/views/insights/common/views/spanSummaryPage/sampleList/index.tsx
  static/app/views/insights/http/components/httpSamplesPanel.tsx
  static/app/views/insights/http/utils/useDebouncedState.tsx
  static/app/views/insights/mobile/common/components/spanSamplesPanelContainer.tsx
  static/app/views/insights/queues/components/messageSpanSamplesPanel.tsx
Due: frontend

fix vroomrs import untyped mypy warning
  src/sentry/profiles/task.py
Due: backend

pr fixes
  src/sentry/integrations/jira/client.py
  src/sentry/integrations/jira/endpoints/search.py
  src/sentry/integrations/jira/integration.py
Due: backend

Unroll element type change
  static/app/views/insights/common/components/sampleDrawerHeaderTransaction.tsx
Due: frontend

fix: merge conflict
  src/sentry/api/endpoints/organization_events.py
Due: backend

chore(plugins): Add logging to understand plugin users (#89829)
  src/sentry/sentry_apps/tasks/service_hooks.py
  src/sentry/tasks/post_process.py
Due: backend

mypy
  src/sentry/api/endpoints/organization_trace_summary.py
  src/sentry/seer/trace_summary.py
  tests/sentry/api/endpoints/test_organization_trace_summary.py
  tests/sentry/seer/test_trace_summary.py
Due: backend

feat(ui2): add slider label
  static/app/components/core/slider/index.chonk.tsx
Due: frontend

feat(chonk): update slider props
  static/app/components/core/slider/index.tsx
Due: frontend

wip(chonk): slider fill
  static/app/components/core/slider/index.chonk.tsx
  static/app/components/core/slider/index.tsx
Due: frontend

ref: slider with just react state
  static/app/components/core/slider/index.chonk.tsx
Due: frontend

fix(ui2): use callback ref
  static/app/components/core/slider/index.chonk.tsx
Due: frontend

Update static/app/components/core/slider/index.chonk.tsx
  static/app/components/core/slider/index.chonk.tsx
Due: frontend

fix: allow to fully control slider component from the outside
  static/app/components/core/slider/index.chonk.tsx
  static/app/components/core/slider/index.stories.tsx
  static/app/components/core/slider/index.tsx
Due: frontend

fix(slider): default value with min/max
  static/app/components/core/slider/index.chonk.tsx
Due: frontend

Path conditions:
  frontend: any of: static/app/
  backend: any of: src/sentry/**/*.py
  Profiling Views: any of: static/app/views/profiling/**
  Profiling Components: any of: src/sentry/static/sentry/app/components/profiling/**
  Profiling Utils: any of: src/sentry/static/sentry/app/utils/profiling/**
