Repository getsentry/sentry: changes, and which Codecov flags are due for each by the changed paths.
All: frontend, backend, Profiling Views, Profiling Components, Profiling Utils

codecov.yml:

# Setting coverage targets per flag
coverage:
  status:
    project: "off"
    patch:
      frontend:
        # codecov will not fail status checks for master
        only_pulls: true
        informational: false # Fail the check
        target: 60%
        flags:
        - frontend
      backend:
        # codecov will not fail status checks for master
        only_pulls: true
        informational: false # Fail the check
        target: 90%
        flags:
          - backend
  ignore:
  - src/*/migrations/
  - src/bitfield/
  - src/sentry/debug/
  - src/sentry/lint/
  - src/sentry/runner/
  - src/social_auth/
  - static/app/routes.tsx
  - tests/

component_management:
    individual_components:
      # Profiling team components
      - component_id: "profiling_views"
        name: "Profiling Views"
        paths:
          - "static/app/views/profiling/**"
      - component_id: "profiling_components"
        name: "Profiling Components"
        paths:
          - "src/sentry/static/sentry/app/components/profiling/**"
      - component_id: "profiling_utils"
        name: "Profiling Utils"
        paths:
          - "src/sentry/static/sentry/app/utils/profiling/**"

flags:
  frontend:
    paths:
    - "static/app/"
    carryforward: true
    # FE uploads 4 coverage reports. This property ensures codecov waits
    # for all reports to be uploaded before creating a GitHub status check.
    # NOTE: If you change this, make sure to change `comment.after_n_builds` below as well.
    after_n_builds: 4
  backend:
    paths:
    - "src/sentry/**/*.py"
    carryforward: true
    # Do not send any status checks until n coverage reports are uploaded.
    # NOTE: If you change this, make sure to change `comment.after_n_builds` below as well.
    after_n_builds: 18

# https://docs.codecov.com/docs/flags#two-approaches-to-flag-management
flag_management:
  individual_flags:
    - name: smart-tests
      carryforward: true
      # https://docs.codecov.com/docs/getting-started-with-ats#step-2-configure-the-codecovyml-for-automated-test-selection
      carryforward_mode: "labels"
      statuses:
        # https://github.com/codecov/shared/blob/main/shared/validation/user_schema.py#L310
        - type: "patch"
          enabled: false

# Read more here: https://docs.codecov.com/docs/pull-request-comments
comment:
  # This is the addition of carry forward builds and fresh builds, thus, it's the addition
  # of the FE and BE builds
  after_n_builds: 22
  layout: "diff, files"
  # Update, if comment exists. Otherwise post new.
  behavior: default
  # Comments will only post when coverage changes. Furthermore, if a comment
  # already exists, and a newer commit results in no coverage change for the
  # entire pull, the comment will be deleted.
  require_changes: true
  require_base: true # must have a base report to post
  require_head: true # must have a head report to post

cli:
  # This would be used when uploading the ats results
  # But we will not be doing that yet
  plugins:
    pycoverage:
      report_type: "json"
    compress-pycoverage:
      file_to_compress: ".artifacts/python.coverage.json"
      # We don't want to upload the original coverage report by accident
      # Because it's too big
      delete_uncompressed: true
  runners:
    pytest:
      include_curr_dir: true
      # Same args used for the backend tests
      # See Makefile:135
      collect_tests_options:
        - "tests"
        - "--ignore=tests/acceptance"
        - "--ignore=tests/apidocs"
        - "--ignore=tests/js"
        - "--ignore=tests/tools"

map
  src/sentry/snuba/metrics/datasource.py
Due: backend

Make platform mandatory in _prepare_frames_from_profile function
  src/sentry/profiles/task.py
  tests/sentry/profiles/consumers/test_process.py
Due: backend

Fix typo
  src/sentry/profiles/task.py
Due: backend

Add comment on why we skip a sanity check for cocoa stacks
  src/sentry/profiles/task.py
Due: backend

chore(on_demand): spec generation metrics (#59339)
  src/sentry/relay/config/metric_extraction.py
Due: backend

Replace hardcoded cocoa with platform variable
  src/sentry/profiles/task.py
Due: backend

Remove mini-metrics type-check disabling (#56651)
  .pre-commit-config.yaml
  src/sentry/metrics/minimetrics.py
  tests/sentry/metrics/test_minimetrics.py
Due: backend

feat(metrics): metrics meta support for gauges (#59106)
  src/sentry/snuba/metrics/datasource.py
  src/sentry/snuba/metrics/fields/base.py
Due: backend

Remove `have_minimetrics` from `test_minimetrics.py`
  tests/sentry/metrics/test_minimetrics.py
Due: none

fix(on_demand): device model mapping
  src/sentry/snuba/metrics/extraction.py
  tests/sentry/snuba/test_extraction.py
Due: backend

Removed `# type: ignore` and constructor
  src/sentry/metrics/minimetrics.py
Due: backend

remove comment
  tests/sentry/snuba/test_extraction.py
Due: none

feat(alerts): migration email
  src/sentry/api/endpoints/organization_metrics.py
  src/sentry/templates/sentry/emails/alert_migration.html
  src/sentry/templates/sentry/emails/alert_migration.txt
  src/sentry/utils/email/alert_migration.py
Due: backend

fix missing type case; add tests
  src/sentry/culprit.py
  tests/sentry/event_manager/test_generate_culprit.py
  tests/sentry/eventtypes/test_nel.py
Due: backend

fix(on_demand): device model mapping (#59342)
  src/sentry/snuba/metrics/extraction.py
  tests/sentry/snuba/test_extraction.py
Due: backend

Fix mypy
  src/sentry/metrics/minimetrics.py
Due: backend

fix(ddm): mri selector performance
  static/app/views/ddm/queryBuilder.tsx
Due: frontend

useMemo
  static/app/views/ddm/queryBuilder.tsx
Due: frontend

fix(ddm): mri selector performance (#59344)
  static/app/views/ddm/queryBuilder.tsx
Due: frontend

chore(ddm): rename sidebar item
  static/app/components/sidebar/index.tsx
  static/app/views/ddm/ddm.tsx
Due: frontend

Refactored `_to_minimetrics_unit` so mypy recognizes it returns str
  src/sentry/metrics/minimetrics.py
Due: backend

pointer events
  static/app/views/ddm/traceTable.tsx
Due: frontend

Add explicit str cast in order to avoid mypy error
  tests/sentry/profiles/consumers/test_process.py
Due: none

ref(tsc): Convert `JsonViewer` to FC (#59296)
  static/app/components/events/attachmentViewers/jsonViewer.spec.tsx
  static/app/components/events/attachmentViewers/jsonViewer.tsx
Due: frontend

add in the missing breakpoint line
  static/app/components/events/eventStatisticalDetector/lineChart.tsx
  static/app/components/events/eventStatisticalDetector/regressionMessage.spec.tsx
Due: frontend

Add back `check-mypy-bypass`
  .pre-commit-config.yaml
Due: none

fix(hybrid-cloud): Fix cross-silo access on Jira (again) (#59332)
  src/sentry/integrations/jira/integration.py
  src/sentry/integrations/jira_server/integration.py
Due: backend

chore(ddm): rename sidebar item (#59345)
  static/app/components/sidebar/index.tsx
  static/app/views/ddm/ddm.tsx
  static/app/views/ddm/traceTable.tsx
Due: frontend

feat: Add views for react rendered unsubscribe views (#59223)
  src/sentry/api/endpoints/organization_unsubscribe.py
  src/sentry/web/urls.py
  static/app/routes.tsx
  static/app/views/unsubscribe/issue.spec.tsx
  static/app/views/unsubscribe/issue.tsx
  static/app/views/unsubscribe/project.spec.tsx
  static/app/views/unsubscribe/project.tsx
Due: frontend, backend

Use extend instead of list concatenation
  src/sentry/profiles/task.py
Due: backend

feat(starfish): Update release selector to use txn counts
  static/app/views/starfish/components/releaseSelector.tsx
  static/app/views/starfish/queries/useReleases.tsx
Due: frontend

remove if statement
  static/app/views/starfish/components/releaseSelector.tsx
Due: frontend
