Repository getsentry/sentry: changes, and which Codecov flags are due for each by the changed paths.
All: frontend, backend, Profiling Views, Profiling Components, Profiling Utils

Remove unused API owners
  src/sentry/api/api_owners.py
Due: backend

fix(staff): Prevent preflight requests for _admin
  src/sentry/templates/sentry/partial/preload-data.html
Due: none

fix tests and update count in top right
  static/app/utils/replays/hooks/useReplayData.tsx
  static/app/utils/replays/hydrateErrors.spec.tsx
  static/app/views/replays/details.tsx
Due: frontend

chore(staff): Remove logs and separate u2f state in session
  src/sentry/api/endpoints/auth_index.py
  src/sentry/auth/authenticators/u2f.py
  tests/sentry/auth/authenticators/test_u2f.py
Due: backend

ref
  static/app/utils/replays/hooks/useReplayData.tsx
  static/app/views/replays/details.tsx
Due: frontend

feat(issue-stream): Put merge and review actions inside overflow menu by default
  static/app/views/issueList/actions/actionSet.tsx
  static/app/views/issueList/overview.actions.spec.tsx
Due: frontend

type
  static/app/utils/replays/getFrameDetails.tsx
Due: frontend

fix(releases): Stringify threshold tab paths
  static/app/views/releases/components/header.tsx
Due: frontend

fix: tests
  src/sentry/api/endpoints/organization_events_trace.py
  tests/snuba/api/endpoints/test_organization_events_trace.py
Due: backend

set up tests
  tests/sentry/issues/endpoints/test_organization_group_index.py
Due: none

keep the links as strings
  static/app/views/releases/components/header.tsx
Due: frontend

add test
  static/app/components/forms/fields/sentryOrganizationRoleSelectorField.spec.tsx
Due: frontend

chore: Update DnD API endpoints ownership (#67453)
  src/sentry/api/api_owners.py
  src/sentry/api/endpoints/organization_dashboard_details.py
  src/sentry/api/endpoints/organization_dashboard_widget_details.py
  src/sentry/api/endpoints/organization_dashboards.py
  src/sentry/data_export/endpoints/data_export_details.py
  src/sentry/discover/endpoints/discover_homepage_query.py
  src/sentry/discover/endpoints/discover_saved_queries.py
  src/sentry/discover/endpoints/discover_saved_query_detail.py
Due: backend

rm return
  static/app/utils/replays/hydrateErrors.tsx
Due: frontend

Assign Starfish to Performance
  .github/CODEOWNERS
Due: none

Assign D&D code to Performance
  .github/CODEOWNERS
Due: none

Remove redundant assignment
  .github/CODEOWNERS
Due: none

chore(staff): Remove logs and separate u2f state in session (#67405)
  src/sentry/api/endpoints/auth_index.py
  src/sentry/auth/authenticators/u2f.py
  tests/sentry/auth/authenticators/test_u2f.py
Due: backend

ref(feedback): when 'see full replay' clicked, link to breadcrumbs tab
  static/app/components/events/eventReplay/replayPreviewPlayer.tsx
Due: frontend

enable sorting by first seen
  src/sentry/search/snuba/executors.py
Due: backend

feat(_admin): Created Form Field for Add to Org Button (#67206)
  static/app/components/forms/fieldFromConfig.tsx
  static/app/components/forms/fields/sentryOrganizationRoleSelectorField.spec.tsx
  static/app/components/forms/fields/sentryOrganizationRoleSelectorField.tsx
  static/app/components/forms/types.tsx
Due: frontend

Add method to delete authprovider replicas
  src/sentry/services/hybrid_cloud/replica/impl.py
  src/sentry/services/hybrid_cloud/replica/service.py
Due: backend

Typing
  tests/sentry/utils/test_committers.py
Due: none

feat(trace): Add measurements to trace endpoint using spans (#67434)
  src/sentry/api/endpoints/organization_events_trace.py
  tests/snuba/api/endpoints/test_organization_events_trace.py
Due: backend

use reverse, use correct settings
  src/sentry/notifications/notifications/daily_summary.py
  tests/sentry/tasks/test_daily_summary.py
Due: backend

fix test
  src/sentry/search/snuba/executors.py
  tests/sentry/issues/endpoints/test_organization_group_index.py
Due: backend

chore: Update Performance code owners (#67460)
  .github/CODEOWNERS
Due: none

feat(profiles): Deobfuscate Android with Symbolicator (#67388)
  src/sentry/options/defaults.py
  src/sentry/profiles/java.py
  src/sentry/profiles/task.py
Due: backend

ref(alert rule): Use organization directly
  src/sentry/incidents/endpoints/organization_alert_rule_details.py
Due: backend

Allow querying for sentry tag response code
  src/sentry/utils/snuba.py
  tests/snuba/api/endpoints/test_organization_events_span_indexed.py
Due: backend

test(ui): Wait for results in widget card duration unit tests (#67445)
  static/app/views/dashboards/widgetCard/index.spec.tsx
Due: frontend

We don't need outboxes for flags as they aren't replicated
  src/sentry/models/organizationmembermapping.py
  src/sentry/services/hybrid_cloud/organization/impl.py
Due: backend

feat(trace): Add trace duration measurement (#67446)
  src/sentry/api/endpoints/organization_events_trace.py
Due: backend

Path conditions:
  frontend: any of: static/app/
  backend: any of: src/sentry/**/*.py
  Profiling Views: any of: static/app/views/profiling/**
  Profiling Components: any of: src/sentry/static/sentry/app/components/profiling/**
  Profiling Utils: any of: src/sentry/static/sentry/app/utils/profiling/**
