Repository getsentry/sentry: changes, and which Codecov flags are due for each by the changed paths.
All: frontend, backend, Profiling Views, Profiling Components, Profiling Utils

Path conditions:
  frontend: any of: static/app/
  backend: any of: src/sentry/**/*.py
  Profiling Views: any of: static/app/views/profiling/**
  Profiling Components: any of: src/sentry/static/sentry/app/components/profiling/**
  Profiling Utils: any of: src/sentry/static/sentry/app/utils/profiling/**

simplify loop
  static/app/views/dashboards/widgetBuilder/hooks/useWidgetBuilderState.tsx
Due: frontend

fix(integrations): list missing features when a GitHub install has no stored permissions (#125339)
  src/sentry/integrations/api/serializers/models/integration.py
  tests/sentry/integrations/api/serializers/models/test_integration.py
Due: backend

fix missing helper
  static/app/views/dashboards/widgetBuilder/hooks/useWidgetBuilderState.tsx
Due: frontend

test(settings): Split ConnectedRepositoriesPanel into dedicated spec file
  static/app/views/settings/projectGeneralSettings/connectedRepositoriesPanel.spec.tsx
  static/app/views/settings/projectGeneralSettings/index.spec.tsx
Due: frontend

fix(auto-source-code-config): Re-raise the insert error when no row owns the identity
  src/sentry/issues/auto_source_code_config/code_mapping.py
  src/sentry/issues/auto_source_code_config/utils/repository.py
  tests/sentry/issues/auto_source_code_config/test_process_event.py
Due: backend

more compat
  src/sentry/issues/derived/tasks.py
  tests/sentry/issues/derived/test_tasks.py
Due: backend

fix(derived data): Calculate issues.derived.heal_range_rows_found more accurately
  src/sentry/issues/derived/tasks.py
  tests/sentry/issues/derived/test_tasks.py
Due: backend

fix(dashboards): Normalize orderby spaces between aggregate arguments (#125358)
  static/app/views/dashboards/widgetBuilder/hooks/useWidgetBuilderState.spec.tsx
  static/app/views/dashboards/widgetBuilder/hooks/useWidgetBuilderState.tsx
  static/app/views/dashboards/widgetBuilder/utils/convertBuilderStateToWidget.spec.tsx
Due: frontend

chore(releases): drop the new_last_deploy_id column
  migrations_lockfile.txt
  src/sentry/migrations/1182_release_drop_new_last_deploy_id.py
Due: backend

style(seer): Revert unrelated formatting churn
  static/app/views/seerExplorer/components/chat/toolUse.spec.tsx
  static/app/views/seerExplorer/components/chat/toolUse.tsx
  static/app/views/seerExplorer/components/seerExplorerContent.tsx
  static/app/views/seerExplorer/components/seerExplorerContentRenders.spec.tsx
Due: frontend

fix(auth): Require CSRF protection for browser auth (#125361)
  src/sentry/api/base.py
  src/sentry/api/endpoints/auth_2fa.py
  src/sentry/api/endpoints/auth_login.py
  src/sentry/api/endpoints/auth_organization_demo_login.py
  src/sentry/api/endpoints/auth_recovery.py
  tests/sentry/api/endpoints/test_auth_login.py
  tests/sentry/api/test_base.py
Due: backend

fix(issues): Keep Events selected on issue list views
  static/app/views/issueDetails/eventNavigation/index.spec.tsx
  static/app/views/issueDetails/eventNavigation/index.tsx
Due: frontend

feat(auth): Add registration API endpoint
  src/sentry/api/endpoints/auth_register.py
  src/sentry/api/urls.py
  src/sentry/api/validators/auth.py
  static/app/data/controlsiloUrlPatterns.ts
  static/app/utils/api/knownSentryApiUrls.generated.ts
  tests/sentry/api/endpoints/test_auth_login.py
Due: frontend, backend

docs(ui): Document organization page frame
  static/app/components/core/patterns/pageLayouts.mdx
Due: frontend

fix(seer): Trim query parameters from tool call titles
  static/app/views/seerExplorer/callRecords.tsx
  static/app/views/seerExplorer/components/chat/callRecords.spec.tsx
Due: frontend

feat: Use organization fetching function
  src/sentry/workflow_engine/handlers/detector/stateful.py
  tests/sentry/workflow_engine/handlers/detector/test_stateful.py
Due: backend

feat: Rely on logic in stateful detector
  src/sentry/incidents/grouptype.py
  tests/sentry/incidents/test_metric_issue_detector_handler.py
Due: backend

feat(settings): Load and display connected repository rows in panel
  static/app/views/settings/projectGeneralSettings/connectedRepositoriesPanel.spec.tsx
  static/app/views/settings/projectGeneralSettings/connectedRepositoriesPanel.tsx
  static/app/views/settings/projectGeneralSettings/index.spec.tsx
  static/app/views/settings/projectGeneralSettings/index.tsx
Due: frontend

ref(settings): Use tabular Text inside mapping count Tag
  static/app/views/settings/projectGeneralSettings/connectedRepositoriesPanel.tsx
Due: frontend

feat(investigations): Show the completion date once a run completes
  static/app/views/investigations/detail/index.spec.tsx
  static/app/views/investigations/detail/index.stories.tsx
  static/app/views/investigations/detail/index.tsx
Due: frontend

fix(seer): Keep latestTodos stable across polls
  static/app/views/seerExplorer/components/chat/toolUse.tsx
  static/app/views/seerExplorer/components/seerExplorerContentRenders.spec.tsx
  static/app/views/seerExplorer/hooks/useSeerExplorer.tsx
  static/app/views/seerExplorer/types.tsx
Due: frontend

feat(autofix): Hand the next-step answers to Seer Agent in code mode (#125063)
  static/app/components/events/autofix/v3/nextStep.spec.tsx
  static/app/components/events/autofix/v3/nextStep.tsx
  static/app/components/events/autofix/v3/seerEnableNotifications.spec.tsx
  static/app/components/events/autofix/v3/seerEnableNotifications.tsx
  static/app/components/events/autofix/v3/useAskSeerHandoff.tsx
  static/app/components/seer/autofixChatContext.spec.tsx
  static/app/views/seerExplorer/useSeerExplorerContext.tsx
Due: frontend

docs(flagpole): Explain why the feature name is a rollout argument
  src/flagpole/conditions.py
  src/flagpole/evaluation_context.py
Due: none

test(issues): Cover the View More Events click on the content tabs
  static/app/views/issueDetails/eventNavigation/index.spec.tsx
Due: frontend

fix(integrations): Keep disabled integration buttons reachable by keyboard
  static/app/views/settings/organizationIntegrations/addIntegrationButton.spec.tsx
  static/app/views/settings/organizationIntegrations/addIntegrationButton.tsx
  static/app/views/settings/organizationIntegrations/directEnableButton.spec.tsx
  static/app/views/settings/organizationIntegrations/directEnableButton.tsx
Due: frontend

ref(integrations): Tidy the aria-disabled wiring on the integration buttons
  static/app/views/settings/organizationIntegrations/addIntegrationButton.tsx
  static/app/views/settings/organizationIntegrations/directEnableButton.tsx
Due: frontend

ref(integrations): Let Button handle aria-disabled on the integration buttons
  static/app/views/settings/organizationIntegrations/addIntegrationButton.tsx
  static/app/views/settings/organizationIntegrations/directEnableButton.tsx
Due: frontend

fix(gitlab): Gate install-triggered repo sync behind the install switch
  src/sentry/integrations/gitlab/integration.py
  tests/sentry/integrations/gitlab/test_integration.py
Due: backend

fix(gitlab): Sync repositories immediately after installation
  src/sentry/integrations/gitlab/integration.py
  tests/sentry/integrations/gitlab/test_integration.py
  tests/sentry/integrations/test_pipeline.py
Due: backend

fix(onboarding): replace WATCH/MULTI in agentic progress with cluster-safe Lua compare-and-set (#125277)
  src/sentry/onboarding/agentic_progress/service.py
  src/sentry/scripts/utils/compare_and_delete.lua
  src/sentry/scripts/utils/compare_and_set.lua
  tests/sentry/onboarding/agentic_progress/test_service.py
Due: backend

feat(pr-iter): add UI toggle for disabling PR iteration (#125075)
  static/app/components/seer/projectAddRepoModal/projectAddRepoModal.tsx
  static/app/components/seer/projectTable/seerProjectTable.spec.tsx
  static/app/components/seer/projectTable/seerProjectTable.tsx
  static/app/components/seer/projectTable/seerProjectTableHeader.tsx
  static/app/utils/seer/seerProjectSettings.spec.tsx
  static/app/utils/seer/seerProjectSettings.ts
  static/app/utils/seer/types.ts
  static/app/utils/seer/useMutateAutofixProject.ts
Due: frontend

ref: bump sentry-protos to 0.74.1
  pyproject.toml
  uv.lock
Due: none

fix(issues): Show full stack trace filename tooltips
  static/app/components/events/interfaces/frame/defaultTitle/index.spec.tsx
  static/app/components/events/interfaces/frame/defaultTitle/index.tsx
  static/app/components/stackTrace/frame/frameHeader.tsx
  static/app/components/stackTrace/stackTrace.spec.tsx
Due: frontend

fix(issues): Apply tag action opacity to the menu trigger
  static/app/views/issueDetails/groupTags/tagDetailsDrawerContent.tsx
Due: frontend

fix(tags): Select frequent values before applying the query limit
  src/sentry/tagstore/snuba/backend.py
  tests/snuba/tagstore/test_tagstore_backend.py
Due: backend

feat(issues): Record which surface an issue content selection came from
  static/app/utils/analytics/issueAnalyticsEvents.tsx
  static/app/views/issueDetails/eventNavigation/index.spec.tsx
  static/app/views/issueDetails/eventNavigation/index.tsx
Due: frontend

fix(seer): Accept offset-less start/end in query embeds
  src/sentry/seer/agent/embed_widgets.generated.json
  static/app/components/seer/markdown/embeds/schemas.spec.ts
  static/app/components/seer/markdown/embeds/schemas.ts
  static/app/components/seer/markdown/embeds/utils.tsx
Due: frontend

fix(auth): Preserve registration on customer domains (#125338)
  src/sentry/web/frontend/auth_login.py
  tests/acceptance/test_accept_organization_invite.py
  tests/sentry/web/frontend/test_auth_login.py
Due: backend

fix(issues): Keep OR event filters scoped to the current issue
  static/app/views/issueDetails/eventGraph.spec.tsx
  static/app/views/issueDetails/eventList.spec.tsx
  static/app/views/issueDetails/groupTags/tagDetailsDrawerContent.spec.tsx
  static/app/views/issueDetails/hooks/useIssueDetailsDiscoverQuery.spec.tsx
  static/app/views/issueDetails/hooks/useIssueDetailsDiscoverQuery.tsx
Due: frontend

fix(derived data): Calculate issues.derived.heal_range_rows_found more accurately (#125372)
  src/sentry/issues/derived/tasks.py
  tests/sentry/issues/derived/test_tasks.py
Due: backend
