Repository getsentry/sentry: changes, and which Codecov flags are due for each by the changed paths.
All: frontend, backend, Profiling Views, Profiling Components, Profiling Utils

core(flex): migrate adminQueue.tsx to use Flex
  static/app/views/admin/adminQueue.tsx
Due: frontend

chore(deletions): Add some extra stats to help us understand `Release` deletions
  src/sentry/deletions/base.py
  src/sentry/deletions/defaults/group.py
  src/sentry/deletions/defaults/grouphistory.py
  src/sentry/deletions/manager.py
  src/sentry/deletions/tasks/groups.py
  src/sentry/deletions/tasks/hybrid_cloud.py
  src/sentry/deletions/tasks/scheduled.py
  src/sentry/runner/commands/cleanup.py
  src/sentry/utils/query.py
  tests/sentry/deletions/tasks/test_groups.py
Due: backend

fix tests
  tests/sentry/utils/test_query.py
Due: none

core(flex): migrate installWizard/index.tsx to use Flex
  static/app/views/admin/installWizard/index.tsx
Due: frontend

core(flex): migrate scoreCard.tsx to use Flex
  static/app/components/scoreCard.tsx
Due: frontend

core(flex): migrate simpleTable/index.tsx to use Flex
  static/app/components/tables/simpleTable/index.tsx
Due: frontend

core(flex): migrate filterOperator.tsx to use Flex
  static/app/components/searchQueryBuilder/tokens/filter/filterOperator.tsx
Due: frontend

fix(crons): Fix check-in chart colors
  static/app/views/insights/crons/components/monitorStats.tsx
Due: frontend

core(flex): migrate sidebar.tsx to use Flex
  static/app/components/replaysOnboarding/sidebar.tsx
Due: frontend

core(flex): migrate replayOnboardingLayout.tsx to use Flex
  static/app/components/replaysOnboarding/replayOnboardingLayout.tsx
Due: frontend

core(flex): migrate checkInTooltip.tsx to use Flex
  static/app/components/checkInTimeline/checkInTooltip.tsx
Due: frontend

feat(integrations): auto enroll projects into data forwarding (#100563)
  src/sentry/receivers/__init__.py
  src/sentry/receivers/data_forwarding.py
  tests/sentry/receivers/test_data_forwarding.py
Due: backend

core(flex): migrate pluginConfig.tsx to use Flex
  static/app/components/pluginConfig.tsx
Due: frontend

core(flex): migrate styles.tsx to use Flex
  static/app/views/organizationStats/teamInsights/styles.tsx
Due: frontend

core(flex): migrate uploadBackup.tsx to use Flex
  static/app/views/relocation/uploadBackup.tsx
Due: frontend

core(flex): migrate landingAggregateFlamegraph.tsx to use Flex
  static/app/views/profiling/landingAggregateFlamegraph.tsx
Due: frontend, Profiling Views

core(flex): migrate quickContextHovercard.tsx to use Flex
  static/app/views/discover/table/quickContext/quickContextHovercard.tsx
Due: frontend

fix(preprod): handle path collisions during comparisons (#100746)
  src/sentry/preprod/size_analysis/compare.py
  tests/sentry/preprod/size_analysis/test_compare.py
Due: backend

fix(crons): Await deletion before fetching new processing errors
  static/app/views/alerts/rules/crons/details.tsx
  static/app/views/insights/crons/views/overview.tsx
Due: frontend

core(flex): migrate getFrameDetails.tsx to use Flex
  static/app/views/projectDetail/styles.tsx
Due: frontend

remove space and styled imports
  static/app/utils/replays/getFrameDetails.tsx
Due: frontend

repair workflow cron conditions for regular issue alerts
  migrations_lockfile.txt
  src/sentry/workflow_engine/migrations/0092_repair_workflow_cron_conditions.py
  tests/sentry/workflow_engine/migrations/test_0092_repair_workflow_cron_conditions.py
Due: backend

fix(ACI): Delete Detector even if AlertRuleWorkflow is not found (#100806)
  src/sentry/workflow_engine/migration_helpers/alert_rule.py
  tests/sentry/workflow_engine/migration_helpers/test_migrate_alert_rule.py
Due: backend

feat(pr-page): add files list components (#100802)
  static/app/views/pullRequest/details/main/prFilesList.tsx
  static/app/views/pullRequest/details/main/pullRequestDetailsMainContent.tsx
Due: frontend

fix type error and change spacing
  static/app/gettingStartedDocs/javascript/nextjs.tsx
  static/app/utils/replays/getFrameDetails.tsx
  static/app/views/admin/adminQueue.tsx
  static/app/views/discover/table/quickContext/quickContextHovercard.tsx
  static/app/views/setupWizard/waitingForWizardToConnect.tsx
  static/app/views/setupWizard/wizardProjectSelection.tsx
Due: frontend

fix(crons): Await deletion before fetching new processing errors (#100830)
  static/app/views/alerts/rules/crons/details.tsx
  static/app/views/insights/crons/views/overview.tsx
Due: frontend

fix(crons): Fix check-in chart colors (#100828)
  static/app/views/insights/crons/components/monitorStats.tsx
Due: frontend

fix(crons): Do not display backend-invalid cron expressions
  static/app/views/insights/crons/utils/crontabAsText.spec.tsx
  static/app/views/insights/crons/utils/crontabAsText.tsx
Due: frontend

ref(linting): Enable no-useless-escape rule
  eslint.config.mjs
  rspack.config.ts
  static/app/api.tsx
  static/app/bootstrap/index.tsx
  static/app/components/events/contexts/knownContext/user.tsx
  static/app/components/events/contexts/utils.tsx
  static/app/components/events/interfaces/crashContent/exception/actionableItemsUtils.tsx
  static/app/components/events/interfaces/crashContent/exception/utils.spec.tsx
  static/app/components/events/interfaces/crashContent/exception/utils.tsx
  static/app/components/searchSyntax/mutableSearch.tsx
  static/app/gettingStartedDocs/javascript/javascript.tsx
  static/app/gettingStartedDocs/javascript/react.tsx
  static/app/gettingStartedDocs/python/rq.tsx
  static/app/gettingStartedDocs/ruby/rails.spec.tsx
  static/app/utils/extractSlug.tsx
  static/app/utils/git/parseRepo.tsx
  static/app/utils/profiling/frame.tsx
  static/app/utils/tokenizeSearch.tsx
  static/app/utils/url/normalizeUrl.tsx
  static/app/views/automations/components/dataConditionNodes.tsx
  static/app/views/automations/hooks/utils.spec.tsx
  static/app/views/dashboards/detail.tsx
  static/app/views/dashboards/utils/getWidgetExploreUrl.spec.tsx
  static/app/views/discover/utils.tsx
  static/app/views/insights/browser/webVitals/components/webVitalsDetailPanel.spec.tsx
  static/app/views/nav/useActiveNavGroup.tsx
  static/app/views/relocation/inProgress.tsx
  static/app/views/settings/projectSecurityHeaders/hpkp.tsx
  static/gsApp/views/amCheckout/steps/contractSelect.spec.tsx
  static/gsApp/views/subscriptionPage/usageLog.tsx
Due: frontend

deps(ui): Upgrade to react 19.2
  package.json
  pnpm-lock.yaml
Due: none

feat(sub v3): Receipts page + component updates
  static/gsApp/views/subscriptionPage/paymentHistory.tsx
Due: none

fix typo
  static/app/views/settings/projectPerformance/projectPerformance.spec.tsx
  static/app/views/settings/projectPerformance/projectPerformance.tsx
Due: frontend

deps(ui): Upgrade rsdoctor, react refresh plugin
  package.json
  pnpm-lock.yaml
Due: none

remove user-feedback-ui flag
  src/sentry/conf/server.py
Due: backend

Path conditions:
  frontend: any of: static/app/
  backend: any of: src/sentry/**/*.py
  Profiling Views: any of: static/app/views/profiling/**
  Profiling Components: any of: src/sentry/static/sentry/app/components/profiling/**
  Profiling Utils: any of: src/sentry/static/sentry/app/utils/profiling/**
