Repository getsentry/sentry: changes, and which Codecov flags are due for each by the changed paths.
All: frontend, backend, Profiling Views, Profiling Components, Profiling Utils

ref(ui): Remove not used file (#85434)
  static/app/views/insights/common/utils/useModuleNameFromUrl.tsx
Due: frontend

make Spring context a platformContext instead of a knownContext
  static/app/components/events/contexts/platformContext/spring.spec.tsx
  static/app/components/events/contexts/platformContext/spring.tsx
  static/app/components/events/contexts/platformContext/utils.tsx
  static/app/components/events/contexts/utils.tsx
  static/app/types/event.tsx
Due: frontend

feat(projects): using serializer to validate project updates
  src/sentry/projects/services/project/impl.py
  src/sentry/projects/services/project/model.py
  src/sentry/projects/services/project/serial.py
  src/sentry/projects/services/project/service.py
Due: backend

Update tests/sentry/incidents/endpoints/test_organization_ondemand_rule_stats_endpoint.py
  tests/sentry/incidents/endpoints/test_organization_ondemand_rule_stats_endpoint.py
Due: none

test(projects): extending tests for several edge cases
  tests/sentry/hybridcloud/test_project.py
Due: none

fix(flutter-onboarding): Fix tests
  static/app/gettingStartedDocs/flutter/flutter.spec.tsx
Due: frontend

remove not used import
  tests/sentry/incidents/endpoints/test_organization_ondemand_rule_stats_endpoint.py
Due: none

feat(laravel-insights): Add jobs widget
  static/app/views/insights/pages/backend/laravelOverviewPage.tsx
Due: frontend

feat(quick-start): Add more instrumentation to further investigate an issue
  src/sentry/models/organizationonboardingtask.py
Due: backend

Update src/sentry/models/organizationonboardingtask.py
  src/sentry/models/organizationonboardingtask.py
Due: backend

feat(endpoints): Add endpoint returning on demand metric alerts total counts (#85436)
  src/sentry/api/urls.py
  src/sentry/incidents/endpoints/organization_alert_rule_index.py
  src/sentry/relay/config/metric_extraction.py
  tests/sentry/incidents/endpoints/test_organization_ondemand_rule_stats_endpoint.py
Due: backend

feat(laravel-insights): Add jobs widget (#85524)
  static/app/views/insights/pages/backend/laravelOverviewPage.tsx
Due: frontend

fix(symbolication): Temporarily disable Intel symbol source
  src/sentry/conf/server.py
Due: backend

feat(assemble): Implement new experimental missing chunks algorithm
  src/sentry/debug_files/upload.py
  src/sentry/features/temporary.py
Due: backend

fix(projects): fix linting issues
  src/sentry/projects/services/project/serial.py
Due: backend

fix tests
  tests/sentry/api/test_permissions.py
Due: none

fix(symbolication): Handle image timeouts
  src/sentry/lang/native/processing.py
Due: backend

init org context
  src/sentry/api/permissions.py
Due: backend

Add tests
  src/sentry/api/endpoints/debug_files.py
  src/sentry/api/endpoints/organization_artifactbundle_assemble.py
  src/sentry/debug_files/upload.py
  tests/sentry/api/endpoints/test_organization_artifactbundle_assemble.py
Due: backend

Add more spans
  src/sentry/debug_files/upload.py
Due: backend

rename permission class
  src/sentry/api/bases/organization.py
  src/sentry/api/permissions.py
  src/sentry/sentry_apps/api/endpoints/sentry_app_rotate_secret.py
  src/sentry/users/api/bases/user.py
  tests/sentry/api/test_permissions.py
Due: backend

improve tests
  tests/sentry/api/test_permissions.py
Due: none

fix(symbolication): Handle image timeouts (#85527)
  src/sentry/lang/native/processing.py
Due: backend

Add flutter wizard (#85523)
  static/app/gettingStartedDocs/flutter/flutter.spec.tsx
  static/app/gettingStartedDocs/flutter/flutter.tsx
Due: frontend

indent fix
  tests/sentry/api/test_permissions.py
Due: none

fix(projects): only allow to set validated fields
  src/sentry/projects/services/project/impl.py
  tests/sentry/hybridcloud/test_project.py
Due: backend

providers: remove double chonk provider (#85389)
  static/app/views/app/index.spec.tsx
  static/app/views/app/index.tsx
Due: frontend

feat(assemble): Implement new experimental missing chunks algorithm (#85528)
  src/sentry/api/endpoints/debug_files.py
  src/sentry/api/endpoints/organization_artifactbundle_assemble.py
  src/sentry/debug_files/upload.py
  src/sentry/features/temporary.py
  tests/sentry/api/endpoints/test_organization_artifactbundle_assemble.py
Due: backend

ref: fold TrackResponseMixin into only subclass (#85446)
  src/sentry/integrations/client.py
  src/sentry/shared_integrations/client/base.py
  src/sentry/shared_integrations/track_response.py
  src/sentry/silo/client.py
  src/sentry_plugins/client.py
  tests/sentry/integrations/msteams/test_client.py
  tests/sentry/integrations/msteams/test_webhook.py
  tests/sentry/integrations/pagerduty/test_client.py
  tests/sentry/integrations/vsts/test_client.py
Due: backend

ref: convert determine_active_organization to a free function (#85423)
  src/sentry/api/endpoints/auth_config.py
  src/sentry/api/endpoints/auth_login.py
  src/sentry/integrations/github/integration.py
  src/sentry/web/frontend/auth_login.py
  src/sentry/web/frontend/base.py
Due: backend

Path conditions:
  frontend: any of: static/app/
  backend: any of: src/sentry/**/*.py
  Profiling Views: any of: static/app/views/profiling/**
  Profiling Components: any of: src/sentry/static/sentry/app/components/profiling/**
  Profiling Utils: any of: src/sentry/static/sentry/app/utils/profiling/**
