Repository getsentry/sentry: changes, and which Codecov flags are due for each by the changed paths.
All: frontend, backend, Profiling Views, Profiling Components, Profiling Utils

chore(uptime): Remove uses of `uptime-eap-uptime-results-query` from `project_uptime_alert_checks_index` (#101815)
  src/sentry/snuba/trace.py
  src/sentry/uptime/eap_utils.py
  src/sentry/uptime/endpoints/project_uptime_alert_checks_index.py
  tests/sentry/uptime/endpoints/test_project_uptime_alert_check_index.py
Due: backend

chore(uptime): Remove uses of `uptime-eap-uptime-results-query` from `organization_uptime_stats`
  src/sentry/uptime/endpoints/organization_uptime_stats.py
  src/sentry/uptime/endpoints/organization_uptime_summary.py
  src/sentry/uptime/endpoints/utils.py
  tests/sentry/uptime/endpoints/test_organization_uptime_stats.py
  tests/sentry/uptime/endpoints/test_utils.py
Due: backend

fix(dashboards): Clear search input when returning to dataset selection in addFilter (#101800)
  static/app/components/core/compactSelect/control.tsx
  static/app/views/dashboards/globalFilter/addFilter.tsx
Due: frontend

Converted over remaining project settings views
  static/app/views/settings/project/projectSettingsLayout.tsx
  static/app/views/settings/projectPlugins/details.tsx
  static/app/views/settings/projectPlugins/index.tsx
  static/app/views/settings/projectPlugins/projectPlugins.tsx
Due: frontend

tests
  tests/sentry/relay/config/test_metric_extraction.py
  tests/snuba/api/endpoints/test_organization_events_mep.py
Due: none

Use a plain `...` merge for configuration
  static/app/components/searchSyntax/parser.tsx
Due: frontend

Add message fallbacks
  static/app/views/alerts/rules/metric/ruleConditionsForm.tsx
  static/app/views/dashboards/widgetBuilder/buildSteps/filterResultsStep/releaseSearchBar.tsx
  static/app/views/detectors/datasetConfig/components/releaseSearchBar.tsx
Due: frontend

moved location of tap
  static/app/views/replays/list/replaySearchBar.tsx
Due: frontend

PR feedback
  tests/sentry/seer/endpoints/test_organization_seer_explorer_chat.py
Due: none

update webhook actions when sentry app install is deleted
  src/sentry/workflow_engine/service/action/impl.py
  tests/sentry/workflow_engine/service/test_action_service.py
Due: backend

feat(replay): Adding Tap on Replay Search (#101806)
  static/app/utils/fields/index.ts
  static/app/views/replays/list/replaySearchBar.tsx
Due: frontend

feat(eco): Adds credentials service integration interface, implements it for Github
  src/sentry/integrations/credentials_service/__init__.py
  src/sentry/integrations/credentials_service/types.py
  src/sentry/integrations/github/integration.py
  tests/sentry/integrations/github/test_integration.py
Due: backend

Renames base class
  src/sentry/integrations/credentials_service/types.py
  src/sentry/integrations/github/integration.py
  src/sentry/integrations/github_enterprise/integration.py
Due: backend

Hoists implementation of access token times to the ABC
  src/sentry/integrations/credentials_service/types.py
  src/sentry/integrations/github/integration.py
  src/sentry/integrations/github_enterprise/integration.py
  tests/sentry/integrations/github/test_integration.py
Due: backend

Refactors credential lease code a bit more
  src/sentry/integrations/credentials_service/types.py
  src/sentry/integrations/github/client.py
  src/sentry/integrations/github/integration.py
  tests/sentry/integrations/github/test_integration.py
Due: backend

Fixes typing mismatches and missing references
  src/sentry/integrations/github/client.py
  src/sentry/integrations/github/integration.py
Due: backend

Moves control silo decorators to parent class
  src/sentry/integrations/credentials_service/types.py
  src/sentry/integrations/github/integration.py
  tests/sentry/integrations/credentials_service/test_credentials_leasable_abc.py
  tests/sentry/integrations/github/test_integration.py
Due: backend

Removes GHE implementation for now
  src/sentry/integrations/credentials_service/types.py
  src/sentry/integrations/github/client.py
  src/sentry/integrations/github/integration.py
  src/sentry/integrations/github_enterprise/integration.py
Due: backend

Updates integration model prior to returning credential data
  src/sentry/integrations/github/integration.py
Due: backend

Updates test to include expiration in payload
  tests/sentry/integrations/github/test_client.py
Due: none

Fixes a couple more typing issues
  src/sentry/integrations/base.py
  src/sentry/integrations/github/integration.py
Due: backend

Adds control silo restrictions to credential methods
  src/sentry/integrations/github/integration.py
Due: backend

Cleans up test name
  tests/sentry/integrations/credentials_service/test_credentials_leasable_abc.py
Due: none

Adds additional test for ABC logic
  tests/sentry/integrations/credentials_service/test_credentials_leasable_abc.py
Due: none

RPC function to update sentry app webhook action
  src/sentry/workflow_engine/service/action/impl.py
  src/sentry/workflow_engine/service/action/service.py
  tests/sentry/workflow_engine/service/test_action_service.py
Due: backend

comment
  src/sentry/receivers/outbox/control.py
Due: backend

add error handling accross integrations
  src/sentry/integrations/discord/integration.py
  src/sentry/integrations/messaging/metrics.py
  src/sentry/integrations/msteams/integration.py
  src/sentry/integrations/slack/integration.py
  tests/sentry/integrations/discord/test_integration.py
  tests/sentry/integrations/msteams/test_integration.py
  tests/sentry/integrations/slack/test_integration.py
Due: backend

prepare to process with sentry app slug
  src/sentry/receivers/outbox/control.py
  src/sentry/sentry_apps/models/sentry_app.py
Due: backend

Use fixture
  tests/sentry/seer/endpoints/test_organization_seer_explorer_chat.py
Due: none

Revert "feat(replays): Add memory-efficient project and project option query caches (#101606)"
  src/sentry/options/defaults.py
  src/sentry/replays/consumers/recording.py
  src/sentry/replays/lib/cache.py
  src/sentry/replays/usecases/ingest/__init__.py
  src/sentry/replays/usecases/ingest/cache.py
  src/sentry/replays/usecases/ingest/event_logger.py
  src/sentry/replays/usecases/ingest/types.py
  tests/sentry/replays/consumers/test_recording.py
  tests/sentry/replays/integration/consumers/test_recording.py
  tests/sentry/replays/integration/test_ingest_cache.py
  tests/sentry/replays/integration/test_ingest_options.py
  tests/sentry/replays/lib/test_cache.py
Due: backend

just update the object identifier
  src/sentry/sentry_apps/models/sentry_app.py
Due: backend

feat(replay): add some mobile breadcrumb logs (#101764)
  src/sentry/replays/usecases/ingest/event_parser.py
  src/sentry/replays/usecases/summarize.py
  tests/sentry/replays/unit/test_event_parser.py
  tests/sentry/replays/usecases/test_summarize.py
Due: backend

add tracing to sentry app webhook sending
  src/sentry/sentry_apps/tasks/sentry_apps.py
  src/sentry/utils/sentry_apps/webhooks.py
Due: backend

mypy
  src/sentry/relay/config/metric_extraction.py
Due: backend

remove profiling summary design flag
  static/app/views/profiling/profileSummary/profileSummaryPage.spec.tsx
Due: frontend, Profiling Views

missing prefilling_for_deprecation
  src/sentry/snuba/metrics/extraction.py
Due: backend

Path conditions:
  frontend: any of: static/app/
  backend: any of: src/sentry/**/*.py
  Profiling Views: any of: static/app/views/profiling/**
  Profiling Components: any of: src/sentry/static/sentry/app/components/profiling/**
  Profiling Utils: any of: src/sentry/static/sentry/app/utils/profiling/**
