Repository getsentry/sentry: changes, and which Codecov flags are due for each by the changed paths.
All: frontend, backend, Profiling Views, Profiling Components, Profiling Utils

Path conditions:
  frontend: any of: static/app/
  backend: any of: src/sentry/**/*.py
  Profiling Views: any of: static/app/views/profiling/**
  Profiling Components: any of: src/sentry/static/sentry/app/components/profiling/**
  Profiling Utils: any of: src/sentry/static/sentry/app/utils/profiling/**

fix(aci): remove targetDisplay from test notification payload (#104548)
  static/app/views/automations/components/automationBuilder.tsx
  static/app/views/automations/components/automationFormData.tsx
Due: frontend

fix(aci): prevent invalid custom resolve thresholds (#104561)
  static/app/views/detectors/components/forms/metric/metric.tsx
  static/app/views/detectors/components/forms/metric/resolveSection.tsx
Due: frontend

ref(top-issues): small cluster cards (#104535)
  static/app/views/issueList/pages/dynamicGrouping.tsx
Due: frontend

ref(scraps): apply colors (#104198)
  static/app/utils/theme/scraps/color.tsx
  static/app/utils/theme/theme.spec.tsx
  static/app/utils/theme/theme.tsx
  static/app/views/performance/newTraceDetails/traceModels/traceTreeNode/rootNode.spec.tsx
Due: frontend

fix(api): Update List Seer AI Models to reflect that it is regional (#104530)
  src/sentry/api/base.py
  src/sentry/api/endpoints/seer_models.py
  src/sentry/apidocs/hooks.py
  tests/apidocs/test_hooks.py
Due: backend

chore(infra): Add test reporting to shuffle-tests workflow (#104560)
  .github/workflows/shuffle-tests.yml
Due: none

chore(aci): set event_id when creating open period (#104558)
  src/sentry/event_manager.py
  src/sentry/models/groupopenperiod.py
  tests/sentry/event_manager/test_event_manager.py
Due: backend

fix(anomaly thresholds): Only call endpoint if anomaly detection (#104557)
  static/app/views/detectors/components/details/metric/chart.tsx
  static/app/views/detectors/components/forms/metric/metricDetectorChart.tsx
  static/app/views/detectors/hooks/useMetricDetectorAnomalyThresholds.spec.tsx
  static/app/views/detectors/hooks/useMetricDetectorAnomalyThresholds.tsx
Due: frontend

fix(dashboards): prebuilt dashboards not syncing titles (#104533)
  src/sentry/dashboards/endpoints/organization_dashboards.py
Due: backend

feat(flagpole): add support for more detailed owner schema (#104504)
  src/flagpole/__init__.py
  src/flagpole/flagpole-schema.json
  tests/flagpole/test_flagpole_eval.py
Due: none

feat(preprod): add compare deltas to metric cards (EME-568) (#104451)
  static/app/views/preprod/buildComparison/main/buildComparisonMetricCards.tsx
  static/app/views/preprod/buildDetails/buildDetails.spec.tsx
  static/app/views/preprod/buildDetails/buildDetails.tsx
  static/app/views/preprod/buildDetails/main/buildDetailsMainContent.tsx
  static/app/views/preprod/buildDetails/main/buildDetailsMetricCards.tsx
  static/app/views/preprod/types/buildDetailsTypes.ts
  static/app/views/preprod/utils/labelUtils.tsx
Due: frontend

fix(usage overview): Display add-on categories with reserved volume (#104465)
  static/gsApp/utils/billing.spec.tsx
  static/gsApp/utils/billing.tsx
  static/gsApp/utils/dataCategory.spec.tsx
  static/gsApp/utils/dataCategory.tsx
  static/gsApp/views/amCheckout/index.spec.tsx
  static/gsApp/views/amCheckout/index.tsx
  static/gsApp/views/amCheckout/steps/onDemandBudgets.spec.tsx
  static/gsApp/views/amCheckout/steps/setPayAsYouGo.tsx
  static/gsApp/views/onDemandBudgets/onDemandBudgetEdit.tsx
  static/gsApp/views/onDemandBudgets/onDemandBudgets.spec.tsx
  static/gsApp/views/subscriptionPage/usageOverview/components/breakdownInfo.tsx
  static/gsApp/views/subscriptionPage/usageOverview/components/table.spec.tsx
  static/gsApp/views/subscriptionPage/usageOverview/components/table.tsx
  static/gsApp/views/subscriptionPage/usageOverview/components/tableRow.tsx
  static/gsApp/views/subscriptionPage/usageOverview/index.tsx
  tests/js/getsentry-test/fixtures/am1Plans.ts
Due: none

feat(top-issues): use new cluster-level descriptors (#104567)
  static/app/views/issueList/pages/dynamicGrouping.tsx
Due: frontend

fix(flamegraph): Only dispatch checkpoint when finishing flamegraph i… (#104564)
  static/app/components/profiling/flamegraph/interactions/useInteractionViewCheckPoint.tsx
Due: frontend

feat(top-issues): show escalating top issues (#104568)
  static/app/views/issueList/pages/dynamicGrouping.tsx
Due: frontend

fix(ai-code-review): Add on_new_commit flag (#104489)
  src/sentry/features/temporary.py
  src/sentry/overwatch/endpoints/overwatch_rpc.py
  src/sentry/prevent/endpoints/pr_review_github_config.py
  src/sentry/prevent/types/config.py
  tests/sentry/overwatch/endpoints/test_overwatch_rpc.py
  tests/sentry/prevent/endpoints/test_pr_review_config.py
Due: backend

Modified: Mapping of colours in theme.tsx (#104572)
  static/app/utils/theme/theme.tsx
Due: frontend

feat(analytics): Add Seer feature tracking to issue_details.seer_opened event (#104547)
  static/app/utils/analytics/workflowAnalyticsEvents.tsx
  static/app/views/issueDetails/streamline/sidebar/seerSectionCtaButton.tsx
Due: frontend

fix(aci): Use detector config in issue details (#104584)
  static/app/views/issueDetails/streamline/sidebar/metricDetectorTriggeredSection.tsx
Due: frontend

fix(aci): assign condition subfilter ids on alert edit (#104555)
  static/app/views/automations/components/automationFormData.tsx
  static/app/views/automations/edit.tsx
Due: frontend

feat(preprod): Add preprod issue category and grouptypes (#104579)
  src/sentry/issues/grouptype.py
Due: backend

chore(inbound-filters): Update Legacy Browser Inbound Filter (#102518)
  static/app/views/settings/project/projectFilters/index.spec.tsx
  static/app/views/settings/project/projectFilters/projectFiltersSettings.tsx
Due: frontend

feat(seer): Bootstrap Org-wide Seer settings main page (#104081)
  static/app/router/routes.tsx
  static/app/types/organization.tsx
  static/gsApp/views/seerAutomation/components/seerSettingsPageWrapper.tsx
  static/gsApp/views/seerAutomation/projects.tsx
  static/gsApp/views/seerAutomation/repos.tsx
  static/gsApp/views/seerAutomation/seerAutomation.tsx
  static/gsApp/views/seerAutomation/settings.tsx
  tests/js/fixtures/organization.ts
Due: frontend

feat(aci): Add 'open in' button to issue details (#104593)
  static/app/views/detectors/components/details/metric/chart.tsx
  static/app/views/detectors/components/details/metric/getDetectorOpenInDestination.spec.tsx
  static/app/views/detectors/components/details/metric/getDetectorOpenInDestination.tsx
  static/app/views/issueDetails/streamline/sidebar/metricDetectorTriggeredSection.spec.tsx
  static/app/views/issueDetails/streamline/sidebar/metricDetectorTriggeredSection.tsx
Due: frontend

feat(triage signals): Add billing flag to all triage signals check (#104570)
  src/sentry/seer/autofix/issue_summary.py
  src/sentry/seer/similarity/utils.py
  src/sentry/tasks/post_process.py
Due: backend

feat(profiling): Add project id based kill switch in ingest-profiles (#104587)
  src/sentry/killswitches.py
  src/sentry/options/defaults.py
  src/sentry/profiles/consumers/process/factory.py
  tests/sentry/profiles/consumers/test_process.py
Due: backend

deps(ui): Update caniuse db (#104595)
  pnpm-lock.yaml
Due: none

fix(grouping): Fix grouphash caching metric cache expiry tagging (#104537)
  src/sentry/grouping/ingest/caching.py
  src/sentry/grouping/ingest/hashing.py
  src/sentry/models/grouphash.py
  tests/sentry/event_manager/test_event_manager_grouping.py
  tests/sentry/models/test_grouphash.py
Due: backend

inspector: add copy llm prompt (#104596)
  static/app/components/core/inspector.spec.tsx
  static/app/components/core/inspector.tsx
Due: frontend

feat(seer): Add Seer-specific content to Subscription Settings (#104476)
  static/app/constants/index.tsx
  static/app/types/core.tsx
  static/gsAdmin/components/changePlanAction.spec.tsx
  static/gsAdmin/components/changePlanAction.tsx
  static/gsAdmin/components/planList.tsx
  static/gsApp/constants.tsx
  static/gsApp/hooks/useProductBillingMetadata.tsx
  static/gsApp/types/index.tsx
  static/gsApp/utils/dataCategory.spec.tsx
  static/gsApp/utils/dataCategory.tsx
  static/gsApp/views/amCheckout/components/cart.tsx
  static/gsApp/views/amCheckout/steps/productSelect.tsx
  static/gsApp/views/subscriptionPage/headerCards/nextBillCard.spec.tsx
  static/gsApp/views/subscriptionPage/headerCards/nextBillCard.tsx
  static/gsApp/views/subscriptionPage/usageOverview/components/billedSeats.spec.tsx
  static/gsApp/views/subscriptionPage/usageOverview/components/billedSeats.tsx
  static/gsApp/views/subscriptionPage/usageOverview/components/breakdownInfo.tsx
  static/gsApp/views/subscriptionPage/usageOverview/components/panel.spec.tsx
  static/gsApp/views/subscriptionPage/usageOverview/components/panel.tsx
  static/gsApp/views/subscriptionPage/usageOverview/components/tableRow.tsx
  static/gsApp/views/subscriptionPage/usageOverview/components/upgradeOrTrialCta.tsx
  static/gsApp/views/subscriptionPage/usageOverview/index.tsx
  tests/js/getsentry-test/fixtures/am1Plans.ts
  tests/js/getsentry-test/fixtures/am2Plans.ts
  tests/js/getsentry-test/fixtures/am3Plans.ts
Due: frontend

chore: remove flags (#104578)
  src/sentry/features/temporary.py
Due: backend

feat(dashboards): Registers option to control enabled Prebuilt Dashboards (#104583)
  src/sentry/options/defaults.py
Due: backend

feat(cells): make email capture demo mode control-silo only (#104488)
  src/sentry/api/endpoints/email_capture.py
  static/app/data/controlsiloUrlPatterns.ts
  tests/sentry/api/endpoints/test_email_capture.py
Due: frontend, backend

feat(explorer): allow client to pass in metadata (#104606)
  src/sentry/seer/explorer/client.py
  src/sentry/seer/explorer/client_models.py
Due: backend

fix(flamegraph): Fix continuous flamegraph non call order (#104582)
  static/app/components/profiling/flamegraph/continuousFlamegraph.tsx
Due: frontend

fix(usage overview): Correct overflows (#104566)
  static/gsApp/views/subscriptionPage/headerCards/headerCards.tsx
  static/gsApp/views/subscriptionPage/usageOverview/components/actions.tsx
  static/gsApp/views/subscriptionPage/usageOverview/components/table.tsx
  static/gsApp/views/subscriptionPage/usageOverview/components/tableRow.tsx
Due: none

chore(triage signals): Log cleanup (#104609)
  src/sentry/seer/autofix/issue_summary.py
  src/sentry/seer/autofix/utils.py
  src/sentry/tasks/autofix.py
  src/sentry/tasks/post_process.py
Due: backend

fix(spans-migration): commit changes once everything passes (#104580)
  src/sentry/explore/translation/alerts_translation.py
  tests/sentry/explore/translation/test_alerts_translation.py
Due: backend

chore(cells): Fix cell deprecation date (#104602)
  src/sentry/constants.py
Due: backend

chore(inbound-filters): Update serializer help text to reflect new filter (#104250)
  src/sentry/ingest/inbound_filters.py
Due: backend
