Repository getsentry/sentry: changes, and which Codecov flags are due for each by the changed paths.
All: frontend, backend, Profiling Views, Profiling Components, Profiling Utils

codecov.yml:

# Setting coverage targets per flag
coverage:
  status:
    project: false
    patch:
      frontend:
        # codecov will not fail status checks for master
        only_pulls: true
        informational: false # Fail the check
        target: 60%
        flags:
          - frontend
      backend:
        # codecov will not fail status checks for master
        only_pulls: true
        informational: false # Fail the check
        target: 90%
        flags:
          - backend
  ignore:
    - src/*/migrations/
    - src/bitfield/
    - src/sentry/debug/
    - src/sentry/lint/
    - src/sentry/runner/
    - src/social_auth/
    - static/app/routes.tsx
    - tests/

component_management:
  individual_components:
    # Profiling team components
    - component_id: 'profiling_views'
      name: 'Profiling Views'
      paths:
        - 'static/app/views/profiling/**'
    - component_id: 'profiling_components'
      name: 'Profiling Components'
      paths:
        - 'src/sentry/static/sentry/app/components/profiling/**'
    - component_id: 'profiling_utils'
      name: 'Profiling Utils'
      paths:
        - 'src/sentry/static/sentry/app/utils/profiling/**'

flags:
  frontend:
    paths:
      - 'static/app/'
    carryforward: true
    # FE uploads 4 coverage reports. This property ensures codecov waits
    # for all reports to be uploaded before creating a GitHub status check.
    # NOTE: If you change this, make sure to change `comment.after_n_builds` below as well.
    after_n_builds: 4
  backend:
    paths:
      - 'src/sentry/**/*.py'
    carryforward: true
    # Do not send any status checks until n coverage reports are uploaded.
    # NOTE: If you change this, make sure to change `comment.after_n_builds` below as well.
    after_n_builds: 18

# https://docs.codecov.com/docs/flags#two-approaches-to-flag-management
flag_management:
  individual_flags:
    - name: smart-tests
      # Prevents the upload with this flag from being copied accross commits
      carryforward: false
      # https://docs.codecov.com/docs/getting-started-with-ats#step-2-configure-the-codecovyml-for-automated-test-selection
      # carryforward_mode: "labels"
      statuses:
        # https://github.com/codecov/shared/blob/main/shared/validation/user_schema.py#L310
        - type: 'patch'
          only_pulls: true

# Read more here: https://docs.codecov.com/docs/pull-request-comments
comment:
  # This is the addition of carry forward builds and fresh builds, thus, it's the addition
  # of the FE and BE builds
  after_n_builds: 22
  layout: 'diff, files'
  # Update, if comment exists. Otherwise post new.
  behavior: default
  # Comments will only post when coverage changes. Furthermore, if a comment
  # already exists, and a newer commit results in no coverage change for the
  # entire pull, the comment will be deleted.
  require_changes: true
  require_base: true # must have a base report to post
  require_head: true # must have a head report to post

cli:
  # This would be used when uploading the ats results
  # But we will not be doing that yet
  plugins:
    pycoverage:
      report_type: 'json'
    compress-pycoverage:
      file_to_compress: '.artifacts/python.coverage.json'
      # We don't want to upload the original coverage report by accident
      # Because it's too big
      delete_uncompressed: true
  runners:
    pytest:
      # Same args used for the backend tests
      # See Makefile:135
      collect_tests_options:
        - 'tests'
        - '--ignore=tests/acceptance'
        - '--ignore=tests/apidocs'
        - '--ignore=tests/js'
        - '--ignore=tests/tools'

chore(slack): correctly type issue message builder (#74876)
  pyproject.toml
  src/sentry/integrations/message_builder.py
  src/sentry/integrations/slack/message_builder/issues.py
  src/sentry/integrations/slack/webhooks/options_load.py
  src/sentry/notifications/utils/participants.py
  src/sentry/utils/committers.py
  tests/sentry/integrations/slack/notifications/test_issue_alert.py
  tests/sentry/integrations/slack/test_message_builder.py
Due: backend

fix import paths in tests
  src/sentry/conf/server.py
  src/sentry/integrations/tasks/slack/link_slack_user_identities.py
  src/sentry/integrations/tasks/slack/post_message.py
  src/sentry/integrations/tasks/slack/send_notifications_on_activity.py
  tests/sentry/integrations/tasks/github/test_open_pr_comment.py
  tests/sentry/integrations/tasks/github/test_pr_comment.py
  tests/sentry/integrations/tasks/slack/test_send_notifications_on_activity.py
  tests/sentry/integrations/tasks/test_link_all_repos.py
Due: backend

constants + more tests + fix tests
  src/sentry/incidents/logic.py
  tests/sentry/incidents/endpoints/test_organization_alert_rule_index.py
  tests/sentry/incidents/test_logic.py
Due: backend

feat(profiling): Generate flamegraph from latest transaction or continuous profiles
  src/sentry/api/endpoints/organization_profiling_profiles.py
  src/sentry/profiles/flamegraph.py
  src/sentry/snuba/referrer.py
  tests/sentry/api/endpoints/test_organization_profiling_profiles.py
Due: backend

no one saw that
  src/sentry/integrations/tasks/__init__.py
Due: backend

ref: get proper base manager typing (#72221)
  requirements-dev-frozen.txt
  requirements-dev.txt
  src/sentry/backup/imports.py
  src/sentry/db/models/manager/base.py
  src/sentry/models/files/abstractfile.py
  src/sentry/models/files/abstractfileblob.py
  src/sentry/organizations/services/organization/impl.py
  src/sentry/reprocessing2.py
  tests/sentry/db/test_transactions.py
Due: backend

split txn and flamegraph tab content
  static/app/views/profiling/content.tsx
Due: frontend, Profiling Views

remove widgets
  static/app/views/profiling/content.tsx
Due: frontend, Profiling Views

chore(seer grouping): Update `get_seer_similar_issues` docstring given removal of metadata flag (#75199)
  src/sentry/grouping/ingest/seer.py
Due: backend

feat(issue-details): Add a foldable data section component (#74224)
  static/app/components/events/eventDataSection.tsx
  static/app/components/globalDrawer/index.stories.tsx
  static/app/utils/analytics/issueAnalyticsEvents.tsx
  static/app/views/issueDetails/streamline/foldSection.stories.tsx
  static/app/views/issueDetails/streamline/foldSection.tsx
  static/app/views/issueDetails/streamline/interimSection.tsx
Due: frontend

styles(profiling): Match flamegraph styles on landing
  static/app/views/performance/transactionSummary/transactionProfiles/index.tsx
Due: frontend

registered new provider
  src/sentry/auth/partnership_configs.py
  src/sentry/auth/providers/fly/apps.py
Due: backend

move translation helper to utils file + update data sent to seer
  src/sentry/incidents/subscription_processor.py
  src/sentry/seer/anomaly_detection/store_data.py
  src/sentry/seer/utils.py
  tests/sentry/incidents/test_subscription_processor.py
Due: backend

move utils to anomaly detection directory
  src/sentry/incidents/subscription_processor.py
  src/sentry/seer/anomaly_detection/store_data.py
  src/sentry/seer/anomaly_detection/utils.py
  tests/sentry/incidents/test_subscription_processor.py
Due: backend

chore(similarity): Turn on ML grouping for new EA projects (#75026)
  src/sentry/api/endpoints/team_projects.py
  tests/sentry/api/endpoints/test_team_projects.py
Due: backend

fix: Check region before project option creation
  src/sentry/api/endpoints/team_projects.py
  tests/sentry/api/endpoints/test_team_projects.py
Due: backend

:recycle: limit to 3
  static/app/components/devtoolbar/components/infiniteListItems.tsx
  static/app/components/devtoolbar/components/releases/releaseIssues.tsx
Due: frontend

Add new add view button and temporary tab designs
  static/app/components/draggableTabs/draggableTabList.tsx
  static/app/components/draggableTabs/index.stories.tsx
  static/app/components/tabs/tab.tsx
  static/app/views/issueList/draggableTabBar.tsx
  static/app/views/issueList/draggableTabMenuButton.tsx
Due: frontend

address PR comments
  src/sentry/incidents/logic.py
Due: backend

nit(anomaly detection): move translation helper to utils file + update data sent to seer (#75205)
  src/sentry/incidents/subscription_processor.py
  src/sentry/seer/anomaly_detection/store_data.py
  src/sentry/seer/anomaly_detection/utils.py
  tests/sentry/incidents/test_subscription_processor.py
Due: backend

Fix up naming consistency
  src/sentry/conf/server.py
  src/sentry/integrations/tasks/__init__.py
  src/sentry/integrations/tasks/kick_off_status_syncs.py
  src/sentry/integrations/tasks/opsgenie/migrate_opsgenie_plugins.py
  src/sentry/integrations/tasks/slack/find_channel_id_for_alert_rule.py
  src/sentry/integrations/tasks/slack/find_channel_id_for_rule.py
  src/sentry/integrations/tasks/slack/send_notifications_on_activity.py
  src/sentry/integrations/tasks/sync_assignee_outbound.py
  src/sentry/integrations/tasks/vsts/kickoff_subscription_check.py
  src/sentry/integrations/tasks/vsts/subscription_check.py
  src/sentry/tasks/integrations/__init__.py
  src/sentry/tasks/integrations/kick_off_status_syncs_impl.py
  src/sentry/tasks/integrations/sync_assignee_outbound_impl.py
Due: backend

:lipstick: fix loading heights
  static/app/components/devtoolbar/components/releases/releasesPanel.tsx
Due: frontend

oopsies
  src/sentry/incidents/logic.py
Due: backend

more oopsies
  src/sentry/incidents/logic.py
Due: backend

additional changes
  static/app/components/group/assignedTo.tsx
  static/app/views/issueDetails/actions/index.tsx
  static/app/views/issueDetails/actions/updatedAction.tsx
  static/app/views/issueDetails/header.tsx
  static/app/views/issueDetails/issueDetailsHeader.tsx
  static/app/views/issueDetails/streamlinedHeader.tsx
Due: frontend

hook problems
  static/app/views/alerts/rules/issue/addIntegrationRow.spec.tsx
  static/app/views/alerts/rules/issue/addIntegrationRow.tsx
  static/app/views/alerts/rules/issue/messagingIntegrationModal.tsx
  static/app/views/settings/organizationIntegrations/integrationButton.spec.tsx
  static/app/views/settings/organizationIntegrations/integrationButton.tsx
  static/app/views/settings/organizationIntegrations/integrationContext.tsx
  static/app/views/settings/organizationIntegrations/integrationDetailedView.tsx
Due: frontend

wrap add view text in translator
  static/app/components/draggableTabs/draggableTabList.tsx
Due: frontend

fix lint
  static/app/views/issueDetails/header.tsx
Due: frontend

ref: split content into separate tabs
  static/app/views/profiling/content.tsx
  static/app/views/profiling/landingAggregateFlamegraph.tsx
Due: frontend, Profiling Views

:art: rm limit
  static/app/components/devtoolbar/components/infiniteListItems.tsx
  static/app/components/devtoolbar/components/releases/releaseIssues.tsx
  static/app/components/devtoolbar/components/releases/releasesPanel.tsx
  static/app/components/devtoolbar/components/releases/useInfiniteReleaseIssuesList.tsx
Due: frontend

Revert "chore(slack): correctly type issue message builder (#74876)"
  pyproject.toml
  src/sentry/integrations/message_builder.py
  src/sentry/integrations/slack/message_builder/issues.py
  src/sentry/integrations/slack/webhooks/options_load.py
  src/sentry/notifications/utils/participants.py
  src/sentry/utils/committers.py
  tests/sentry/integrations/slack/notifications/test_issue_alert.py
  tests/sentry/integrations/slack/test_message_builder.py
Due: backend

feat(toolbar): add red indicator badge if crashes >> healthy sessions
  static/app/components/devtoolbar/components/indicatorBadge.tsx
  static/app/components/devtoolbar/components/navigation.tsx
  static/app/components/devtoolbar/components/releases/sessionStatusBadge.tsx
  static/app/components/devtoolbar/components/releases/useSessionStatus.tsx
Due: frontend

feat(custom-views): Add new add view button and temporary tab designs (#75206)
  static/app/components/draggableTabs/draggableTabList.tsx
  static/app/components/draggableTabs/index.stories.tsx
  static/app/components/tabs/tab.tsx
  static/app/views/issueList/draggableTabBar.tsx
  static/app/views/issueList/draggableTabMenuButton.tsx
Due: frontend
