Repository getsentry/sentry: changes, and which Codecov flags are due for each by the changed paths.
All: frontend, backend, Profiling Views, Profiling Components, Profiling Utils

Path conditions:
  frontend: any of: static/app/
  backend: any of: src/sentry/**/*.py
  Profiling Views: any of: static/app/views/profiling/**
  Profiling Components: any of: src/sentry/static/sentry/app/components/profiling/**
  Profiling Utils: any of: src/sentry/static/sentry/app/utils/profiling/**

chore(aci milestone 3): migrate alerts with erroring actions (#90706)
  migrations_lockfile.txt
  src/sentry/workflow_engine/migrations/0052_migrate_errored_metric_alerts.py
  tests/sentry/workflow_engine/migrations/test_0052_migrate_errored_metric_alerts.py
Due: backend

consolidate share and publish
  static/app/views/issueDetails/actions/index.spec.tsx
  static/app/views/issueDetails/actions/index.tsx
  static/app/views/issueDetails/actions/publishModal.spec.tsx
  static/app/views/issueDetails/actions/publishModal.tsx
  static/app/views/issueDetails/actions/shareModal.spec.tsx
  static/app/views/issueDetails/actions/shareModal.tsx
  static/app/views/issueDetails/streamline/header/issueIdBreadcrumb.tsx
Due: frontend

fix(releases): Fix finalize button size
  static/app/views/releases/detail/overview/sidebar/projectReleaseDetails.tsx
Due: frontend

ref: make open PR comment workflow generic
  src/sentry/integrations/github/integration.py
  src/sentry/integrations/github/tasks/open_pr_comment.py
  src/sentry/integrations/github/tasks/utils.py
  src/sentry/integrations/source_code_management/commit_context.py
  src/sentry/seer/fetch_issues/fetch_issues.py
  tests/sentry/integrations/github/tasks/test_open_pr_comment.py
  tests/sentry/integrations/github/tasks/test_pr_comment.py
Due: backend

fix(releases): Fix finalize button size (#90716)
  static/app/views/releases/detail/overview/sidebar/projectReleaseDetails.tsx
Due: frontend

ref(discover): Move views/discover/results.tsx direct deps into their own folder
  static/app/components/createAlertButton.spec.tsx
  static/app/views/alerts/rules/metric/incompatibleAlertQuery.spec.tsx
  static/app/views/dashboards/widgetBuilder/buildSteps/filterResultsStep/eventsSearchBar.tsx
  static/app/views/discover/eventDetails/index.spec.tsx
  static/app/views/discover/homepage.spec.tsx
  static/app/views/discover/results.spec.tsx
  static/app/views/discover/results.tsx
  static/app/views/discover/results/chartFooter.spec.tsx
  static/app/views/discover/results/chartFooter.tsx
  static/app/views/discover/results/data.tsx
  static/app/views/discover/results/resultsChart.spec.tsx
  static/app/views/discover/results/resultsChart.tsx
  static/app/views/discover/results/resultsHeader.tsx
  static/app/views/discover/results/resultsSearchQueryBuilder.tsx
  static/app/views/discover/results/sampleDataAlert.spec.tsx
  static/app/views/discover/results/sampleDataAlert.tsx
  static/app/views/discover/results/tags.spec.tsx
  static/app/views/discover/results/tags.tsx
  static/app/views/discover/savedQuery/index.spec.tsx
  static/app/views/discover/savedQuery/index.tsx
  static/app/views/discover/savedQuery/utils.spec.tsx
  static/app/views/discover/utils.tsx
  static/app/views/performance/traceDetails/content.spec.tsx
  static/app/views/replays/detail/trace/trace.spec.tsx
Due: frontend

feat(seer): Add project flag to auto run issue summaries
  src/sentry/api/endpoints/project_details.py
  src/sentry/api/serializers/models/project.py
  src/sentry/models/options/project_option.py
  src/sentry/projectoptions/defaults.py
  tests/sentry/api/endpoints/test_project_details.py
  tests/sentry/api/serializers/test_project.py
Due: backend

feat(insights): eap starred transaction column updates (#90696)
  static/app/views/insights/common/utils/useStarredSegment.tsx
  static/app/views/insights/pages/backend/backendTable.tsx
  static/app/views/insights/pages/frontend/frontendOverviewTable.tsx
  static/app/views/insights/pages/mobile/mobileOverviewTable.tsx
Due: frontend

fix(api): Make trace item details rename type=double to type=float
  src/sentry/api/endpoints/project_trace_item_details.py
Due: backend

add check for user installs
  src/sentry/integrations/github/integration.py
  tests/sentry/integrations/github/test_integration.py
Due: backend

add tests for the owner checks
  tests/sentry/integrations/github/test_integration.py
Due: none

Fix test
  tests/sentry/ownership/test_grammar.py
Due: none

Fix tests
  tests/sentry/issues/auto_source_code_config/test_code_mapping.py
  tests/sentry/issues/endpoints/test_project_stacktrace_link.py
Due: none

chore(ci): Handle artifacts should continue on error (#90429)
  .github/actions/artifacts/action.yml
Due: none

🛠️ config to 0.5
  src/sentry/options/defaults.py
Due: backend

add django setting to enable ingest option check
  src/sentry/conf/server.py
  src/sentry/tasks/base.py
Due: backend

fix tests
  static/app/views/alerts/rules/metric/eapField.spec.tsx
  static/app/views/dashboards/widgetBuilder/buildSteps/filterResultsStep/spansSearchBar.spec.tsx
  static/app/views/dashboards/widgetBuilder/components/groupBySelector.spec.tsx
  static/app/views/dashboards/widgetBuilder/components/newWidgetBuilder.spec.tsx
  static/app/views/dashboards/widgetBuilder/components/sortBySelector.spec.tsx
  static/app/views/dashboards/widgetBuilder/widgetBuilderSortBy.spec.tsx
  static/app/views/explore/components/traceItemSearchQueryBuilder.tsx
Due: frontend

chore(perf-issues): Increase rollout to 0.5 for HTTP Detectors (#90722)
  src/sentry/options/defaults.py
Due: backend

fix(api): Make trace item details rename type=double to type=float (#90721)
  src/sentry/api/endpoints/project_trace_item_details.py
Due: backend

update
  static/app/views/insights/common/components/tableCells/renderHeadCell.tsx
  static/app/views/insights/pages/backend/backendOverviewPage.tsx
  static/app/views/insights/pages/backend/backendTable.tsx
  static/app/views/insights/pages/frontend/frontendOverviewPage.tsx
  static/app/views/insights/pages/frontend/frontendOverviewTable.tsx
  static/app/views/insights/pages/mobile/mobileOverviewPage.tsx
  static/app/views/insights/pages/mobile/mobileOverviewTable.tsx
  static/app/views/insights/types.tsx
Due: frontend

fix(tests) Unskip test and narrow scope of query count assertion (#90707)
  tests/sentry/quotas/test_base.py
Due: none

fix(taskworker) Update cluster_projects so it can not use pickle (#90705)
  src/sentry/ingest/transaction_clusterer/tasks.py
  tests/sentry/ingest/test_transaction_clusterer.py
Due: backend

more
  static/app/components/events/autofix/useAutofix.tsx
  static/app/views/issueDetails/streamline/groupDetailsLayout.spec.tsx
  static/app/views/issueDetails/streamline/sidebar/seerDrawer.spec.tsx
  static/app/views/issueDetails/streamline/sidebar/sidebar.spec.tsx
  static/gsApp/components/ai/aiSetupDataConsent.spec.tsx
Due: frontend

fix more tests
  static/app/components/events/autofix/autofixSetupWriteAccessModal.spec.tsx
  static/app/components/group/groupSummary.spec.tsx
  static/app/views/issueDetails/groupSidebar.spec.tsx
  static/app/views/issueDetails/streamline/sidebar/seerDrawer.spec.tsx
  static/app/views/issueDetails/streamline/sidebar/seerSection.spec.tsx
Due: frontend

fix(autofix): Use org-prefixed urls for autofix
  static/app/components/events/autofix/autofixChanges.analytics.spec.tsx
  static/app/components/events/autofix/autofixChanges.tsx
  static/app/components/events/autofix/autofixDiff.spec.tsx
  static/app/components/events/autofix/autofixDiff.tsx
  static/app/components/events/autofix/autofixHighlightPopup.tsx
  static/app/components/events/autofix/autofixInsightCards.spec.tsx
  static/app/components/events/autofix/autofixInsightCards.tsx
  static/app/components/events/autofix/autofixOutputStream.spec.tsx
  static/app/components/events/autofix/autofixOutputStream.tsx
  static/app/components/events/autofix/autofixRootCause.spec.tsx
  static/app/components/events/autofix/autofixRootCause.tsx
  static/app/components/events/autofix/autofixSolution.spec.tsx
  static/app/components/events/autofix/autofixSolution.tsx
  static/app/components/events/autofix/autofixThumbsUpDownButtons.tsx
  static/app/components/events/autofix/useAutofix.tsx
  static/app/components/events/autofix/useAutofixSetup.tsx
  static/app/components/group/groupSummary.tsx
  static/app/views/issueDetails/streamline/sidebar/sidebar.spec.tsx
  static/gsApp/components/ai/AiSetupDataConsent.tsx
Due: frontend

remove out empty filter sections
  static/app/views/explore/components/traceItemSearchQueryBuilder.tsx
Due: frontend

uodate setting names
  src/sentry/conf/server.py
  src/sentry/tasks/base.py
Due: backend

feat(explore): Add pagination analytics
  static/app/utils/analytics/tracingEventMap.tsx
  static/app/views/explore/hooks/usePaginationAnalytics.tsx
  static/app/views/explore/tables/aggregatesTable.tsx
  static/app/views/explore/tables/spansTable.tsx
  static/app/views/explore/tables/tracesTable/index.tsx
Due: frontend

🛠️ config to 0.75
  src/sentry/options/defaults.py
Due: backend

remove unused span tags context
  static/app/views/alerts/rules/metric/ruleConditionsForm.tsx
  static/app/views/explore/contexts/spanTagsContext.tsx
Due: frontend
