Repository getsentry/sentry: changes, and which Codecov flags are due for each by the changed paths.
All: frontend, backend, Profiling Views, Profiling Components, Profiling Utils

ref(issue-stream): Remove backend checks for issue-stream-performance flag (#82785)
  src/sentry/api/serializers/models/group.py
  src/sentry/api/serializers/models/group_stream.py
  tests/sentry/issues/endpoints/test_organization_group_index.py
  tests/snuba/api/endpoints/test_organization_group_index_stats.py
Due: backend

🔧 chore: remove redundant slack logging & metrics (#82744)
  src/sentry/integrations/discord/actions/issue_alert/notification.py
  src/sentry/integrations/discord/actions/metric_alert.py
  src/sentry/integrations/services/integration/impl.py
  src/sentry/integrations/slack/metrics.py
  src/sentry/integrations/slack/service.py
  src/sentry/integrations/slack/utils/notifications.py
  tests/sentry/incidents/action_handlers/test_slack.py
  tests/sentry/integrations/slack/service/test_slack_service.py
  tests/sentry/integrations/slack/test_notifications.py
Due: backend

feat(aci): error detector (#82533)
  src/sentry/incidents/endpoints/validators.py
  src/sentry/issues/grouptype.py
  src/sentry/testutils/factories.py
  src/sentry/workflow_engine/endpoints/serializers.py
  src/sentry/workflow_engine/endpoints/validators/__init__.py
  src/sentry/workflow_engine/endpoints/validators/base.py
  src/sentry/workflow_engine/endpoints/validators/error_detector.py
  src/sentry/workflow_engine/models/detector.py
  tests/sentry/workflow_engine/detectors/test_error_detector.py
  tests/sentry/workflow_engine/endpoints/test_project_detector_index.py
  tests/sentry/workflow_engine/endpoints/test_serializers.py
  tests/sentry/workflow_engine/endpoints/test_validators.py
  tests/sentry/workflow_engine/models/test_json_config_base.py
Due: backend

fix(widget-builder): Field duplicating when toggling datasets (#82883)
  static/app/views/dashboards/widgetBuilder/hooks/useWidgetBuilderState.spec.tsx
  static/app/views/dashboards/widgetBuilder/hooks/useWidgetBuilderState.tsx
Due: frontend

ref(tsc) enable nouncheckedindexedaccess (#82857)
  config/tsconfig.base.json
  static/app/components/avatarUploader.tsx
  static/app/views/issueList/groupSearchViewTabs/issueViewTab.tsx
  static/app/views/issueList/groupSearchViewTabs/issueViews.tsx
  static/app/views/issueList/issueViewsHeader.tsx
  static/app/views/performance/table.tsx
  static/app/views/performance/transactionSummary/transactionSpans/spanMetricsTable.tsx
  static/app/views/performance/transactionSummary/transactionSpans/spanSummary/spanSummaryTable.tsx
Due: frontend

ref(ui): Convert team members to FC (#82743)
  static/app/actionCreators/teams.tsx
  static/app/views/settings/organizationTeams/teamMembers.spec.tsx
  static/app/views/settings/organizationTeams/teamMembers.tsx
  static/app/views/settings/organizationTeams/teamMembersRow.tsx
Due: frontend

feat(workflow-engine): add `NewHighPriorityIssueConditionHandler` (#82846)
  src/sentry/workflow_engine/handlers/condition/__init__.py
  src/sentry/workflow_engine/handlers/condition/group_state_handlers.py
  src/sentry/workflow_engine/migration_helpers/issue_alert_conditions.py
  src/sentry/workflow_engine/models/data_condition.py
  tests/sentry/workflow_engine/handlers/condition/test_group_state_handlers.py
Due: backend

chore(devservices): Cleanup unused docker compose testing files (#82871)
  devservices/clickhouse/config.xml
  devservices/docker-compose-testing.yml
  devservices/symbolicator/config.yml
Due: none

ref(crons): Consistently import using relative imports (#82868)
  static/app/views/monitors/components/detailsSidebar.tsx
  static/app/views/monitors/components/monitorCheckIns.tsx
  static/app/views/monitors/components/monitorHeader.tsx
  static/app/views/monitors/components/monitorIssues.tsx
  static/app/views/monitors/components/monitorStats.tsx
  static/app/views/monitors/components/onboarding.tsx
  static/app/views/monitors/components/processingErrors/monitorProcessingErrors.spec.tsx
  static/app/views/monitors/components/processingErrors/monitorProcessingErrors.tsx
  static/app/views/monitors/details.tsx
  static/app/views/monitors/edit.tsx
  static/app/views/monitors/overview.tsx
  static/app/views/monitors/utils.tsx
Due: frontend

ref(issues): Clean up unused component exports (#82870)
  static/app/components/group/tagFacets/tagFacetsTypes.tsx
  static/app/views/issueDetails/groupEventCarousel.tsx
  static/app/views/issueDetails/groupMerged/mergedItem.tsx
  static/app/views/issueDetails/streamline/eventGraph.tsx
  static/app/views/issueDetails/streamline/foldSection.tsx
  static/app/views/issueDetails/streamline/header/userFeedbackBadge.tsx
  static/app/views/issueDetails/streamline/hooks/useAiConfig.tsx
  static/app/views/issueDetails/streamline/hooks/useEventMarkLineSeries.tsx
  static/app/views/issueDetails/streamline/sidebar/firstLastSeenSection.tsx
  static/app/views/issueList/actions/sortOptions.tsx
  static/app/views/issueList/actions/utils.tsx
Due: frontend

ref(issues): Remove unused stacktrace components (#82867)
  static/app/components/events/interfaces/frame/deprecatedLine.tsx
  static/app/components/events/interfaces/frame/leadHint.tsx
  static/app/components/events/interfaces/frame/line/default.tsx
  static/app/components/events/interfaces/frame/line/expander.tsx
  static/app/components/events/interfaces/frame/line/index.tsx
  static/app/components/events/interfaces/frame/line/native.tsx
  static/app/components/events/interfaces/frame/line/wrapper.tsx
Due: frontend

fix(dashboards): Left alignment for edit access in table view (#82858)
  static/app/views/dashboards/editAccessSelector.tsx
Due: frontend

ref(tsc) fix noUncheckedIndexedAccess (#82876)
  eslint.config.mjs
  static/app/views/performance/landing/index.spec.tsx
Due: frontend

feat(widget-builder): Switching display type to big number (#82881)
  static/app/views/dashboards/widgetBuilder/components/visualize.spec.tsx
  static/app/views/dashboards/widgetBuilder/components/visualize.tsx
  static/app/views/dashboards/widgetBuilder/hooks/useWidgetBuilderState.spec.tsx
  static/app/views/dashboards/widgetBuilder/hooks/useWidgetBuilderState.tsx
Due: frontend

ref(issues): Remove HoC from issue actions (#82877)
  static/app/views/issueDetails/actions/index.spec.tsx
  static/app/views/issueDetails/actions/index.tsx
  static/app/views/issueDetails/header.tsx
  static/app/views/issueDetails/streamline/header/header.tsx
Due: frontend

fix(ui): Correct title consistencies in a number of views (#82879)
  static/app/views/organizationStats/index.tsx
  static/app/views/settings/account/accountClose.tsx
  static/app/views/settings/featureFlags/index.tsx
  static/app/views/settings/organizationAuthTokens/index.tsx
  static/app/views/settings/organizationRelay/relayWrapper.tsx
  static/app/views/settings/organizationRepositories/index.tsx
Due: frontend

fix(uptime): Fix repair task to successfully repair update tasks (#82896)
  src/sentry/uptime/subscriptions/tasks.py
  tests/sentry/uptime/subscriptions/test_tasks.py
Due: backend

ref: fix typing for serializers.models.dashboard (#82859)
  pyproject.toml
  src/sentry/api/serializers/models/dashboard.py
Due: backend

fix(profiling): View profile links from trace drawer (#82893)
  static/app/views/performance/newTraceDetails/traceAnalytics.tsx
  static/app/views/performance/newTraceDetails/traceDrawer/details/styles.tsx
  static/app/views/performance/newTraceDetails/traceDrawer/traceProfilingLink.ts
Due: frontend

:wrench: chore: remove msteams tenant ff handler (#82886)
  src/sentry/features/temporary.py
  src/sentry/integrations/msteams/actions/notification.py
Due: backend

chore(issue-details): Adjust min width for tags (#82905)
  static/app/views/issueDetails/groupTags/tagDistribution.tsx
Due: frontend

feat(insights): add tooltips user misery and apdex (#82880)
  static/app/utils/discover/fieldRenderers.tsx
  static/app/views/insights/pages/backend/backendOverviewPage.tsx
  static/app/views/insights/pages/frontend/frontendOverviewPage.tsx
  static/app/views/insights/pages/mobile/mobileOverviewPage.tsx
  static/app/views/performance/data.tsx
  static/app/views/performance/table.tsx
Due: frontend

ref(eslint): Import many recommended rulesets, but disable whatever we are violating (#82872)
  eslint.config.mjs
Due: none

fix(profiling): Link profiler id in context to flamegraph (#82901)
  static/app/components/events/contexts/knownContext/profile.spec.tsx
  static/app/components/events/contexts/knownContext/profile.tsx
  static/app/components/events/contexts/utils.tsx
Due: frontend

fix(hydration issue): Fix button spacing on hydration diff modal (#82885)
  static/app/components/replays/breadcrumbs/replayComparisonModal.tsx
Due: frontend

fix(hydration issue): Only look at IncrementalSource.Mutation types for hydration before/after (#82908)
  static/app/utils/replays/getDiffTimestamps.tsx
  static/app/utils/replays/types.tsx
Due: frontend

fix(hydration issue): Fix tooltip position for test copy button (#82912)
  static/app/components/replays/diff/utils.tsx
Due: frontend

ref: remove unused id-or-slug option override (#82902)
  src/sentry/monitors/endpoints/monitor_ingest_checkin_attachment.py
  src/sentry/options/defaults.py
  tests/sentry/api/endpoints/test_accept_organization_invite.py
  tests/sentry/api/endpoints/test_project_team_details.py
  tests/sentry/api/endpoints/test_team_details.py
  tests/sentry/hybridcloud/apigateway/test_apigateway.py
  tests/sentry/monitors/endpoints/test_base_monitor_details.py
  tests/snuba/api/endpoints/test_organization_event_details.py
Due: backend

ref(replay): Update hydration Before/After labels to have timestamps in their tooltip (#82895)
  static/app/components/replays/diff/replayMutationTree.tsx
  static/app/components/replays/diff/replaySideBySideImageDiff.tsx
  static/app/components/replays/diff/replaySliderDiff.tsx
  static/app/components/replays/diff/replayTextDiff.tsx
  static/app/components/replays/diff/utils.tsx
  static/app/components/replays/replayTooltipTime.tsx
  static/app/views/replays/detail/timestampButton.tsx
Due: frontend

ref: remove ui for monitor checkin attachments (#82890)
  static/app/views/monitors/components/monitorCheckIns.tsx
  static/app/views/monitors/types.tsx
Due: frontend

fix(replay): Fix video flickering on Safari (#82769)
  static/app/components/replays/player/styles.tsx
  static/app/components/replays/videoReplayer.tsx
Due: frontend

ref(replay): rm experimental from onboarding (#82655)
  static/app/gettingStartedDocs/android/android.tsx
  static/app/gettingStartedDocs/apple/ios.tsx
  static/app/gettingStartedDocs/react-native/react-native.tsx
Due: frontend

feat(workflow-engine): add `LevelConditionHandler` (#82874)
  src/sentry/workflow_engine/handlers/condition/__init__.py
  src/sentry/workflow_engine/handlers/condition/group_event_handlers.py
  src/sentry/workflow_engine/migration_helpers/issue_alert_conditions.py
  src/sentry/workflow_engine/models/data_condition.py
  tests/sentry/workflow_engine/handlers/condition/test_level_handler.py
Due: backend

ref(dashboards): Eliminate duplication of `LineChartWidget` and `AreaChartWidget` code (#82835)
  static/app/views/dashboards/widgets/areaChartWidget/areaChartWidget.stories.tsx
  static/app/views/dashboards/widgets/areaChartWidget/areaChartWidget.tsx
  static/app/views/dashboards/widgets/areaChartWidget/areaChartWidgetSeries.tsx
  static/app/views/dashboards/widgets/lineChartWidget/lineChartWidget.stories.tsx
  static/app/views/dashboards/widgets/lineChartWidget/lineChartWidget.tsx
  static/app/views/dashboards/widgets/lineChartWidget/lineChartWidgetSeries.tsx
  static/app/views/dashboards/widgets/lineChartWidget/lineChartWidgetVisualization.tsx
  static/app/views/dashboards/widgets/timeSeriesWidget/formatTooltipValue.spec.tsx
  static/app/views/dashboards/widgets/timeSeriesWidget/formatTooltipValue.tsx
  static/app/views/dashboards/widgets/timeSeriesWidget/formatYAxisValue.spec.tsx
  static/app/views/dashboards/widgets/timeSeriesWidget/formatYAxisValue.tsx
  static/app/views/dashboards/widgets/timeSeriesWidget/releaseSeries.tsx
  static/app/views/dashboards/widgets/timeSeriesWidget/shiftTimeserieToNow.tsx
  static/app/views/dashboards/widgets/timeSeriesWidget/splitSeriesIntoCompleteAndIncomplete.spec.tsx
  static/app/views/dashboards/widgets/timeSeriesWidget/splitSeriesIntoCompleteAndIncomplete.tsx
  static/app/views/dashboards/widgets/timeSeriesWidget/timeSeriesWidget.tsx
  static/app/views/dashboards/widgets/timeSeriesWidget/timeSeriesWidgetVisualization.tsx
Due: frontend

fix(widget-builder): Reset sort when changing display type to table (#82889)
  static/app/views/dashboards/widgetBuilder/hooks/useWidgetBuilderState.spec.tsx
  static/app/views/dashboards/widgetBuilder/hooks/useWidgetBuilderState.tsx
Due: frontend

fix(discover): Format ios device names (#82927)
  static/app/utils/discover/fieldRenderers.tsx
  static/app/views/discover/tags.tsx
Due: frontend

ref(issue-list): Create copy of overview.tsx as a functional component (#82784)
  static/app/routes.tsx
  static/app/views/issueList/overviewFc.spec.tsx
  static/app/views/issueList/overviewFc.tsx
  static/app/views/issueList/overviewWrapper.tsx
Due: frontend

feat(replays): Emit metric on mobile-replay billing skip (#82928)
  src/sentry/replays/usecases/ingest/__init__.py
Due: backend

feat(issues): Preserve group when switching environment (#82907)
  static/app/views/issueDetails/groupDetails.tsx
Due: frontend

chore(explore): Add extrapolation meta as valid referrer (#82932)
  src/sentry/api/endpoints/organization_events.py
  src/sentry/snuba/referrer.py
Due: backend

Path conditions:
  frontend: any of: static/app/
  backend: any of: src/sentry/**/*.py
  Profiling Views: any of: static/app/views/profiling/**
  Profiling Components: any of: src/sentry/static/sentry/app/components/profiling/**
  Profiling Utils: any of: src/sentry/static/sentry/app/utils/profiling/**
