Repository getsentry/sentry: changes, and which Codecov flags are due for each by the changed paths.
All: frontend, backend, Profiling Views, Profiling Components, Profiling Utils

Path conditions:
  frontend: any of: static/app/
  backend: any of: src/sentry/**/*.py
  Profiling Views: any of: static/app/views/profiling/**
  Profiling Components: any of: src/sentry/static/sentry/app/components/profiling/**
  Profiling Utils: any of: src/sentry/static/sentry/app/utils/profiling/**

fix(api): Align team project creation permissions
  src/sentry/core/endpoints/team_projects.py
  tests/sentry/core/endpoints/test_team_projects.py
Due: backend

fix(issues): Preserve suspect commit score ordering (#123043)
  src/sentry/tasks/groupowner.py
  tests/sentry/tasks/test_groupowner.py
Due: backend

feat(scm-messaging-integrations-ui): Hiding other rows on complete (#123006)
  static/app/views/onboarding/scmMessaging.spec.tsx
  static/app/views/onboarding/scmMessaging.tsx
Due: frontend

fix tests
  static/gsApp/views/seerAutomation/connectors.spec.tsx
Due: none

write watermarks every time
  src/sentry/deletions/tasks/hybrid_cloud.py
  tests/sentry/deletions/tasks/test_hybrid_cloud.py
Due: backend

fix(seer): Do not open a PR when iteration has no PR state
  src/sentry/seer/autofix/on_completion_hook.py
  tests/sentry/seer/autofix/test_autofix_on_completion_hook.py
Due: backend

fix(control) Move integration reads to replicas (#122794)
  src/sentry/hybridcloud/options.py
  src/sentry/incidents/logic.py
  src/sentry/integrations/api/endpoints/organization_code_mappings.py
  src/sentry/integrations/api/serializers/models/external_issue.py
  src/sentry/integrations/bitbucket/webhook.py
  src/sentry/integrations/github_enterprise/webhook.py
  src/sentry/integrations/gitlab/tasks.py
  src/sentry/integrations/jira/actions/form.py
  src/sentry/integrations/jira_server/actions/form.py
  src/sentry/integrations/jira_server/webhooks.py
  src/sentry/integrations/msteams/webhook.py
  src/sentry/integrations/services/integration/impl.py
  src/sentry/integrations/slack/unfurl/dashboards.py
  src/sentry/integrations/slack/unfurl/discover.py
  src/sentry/integrations/slack/unfurl/explore.py
  src/sentry/integrations/slack/webhooks/action.py
  src/sentry/integrations/slack/webhooks/event.py
  src/sentry/integrations/slack/workspace.py
  src/sentry/integrations/tasks/sync_assignee_outbound.py
  src/sentry/integrations/tasks/sync_status_inbound.py
  src/sentry/integrations/tasks/sync_status_outbound.py
  src/sentry/integrations/utils/atlassian_connect.py
  src/sentry/integrations/vsts/client.py
  src/sentry/integrations/vsts/issues.py
  src/sentry/integrations/vsts/webhooks.py
  src/sentry/issues/endpoints/group_integrations.py
  src/sentry/issues/services/issue/impl.py
  src/sentry/notifications/notification_action/issue_alert_registry/handlers/discord_issue_alert_handler.py
  src/sentry/notifications/notification_action/issue_alert_registry/handlers/msteams_issue_alert_handler.py
  src/sentry/notifications/notification_action/types.py
  src/sentry/seer/endpoints/group_autofix_setup_check.py
Due: backend

fix(seer): Count swallowed check-suite listener failures
  src/sentry/seer/autofix/pr_iteration/listeners/check_suite.py
  tests/sentry/seer/autofix/pr_iteration/test_check_suite.py
Due: backend

perf(seer): Share one installation org RPC per check-suite event
  src/sentry/seer/autofix/pr_iteration/check_suites.py
  tests/sentry/seer/autofix/pr_iteration/test_check_suite.py
Due: backend

fix(gitlab): Preserve timezone offsets in blame timestamps
  src/sentry/integrations/gitlab/blame.py
  tests/sentry/integrations/gitlab/test_client.py
Due: backend

ref(ui): Drop remaining unused optional args from unused-signatures rescan.
  static/app/components/brandPageLayout/index.tsx
  static/app/components/container/accordion.tsx
  static/app/components/onboarding/stepper.tsx
  static/app/components/percentChange.tsx
  static/app/components/performance/layouts.tsx
  static/app/components/platformPicker.tsx
  static/app/components/tables/gridEditable/useQueryBasedColumnResize.tsx
  static/app/gettingStartedDocs/rust/logs.tsx
  static/app/views/dashboards/widgets/timeSeriesWidget/plottables/area.tsx
  static/app/views/dashboards/widgets/timeSeriesWidget/plottables/bars.tsx
  static/app/views/dashboards/widgets/timeSeriesWidget/plottables/continuousTimeSeries.tsx
  static/app/views/dashboards/widgets/timeSeriesWidget/plottables/line.tsx
  static/app/views/explore/metrics/metricsQueryParams.tsx
  static/app/views/insights/browser/webVitals/components/performanceScoreRingWithTooltips.tsx
  static/app/views/performance/newTraceDetails/traceRenderers/virtualizedViewManager.tsx
  static/app/views/seerExplorer/seerExplorerSessionContext.tsx
Due: frontend

fix(ui): Clear knip unused exports and eslint from production cleanup.
  static/app/actionCreators/projects.tsx
  static/app/components/core/input/useAutosizeInput.tsx
  static/app/components/issues/groupList.tsx
  static/app/utils/duration/formatDuration.tsx
  static/app/views/issueDetails/useAssignIssueMutation.ts
Due: frontend

ref(ui): Drop leftover unused args found after rebasing on master.
  static/app/components/arithmeticInput/parser.spec.tsx
  static/app/components/arithmeticInput/parser.tsx
  static/app/components/forms/formPanel.tsx
  static/app/components/forms/jsonForm.tsx
  static/app/components/onboarding/scm/scmMessagingProviderRow.spec.tsx
  static/app/components/onboarding/scm/scmMessagingProviderRow.tsx
  static/app/utils/discover/charts.spec.tsx
  static/app/utils/discover/charts.tsx
  static/app/utils/discover/eventView.tsx
  static/app/utils/profiling/profile/importProfile.tsx
  static/app/utils/projects.spec.tsx
  static/app/utils/projects.tsx
  static/app/views/dashboards/controls.tsx
  static/app/views/insights/common/components/fullSpanDescription.tsx
  static/app/views/insights/common/components/spanGroupDetailsLink.tsx
  static/app/views/insights/common/components/tableCells/spanDescriptionCell.spec.tsx
  static/app/views/insights/common/components/tableCells/spanDescriptionCell.tsx
  static/app/views/issueList/actions/headers.tsx
  static/app/views/issueList/actions/index.tsx
  static/app/views/issueList/groupListBody.tsx
  static/app/views/issueList/issueListTable.tsx
  static/app/views/onboarding/onboarding.tsx
  static/app/views/performance/newTraceDetails/traceHeader/placeholder.tsx
  static/app/views/preprod/utils/releasesUrl.ts
  static/app/views/seerExplorer/contexts/llmContext.tsx
  static/app/views/seerExplorer/contexts/llmContextTypes.ts
  static/app/views/seerWorkflows/overview/useIsInView.ts
Due: frontend

ref(ui): Collapse leftover no-ops after dropping test-only args.
  static/app/components/core/splitPanel/splitPanel.tsx
  static/app/components/forms/controls/rangeSlider/index.tsx
  static/app/utils/discover/genericDiscoverQuery.tsx
  static/app/utils/useResizableDrawer.tsx
Due: frontend

fix(ui): Repair specs and formatting after production unused-arg cleanup.
  static/app/actionCreators/projects.tsx
  static/app/components/acl/access.spec.tsx
  static/app/components/contextPickerModal.tsx
  static/app/components/discover/transactionsList.tsx
  static/app/components/forms/jsonForm.spec.tsx
  static/app/components/messagingIntegrations/setupMessagingIntegrationButton.tsx
  static/app/components/textCopyInput.spec.tsx
  static/app/utils/discover/charts.spec.tsx
  static/app/utils/discover/eventView.spec.tsx
  static/app/utils/discover/eventView.tsx
  static/app/utils/number/formatPercentage.spec.tsx
  static/app/utils/string/trimCommonAffixes.spec.tsx
  static/app/utils/useEventWaiter.spec.tsx
  static/app/utils/useEventWaiter.tsx
  static/app/views/insights/crons/components/monitorForm.spec.tsx
  static/app/views/insights/crons/components/monitorForm.tsx
  static/app/views/organizationStats/usageChart/utils.spec.tsx
  static/app/views/performance/landing/widgets/components/widgetContainer.spec.tsx
  static/app/views/performance/landing/widgets/components/widgetContainer.tsx
  static/app/views/performance/newTraceDetails/traceDrawer/details/span/eapSections/aiContentRenderer.tsx
  static/app/views/settings/organizationRepositories/hooks/useSyncRepositories.spec.tsx
  static/gsApp/components/billingDetails/form.spec.tsx
Due: frontend

Revert "wip"
  src/sentry/analytics/events/__init__.py
  src/sentry/analytics/events/pr_iteration_events.py
  src/sentry/seer/agent/client_models.py
  src/sentry/seer/autofix/autofix_agent.py
  src/sentry/seer/autofix/github_perms.py
  src/sentry/seer/autofix/on_completion_hook.py
  src/sentry/seer/autofix/pr_iteration/emit.py
  src/sentry/seer/autofix/pr_iteration/feedback.py
  src/sentry/seer/autofix/pr_iteration/feedback_sources/github_comment.py
  src/sentry/seer/autofix/pr_iteration/queue.py
  src/sentry/tasks/seer/pr_iteration.py
  tests/sentry/seer/autofix/pr_iteration/test_emit.py
  tests/sentry/seer/autofix/pr_iteration/test_feedback_queue.py
Due: backend

test(gitlab): Clarify blame timestamp fixture
  tests/sentry/integrations/gitlab/test_client.py
Due: none

ref(ui): Drop leftover optional args unused outside tests.
  static/app/components/core/chat/toolCall.mdx
  static/app/components/core/chat/toolCall.spec.tsx
  static/app/components/core/chat/toolCall.tsx
  static/app/components/core/chip/chip.mdx
  static/app/components/core/chip/chip.spec.tsx
  static/app/components/core/chip/chip.tsx
  static/app/components/forms/controls/rangeSlider/index.spec.tsx
  static/app/components/forms/controls/rangeSlider/index.tsx
  static/app/components/textCopyInput.spec.tsx
  static/app/components/textCopyInput.tsx
  static/app/utils/formatters.spec.tsx
  static/app/utils/formatters.tsx
  static/app/utils/useEventWaiter.spec.tsx
  static/app/utils/useEventWaiter.tsx
  static/app/views/performance/landing/widgets/components/widgetContainer.spec.tsx
  static/app/views/performance/landing/widgets/components/widgetContainer.tsx
  static/app/views/performance/landing/widgets/utils.tsx
Due: frontend

fix(issues): Handle Snuba query errors in GroupTagsEndpoint (#123032)
  src/sentry/issues/endpoints/group_tags.py
Due: backend

ref(autofix): Use a colon instead of an em dash in PR command hints
  src/sentry/seer/autofix/autofix_agent.py
Due: backend

reject spans with no parent span id
  src/sentry/issue_detection/detectors/n_plus_one_api_calls_detector.py
Due: backend

fix and add tests
  tests/sentry/issue_detection/test_n_plus_one_api_calls_detector.py
Due: none

feat(smart-assignment): Add some metrics for datadog dashboard (#123011)
  src/sentry/seer/smart_assignment/delivery.py
  tests/sentry/seer/smart_assignment/test_delivery.py
Due: backend

ref(discover): Remove retired alert timeseries comparison
  .github/codeowners-coverage-baseline.txt
  pyproject.toml
  src/sentry/discover/compare_timeseries.py
  src/sentry/snuba/referrer.py
  tests/sentry/discover/test_compare_timeseries.py
Due: backend

test(api): Cover open membership in team project creation
  tests/sentry/core/endpoints/test_team_projects.py
Due: none

feat(seer): Add structured Night Shift errors
  src/sentry/api/serializers/models/seer_night_shift_run.py
  src/sentry/seer/models/night_shift.py
  src/sentry/seer/night_shift/delivery.py
  src/sentry/tasks/seer/night_shift/cron.py
  tests/sentry/seer/endpoints/test_organization_seer_workflows.py
  tests/sentry/seer/night_shift/test_delivery.py
  tests/sentry/tasks/seer/test_night_shift.py
Due: backend

fix(ui): Hide project creation from team admins without team roles
  static/app/components/projects/canCreateProject.spec.tsx
  static/app/components/projects/canCreateProject.tsx
Due: frontend

fix(api): Honor scope hierarchy in declaration audit
  src/sentry/auth/scope_declaration.py
  tests/sentry/auth/test_access.py
Due: backend

ref(seer): Simplify Night Shift error selection
  src/sentry/api/serializers/models/seer_night_shift_run.py
Due: backend

fix(seer): Admit green check suites for iteration-only orgs
  src/sentry/seer/autofix/pr_iteration/check_suites.py
  src/sentry/seer/autofix/pr_iteration/constants.py
  tests/sentry/seer/autofix/pr_iteration/test_check_suite.py
  tests/sentry/seer/autofix/test_autofix_on_completion_hook.py
Due: backend

do not include config
  static/gsApp/views/seerAutomation/connectors.tsx
Due: none

fix(seer): name the install that owns the repo on handoff 403s (#122758)
  src/sentry/seer/agent/coding_agent_handoff.py
  tests/sentry/seer/agent/test_coding_agent_handoff.py
Due: backend

perf(crons): Prefetch some queries in clock tasks consumer
  src/sentry/monitors/clock_tasks/check_missed.py
  src/sentry/monitors/clock_tasks/check_timeout.py
  src/sentry/monitors/clock_tasks/prefetch.py
  src/sentry/monitors/consumers/clock_tasks_consumer.py
  src/sentry/options/defaults.py
  tests/sentry/monitors/consumers/test_clock_tasks_consumer.py
Due: backend

ref(autofix): Use a colon instead of an em dash in PR command hints (#123059)
  src/sentry/seer/autofix/autofix_agent.py
Due: backend

ref(seer): Simplify Night Shift error resolution
  src/sentry/api/serializers/models/seer_night_shift_run.py
Due: backend

Update request log to show new fields
  static/app/types/integrations.tsx
  static/app/views/settings/organizationDeveloperSettings/sentryApplicationDashboard/index.spec.tsx
  static/app/views/settings/organizationDeveloperSettings/sentryApplicationDashboard/requestLog.tsx
  static/app/views/settings/organizationDeveloperSettings/sentryApplicationDashboard/webhookSubjects.tsx
  tests/js/fixtures/sentryAppWebhookRequest.ts
Due: frontend

ref(seer): Leave skipped presentation to UI
  src/sentry/api/serializers/models/seer_night_shift_run.py
  tests/sentry/seer/endpoints/test_organization_seer_workflows.py
Due: backend

fix(seer): Propagate Explorer failure reasons (#122969)
  src/sentry/seer/agent/client_models.py
  tests/sentry/seer/endpoints/test_organization_seer_agent_chat.py
Due: backend
