Repository getsentry/sentry: changes, and which Codecov flags are due for each by the changed paths.
All: frontend, backend, Profiling Views, Profiling Components, Profiling Utils

Path conditions:
  frontend: any of: static/app/
  backend: any of: src/sentry/**/*.py
  Profiling Views: any of: static/app/views/profiling/**
  Profiling Components: any of: src/sentry/static/sentry/app/components/profiling/**
  Profiling Utils: any of: src/sentry/static/sentry/app/utils/profiling/**

fix(aci): fix rule serializer lastTriggered to account for WorkflowFireHistory (#95939)
  src/sentry/api/serializers/models/rule.py
  tests/sentry/api/serializers/test_rule.py
Due: backend

Interfaces
  tests/sentry/event_manager/interfaces/test_contexts.py
  tests/sentry/event_manager/interfaces/test_exception.py
  tests/sentry/event_manager/interfaces/test_expectstaple.py
  tests/sentry/event_manager/interfaces/test_http.py
  tests/sentry/event_manager/interfaces/test_sdk.py
Due: none

ref(rules): Use issue type instead of category to find error groups (#95695)
  src/sentry/rules/conditions/event_frequency.py
Due: backend

Fix group deletion query to handle event ordering correctly
  src/sentry/deletions/defaults/group.py
Due: backend

ref(nav-v2): removes navigation v2 banner flag (#95951)
  static/app/components/sidebar/index.spec.tsx
  static/app/views/nav/useNavPrompts.tsx
Due: frontend

feat(member merge): merge account endpoint POST (#93395)
  src/sentry/api/endpoints/auth_merge_user_accounts.py
  src/sentry/api/urls.py
  src/sentry/auth_v2/endpoints/auth_merge_user_accounts.py
  src/sentry/auth_v2/urls.py
  static/app/data/controlsiloUrlPatterns.ts
  tests/sentry/api/endpoints/test_auth_merge_user_accounts.py
  tests/sentry/auth_v2/endpoints/test_auth_merge_user_accounts.py
Due: frontend, backend

Revert "feat(replays): Emit breadcrumbs to EAP (#94648)"
  src/sentry/options/defaults.py
  src/sentry/replays/endpoints/project_replay_summarize_breadcrumbs.py
  src/sentry/replays/lib/kafka.py
  src/sentry/replays/usecases/ingest/__init__.py
  src/sentry/replays/usecases/ingest/event_logger.py
  src/sentry/replays/usecases/ingest/event_parser.py
  tests/sentry/replays/unit/consumers/test_recording.py
  tests/sentry/replays/unit/test_event_logger.py
  tests/sentry/replays/unit/test_event_parser.py
  tests/sentry/replays/unit/test_ingest.py
Due: backend

ref(explore): Move explore toolbar styles
  static/app/views/explore/components/toolbar/styles.tsx
  static/app/views/explore/toolbar/toolbarGroupBy.tsx
  static/app/views/explore/toolbar/toolbarSaveAs.tsx
  static/app/views/explore/toolbar/toolbarSortBy.tsx
  static/app/views/explore/toolbar/toolbarVisualize.tsx
Due: frontend

feat(replays): Add audit-log entry for deletion jobs resource (#95978)
  src/sentry/audit_log/register.py
  src/sentry/replays/endpoints/project_replay_jobs_delete.py
  tests/sentry/replays/endpoints/test_project_replay_jobs_delete.py
Due: backend

update-default-replay-tab-from-uf
  static/app/components/events/eventReplay/replayClipPreview.tsx
  static/app/components/events/eventReplay/replayClipPreviewPlayer.tsx
  static/app/components/events/eventReplay/replayPreviewPlayer.tsx
Due: frontend

update ff and tests
  src/sentry/features/temporary.py
  static/app/components/searchQueryBuilder/askSeer.tsx
  static/app/components/searchQueryBuilder/index.spec.tsx
Due: frontend, backend

remove backend change
  src/sentry/features/temporary.py
Due: backend

:bug: fix: fix test fire actions for single processing orgs
  src/sentry/api/endpoints/project_rule_actions.py
  tests/sentry/api/endpoints/test_project_rule_actions.py
Due: backend

fix(feedback): move feature flag check to parent (#95991)
  static/app/components/feedback/feedbackSummary.tsx
  static/app/components/feedback/list/useFeedbackSummary.tsx
  static/app/views/feedback/feedbackListPage.tsx
Due: frontend

feat(error_upsampling - adding "error-upsampling" project feature flag (#95965)
  src/sentry/features/temporary.py
Due: backend

ref(link): preserve externallink
  static/app/components/links/externalLink.tsx
Due: frontend

fix issues
  src/sentry/middleware/ratelimit.py
  tests/sentry/middleware/test_access_log_middleware.py
Due: backend

register flag
  src/sentry/features/temporary.py
Due: backend

just use new images
  static/images/spot/onboarding-preview.svg
  static/images/spot/performance-empty-state.svg
Due: none

remove backend
  src/sentry/api/helpers/group_index/update.py
  src/sentry/api/helpers/group_index/validators/status_details.py
  src/sentry/models/groupresolution.py
  src/sentry/tasks/clear_expired_resolutions.py
Due: backend

fix(buffered_segments): Skip producing outcomes if --skip-produce is set (#95922)
  src/sentry/spans/consumers/process_segments/factory.py
  src/sentry/spans/consumers/process_segments/message.py
  tests/sentry/spans/consumers/process_segments/test_factory.py
  tests/sentry/spans/consumers/process_segments/test_message.py
Due: backend

:bulb: Add comments to new theme space values with their space equivalent for easy reference
  static/app/utils/theme/theme.tsx
Due: frontend

Replace has_reappeared with has_escalated for escalating alerts
  src/sentry/rules/conditions/reappeared_event.py
  src/sentry/tasks/post_process.py
  tests/sentry/rules/history/test_preview.py
Due: backend

minify
  static/images/spot/onboarding-preview.svg
  static/images/spot/performance-empty-state.svg
Due: none

Change in workflow engine
  src/sentry/workflow_engine/handlers/condition/reappeared_event_handler.py
Due: backend

fix(issues): use darkmode illustration (#96001)
  static/images/spot/onboarding-preview.svg
  static/images/spot/performance-empty-state.svg
Due: none

fix(dropdown): Apply href to aria links for dropdown children
  static/app/components/dropdownMenu/index.tsx
Due: frontend

Update tests
  tests/sentry/rules/conditions/test_reappeared_event.py
  tests/sentry/workflow_engine/handlers/condition/test_reappeared_event_handler.py
Due: none
