Repository getsentry/sentry: changes, and which Codecov flags are due for each by the changed paths.
All: frontend, backend, Profiling Views, Profiling Components, Profiling Utils

fix(snuba): Handle direct project.id groupby in top event conditions (#109535)
  src/sentry/snuba/rpc_dataset_common.py
  tests/snuba/api/endpoints/test_organization_events_timeseries_spans.py
Due: backend

fix(ui): Filter null-tuple unhandled rejections (#109588)
  static/app/bootstrap/initializeSdk.spec.tsx
  static/app/bootstrap/initializeSdk.tsx
Due: frontend

feat(occurrences on eap): Implement double reads from EAP for error counts timeseries (#107308)
  src/sentry/api/endpoints/release_thresholds/utils/get_errors_counts_timeseries.py
  src/sentry/search/eap/occurrences/attributes.py
  tests/sentry/api/endpoints/release_thresholds/utils/test_get_errors_counts_timeseries.py
Due: backend

Remove unused history/$historyId/ from KnownGetsentryApiUrls
  static/app/utils/api/knownGetsentryApiUrls.ts
Due: frontend

fix(stories): Fix HMR for .stories.tsx and .mdx files in Scraps (#109630)
  static/app/stories/apiReference.tsx
  static/app/stories/storybook.tsx
  static/app/stories/view/storyExports.tsx
  static/app/stories/view/useStoriesLoader.tsx
Due: frontend

ref(ui): Hoist inline regexes in initializeSdk to module-level constants (#109596)
  static/app/bootstrap/initializeSdk.tsx
Due: frontend

feat(integrations): Add config file detection for platform detection
  src/sentry/integrations/github/platform_detection.py
  tests/sentry/integrations/api/endpoints/test_organization_repository_platforms.py
  tests/sentry/integrations/github/test_platform_detection.py
Due: backend

ref(relay): Remove metrics extraction integration test (#109613)
  tests/relay_integration/test_metrics_extraction.py
Due: none

fix(seer): Address PR review comments
  tests/sentry/grouping/seer_similarity/test_training_mode.py
  tests/sentry/workflow_engine/migrations/test_0099_backfill_metric_issue_detectorgroup.py
Due: none

this commit should fail
  devservices/config.yml
Due: none

docs: add other CI jobs investigation notes, skip migration tests temporarily
  .github/workflows/backend.yml
  docs/other-ci-jobs.md
Due: none

ref(explore): Make attribute breakdown components a little more reusable (#109515)
  static/app/views/explore/components/attributeBreakdowns/attributeDistributionChart.tsx
  static/app/views/explore/components/attributeBreakdowns/attributeDistributionContent.tsx
  static/app/views/explore/components/attributeBreakdowns/chartSelectionContext.tsx
  static/app/views/explore/components/attributeBreakdowns/cohortComparisonChart.tsx
  static/app/views/explore/components/attributeBreakdowns/cohortComparisonContent.tsx
  static/app/views/explore/components/attributeBreakdowns/content.tsx
  static/app/views/explore/hooks/useAttributeBreakdownComparison.tsx
  static/app/views/explore/hooks/useAttributeBreakdownsTooltip.tsx
  static/app/views/explore/hooks/useFilteredRankedAttributes.ts
  static/app/views/explore/utils.tsx
Due: frontend

feat(queues): Split transaction table into separate producer and consumer tables
  static/app/views/dashboards/utils/prebuiltConfigs/queues/queueSummary.ts
Due: frontend

feat(occurrences on eap): Implement double reads from EAP for monitors associated groups (#108008)
  src/sentry/monitors/utils.py
  tests/sentry/monitors/test_utils.py
Due: backend

Update branch method mapping logic
  src/sentry/scm/private/providers/github.py
  tests/sentry/scm/test_fixtures.py
  tests/sentry/scm/unit/test_github_provider.py
Due: backend

fix(profiling): Show empty state when no suspect functions found (#109295)
  static/app/components/profiling/suspectFunctions/suspectFunctionsTable.tsx
Due: frontend

fix(eap): Use addFilterValue for transaction name in EAP sidebar charts (#109089)
  static/app/views/performance/transactionSummary/transactionOverview/eapSidebarCharts.tsx
Due: frontend

feat(profiling): Back SuspectFunctionsTable with EAP (#109293)
  static/app/components/profiling/suspectFunctions/suspectFunctionsTable.tsx
  static/app/utils/profiling/hooks/useAggregateFlamegraphQuery.ts
Due: frontend

chore: bump sentry-protos to 0.8.1
  pyproject.toml
  uv.lock
Due: none

chore(autofix): Unify differences between seer drawers
  static/app/views/issueDetails/streamline/sidebar/seerDrawer.tsx
Due: frontend

Add return type annotations
  src/sentry/scm/private/providers/github.py
Due: backend

docs: add benchmark methodology and update change notes
  docs/benchmark.md
  docs/other-ci-jobs.md
  docs/tiered-xdist-changes.md
Due: none

feat(queues): Split transaction table into producer and consumer tables (#109683)
  static/app/views/dashboards/utils/prebuiltConfigs/queues/queueSummary.ts
Due: frontend

ref(api): Remove dead code from organization traces API endpoint (#109637)
  src/sentry/api/endpoints/organization_traces.py
Due: backend

lint
  pyproject.toml
Due: none

chore: convert internal ESLint plugin files from .mjs to .ts
  .github/CODEOWNERS
  eslint.config.ts
  knip.config.ts
  package.json
  pnpm-lock.yaml
  static/AGENTS.md
  static/eslint/eslintPluginScraps/index.js
  static/eslint/eslintPluginScraps/index.ts
  static/eslint/eslintPluginScraps/src/ast/extractor/css-prop.ts
  static/eslint/eslintPluginScraps/src/ast/extractor/index.ts
  static/eslint/eslintPluginScraps/src/ast/extractor/style-prop.ts
  static/eslint/eslintPluginScraps/src/ast/extractor/styled.ts
  static/eslint/eslintPluginScraps/src/ast/extractor/theme.ts
  static/eslint/eslintPluginScraps/src/ast/extractor/types.js
  static/eslint/eslintPluginScraps/src/ast/extractor/types.ts
  static/eslint/eslintPluginScraps/src/ast/extractor/value-decomposer.ts
  static/eslint/eslintPluginScraps/src/ast/utils/normalizePropertyName.ts
  static/eslint/eslintPluginScraps/src/config/tokenRules.ts
  static/eslint/eslintPluginScraps/src/rules/index.js
  static/eslint/eslintPluginScraps/src/rules/index.ts
  static/eslint/eslintPluginScraps/src/rules/no-core-import.spec.ts
  static/eslint/eslintPluginScraps/src/rules/no-core-import.ts
  static/eslint/eslintPluginScraps/src/rules/no-token-import.spec.ts
  static/eslint/eslintPluginScraps/src/rules/no-token-import.ts
  static/eslint/eslintPluginScraps/src/rules/restrict-jsx-slot-children.spec.ts
  static/eslint/eslintPluginScraps/src/rules/restrict-jsx-slot-children.ts
  static/eslint/eslintPluginScraps/src/rules/use-semantic-token.spec.ts
  static/eslint/eslintPluginScraps/src/rules/use-semantic-token.ts
  static/eslint/eslintPluginSentry/index.ts
  static/eslint/eslintPluginSentry/no-static-translations.ts
Due: none

fix(dashboards): Ignore stale limit on Table widgets
  static/app/components/modals/widgetViewerModal.tsx
  static/app/views/dashboards/sortableWidget.tsx
Due: frontend

chore(autofix): Add feature flag for autofix-on-explorer-v2
  src/sentry/features/temporary.py
Due: backend

ref(integrations): Refactor platform detection to composable framework definitions
  src/sentry/integrations/github/platform_detection.py
  tests/sentry/integrations/api/endpoints/test_organization_repository_platforms.py
  tests/sentry/integrations/github/test_platform_detection.py
Due: backend

fix(seer): Update seer_model after training mode request (#109539)
  migrations_lockfile.txt
  src/sentry/grouping/ingest/seer.py
  src/sentry/migrations/1037_add_grouphashmetadata_seer_latest_training_model.py
  src/sentry/models/grouphashmetadata.py
  src/sentry/seer/similarity/config.py
  src/sentry/seer/similarity/similar_issues.py
  src/sentry/seer/similarity/utils.py
  tests/sentry/event_manager/grouping/test_seer_grouping.py
  tests/sentry/grouping/seer_similarity/test_get_seer_similar_issues.py
  tests/sentry/grouping/seer_similarity/test_seer.py
  tests/sentry/grouping/seer_similarity/test_seer_eligibility.py
  tests/sentry/grouping/seer_similarity/test_training_mode.py
  tests/sentry/seer/similarity/test_config.py
  tests/sentry/workflow_engine/migrations/test_0099_backfill_metric_issue_detectorgroup.py
Due: backend

Refocus commit comparison to the commit list
  src/sentry/scm/actions.py
  src/sentry/scm/private/providers/github.py
  src/sentry/scm/types.py
  tests/sentry/scm/test_fixtures.py
  tests/sentry/scm/unit/test_github_provider.py
  tests/sentry/scm/unit/test_scm_actions.py
Due: backend

s/`_pattern`/`_get_pattern`
  src/sentry/grouping/parameterization.py
Due: backend

fix experimental patterns map
  src/sentry/grouping/parameterization.py
Due: backend

s/`content`/`input_str`
  src/sentry/grouping/parameterization.py
Due: backend

make `_get_pattern` take raw pattern directly
  src/sentry/grouping/parameterization.py
Due: backend

remove unnecessary `__all__`
  src/sentry/grouping/parameterization.py
Due: backend

make `parametrize_w_regex` take in regex
  src/sentry/grouping/parameterization.py
Due: backend

add datetime test cases
  tests/sentry/grouping/test_parameterization.py
Due: none

fix and add comments
  src/sentry/grouping/parameterization.py
Due: backend

skip testing experimental parametizer if no experimental patterns exist
  tests/sentry/grouping/test_parameterization.py
Due: none

Path conditions:
  frontend: any of: static/app/
  backend: any of: src/sentry/**/*.py
  Profiling Views: any of: static/app/views/profiling/**
  Profiling Components: any of: src/sentry/static/sentry/app/components/profiling/**
  Profiling Utils: any of: src/sentry/static/sentry/app/utils/profiling/**
