Repository getsentry/sentry: changes, and which Codecov flags are due for each by the changed paths.
All: frontend, backend, Profiling Views, Profiling Components, Profiling Utils

Path conditions:
  frontend: any of: static/app/
  backend: any of: src/sentry/**/*.py
  Profiling Views: any of: static/app/views/profiling/**
  Profiling Components: any of: src/sentry/static/sentry/app/components/profiling/**
  Profiling Utils: any of: src/sentry/static/sentry/app/utils/profiling/**

fix(tests): Prevent ClickHouse data bleed in parallel test execution [skip ci]
  tests/sentry/dynamic_sampling/tasks/test_boost_low_volume_projects.py
  tests/sentry/dynamic_sampling/tasks/test_boost_low_volume_transactions.py
  tests/sentry/dynamic_sampling/tasks/test_common.py
  tests/sentry/dynamic_sampling/tasks/test_tasks.py
  tests/sentry/issues/test_attributes.py
  tests/sentry/release_health/release_monitor/__init__.py
  tests/sentry/release_health/test_tasks.py
  tests/sentry/replays/endpoints/test_organization_replay_index.py
  tests/sentry/tasks/test_reprocessing2.py
  tests/sentry/utils/sdk_crashes/conftest.py
  tests/sentry/utils/test_snowflake.py
  tests/snuba/api/endpoints/test_organization_events_histogram.py
  tests/snuba/api/endpoints/test_organization_events_stats.py
  tests/snuba/api/endpoints/test_organization_events_trends.py
  tests/symbolicator/test_minidump_full.py
Due: none

fix typing
  src/sentry/api/endpoints/project_rules.py
  src/sentry/workflow_engine/migration_helpers/rule_action.py
Due: backend

[test] Minimal backend.yml to test select-sentry-tests.yml reusable workflow
  .github/workflows/backend.yml
Due: none

fix(theme): exclude lime from swatch palette to match old getColorPalette(9)
  static/app/utils/theme/swatch.spec.tsx
  static/app/utils/theme/swatch.tsx
  static/app/utils/theme/theme.spec.tsx
  static/app/utils/theme/theme.tsx
Due: frontend

feat(autofix): Redesigned autofix previews (#110203)
  static/app/components/events/autofix/types.spec.ts
  static/app/components/events/autofix/types.ts
  static/app/components/events/autofix/useExplorerAutofix.spec.tsx
  static/app/components/events/autofix/useExplorerAutofix.tsx
  static/app/components/events/autofix/v2/artifactCards.tsx
  static/app/components/events/autofix/v3/autofixPreviews.spec.tsx
  static/app/components/events/autofix/v3/autofixPreviews.tsx
  static/app/types/utils.tsx
  static/app/views/issueDetails/streamline/sidebar/autofixSection.spec.tsx
  static/app/views/issueDetails/streamline/sidebar/autofixSection.tsx
  static/app/views/issueDetails/streamline/sidebar/sidebar.tsx
  static/app/views/seerExplorer/prWidget.tsx
  static/app/views/seerExplorer/types.spec.ts
  static/app/views/seerExplorer/types.tsx
Due: frontend

feat(billing): Add UsageService to billing platform (#110157)
  src/sentry/billing/platform/services/README.md
  src/sentry/billing/platform/services/__init__.py
  src/sentry/billing/platform/services/usage/__init__.py
  src/sentry/billing/platform/services/usage/service.py
  tests/sentry/billing/platform/services/__init__.py
  tests/sentry/billing/platform/services/usage/__init__.py
  tests/sentry/billing/platform/services/usage/test_service.py
Due: backend

fix(theme): fix TypeScript errors in swatch palette types
  static/app/utils/theme/swatch.tsx
Due: frontend

ref(cells): Migrate get_organizations_by_user_and_scope to use cell_name (#110173)
  src/sentry/organizations/services/organization/impl.py
  src/sentry/organizations/services/organization/service.py
  src/sentry/users/web/accounts.py
  tests/sentry/hybridcloud/test_region.py
Due: backend

fix indicator position
  static/app/views/nav/primary/components.tsx
Due: frontend

set for other pools
  src/sentry/feedback/lib/seer_api.py
  src/sentry/replays/endpoints/project_replay_summary.py
  src/sentry/replays/lib/seer_api.py
  src/sentry/replays/usecases/delete.py
  src/sentry/seer/autofix/utils.py
  src/sentry/seer/code_review/utils.py
  src/sentry/seer/explorer/client_utils.py
  src/sentry/seer/similarity/grouping_records.py
  src/sentry/seer/similarity/similar_issues.py
Due: backend

test: remove all other workflows
  .github/workflows/acceptance.yml
  .github/workflows/backend-with-coverage.yml
  .github/workflows/bump-sentry-in-getsentry.yml
  .github/workflows/bump-version.yml
  .github/workflows/changelog-preview.yml
  .github/workflows/codeql.yml
  .github/workflows/development-environment.yml
  .github/workflows/enforce-license-compliance.yml
  .github/workflows/fast-revert.yml
  .github/workflows/frontend-optional.yml
  .github/workflows/frontend.yml
  .github/workflows/getsentry-dispatch.yml
  .github/workflows/jest-balance.yml
  .github/workflows/label-pullrequest.yml
  .github/workflows/lock.yml
  .github/workflows/meta-deploys-detect-change-type.yml
  .github/workflows/migrations-drift.yml
  .github/workflows/migrations.yml
  .github/workflows/openapi-diff.yml
  .github/workflows/openapi.yml
  .github/workflows/pre-commit.yml
  .github/workflows/react-to-product-owners-yml-changes.yml
  .github/workflows/release-ghcr-version-tag.yml
  .github/workflows/release.yml
  .github/workflows/self-hosted.yml
  .github/workflows/sentry-pull-request-bot.yml
  .github/workflows/sync-labels.yml
  .github/workflows/warden.yml
Due: none

Update static/app/components/replays/videoReplayer.tsx
  static/app/components/replays/videoReplayer.tsx
Due: frontend

remove bad comment
  static/app/components/core/avatarButton/avatarButton.tsx
Due: frontend

cleanup prop interface
  static/app/components/core/avatarButton/avatarButton.tsx
Due: frontend

fix sampling
  static/app/components/core/avatar/imageAvatar/imageAvatar.tsx
  static/app/components/core/avatarButton/avatarButton.tsx
Due: frontend

cleanup detection
  static/app/components/core/avatarButton/avatarButton.tsx
Due: frontend

button sampling
  static/app/components/core/avatarButton/avatarButton.tsx
Due: frontend

feat(avatarButton): Derive button colors from avatar dominant color
  static/app/components/core/avatarButton/avatarButton.tsx
Due: frontend

feat(avatarButton): Add dynamic color sampling and edge-aware padding
  static/app/components/core/avatarButton/avatarButton.mdx
  static/app/components/core/avatarButton/avatarButton.tsx
  static/app/components/core/avatarButton/sampleAvatarColor.ts
Due: frontend

feat(avatarButton): Add bitmap color sampling for image avatars
  static/app/components/core/avatar/imageAvatar/imageAvatar.tsx
  static/app/components/core/avatarButton/avatarButton.mdx
  static/app/components/core/avatarButton/avatarButton.tsx
  static/app/components/core/avatarButton/sampleAvatarColor.ts
Due: frontend

ref(sidebar) update indicator position (#110258)
  static/app/views/nav/primary/components.tsx
Due: frontend

handle null
  static/app/views/seerExplorer/utils.tsx
Due: frontend

separate db and state
  src/sentry/hybridcloud/migrations/0026_webhookpayload_rename_region_name_to_cell_name.py
Due: backend

ref(avatarButton) chonk color sampling (#110250)
  static/app/components/core/avatarButton/avatarButton.mdx
  static/app/components/core/avatarButton/avatarButton.tsx
Due: frontend

fix(detectors): Require data sources for Detector creation by default (#110246)
  src/sentry/preprod/size_analysis/grouptype.py
  src/sentry/workflow_engine/endpoints/validators/base/detector.py
  src/sentry/workflow_engine/endpoints/validators/error_detector.py
  tests/sentry/workflow_engine/endpoints/test_organization_detector_index.py
Due: backend

update test
  tests/sentry/integrations/middleware/hybrid_cloud/test_base.py
Due: none

ref(seer-api): use a default timeout of 30s for seer connpools (#110249)
  src/sentry/conf/server.py
  src/sentry/feedback/lib/seer_api.py
  src/sentry/replays/endpoints/project_replay_summary.py
  src/sentry/replays/lib/seer_api.py
  src/sentry/replays/usecases/delete.py
  src/sentry/seer/autofix/utils.py
  src/sentry/seer/code_review/utils.py
  src/sentry/seer/explorer/client_utils.py
  src/sentry/seer/signed_seer_api.py
  src/sentry/seer/similarity/grouping_records.py
  src/sentry/seer/similarity/similar_issues.py
Due: backend

chore(preprod): Delete no longer used buildList component
  static/app/router/routes.tsx
  static/app/views/preprod/buildList/buildList.tsx
Due: frontend

split out authentication to helper in auth class
  src/sentry/integrations/vercel/webhook.py
Due: backend

switch to event based polling
  src/sentry/seer/autofix/coding_agent.py
  tests/sentry/seer/autofix/test_coding_agent.py
Due: backend

split out frame context
  static/app/components/stackTrace/frame/frameContent.tsx
  static/app/components/stackTrace/frame/frameContext.tsx
  static/app/components/stackTrace/frame/frameRow.tsx
  static/app/components/stackTrace/index.tsx
  static/app/components/stackTrace/stackTrace.stories.tsx
  static/app/components/stackTrace/stackTraceFrames.tsx
Due: frontend

fix(theme): return new object reference in swatch.get() for immutability
  static/app/utils/theme/swatch.tsx
Due: frontend

a little more cleanup
  static/app/views/preprod/buildDetails/header/useBuildDetailsActions.tsx
  static/app/views/preprod/utils/buildLinkUtils.spec.ts
  static/app/views/preprod/utils/buildLinkUtils.ts
Due: frontend

feat(features): Register organizations:page-frame feature flag
  src/sentry/features/temporary.py
Due: backend

good feedback
  static/app/views/preprod/buildDetails/header/useBuildDetailsActions.tsx
Due: frontend

feat(preprod): Filter snapshot artifacts from builds endpoint when display is set
  src/sentry/preprod/api/endpoints/builds.py
Due: backend

feat(issues): Improve issue diff copy and loading experience
  static/app/components/issueDiff/index.spec.tsx
  static/app/components/issueDiff/index.tsx
  static/app/components/splitDiff.spec.tsx
  static/app/components/splitDiff.tsx
Due: frontend

chore(preprod): Delete no longer used buildList component (#110259)
  static/app/router/routes.tsx
  static/app/views/preprod/buildDetails/header/useBuildDetailsActions.tsx
  static/app/views/preprod/buildList/buildList.tsx
  static/app/views/preprod/utils/buildLinkUtils.spec.ts
  static/app/views/preprod/utils/buildLinkUtils.ts
Due: frontend

clean up tests
  static/app/components/issueDiff/index.spec.tsx
Due: frontend

fix(logs): Remove double border on empty state page
  static/app/views/explore/logs/logsOnboarding.tsx
Due: frontend
