Repository getsentry/sentry: changes, and which Codecov flags are due for each by the changed paths.
All: frontend, backend

codecov.yml:

# Setting coverage targets per flag
coverage:
  status:
    project:
      default: false
    patch:
      default: false
      frontend:
        # codecov should not fail status checks
        informational: true
        only_pulls: true
        target: 60%
        flags:
        - frontend
      backend:
        # codecov should not fail status checks
        informational: true
        only_pulls: true
        target: 90%
        flags:
          - backend
  ignore:
  - src/*/migrations/
  - src/bitfield/
  - src/sentry/debug/
  - src/sentry/lint/
  - src/sentry/runner/
  - src/social_auth/
  - static/app/routes.tsx
  - tests/

flags:
  frontend:
    paths:
    - "static/app/"
    carryforward: true
  backend:
    paths:
    - "src/sentry/**/*.py"
    carryforward: true

comment: false

fix(mep): Timeseries limit
  src/sentry/search/events/builder.py
Due: backend

Add tests for personal installation
  tests/sentry/integrations/msteams/test_integration.py
Due: none

Rename build_welcome_card
  src/sentry/integrations/msteams/card_builder/installation.py
  src/sentry/integrations/msteams/webhook.py
  tests/sentry/integrations/msteams/test_message_builder.py
Due: backend

Fix test
  src/sentry/integrations/msteams/card_builder/installation.py
Due: backend

feat(dashboard-filters): Add saved filter keys to type (#36762)
  static/app/views/dashboardsV2/data.tsx
  static/app/views/dashboardsV2/types.tsx
  tests/js/spec/components/modals/addToDashboardModal.spec.tsx
  tests/js/spec/views/dashboardsV2/dashboard.spec.tsx
  tests/js/spec/views/dashboardsV2/gridLayout/dashboard.spec.tsx
  tests/js/spec/views/dashboardsV2/widgetBuilder/buildSteps/visualizationStep.spec.tsx
  tests/js/spec/views/dashboardsV2/widgetBuilder/widgetBuilder.spec.tsx
Due: frontend

fix: Null case
  src/sentry/search/events/builder.py
  tests/snuba/api/endpoints/test_organization_events_v2.py
Due: backend

feat(mep): Switch `PerformanceMetricsEntitySubscription` to use `generic_metrics` dataset (#36701)
  src/sentry/snuba/entity_subscription.py
  src/sentry/snuba/models.py
  tests/sentry/snuba/test_entity_subscriptions.py
  tests/sentry/snuba/test_tasks.py
Due: backend

ref(sampling): Update column width (#36754)
  static/app/views/settings/project/server-side-sampling/serverSideSampling.tsx
Due: frontend

ref: replace legacy compat.map with list comprehensions (data_export) (#36695)
  src/sentry/data_export/endpoints/data_export_details.py
  src/sentry/data_export/processors/discover.py
Due: backend

ref(sampling): Update e2e test with latest ui changes - (#36729)
  tests/acceptance/test_project_settings_sampling.py
Due: none

ref: replace legacy compat.map with list comprehensions (ecosystem) (#36696)
  src/sentry/digests/backends/redis.py
  src/sentry/tasks/reports.py
Due: backend

fix(ui): Correct tags and icons on integration directory (#36734)
  static/app/plugins/components/pluginIcon.tsx
  static/app/views/organizationIntegrations/integrationRow.tsx
Due: frontend

Remove frames related to the (Rust) profiler functions. (#36755)
  src/sentry/profiles/task.py
Due: backend

ref: replace legacy compat.map with list comprehensions (ingest) (#36697)
  src/sentry/interfaces/http.py
  src/sentry/quotas/redis.py
Due: backend

feat(sampling): Move feature flag to getsentry [TET-177] (#36725)
  src/sentry/conf/server.py
  src/sentry/features/__init__.py
Due: backend

fix(snuba): Add appropriate `UseCaseKey` for indexer [TET-146] (#36308)
  src/sentry/api/endpoints/organization_measurements_meta.py
  src/sentry/api/endpoints/organization_metrics.py
  src/sentry/release_health/metrics.py
  src/sentry/release_health/metrics_sessions_v2.py
  src/sentry/release_health/release_monitor/metrics.py
  src/sentry/search/events/builder.py
  src/sentry/search/events/datasets/field_aliases.py
  src/sentry/sentry_metrics/configuration.py
  src/sentry/sentry_metrics/indexer/base.py
  src/sentry/sentry_metrics/indexer/postgres.py
  src/sentry/sentry_metrics/indexer/postgres_v2.py
  src/sentry/sentry_metrics/utils.py
  src/sentry/snuba/entity_subscription.py
  src/sentry/snuba/metrics/datasource.py
  src/sentry/snuba/metrics/fields/base.py
  src/sentry/snuba/metrics/fields/snql.py
  src/sentry/snuba/metrics/query.py
  src/sentry/snuba/metrics/query_builder.py
  src/sentry/snuba/metrics_performance.py
  src/sentry/testutils/cases.py
  tests/integration/test_api.py
  tests/sentry/api/endpoints/test_organization_metric_data.py
  tests/sentry/api/endpoints/test_organization_metric_details.py
  tests/sentry/api/endpoints/test_organization_metrics.py
  tests/sentry/incidents/test_subscription_processor.py
  tests/sentry/incidents/test_tasks.py
  tests/sentry/release_health/release_monitor/test_metrics.py
  tests/sentry/release_health/test_tasks.py
  tests/sentry/search/events/test_builder.py
  tests/sentry/sentry_metrics/test_configuration.py
  tests/sentry/snuba/metrics/fields/test_base.py
  tests/sentry/snuba/metrics/test_datasource.py
  tests/sentry/snuba/metrics/test_query_builder.py
  tests/sentry/snuba/metrics/test_snql.py
  tests/sentry/snuba/test_entity_subscriptions.py
  tests/sentry/snuba/test_tasks.py
  tests/snuba/api/endpoints/test_organization_events_v2.py
  tests/snuba/api/endpoints/test_organization_sessions.py
  tests/snuba/sessions/test_sessions.py
Due: backend

ref: replace legacy compat.map with list comprehensions (snuba) (#36698)
  src/sentry/tsdb/base.py
  src/sentry/tsdb/redis.py
  src/sentry/utils/snuba.py
Due: backend

Exclude files accidentally checked by Fossa
  .fossa.yml
Due: none

Render Dashboards with saved filters
  static/app/views/dashboardsV2/detail.tsx
  static/app/views/dashboardsV2/orgDashboards.tsx
  static/app/views/dashboardsV2/utils.tsx
Due: frontend

chore(discover): Remove deprecated test
  tests/snuba/api/endpoints/test_organization_events.py
  tests/snuba/api/endpoints/test_organization_events_mep.py
  tests/snuba/api/endpoints/test_organization_events_v2.py
Due: none

fix(tests): skip flaking acceptance test
  tests/acceptance/test_project_settings_sampling.py
Due: none

feat(hybrid-cloud): Add feature flag for customer domains (#36752)
  src/sentry/conf/server.py
  src/sentry/features/__init__.py
Due: backend

chore(trace): Reword the trace alert
  static/app/views/organizationGroupDetails/quickTrace/issueQuickTrace.tsx
Due: frontend

Exclude files accidentally checked by Fossa (#36766)
  .fossa.yml
Due: none

fix(mep): Environment Filter (#36763)
  src/sentry/search/events/builder.py
  src/sentry/search/events/datasets/metrics.py
  tests/snuba/api/endpoints/test_organization_events_v2.py
Due: backend

fix(mep): Timeseries limit (#36765)
  src/sentry/search/events/builder.py
Due: backend

fix(replays): Fix border radius on the last Console row
  static/app/views/replays/detail/console/consoleMessage.tsx
Due: frontend

feat(integrations): added onSubmitSuccess, onSubmitError
  static/app/views/settings/organizationDeveloperSettings/sentryFunctionDetails.tsx
Due: frontend

Undo moving common functions
  src/sentry/integrations/msteams/card_builder/issues.py
  src/sentry/integrations/notifications.py
  src/sentry/integrations/slack/message_builder/__init__.py
  src/sentry/integrations/slack/message_builder/issues.py
  src/sentry/notifications/notifications/activity/base.py
  src/sentry/notifications/notifications/rules.py
Due: backend

test(ui): Convert perf landing to RTL
  static/app/components/gridEditable/index.tsx
  static/app/views/performance/landing/index.tsx
  static/app/views/performance/table.tsx
  tests/js/sentry-test/performance/initializePerformanceData.ts
  tests/js/spec/views/performance/landing/index.spec.tsx
  tests/js/spec/views/performance/table.spec.tsx
  tests/js/spec/views/performance/trends/index.spec.tsx
Due: frontend

No need to disable react-hooks/exhaustive-deps rule when it is passing
  static/app/views/replays/detail/layout/splitPanel.tsx
Due: frontend

chore(discover): Rename the test file
  tests/snuba/api/endpoints/test_organization_events.py
Due: none

perf(fix) update durationUnit logic to use delta between min/max
  static/app/views/performance/transactionSummary/transactionOverview/durationChart/content.tsx
Due: frontend

ref: replace legacy compat.map with list comprehensions (#36372)
  src/sentry/db/models/fields/array.py
  src/sentry/search/utils.py
  src/sentry/utils/compat/__init__.py
  src/sentry/utils/meta.py
  src/sentry/utils/redis.py
Due: backend
