Repository getsentry/sentry: changes, and which Codecov flags are due for each by the changed paths.
All: frontend, backend, Profiling Views, Profiling Components, Profiling Utils

fix test
  static/app/components/events/interfaces/crashContent/exception/sourceMapDebug.spec.tsx
Due: frontend

pass installstatus and change text to Reinstall if disabled
  static/app/views/settings/organizationIntegrations/addIntegrationButton.tsx
  static/app/views/settings/organizationIntegrations/integrationDetailedView.tsx
Due: frontend

analytics
  src/sentry/integrations/analytics.py
  src/sentry/integrations/notify_disable.py
Due: backend

combine slug and provider
  src/sentry/integrations/analytics.py
  src/sentry/integrations/notify_disable.py
Due: backend

feat(backup): Use ordinals instead of pks (#54079)
  src/sentry/backup/comparators.py
  src/sentry/backup/findings.py
  src/sentry/backup/helpers.py
  src/sentry/backup/validate.py
  tests/sentry/backup/test_comparators.py
  tests/sentry/backup/test_correctness.py
Due: backend

ref(types): fix some replays types
  pyproject.toml
  src/sentry/replays/lib/consumer.py
  src/sentry/replays/lib/storage.py
  src/sentry/replays/usecases/reader.py
Due: backend

break main processing into function
  src/sentry/profiles/statistical_detectors.py
Due: backend

Make hybrid cloud authentication the default
  src/sentry/api/base.py
  src/sentry/api/serializers/models/sentry_app.py
  src/sentry/apidocs/extensions.py
  src/sentry/conf/server.py
  src/sentry/middleware/access_log.py
  src/sentry/middleware/auth.py
  src/sentry/services/hybrid_cloud/auth/impl.py
  src/sentry/web/frontend/setup_wizard.py
  tests/sentry/api/endpoints/test_organization_sentry_apps.py
  tests/sentry/api/endpoints/test_project_index.py
  tests/sentry/web/frontend/test_setup_wizard.py
Due: backend

removing redis key and adding user id
  src/sentry/integrations/analytics.py
  src/sentry/integrations/notify_disable.py
Due: backend

Fix tests
  tests/sentry/integrations/discord/test_issue_alert.py
  tests/sentry/integrations/discord/webhooks/test_message_component.py
Due: none

ref(hybrid-cloud): Stabilizes org model tests in region silo mode
  src/sentry/models/organization.py
  src/sentry/models/organizationmember.py
  src/sentry/notifications/manager.py
  src/sentry/services/hybrid_cloud/notifications/impl.py
  src/sentry/services/hybrid_cloud/notifications/service.py
  tests/sentry/models/test_organization.py
Due: backend

ref(grouping): Small fixes to `normalize_stacktraces_for_grouping` tests (#54325)
  tests/sentry/stacktraces/test_in_app_normalization.py
Due: none

feat(ingest): Allow excluding data when computing `search_message` (#54251)
  src/sentry/eventstore/models.py
  tests/sentry/event_manager/test_event_manager.py
Due: backend

ref(crons): Add loading placeholders to <MonitorStats /> (#54377)
  static/app/views/monitors/components/monitorStats.tsx
Due: frontend

fix(replay): Catch errors when breadcrumbs are messed up and return defaults instead (#54380)
  static/app/utils/replays/getFrameDetails.tsx
Due: frontend

feat(sentryapps)-email-on-disable (#54348)
  src/sentry/integrations/notify_disable.py
  src/sentry/templates/sentry/debug/mail/preview.html
  src/sentry/templates/sentry/integrations/sentry-app-notify-disable.html
  src/sentry/templates/sentry/integrations/sentry-app-notify-disable.txt
  src/sentry/utils/sentry_apps/webhooks.py
  src/sentry/web/debug_urls.py
  src/sentry/web/frontend/debug/debug_notify_disable.py
  src/sentry/web/frontend/debug/debug_sentry_app_notify_disable.py
  tests/sentry/tasks/test_sentry_apps.py
Due: backend

fix(hc): Handle emtpy string values for UserOption more gracefully (#54345)
  src/sentry/tasks/weekly_reports.py
  tests/sentry/tasks/test_weekly_reports.py
Due: backend

nit(api): Remove groupOrgRoles from api responses if not set (#54239)
  src/sentry/api/serializers/models/organization_member/base.py
Due: backend

ref: improve handling of github /graphql response (#53864)
  src/sentry/integrations/github/client.py
  tests/sentry/integrations/github/test_client.py
Due: backend

Revert "ref(crons): Reduce metric cardinality on monitor consumer (#54296)"
  src/sentry/monitors/consumers/monitor_consumer.py
Due: backend

fix(starfish): Date filter persistence bug (#54391)
  static/app/components/datePageFilter.tsx
  static/app/components/organizations/datePageFilter.tsx
  static/app/components/organizations/pageFilters/persistence.tsx
  static/app/components/organizations/timeRangeSelector/index.tsx
  static/app/components/timeRangeSelector.tsx
  static/app/views/starfish/components/datePicker.tsx
Due: frontend

ref(crons): Use translucent border on sticky timeline header (#54399)
  static/app/views/monitors/components/overviewTimeline/gridLines.tsx
  static/app/views/monitors/components/overviewTimeline/index.tsx
Due: frontend

fix(issues): Remove legacy group id redirect (#54401)
  static/app/views/issueDetails/groupDetails.spec.tsx
  static/app/views/issueDetails/groupDetails.tsx
Due: frontend

ref(hybrid-cloud): Revises org member deletion logic to work in split DB mode (#54402)
  src/sentry/api/endpoints/organization_member/details.py
Due: backend

ref(hybrid-cloud): Fixes 2fa SSO checks to be silo safe (#54387)
  src/sentry/api/endpoints/organization_details.py
  src/sentry/services/hybrid_cloud/app/impl.py
  src/sentry/services/hybrid_cloud/app/service.py
  src/sentry/tasks/auth.py
  tests/sentry/api/endpoints/test_organization_details.py
Due: backend

✅ Add test for plugin parser
  src/sentry/middleware/integrations/classifications.py
  src/sentry_plugins/bitbucket/urls.py
  src/sentry_plugins/github/urls.py
  tests/sentry/middleware/integrations/parsers/test_plugin.py
Due: backend

docs(api): Document update member's org/team role (#54067)
  src/sentry/api/endpoints/organization_member/details.py
  src/sentry/api/endpoints/organization_member/requests/invite/details.py
  src/sentry/api/endpoints/organization_member/requests/invite/index.py
  src/sentry/api/serializers/models/organization.py
  src/sentry/api/serializers/models/organization_member/response.py
  src/sentry/api/serializers/models/role.py
  src/sentry/api/serializers/models/user.py
  src/sentry/apidocs/examples/organization_examples.py
  src/sentry/apidocs/parameters.py
Due: backend

fix: Persist query params in login redirects (#54149)
  src/sentry/api/exceptions.py
  src/sentry/utils/auth.py
  src/sentry/web/frontend/auth_login.py
  src/sentry/web/frontend/base.py
  tests/sentry/utils/test_auth.py
Due: backend

made banner
  static/app/views/settings/organizationIntegrations/integrationListDirectory.tsx
  static/app/views/settings/organizationIntegrations/reinstallAlert.tsx
Due: frontend

update to user_id
  src/sentry/integrations/analytics.py
Due: backend

fix(replays): remove SDK check from dead/rage columns
  static/app/views/replays/replayTable/index.tsx
Due: frontend

added exception handling
  src/sentry/runner/commands/presenters/slackpresenter.py
Due: backend

ref(crons): Add loading placeholders to `<MonitorCheckins />` (#54397)
  static/app/views/monitors/components/monitorCheckIns.tsx
Due: frontend

Path conditions:
  frontend: any of: static/app/
  backend: any of: src/sentry/**/*.py
  Profiling Views: any of: static/app/views/profiling/**
  Profiling Components: any of: src/sentry/static/sentry/app/components/profiling/**
  Profiling Utils: any of: src/sentry/static/sentry/app/utils/profiling/**
