Repository getsentry/sentry: changes, and which Codecov flags are due for each by the changed paths.
All: frontend, backend, Profiling Views, Profiling Components, Profiling Utils

Path conditions:
  frontend: any of: static/app/
  backend: any of: src/sentry/**/*.py
  Profiling Views: any of: static/app/views/profiling/**
  Profiling Components: any of: src/sentry/static/sentry/app/components/profiling/**
  Profiling Utils: any of: src/sentry/static/sentry/app/utils/profiling/**

ui2: add enforce flag (#101988)
  static/app/utils/theme/useChonkPrompt.spec.tsx
  static/app/utils/theme/useChonkPrompt.tsx
  static/app/utils/theme/useThemeSwitcher.spec.tsx
  static/app/utils/theme/useThemeSwitcher.tsx
  static/app/views/nav/primary/help.tsx
Due: frontend

fix height of memory details tab in replay
  static/app/views/replays/detail/memoryPanel/index.tsx
Due: frontend

feat(span-enrichment): set & propagate `sentry.segment.name`
  src/sentry/spans/consumers/process_segments/message.py
  tests/sentry/spans/consumers/process_segments/test_message.py
Due: backend

fix(tracemetrics): Make metrics footer more similar to logs footer (#102167)
  static/app/views/explore/metrics/confidenceFooter.tsx
  static/app/views/explore/metrics/metricGraph.tsx
  static/app/views/explore/metrics/metricQuery.tsx
  static/app/views/explore/metrics/metricToolbar/aggregateDropdown.tsx
Due: frontend

ref(seer-explorer): add user id to initial context
  src/sentry/seer/endpoints/organization_seer_explorer_chat.py
  tests/sentry/seer/endpoints/test_organization_seer_explorer_chat.py
Due: backend

feat(aci): Add automatic naming when creating a new metric monitor
  static/app/components/workflowEngine/form/getFormFieldValue.tsx
  static/app/components/workflowEngine/form/useFormField.tsx
  static/app/views/detectors/components/forms/metric/metric.tsx
  static/app/views/detectors/components/forms/metric/useAutoMetricDetectorName.tsx
  static/app/views/detectors/datasetConfig/base.tsx
  static/app/views/detectors/datasetConfig/errors.tsx
  static/app/views/detectors/datasetConfig/logs.tsx
  static/app/views/detectors/datasetConfig/spans.tsx
  static/app/views/detectors/new-setting.spec.tsx
Due: frontend

fix attribute or=
  src/sentry/spans/consumers/process_segments/message.py
Due: backend

bugbot: add disclosure to agents.md
  static/AGENTS.md
Due: none

add test to verify that values with commas get quoted when being added as a list
  static/app/components/searchSyntax/mutableSearch.spec.tsx
Due: frontend

typing
  src/sentry/sentry_apps/api/endpoints/sentry_app_authorizations.py
  src/sentry/sentry_apps/token_exchange/manual_refresher.py
Due: backend

feat(logs): Add alert for partial timeseries and full table scans (#102163)
  static/app/views/explore/logs/logsDownsamplingAlert.tsx
  static/app/views/explore/logs/logsTab.tsx
  static/app/views/explore/logs/useLogsQuery.tsx
  static/app/views/explore/logs/useLogsTimeseries.spec.tsx
  static/app/views/explore/logs/useStreamingTimeseriesResult.spec.tsx
Due: frontend

chore(logs): Add warning to logs partial scan chart footer
  static/app/views/explore/logs/confidenceFooter.tsx
Due: frontend

fix(sub v3): Tweak mobile styling (#101740)
  static/app/views/settings/components/settingsHeader.tsx
  static/app/views/settings/components/settingsSearch/index.tsx
  static/gsApp/components/subscriptionSettingsLayout.tsx
  static/gsApp/views/amCheckout/cart.tsx
  static/gsApp/views/amCheckout/index.tsx
  static/gsApp/views/amCheckout/reserveAdditionalVolume.tsx
  static/gsApp/views/amCheckout/steps/volumeSliders.tsx
  static/gsApp/views/spendLimits/spendLimitSettings.tsx
  static/gsApp/views/subscriptionPage/headerCards/billingInfoCard.tsx
  static/gsApp/views/subscriptionPage/headerCards/headerCards.tsx
  static/gsApp/views/subscriptionPage/notifications.tsx
  static/gsApp/views/subscriptionPage/paymentHistory.tsx
  static/gsApp/views/subscriptionPage/subscriptionHeader.tsx
  static/gsApp/views/subscriptionPage/usageOverview.tsx
Due: frontend

bugbot: add disclosure to agents.md (#102172)
  static/AGENTS.md
Due: none

fix tests
  static/app/components/replays/videoReplayer.spec.tsx
Due: frontend

chore(logs): Add warning to logs partial scan chart footer (#102175)
  static/app/views/explore/logs/confidenceFooter.tsx
Due: frontend

Update static/app/components/replays/replayLiveIndicator.tsx
  static/app/components/replays/replayLiveIndicator.tsx
Due: frontend

ref(workflow_engine): update dataSource => dataSources in ui (#100760)
  static/app/types/workflowEngine/detectors.tsx
  static/app/views/detectors/components/forms/cron/fields.tsx
  static/app/views/detectors/components/forms/error/index.tsx
  static/app/views/detectors/components/forms/metric/metricFormData.tsx
  static/app/views/detectors/components/forms/uptime/fields.tsx
  static/app/views/detectors/edit.spec.tsx
  static/app/views/detectors/new-setting.spec.tsx
Due: frontend

fix typing
  src/sentry/integrations/api/endpoints/integration_proxy.py
Due: backend

add sort to make it so we drop the oldest groups
  src/sentry/services/eventstore/query_preprocessing.py
  tests/sentry/services/eventstore/test_query_preprocessing.py
Due: backend

Remove the need for a user-defined key when registering actions
  static/app/components/commandPalette/context.tsx
  static/app/components/commandPalette/types.tsx
  static/app/components/commandPalette/ui/content.spec.tsx
  static/app/components/commandPalette/ui/content.tsx
  static/app/components/commandPalette/ui/list.tsx
  static/app/components/commandPalette/ui/useCommandPaletteState.tsx
  static/app/components/commandPalette/useCommandPaletteActions.mdx
  static/app/components/commandPalette/useCommandPaletteActions.tsx
Due: frontend

feat(conduit): Add conduit demo endpoint
  src/sentry/api/urls.py
  src/sentry/conduit/endpoints/__init__.py
  src/sentry/conduit/endpoints/organization_conduit_demo.py
  tests/sentry/conduit/endpoints/__init__.py
  tests/sentry/conduit/endpoints/test_organization_conduit_demo.py
Due: backend

set default filter value when creating non string filters
  static/app/views/dashboards/globalFilter/addFilter.tsx
Due: frontend

feat(replay): Catch rejections from `video.play()` (#102159)
  static/app/components/replays/videoReplayer.spec.tsx
  static/app/components/replays/videoReplayer.tsx
Due: frontend

feat(replays): Add live indicator for ongoing replays and refactor user badge component (#102120)
  static/app/components/replays/replayBadge.tsx
  static/app/components/replays/replayLiveIndicator.tsx
  static/app/views/replays/detail/header/replayDetailsUserBadge.tsx
Due: frontend

chore(commits): Remove backfill call
  src/sentry/models/releaseenvironment.py
  src/sentry/models/releaseprojectenvironment.py
  tests/sentry/models/test_releaseenvironment.py
  tests/sentry/models/test_releaseprojectenvironment.py
Due: backend

fix(events): Bail out of event-redirect snuba preprocessing (#102158)
  src/sentry/services/eventstore/query_preprocessing.py
  tests/sentry/services/eventstore/test_query_preprocessing.py
Due: backend

fix(feedback): Make user feedback AI summary categories collapsible (#102144)
  static/app/components/feedback/summaryCategories/feedbackSummaryCategories.tsx
Due: frontend

feat(checkout v3): Revamp feature list
  static/gsApp/views/amCheckout/planFeatures.spec.tsx
  static/gsApp/views/amCheckout/planFeatures.tsx
  static/gsApp/views/amCheckout/steps/checkoutV3/buildYourPlan.tsx
Due: none
