Repository getsentry/sentry: changes, and which Codecov flags are due for each by the changed paths.
All: frontend, backend, Profiling Views, Profiling Components, Profiling Utils

Path conditions:
  frontend: any of: static/app/
  backend: any of: src/sentry/**/*.py
  Profiling Views: any of: static/app/views/profiling/**
  Profiling Components: any of: src/sentry/static/sentry/app/components/profiling/**
  Profiling Utils: any of: src/sentry/static/sentry/app/utils/profiling/**

Update type
  src/sentry/incidents/utils/metric_issue_poc.py
Due: backend

feat(metric-issues): Add lastChecked to OpenPeriod (#83970)
  static/app/types/group.tsx
Due: frontend

format release and device
  static/app/views/issueDetails/streamline/issueTagsPreview.tsx
Due: frontend

remove device.class
  static/app/views/issueDetails/streamline/issueTagsPreview.tsx
Due: frontend

Add flag checks
  src/sentry/issues/endpoints/group_open_periods.py
  tests/sentry/issues/endpoints/test_group_details.py
  tests/sentry/issues/endpoints/test_group_open_periods.py
Due: backend

ref(tsc): convert projectDataForwarding to FC (#83872)
  static/app/views/settings/projectDataForwarding/index.tsx
Due: frontend

ref(tsc): convert project ownership modal to FC (#83880)
  static/app/views/settings/project/projectOwnership/modal.spec.tsx
  static/app/views/settings/project/projectOwnership/modal.tsx
Due: frontend

ref(tsc): convert projectServiceHooks to FC (#83884)
  static/app/views/settings/project/projectServiceHooks.tsx
Due: frontend

ref(tsc): convert projectServiceHookDetails to FC (#83887)
  static/app/views/settings/project/projectServiceHookDetails.tsx
Due: frontend

ref(tsc): convert projectKeys to FC (#83953)
  static/app/views/settings/project/projectKeys/list/index.spec.tsx
  static/app/views/settings/project/projectKeys/list/index.tsx
Due: frontend

ref(tsc): convert requestIntegrationModal to FC (#83960)
  static/app/views/settings/organizationIntegrations/abstractIntegrationDetailedView.tsx
  static/app/views/settings/organizationIntegrations/integrationButton.tsx
  static/app/views/settings/organizationIntegrations/integrationRequest/RequestIntegrationButton.tsx
  static/app/views/settings/organizationIntegrations/integrationRequest/RequestIntegrationModal.tsx
Due: frontend

ref(tsc): convert integrationExternalMapping to FC (#83965)
  static/app/views/settings/organizationIntegrations/integrationExternalMappings.spec.tsx
  static/app/views/settings/organizationIntegrations/integrationExternalMappings.tsx
  static/app/views/settings/organizationIntegrations/integrationExternalTeamMappings.tsx
  static/app/views/settings/organizationIntegrations/integrationExternalUserMappings.tsx
Due: frontend

tofixed 0 is the same as math.round
  static/app/views/issueDetails/streamline/issueTagsPreview.tsx
Due: frontend

feat(toolbar): Iterate on Dev Toolbar settings page copy (#83963)
  static/app/views/settings/project/navigationConfiguration.tsx
  static/app/views/settings/project/projectToolbar.tsx
Due: frontend

feat(ACI): Get detector details endpoint
  src/sentry/apidocs/parameters.py
  src/sentry/workflow_engine/endpoints/project_detector_details.py
  src/sentry/workflow_engine/endpoints/project_detector_index.py
  src/sentry/workflow_engine/endpoints/urls.py
  tests/sentry/workflow_engine/endpoints/test_project_detector_details.py
Due: backend

fix(devservices): Fixing inaccuracy with devservices messaging (#83973)
  src/sentry/runner/commands/devserver.py
Due: backend

Use the lastChecked field to show a more accurate last seen value
  static/app/types/group.tsx
  static/app/utils/issueTypeConfig/index.tsx
  static/app/utils/issueTypeConfig/metricIssueConfig.tsx
  static/app/utils/issueTypeConfig/types.tsx
  static/app/views/issueDetails/streamline/sidebar/firstLastSeenSection.tsx
  static/app/views/issueDetails/streamline/sidebar/solutionsSection.spec.tsx
Due: frontend

store fingerprint as json
  src/sentry/grouping/ingest/grouphash_metadata.py
Due: backend

Fix flickering comment thread
  static/app/components/events/autofix/autofixHighlightPopup.tsx
Due: frontend

Break word
  static/app/components/events/autofix/autofixOutputStream.tsx
Due: frontend

feat(new-trace): Removing support for id column in aggregate tables.
  static/app/views/explore/contexts/pageParamsContext/groupBys.tsx
  static/app/views/explore/toolbar/toolbarGroupBy.tsx
Due: frontend

fix fingerprint output in snapshots
  tests/sentry/grouping/test_grouphash_metadata.py
Due: none

fix(explore): Minor iteration on feedback
  static/app/views/explore/contexts/pageParamsContext/groupBys.tsx
Due: frontend

fix(new-trace): Fixing broken link from llm monitoring summary page
  static/app/views/insights/llmMonitoring/components/tables/pipelineSpansTable.tsx
Due: frontend

feat(demo-mode): guided tours
  static/app/actionCreators/guides.tsx
  static/app/actionCreators/onboardingTasks.tsx
  static/app/components/modals/demoEndModal.tsx
  static/app/components/onboardingWizard/taskConfig.tsx
  static/app/components/sidebar/onboardingStatus.tsx
  static/app/utils/demoMode/index.tsx
Due: frontend

docs(onboarding): add cloudflare onboarding (#83701)
  package.json
  src/sentry/models/project.py
  src/sentry/utils/platform_categories.py
  static/app/data/platformCategories.tsx
  static/app/data/platformPickerCategories.tsx
  static/app/data/platforms.tsx
  static/app/gettingStartedDocs/node/cloudflare-pages.spec.tsx
  static/app/gettingStartedDocs/node/cloudflare-pages.tsx
  static/app/gettingStartedDocs/node/cloudflare-workers.spec.tsx
  static/app/gettingStartedDocs/node/cloudflare-workers.tsx
  static/app/types/project.tsx
  yarn.lock
Due: frontend, backend

local storage persist
  static/app/actionCreators/guides.tsx
  static/app/actionCreators/onboardingTasks.tsx
  static/app/components/assistant/getGuidesContent.tsx
  static/app/components/onboardingWizard/taskConfig.tsx
  static/app/types/onboarding.tsx
  static/app/utils/demoMode/guides.tsx
  static/app/utils/demoMode/index.tsx
Due: frontend

dashboards
  static/app/actionCreators/modal.tsx
  static/app/components/metrics/queryFieldGroup.tsx
  static/app/components/modals/createDashboardFromMetricsModal.tsx
  static/app/components/modals/metricWidgetViewerModal.tsx
  static/app/components/modals/metricWidgetViewerModal/header.tsx
  static/app/components/modals/metricWidgetViewerModal/queries.tsx
  static/app/components/modals/metricWidgetViewerModal/visualization.tsx
  static/app/routes.tsx
  static/app/utils/metrics/dashboard.spec.tsx
  static/app/utils/metrics/dashboard.tsx
  static/app/utils/metrics/dashboardImport.spec.tsx
  static/app/utils/metrics/dashboardImport.tsx
  static/app/views/dashboards/detail.tsx
  static/app/views/dashboards/manage/dashboardImport.tsx
  static/app/views/dashboards/manage/index.tsx
  static/app/views/dashboards/metrics/bigNumber.tsx
  static/app/views/dashboards/metrics/chart.tsx
  static/app/views/dashboards/metrics/table.spec.tsx
  static/app/views/dashboards/metrics/table.tsx
  static/app/views/dashboards/metrics/types.tsx
  static/app/views/dashboards/metrics/utils.spec.tsx
  static/app/views/dashboards/metrics/utils.tsx
  static/app/views/dashboards/metrics/widgetCard.tsx
  static/app/views/dashboards/widgetCard/index.tsx
  static/app/views/metrics/dashboardImportModal.tsx
  static/app/views/metrics/layout.spec.tsx
  static/app/views/metrics/metricFormulaContextMenu.tsx
  static/app/views/metrics/metricQueryContextMenu.tsx
  static/app/views/metrics/metricScratchpad.spec.tsx
  static/app/views/metrics/pageHeaderActions.spec.tsx
  static/app/views/metrics/pageHeaderActions.tsx
  static/app/views/metrics/useCreateDashboard.tsx
Due: frontend
