Repository getsentry/sentry: changes, and which Codecov flags are due for each by the changed paths.
All: frontend, backend, Profiling Views, Profiling Components, Profiling Utils

Path conditions:
  frontend: any of: static/app/
  backend: any of: src/sentry/**/*.py
  Profiling Views: any of: static/app/views/profiling/**
  Profiling Components: any of: src/sentry/static/sentry/app/components/profiling/**
  Profiling Utils: any of: src/sentry/static/sentry/app/utils/profiling/**

ref: remove unused cast (#93185)
  src/sentry/discover/compare_tables.py
Due: backend

feat(codecov): add integrated org picker and selector (#89937)
  static/app/components/codecov/integratedOrgSelector/integratedOrgSelector.spec.tsx
  static/app/components/codecov/integratedOrgSelector/integratedOrgSelector.tsx
  static/app/views/codecov/tests/tests.tsx
Due: frontend

Refactor promo code generation with improved randomization logic
  static/gsAdmin/components/promoCodes/promoCodeModal.tsx
Due: none

:wrench: chore: change slack service activity notif to debug level
  src/sentry/integrations/slack/service.py
Due: backend

fix test
  static/gsApp/views/subscriptionPage/usageTotals.tsx
Due: none

feat(detectors): Add query by project to detector list (#93166)
  static/app/views/detectors/hooks/index.ts
  static/app/views/detectors/list.spec.tsx
  static/app/views/detectors/list.tsx
Due: frontend

log more stuff
  src/sentry/api/endpoints/organization_feedback_summary.py
Due: backend

Checkpoint before follow-up message
  static/gsAdmin/components/promoCodes/promoCodeModal.tsx
  static/gsAdmin/utils.spec.tsx
  static/gsAdmin/utils.tsx
Due: none

fix(aci): display monitor assignee (owner) and creator to monitor lists
  static/app/components/workflowEngine/gridCell/titleCell.tsx
  static/app/types/workflowEngine/automations.tsx
  static/app/views/automations/components/connectedMonitorsList.tsx
  static/app/views/automations/detail.tsx
  static/app/views/detectors/components/detectorListRow.tsx
Due: frontend

:wrench: chore: remove extra jira logs
  src/sentry/middleware/integrations/parsers/jira.py
Due: backend

feat: Add status field to fetch parallel & sequential hooks (#93187)
  static/app/utils/api/useFetchParallelPages.spec.tsx
  static/app/utils/api/useFetchParallelPages.tsx
  static/app/utils/api/useFetchSequentialPages.spec.tsx
  static/app/utils/api/useFetchSequentialPages.tsx
Due: frontend

:wrench: chore: fix tests
  tests/sentry/integrations/slack/service/test_slack_service.py
Due: none

wip - remove fetch from useLoadReplayReader return val
  static/app/components/events/eventReplay/replayClipPreview.tsx
  static/app/components/replays/player/replayLoadingState.tsx
  static/app/utils/replays/hooks/useLoadReplayReader.tsx
  static/app/views/issueDetails/groupReplays/groupReplays.tsx
Due: frontend

Fix TypeScript type error and remove unused form ref in promo code modal
  static/gsAdmin/components/promoCodes/promoCodeModal.tsx
Due: none

test
  static/gsApp/views/subscriptionPage/usageTotals.spec.tsx
Due: none

substring search RPC
  src/sentry/api/endpoints/seer_rpc.py
  tests/snuba/api/endpoints/test_seer_attributes.py
Due: backend

Add React type import to promoCodeModal component
  static/gsAdmin/components/promoCodes/promoCodeModal.tsx
Due: none

fix(billing): Fix toggling usage/spend charts for reserved budgets (#92790)
  static/gsApp/views/subscriptionPage/reservedUsageChart.spec.tsx
  static/gsApp/views/subscriptionPage/reservedUsageChart.tsx
Due: none

fix(billing): Show per-category usage in combined usage card (#93174)
  static/gsApp/views/subscriptionPage/usageTotals.spec.tsx
  static/gsApp/views/subscriptionPage/usageTotals.tsx
Due: none

fix(slack): Generate simple string block_ids instead of JSON
  src/sentry/integrations/slack/message_builder/base/block.py
  src/sentry/integrations/slack/message_builder/issues.py
  test_fix.py
  verify_fix.py
Due: backend

Remove unused React type import
  static/gsAdmin/components/promoCodes/promoCodeModal.tsx
Due: none

Refactor promo code modal to use React.createElement for form fields
  static/gsAdmin/components/promoCodes/promoCodeModal.tsx
Due: none

feat(replay): add ai summary endpoint
  src/sentry/api/endpoints/replay_ai_summary.py
  src/sentry/api/urls.py
  src/sentry/seer/models.py
  src/sentry/seer/replay_summary.py
Due: backend

Add @types/moment-timezone as dev dependency
  package.json
Due: none

feat(codecov): create the TA aggregates endpoint
  src/sentry/api/urls.py
  src/sentry/codecov/endpoints/TestResultsAggregates/query.py
  src/sentry/codecov/endpoints/TestResultsAggregates/serializers.py
  src/sentry/codecov/endpoints/TestResultsAggregates/test_results_aggregates.py
  tests/sentry/codecov/endpoints/test_test_result_aggregates.py
Due: backend

Add gsAdmin to TypeScript configuration include paths
  config/tsconfig.base.json
Due: none

feat: add infinite query hook for the test analytics page
  static/app/views/codecov/tests/queries/useGetTestResults.ts
  static/app/views/codecov/tests/testAnalyticsTable/sortableHeader.tsx
  static/app/views/codecov/tests/tests.tsx
  static/app/views/codecov/tests/testsWrapper.tsx
Due: frontend

fix(rules): Don't give up on all groups for a rule because one is rate-limited
  src/sentry/rules/processing/delayed_processing.py
Due: backend

Address PR Feedback: - Add a comment block to describe usage of WorkflowContext. -- This got me thinking more about stuff and refactored a little for simplicity as well.
  src/sentry/workflow_engine/models/action.py
  src/sentry/workflow_engine/processors/contexts/workflow_event_context.py
  src/sentry/workflow_engine/processors/workflow.py
  src/sentry/workflow_engine/utils/metrics.py
  src/sentry/workflow_engine/utils/workflow_context.py
  tests/sentry/workflow_engine/processors/contexts/test_workflow_event_context.py
  tests/sentry/workflow_engine/utils/test_workflow_metrics.py
Due: backend

whoops, over zealous deletion, but this shuold be after we execute the action rather than before
  src/sentry/workflow_engine/models/action.py
Due: backend

fix: support eps and failure rate on span alerts (#93176)
  src/sentry/incidents/logic.py
Due: backend

don't have an id anymore
  src/sentry/workflow_engine/processors/contexts/workflow_event_context.py
Due: backend
