Repository getsentry/sentry: changes, and which Codecov flags are due for each by the changed paths.
All: frontend, backend, Profiling Views, Profiling Components, Profiling Utils

fix(aci): add `issue_priority_equals` condition to UI ignore list (#94661)
  src/sentry/workflow_engine/models/data_condition.py
  tests/sentry/workflow_engine/endpoints/test_organization_data_condition_index.py
Due: backend

remove another silenced warning
  tests/js/setupFramework.ts
Due: none

fix(aci): Retry process_workflows_event tasks
  src/sentry/workflow_engine/tasks.py
Due: backend

feat(aci): handle special case for issue priority deescalating data condition (#94674)
  static/app/types/workflowEngine/dataConditions.tsx
  static/app/views/automations/components/dataConditionNodeList.tsx
Due: frontend

bump migration number
  src/sentry/migrations/0941_create_temporary_verification_code_table.py
Due: backend

fix(issues): Fix issue error title overflow
  static/app/views/issueDetails/streamline/header/header.tsx
Due: frontend

feat(launchpad): Add launchpad RPC authentication support to the chunking endpoint
  src/sentry/api/endpoints/chunk.py
  tests/sentry/api/endpoints/test_chunk_upload.py
Due: backend

ui2: use beta tag
  static/app/components/sidebar/help.tsx
Due: frontend

feat(issues): Add support for AWS trace parameterization
  src/sentry/grouping/parameterization.py
  tests/sentry/grouping/test_parameterization.py
Due: backend

ci(jest): regenerate jest-balance.json (#85304)
  tests/js/test-balancer/jest-balance.json
Due: none

fix(provisioning): Don't include test plans
  static/gsAdmin/components/provisionSubscriptionAction.tsx
Due: none

ref(api): Convert release deploys endpoint to drf-spectacular documentation
  api-docs/openapi.json
  src/sentry/api/endpoints/release_deploys.py
Due: backend

fix(issues): Fix issue error title overflow (#94699)
  static/app/views/issueDetails/streamline/header/header.tsx
Due: frontend

Revert "fix(anomaly detection): turn processing back on for dynamic rules (#94652)"
  src/sentry/incidents/subscription_processor.py
Due: backend

feat(aci): Get detector units based on aggrregate (#94589)
  static/app/components/workflowEngine/form/control/priorityControl.spec.tsx
  static/app/components/workflowEngine/form/control/priorityControl.tsx
  static/app/views/detectors/components/detectorDetailsSidebar.tsx
  static/app/views/detectors/components/detectorLink.tsx
  static/app/views/detectors/components/forms/metric/metric.tsx
  static/app/views/detectors/components/forms/useDetectorThresholdSuffix.tsx
  static/app/views/detectors/utils/metricDetectorSuffix.spec.tsx
  static/app/views/detectors/utils/metricDetectorSuffix.tsx
Due: frontend

fix(aci): Display skeleton with max of automation rows
  static/app/views/detectors/components/connectedAutomationList.tsx
Due: frontend

move
  static/app/views/detectors/components/connectedAutomationList.tsx
Due: frontend

chore(detectors): Add settings for Query Injection Detectors FE (#94210)
  static/app/types/group.tsx
  static/app/views/settings/projectPerformance/projectPerformance.tsx
Due: frontend

fix(aci): Disable per-group logging by default (#94679)
  src/sentry/workflow_engine/processors/delayed_workflow.py
  src/sentry/workflow_engine/processors/workflow.py
  tests/sentry/workflow_engine/processors/test_workflow.py
Due: backend

fix(ui2): include beta feature badge
  static/app/components/sidebar/help.tsx
  static/app/views/nav/primary/help.tsx
Due: frontend

fix(aci): Use activity time for regression open periods (#94643)
  src/sentry/event_manager.py
  tests/sentry/event_manager/test_event_manager.py
Due: backend

fix(ui2): include beta feature badge (#94710)
  static/app/components/sidebar/help.tsx
  static/app/views/nav/primary/help.tsx
Due: frontend

ref(ui): Make tickStyle's a function that takes theme
  static/app/components/checkInTimeline/checkInTimeline.stories.tsx
  static/app/components/checkInTimeline/checkInTimeline.tsx
  static/app/components/checkInTimeline/checkInTooltip.tsx
  static/app/components/checkInTimeline/types.tsx
  static/app/components/checkInTimeline/utils/getTickStyle.tsx
  static/app/components/checkInTimeline/utils/testUtils.tsx
  static/app/views/alerts/rules/uptime/uptimeChecksGrid.tsx
  static/app/views/insights/crons/utils.tsx
  static/app/views/insights/uptime/timelineConfig.tsx
Due: frontend

:wrench: chore: set up data secrecy v2 ff
  src/sentry/features/temporary.py
Due: backend

remove unused fields and do a little refactoring
  static/gsApp/types/index.tsx
  static/gsApp/views/subscriptionPage/planMigrationActive/planMigrationTable.tsx
Due: none

feat(replay): Add a banner on the Replay List page showing if there are in-progress bulk-delete tasks
  static/app/components/replays/bulkDelete/useFetchBulkDeleteLogs.tsx
  static/app/views/replays/list/bulkDeleteAlert.tsx
  static/app/views/replays/list/listContent.tsx
Due: frontend

fix(aci): Display skeleton with max of automation rows (#94708)
  static/app/views/detectors/components/connectedAutomationList.tsx
Due: frontend

Remove deps for first migration
  src/sentry/status_pages/migrations/0001_initial_models.py
Due: backend

add referrer query param
  static/app/components/replays/bulkDelete/replayBulkDeleteAuditLog.tsx
  static/app/components/replays/bulkDelete/useFetchBulkDeleteLogs.tsx
Due: frontend

Path conditions:
  frontend: any of: static/app/
  backend: any of: src/sentry/**/*.py
  Profiling Views: any of: static/app/views/profiling/**
  Profiling Components: any of: src/sentry/static/sentry/app/components/profiling/**
  Profiling Utils: any of: src/sentry/static/sentry/app/utils/profiling/**
