Repository getsentry/sentry: changes, and which Codecov flags are due for each by the changed paths.
All: frontend, backend, Profiling Views, Profiling Components, Profiling Utils

feat(source-map-debugger): Add beta pill to source map debugger modal
  static/app/components/events/interfaces/sourceMapsDebuggerModal.tsx
Due: frontend

fix test
  static/app/components/events/interfaces/crashContent/exception/stackTrace.spec.tsx
Due: frontend

add Referer header check during GitHub integration setup
  src/sentry/web/frontend/pipeline_advancer.py
Due: backend

feat(source-map-debugger): Add beta pill to source map debugger modal (#57663)
  static/app/components/events/interfaces/sourceMapsDebuggerModal.tsx
Due: frontend

.
  static/app/components/events/interfaces/sourceMapsDebuggerModal.tsx
Due: frontend

Do not re-open `ArtifactBundleArchive` on indexing
  src/sentry/debug_files/artifact_bundles.py
  src/sentry/tasks/assemble.py
  tests/sentry/tasks/test_assemble.py
Due: backend

fix test
  tests/sentry/debug_files/test_artifact_bundle_indexing.py
Due: none

ci: Add special upload to test ATS
  .github/workflows/backend.yml
  Makefile
  codecov.yml
Due: none

feat(metrics): Add an indexer entry for the usage metric
  src/sentry/sentry_metrics/indexer/strings.py
Due: backend

chore(agg-spans): Check sentry_tags first for scrubbed span descriptions (#57590)
  src/sentry/api/endpoints/organization_spans_aggregation.py
Due: backend

feat(stat-detectors): Decouple chart from trends endpoint
  static/app/components/events/eventStatisticalDetector/breakpointChart.tsx
  static/app/components/events/eventStatisticalDetector/lineChart.tsx
  static/app/views/performance/trends/chart.tsx
Due: frontend

fix(hybridcloud) Generate region URLs correctly in control (#57622)
  src/sentry/types/region.py
  src/sentry/web/client_config.py
  tests/sentry/web/test_client_config.py
Due: backend

feat(source-map-debugger): Mention potential dist mismatch in 'not found' case (#57658)
  static/app/components/events/interfaces/sourceMapsDebuggerModal.tsx
Due: frontend

feat(metrics): Add an indexer entry for the usage metric (#57666)
  src/sentry/sentry_metrics/indexer/strings.py
Due: backend

fix(profiling): adjust title size and toolbar view select width (#57579)
  static/app/views/profiling/landing/profilesSummaryChart.tsx
  static/app/views/profiling/profileSummary/index.tsx
  static/app/views/profiling/profileSummary/regressedProfileFunctions.tsx
  static/app/views/profiling/profileSummary/slowestProfileFunctions.tsx
Due: frontend, Profiling Views

Update index.tsx
  static/app/views/performance/browser/resources/index.tsx
Due: frontend

fix(migrations) Include hybridcloud in migration lockfile generation
  src/sentry/conf/server.py
Due: backend

ref(functions): Allow querying for functions timeseries
  static/app/utils/profiling/hooks/useProfileEventsStats.spec.tsx
  static/app/utils/profiling/hooks/useProfileEventsStats.tsx
  static/app/views/profiling/landing/profileCharts.tsx
  static/app/views/profiling/landing/profilesChartWidget.tsx
  static/app/views/profiling/landing/profilesSummaryChart.tsx
Due: frontend, Profiling Views

feat(stat-detectors): Decouple chart from trends endpoint (#57667)
  static/app/components/events/eventStatisticalDetector/breakpointChart.tsx
  static/app/components/events/eventStatisticalDetector/lineChart.tsx
  static/app/views/performance/trends/chart.tsx
Due: frontend

fix(stat-detector): Account for Added spans (#57629)
  static/app/components/events/eventStatisticalDetector/aggregateSpanDiff.tsx
Due: frontend

feat(statistical-detectors): Add affected transactions list (#57624)
  static/app/components/events/eventStatisticalDetector/eventAffectedTransactions.tsx
  static/app/components/events/eventStatisticalDetector/eventFunctionComparisonList.tsx
  static/app/views/issueDetails/groupEventDetails/groupEventDetailsContent.tsx
Due: frontend

fix(hc): Fix silo mode for auth channel login (#57519)
  src/sentry/web/frontend/auth_channel_login.py
  tests/sentry/web/frontend/test_auth_channel_login.py
Due: backend

fix
  src/sentry/statistical_detectors/issue_platform_adapter.py
Due: backend

fix(statistical-detectors): fix txn breakpoint metric
  src/sentry/tasks/statistical_detectors.py
Due: backend

fix(migrations) Include hybridcloud in migration lockfile generation (#57669)
  src/sentry/conf/server.py
Due: backend

fix: Add auto removed line
  migrations_lockfile.txt
Due: none

fix some tests
  static/app/utils/profiling/hooks/useProfileEventsStats.spec.tsx
Due: frontend

move breadcrumbs and tags to sidebar
  static/app/utils/replays/hooks/useActiveReplayTab.tsx
  static/app/views/replays/detail/layout/focusArea.tsx
  static/app/views/replays/detail/layout/focusTabs.tsx
  static/app/views/replays/detail/layout/index.tsx
Due: frontend

Rename component
  static/app/views/performance/database/databaseLandingPage.tsx
  static/app/views/performance/database/noDataMessage.spec.tsx
  static/app/views/performance/database/noDataMessage.tsx
  static/app/views/performance/landing/widgets/components/selectableList.tsx
Due: frontend

Path conditions:
  frontend: any of: static/app/
  backend: any of: src/sentry/**/*.py
  Profiling Views: any of: static/app/views/profiling/**
  Profiling Components: any of: src/sentry/static/sentry/app/components/profiling/**
  Profiling Utils: any of: src/sentry/static/sentry/app/utils/profiling/**
