Repository getsentry/sentry: changes, and which Codecov flags are due for each by the changed paths.
All: frontend, backend, Profiling Views, Profiling Components, Profiling Utils

refactor(gaming): simplify no-access alert to single sentence with icon
  static/app/views/settings/organizationConsoleSdkInvites/index.spec.tsx
  static/app/views/settings/organizationConsoleSdkInvites/index.tsx
Due: frontend

fix(autopilot): Fix issue fingerprint (#106357)
  src/sentry/autopilot/tasks.py
Due: backend

fix: merge conflicts
  static/app/components/events/eventBreadcrumbsSection.tsx
  static/app/views/alerts/rules/uptime/assertions/opStatusCode.tsx
  static/app/views/performance/newTraceDetails/traceDrawer/details/transaction/sections/breadCrumbs.tsx
Due: frontend

add instructions for browser platforms
  static/app/gettingStartedDocs/node/utils.tsx
Due: frontend

feat(autopilot): POC UI for instrumentation issues (#106359)
  static/app/router/routes.tsx
  static/app/types/group.tsx
  static/app/utils/issueTypeConfig/index.tsx
  static/app/utils/issueTypeConfig/instrumentationConfig.tsx
  static/app/views/issueList/pages/instrumentation.tsx
  static/app/views/nav/secondary/sections/issues/issuesSecondaryNav.tsx
Due: frontend

feat(crons-detector-schedule-preview): updating sub threshold status assignment
  static/app/views/detectors/components/forms/common/schedulePreview.tsx
  static/app/views/detectors/components/forms/cron/fields.tsx
  static/app/views/detectors/components/forms/cron/index.tsx
  static/app/views/detectors/components/forms/cron/previewSection.tsx
  static/app/views/detectors/hooks/useMonitorsScheduleSampleBuckets.tsx
  static/app/views/detectors/hooks/useMonitorsScheduleSampleWindow.tsx
  static/app/views/insights/crons/components/cronsLandingPanel.tsx
Due: frontend

feat(crons-detector-schedule-preview): updating sub threshold status assignment
  static/app/views/detectors/components/forms/cron/previewSection.tsx
Due: frontend

update a wrong sentence
  static/app/views/insights/pages/agents/llmOnboardingInstructions.tsx
Due: frontend

fix(oauth): Track issued_grant_type to support RFC-compliant public client refresh
  src/sentry/migrations/1019_add_issued_grant_type_to_apitoken.py
  src/sentry/models/apitoken.py
  src/sentry/web/frontend/oauth_token.py
  tests/sentry/web/frontend/test_oauth_token.py
Due: backend

fix llm instructions - feedback
  static/app/views/insights/pages/agents/llmOnboardingInstructions.tsx
Due: frontend

chore(explore): Add attribute mapping endpoint description (#106296)
  .github/CODEOWNERS
  src/sentry/api/endpoints/organization_attribute_mappings.py
Due: backend

another valid feedback
  static/app/gettingStartedDocs/node/utils.tsx
Due: frontend

feat(search): Support explicit boolean tags (#106261)
  src/sentry/api/endpoints/organization_spans_fields.py
  src/sentry/api/endpoints/organization_trace_item_attributes.py
  src/sentry/api/endpoints/project_trace_item_details.py
  src/sentry/search/eap/constants.py
  src/sentry/search/eap/ourlogs/attributes.py
  src/sentry/search/eap/profile_functions/attributes.py
  src/sentry/search/eap/spans/attributes.py
  src/sentry/search/eap/trace_metrics/attributes.py
  src/sentry/search/eap/types.py
  src/sentry/search/eap/utils.py
  tests/sentry/api/endpoints/test_organization_spans_fields.py
  tests/snuba/api/endpoints/test_organization_events_span_indexed.py
  tests/snuba/api/endpoints/test_organization_trace_item_attributes.py
  tests/snuba/api/endpoints/test_project_trace_item_details.py
Due: backend

chore: more uwsgi->granian changes
  self-hosted/sentry.conf.py
  src/sentry/conf/server.py
  src/sentry/runner/commands/devserver.py
  src/sentry/runner/settings.py
  src/sentry/services/http.py
Due: backend

update isNodePlatform logic
  static/app/gettingStartedDocs/node/utils.tsx
Due: frontend

feat: Show details when there are any for sending test notifications
  static/app/views/automations/hooks/index.tsx
Due: frontend

update imports langchain
  static/app/gettingStartedDocs/node/utils.tsx
Due: frontend

feat(crons-detector-schedule-preview): updating sub threshold status assignment
  static/app/views/detectors/components/forms/common/schedulePreview.tsx
  static/app/views/detectors/components/forms/cron/detect.tsx
  static/app/views/detectors/components/forms/cron/fields.tsx
  static/app/views/detectors/components/forms/cron/previewSection.tsx
  static/app/views/detectors/hooks/useMonitorsScheduleSampleBuckets.tsx
  static/app/views/detectors/hooks/useMonitorsScheduleSampleWindow.tsx
  static/app/views/insights/crons/components/cronsLandingPanel.tsx
Due: frontend

feat(crons-detector-schedule-preview): updating sub threshold status assignment
  static/app/views/detectors/hooks/useMonitorsScheduleSampleBuckets.tsx
  static/app/views/detectors/hooks/useMonitorsScheduleSampleWindow.tsx
Due: frontend

chore: typing
  src/sentry/runner/commands/devserver.py
Due: backend

fix(issues): Hide Export All CSV option without discover-query feature
  static/app/views/issueDetails/groupDistributions/tagExportDropdown.spec.tsx
  static/app/views/issueDetails/groupDistributions/tagExportDropdown.tsx
Due: frontend

fix(issues): Disable Export All CSV option instead of hiding
  static/app/views/issueDetails/groupDistributions/tagExportDropdown.spec.tsx
  static/app/views/issueDetails/groupDistributions/tagExportDropdown.tsx
Due: frontend

feat(gaming): support batch platform revocation in console SDK invite hook
  static/app/views/settings/organizationConsoleSdkInvites/hooks.tsx
Due: frontend

feat(ai-conversations): use conversations endpoint
  static/app/views/insights/pages/agents/components/aiSpanList.tsx
  static/app/views/insights/pages/conversations/components/conversationDrawer.tsx
  static/app/views/insights/pages/conversations/components/messagesPanel.tsx
  static/app/views/insights/pages/conversations/hooks/useConversation.tsx
  static/app/views/insights/pages/conversations/hooks/useUrlConversationDrawer.tsx
  static/app/views/insights/pages/conversations/utils/urlParams.tsx
Due: frontend

fix(groupsnooze): Set debounce on Snuba failure to prevent rate limits (#106322)
  src/sentry/models/groupsnooze.py
  tests/sentry/models/test_groupsnooze.py
Due: backend

padding fix
  static/app/views/insights/pages/agents/components/aiSpanList.tsx
  static/app/views/insights/pages/conversations/components/conversationDrawer.tsx
Due: frontend

Add more to the API logs
  src/sentry/middleware/access_log.py
Due: backend

fix: disallow custom CSS in marked
  static/app/utils/marked/marked.tsx
Due: frontend

feat(billing): add SIZE_ANALYSIS to BILLED_DATA_CATEGORY_INFO
  static/gsApp/constants.tsx
Due: none

feat(billing): add INSTALLABLE_BUILD to BILLED_DATA_CATEGORY_INFO
  static/gsApp/constants.tsx
Due: none

ref(checkout): Rework CheckoutOption (#106220)
  static/gsApp/views/amCheckout/components/billingCycleSelectCard.tsx
  static/gsApp/views/amCheckout/components/checkoutOption.tsx
  static/gsApp/views/amCheckout/components/planSelectCard.tsx
  static/gsApp/views/amCheckout/steps/buildYourPlan.tsx
  static/gsApp/views/amCheckout/steps/chooseYourBillingCycle.tsx
  static/gsApp/views/amCheckout/steps/productSelect.tsx
  static/gsApp/views/spendLimits/spendLimitSettings.tsx
Due: none

Path conditions:
  frontend: any of: static/app/
  backend: any of: src/sentry/**/*.py
  Profiling Views: any of: static/app/views/profiling/**
  Profiling Components: any of: src/sentry/static/sentry/app/components/profiling/**
  Profiling Utils: any of: src/sentry/static/sentry/app/utils/profiling/**
