Repository getsentry/sentry: changes, and which Codecov flags are due for each by the changed paths.
All: frontend, backend, Profiling Views, Profiling Components, Profiling Utils

fix(eap): Update attribute key name provided in `DeleteTraceItemsRequest` RPCs (#103867)
  src/sentry/eventstream/eap.py
  tests/sentry/eventstream/test_eap.py
Due: backend

fix(aci): Immediate deletion of workflow-detector connections
  src/sentry/workflow_engine/endpoints/organization_detector_workflow_details.py
  src/sentry/workflow_engine/endpoints/organization_detector_workflow_index.py
  tests/sentry/workflow_engine/endpoints/test_organization_detector_workflow_details.py
  tests/sentry/workflow_engine/endpoints/test_organization_detector_workflow_index.py
Due: backend

can_delete helper and fix details endpoint
  src/sentry/workflow_engine/endpoints/organization_detector_details.py
  src/sentry/workflow_engine/endpoints/organization_detector_index.py
  src/sentry/workflow_engine/endpoints/validators/detector_workflow.py
  tests/sentry/workflow_engine/endpoints/test_organization_detector_details.py
  tests/sentry/workflow_engine/endpoints/test_organization_detector_index.py
Due: backend

feat: Enforce single data source for detectors
  src/sentry/monitors/validators.py
  src/sentry/uptime/endpoints/validators.py
  src/sentry/workflow_engine/endpoints/validators/base/detector.py
  tests/sentry/monitors/test_validators.py
  tests/sentry/uptime/endpoints/test_validators.py
Due: backend

Refactor: Add docstring to enforce_single_datasource
  src/sentry/workflow_engine/endpoints/validators/base/detector.py
Due: backend

enhance span data
  src/sentry/seer/explorer/index_data.py
  src/sentry/seer/explorer/llm_issue_detection.py
  src/sentry/seer/sentry_data_models.py
  src/sentry/tasks/llm_issue_detection.py
  tests/sentry/seer/explorer/test_index_data.py
  tests/sentry/tasks/test_llm_issue_detection.py
Due: backend

typing
  src/sentry/seer/sentry_data_models.py
  src/sentry/tasks/llm_issue_detection.py
Due: backend

feat(explorer): add trace time range rpc
  src/sentry/seer/explorer/tools.py
  tests/sentry/seer/explorer/test_tools.py
Due: backend

fix merge
  src/sentry/seer/explorer/tools.py
  tests/sentry/seer/explorer/test_tools.py
Due: backend

rm claude agents
  .claude/agents/cl/codebase-analyzer.md
  .claude/agents/cl/codebase-locator.md
  .claude/agents/cl/codebase-pattern-finder.md
  .claude/agents/cl/web-search-researcher.md
Due: none

support short id
  src/sentry/seer/explorer/tools.py
  tests/sentry/seer/explorer/test_tools.py
Due: backend

init
  src/sentry/seer/explorer/tools.py
Due: backend

fix dt
  src/sentry/seer/explorer/tools.py
Due: backend

support short id and use query
  src/sentry/seer/explorer/tools.py
Due: backend

feat(explorer): add config for intelligence level to client
  src/sentry/seer/explorer/client.py
  tests/sentry/seer/explorer/test_explorer_client.py
Due: backend

feat(assisted-query): include built-in fields in span attrs rpc and support logs and metrics
  src/sentry/seer/assisted_query/traces_tools.py
  src/sentry/seer/endpoints/seer_rpc.py
  tests/snuba/api/endpoints/test_seer_attributes.py
Due: backend

remove comment
  src/sentry/seer/assisted_query/traces_tools.py
Due: backend

migrate other rpc too
  src/sentry/seer/assisted_query/traces_tools.py
  src/sentry/seer/endpoints/seer_rpc.py
  tests/snuba/api/endpoints/test_seer_attributes.py
Due: backend

fix typing
  tests/snuba/api/endpoints/test_seer_attributes.py
Due: none

fix(explorer): accept trace id for flamegraph tool (#103818)
  src/sentry/seer/explorer/tools.py
  src/sentry/seer/explorer/utils.py
  tests/sentry/seer/explorer/test_explorer_utils.py
Due: backend

Fix precommit issues
  src/sentry/integrations/grpc/interceptors/auth.py
  src/sentry/integrations/grpc/middleware.py
  src/sentry/integrations/grpc/services/base.py
  src/sentry/integrations/grpc/services/scm_service.py
  tests/sentry/integrations/grpc/services/test_scm_service.py
  tests/sentry/integrations/grpc/test_grpc_wsgi_direct.py
  tests/sentry/integrations/grpc/test_simple.py
  tests/sentry/integrations/grpc/test_wsgi_integration.py
Due: backend

remove accidental checkins
  .claude/commands/cl/commit.md
  .claude/commands/cl/create_plan.md
  .claude/commands/cl/describe_pr.md
  .claude/commands/cl/implement_plan.md
  .claude/commands/cl/iterate_plan.md
  .claude/commands/cl/research_codebase.md
  .cursor/rules/endpoint_testing.mdc
  .cursor/rules/endpoints.mdc
  .cursor/rules/file_structure.mdc
  .tool-versions
  contribusions.json
  examples/grpc_client_example.py
  index.html
  release-deployment-erd.md
  src/sentry/workflow_engine/migrations/0098_migrate_slow_db_query_detectors.py
  test_grpc_minimal.py
  test_grpc_request.py
  test_grpc_server.py
  test_grpc_web_client.py
  test_wsgi_direct.py
  thoughts/shared/plans/2025-11-20-scm-grpc-service.md
  thoughts/shared/research/2025-11-14-scm-grpc-comprehensive.md
Due: backend

try trace_query rpc
  src/sentry/seer/explorer/tools.py
  tests/sentry/seer/explorer/test_tools.py
Due: backend

refactor src and tests
  src/sentry/seer/explorer/tools.py
  tests/sentry/seer/explorer/test_tools.py
Due: backend

finalize w coverage
  src/sentry/seer/explorer/tools.py
  tests/sentry/seer/explorer/test_tools.py
Due: backend

rename tests
  tests/sentry/seer/explorer/test_tools.py
Due: none

docstr
  src/sentry/seer/explorer/tools.py
Due: backend

update
  src/sentry/seer/explorer/tools.py
  tests/sentry/seer/explorer/test_tools.py
Due: backend

fix(explorer): set correct thread id in metadata
  src/sentry/seer/autofix/autofix.py
  src/sentry/seer/autofix/autofix_tools.py
  src/sentry/seer/explorer/tools.py
  src/sentry/seer/explorer/utils.py
  tests/sentry/seer/autofix/test_autofix.py
  tests/sentry/seer/explorer/test_tools.py
Due: backend

typing
  src/sentry/seer/explorer/utils.py
Due: backend

:sparkles: feat: add inbound/outbound assignment & comment support for gitlab
  fixtures/gitlab.py
  src/sentry/features/temporary.py
  src/sentry/integrations/gitlab/client.py
  src/sentry/integrations/gitlab/integration.py
  src/sentry/integrations/gitlab/issue_sync.py
  src/sentry/integrations/gitlab/types.py
  src/sentry/integrations/gitlab/utils.py
  src/sentry/integrations/gitlab/webhooks.py
  src/sentry/integrations/utils/sync.py
  tests/sentry/integrations/gitlab/test_integration.py
  tests/sentry/integrations/gitlab/test_webhook.py
Due: backend

feat(explore-attrs-breakdown): Adding url persistence on absolute date queries
  static/app/components/charts/useChartXRangeSelection.tsx
  static/app/views/explore/components/attributeBreakdowns/chartSelectionContext.tsx
  static/app/views/explore/components/attributeBreakdowns/cohortComparisonContent.tsx
  static/app/views/explore/components/attributeBreakdowns/content.tsx
  static/app/views/explore/components/attributeBreakdowns/floatingTrigger.tsx
  static/app/views/explore/hooks/useAttributeBreakdownComparison.tsx
  static/app/views/explore/spans/charts/index.tsx
Due: frontend

feat(explore-attrs-breakdown): Iterating on functionality
  static/app/utils/url/urlParamBatchContext.tsx
  static/app/views/explore/components/attributeBreakdowns/chartSelectionContext.tsx
  static/app/views/explore/spans/charts/index.tsx
Due: frontend

feat(explore-attrs-breakdown): Iterating
  static/app/utils/url/urlParamBatchContext.tsx
Due: frontend

feat(explore-attrs-breakdown): Iterating
  static/app/components/charts/useChartXRangeSelection.tsx
Due: frontend

add summary, remove description from card
  static/app/views/issueList/pages/dynamicGrouping.tsx
Due: frontend

slop
  static/app/views/settings/components/dataScrubbing/modals/form/index.tsx
  static/app/views/settings/components/dataScrubbing/modals/modalManager.tsx
Due: frontend

rudimentary form
  static/app/views/settings/components/dataScrubbing/modals/form/index.tsx
  static/app/views/settings/components/dataScrubbing/modals/modalManager.tsx
  static/app/views/settings/components/dataScrubbing/types.tsx
Due: frontend

Path conditions:
  frontend: any of: static/app/
  backend: any of: src/sentry/**/*.py
  Profiling Views: any of: static/app/views/profiling/**
  Profiling Components: any of: src/sentry/static/sentry/app/components/profiling/**
  Profiling Utils: any of: src/sentry/static/sentry/app/utils/profiling/**
