Repository getsentry/sentry: changes, and which Codecov flags are due for each by the changed paths.
All: frontend, backend, Profiling Views, Profiling Components, Profiling Utils

fix(search): Fix errant selection after cmd+a and typing
  static/app/components/searchQueryBuilder/selectionKeyHandler.tsx
Due: frontend

feat(preprod): Add preprod artifact upload endpoint (#92528)
  .github/CODEOWNERS
  src/sentry/api/api_owners.py
  src/sentry/api/endpoints/chunk.py
  src/sentry/api/urls.py
  src/sentry/preprod/api/endpoints/organization_preprod_artifact_assemble.py
  src/sentry/preprod/tasks.py
  src/sentry/tasks/assemble.py
  tests/sentry/preprod/api/endpoints/test_organization_preprod_artifact_assemble.py
  tests/sentry/preprod/test_tasks.py
Due: backend

test(ui): Remove deprecated router mocks from createAlertButton
  static/app/components/createAlertButton.spec.tsx
Due: frontend

test(ui): Remove deprecated router mocks from platformOptionsControl
  static/app/components/onboarding/platformOptionsControl.spec.tsx
Due: frontend

Add distribution to suspect flags response object
  src/sentry/issues/endpoints/organization_group_suspect_flags.py
  src/sentry/issues/suspect_flags.py
  tests/sentry/issues/endpoints/test_organization_group_suspect_flags.py
Due: backend

Fix typing
  src/sentry/issues/suspect_flags.py
Due: backend

feat(trace-eap-waterfall): Adding support for sibling autogroup in eap traces
  static/app/views/performance/newTraceDetails/traceModels/__snapshots__/traceTree.autogrouping.spec.tsx.snap
  static/app/views/performance/newTraceDetails/traceModels/traceTree.autogrouping.spec.tsx
  static/app/views/performance/newTraceDetails/traceModels/traceTree.tsx
  static/app/views/performance/newTraceDetails/traceWaterfall.tsx
Due: frontend

feat(trace-eap-waterfall): Minor iteration
  static/app/views/performance/newTraceDetails/traceModels/traceTree.tsx
Due: frontend

add dynamic sampling
  static/gsAdmin/components/provisionSubscriptionAction.spec.tsx
  static/gsAdmin/components/provisionSubscriptionAction.tsx
Due: none

ref(settings): Rename auth tokens and merge nav sections
  static/app/components/sidebar/sidebarDropdown/index.tsx
  static/app/gettingStartedDocs/java/java.tsx
  static/app/gettingStartedDocs/java/log4j2.tsx
  static/app/gettingStartedDocs/java/logback.tsx
  static/app/gettingStartedDocs/java/spring-boot.tsx
  static/app/gettingStartedDocs/java/spring.tsx
  static/app/gettingStartedDocs/kotlin/kotlin.tsx
  static/app/routes.tsx
  static/app/types/hooks.tsx
  static/app/views/settings/account/apiNewToken.tsx
  static/app/views/settings/account/apiTokenDetails.tsx
  static/app/views/settings/account/apiTokens.tsx
  static/app/views/settings/account/navigationConfiguration.tsx
  static/app/views/settings/organization/navigationConfiguration.tsx
  static/app/views/settings/organization/userOrgNavigationConfiguration.tsx
  static/app/views/settings/organizationApiKeys/organizationApiKeysList.tsx
  static/app/views/settings/organizationAuthTokens/authTokenDetails.tsx
  static/app/views/settings/organizationAuthTokens/index.spec.tsx
  static/app/views/settings/organizationAuthTokens/index.tsx
  static/app/views/settings/organizationAuthTokens/newAuthToken.spec.tsx
  static/app/views/settings/organizationAuthTokens/newAuthToken.tsx
  static/app/views/settings/settingsIndex.tsx
Due: frontend

ref: bring back @types/webpack-env
  knip.config.ts
  package.json
  yarn.lock
Due: none

fix: bring back more types
  knip.config.ts
  package.json
  yarn.lock
Due: none

fix(ui): make sure button labels can overflow (#92311)
  static/app/components/core/button/index.tsx
  static/app/components/core/button/linkButton.tsx
Due: frontend

feat(onboarding): service methods and task manager refactor (fixing issue) (#92724)
  src/sentry/models/organizationonboardingtask.py
  src/sentry/onboarding_tasks/__init__.py
  src/sentry/onboarding_tasks/backends/organization_onboarding_task.py
  src/sentry/onboarding_tasks/base.py
  src/sentry/receivers/onboarding.py
  tests/acceptance/test_quick_start.py
Due: backend

feat(relay): UI settings for ingestion through trusted relays only (#92725)
  static/app/views/settings/organizationRelay/relayWrapper.tsx
Due: frontend

ref(org-token): Rename table header
  static/app/views/settings/organizationAuthTokens/index.tsx
Due: frontend

fix(ui): disabled tabs shouldn't render as links
  static/app/components/core/tabs/index.spec.tsx
  static/app/components/core/tabs/tab.tsx
Due: frontend

ref: remove spotlight dependency
  knip.config.ts
  package.json
  yarn.lock
Due: none

feat(tempest): Add endpoint for Tempest outbound IPs
  src/sentry/api/urls.py
  src/sentry/options/defaults.py
  src/sentry/tempest/endpoints/tempest_ips.py
  tests/sentry/tempest/endpoints/test_tempest_ips.py
Due: backend

fix(project-creation): Correctly display selected option
  static/app/components/modals/projectCreationModal.tsx
  static/app/views/projectInstall/createProject.spec.tsx
  static/app/views/projectInstall/createProject.tsx
Due: frontend

feat: chonkify tabs
  static/app/components/core/tabs/index.stories.tsx
  static/app/components/core/tabs/tab.chonk.tsx
  static/app/components/core/tabs/tab.tsx
  static/app/components/core/tabs/tabList.chonk.tsx
  static/app/components/core/tabs/tabList.tsx
Due: frontend

feat(agents-monitoring): add other series
  static/app/views/insights/agentMonitoring/components/llmGenerationsWidget.tsx
  static/app/views/insights/agentMonitoring/components/tokenUsageWidget.tsx
  static/app/views/insights/agentMonitoring/components/toolUsageWidget.tsx
Due: frontend

fix auto fill
  static/app/views/projectInstall/createProject.tsx
Due: frontend

feat(tempest): Add endpoint for Tempest outbound IPs (#92805)
  src/sentry/api/urls.py
  src/sentry/options/defaults.py
  src/sentry/tempest/endpoints/tempest_ips.py
  tests/sentry/tempest/endpoints/test_tempest_ips.py
Due: backend

feat(agents-monitoring): add other series (#92807)
  static/app/views/insights/agentMonitoring/components/llmGenerationsWidget.tsx
  static/app/views/insights/agentMonitoring/components/tokenUsageWidget.tsx
  static/app/views/insights/agentMonitoring/components/toolUsageWidget.tsx
Due: frontend

fix(project-creation): Correctly display selected option (#92808)
  static/app/components/modals/projectCreationModal.tsx
  static/app/views/projectInstall/createProject.spec.tsx
  static/app/views/projectInstall/createProject.tsx
Due: frontend

fix: disabled styling
  static/app/components/core/tabs/tab.chonk.tsx
Due: frontend

feat(debugger-modal): Make 'debug ID' clickable and link to settings (#92714)
  static/app/components/events/interfaces/sourceMapsDebuggerModal.tsx
Due: frontend

apply chonkInnerWrapStyles
  static/app/components/core/tabs/tab.tsx
Due: frontend

apply ChonkStyledTabSelectionIndicator
  static/app/components/core/tabs/tab.tsx
Due: frontend

feat(devserver): Enable span buffer by default
  config/relay/config.yml
  src/sentry/conf/server.py
Due: backend

fix: disabled active state
  static/app/components/core/tabs/index.stories.tsx
  static/app/components/core/tabs/tab.chonk.tsx
Due: frontend

Path conditions:
  frontend: any of: static/app/
  backend: any of: src/sentry/**/*.py
  Profiling Views: any of: static/app/views/profiling/**
  Profiling Components: any of: src/sentry/static/sentry/app/components/profiling/**
  Profiling Utils: any of: src/sentry/static/sentry/app/utils/profiling/**
