Repository getsentry/sentry: changes, and which Codecov flags are due for each by the changed paths.
All: frontend, backend, Profiling Views, Profiling Components, Profiling Utils

ref(flags): add view n more flags button to issue details section (#85471)
  static/app/components/events/featureFlags/eventFeatureFlagList.spec.tsx
  static/app/components/events/featureFlags/eventFeatureFlagList.tsx
  static/app/components/events/featureFlags/featureFlagDrawer.spec.tsx
  static/app/components/events/featureFlags/testUtils.tsx
Due: frontend

ref: remove unused AuthView.get_ident (#85553)
  src/sentry/auth/view.py
Due: backend

feat(uptime): Add `mode` column to `UptimeSubscriptionRegion` (#85563)
  migrations_lockfile.txt
  src/sentry/uptime/migrations/0026_region_mode_col.py
  src/sentry/uptime/models.py
Due: backend

ref: fix another auth provider key mismatch in tests (#85573)
  tests/sentry/web/frontend/test_organization_auth_settings.py
Due: none

feat(flags): add provider column to FlagAuditLogModel (#85515)
  src/sentry/flags/endpoints/logs.py
  src/sentry/flags/migrations/0004_add_flag_audit_log_provider_column.py
  src/sentry/flags/models.py
  src/sentry/flags/providers.py
  tests/sentry/flags/endpoints/test_hooks.py
  tests/sentry/flags/endpoints/test_logs.py
  tests/sentry/flags/providers/test_generic.py
  tests/sentry/flags/providers/test_launchdarkly.py
  tests/sentry/flags/providers/test_statsig.py
  tests/sentry/flags/providers/test_unleash.py
Due: backend

chore(metrics): Implement some hooks for the metric alert graph APIs (#85576)
  static/app/views/alerts/rules/metric/details/metricChart.tsx
  static/app/views/alerts/utils/index.tsx
  static/app/views/issueDetails/metricIssues/useMetricAnomalies.tsx
  static/app/views/issueDetails/metricIssues/useMetricEventStats.tsx
  static/app/views/issueDetails/metricIssues/useMetricIncidents.tsx
  static/app/views/issueDetails/metricIssues/useMetricSessionStats.tsx
Due: frontend

ref(insights): Use new `Widget` components for Insights line charts (#85476)
  static/app/views/insights/common/components/insightsAreaChartWidget.tsx
  static/app/views/insights/common/components/insightsLineChartWidget.tsx
  static/app/views/insights/common/components/insightsTimeSeriesWidget.tsx
Due: frontend

fix(autofix): Fix dropdown style, expand timeline step by default (#85575)
  static/app/components/events/autofix/autofixSolution.tsx
  static/app/components/events/autofix/autofixTimeline.tsx
Due: frontend

feat(nav): Add onboarding to new nav (#85429)
  static/app/components/nav/primary/components.tsx
  static/app/components/nav/primary/index.tsx
  static/app/components/nav/primary/onboarding.spec.tsx
  static/app/components/nav/primary/onboarding.tsx
  static/app/components/nav/primary/whatsNew.spec.tsx
  static/app/components/nav/primary/whatsNew.tsx
  static/app/components/onboardingWizard/useOnboardingWizardDrawer.tsx
Due: frontend

fix(uptime): Add back random check to `check_and_update_regions` (#85581)
  src/sentry/uptime/consumers/results_consumer.py
  tests/sentry/uptime/consumers/test_results_consumer.py
Due: backend

feat(aci): update detectors and workflows when RuleSnooze is updated (#85511)
  src/sentry/receivers/__init__.py
  src/sentry/receivers/rule_snooze.py
  src/sentry/workflow_engine/migration_helpers/issue_alert_migration.py
  tests/sentry/workflow_engine/migration_helpers/test_migrate_alert_rule.py
  tests/sentry/workflow_engine/migration_helpers/test_migrate_rule.py
Due: backend

ref: avoid mismatched auth.register call (#85564)
  src/sentry/testutils/cases.py
Due: backend

ref(uptime): Remove `enabled` froom UptimeRegionConfig (#85398)
  src/sentry/conf/types/uptime.py
  tests/sentry/uptime/subscriptions/test_regions.py
Due: backend

theme: add withChonk component switching mechanism (#85463)
  static/app/utils/theme/theme.chonk.tsx
  static/app/utils/theme/theme.tsx
  static/app/utils/theme/useChonkTheme.tsx
  static/app/utils/theme/withChonk.spec.tsx
  static/app/utils/theme/withChonk.tsx
Due: frontend

feat(explore): Add delete function token button (#85577)
  static/app/components/arithmeticBuilder/token/function.tsx
  static/app/components/arithmeticBuilder/token/index.spec.tsx
  static/app/components/arithmeticBuilder/token/index.tsx
Due: frontend

ref: register fly provider in tests with its proper id (#85566)
  tests/sentry/api/endpoints/test_organization_auth_providers.py
Due: none

ref(autofix): Solution timeline event alignment (#85579)
  static/app/components/events/autofix/autofixSolution.tsx
  static/app/components/events/autofix/autofixTimeline.tsx
  static/app/components/events/autofix/types.ts
Due: frontend

ref: remove unneeded auth_provider context (#85568)
  src/sentry/testutils/cases.py
  src/sentry/testutils/helpers/__init__.py
  src/sentry/testutils/helpers/auth_providers.py
  tests/sentry/tasks/test_check_auth.py
Due: backend

fix(dashboards): Handle series colours in `TimeSeriesWidgetVisualization` (#85561)
  static/app/views/dashboards/widgets/common/types.tsx
  static/app/views/dashboards/widgets/timeSeriesWidget/isTimeSeriesOther.spec.tsx
  static/app/views/dashboards/widgets/timeSeriesWidget/isTimeSeriesOther.tsx
  static/app/views/dashboards/widgets/timeSeriesWidget/timeSeriesWidgetVisualization.tsx
  tests/js/fixtures/timeSeries.ts
Due: frontend

feat(insights): Add count_(publish|process) and avg_if_(publish|process) functions in span metrics discover dataset (#85492)
  src/sentry/search/events/constants.py
  src/sentry/search/events/datasets/spans_metrics.py
  src/sentry/utils/snuba.py
  tests/snuba/api/endpoints/test_organization_events_span_metrics.py
Due: backend

ref(metrics): Simplify helper for extra query params (#85496)
  static/app/views/alerts/rules/metric/details/metricChart.tsx
  static/app/views/alerts/rules/metric/triggers/chart/index.tsx
  static/app/views/alerts/rules/metric/utils/getMetricDatasetQueryExtras.tsx
  static/app/views/alerts/wizard/options.tsx
Due: frontend

feat(grouping): Unreal Engine enhancer rules (#85475)
  src/sentry/grouping/enhancer/enhancement-configs/newstyle@2023-01-11.txt
  tests/sentry/grouping/snapshots/test_grouphash_metadata/test_metadata_from_variants/newstyle@2023_01_11/unreal_assertion_check_fail_android.pysnap
  tests/sentry/grouping/snapshots/test_grouphash_metadata/test_metadata_from_variants/newstyle@2023_01_11/unreal_assertion_check_fail_on_windows.pysnap
  tests/sentry/grouping/snapshots/test_grouphash_metadata/test_metadata_from_variants/newstyle@2023_01_11/unreal_ensure_check_fail_on_windows.pysnap
  tests/sentry/grouping/snapshots/test_grouphash_metadata/test_metadata_from_variants/newstyle@2023_01_11/unreal_event_capture_mac.pysnap
  tests/sentry/grouping/snapshots/test_variants/test_event_hash_variant/newstyle@2023_01_11/actix.pysnap
  tests/sentry/grouping/snapshots/test_variants/test_event_hash_variant/newstyle@2023_01_11/unreal_assertion_check_fail_android.pysnap
  tests/sentry/grouping/snapshots/test_variants/test_event_hash_variant/newstyle@2023_01_11/unreal_assertion_check_fail_on_windows.pysnap
  tests/sentry/grouping/snapshots/test_variants/test_event_hash_variant/newstyle@2023_01_11/unreal_ensure_check_fail_on_windows.pysnap
  tests/sentry/grouping/snapshots/test_variants/test_event_hash_variant/newstyle@2023_01_11/unreal_event_capture_mac.pysnap
Due: none

fix(laravel-insights): Format yAxis labels & repair layout (#85532)
  static/app/views/insights/pages/backend/laravelOverviewPage.tsx
Due: frontend

stories: fix sidebar overlap and tree search (#85603)
  static/app/stories/storyBook.tsx
  static/app/views/stories/index.tsx
  static/app/views/stories/storyTree.tsx
Due: frontend

feat(quick-start): Add more instrumentation to further investigate an issue (#85525)
  src/sentry/models/organizationonboardingtask.py
Due: backend

:recycle: ref(metric alerts): use typed dict return types for attachment_info functions (#85498)
  src/sentry/integrations/discord/message_builder/metric_alerts.py
  src/sentry/integrations/metric_alerts.py
  src/sentry/integrations/msteams/card_builder/incident_attachment.py
  src/sentry/integrations/slack/message_builder/incidents.py
  tests/sentry/integrations/discord/test_message_builder.py
  tests/sentry/integrations/test_metric_alerts.py
Due: backend

ref(lint): overwrite default rules of eslint-plugin-import correctly (#85550)
  eslint.config.mjs
  static/app/views/issueDetails/streamline/header/issueIdBreadcrumb.tsx
Due: frontend

fix(issue-views): Fix weird behavior with views when sidebar is collapsed (#85516)
  static/app/components/nav/context.tsx
  static/app/components/nav/index.tsx
  static/app/components/nav/issueViews/issueViewNavEllipsisMenu.tsx
  static/app/components/nav/issueViews/issueViewNavItemContent.tsx
  static/app/components/nav/secondary.tsx
  static/app/components/nav/sidebar.tsx
  static/app/views/issues/navigation.tsx
Due: frontend

fix(demo-mode): use DemoSafePermission class (#85444)
  src/sentry/api/bases/organization.py
  src/sentry/api/permissions.py
  src/sentry/sentry_apps/api/endpoints/sentry_app_rotate_secret.py
  src/sentry/users/api/bases/user.py
  src/sentry/users/api/endpoints/user_ips.py
  tests/sentry/api/test_permissions.py
  tests/sentry/users/api/bases/test_user.py
  tests/sentry/users/api/endpoints/test_user_ips.py
Due: backend

Updated ChonkUI Color Values (#85618)
  static/app/utils/theme/theme.chonk.tsx
Due: frontend

ref(alerts): Prevent users from creating on-demand alerts above defined threshold (#85224)
  static/app/components/alerts/onDemandMetricAlert.tsx
  static/app/views/alerts/rules/metric/onDemandThresholdChecker.tsx
  static/app/views/alerts/rules/metric/ruleConditionsForm.tsx
  static/app/views/alerts/rules/metric/ruleForm.tsx
Due: frontend

feat(uptime): Add new option for changing the mode regions run in. (#85585)
  src/sentry/options/defaults.py
Due: backend

feat(uptime): Group stats by incident status (#85587)
  src/sentry/uptime/endpoints/organization_uptime_stats.py
  tests/sentry/uptime/endpoints/test_organization_uptime_stats.py
Due: backend

fix(tests): Fix flaky `SymbolicatorResolvingIntegrationTest.test_missing_dsym` (#85584)
  src/sentry/testutils/fixtures.py
Due: backend

feat(context): implement `spring` platform context (#85348)
  static/app/components/events/contexts/platformContext/spring.spec.tsx
  static/app/components/events/contexts/platformContext/spring.tsx
  static/app/components/events/contexts/platformContext/utils.tsx
Due: frontend

ref(insights): Use standard widgets for Laravel landing page (#85599)
  static/app/views/insights/common/components/insightsBarChartWidget.tsx
  static/app/views/insights/common/components/insightsTimeSeriesWidget.tsx
  static/app/views/insights/pages/backend/laravelOverviewPage.tsx
Due: frontend

chore(issue-details): Update opt-in button (#85500)
  static/app/views/issueDetails/actions/newIssueExperienceButton.tsx
Due: frontend

fix(aci): handle cases found in dry run (#85600)
  src/sentry/workflow_engine/migration_helpers/issue_alert_conditions.py
  src/sentry/workflow_engine/migration_helpers/issue_alert_migration.py
  tests/sentry/workflow_engine/handlers/condition/test_issue_category_handler.py
  tests/sentry/workflow_engine/handlers/condition/test_level_handler.py
  tests/sentry/workflow_engine/migration_helpers/test_migrate_rule.py
Due: backend

feat(issue-views): Add URL reactivity, most navigation logic, and ellipsis menu functionality (#85505)
  static/app/components/nav/issueViews/issueViewNavEditableTitle.tsx
  static/app/components/nav/issueViews/issueViewNavEllipsisMenu.tsx
  static/app/components/nav/issueViews/issueViewNavItemContent.tsx
  static/app/components/nav/issueViews/issueViewNavItems.tsx
  static/app/components/nav/issueViews/issueViewProjectIcons.tsx
  static/app/routes.tsx
  static/app/views/issueList/issueViewsHeaderPF.tsx
  static/app/views/issueList/overview.tsx
  static/app/views/issues/navigation.tsx
Due: frontend

fix(nav): Fix icon color in light mode (#85595)
  static/app/components/nav/primary/components.tsx
Due: frontend

Path conditions:
  frontend: any of: static/app/
  backend: any of: src/sentry/**/*.py
  Profiling Views: any of: static/app/views/profiling/**
  Profiling Components: any of: src/sentry/static/sentry/app/components/profiling/**
  Profiling Utils: any of: src/sentry/static/sentry/app/utils/profiling/**
