Repository getsentry/sentry: changes, and which Codecov flags are due for each by the changed paths.
All: frontend, backend, Profiling Views, Profiling Components, Profiling Utils

fix
  src/sentry/api/endpoints/bundle_analysis.py
Due: backend

fix typing
  src/sentry/notifications/notifications/strategies/role_based_recipient_strategy.py
Due: backend

remove get_teams_with_org_roles
  src/sentry/api/endpoints/organization_member/index.py
  src/sentry/auth/access.py
  src/sentry/models/organization.py
  src/sentry/models/organizationmember.py
  src/sentry/notifications/notifications/strategies/role_based_recipient_strategy.py
  src/sentry/receivers/owners.py
  tests/sentry/api/endpoints/test_accept_project_transfer.py
  tests/sentry/api/endpoints/test_organization_index.py
  tests/sentry/api/endpoints/test_organization_member_index.py
  tests/sentry/api/endpoints/test_project_transfer.py
  tests/sentry/integrations/slack/test_link_team.py
  tests/sentry/models/test_organization.py
  tests/sentry/models/test_organizationmember.py
  tests/sentry/models/test_team.py
  tests/sentry/tasks/test_commits.py
Due: backend

ci
  src/sentry/runner/commands/devservices.py
Due: backend

remove test for org option in open_pr_comment_workflow
  tests/sentry/tasks/integrations/github/test_open_pr_comment.py
Due: none

ref: use add_conditions
  src/sentry/api/endpoints/organization_events_trace.py
Due: backend

chore(trace): Default load more
  src/sentry/api/endpoints/organization_events_trace.py
Due: backend

fix regex
  src/sentry/api/endpoints/bundle_analysis.py
  tests/sentry/api/endpoints/test_bundle_analysis.py
Due: backend

fix(hybridcloud) Don't retry 400 or 401 responses (#65716)
  src/sentry/hybridcloud/tasks/deliver_webhooks.py
  tests/sentry/hybridcloud/tasks/test_deliver_webhooks.py
Due: backend

ref: Add trace hack
  src/sentry/api/endpoints/organization_events_trace.py
Due: backend

ref: add tag
  src/sentry/api/endpoints/organization_events_trace.py
Due: backend

Include stack info
  src/sentry/models/auditlogentry.py
Due: backend

fix(ingest): Add workaround for stuck project counters (#65655)
  src/sentry/event_manager.py
  tests/sentry/models/test_projectcounter.py
Due: backend

ref(weekly reports): Filter only perf issues on issue platform dataset
  src/sentry/tasks/summaries/utils.py
  tests/sentry/tasks/test_weekly_reports.py
Due: backend

ref: add more comments
  src/sentry/api/endpoints/organization_events_trace.py
Due: backend

fix: ensure docker cli context (#65671)
  src/sentry/runner/commands/devservices.py
Due: backend

feat(trace): Improve perf, add more instrumentation (#65707)
  src/sentry/api/endpoints/organization_events_trace.py
  tests/snuba/api/endpoints/test_organization_events_trace.py
Due: backend

feat(trace): render web vitals indicators
  static/app/views/performance/newTraceDetails/traceTree.tsx
Due: frontend

add invalid bundle_name
  src/sentry/api/endpoints/bundle_analysis.py
  tests/sentry/api/endpoints/test_bundle_analysis.py
Due: backend

feat(trace): extend trace bounds when rendered measurement falls outside of view
  static/app/views/performance/newTraceDetails/traceTree.tsx
Due: frontend

Add custom replay paginator
  src/sentry/replays/endpoints/organization_replay_index.py
  src/sentry/replays/query.py
  src/sentry/replays/usecases/query/__init__.py
  tests/sentry/replays/test_organization_replay_index.py
Due: backend

feat(trace): better space computations
  static/app/views/performance/newTraceDetails/trace.tsx
  static/app/views/performance/newTraceDetails/traceTree.tsx
  static/app/views/performance/newTraceDetails/virtualizedViewManager.spec.tsx
  static/app/views/performance/newTraceDetails/virtualizedViewManager.tsx
Due: frontend

feat(tracing): fix zooming
  static/app/views/performance/newTraceDetails/trace.tsx
  static/app/views/performance/newTraceDetails/virtualizedViewManager.tsx
Due: frontend

fix(trace-view): restoring detailed param for old trace query.
  static/app/utils/performance/quickTrace/traceFullQuery.spec.tsx
  static/app/utils/performance/quickTrace/traceFullQuery.tsx
  static/app/views/performance/newTraceDetails/index.tsx
  static/app/views/performance/traceDetails/index.tsx
Due: frontend

fix superuser and staff handling user set as None on request
  src/sentry/auth/staff.py
  src/sentry/auth/superuser.py
Due: backend

remove other refs to experimental
  src/sentry/utils/sdk.py
Due: backend

fix(auditlog) Use logging to capture more context on bad auditlogs (#65717)
  src/sentry/models/auditlogentry.py
Due: backend

Added consts for slash and backslash
  src/sentry/api/endpoints/project_repo_path_parsing.py
Due: backend

chore: Add option for double write sample rate (#65718)
  src/sentry/options/defaults.py
Due: backend

feat(trace) Fixed param usage.
  static/app/utils/performance/quickTrace/traceFullQuery.spec.tsx
  static/app/utils/performance/quickTrace/traceFullQuery.tsx
  static/app/views/performance/newTraceDetails/index.tsx
  static/app/views/performance/traceDetails/index.tsx
Due: frontend

chore(staff): Let staff access proj details + statsv2 endpoint (#65405)
  src/sentry/api/bases/organization.py
  src/sentry/api/endpoints/organization_stats_v2.py
  src/sentry/api/endpoints/project_details.py
  src/sentry/auth/staff.py
  src/sentry/auth/superuser.py
  tests/sentry/api/endpoints/test_project_details.py
  tests/snuba/api/endpoints/test_organization_stats_v2.py
Due: backend

feat(feedback): Include replay_id in feedback tags
  static/app/components/feedback/hydrateEventTags.tsx
Due: frontend

Path conditions:
  frontend: any of: static/app/
  backend: any of: src/sentry/**/*.py
  Profiling Views: any of: static/app/views/profiling/**
  Profiling Components: any of: src/sentry/static/sentry/app/components/profiling/**
  Profiling Utils: any of: src/sentry/static/sentry/app/utils/profiling/**
