Repository getsentry/sentry: changes, and which Codecov flags are due for each by the changed paths.
All: frontend, backend, Profiling Views, Profiling Components, Profiling Utils

ref(events): Use RevealOnHover for feature flag actions
  static/app/components/events/featureFlags/eventFeatureFlagSection.tsx
  static/app/components/events/featureFlags/flagActionDropdown.tsx
Due: frontend

ref(logs): drop the other-year timestamp width handling
  static/app/views/explore/logs/tables/logsInfiniteTable.tsx
  static/app/views/explore/logs/tables/useLogsTableColumnWidths.spec.tsx
  static/app/views/explore/logs/tables/useLogsTableColumnWidths.tsx
Due: frontend

ref(events): Style screenshot viewers directly
  static/app/components/events/attachmentViewers/videoViewer.tsx
  static/app/components/events/eventTagsAndScreenshot/screenshot/index.tsx
Due: frontend

lil comments
  static/app/views/explore/logs/tables/logsInfiniteTable.tsx
Due: frontend

ref(autofix): Resolve the organization from the run in autofix retry
  src/sentry/seer/endpoints/admin_autofix_retry.py
  tests/sentry/seer/endpoints/test_admin_autofix_retry.py
Due: backend

feat(issues): Render ANSI colors in breadcrumb messages
  static/app/components/events/breadcrumbs/breadcrumbItemContent.spec.tsx
  static/app/components/events/breadcrumbs/breadcrumbItemContent.tsx
  static/app/components/events/interfaces/breadcrumbs/index.spec.tsx
  static/app/components/events/interfaces/breadcrumbs/index.tsx
Due: frontend

fix(issues): Strip ANSI codes from copied and exported issue text
  static/app/components/events/breadcrumbs/copyBreadcrumbs.spec.tsx
  static/app/components/events/breadcrumbs/copyBreadcrumbs.tsx
  static/app/components/events/interfaces/crashContent/exception/rawContent.tsx
  static/app/components/events/interfaces/crashContent/stackTrace/rawContent.spec.tsx
  static/app/components/events/interfaces/crashContent/stackTrace/rawContent.tsx
  static/app/components/stackTrace/issueStackTrace/index.spec.tsx
  static/app/utils/getStacktraceBody.spec.tsx
  static/app/utils/getStacktraceBody.tsx
  static/app/views/issueDetails/hooks/useCopyIssueDetails.spec.tsx
  static/app/views/issueDetails/hooks/useCopyIssueDetails.tsx
Due: frontend

feat(issues): Render ANSI colors in issue titles and messages
  static/app/components/events/eventMessage.spec.tsx
  static/app/components/events/eventMessage.tsx
  static/app/components/groupTitle.spec.tsx
  static/app/components/groupTitle.tsx
  static/app/views/issueDetails/actions/index.tsx
  static/app/views/issueDetails/groupDetails.spec.tsx
  static/app/views/issueDetails/groupDetails.tsx
  static/app/views/issueDetails/header/header.spec.tsx
  static/app/views/issueDetails/header/header.tsx
  static/app/views/issueList/pages/inbox/index.tsx
  static/app/views/issueList/pages/inbox/issuePreview/issuePreview.tsx
Due: frontend

feat(issues): Render ANSI colors in related exception labels
  static/app/components/events/interfaces/crashContent/exception/relatedExceptions.spec.tsx
  static/app/components/events/interfaces/crashContent/exception/relatedExceptions.tsx
  static/app/components/stackTrace/exceptionGroup.spec.tsx
  static/app/components/stackTrace/exceptionGroup.tsx
Due: frontend

ref(admin): Drop organization ID from the autofix retry form
  static/gsAdmin/views/seerAdminPage.spec.tsx
  static/gsAdmin/views/seerAdminPage.tsx
Due: none

ref(tables): extract useEventViewTable for the eventView table family (#124910)
  static/app/utils/discover/getEventViewColumnSort.tsx
  static/app/views/discover/table/tableView.tsx
  static/app/views/discover/table/useEventViewTable.spec.tsx
  static/app/views/discover/table/useEventViewTable.tsx
  static/app/views/insights/pages/backend/am1BackendOverviewPage.tsx
  static/app/views/insights/pages/frontend/am1OverviewPage.tsx
  static/app/views/insights/pages/mobile/am1OverviewPage.tsx
  static/app/views/issueDetails/eventList.tsx
  static/app/views/performance/table.tsx
  static/app/views/performance/transactionSummary/transactionEvents/eventsTable.spec.tsx
  static/app/views/performance/transactionSummary/transactionEvents/eventsTable.tsx
Due: frontend

ref(events): Use Container props for screenshot viewer
  static/app/components/events/eventTagsAndScreenshot/screenshot/index.tsx
Due: frontend

ref(events): Use Container for feature flag empty state
  static/app/components/events/featureFlags/eventFeatureFlagSection.tsx
Due: frontend

Fix warning text
  src/sentry/utils/sdk.py
Due: backend

ref(events): Use Text for feature flag result
  static/app/components/events/featureFlags/eventFeatureFlagSection.tsx
Due: frontend

fix(replays): ignore rrweb's playback delay when comparing rebuilt frames
  static/app/components/replays/replayContext.spec.tsx
  static/app/components/replays/replayContext.tsx
Due: frontend

ref(events): Simplify feature flag empty state and action styles
  static/app/components/events/featureFlags/eventFeatureFlagSection.tsx
  static/app/components/events/featureFlags/flagActionDropdown.tsx
Due: frontend

fix(ingest): Gate transaction Redis deletion tracking on cache key
  src/sentry/tasks/store.py
  tests/sentry/tasks/test_store.py
Due: backend

fix(issues): Respect retention in boolean event navigation
  src/sentry/services/eventstore/snuba/backend.py
  tests/snuba/api/endpoints/test_group_event_details.py
Due: backend

fix(ingest): Fix inline payload test typing
  tests/sentry/tasks/test_gpu_crash.py
  tests/sentry/tasks/test_store.py
  tests/sentry/test_reprocessing2.py
Due: none

ref(events): Simplify feature flag button and banner spacing
  static/app/components/events/eventTags/eventTagCustomBanner.tsx
  static/app/components/events/featureFlags/flagActionDropdown.tsx
Due: frontend

fix(events): Merge feature flag trigger layout props
  static/app/components/events/featureFlags/flagActionDropdown.tsx
Due: frontend

perf(issues): Stop exposing backend-only visibility flags
  src/sentry/issues/grouptype.py
  tests/sentry/issues/test_grouptype.py
Due: backend

fix(discover): Use structuredClone in EventView URL builders
  static/app/utils/discover/eventView.tsx
Due: frontend

ref(autofix): Remove comment from autofix retry endpoint
  src/sentry/seer/endpoints/admin_autofix_retry.py
Due: backend

fix(search): Defer submission when selecting logic tokens
  static/app/components/searchQueryBuilder/index.spec.tsx
  static/app/components/searchQueryBuilder/tokens/freeText.tsx
Due: frontend

fix(auth): Scope IdP migration verification to issuing organization
  src/sentry/auth/helper.py
  src/sentry/auth/idpmigration.py
  tests/sentry/auth/test_helper.py
Due: backend

ref(issues): Remove the query-injection settings gate
  static/app/views/settings/projectPerformance/detectors/detectorFieldGroups.tsx
  static/app/views/settings/projectPerformance/projectPerformance.spec.tsx
Due: frontend

fix(ingest): Log attachment key when chunks are missing
  src/sentry/event_manager.py
Due: backend

test(router): Cover browser navigation with both router versions
  static/app/router/reactRouter.spec.tsx
  tests/js/sentry-test/reactTestingLibrary.tsx
Due: frontend

ci(frontend): Run Jest against React Router v6 and v8
  .github/file-filters.yml
  .github/workflows/frontend.yml
  .github/workflows/scripts/jest-test-config.sh
Due: none

chore(router): Enforce shared router imports and document selection
  oxlint.config.ts
  static/AGENTS.md
Due: none

ref(issues): Consolidate completed and shared rollout gates
  src/sentry/features/temporary.py
  src/sentry/issues/grouptype.py
  src/sentry/preprod/size_analysis/grouptype.py
  tests/sentry/issues/test_grouptype.py
Due: backend

ref(autofix): Move run step and group helpers to autofix_agent
  src/sentry/seer/autofix/autofix_agent.py
  src/sentry/seer/autofix/on_completion_hook.py
  src/sentry/seer/endpoints/admin_autofix_retry.py
  tests/sentry/seer/autofix/test_autofix_on_completion_hook.py
Due: backend

ref(issues): Remove unused detector settings context
  static/app/views/settings/projectPerformance/detectors/detectorFieldGroups.tsx
  static/app/views/settings/projectPerformance/index.tsx
Due: frontend

chore(issues): Retire obsolete rollout registrations
  src/sentry/features/temporary.py
Due: backend

Coerce null max_retries to 0 rather than 3
  src/sentry/net/http.py
Due: backend

ci(frontend): Keep scheduled Jest balancing on React Router v6
  .github/workflows/frontend.yml
  .github/workflows/jest-balance.yml
  .github/workflows/scripts/jest-test-config.sh
Due: none

fix(auth): Scope IdP migration verification to issuing organization (#126326)
  src/sentry/auth/helper.py
  src/sentry/auth/idpmigration.py
  tests/sentry/auth/test_helper.py
Due: backend

Path conditions:
  frontend: any of: static/app/
  backend: any of: src/sentry/**/*.py
  Profiling Views: any of: static/app/views/profiling/**
  Profiling Components: any of: src/sentry/static/sentry/app/components/profiling/**
  Profiling Utils: any of: src/sentry/static/sentry/app/utils/profiling/**
