Repository getsentry/sentry: changes, and which Codecov flags are due for each by the changed paths.
All: frontend, backend, Profiling Views, Profiling Components, Profiling Utils

fix imports
  static/app/views/releases/thresholdsList/index.tsx
Due: frontend

add tooltips
  static/app/views/performance/browser/resources/resourceSummaryPage/index.tsx
  static/app/views/performance/browser/resources/resourceSummaryPage/resourceInfo.tsx
Due: frontend

passing test
  src/sentry/tasks/statistical_detectors.py
  tests/sentry/tasks/test_statistical_detectors.py
Due: backend

give transactions query its own referrer
  src/sentry/snuba/referrer.py
  src/sentry/tasks/statistical_detectors.py
Due: backend

ref(hybrid-cloud): Add DO_NOTHING for HCFKs and shift scopes for replication update (#57993)
  src/sentry/db/models/fields/hybrid_cloud_foreign_key.py
  src/sentry/models/integrations/integration.py
  src/sentry/models/outbox.py
  src/sentry/tasks/deletion/hybrid_cloud.py
  tests/sentry/tasks/deletion/test_hybrid_cloud.py
Due: backend

feat(sdk): Upgrade `@sentry` SDKs to v7.74.1
  package.json
  yarn.lock
Due: none

feat(stats-detector-tags-navigation): Changed navigation target. (#58356)
  static/app/views/issueDetails/groupTags.spec.tsx
  static/app/views/issueDetails/groupTags.tsx
Due: frontend

ensure we error when no teams pop up
  src/sentry/integrations/slack/views/link_team.py
  tests/sentry/integrations/slack/test_link_team.py
Due: backend

remove redundant cast
  src/sentry/tasks/statistical_detectors.py
Due: backend

Revert revert resolve threshold index (#58371)
  static/app/views/releases/list/index.tsx
  static/app/views/releases/thresholdsList/index.tsx
  static/app/views/releases/thresholdsList/thresholdGroupRow.tsx
  static/app/views/releases/utils/useFetchThresholdsListData.tsx
Due: frontend

feat(starfish): Make screen load charts bar charts
  static/app/views/starfish/views/screens/index.tsx
  static/app/views/starfish/views/screens/screensTable.tsx
Due: frontend

fix(profiling): mark extension frames as non application
  static/app/utils/profiling/frame.spec.tsx
  static/app/utils/profiling/frame.tsx
Due: frontend

feat(mep): Add dataset reason to meta (#58343)
  src/sentry/api/bases/organization_events.py
  src/sentry/snuba/discover.py
  src/sentry/snuba/metrics_enhanced_performance.py
Due: backend

feat(browser-starfish): add tooltips for resource info (#58374)
  static/app/views/performance/browser/resources/resourceSummaryPage/index.tsx
  static/app/views/performance/browser/resources/resourceSummaryPage/resourceInfo.tsx
Due: frontend

feat(stat-detectors): Add hook to query replays for issue samples
  static/app/components/events/eventStatisticalDetector/eventComparison/eventDisplay.tsx
  static/app/views/issueDetails/groupReplays/useReplaysForRegressionIssue.spec.tsx
  static/app/views/issueDetails/groupReplays/useReplaysForRegressionIssue.tsx
Due: frontend

make timeseries query window an option
  src/sentry/options/defaults.py
  src/sentry/tasks/statistical_detectors.py
Due: backend

remove volo's notes
  snql_queries.txt
Due: none

fix: quantile selection
  static/app/components/profiling/flamegraph/aggregateFlamegraph.tsx
Due: frontend

feat(sdk): Upgrade `@sentry` SDKs to v7.74.1 (#58375)
  package.json
  yarn.lock
Due: none

ref(tsc): Convert GroupTags to FC and useApiQuery (#58339)
  static/app/actionCreators/group.tsx
  static/app/views/issueDetails/groupTags.spec.tsx
  static/app/views/issueDetails/groupTags.tsx
Due: frontend

new Date() automatically gives us the current date
  static/app/views/issueDetails/groupReplays/useReplaysForRegressionIssue.spec.tsx
  static/app/views/issueDetails/groupReplays/useReplaysForRegressionIssue.tsx
Due: frontend

feat(starfish): Match screen indicator colour to chart
  static/app/views/starfish/modules/mobile/pageload.tsx
  static/app/views/starfish/views/screens/index.tsx
  static/app/views/starfish/views/screens/screensTable.tsx
Due: frontend

update the getExactDuration formatter
  static/app/utils/formatters.spec.tsx
  static/app/utils/formatters.tsx
Due: frontend

ref: add device class to the other datasets too
  src/sentry/search/events/datasets/field_aliases.py
  src/sentry/search/events/datasets/filter_aliases.py
  src/sentry/search/events/datasets/metrics.py
  src/sentry/search/events/datasets/spans_indexed.py
  src/sentry/search/events/datasets/spans_metrics.py
  tests/snuba/api/endpoints/test_organization_events_mep.py
  tests/snuba/api/endpoints/test_organization_events_span_metrics.py
Due: backend

match colours
  static/app/views/starfish/views/screens/index.tsx
  static/app/views/starfish/views/screens/screensTable.tsx
Due: frontend

update args notes
  static/app/utils/formatters.tsx
Due: frontend

fix(profiling): fix bad query and update wording
  static/app/components/profiling/profileEventsTable.tsx
  static/app/utils/profiling/hooks/useAggregateFlamegraphQuery.ts
  static/app/views/profiling/profileSummary/index.tsx
  static/app/views/profiling/profileSummary/slowestProfileFunctions.tsx
Due: frontend, Profiling Views

update docstring
  static/app/utils/formatters.tsx
Due: frontend

type the arg
  static/app/utils/formatters.tsx
Due: frontend

🪦 process tombstones
  src/sentry/receivers/outbox/control.py
  src/sentry/receivers/outbox/region.py
Due: backend

type it better
  static/app/utils/formatters.tsx
Due: frontend

fix(hybridcloud) Fix a queue silo assignment
  src/sentry/tasks/deletion/hybrid_cloud.py
Due: backend

ref(stacktrace): Remove feature flag (#58344)
  static/app/components/events/interfaces/crashContent/stackTrace/content.spec.tsx
  static/app/components/events/interfaces/crashContent/stackTrace/nativeContent.spec.tsx
  static/app/components/events/interfaces/frame/deprecatedLine.tsx
  static/app/components/events/interfaces/nativeFrame.tsx
Due: frontend

Path conditions:
  frontend: any of: static/app/
  backend: any of: src/sentry/**/*.py
  Profiling Views: any of: static/app/views/profiling/**
  Profiling Components: any of: src/sentry/static/sentry/app/components/profiling/**
  Profiling Utils: any of: src/sentry/static/sentry/app/utils/profiling/**
