Repository getsentry/sentry: changes, and which Codecov flags are due for each by the changed paths.
All: frontend, backend, Profiling Views, Profiling Components, Profiling Utils

Path conditions:
  frontend: any of: static/app/
  backend: any of: src/sentry/**/*.py
  Profiling Views: any of: static/app/views/profiling/**
  Profiling Components: any of: src/sentry/static/sentry/app/components/profiling/**
  Profiling Utils: any of: src/sentry/static/sentry/app/utils/profiling/**

feat(explore): Polishing table fields and styles (#78690)
  static/app/views/explore/components/table.tsx
  static/app/views/explore/tables/aggregatesTable.tsx
  static/app/views/explore/tables/fieldRenderer.spec.tsx
  static/app/views/explore/tables/fieldRenderer.tsx
  static/app/views/explore/tables/spansTable.tsx
Due: frontend

feat(explore): Make numeric values queryable in explore (#78786)
  static/app/views/explore/components/typeBadge.tsx
  static/app/views/explore/contexts/spanTagsContext.tsx
  static/app/views/explore/hooks/useResultsMode.spec.tsx
  static/app/views/explore/hooks/useSampleFields.spec.tsx
  static/app/views/explore/hooks/useSampleFields.tsx
  static/app/views/explore/tables/columnEditorModal.spec.tsx
  static/app/views/explore/tables/columnEditorModal.tsx
  static/app/views/explore/tables/index.tsx
  static/app/views/explore/tables/spansTable.tsx
  static/app/views/explore/toolbar/index.spec.tsx
  static/app/views/explore/toolbar/toolbarGroupBy.tsx
  static/app/views/explore/toolbar/toolbarSortBy.tsx
  static/app/views/explore/toolbar/toolbarVisualize.tsx
Due: frontend

chore(db): Split DB and state for removing `Group.score` column (#78845)
  migrations_lockfile.txt
  src/sentry/buffer/base.py
  src/sentry/event_manager.py
  src/sentry/migrations/0774_drop_group_score_in_state_only.py
  src/sentry/models/group.py
  src/sentry/tasks/unmerge.py
  src/sentry/testutils/cases.py
  tests/snuba/tasks/test_unmerge.py
Due: backend

ref(monitors): Remove icon from owner filter (#77973)
  static/app/views/monitors/components/ownerFilter.tsx
  static/app/views/monitors/overview.spec.tsx
Due: frontend

ref(replay): remove explicit tags[] bracket from tag panel links (#78436)
  static/app/views/replays/detail/tagPanel/index.spec.tsx
  static/app/views/replays/detail/tagPanel/index.tsx
Due: frontend

ref(rr6): Remove exports on some legacy router types (#78856)
  static/app/types/legacyReactRouter.tsx
Due: frontend

chore(alerts): Add 'adopted' to latest adopted release filter text (#78859)
  src/sentry/rules/filters/latest_adopted_release_filter.py
  static/app/views/alerts/rules/issue/index.spec.tsx
  tests/js/fixtures/projectAlertRuleConfiguration.ts
Due: frontend, backend

ref: fix typing for similarity.features (#78844)
  pyproject.toml
  src/sentry/similarity/features.py
Due: backend

fix(copilot): Limit number of action buttons, change PR url (#78821)
  src/sentry/integrations/github/tasks/pr_comment.py
Due: backend

fix(issues): Fix timer name (#78874)
  src/sentry/models/projectownership.py
Due: backend

feat(alerts): add flag for new condition (#78865)
  src/sentry/features/temporary.py
Due: backend

ref(mediators): Convert AlertRuleActionRequester to dataclass (#78559)
  src/sentry/mediators/alert_rule_actions/creator.py
  src/sentry/mediators/external_requests/__init__.py
  src/sentry/mediators/external_requests/alert_rule_action_requester.py
  src/sentry/mediators/external_requests/issue_link_requester.py
  src/sentry/mediators/external_requests/select_requester.py
  src/sentry/sentry_apps/external_requests/alert_rule_action_requester.py
  src/sentry/sentry_apps/external_requests/utils.py
  tests/sentry/sentry_apps/external_requests/test_alert_rule_action_requester.py
Due: backend

feat(uptime): Send timeoutMs value as hidden field (#78782)
  static/app/views/alerts/rules/uptime/uptimeAlertForm.tsx
Due: frontend

ref(uptime): Make subscription unique on timeout as well (#78787)
  migrations_lockfile.txt
  src/sentry/uptime/migrations/0017_unique_on_timeout.py
  src/sentry/uptime/models.py
Due: backend

ref: bump snuba-sdk to 3.0.43 (#78877)
  requirements-base.txt
  requirements-dev-frozen.txt
  requirements-frozen.txt
Due: none

chore(db): revert-revert - Split DB and state for removing Group.score column (#78880)
  migrations_lockfile.txt
  src/sentry/buffer/base.py
  src/sentry/event_manager.py
  src/sentry/migrations/0774_drop_group_score_in_state_only.py
  src/sentry/models/group.py
  src/sentry/tasks/unmerge.py
  src/sentry/testutils/cases.py
  tests/snuba/tasks/test_unmerge.py
Due: backend

fix(discovery): stricter permission check when saved queries cover all/my projects (#78830)
  src/sentry/discover/endpoints/bases.py
  tests/snuba/api/endpoints/test_discover_saved_query_detail.py
Due: backend

feat(spans): Handle numeric tags in aggregates (#78798)
  src/sentry/search/events/fields.py
  tests/snuba/api/endpoints/test_organization_events_span_indexed.py
Due: backend

feat(wizard-ui): Autofocus org select (#78895)
  static/app/components/compactSelect/control.tsx
  static/app/views/setupWizard/index.tsx
Due: frontend

feature(sourcemaps): remove old sourcemap views (#78616)
  static/app/routes.tsx
  static/app/views/releases/detail/overview/sidebar/projectReleaseDetails.tsx
  static/app/views/settings/projectSourceMaps/debugIdBundleDeleteButton.tsx
  static/app/views/settings/projectSourceMaps/debugIdBundleDetails.tsx
  static/app/views/settings/projectSourceMaps/debugIdBundleList.tsx
  static/app/views/settings/projectSourceMaps/index.tsx
  static/app/views/settings/projectSourceMaps/projectSourceMaps.spec.tsx
  static/app/views/settings/projectSourceMaps/projectSourceMaps.tsx
  static/app/views/settings/projectSourceMaps/sourceMapsDetails.spec.tsx
  static/app/views/settings/projectSourceMaps/sourceMapsDetails.tsx
  static/app/views/settings/projectSourceMaps/sourceMapsList.spec.tsx
  static/app/views/settings/projectSourceMaps/sourceMapsList.tsx
Due: frontend

feat(issues): Combine trace sections, move lower on page (#78887)
  static/app/components/events/interfaces/performance/eventTraceView.spec.tsx
  static/app/components/events/interfaces/performance/eventTraceView.tsx
  static/app/views/issueDetails/groupEventDetails/groupEventDetailsContent.tsx
  static/app/views/issueDetails/streamline/context.tsx
  static/app/views/issueDetails/streamline/eventNavigation.tsx
  static/app/views/issueDetails/traceDataSection.tsx
Due: frontend

feat: prepare to split save_event_transaction queue into 3 (#78868)
  src/sentry/conf/server.py
  src/sentry/utils/celery.py
Due: backend

Revert "feat: prepare to split save_event_transaction queue into 3 (#78868)"
  src/sentry/conf/server.py
  src/sentry/utils/celery.py
Due: backend

chore(billing): Add test coverage to outcomes code. (#78937)
  tests/sentry/utils/test_outcomes.py
Due: none

fix(compact-select): Prevent form submission from search (#78929)
  static/app/components/compactSelect/control.tsx
Due: frontend

feat(wizard-ui): Skip selection if slugs are given (#78892)
  src/sentry/projects/services/project/impl.py
  src/sentry/projects/services/project/service.py
  src/sentry/web/frontend/setup_wizard.py
  tests/sentry/web/frontend/test_setup_wizard.py
Due: backend

feat(issues): Add suspect commit directly to stack trace (#78850)
  static/app/components/events/eventEntries.tsx
  static/app/components/events/eventEntry.tsx
  static/app/components/events/interfaces/exception.tsx
  static/app/components/events/interfaces/threads.spec.tsx
  static/app/components/events/interfaces/threads.tsx
  static/app/components/events/suspectCommits.spec.tsx
  static/app/components/events/suspectCommits.tsx
  static/app/views/discover/table/quickContext/issueContext.spec.tsx
  static/app/views/discover/table/quickContext/issueContext.tsx
  static/app/views/issueDetails/groupEventDetails/groupEventDetailsContent.tsx
  static/app/views/issueDetails/streamline/eventDetails.spec.tsx
  static/app/views/issueDetails/streamline/eventDetails.tsx
Due: frontend

feat(dashboards): Implement `WidgetFrame` Warnings feature (#78867)
  static/app/views/dashboards/widgets/common/tooltipIconTrigger.tsx
  static/app/views/dashboards/widgets/common/warningsList.tsx
  static/app/views/dashboards/widgets/common/widgetFrame.spec.tsx
  static/app/views/dashboards/widgets/common/widgetFrame.stories.tsx
  static/app/views/dashboards/widgets/common/widgetFrame.tsx
Due: frontend

feat(sdk): Upgrade `@sentry` SDKs to v8.34.0-internal.0 (#78935)
  package.json
  yarn.lock
Due: none

ref(grouping): Clean up `event._fingerprint_info` (#78835)
  src/sentry/grouping/api.py
  tests/sentry/grouping/ingest/test_seer.py
  tests/sentry/grouping/snapshots/test_fingerprinting/test_event_hash_variant/fingerprint_exception_type_and_module2.pysnap
  tests/sentry/grouping/snapshots/test_fingerprinting/test_event_hash_variant/fingerprint_exception_type_and_sdk_mismatch.pysnap
  tests/sentry/grouping/snapshots/test_fingerprinting/test_event_hash_variant/fingerprint_no_match.pysnap
  tests/sentry/grouping/test_builtin_fingerprinting.py
Due: backend

ref(mediators): Convert SentryAppInstallation mediators to dataclasses (#78708)
  pyproject.toml
  src/sentry/mediators/__init__.py
  src/sentry/mediators/sentry_app_installations/__init__.py
  src/sentry/mediators/sentry_app_installations/installation_notifier.py
  src/sentry/mediators/sentry_app_installations/updater.py
  src/sentry/sentry_apps/api/endpoints/installation_details.py
  src/sentry/sentry_apps/api/endpoints/sentry_app_details.py
  src/sentry/sentry_apps/installations.py
  src/sentry/sentry_apps/tasks/sentry_apps.py
  tests/sentry/mediators/sentry_app_installations/__init__.py
  tests/sentry/sentry_apps/api/endpoints/test_organization_sentry_app_installation_details.py
  tests/sentry/sentry_apps/tasks/test_sentry_apps.py
  tests/sentry/sentry_apps/test_sentry_app_installation_creator.py
  tests/sentry/sentry_apps/test_sentry_app_installation_notifier.py
Due: backend

feat(integrations): metrics for on-call integration SLOs: Opsgenie (#78660)
  src/sentry/integrations/on_call/metrics.py
  src/sentry/integrations/opsgenie/actions/form.py
  src/sentry/integrations/opsgenie/actions/notification.py
  src/sentry/integrations/opsgenie/client.py
  src/sentry/integrations/opsgenie/integration.py
  src/sentry/integrations/opsgenie/metrics.py
  src/sentry/integrations/opsgenie/spec.py
  src/sentry/integrations/opsgenie/tasks.py
  tests/sentry/integrations/opsgenie/test_client.py
  tests/sentry/integrations/opsgenie/test_integration.py
  tests/sentry/integrations/opsgenie/test_notify_action.py
Due: backend

fix(grouping): Fix template strategy `description` value (#78885)
  src/sentry/grouping/component.py
Due: backend

feat(alerts): add new tsdb functions for new condition (#78866)
  src/sentry/tsdb/base.py
  src/sentry/tsdb/dummy.py
  src/sentry/tsdb/redissnuba.py
  src/sentry/tsdb/snuba.py
Due: backend

feat(dashboards): Add hover effects to `WidgetFrame` (#78834)
  static/app/components/searchQueryBuilder/tokens/deletableToken.tsx
  static/app/utils/theme.tsx
  static/app/views/dashboards/widgetCard/index.tsx
  static/app/views/dashboards/widgets/common/widgetFrame.stories.tsx
  static/app/views/dashboards/widgets/common/widgetFrame.tsx
Due: frontend

ref(wizard-ui): Remove feature flag usage (#78910)
  src/sentry/web/frontend/setup_wizard.py
  tests/sentry/web/frontend/test_setup_wizard.py
Due: backend

feat(dashboards): Use MEP transition feature flag in frontend (#78879)
  static/app/utils/performance/contexts/metricsEnhancedSetting.tsx
  static/app/views/alerts/rules/metric/utils/getMetricDatasetQueryExtras.tsx
Due: frontend

fix(issues): Add padding to stack trace thread (#78888)
  static/app/components/events/interfaces/threads.tsx
Due: frontend

feat(dashboards): Implement `BigNumberWidget` Thresholds feature (#78860)
  static/app/views/dashboards/utils.tsx
  static/app/views/dashboards/widgets/bigNumberWidget/bigNumberWidget.spec.tsx
  static/app/views/dashboards/widgets/bigNumberWidget/bigNumberWidget.stories.tsx
  static/app/views/dashboards/widgets/bigNumberWidget/bigNumberWidget.tsx
  static/app/views/dashboards/widgets/bigNumberWidget/bigNumberWidgetVisualization.tsx
  static/app/views/dashboards/widgets/bigNumberWidget/thresholdsIndicator.tsx
  static/app/views/dashboards/widgets/common/types.tsx
Due: frontend

ref: clean up legacy metrics (#78871)
  src/sentry/tasks/store.py
  tests/sentry/tasks/test_store.py
Due: backend
